<!-- Section Vinyl Fabric Material -->
<div class="vinyl-fabric-material">
    <h2 class="content-header">Choose from Vinyl or Fabric Material</h2>
    <h4 class="header-sub-text">All of our retractable banners—standard, premium, and deluxe allow you to choose between
        two material types, vinyl or fabric.</h4>
    <div class="signs-flex-row-main">
        <div class="signs-flex-row">
            <img class="signs-flex-row-image" src="https://www.signs.com/content/assets/filelibrary/Vinyl-Material@3x-7060.png" alt="circle magnified view of vinyl material for retractable banners" />
            <div class="signs-flex-row-text-container">
                <h4 class="signs-flex-row-text-header">Vinyl</h4>
                <p class="signs-flex-row-text">Our vinyl retractable banners are made from 13 oz. vinyl and are printed with a durable UV ink and have a glossier finish than fabric. This material can be easily cleaned with a damp non-abrasive cloth.</p>
            </div>
        </div>
        <div class="signs-flex-row">
            <img class="signs-flex-row-image" src="https://www.signs.com/content/assets/filelibrary/Fabric-Material@3x-7061.png" alt="circle magnified view of fabric material for retractable banners" />
            <div class="signs-flex-row-text-container">
                <h4 class="signs-flex-row-text-header">Fabric</h4>
                <p class="signs-flex-row-text">Our fabric retractable banners are made from 9 oz. polyester and are printed using a dye-sublimation process. These banners have a matte finish. The material is able to be spot cleaned or machine washed once removed from the stand. See our FAQ below for more details.</p>
            </div>
        </div>
    </div>
</div>

<!-- Section Accessories -->
<div class="section-accessories">
    <h2 class="content-header">Accessories</h2>
    <h4 class="header-sub-text">*Carrying case is included with each retractable banner.</h4>
    <div class="signs-flex-row-main">
        <div class="signs-flex-row">
            <img class="signs-flex-row-image" src="https://www.signs.com/content/assets/filelibrary/Standard-Carrying-Case@3x-7062.png" alt="standard carrying case for standard retractable banners"/>
            <div class="signs-flex-row-text-container">
                <h4 class="signs-flex-row-text-header">Standard Carrying Case</h4>
                <p class="signs-flex-row-text">Our standard retractable banners each come with a compatible padded carrying case. This is the best way to store and protect your banner while traveling or during storage. The standard case is only available for standard banners and isn’t compatible with premium or deluxe retractable banners. Each size has a specifically fitted case and will not fit different sized banners. The optional LED light will not fit in this case.</p>
            </div>
        </div>
        <div class="signs-flex-row">
            <img class="signs-flex-row-image" src="https://www.signs.com/content/assets/filelibrary/Premium-Carrying-Case@3x-7063.png" alt="premium carrying case for premium retractable banners" />
            <div class="signs-flex-row-text-container">
                <h4 class="signs-flex-row-text-header">Premium Carrying Case</h4>
                <p class="signs-flex-row-text">Each of our premium retractable banners includes a compatible padded carrying case. This case is more durable and rigid than the standard or deluxe cases. This provides added protection during travel. The premium case only comes and is compatible with the three  premium retractable banners. Each size has a specifically fitted case and will not fit different sized banners. The optional LED light(s) will fit in this case.</p>
            </div>
        </div>
        <div class="signs-flex-row">
            <img class="signs-flex-row-image" src="https://www.signs.com/content/assets/filelibrary/Deluxe-Carrying-Case@3x-7064.png" alt="deluxe carring case for deluxe retractable banners" />
            <div class="signs-flex-row-text-container">
                <h4 class="signs-flex-row-text-header">Deluxe Carrying Case</h4>
                <p class="signs-flex-row-text">Our deluxe retractable banners include a carrying case for each individual banner. This padded carrying case is perfect for protecting your deluxe banner during storage and when traveling. The deluxe carrying case is only available with deluxe banner purchases and only fits deluxe banners. Each size has a specifically fitted case and will not fit additional sized banners. The optional LED lights will fit in this case.</p>
            </div>
        </div>
        <div class="signs-flex-row">
            <img class="signs-flex-row-image" src="https://www.signs.com/content/assets/filelibrary/LED-Lights@3x-7065.png" alt="led light with cord option for retractable banners" />
            <div class="signs-flex-row-text-container">
                <h4 class="signs-flex-row-text-header">LED Light(s)</h4>
                <p class="signs-flex-row-text">When ordering your retractable banner you’ll have the option to add an LED Light(s) to your order. This light easily attaches to the top of your retractable banner to provide lighting on your graphic.</p>
                <br>
                <p class="signs-flex-row-text">*48”x92” Premium, 60"x92" Premium, and 33”x81” Deluxe Retractable Banners offer 2 LED Lights only.</p>
            </div>
        </div>
    </div>
</div>