<!-- Return Policy Section -->
<div class="faqmain">
    <ul class="signs-faq-seed">
        <li></li>
        <li>While we do everything in our power to make your order the epitome of perfection, sometimes things go awry. We're committed to making your experience with Signs.com so fabulous that you'll want to come back for more and bring your friends along too. As such, we've created the most generous return policy in the industry.</li>
        <li>Step 1: Let Us Know</li>
        <li>If you find there is a problem with your order once it arrives, let us know immediately (within 30 business days of delivery) by calling customer support at 1-888-222-4929 or by filling out our contact form with your order number. You can find your order number on the order confirmation email or by logging into your account on Signs.com and viewing your "Order History".</li>
        <li>Step 2: The Fix</li>
        <li>If the mistake is something we messed up, we'll get your order reprinted and shipped out to you at no cost and within our standard production time.<br />
            <br /> If it was a mistake on your end, we'll ask you to create a return label & ship the product back to us. Please include the original packing slip in your return. You can ship it back using whatever carrier you prefer. Once we get it, we'll refund 50% of the order subtotal. We must receive your order within 30 days of your original contact with our customer service team about the issue.<br />
            <br /> Please address your shipment to:
            <br /> Signs.com Returns - {YOUR ORDER NUMBER}
            <br /> 1550 S. Gladiola St
            <br /> Salt Lake City, UT
            <br /> 84104
            <br />
            <br />
        </li>
        <li>Damage from Shipping:</li>
        <li>Signs.com uses FedEx for all our shipping. If your order arrives damaged, we'll work with FedEx and in the meantime, we'll reprint and send out your new product within the standard production time.</li>
        <li>Exclusions</li>
        <li>Any issues that happen after you successfully receive the sign including installation or additional modifications are not covered under our return policy.</li>
        <li>Return &amp; Refund:</li>
        <li>If you are simply looking to return your product and do not wish to have it replaced, we'll ask you to create a return label & ship the product back to us within 30 business days of delivery. You can ship it back using whatever carrier you prefer. Once we get it, we'll refund you <strong>50% of the order subtotal</strong>. The refund will go to the original form of payment within 2-5 business days.</li>
    </ul>
</div>