<!-- Section Hero -->
<section class="section-hero section-hero-full">
    <div class="standard-container">
        <div class="img-wrap">
            <img src="https://www.signs.com/content/assets/filelibrary/BioLive-Pharmaceutical-hero-image-11210.jpg" alt="BioLive Pharmaceutical" />
        </div>
    </div>
</section>

<!-- Product Section -->
<h2 class="welcome-message">Welcome to the Demo Signage Portal!</h2>
<div class="product-wrap">
    <div class="product-wrap-item">
        <div class="newSubPage_sectionHeader">
            <a id="standard-aluminum">
                <h2 class="product-header" style="text-align: center;">Standard Aluminum</h2>
            </a>
        </div>
        <div class="flex-container">
            <div class="product-container">
                <a href="https://www.signs.com/design/?id=d0512eb2-9ea3-42b7-8587-8a12c92c3b95">
                    <img src="https://www.signs.com/content/assets/filelibrary/aluminum-mock-up-9789.jpg" alt="aluminum mock up">
                </a>
                <h2>Aluminum</h2>
                <p class="product-details">18"x12"</p>
                <div class="product-button">
                    <a class="product-btn" href="https://www.signs.com/design/?id=d0512eb2-9ea3-42b7-8587-8a12c92c3b95">Customize</a>
                </div>
            </div>
        </div>
        <div class="flex-container">
            <div class="product-container">
                <a href="/design/?id=2b7b9217-fe3b-4792-a5e2-f4fe3cb6cb82">
                    <img src="https://www.signs.com/content/assets/filelibrary/aluminum-mock-up-check-in-11213.jpg" alt="Aluminum Mock Up Check-in">
                </a>
                <h2> Aluminum Sign</h2>
                <p class="product-details">18" W x 12" H</p>
                <div class="product-button">
                    <a class="product-btn" href="/design/?id=2b7b9217-fe3b-4792-a5e2-f4fe3cb6cb82">Customize</a>
                </div>
            </div>
        </div>
        <div class="flex-container">
            <div class="product-container">
                <a href="/design/?id=ff21a357-330c-40a3-91b3-b219bc1ccc91">
                    <img src="https://www.signs.com/content/assets/filelibrary/aluminum-mock-up-welcome-web-11212.jpg" alt="Aluminum Mock Up Welcome">
                </a>
                <h2>Aluminum Sign</h2>
                <p class="product-details">18" W x 12" H</p>
                <div class="product-button">
                    <a class="product-btn" href="/design/?id=ff21a357-330c-40a3-91b3-b219bc1ccc91">Customize</a>
                </div>
            </div>
        </div>
    </div>
    <div class="product-wrap-item">
        <div class="newSubPage_sectionHeader">
            <a id="custom-flag">
                <h2 class="product-header" style="text-align: center;">Custom Flag</h2>
            </a>
        </div>
        <div class="flex-container">

            <div class="product-container">
                <a href="https://www.signs.com/design/?id=a5200f1e-2b8d-434c-9bab-cfcc3f16ee7e">
                    <img src="https://www.signs.com/content/assets/filelibrary/Flag-mock-up-9795.jpg" alt="Flag mock up">
                </a>
                <h2>Flag</h2>
                <p class="product-details">60"x30"</p>
                <div class="product-button">
                    <a class="product-btn" href="https://www.signs.com/design/?id=a5200f1e-2b8d-434c-9bab-cfcc3f16ee7e">Customize</a>
                </div>
            </div>
        </div>
    </div>
    <div class="product-wrap-item product-wrap-item-feather-flag">
        <div class="newSubPage_sectionHeader">
            <a id="feather-flag">
                <h2 class="product-header" style="text-align: center;">Feather Flag</h2>
            </a>
        </div>
        <div class="flex-container">
            <div class="product-container">
                <a class="custom-size-md" href="https://www.signs.com/design/?id=e941a80a-2d39-4995-b895-a7218d049bef">
                    <img src="https://www.signs.com/content/assets/filelibrary/Feather-Flag-mock-up-Med-Double-sided-9794.jpg" alt="Feather Flag mock-up Med Double sided">
                </a>
                <h2>Feather Flag</h2>
                <p class="product-details">25.5"x105"</p>
                <div class="product-button">
                    <a class="product-btn" href="https://www.signs.com/design/?id=e941a80a-2d39-4995-b895-a7218d049bef">Customize</a>
                </div>
            </div>
        </div>
        <div class="flex-container">
            <div class="product-container">
                <a class="custom-size-md" href="/design/?id=0137ac2f-56cc-4cf5-9fed-bf67647c6d41">
                    <img src="https://www.signs.com/content/assets/filelibrary/Feather-Flag-mock-up-Med-Double-sided-resize-11215.jpg" alt="Feather Flag mock-up Med Double-sided">
                </a>
                <h2>Feather Flag Medium</h2>
                <p class="product-details">(25.5"x105.5")</p>
                <div class="product-button">
                    <a class="product-btn" href="/design/?id=0137ac2f-56cc-4cf5-9fed-bf67647c6d41">Customize</a>
                </div>
            </div>
        </div>
    </div>
    <div class="product-wrap-item product-wrap-item-banner">
        <div class="newSubPage_sectionHeader">
            <a id="banners">
                <h2 class="product-header" style="text-align: center;">Banner</h2>
            </a>
        </div>
        <div class="flex-container">
            <div class="product-container">
                <a href="https://www.signs.com/design/?id=9a8a748f-d20e-4ffe-a805-97c4b72de388">
                    <img src="https://www.signs.com/content/assets/filelibrary/banner-with-pole-pockets-9790.jpg" alt="banner with pole pockets">
                </a>
                <h2>Banner</h2>
                <p class="product-details">72"x36"</p>
                <div class="product-button">
                    <a class="product-btn" href="https://www.signs.com/design/?id=9a8a748f-d20e-4ffe-a805-97c4b72de388">Customize</a>
                </div>
            </div>
        </div>
        <div class="flex-container">
            <div class="product-container">
                <a href="/design/?id=370526f1-4df0-498c-86da-0fe39287f458">
                    <img src="https://www.signs.com/content/assets/filelibrary/Banner-Mock-Up-grommets-72x24-op-11312.jpg" alt="Banner Mock-Up grommets_72x24">
                </a>
                <h2>Banner</h2>
                <p class="product-details">72" W x 24" H</p>
                <div class="product-button">
                    <a class="product-btn" href="/design/?id=370526f1-4df0-498c-86da-0fe39287f458">Customize</a>
                </div>
            </div>
        </div>
        <div class="flex-container">
            <div class="product-container">
                <a href="/design/?id=dc3f32c7-dc81-4e56-a2f0-c9233c007ee3">
                    <img src="https://www.signs.com/content/assets/filelibrary/Banner-Mock-Up-grommets-72x24-op-11312.jpg" alt="Banner Mock-Up grommets 72x24">
                </a>
                <h2>Banner</h2>
                <p class="product-details">72" W x 24" H</p>
                <div class="product-button">
                    <a class="product-btn" href="/design/?id=dc3f32c7-dc81-4e56-a2f0-c9233c007ee3">Customize</a>
                </div>
            </div>
        </div>
    </div>
    <div class="product-wrap-item">
        <div class="newSubPage_sectionHeader">
            <a id="yard-sign">
                <h2 class="product-header" style="text-align: center;">Yard Sign</h2>
            </a>
        </div>
        <div class="flex-container">
            <div class="product-container">
                <a href="https://www.signs.com/design/?id=fd814988-924d-4d59-809b-660cca06b21c">
                    <img src="https://www.signs.com/content/assets/filelibrary/Yard-Sign-mock-up-9800.jpg" alt="Yard Sign mock-up">
                </a>
                <h2>Yard Sign</h2>
                <p class="product-details">24"x18"</p>
                <div class="product-button">
                    <a class="product-btn" href="https://www.signs.com/design/?id=fd814988-924d-4d59-809b-660cca06b21c">Customize</a>
                </div>
            </div>
        </div>
        <div class="flex-container">
            <div class="product-container">
                <a href="/design/?id=c7d521f6-a60c-4ac9-bd7f-f75885c4a6b7">
                    <img src="https://www.signs.com/content/assets/filelibrary/Yard-Sign-mock-up-earn-money-resize-11220.jpg" alt="Yard Sign mock-up earn money">
                </a>
                <h2>Yard Sign</h2>
                <p class="product-details">24" W x 18" H</p>
                <div class="product-button">
                    <a class="product-btn" href="/design/?id=c7d521f6-a60c-4ac9-bd7f-f75885c4a6b7">Customize</a>
                </div>
            </div>
        </div>
        <div class="flex-container">
            <div class="product-container">
                <a href="/design/?id=c07fa883-da23-4162-81e2-9c631a630590">
                    <img src="https://www.signs.com/content/assets/filelibrary/Yard-Sign-mock-up-now-hiring-11221.jpg" alt="Yard Sign mock-up now hiring">
                </a>
                <h2>Yard Sign</h2>
                <p class="product-details">24" W x 18" H</p>
                <div class="product-button">
                    <a class="product-btn" href="/design/?id=c07fa883-da23-4162-81e2-9c631a630590">Customize</a>
                </div>
            </div>
        </div>
    </div>
    <div class="product-wrap-item">
        <div class="newSubPage_sectionHeader">
            <a id="business-card">
                <h2 class="product-header" style="text-align: center;">Business Card</h2>
            </a>
        </div>
        <div class="flex-container">
            <div class="product-container">
                <a href="https://www.signs.com/design/?id=a7bb25d9-4cc2-46a9-b35e-fdee2b511d77">
                    <img src="https://www.signs.com/content/assets/filelibrary/business-cards-9791.jpg" alt="business cards">
                </a>
                <h2>Business Card</h2>
                <p class="product-details">3"x2"</p>
                <div class="product-button">
                    <a class="product-btn" href="https://www.signs.com/design/?id=a7bb25d9-4cc2-46a9-b35e-fdee2b511d77">Customize</a>
                </div>
            </div>
        </div>
        <div class="flex-container">
            <div class="product-container">
                <a href="">
                    <img src="https://www.signs.com/content/assets/filelibrary/business-cards-pharmacist-resize-11298.jpg" alt="business cards pharmacist">
                </a>
                <h2>Business Card</h2>
                <p class="product-details">3"x2"</p>
                <div class="product-button">
                    <a class="product-btn" href="">Customize</a>
                </div>
            </div>
        </div>
    </div>
    <div class="product-wrap-item">
        <div class="newSubPage_sectionHeader">
            <a class="custom-size-sm" id="retractable-banner">
                <h2 class="product-header" style="text-align: center;">Retractable banner</h2>
            </a>
        </div>
        <div class="flex-container">

            <div class="product-container">
                <a class="custom-size-sm" href="https://www.signs.com/design/?id=a7bb25d9-4cc2-46a9-b35e-fdee2b511d77">
                    <img src="https://www.signs.com/content/assets/filelibrary/PremiumRetractable---mock-up-9797.jpg" alt="Premium Retractable mock-up">
                </a>
                <h2>Retractable</h2>
                <p class="product-details">36"x92"</p>
                <div class="product-button">
                    <a class="product-btn" href="https://www.signs.com/design/?id=a7bb25d9-4cc2-46a9-b35e-fdee2b511d77">Customize</a>
                </div>
            </div>
        </div>
    </div>
    <div class="product-wrap-item">
        <div class="newSubPage_sectionHeader">
            <a id="acrylic">
                <h2 class="product-header" style="text-align: center;">Acrylic</h2>
            </a>
        </div>
        <div class="flex-container">

            <div class="product-container">
                <a href="https://www.signs.com/design/?id=00089245-09cf-4aea-843d-7dd6708d58bb">
                    <img src="https://www.signs.com/content/assets/filelibrary/Acrylic-mock-up-9788.jpg" alt="Acrylic mock up">
                </a>
                <h2>Acrylic</h2>
                <p class="product-details">36"x18"</p>
                <div class="product-button">
                    <a class="product-btn" href="https://www.signs.com/design/?id=00089245-09cf-4aea-843d-7dd6708d58bb">Customize</a>
                </div>
            </div>
        </div>
    </div>
    <div class="product-wrap-item">
        <div class="newSubPage_sectionHeader">
            <a id="window-decals">
                <h2 class="product-header" style="text-align: center;">Window Decals</h2>
            </a>
        </div>
        <div class="flex-container">
            <div class="product-container">
                <a href="https://www.signs.com/design/?id=00089245-09cf-4aea-843d-7dd6708d58bb">
                    <img src="https://www.signs.com/content/assets/filelibrary/clear-window-decal-mock-2-01-9792.jpg" alt="clear window decal mock 2 01">
                </a>
                <h2>Window Decal</h2>
                <p class="product-details">24"x24"</p>
                <div class="product-button">
                    <a class="product-btn" href="https://www.signs.com/design/?id=00089245-09cf-4aea-843d-7dd6708d58bb">Customize</a>
                </div>
            </div>
        </div>
    </div>
    <div class="product-wrap-item product-wrap-item-floor-decals">
        <div class="newSubPage_sectionHeader">
            <a id="floor-decals">
                <h2 class="product-header" style="text-align: center;">Floor Decals</h2>
            </a>
        </div>
        <div class="flex-container">
            <div class="product-container">
                <a href="/design/?id=5c6982ac-d5ee-4925-80a9-b23347163a8e">
                    <img src="https://www.signs.com/content/assets/filelibrary/Carpet-Sticker-Mock-Up-break-room-resize-11299.jpg" alt="Carpet Sticker Mock up break room">
                </a>
                <h2>Floor Decal</h2>
                <p class="product-details">10" W x 10" H</p>
                <div class="product-button">
                    <a class="product-btn" href="/design/?id=5c6982ac-d5ee-4925-80a9-b23347163a8e">Customize</a>
                </div>
            </div>
        </div>
        <div class="flex-container">
            <div class="product-container">
                <a href="/design/?id=edbbf331-bb8a-4cb5-b61e-fd3a93e6ca8d">
                    <img src="https://www.signs.com/content/assets/filelibrary/Carpet-Sticker-Mock-Up-floor-1-resize-11301.jpg" alt="Carpet Sticker Mock up floor">
                </a>
                <h2>Floor Decal</h2>
                <p class="product-details">10" W x 10" H</p>
                <div class="product-button">
                    <a class="product-btn" href="/design/?id=edbbf331-bb8a-4cb5-b61e-fd3a93e6ca8d">Customize</a>
                </div>
            </div>
        </div>
        <div class="flex-container">
            <div class="product-container">
                <a href="/design/?id=cf05efa7-2a30-411a-af13-fb359575be04">
                    <img src="https://www.signs.com/content/assets/filelibrary/Carpet-Sticker-Mock-Up-web-resize-11307.jpg" alt="Carpet Sticker Mock-up">
                </a>
                <h2>Floor Decal</h2>
                <p class="product-details">10" W x 10" H</p>
                <div class="product-button">
                    <a class="product-btn" href="/design/?id=cf05efa7-2a30-411a-af13-fb359575be04">Customize</a>
                </div>
            </div>
        </div>
        <div class="flex-container">
            <div class="product-container">
                <a href="/design/?id=f9e16c33-3cb2-498e-ae51-789965fc640f">
                    <img src="https://www.signs.com/content/assets/filelibrary/Carpet-Sticker-Mock-Up-lab-a-web-resize-11302.jpg" alt="Carpet Sticker Mock up Lab A">
                </a>
                <h2>Floor Decal</h2>
                <p class="product-details">10" W x 10" H</p>
                <div class="product-button">
                    <a class="product-btn" href="/design/?id=f9e16c33-3cb2-498e-ae51-789965fc640f">Customize</a>
                </div>
            </div>
        </div>
        <div class="flex-container">
            <div class="product-container">
                <a href="/design/?id=cc084435-f5b0-407a-9515-1d194c44fbee">
                    <img src="https://www.signs.com/content/assets/filelibrary/Carpet-Sticker-Mock-Up-lab-b-resize-11303.jpg" alt="Carpet Sticker Mock-up Lab B">
                </a>
                <h2>Floor Decal</h2>
                <p class="product-details">10" W x 10" H</p>
                <div class="product-button">
                    <a class="product-btn" href="/design/?id=cc084435-f5b0-407a-9515-1d194c44fbee">Customize</a>
                </div>
            </div>
        </div>
        <div class="flex-container">
            <div class="product-container">
                <a href="/design/?id=4d330aed-750d-4cbf-845c-1a42cff709d5">
                    <img src="https://www.signs.com/content/assets/filelibrary/Carpet-Sticker-Mock-Up-scrub-zone-resize-11304.jpg" alt="Carpet Sticker Mock-up Scrub Zone">
                </a>
                <h2>Floor Decal</h2>
                <p class="product-details">10" W x 10" H</p>
                <div class="product-button">
                    <a class="product-btn" href="/design/?id=4d330aed-750d-4cbf-845c-1a42cff709d5">Customize</a>
                </div>
            </div>
        </div>
        <div class="flex-container">
            <div class="product-container">
                <a href="/design/?id=af122a6f-3979-4779-b1a5-8a6b88a4243d">
                    <img src="https://www.signs.com/content/assets/filelibrary/Carpet-Sticker-Mock-Up-sterile-area-resize-11305.jpg" alt="Carpet Sticker Mock-up Sterile Area">
                </a>
                <h2>Floor Decal</h2>
                <p class="product-details">10" W x 10" H</p>
                <div class="product-button">
                    <a class="product-btn" href="/design/?id=af122a6f-3979-4779-b1a5-8a6b88a4243d">Customize</a>
                </div>
            </div>
        </div>
    </div>
    <div class="product-wrap-item">
        <div class="newSubPage_sectionHeader">
            <a id="poster">
                <h2 class="product-header" style="text-align: center;">Poster</h2>
            </a>
        </div>
        <div class="flex-container">
            <div class="product-container">
                <a href="https://www.signs.com/design/?id=99395e2f-3b86-4ca7-9390-032b569b2d99" class="custom-size-md">
                    <img src="https://www.signs.com/content/assets/filelibrary/Poster-mock-up-9801.jpg" alt="Poster mock-up">
                </a>
                <h2>Poster</h2>
                <p class="product-details">22"x28"</p>
                <div class="product-button">
                    <a class="product-btn" href="https://www.signs.com/design/?id=99395e2f-3b86-4ca7-9390-032b569b2d99">Customize</a>
                </div>
            </div>
        </div>
        <div class="flex-container">
            <div class="product-container">
                <a href="/design/?id=ed5d8cc5-e740-4187-a83b-5c8fc221538b" class="custom-size-md">
                    <img src="https://www.signs.com/content/assets/filelibrary/Poster-mock-up-earn-money-co-op-11314.jpg" alt="Poster mock-up earn money co">
                </a>
                <h2>Poster</h2>
                <p class="product-details">11" W x 17" H</p>
                <div class="product-button">
                    <a class="product-btn" href="/design/?id=ed5d8cc5-e740-4187-a83b-5c8fc221538b">Customize</a>
                </div>
            </div>
        </div>
    </div>
    <div class="product-wrap-item">
        <div class="newSubPage_sectionHeader">
            <a id="vinyl-lettering">
                <h2 class="product-header" style="text-align: center;">Vinyl Lettering</h2>
            </a>
        </div>
        <div class="flex-container">
            <div class="product-container">
                <a href="https://www.signs.com/design/?id=041642d8-75db-451d-8612-27c51225738b">
                    <img src="https://www.signs.com/content/assets/filelibrary/vinyl-mock-02-9799.jpg" alt="Vinyl mock 02">
                </a>
                <h2>Vinyl Lettering</h2>
                <p class="product-details">18"x18"</p>
                <div class="product-button">
                    <a class="product-btn" href="https://www.signs.com/design/?id=041642d8-75db-451d-8612-27c51225738b">Customize</a>
                </div>
            </div>
        </div>
        <div class="flex-container">
            <div class="product-container">
                <a href="/design/?id=318597d8-3f9f-4ce9-a8b4-686cb4bf7ec2">
                    <img src="https://www.signs.com/content/assets/filelibrary/vinyl-mock-main-entrance-web-11310.png" alt="Vinyl Mock Main Entrance">
                </a>
                <h2>Vinyl Lettering</h2>
                <p class="product-details">18"x18"</p>
                <div class="product-button">
                    <a class="product-btn" href="">Customize</a>
                </div>
            </div>
        </div>
    </div>
    <div class="product-wrap-item">
        <div class="newSubPage_sectionHeader">
            <a id="platic">
                <h2 class="product-header" style="text-align: center;">Plastic</h2>
            </a>
        </div>
        <div class="flex-container">

            <div class="product-container">
                <a href="https://www.signs.com/design/?id=e478a5f0-b331-428d-9be7-e2bfe4432ad7" class="custom-size-md">
                    <img src="https://www.signs.com/content/assets/filelibrary/Plastic-mock-up-22x28-9796.jpg" alt="Plastic mock-up">
                </a>
                <h2>Plastic</h2>
                <p class="product-details">22"x28"</p>
                <div class="product-button">
                    <a class="product-btn" href="https://www.signs.com/design/?id=e478a5f0-b331-428d-9be7-e2bfe4432ad7">Customize</a>
                </div>
            </div>
        </div>
        <div class="flex-container">
            <div class="product-container">
                <a href="/design/?id=6b2b38ab-ca53-412d-99ac-d963144204ae" class="custom-size-md">
                    <img src="https://www.signs.com/content/assets/filelibrary/Plastic-mock-up-check-in-22x28-op-11313.jpg" alt="Plastic mock-up check-in 22x28">
                </a>
                <h2>Plastic Sign</h2>
                <p class="product-details">22"x28"</p>
                <div class="product-button">
                    <a class="product-btn" href="/design/?id=6b2b38ab-ca53-412d-99ac-d963144204ae">Customize</a>
                </div>
            </div>
        </div>
    </div>

</div>