.section-hero-full {
}

    .section-hero-full .standard-container {
        max-width: initial;
        padding: 0;
    }

    .section-hero-full .img-wrap {
        width: 100%;
        font-size: 0;
    }

        .section-hero-full .img-wrap img {
            width: 100%;
        }

.nav {
    display: flex;
    background: #FB6203;
    font-size: 1.1em;
    width: 100%;
    justify-content: space-around;
    margin-top: -5px;
    flex-wrap: wrap;
}

.nav-list > .nav-item {
    width: calc(100% / 4);
    box-sizing: border-box;
}

.nav-item a {
    color: #fff;
}

.nav-item {
    padding: 20px 40px;
}

    .nav-item:hover {
        background: #b74701;
    }

.nav-list {
    display: flex;
    background: #FB6203;
    font-size: 1.1em;
    width: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: center;
}

.section-image img {
    width: 100%;
    height: auto;
}

h2 {
    font-family: 'proxima nova', sans-serif;
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: normal;
    text-align: center;
}

.welcome-message {
    display: flex;
    justify-content: center;
    margin: 2% 5% 1%;
    font-size: 2.3em;
    text-align: center;
}

.welcome-sub-message {
    display: flex;
    justify-content: center;
    margin: 0px 5%;
    font-size: 1.3em;
    text-align: center;
}

.newSubPage_sectionHeader > a {
    display: block;
}

#feather-flag {
    margin-bottom: 30px;
}

.product-header {
    font-weight: 600;
    font-size: 1em;
    padding: 0% 7%;
    text-align: left;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    margin: 0px;
    padding: 0%;
    justify-content: space-around;
    align-items: stretch;
}

.product-container img {
    max-width: 100%;
    width: auto;
    max-height: 200px;
}

.product-image {
    max-width: 320px;
}

.product-container a:hover img {
}

.product-container h2 {
    line-height: 1;
}

.product-description {
    text-align: center;
    font-family: 'proxima nova', sans-serif;
    font-size: 15px;
    padding-bottom: 10px;
}

.product-details {
    font-size: 24px;
    color: #333;
    font-weight: 500;
    line-height: 1;
    margin-bottom: 15px;
}

.product-price {
    font-size: 1.3em;
    color: #056eb7;
    padding-bottom: 10px;
}

.product-button {
    display: flex;
    flex-direction: row;
    margin-top: auto;
}

    .product-button a {
        text-decoration: none;
        color: #fff;
    }

.product-btn {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #FB6203, #b74701);
    background-image: -moz-linear-gradient(top, #FB6203, #b74701);
    background-image: -ms-linear-gradient(top, #FB6203, #b74701);
    background-image: -o-linear-gradient(top, #FB6203, #b74701);
    background-image: linear-gradient(to bottom, #FB6203, #b74701);
    -webkit-border-radius: 5;
    -moz-border-radius: 5;
    border-radius: 5px;
    color: #ffffff;
    font-size: 16px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    font-family: 'proxima nova', sans-serif;
}

    .product-btn:hover {
        background: #3cb0fd;
        background-image: -webkit-linear-gradient(top, #b74701, #b74701);
        background-image: -moz-linear-gradient(top, #b74701, #b74701);
        background-image: -ms-linear-gradient(top, #b74701, #b74701);
        background-image: -o-linear-gradient(top, #b74701, #b74701);
        background-image: linear-gradient(to bottom, #b74701, #b74701);
        text-decoration: none;
    }

/****************************************************/
/****************************************************/
/****************************************************/
/****************************************************/
/******* COPY ALL CODE BELOW FOR NEW NAVBAR *********/

#hamburger-button-portal {
    visibility: hidden;
    display: none;
}

    #hamburger-button-portal.active {
        color: white;
        background-color: #ec7275;
    }

    #hamburger-button-portal:focus {
        outline: 0;
    }

.prod-two-img {
    font-size: 0;
}

    .prod-two-img > img {
        width: calc(100% / 2);
    }

.product-container > a {
    position: relative;
    min-height: 220px;
    width: 360px;
    text-align: center;
    height: 249px;
}

.product-container > .custom-size-md {
    width: 330px;
    height: 330px;
}

.product-container > .custom-size-sm {
    width: 321px;
    height: 370px;
}

.product-container > a > img {
    position: absolute;
    left: 0;
    right: 0;
    display: block;
    top: 50%;
    transform: translate(0, -50%);
    margin: 0 auto;
    max-width: 100%;
    max-height: 100%;
}

.prod-two-img > img:first-child {
    margin-right: auto;
    left: 0;
    right: initial;
}

.prod-two-img > img:last-child {
    margin-left: auto;
    left: inherit;
    right: 0;
}

.product-container .img-distance > img {
    width: calc(97% / 2);
}

.flex-container {
    display: inline-flex;
    margin: 0 auto;
}



    .flex-container.child-2 > * {
        width: calc(100% / 2);
    }

    .flex-container.child-3 > * {
    }

    .flex-container.child-4 > * {
    }

    .flex-container.child-5 > * {
        width: calc(100% / 5);
    }

.product-wrap {
    text-align: center;
}

.product-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    padding: 20px 20px 75px;
    flex: 0 0 100%;
}

@media (max-width: 1600px) {
    .product-wrap-item-floor-decals .flex-container {
        max-width: 350px;
    }
}

@media (max-width: 1366px) {
    .product-wrap-item-floor-decals .flex-container {
        max-width: 305px;
    }
}

@media (max-width: 1199px) {
    .flex-container.child-5 > .product-container, .flex-container.child-2 > .product-container {
        width: calc(100% / 3);
    }
}

@media (max-width: 800px) {
    .standardWidth {
        margin-top: 75px;
    }

    .nav-list {
        display: block;
        position: relative;
        background: #e22126;
        justify-content: center;
        flex-wrap: wrap;
        height: 0;
        visibility: hidden;
    }

        .nav-list.active {
            /* top: 345px; */
            height: inherit;
            visibility: visible;
        }

    .nav-item {
        border-top: 1px solid #f77575;
    }

    #hamburger-button-portal {
        visibility: visible;
        font-size: 20px;
        height: 40px;
        color: white;
        width: 150px;
        background-color: #e22126;
        border: 1px solid white;
        border-radius: 5px;
        margin: 10px;
        display: initial;
    }

    .product-container {
        padding: 20px 0px 75px 0px;
    }

    .nav-list > .nav-item {
        width: 100%;
    }

    /* Feather Flag */
    .product-wrap-item-feather-flag .flex-container {
        display: flex;
    }

    .product-wrap-item-feather-flag .product-container > a {
        width: auto;
        height: 310px;
        margin-bottom: 20px;
    }

        .product-wrap-item-feather-flag .product-container > a img {
            object-fit: cover;
            transform: initial;
            height: 100%;
        }
}

@media (max-width: 767px) {
    .flex-container.child-5 > .product-container, .flex-container.child-2 > .product-container {
        width: calc(100%);
    }

    .prod-two-img > img {
        position: static !important;
    }

    .product-container > a {
        height: auto;
        min-height: initial;
        max-height: initial;
        display: block;
    }

        .product-container > a > img {
            position: static !important;
            transform: translate(0, 0);
            max-height: initial;
        }

    .flex-container.child-5 > .product-container {
        max-height: initial;
    }

    .product-container {
        max-height: initial;
        padding-left: 20px;
        padding-right: 20px;
    }

    .flex-container.child-2.flex-container-home-safe .product-container > a {
        max-width: 175px;
    }
}

@media (max-width: 575px) {
    .welcome-message {
        margin-top: 35px;
    }

    .product-container {
        padding-bottom: 20px;
    }
}

@media (max-width: 414px) {
    .standardWidth {
        margin-top: 85px;
    }

    .welcome-message {
        margin-top: 25px;
        font-size: 9vw;
    }

    .product-header {
        font-size: 9vw;
    }

    .product-container > .custom-size-sm {
        max-width: 170px;
        height: auto;
    }

    .product-container > .custom-size-md {
        max-width: 280px;
        height: auto;
    }

    .product-container > a {
        width: 100%;
        height: auto;
    }
}

@media (max-width: 375px) {
    .welcome-message {
    }
}

@media (max-width: 360px) {
    .welcome-message {
    }
}

@media (min-width: 320px) {
    .section-hero .img-wrap {
        height: 101px;
    }

        .section-hero .img-wrap img {
            object-fit: cover;
            height: 100%;
            object-position: -35px 0;
        }
}

@media (min-width: 360px) {
    .section-hero .img-wrap {
        height: 115px;
    }

        .section-hero .img-wrap img {
            object-position: -41px 0;
        }
}

@media (min-width: 375px) {
    .section-hero .img-wrap {
        height: 120px;
    }

        .section-hero .img-wrap img {
            object-position: -44px 0;
        }
}

@media (min-width: 411px) {
    .section-hero .img-wrap {
        height: 130px;
    }

        .section-hero .img-wrap img {
            object-position: -45px 0;
        }
}

@media (min-width: 600px) {
    .section-hero .img-wrap {
        height: 185px;
    }

        .section-hero .img-wrap img {
            object-position: -58px 0;
        }
}

@media (min-width: 768px) {
    .section-hero .img-wrap {
        height: 236px;
    }

        .section-hero .img-wrap img {
            object-position: -70px 0;
        }
}

@media (min-width: 800px) {
    .section-hero .img-wrap {
        height: 245px;
    }

        .section-hero .img-wrap img {
            object-position: calc(51%) center;
        }
}

@media (min-width: 1280px) {
    .section-hero .img-wrap {
        height: 295px;
    }

        .section-hero .img-wrap img {
            object-position: calc(51%) center;
        }
}

@media (min-width: 1440px) {
    .section-hero .img-wrap {
        height: 330px;
    }

        .section-hero .img-wrap img {
            object-position: calc(51%) center;
        }
}

@media (min-width: 1680px) {
    .section-hero .img-wrap {
        height: 370px;
    }

        .section-hero .img-wrap img {
            object-position: calc(51%) center;
        }
}

@media (max-width: 1280px) {
    .flex-container {
        max-width: 405px;
    }

        .flex-container h2 {
            font-size: 27px;
        }
}
