<div id="shoppersReviews">
    <div class="shopper-approved-container">
        <div class="aggregateRating-container">
            <div style="display: flex; justify-content: center;">
                <div class="shopperapproved_widget sa_rotate sa_vertical sa_count1 sa_rounded sa_colorBlack sa_bgWhite sa_borderWhite sa_flex sa_nodate" style="min-height: 100px; overflow: hidden;">&nbsp;</div>
                <script type="text/javascript">// <![CDATA[
                var sa_interval = 5000; function saLoadScript(src) { var js = window.document.createElement('script'); js.src = src; js.type = 'text/javascript'; document.getElementsByTagName("head")[0].appendChild(js); } if (typeof (shopper_first) == 'undefined') saLoadScript('//www.shopperapproved.com/widgets/testimonial/3.0/8336.js'); shopper_first = true;
                // ]]></script>
                <div style="text-align: right;"><a class="sa_footer" href="http://www.shopperapproved.com/reviews/signs.com/" target="_blank" rel="nofollow"><img class="sa_widget_footer" style="border: 0;" src="https://www.shopperapproved.com/widgets/widgetfooter-darklogo.png" alt="" /></a></div>
                <div><a href="http://www.shopperapproved.com/reviews/signs.com/" rel="nofollow"> <img style="border: 0;" src="https://c813008.ssl.cf2.rackcdn.com/8336-sm-bottom-medal-black.png" alt="Shopper Award" /></a></div>
            </div>
        </div>
    </div>
</div>