<!-- Product Review Section -->
<script>
  $(".whySigns_js").after(
    "<div class='standard-separator'></div><section class='section-default section-product-reviews'><div class='standard-container'></div></section>"
  );
  $("#product-reviews").appendTo(
    ".section-product-reviews > .standard-container"
  );
  $("#shopper_review_page").appendTo(
    ".section-product-reviews > .standard-container"
  );
</script>
