/* Globals */
h3.resource-header {
  font-size: 1.5rem;
}
.standard-separator {
  height: 1px;
}
.section-default {
  padding: 60px 0;
  text-align: center;
  box-sizing: border-box;
}
.section-default figure {
  margin: 0;
}
.section-default * {
  box-sizing: border-box;
}
.section-default h2 {
  font-size: 30px;
  font-weight: 400;
  /* margin: 0; */
  margin-top: 0;
}
.section-default p {
  font-size: 20px;
  margin-bottom: 30px;
}
.section-default [class*="img-wrap"] img {
  width: 100%;
}

.standard-container {
  max-width: 1673px;
  width: 100%;
  padding: 0 20px;
  box-sizing: border-box;
  margin: 0 auto;
}

/* Section Product Reviews */
.section-product-reviews #review_header {
  display: inline-block;
}
.section-product-reviews #sa_review_section .product_review {
  text-align: left;
}
.section-product-reviews #product_page .paging {
  height: auto;
}
.section-product-reviews #sa_review_paging {
  text-align: left;
  margin-top: 65px;
  height: auto;
}
.section-product-reviews #sa_sort {
  height: 24px;
}
/* Globals */
.section-default {
  padding: 60px 0;
  text-align: center;
  box-sizing: border-box;
}
.section-default figure {
  margin: 0;
}
.section-default * {
  box-sizing: border-box;
}
.section-default h2 {
  font-size: 30px;
  font-weight: 400;
  /* margin: 0; */
  margin-top: 0;
}
.section-default p {
  font-size: 20px;
  margin-bottom: 30px;
}
.section-default [class*="img-wrap"] img {
  width: 100%;
}

.standard-container {
  max-width: 1673px;
  width: 100%;
  padding: 0 20px;
  box-sizing: border-box;
  margin: 0 auto;
}

/* Section Product Reviews */
.section-product-reviews #shopper_review_page {
  position: relative;
}
.section-product-reviews #review_header {
  display: inline-block;
}
.section-product-reviews #sa_review_section .product_review {
  text-align: left;
}
.section-product-reviews #sa_review_paging {
  text-align: left;
  margin-top: 65px;
  height: auto;
}
.section-product-reviews #sa_sort {
  /* height: 24px; */
}
.section-product-reviews #review_image {
  /* height: 0; */
  display: inline-block;
  position: absolute;
  bottom: 0;
  right: 0;
  /* padding-bottom: 13px; */
  padding: 0;
  top: initial;
  height: auto;
  margin-bottom: 21px;
}
.section-product-reviews #sa_review_section {
  min-height: 632.5px !important;
}
.section-product-reviews #review_image > a {
  /* height: auto; */
  display: inline-block;
}
.section-product-reviews #review_image .sa_logo {
  margin: 0;
  float: none;
}
@media (max-width: 1680px) {
  .standard-container {
    max-width: 1495px;
  }
}
@media (max-width: 1600px) {
  .standard-container {
    max-width: 1356px;
  }
}
@media (max-width: 1536px) {
  .standard-container {
    max-width: 1271px;
    max-width: 1370px;
  }
}
@media (max-width: 1440px) {
  .standard-container {
    max-width: 1287px;
  }
}
@media (max-width: 1366px) {
  .standard-container {
    max-width: 1228px;
  }
}
@media (max-width: 1280px) {
  .standard-container {
    max-width: 1156px;
  }
}
@media (max-width: 1024px) {
  .standard-container {
    max-width: 950px;
  }
}
@media (max-width: 768px) {
  .standard-container {
    max-width: 730px;
  }
}
@media (max-width: 600px) {
  .standard-container {
    max-width: 585px;
  }
}
@media (max-width: 575px) {
  .section-default {
    padding: 40px 0;
  }
  /* Section Product Reviews */
  .section-product-reviews #review_image {
    position: static;
  }
  .section-product-reviews #sa_review_paging {
    text-align: center;
  }
  .section-product-reviews #sa_sort {
    height: 24px;
  }
}
@media (max-width: 414px) {
  /* Section Quick Start */
  .sizeInput.qty {
    justify-content: flex-end;
  }
  .sizeInput.qty .size-input-qty {
    margin: 0;
  }
}
