<!-- Real Estate A-Frame Features -->
<section class="section-default section-signs-features">
    <div class="standard-container">
        <h2>Real Estate A-Frame Features</h2>
        <div class="featured-body">
            <div class="featured-img-wrap">
                <img class=" lazyloaded" data-src="https://www.signs.com/content/assets/filelibrary/Pop-Up-Display-Features-web-1005x734-9519.jpg" alt="A-Frame" src="https://www.signs.com/content/assets/filelibrary/A-frame-features-main-14676.jpg">
            </div>
            <ul class="signs-featured-list">
                <li class="signs-featured-item">
                    <h3>Hinge Design</h3>
                    <p>
                        The hinged design allows the frame to fold making setup, storage, and transportation a breeze.
                    </p>
                    <div class="img-wrap"><img class="" data-src="" alt="Hinge" src="https://www.signs.com/content/assets/filelibrary/hinge-14670.png"></div>
                </li>
                <li class="signs-featured-item">
                    <h3>Steel Frame</h3>
                    <p>Real estate a-frames are made of a heavy-duty black steel. The steel is heavy enough to keep it from moving in the wind, but light enough to make it easy to move and transport.</p>
                    <div class="img-wrap"><img class="" data-src="" alt="Steel Frame" src="https://www.signs.com/content/assets/filelibrary/Steel-Frame-14674.png"></div>
                </li>
                <li class="signs-featured-item">
                    <h3>Rider Clamp</h3>
                    <p>The rider clamp makes it easy to attach riders to the top of your a-frame. Simply clamp the rider to the frame using a screw. No holes in the rider necessary. Riders sold separately.</p>

                    <div class="img-wrap"><img class="" data-src="" alt="Clamp" src="https://www.signs.com/content/assets/filelibrary/Clamp-01-14667.png"></div>
                </li>
                <li class="signs-featured-item">
                    <h3>Weatherproof</h3>
                    <p>Rest easy knowing that, outside of inclement weather, both the steel frame and corrugated signs can withstand the conditions!</p>

                    <div class="img-wrap"><img class="" alt="Indoor and Outdoor" src="https://www.signs.com/content/assets/filelibrary/Indoor-and-Outdoor-14671.png"></div>
                </li>

            </ul>
        </div>
    </div>
</section>