
/* ssssssssssssssss */
.section-default p {
    font-weight: 400;
 }

.section-default .ibtn-link, .section-default a:not([href]):not([tabindex]) {
    color: #0097D5;
    font-size: 20px;
    display: inline-block;
    line-height: normal;
}

.section-default .ibtn-link:hover, .section-default a:not([href]):not([tabindex]):hover {
    color: #007fb3;
}

 .section-default .itext-primary {
   color: #0097D5;
 }
 
 .section-default .ibtn-success {
   color: #fff;
   background: #8CC53F;
 }
 
 .section-default .ibtn-success:hover {
   background: #88bf3e;
 }
 /* What are Real Estate A-Frames? */
 .section-real-estate-aframes {
     text-align: left;
 }
 
 .section-real-estate-aframes .standard-container {
     display: flex;
     align-items: center;
 }
 
 .section-real-estate-aframes h2 {
     margin-bottom: 50px;
 }
 
 .section-real-estate-aframes p {
   line-height: 1.3;
 }
 
 
 .section-real-estate-aframes p:last-of-type {
     margin-bottom: 0;
 }
 
 .section-real-estate-aframes .what-are-img-wrap {
     max-width: 775px;
     width: 100%;
     flex: 0 0 auto;
     margin-left: 60px;
 }
 .section-hardware-only h2 {
   margin-bottom: 50px;
 }
 
 .section-hardware-only p {
   max-width: 665px;
   width: 100%;
   margin: 0 auto 60px;
 }
 
 .hardware-item .img-wrap {
   font-size: 0;
   margin-bottom: 50px;
   max-width: 611px;
   margin: 0 auto 50px;
 }
 
 .hardware-item h3 {
   font-size: 26px;
   margin-bottom: 35px;
 }
 
 .hardware-item .ibtn-add-card {
   font-size: 18px;
   font-weight: 300;
   padding: 10px 50px;
   border-radius: 7px;
 }
 
 .section-default .description {
   font-weight: 400;
 }

/* Section Graphic Only */
.section-graphics-only h2 {
    margin-bottom: 50px;
}

.section-graphics-only .description {
    max-width: 1022px;
    margin: 0 auto 50px;
}

.section-graphics-only .graphic-list {display: inline-flex;}

.section-graphics-only .graphic-item {
    max-width: 496px;
    display: inline-flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 0 60px;
}

.section-graphics-only .graphic-item .img-wrap {
   margin-bottom: 45px;
   align-self: flex-start;
}

.section-graphics-only .graphic-content {margin-bottom: 40px;align-self: flex-start;max-width: 335px;}
.section-graphics-only .ibtn-get-start {
    margin-top: auto;
    padding: 6px 40px;
    font-size: 20px;
    font-weight: 300;
    border-radius: 6px;
}

.section-graphics-only .graphic-item h3 {
    font-size: 25px;
    color: #000;
    margin-bottom: 10px;
}

.section-graphics-only .graphic-item p {
    font-size: 20px;
    color: #919396;
    line-height: 1.1;
    font-weight: 400;
    margin-bottom: 0;
}


/* Additional Specs Section */

.section-additional-specs {
    padding: 64px 0;
}

    .section-additional-specs .container {
        margin: 0 auto;
        max-width: 880px;
        text-align: center;
        padding: 0 20px;
    }

    .section-additional-specs h2 {
        text-align: center;
        font-size: 35px;
        margin-bottom: 30px;
    }

.additional-specs-list {
    display: inline-block;
    text-align: left;
}

    .additional-specs-list li {
        display: flex;
        margin-bottom: 20px;
        border-bottom: 2px solid #cfcccc;
        padding-right: 0;
    }

        .additional-specs-list li h3 {
            min-width: 195px;
            font-size: 22px;
            color: #333;
            font-weight: 400;
            margin-right: 60px;
        }

        .additional-specs-list li p {
            font-size: 20px;
            color: #9f9f9f;
            font-weight: 300;
            margin-bottom: 25px;
            width: 100%;
            padding-right: 40px;
        }

.bt-0 {
    border-bottom: 0 !important;
}

.get-started-action-extra {
    display: inline-block;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    border-radius: 5px;
    border: 2px solid #e5e5e5;
    width: 115px;
    height: 57px;
    margin-bottom: 10px;
    justify-content: center;
    align-items: center;
    vertical-align: top;
    text-align: center;
}

.get-started-action-extra img {
    width: 20px;
    flex: 0 0 auto;
    margin-bottom: 2px;
}

.get-started-action-list {
    display: flex;
    justify-content: space-between;
}

.get-started-action-item-need-assistance a {
    display: block;
    font-size: 14px;
    line-height: 1;
    margin-bottom: 5px;
}

.get-started-action-item {
    text-align: left;
    flex: 0 0 auto;
}

.get-started-action-item h3 {
    font-weight: 900;
    font-size: 17px;
    margin-bottom: 5px;
}

.get-started-action-item h3 i {
    margin-right: 5px;
}

.get-started-action-item-get-start .ibtn {
    display: block;
    width: 100%;
    border-radius: 10px;
    font-size: 20px;
    padding: 7px 10px;
}


 @media (max-width: 1680px) {
   .section-real-estate-aframes .what-are-img-wrap {
     max-width: initial;
     width: 38.5%;
     margin-left: 1.8%;
   }
 }
 
 @media (max-width: 1366px) {
   .section-real-estate-aframes h2 {
     margin-bottom: 25px;
   }
   .section-real-estate-aframes p {
     margin-bottom: 16px;
     font-size: 18px;
   }
 }
 
 @media (max-width: 1199px) {
   .section-real-estate-aframes {
   text-align: center;
   }
   .section-real-estate-aframes .what-are-img-wrap {
     width: 100%;
     max-width: 775px;
     margin: 0 auto 20px;
   }
 }
 @media (max-width: 800px) {
     /* Graphic Only */
     .section-graphics-only h2 {margin-bottom: 15px;}
     .section-graphics-only .graphic-list {
         display: block;
     }

     .section-graphics-only .graphic-item {
         max-width: 500px;
         padding: 0;
         margin-bottom: 45px;
     }

     .section-graphics-only .graphic-item .img-wrap {
         margin-bottom: 20px;
     }
     .section-graphics-only .graphic-list > div:first-of-type .img-wrap img {
         object-position: center;
         object-fit: cover;
         height: 106px;
         width: 100%;
         max-width: 375px;
     }

     .section-graphics-only .graphic-list > div:last-of-type {
         margin-bottom: 0;
     }
     .section-graphics-only .description {
         margin-bottom: 0;
     }
     .section-graphics-only .graphic-content {
         max-width: 368px;
         margin-bottom: 20px;
     }
     .section-graphics-only .graphic-content a {
         margin-top: 10px;
     }
     .section-graphics-only .ibtn-get-start {
         padding: 5px 90px;
     }
 }
 @media (max-width: 575px) {
   /* What are Real Estate A-Frames */
   .section-real-estate-aframes .what-are-img-wrap {
     margin: 0 -20px 20px;
     display: inline-block;
     width: 100vw;
   }
   .section-real-estate-aframes h2 {
     font-size: 26px;
   }
   /*  */
   .section-hardware-only h2 {
     margin-bottom: 20px;
   }
   .section-default .description {
     margin-bottom: 20px;
   }
   .hardware-item .img-wrap {
     margin-bottom: 20px;
   }
   .hardware-item h3 {
     margin-bottom: 15px;
   }
   .hardware-item .ibtn-add-card {
     padding: 5px 80px;
   }
 }
 
 
 
 /* Section Featured */
 .section-signs-features * {
     box-sizing: border-box;
 }
 
 .featured-body {
     position: relative;
     margin-top: 60px;
     margin-bottom: 220px;
 }
 
 .featured-img-wrap {
     max-width: 985px;
     width: 100%;
     margin: 0 auto;
 }
 
 .signs-featured-list {
     position: absolute;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
 }
 
 .signs-featured-item {
     position: absolute;
     text-align: left;
     display: inline-block;
     max-width: 278px;
     width: 100%;
 }
 
 .signs-featured-item h3 {
     font-size: 25px;
     margin-bottom: 10px;
     line-height: 1.5;
     font-weight: 500;
 }
 
 .signs-featured-item p {
     color: #919396;
     font-weight: 300;
     font-size: 22px;
 }
 
 .signs-featured-item:nth-child(1) {
     top: 160px;
     left: 84px;
     /* margin-right: 167px; */
     max-width: 282px;
 }
 
 .signs-featured-item:nth-child(2) {
     bottom: 2px;
     left: 68px;
     /* padding-top: 195px; */
     max-width: 320px;
 }
 
 .signs-featured-item:nth-child(3) {
     left: 1241px;
     top: 27px;
     /* padding-left: 180px; */
     max-width: 227px;
 }
 
 .signs-featured-item:nth-child(4) {
     right: 0px;
     bottom: 126px;
     /* padding-left: 190px; */
 }
 
 .signs-featured-item:nth-child(5) {
     right: 416px;
     bottom: -121px;
     /* padding-left: 205px; */
     max-width: 368px;
 }
 
 .signs-featured-item .img-wrap {
     position: absolute;
     width: 200px;
     height: 200px;
 }
 
 .signs-featured-item .img-wrap img {
     width: 100%;
     height: 100%;
 }
 
 .signs-featured-item:nth-child(1) .img-wrap {
     right: -220px;
     top: -20px;
 }
 
 .signs-featured-item:nth-child(2) .img-wrap {
     top: -12px;
     right: -155px;
 }
 
 .signs-featured-item:nth-child(3) .img-wrap {
     left: -167px;
     top: -13px;
 }
 
 .signs-featured-item:nth-child(4) .img-wrap {
     left: -173px;
     top: -2px;
 }
 
 .signs-featured-item:nth-child(5) .img-wrap {
     top: -64px;
     left: -164px;
 }
 
.additional-specs-list li:first-child p {
    color: #FF5555;
}

.additional-specs-list li:nth-child(2) p {
    max-width: 380px;
}

/* Why Signs Section */
.section-why-signs h2 {margin-bottom: 50px;}
.why-signs-list {
    font-size: 0;
    margin-top: 35px;
    margin: 0 -20px;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}
.why-signs-list-item {
    display: inline-block;
    font-size: 20px;
    padding: 0 20px;
    box-sizing: border-box;
    max-width: 460px;
    width: 100%;
}
.why-signs-list-item .extra {
    color: #919396;
    font-size: 14px;
    max-width: 185px;
    width: 100%;
    margin: -23px auto 0;
    display: block;
    font-style: italic;
}
.why-signs-list-item img {
    margin-bottom: 15px;
}
.why-signs-list-item h3 {
    font-size: 28px;
    margin-bottom: 10px;
    font-weight: 500;
}
.why-signs-list-item p {
    color: #919396;
    font-size: 18px;
    margin-bottom: 0;
}

/* Design tool and services */
.design-services .myrow {
    display: flex;
    justify-content: space-between;
    margin: 0 -30px;
}
.design-services .design-services-group {
    margin-top: 0;
    margin-bottom: 0;
    max-width: 832px;
    margin: 0;
    padding: 0 30px;
}
.design-services .design-services-heading {
    margin-top: 0;
    margin-bottom: 35px;
    text-transform: uppercase;
}
.design-services .design-services-image {
    margin-bottom: 25px;
}
.design-services .design-services-text {
    color: #919396;
    font-size: 24px;
    font-weight: 400;
    max-width: 680px;
    margin: 0 auto 5px;
    line-height: 1.3;
}
.design-services .design-services-group a {
    color: #0097D5;
    font-size: 24px;
    font-weight: 500;
}

/* Section Related Products */
.section-related-products {
    padding: 65px 0;
}
.section-related-products .standard-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    margin: 0 auto;
    padding: 0 20px;
    max-width: 1567px;
    text-align: center;
}

.section-related-products h2 {
    width: 100%;
    font-size: 32px;
    margin-bottom: 40px;
}
.section-related-products .standard-container > a {
    margin: 0;
    width: 33.33%;
}
.section-related-products figure img {/* width: auto; */margin-bottom: 40px;/* width: 100%; */}
.section-related-products figure figcaption {
    font-size: 25px;
    font-weight: 500;
}

 @media (max-width: 1680px) {
     /* What Are Real Estate A-Frames */
 
 
     /* Featured Section */
     .signs-featured-item:nth-child(1) {
         top: 42px;
         left: -32px;
     }
 
     .signs-featured-item:nth-child(1) .img-wrap {
         right: -155px;
         top: 3px;
     }
 
     .signs-featured-item:nth-child(2) {
         bottom: 9px;
         left: -24px;
     }
 
     .signs-featured-item:nth-child(3) {
         left: 1177px;
         top: 35px;
     }
 
     .signs-featured-item:nth-child(3) .img-wrap {
         left: -172px;
         top: 3px;
     }
 
     .signs-featured-item:nth-child(4) {
         right: -75px;
         bottom: 128px;
     }
 
     .signs-featured-item:nth-child(4) .img-wrap {
         left: -173px;
         top: -2px;
     }
 
     .signs-featured-item:nth-child(5) {
         right: 365px;
         bottom: -121px;
     }
 
     .featured-body {
         margin-bottom: 160px;
     }
 
     
 }
 
 @media (max-width: 1600px) {
   
     /* Featured Section */
     .signs-featured-item:nth-child(3) {
         left: 1163px;
         top: 30px;
     }
 }
 
 @media (max-width: 1536px) {
    
     /* Featured Section */
     .section-signs-features h2 {
         margin-bottom: 20px;
     }
 
     .featured-body {
         margin-bottom: 117px;
         margin-top: 60px;
     }
 
     .featured-img-wrap {
         max-width: 855px;
     }
 
     .signs-featured-item .img-wrap {
         width: 135px;
         height: 135px;
     }
 
     .signs-featured-item:nth-child(1) {
         top: 30px;
         left: -35px;
     }
 
     .signs-featured-item:nth-child(1) .img-wrap {
         right: -135px;
         top: 3px;
     }
 
     .signs-featured-item:nth-child(2) {
         bottom: -4px;
         left: -24px;
     }
 
     .signs-featured-item:nth-child(3) {
         left: 1057px;
         top: 25px;
     }
 
     .signs-featured-item:nth-child(3) .img-wrap {
         left: -155px;
         top: 3px;
     }
 
     .signs-featured-item:nth-child(4) {
         right: -47px;
         bottom: 70px;
         max-width: 240px;
     }
 
     .signs-featured-item:nth-child(4) .img-wrap {
         left: -156px;
         top: -2px;
     }
 
     .signs-featured-item:nth-child(5) {
         right: 258px;
         bottom: -131px;
     }
 
     .signs-featured-item:nth-child(5) .img-wrap {
         top: -66px;
         left: -153px;
     }


     /* Why Signs.com? */
     .why-signs-list-item {
        /* max-width: 545px; */
    }
    .why-signs-list-item br {
        display: none;
    }
 }
 
 @media (max-width: 1440px) {
   
     /* Featured Section */
     .featured-img-wrap {
         max-width: 760px;
     }
 
     .signs-featured-item .img-wrap {
         width: 125px;
         height: 125px;
     }
 
     .signs-featured-item p {
         font-size: 19px;
     }
 
     .signs-featured-item:nth-child(1) {
         max-width: 222px;
         top: 17px;
         left: -3px;
     }
 
     .signs-featured-item:nth-child(2) {
         max-width: 208px;
         bottom: -18px;
         left: -5px;
     }
 
     .signs-featured-item:nth-child(3) {
         max-width: 248px;
         left: 987px;
         top: 14px;
     }
 
     .signs-featured-item:nth-child(4) {
         max-width: 248px;
         right: -21px;
         bottom: 48px;
     }
 
     .signs-featured-item:nth-child(5) {
         /* max-width: 326px; */
         /* right: 424px; */
         /* bottom: -326px; */
         /* right: 242px; */
         /* bottom: -131px; */
         right: 260px;
         bottom: -129px;
     }
 
     .signs-featured-item:nth-child(1) .img-wrap {
         right: -121px;
         top: 3px;
     }
 
     .signs-featured-item:nth-child(2) .img-wrap {
         top: -5px;
         right: -134px;
     }
 
     .signs-featured-item:nth-child(3) .img-wrap {
         left: -146px;
         top: 3px;
     }
 
     .signs-featured-item:nth-child(4) .img-wrap {
         left: -143px;
         top: -2px;
     }
 
     .signs-featured-item:nth-child(5) .img-wrap {
         top: -66px;
         left: -140px;
     }
 
     .featured-body {
         margin-bottom: 300px;
     }
 }
 
 @media (max-width: 1366px) {
 
 
     /* Featured Section */
     .featured-img-wrap {
         max-width: 815px;
     }
 
     .signs-featured-item .img-wrap {
         width: 125px;
         height: 125px;
     }
 
     .signs-featured-item p {
         font-size: 19px;
     }
 
     .signs-featured-item:nth-child(1) {
         max-width: 219px;
         top: 38px;
         left: -74px;
     }
 
     .signs-featured-item:nth-child(2) {
         max-width: 209px;
         bottom: -8px;
         left: -76px;
     }
 
     .signs-featured-item:nth-child(3) {
         max-width: 217px;
         left: 957px;
         top: 40px;
     }
 
     .signs-featured-item:nth-child(4) {
         max-width: 219px;
         right: -79px;
         bottom: 55px;
     }
 
     .signs-featured-item:nth-child(5) {
         max-width: 342px;
         right: 245px;
         bottom: -128px;
     }
 
     .signs-featured-item:nth-child(1) .img-wrap {
         right: -126px;
         top: 3px;
     }
 
     .signs-featured-item:nth-child(2) .img-wrap {
         top: -5px;
         right: -134px;
     }
 
     .signs-featured-item:nth-child(3) .img-wrap {
         left: -146px;
         top: 3px;
     }
 
     .signs-featured-item:nth-child(4) .img-wrap {
         left: -143px;
         top: -2px;
     }
 
     .featured-body {
         margin-bottom: 118px;
     }

    /* Why Signs.com */
    .why-signs-list {
        margin: 0 -80px;
    }

    /* Design tool and services */
    .design-services .design-services-image {
        height: auto;
        object-fit: contain;
    }

    .design-services .design-services-text {
        font-size: 20px;
    }

    .design-services .design-services-group a {
        font-size: 20px;
    }
    
    /* Related Products */
    .section-related-products .standard-container > a {
        width: 28.33%;
    }

    .section-related-products .standard-container > a  img {
        width: 100%;
    }
 }
 
 @media (max-width: 1366px) and (max-height: 768px) {
    
 }
 
 @media (max-width: 1280px) {
      /* Why Signs.com */
    .design-services .design-services-text {
        font-size: 18px;
    }

    .design-services .design-services-group a {
        font-size: 18px;
    }

    .design-services .design-services-heading {
        font-size: 25px;
    }


    /* Related Products */
 }
 
 
 @media (max-width: 1270px) {
     .featured-img-wrap {
         max-width: 716px;
     }
 
     .signs-featured-item:nth-child(1) {
         max-width: 219px;
         top: 27px;
         left: -42px;
     }
 
     .signs-featured-item:nth-child(2) {
         max-width: 209px;
         bottom: -39px;
         left: -44px;
     }
 
     .signs-featured-item:nth-child(3) {
         max-width: 217px;
         left: 918px;
         top: 20px;
     }
 
     .signs-featured-item:nth-child(4) {
         max-width: 219px;
         right: -49px;
         bottom: 55px;
     }
 
     .signs-featured-item:nth-child(5) {
         max-width: 342px;
         right: 200px;
         bottom: -128px;
     }
 }
 
 @media (max-width: 1199px) {
     
     /* Featured Section */
     .featured-body {
         margin-top: 0;
         margin: 0 !important;
     }
 
     .featured-img-wrap {
         position: static;
         max-width: 740px;
     }
 
     .signs-featured-list {
         position: static;
         /* display: block; */
     }
 
     .signs-featured-item {
         position: relative !important;
         display: block !important;
         top: initial !important;
         left: initial !important;
         right: initial !important;
         bottom: initial !important;
         width: 100% !important;
         max-width: initial !important;
         margin: 0 !important;
         padding-left: 160px;
         min-height: 135px;
         margin-bottom: 35px !important;
     }
 
     .signs-featured-item .img-wrap {
         position: absolute !important;
         top: 0 !important;
         left: 0 !important;
         right: initial !important;
         bottom: initial !important;
     }
 
     .signs-featured-item:last-child {
         margin-bottom: 0 !important;
     }
 
     /* Review Section */ 
     h2#product-reviews {
         padding-top: 0;
         margin-bottom: 10px;
     }

     /* Why Signs.com */
    .why-signs-list {
        margin: 0 -10px;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
    }
    .why-signs-list-item {
        padding: 0 10px;
    }
    .why-signs-list-item h3 {
        font-size: 21px;
    }

    
    /* Section Related Products */
    .section-related-products .standard-container {
        display: block;
    }
    .section-related-products figure img {
        margin-bottom: 5px;
    }
    .section-related-products .standard-container > a {
        /* margin-bottom: 34px; */
        display: block;
        margin: 0 auto 34px;
        width: 44%;
        max-width: 428px;
    }

    .section-related-products .standard-container > a img {
        margin-bottom: 20px;
    }
 }
 
 @media (max-width: 991px) {
   
     /* Featured Section */
     .featured-img-wrap {
         max-width: 600px;
         margin-bottom: 30px;
     }

    /* Additional */
    .additional-specs-list li p br {
        display: none;
    }
    /* Why Signs.com */
    .why-signs-list {
        display: block;
    }
    .why-signs-list-item {

    }
    .section-why-signs h2 {
        margin-bottom: 20px;
    }
    .why-signs-list-item .extra {
        margin-bottom: 20px;
    }

     /* Design tool and services */
    .design-services .myrow {
        display: block;
        margin: 0;
    }
    .design-services .design-services-group {
        margin: 0 auto 40px;
    }
    .design-services .design-services-group:nth-child(2) {
        margin-bottom: 0;
    }
    .design-services-heading > br {
        display: none;
    }
    .design-services .design-services-heading {
        margin: 0 0 20px;
        max-width: 288px;
        width: 100%;
        padding: 0 20px;
    }

    /* Related Products */
    .section-related-products .standard-container > a {
        max-width: 428px;
        width: 100%;
    }
 }
 
 
 
 @media (max-width: 575px) {
    
     /* Featured Section */
     .signs-featured-item .img-wrap {
         width: 100px;
         height: 100px;
     }
 
     .signs-featured-item {
         padding-left: 124px !important;
     }
 
     .signs-featured-item h3 {
         font-size: 20px;
         margin-bottom: 3px;
     }
 
     .signs-featured-item p {
         font-size: 16px;
     }
 

     /* Additional Specs */
    .section-additional-specs {
        padding: 35px 0;
    }

        .section-additional-specs h2 {
            margin-bottom: 20px;
        }

    .additional-specs-list li {
        display: block;
        text-align: center;
        padding: 0;
        border-bottom: 0;
    }

        .additional-specs-list li:last-child {
            margin-bottom: 0;
        }

        .additional-specs-list li:nth-child(1) p {
            max-width: 214px;
            margin: 0 auto;
        }

        .additional-specs-list li h3 {
            margin: 0 auto 5px;
            font-weight: 500;
            font-size: 20px;
        }

        .additional-specs-list li p {
            font-size: 21px;
            margin-bottom: 20px;
            padding-right: 0;
            font-weight: 200;
        }

        
    /* Additional Specs */
    .section-additional-specs {
        padding: 35px 0;
    }


     /* Design tool and services */
     .design-services .design-services-group {
        padding: 0;
    }
    .design-services .myrow {
        margin: 0 -20px;
    }
    .design-services-heading > br {
        display: none;
    }
    .design-services .design-services-heading {
        margin: 0 0 20px;
        max-width: 379px;
        width: 100%;
        padding: 0 20px;
    }

    .design-services .design-services-text {
        max-width: 379px;
    }
    .design-services .design-services-group:first-child {
        position: relative;
        padding-bottom: 40px;
        margin-bottom: 25px;
    }

    .design-services .design-services-group:first-child:after {
        position: absolute;
        content: "";
        display: block;
        background: -moz-linear-gradient(left,rgba(221,221,221,0) 0,#ddd 10%,#ddd 50%,#ddd 90%,rgba(221,221,221,0) 100%);
        background: -webkit-linear-gradient(left,rgba(221,221,221,0) 0,#ddd 10%,#ddd 50%,#ddd 90%,rgba(221,221,221,0) 100%);
        background: linear-gradient(to right,rgba(221,221,221,0) 0,#ddd 10%,#ddd 50%,#ddd 90%,rgba(221,221,221,0) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00dddddd',endColorstr='#00dddddd',GradientType=1);
        height: 1px;
        width: 100%;
        bottom: 0;
    }

    /* Section Related Products */
    .section-related-products figure img {
        width: 90%;
        height: auto;
        max-width: 355px;
    }

    /* Related Products */
    .section-related-products {
        padding: 45px 0;
    }

    .section-related-products h2 {
        margin-bottom: 20px;
    }
    .section-related-products .standard-container > a {
        max-width: initial;
    }
    .section-related-products .standard-container > a img {margin: 0 -20px 20px;width: 100vw;max-width: initial;}

    .section-related-products .standard-container > a:last-of-type {
        margin-bottom: 0;
    }
 }
 
 

.section-default .ibtn {
    cursor: pointer;
    display: inline-block;
}

.section-default p {
    font-weight: 400;
 }
 .section-default .itext-primary {
   color: #0097D5;
 }
 
 .section-default .ibtn-success {
   color: #fff;
   background: #8CC53F;
 }
 
 .section-default .ibtn-success:hover {
   background: #88bf3e;
 }
 /* What are Real Estate A-Frames? */
 .section-real-estate-aframes {
     text-align: left;
 }
 
 .section-real-estate-aframes .standard-container {
     display: flex;
     align-items: center;
 }
 
 .section-real-estate-aframes h2 {
     margin-bottom: 50px;
 }
 
 .section-real-estate-aframes p {
   line-height: 1.3;
 }
 
 
 .section-real-estate-aframes p:last-of-type {
     margin-bottom: 0;
 }
 
 .section-real-estate-aframes .what-are-img-wrap {
     max-width: 775px;
     width: 100%;
     flex: 0 0 auto;
     margin-left: 60px;
 }
 .section-hardware-only h2 {
   margin-bottom: 50px;
 }
 
 .section-hardware-only p {
   max-width: 665px;
   width: 100%;
   margin: 0 auto 60px;
 }
 
 .hardware-item .img-wrap {
   font-size: 0;
   margin-bottom: 50px;
   max-width: 611px;
   margin: 0 auto 50px;
 }
 
 .hardware-item h3 {
   font-size: 26px;
   margin-bottom: 35px;
 }
 
 .hardware-item .ibtn-add-card {
   font-size: 18px;
   font-weight: 300;
   padding: 10px 50px;
 }
 
 .section-default .description {
   font-weight: 400;
 }
 @media (max-width: 1680px) {
   .section-real-estate-aframes .what-are-img-wrap {
     max-width: initial;
     width: 38.5%;
     margin-left: 1.8%;
   }
 }
 
 @media (max-width: 1366px) {
   .section-real-estate-aframes h2 {
     margin-bottom: 25px;
   }
   .section-real-estate-aframes p {
     margin-bottom: 16px;
     font-size: 18px;
   }
 }
 
 @media (max-width: 1199px) {
   .section-real-estate-aframes {
   text-align: center;
   }
   .section-real-estate-aframes .what-are-img-wrap {
     width: 100%;
     max-width: 775px;
     margin: 0 auto 20px;
   }
 }
 
 @media (max-width: 575px) {
   /* What are Real Estate A-Frames */
   .section-real-estate-aframes .what-are-img-wrap {
     margin: 0 -20px 20px;
     display: inline-block;
     width: 100vw;
   }
   .section-real-estate-aframes h2 {
     font-size: 26px;
   }
   /*  */
   .section-hardware-only h2 {
     margin-bottom: 20px;
   }
   .section-default .description {
     margin-bottom: 20px;
   }
   .hardware-item .img-wrap {
     margin-bottom: 20px;
   }
   .hardware-item h3 {
     margin-bottom: 15px;
   }
   .hardware-item .ibtn-add-card {
     padding: 5px 80px;
   }
 }
 
 
 
 /* Section Featured */
 .section-signs-features * {
     box-sizing: border-box;
 }
 
 .featured-body {
     position: relative;
     margin-top: 50px;
     margin-bottom: 0;
 }
 
 .featured-img-wrap {
     max-width: 783px;
     width: 100%;
     margin: 0 auto;
     height: auto;
 }
 
 .signs-featured-list {
     position: absolute;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
 }
 
 .signs-featured-item {
     position: absolute;
     text-align: left;
     display: inline-block;
     max-width: 278px;
     width: 100%;
 }
 
 .signs-featured-item h3 {
     font-size: 22px;
     margin-bottom: 10px;
     line-height: 1.5;
     font-weight: 500;
 }
 
 .signs-featured-item p {
     color: #919396;
     font-weight: 300;
     font-size: 20px;
 }
 
 .signs-featured-item:nth-child(1) {
     top: 120px;
     left: 197px;
     max-width: 255px;
 }
 
 .signs-featured-item:nth-child(2) {
     bottom: -25px;
     left: 201px;
     max-width: 265px;
 }
 
 .signs-featured-item:nth-child(3) {
     left: 1176px;
     top: 130px;
     /* padding-left: 180px; */
     max-width: 264px;
 }
 
 .signs-featured-item:nth-child(4) {
     right: 180px;
     bottom: 32px;
 }
 
 .signs-featured-item:nth-child(5) {
     right: 416px;
     bottom: -121px;
     max-width: 368px;
 }
 
 .signs-featured-item .img-wrap {
     position: absolute;
     width: 160px;
     height: 160px;
 }
 
 .signs-featured-item .img-wrap img {
     width: 100%;
     height: 100%;
 }
 
 .signs-featured-item:nth-child(1) .img-wrap {
     right: -180px;
     top: -4px;
     /* background: red; */
 }
 
 .signs-featured-item:nth-child(2) .img-wrap {
     top: 10px;
     right: -168px;
 }
 
 .signs-featured-item:nth-child(3) .img-wrap {
     left: -180px;
     top: -15px;
 }
 
 .signs-featured-item:nth-child(4) .img-wrap {
     left: -173px;
     top: -2px;
 }
 
 .signs-featured-item:nth-child(5) .img-wrap {
     top: -64px;
     left: -164px;
 }
 
 
 @media (max-width: 1680px) {
     /* What Are Real Estate A-Frames */
 
 
     /* Featured Section */
     .signs-featured-item:nth-child(1) {
         top: 117px;
         left: 122px;
     }
 
     .signs-featured-item:nth-child(1) .img-wrap {
         right: -65%;
         top: 3px;
     }
 
     .signs-featured-item:nth-child(2) {
         bottom: -36px;
         left: 122px;
     }
 
     .signs-featured-item:nth-child(3) {
         left: 74.5%;
         top: 116px;
     }
 
     .signs-featured-item:nth-child(3) .img-wrap {
         left: -172px;
         top: 3px;
     }
 
     .signs-featured-item:nth-child(4) {
         right: 8%;
         bottom: 17px;
         max-width: 267px;
     }
 
     .signs-featured-item:nth-child(4) .img-wrap {
         left: -173px;
         top: -2px;
     }
 
     .signs-featured-item:nth-child(5) {
         right: 365px;
         bottom: -121px;
     }
 
     .featured-body {
         margin-bottom: 160px;
     }
 
     
 }
 
 @media (max-width: 1600px) {
   
     /* Featured Section */
     .signs-featured-item:nth-child(1) {
        top: 110px;
        left: 56px;
    }

    .signs-featured-item:nth-child(2) {bottom: -28px;left: 50px;}
    
     .signs-featured-item:nth-child(3) {
         left: 999px;
         top: 140px;
     }

     .signs-featured-item:nth-child(3) .img-wrap {
         top: -6px;
     }

     .signs-featured-item:nth-child(4) .img-wrap {
        left: -180px;
        top: -2px;
    }

    .signs-featured-item:nth-child(4) {
        right: 4%;
        bottom: 31px;
        max-width: 267px;
    }
    
    /* Why Signs.com */
    .why-signs-list-item {
        display: inline-block;
        flex-direction: column;
    }

    .why-signs-list-item > * {
        flex: 0 0 auto;
    }
    .why-signs-list-item h3 {
        font-size: 27px;
    }
 }
 
 @media (max-width: 1536px) {
    
     /* Featured Section */
     .section-signs-features h2 {
         margin-bottom: 20px;
     }
 
     .featured-body {
         margin-bottom: 0;
         margin-top: 55px;
     }
 
     .featured-img-wrap {
         max-width: 783px;
     }
 
     .signs-featured-item .img-wrap {
         width: 150px;
         height: 150px;
     }
 
     .signs-featured-item:nth-child(1) {
         top: 104px;
         left: 80px;
     }
 
     .signs-featured-item:nth-child(1) .img-wrap {
         right: -150px;
         top: 3px;
     }
 
     .signs-featured-item:nth-child(2) {
         bottom: -40px;
         left: 86px;
     }

     .signs-featured-item:nth-child(2) .img-wrap {
         top: 10px;
         right: -135px;
     }
 
     .signs-featured-item:nth-child(3) {
         left: 979px;
         top: 128px;
     }
 
     .signs-featured-item:nth-child(3) .img-wrap {
         left: -144px;
         top: -5px;
     }
 
     .signs-featured-item:nth-child(4) {
         right: 100px;
         bottom: 9px;
         max-width: 255px;
     }
 
     .signs-featured-item:nth-child(4) .img-wrap {
         left: -156px;
         top: -2px;
     }
 
     .signs-featured-item:nth-child(5) {
         right: 258px;
         bottom: -131px;
     }
 
     .signs-featured-item:nth-child(5) .img-wrap {
         top: -66px;
         left: -153px;
     }
 }
 
 @media (max-width: 1440px) {
   
     /* Featured Section */
     .featured-img-wrap {
         max-width: 783px;
     }
 
     .signs-featured-item .img-wrap {
         width: 170px;
         height: 170px;
     }
 
     .signs-featured-item p {
         font-size: 19px;
     }
 
     .signs-featured-item:nth-child(1) {
         max-width: 243px;
         top: 112px;
         left: 19px;
     }
 
     .signs-featured-item:nth-child(2) {
         max-width: 252px;
         bottom: -27px;
         left: 22px;
     }
 
     .signs-featured-item:nth-child(3) {
         max-width: 248px;
         left: 975px;
         top: 116px;
     }
 
     .signs-featured-item:nth-child(4) {
         max-width: 248px;
         right: 28px;
         bottom: 48px;
     }
 
     .signs-featured-item:nth-child(5) {
         right: 260px;
         bottom: -129px;
     }
 
     .signs-featured-item:nth-child(1) .img-wrap {
         right: -180px;
         top: -5px;
     }
 
     .signs-featured-item:nth-child(2) .img-wrap {
         top: -5px;
         right: -173px;
     }
 
     .signs-featured-item:nth-child(3) .img-wrap {
         left: -178px;
         top: 0;
     }
 
     .signs-featured-item:nth-child(4) .img-wrap {
         left: -181px;
         top: -2px;
     }
 
     .signs-featured-item:nth-child(5) .img-wrap {
         /* top: -151px; */
         /* left: 80px; */
         top: -66px;
         left: -140px;
     }
 
     .featured-body {
         margin-bottom: 0;
     }


     /* Why Signs.com */
     .why-signs-list-item h3 {
         font-size: 26px;
     }
 }
 
 @media (max-width: 1366px) {
 
 
     /* Featured Section */
     .featured-img-wrap {
         max-width: 783px;
     }
 
     .signs-featured-item .img-wrap {
         width: 150px;
         height: 150px;
     }
 
     .signs-featured-item p {
         font-size: 19px;
     }
 
     .signs-featured-item:nth-child(1) {
         max-width: 242px;
         top: 113px;
         left: 11px;
     }
 
     .signs-featured-item:nth-child(2) {
         max-width: 252px;
         bottom: -10px;
         left: 12px;
     }
 
     .signs-featured-item:nth-child(3) {
         max-width: 250px;
         left: 920px;
         top: 114px;
     }
 
     .signs-featured-item:nth-child(4) {
         max-width: 255px;
         right: 14px;
         bottom: 29px;
     }
 
     .signs-featured-item:nth-child(5) {
         max-width: 342px;
         right: 245px;
         bottom: -128px;
     }
 
     .signs-featured-item:nth-child(1) .img-wrap {
         right: -160px;
         top: -3px;
     }
 
     .signs-featured-item:nth-child(2) .img-wrap {
         top: 21px;
         right: -143px;
     }
 
     .signs-featured-item:nth-child(3) .img-wrap {
         left: -157px;
         top: -5px;
     }
 
     .signs-featured-item:nth-child(4) .img-wrap {
         left: -153px;
         top: -2px;
     }
 
     .signs-featured-item:nth-child(5) .img-wrap {
         /* top: -151px; */
         /* left: 80px; */
     }
 
     .featured-body {
         margin-bottom: 0;
     }
 }
 
 @media (max-width: 1366px) and (max-height: 768px) {
    
 }
 
 @media (max-width: 1280px) {
     .signs-featured-item:nth-child(1) {
        max-width: 242px;
        top: 113px;
        left: -25px;
    }

    .signs-featured-item:nth-child(2) {
        max-width: 252px;
        bottom: -12px;
        left: -23px;
    }

    .signs-featured-item:nth-child(3) {
        max-width: 250px;
        left: 885px;
        top: 125px;
    }

    .signs-featured-item:nth-child(4) {
        max-width: 255px;
        right: -23px;
        bottom: 29px;
    }
 }
 
 @media (max-width: 1270px) {
     .featured-img-wrap {
         max-width: 716px;
     }
 
     .signs-featured-item:nth-child(1) {
         max-width: 219px;
         top: 27px;
         left: -42px;
     }
 
     .signs-featured-item:nth-child(2) {
         max-width: 209px;
         bottom: -39px;
         left: -44px;
     }
 
     .signs-featured-item:nth-child(3) {
         max-width: 217px;
         left: 918px;
         top: 20px;
     }
 
     .signs-featured-item:nth-child(4) {
         max-width: 219px;
         right: -49px;
         bottom: 55px;
     }
 
     .signs-featured-item:nth-child(5) {
         max-width: 342px;
         right: 200px;
         bottom: -128px;
     }
 }
 
 @media (max-width: 1199px) {
     /*  */
     /* Featured Section */
     .featured-body {
         margin-top: 0;
         margin: 0 !important;
     }
 
     .featured-img-wrap {
         position: static;
         max-width: 740px;
     }
 
     .signs-featured-list {
         position: static;
         /* display: block; */
     }
 
     .signs-featured-item {
         position: relative !important;
         display: block !important;
         top: initial !important;
         left: initial !important;
         right: initial !important;
         bottom: initial !important;
         width: 100% !important;
         max-width: initial !important;
         margin: 0 !important;
         padding-left: 160px;
         min-height: 135px;
         margin-bottom: 35px !important;
     }
 
     .signs-featured-item .img-wrap {
         position: absolute !important;
         top: -7px !important;
         left: 0 !important;
         right: initial !important;
         bottom: initial !important;
     }
 
     .signs-featured-item:last-child {
         margin-bottom: 0 !important;
     }

     /* Review Section */ 
     h2#product-reviews {
         padding-top: 0;
         margin-bottom: 10px;
     }


      /* Why Signs.com */
    .why-signs-list-item {
       display: inline-block;
       max-width: 426px;
       margin-bottom: 25px;
    }

       /* Why Signs.com */
    .why-signs-list-item:last-child {
       align-self: center;
       margin: 0 auto 0;
    }
 }
 
 @media (max-width: 991px) {
   
     /* Featured Section */
     .featured-img-wrap {
         max-width: 600px;
         margin-bottom: 30px;
     }
 
     
 }
 
 
 
 @media (max-width: 575px) {
    
     /* Featured Section */
     .featured-img-wrap {
         margin-bottom: 35px;
     }
     .signs-featured-item .img-wrap {
         width: 110px;
         height: 110px;
     }
 
     .signs-featured-item {
         padding-left: 124px !important;
         margin-bottom: 35px !important;
     }
     
     .signs-featured-item h3 {
         font-size: 20px;
         margin-bottom: 3px;
     }
 
     .signs-featured-item p {
         font-size: 16px;
     }
 
     .section-signs-features h2 {
         font-size: 28px;
     }

    .additional-specs-list li:nth-child(2) p {
        max-width: 300px;
        margin: 0 auto 20px;
    }
    .additional-specs-list li p {
        font-size: 18px;
        line-height: 1.3;
    }

     /* Why Signs.com? */
    .why-signs-list-item:last-child h3 {
        max-width: 260px;
        margin: 0 auto 10px;
    }
 }
 
@media (max-width: 375px) {
     /* Additional Specs */
     .additional-specs-list li h3 {
        font-size: 20px;
    }

    .additional-specs-list li p {
        font-size: 19px;
    }

    .additional-specs-list li:nth-child(1) p {
        max-width: 190px;
    }
    /* Sizing Chart */
    .tabcontent .img-wrap img {
        height: 171px;
        object-position: -23px;
    }

   
}


.get-started-action-item p {
    font-size: 14px;
    font-style: italic;
    margin: 0;
    line-height: 1.3;
}

.get-started-action-item-need-assistance .live-chat {
    color: #007bff;
}

.get-started-action-item-need-assistance, .get-started-action-item-product-time {
    padding-left: 25px;
    position: relative;
}

.get-started-action-item-need-assistance h3 i, .get-started-action-item-product-time h3 i {
    position: absolute;
    left: 0;
    margin: 0;
}

.get-started-action-item-product-time strong {
    font-size: 15px;
}

.get-started-action-item-estimate-shipping form {
    height: auto;
}


.get-started-action-item-estimate-shipping form input {width: 200px;border: 1px solid #ced4da;box-shadow: none;outline: none;border-radius: 3px;height: 30px;}

.get-started-action-item-estimate-shipping form .ibtn {
    color: #fff;
    border-radius: 4px;
    background: gray;
    padding: 4px 8px;
}

.get-started-action-item-estimate-shipping .iform-group {
    margin-right: 8px;
    display: inline-block;
}

.if-freeshipping span {
    color: #007bff;
    font-weight: 600;
    text-transform: uppercase;
}

.if-freeshipping {
    display: inline-block;
    line-height: 1;
    margin-top: 10px;
}

.get-started-action-item-price-each .label-price-each {
    font-size: 35px;
    font-weight: 600;
    color: #8cc53f;
}

.get-started-action-extra .label {
    font-size: 12px;
    line-height: 1.2;
}

.get-started-action-extra .circle {
    position: absolute;
    right: 3px;
    top: 3px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #e5e5e5;
    display: inline-flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.get-started-action-extra .circle i {
    color: #e5e5e5;
    font-size: 12px;
}

.get-started-action-extra.active {
    border-color: #0e6fb7;
}

.get-started-action-extra .icon-upload {
    width: 12px;
}

.get-started-action-extra .icon-laptop {
    width: 15px;
}

.get-started-action-extra .icon-template {
    width: 12px;
}

.get-started-action-extra .icon-group {
    width: 12px;
}
@media (max-width: 1600px) {
    .get-started-action-item-get-start {
        max-width: 380px;
    }
    .get-started-action-extra {
        width: 90px;
    }
}

@media (max-width: 1366px) {
    .get-started-action-item-estimate-shipping form {
        font-size: 0;
        display: flex;
    }
    .get-started-action-item-estimate-shipping form input {
        width: 170px;
    }

    .get-started-action-item-estimate-shipping form .ibtn {
        height: 30px;
        font-size: 15px;
    }
}

@media (max-width: 1280px) {
    .section-get-started {
        padding: 50px 0 45px;
    }

    .section-get-started .get-started-action-item h3 {
        font-size: 16px;
    }

    .section-get-started .label-price-each {
        font-size: 25px;
    }

    .section-get-started .get-started-action-item-price-each {
        text-align: center;
    }

    .get-started-action-item-estimate-shipping form .ibtn {
        font-size: 13px;
    }

    .get-started-action-item-estimate-shipping form input {
        width: 145px;
    }

    .get-started-action-extra {
        width: 85px;
    }

    .get-started-action-extra .circle {
        width: 17px;
        height: 17px;
    }

    .get-started-action-extra .circle i {
        font-size: 11px;
    }

    .get-started-action-item-get-start {
        max-width: 360px;
    }
}



@media (max-width: 1199px) {
    .section-get-started .get-started-action-list {
        flex-flow: row wrap;
    }

    .section-get-started .get-started-action-item {
        margin-bottom: 20px;
    }
    .get-started-action-item-estimate-shipping form input {
        width: 200px;
    }
    .section-get-started .get-started-action-item-get-start {max-width: 410px;justify-content: space-between;}
    .section-get-started .get-started-action-item-price-each {width: 220px;text-align: left;}

    .section-get-started .label-price-each {
        font-size: 28px;
    }

    .section-get-started .get-started-action-item-product-time {
        width: 240px;
    }
    .section-get-started .get-started-action-item-need-assistance {
        width: 180px;
    }

    .get-started-action-extra {
        width: 95px;
    }
}

@media (max-width: 767px) {
    .section-get-started .get-started-action-list {
        justify-content: space-between;
    }

    .section-get-started .get-started-action-item-need-assistance {
        width: auto;
    }

    .section-get-started .get-started-action-item-product-time {
        width: auto;
    }

    .section-get-started .get-started-action-item-price-each {
        width: 200px;
    }

    .section-get-started .label-price-each {
        margin-left: 20px;
    }

    .section-get-started .get-started-action-item-get-start {
        margin: 0 auto;
    }
}

@media (max-width: 575px) {
    .section-get-started .get-started-action-item-get-start {max-width: 375px;}

    .get-started-action-extra {
        width: 90px;
    }

    .section-get-started .get-started-action-list {
        flex-direction: column;
        align-items: center;
    }

    .section-get-started .get-started-action-item-price-each {
        width: auto;
    }

    .section-get-started .get-started-action-item {
        text-align: center;
        padding: 0;
    }

    .get-started-action-item-need-assistance h3 i, .get-started-action-item-product-time h3 i {
        position: static;
        margin-right: 5px;
    }

    .section-get-started .label-price-each {
        margin: 0;
    }

    .section-get-started {
       padding: 40px 0 45px;
    }
    .get-started-action-item-estimate-shipping form .ibtn {
        display: flex;
        align-items: center;
    }
}


@media (max-width: 375px) {
    .get-started-action-item-get-start .get-started-action-extra {
        width: 80px;
    }
    .get-started-action-extra .circle i {font-size: 10px;}
}

@media (max-width: 360px) {
    .get-started-action-item-get-start .get-started-action-extra {
        width: 76px;
    }
}

@media (max-width: 320px) {
    .get-started-action-item-estimate-shipping form {
        display: block;
    }
    .get-started-action-item-estimate-shipping .iform-group {
        display: block;
        margin: 0 auto 10px;
    }

    .get-started-action-item-get-start .get-started-action-extra {
        width: 68px;
    }

    .get-started-action-item-estimate-shipping form .ibtn {
        display: block;
        margin:  0 auto;
    }
}
.get-started-action-item-get-start {max-width: 480px;display: flex;flex-flow: row wrap;justify-content: space-around;}

.get-started-action-item-get-start .ibtn-get-started {
    width: 100%;
}




