<style>
    /* Section Banner */
    .hero-section {
        display: -ms-inline-flexbox;
        display: inline-flex;
        width: auto
    }

    .hero-section .bio-image-container {
        display: inline-block;
        width: auto;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto
    }

    @media (max-width: 1199px) {
        .hero-section {
            display: block
        }
    }
    /*  */
    h3.resource-header {
        font-size: 1.5rem;
    }
    section#sign-use-text .highlight-container {
        margin-bottom: 0;
    }

    div.product-tabs-wrapper {
        margin-bottom: 40px;
    }

    .circled-chevron.gallery-nav.left {
        left: 500px;
    }

    .circled-chevron.gallery-nav.right {
        right: 500px;
    }


    .section-placeholder-with-logo:not(.spwl-sticky) .sticky {
        position: static;
        margin-top: 30px;
        box-shadow: none
    }

    @media (max-width: 800px) {
        .section-placeholder-with-logo:not(.spwl-sticky) .sticky .no-additional-image-container {
            display: inline-block
        }
    }

    .section-placeholder-with-logo.spwl-sticky .sign-use-qs {
        margin-top: 0;
        position: fixed;
        top: 0;
        z-index: 50;
        background-color: #fff;
        width: 100%;
        left: 0;
        box-shadow: 0 5px 12px -4px rgba(0, 0, 0, .75)
    }

    @media (max-width: 800px) {
        .section-placeholder-with-logo.spwl-sticky .sign-use-qs {
            margin-top: 70px
        }
    }

    @media (max-width: 800px) {
        .section-placeholder-with-logo.spwl-sticky .sign-use-qs .no-additional-image-container {
            display: none;
        }
    }

    /*# sourceMappingURL=main.css.map */




    @media only screen and (max-width: 800px) {
        .circled-chevron.gallery-nav {
            position: absolute;
            top: 90%;
        }
        .circled-chevron.gallery-nav.left {
            left: 20px;
        }

        .circled-chevron.gallery-nav.right {
            right: 20px;
        }
    }
</style>
<script>
    window.onscroll = function changeNav(){
        var navBar = document.getElementById('spwl'),
            secondSection = document.getElementById('spwl2'),
            secondSectionTop = secondSection.getBoundingClientRect().top,
            navBarHeight = navBar.getBoundingClientRect().height;
        var mq = window.matchMedia( "(max-width: 800px)" );
        if (mq.matches) {
            // window width is at less than 570px
            if((secondSectionTop + 65) >= navBarHeight) {
                navBar.className = ('section-placeholder-with-logo');
            } else if(secondSectionTop <= navBarHeight) {
                navBar.className =  ('section-placeholder-with-logo spwl-sticky');
            }
        }
        else {
            if((secondSectionTop) >= navBarHeight) {
                navBar.className = ('section-placeholder-with-logo');
            } else if(secondSectionTop <= navBarHeight) {
                navBar.className =  ('section-placeholder-with-logo spwl-sticky');
            }
        }


    }
</script>