<!-- Hero Section -->
<section class="section-default section-hero-full-width">
    <div class="hero-head">
        <h1>Custom A-Frame Signs</h1>
        <ul class="hero-list">
            <li class="hero-list-item">Attract new customers and make advertising easy with custom A-frame signs</li>
        </ul>
    </div>
    <div class="hero-body">
        <div class="hero-img-wrap">
            <img class="hero-img" src="https://www.signs.com/content/assets/filelibrary/Hero-10645.jpg" alt="Custom A frame signs" />
        </div>
    </div>
</section>
<!-- You won't find a better A-frame buying experience! -->
<section class="section-default section-a-frame-buying-experience">
    <div class="standard-container">
        <div class="content sectionComeGo_js">
            <div class="content-l comeGoChildWrap_js">
                <h2>You won't find a better A-frame buying experience!</h2>
                <p>“I received amazing design service and the final product really fits my vision.
                    Quality is great, very sturdy and professional looking. Happy to place it outside
                    my business every day! Great price and value - this is a bigger and better sign
                    than I thought I would be able to afford.”
                    <span class="sign">-Heidi, OR</span>
                </p>
                <a href="" class="see-more-reviews">See More Reviews</a>
            </div>
            <div class="content-r comeGoImageWrap_js">
                <div class="img-wrap">
                    <img src="https://www.signs.com/content/assets/filelibrary/A-Frame-Pathos-Quote-10647.png" alt="A Frame Pathos Quote">
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Grade "A" Signage For Your Every Need -->
<section class="section-default section-signage-every-need">
    <div class="standard-container">
        <h2>Grade "A" Signage For Your Every Need</h2>
        <ul class="list-signage-every-need">
            <li class="item-signage-every-need">
                <h3>No Hassle, Easy Set Up</h3>
                <div class="img-wrap"><img src="https://www.signs.com/content/assets/filelibrary/A-Frame-Pathos-Restaurant-10651.png" alt="A Frame Pathos Restaurant"></div>
                <p>Feel confident about displaying your daily offer in a bold, but non-intrusive way.</p>
            </li>
            <li class="item-signage-every-need">
                <h3>Place Anywhere</h3>
                <div class="img-wrap"><img src="https://www.signs.com/content/assets/filelibrary/A-Frame-Shopping-Mock-Up-10649.png" alt="A Frame Shopping Mock Up"></div>
                <p>Delight your customers with enticing invitations to step in to your world with beautifully designed sidewalk signage.</p>
            </li>
            <li class="item-signage-every-need">
                <h3>Noticeable Signage</h3>
                <div class="img-wrap"><img src="https://www.signs.com/content/assets/filelibrary/A-Frame-Pathos-Run-10652.png" alt="A Frame Pathos Run"></div>
                <p>Ensure that you can be found with directional roadside signage. Parking, driving or walking directions are clear and understood with A-frame signage.</p>
            </li>
        </ul>
    </div>
</section>

<!-- What Are A-Frames? -->
<section class="section-default section-what-are">
    <div class="standard-container">
        <div class="highlight-container sectionComeGo_js" id="what-are">
            <div class="highlight-image-container comeGoImageWrap_js">
                <img
                        class="coffee-image lazyload"
                        data-src="https://www.signs.com/content/assets/filelibrary/AFrameArtboard-17@2x-6801.png"
                />
            </div>
            <div class="highlight-section comeGoChildWrap_js">
                <h2 class="content-header">What Are A-Frames?</h2>
                <div class="highlight-group">
                    <p class="highlight-text left">
                        A-Frames, also known as sandwich board signs, are an easy and affordable way to advertise your business or event. The durable thick plastic frame allows them to be placed both indoors and outdoors in any conditions except extreme weather. They are also extremely easy to set up, take down, and move from one location to another as needed.
                    </p>
                    <p class="highlight-text left">Our Standard A-frame comes with permanent decals that are placed directly on either side of the frame. Additional or replacement permanent decals decals can be applied directly on top of previous decals if you need to change messaging. Our Premium A-frame comes with corrugated plastic inserts that easily slide in and out of the A-frame using tabs on the sides to keep them in place. Order multiple signs and change messaging in a matter of seconds as often as you want!</p>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- Section Sign Features-->
<section class="section-default section-signs-features">
    <div class="standard-container">
        <h2>A-Frame Features</h2>
        <div class="featured-body">
            <div class="featured-img-wrap">
                <img alt="" src="https://www.signs.com/content/assets/filelibrary/AFrameArtboard-22@3x-6875-6878.png">
            </div>
            <ul class="signs-featured-list">
                <li class="signs-featured-item">
                    <h3>Weatherproof:</h3>
                    <p>The combination of high-quality plastic and added weight from sand/water makes these signs perfect for outdoor use. Rain or shine, your A-frame sign can endure it all.</p>
                    <div class="img-wrap"><img src="https://www.signs.com/content/assets/filelibrary/AFrameArtboard-23-6810.png" alt="Tension Fabric"></div>
                </li>

                <li class="signs-featured-item">
                    <h3>Maximum Visibility:</h3>
                    <p>Because every A-frame is double-sided you can make sure everyone sees your message! Print both sides the same or customize each side for no additional charge.</p>
                    <div class="img-wrap"><img src="https://www.signs.com/content/assets/filelibrary/AFrameArtboard-26-6812.png" alt=""></div>
                </li>
                <li class="signs-featured-item">
                    <h3>Portable:</h3>
                    <p>The collapsible A-frame and convenient handle make it easy to move your sign from one location to another. Stacking lugs also make storage for one or more a-frames as easy can be!</p>
                    <div class="img-wrap"><img src="https://www.signs.com/content/assets/filelibrary/AFrameArtboard-23-copy-6809.png"></div>
                </li><li class="signs-featured-item">
                <h3>Reusable:</h3>
                <p>Store your signs and use them as you always have, place a new decal over top the existing one (standard frames), or swap inserts (premium frames) to change your messaging and use your A-frame signs for years to come.</p>
                <div class="img-wrap"><img src="https://www.signs.com/content/assets/filelibrary/AFrameArtboard-25-6811.png" alt="Camera, showing it can be used as a backdrop for pictures"></div>
            </li>
            </ul>
        </div>
    </div>
</section>

<!-- Section Comparison -->
<div class="comparison">
    <h1 class="content-header">Custom A-Frame Signs</h1>
    <div class="comparison-split">
        <div class="comparison-section">
            <div class="img-wrap">
                <img class=" ls-is-cached lazyloaded" data-src="https://www.signs.com/content/assets/filelibrary/AFrameArtboard-19-6804.png" alt="Standard frame" src="https://www.signs.com/content/assets/filelibrary/AFrameArtboard-19-6804.png">
            </div>
            <h2 class="content-header">Standard</h2>
            <ul class="comparison-list">
                <li class="comparison-text">High-adhesive Decal</li>
                <li class="comparison-text">White Frame</li>
                <li class="comparison-text">18 lbs. + 10 lbs. if Sand/Water Added</li>
                <li class="comparison-text">Non-removable Graphic</li>
                <li class="comparison-text">24” x 36” Graphic</li>
                <li class="comparison-text">Indoor/outdoor Use</li>
                <li class="comparison-text">Double-Sided</li>
            </ul>
        </div>
        <div class="comparison-section">
            <div class="img-wrap">
                <img class=" ls-is-cached lazyloaded" data-src="https://www.signs.com/content/assets/filelibrary/AFrameArtboard-18-6805.png" alt="Premium Frame" src="https://www.signs.com/content/assets/filelibrary/AFrameArtboard-18-6805.png">
            </div>
            <h2 class="content-header">Premium</h2>
            <ul class="comparison-list">
                <li class="comparison-text">4mm Corrugated Plastic Insert</li>
                <li class="comparison-text">White or Black Frame</li>
                <li class="comparison-text">20 lbs. + 10 lbs. if Sand/Water Added</li>
                <li class="comparison-text">Removable Graphic</li>
                <li class="comparison-text">24” x 36” Graphic</li>
                <li class="comparison-text">Indoor/outdoor Use</li>
                <li class="comparison-text">Double-Sided</li>
            </ul>
        </div>
    </div>
</div>

<!-- Design tool and services -->
<section class="section-default design-services">
    <div class="standard-container">
        <div class="myrow">
            <div class="design-services-group">
                <h2 class="design-services-heading">Easy to Use <br />Design Tool</h2>
                <img class="design-services-image" src="https://www.signs.com/content/assets/filelibrary/Design-tool-a-frame-signs-10653.jpg" alt="Design tool A Frame Signs" />
                <p class="design-services-text">
                    Create your custom A-Frame sign with our simple and easy design tool. Upload images, create objects, add text, adjust sizing, change color, and so much more!
                </p>
                <a href="https://www.signs.com/design/?productID=26">Start Designing</a>
            </div>

            <div class="design-services-group">
                <h2 class="design-services-heading">
                    Free Professional <br /> Design Services
                </h2>
                <img class="design-services-image" src="https://www.signs.com/content/assets/filelibrary/Design-Services-8625.jpg" alt="Graphic designer sitting behind her desk and smiling" />
                <p class="design-services-text">
                    Whether you need help uploading your design or are interested in creating something entirely new, our team of professional graphic designers is here to help. Nothing beats free!
                </p>
                <a href="https://www.signs.com/design-services/">Learn More</a>
            </div>
        </div>
    </div>
</section>

<script>
    /* Create Gallery Image Section */
    var namelessDiv1 = document.createElement("div");
    namelessDiv1.setAttribute("class", "section-default section-gallery-image");
    /* Edit this one where you put the image slider!!! */
    var sectionDesignServices = document.querySelector(
        ".section-a-frame-buying-experience + .standard-separator"
    );
    sectionDesignServices.after(namelessDiv1);
    /* Create Standard Container */
    var sectionGalleryImage = document.querySelector(".section-gallery-image");
    var namelessDiv2 = document.createElement("div");
    namelessDiv2.setAttribute("class", "standard-container");
    sectionGalleryImage.appendChild(namelessDiv2);
    /* Create Section Title */
    var standardContainerGallery = document.querySelector(
        ".section-gallery-image > .standard-container"
    );
    var sectionTitle = document.createTextNode("Invite Your Customers In With Beautifully Printed A-Frame Signs");
    var titleTag = document.createElement("h2");
    titleTag.appendChild(sectionTitle);
    standardContainerGallery.appendChild(titleTag);
    /* Move gallery slider */
    var imageGallery2019 = document.querySelector(".image-gallery-2019");
    standardContainerGallery.appendChild(imageGallery2019);
</script>

<script>
    function movingElements () {
        //You won't find a better A-frame buying experience!
        var aFrameBuyingExperienceItem = document.querySelectorAll(".section-a-frame-buying-experience .sectionComeGo_js");
        aFrameBuyingExperienceItem.forEach(function (item) {
            var movingSectionTitle = item.querySelector(".comeGoChildWrap_js > h2");
            var comeGoChildWrap = item.querySelector(".comeGoChildWrap_js");
            var comeGoImageWrap = item.querySelector(".comeGoImageWrap_js");
            if (window.innerWidth <= 768) {
                movingSectionTitle.after(comeGoImageWrap);
            } else {
                comeGoChildWrap.after(comeGoImageWrap);
            }
        });

        //What Are A-Frames!
        var whatAreAFramesItem = document.querySelectorAll(".section-what-are .sectionComeGo_js");
        whatAreAFramesItem.forEach(function (item) {
            var whatAreAFramesMovingSectionTitle = item.querySelector(".comeGoChildWrap_js > h2");
            var whatAreAFramesComeGoChildWrap = item.querySelector(".comeGoChildWrap_js");
            var whatAreAFramesComeGoImageWrap = item.querySelector(".comeGoImageWrap_js");
            if (window.innerWidth <= 768) {
                whatAreAFramesMovingSectionTitle.after(whatAreAFramesComeGoImageWrap);
            } else {
                whatAreAFramesComeGoChildWrap.after(whatAreAFramesComeGoImageWrap);
            }
        });
    };
    window.addEventListener('resize', movingElements);

    //You won't find a better A-frame buying experience!
    var aFrameBuyingExperienceItem = document.querySelectorAll(".section-a-frame-buying-experience .sectionComeGo_js");
    aFrameBuyingExperienceItem.forEach(function (item) {
        if (window.innerWidth <= 768) {
            var movingSectionTitle = item.querySelector(".comeGoChildWrap_js > h2");
            var comeGoImageWrap = item.querySelector(".comeGoImageWrap_js");
            movingSectionTitle.after(comeGoImageWrap);
        }
    });



    //What Are A-Frames!
    var whatAreAFramesItem = document.querySelectorAll(".section-what-are .sectionComeGo_js");
    whatAreAFramesItem.forEach(function (item) {
        if (window.innerWidth <= 768) {
            var whatAreAFramesMovingSectionTitle = item.querySelector(".comeGoChildWrap_js > h2");
            var whatAreAFramesComeGoImageWrap = item.querySelector(".comeGoImageWrap_js");
            whatAreAFramesMovingSectionTitle.after(whatAreAFramesComeGoImageWrap);
        }
    });
</script>