.spec-title {
    font-size: 1.5em;
    flex: 1 1 200px;
    font-weight: 400;
}
.spec-detail {
    flex: 1 1 250px;
    font-size: 1.2em;
}
#inserts .content-text {
    position: static;
    text-align: center;
    flex: 1 1 70px;
    max-width: 1300px;
    margin: auto;
    margin-bottom: 0px;
    order: 1;
    font-weight: 300;
}

.comparison-split h2.content-header {
    margin: 30px auto 10px;
    font-size: 22px;
    margin-bottom: 25px;
}

.comparison-split a.get-started-button {
    font-size: 1.2rem;
    color: white;
    padding: 5px;
    order: 1;
}
.comparison-split {
    justify-content: center;
    display: flex;
    align-items: baseline;
    margin-bottom: 50px;
    flex-wrap: wrap;
}

.comparison-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 360px;
    margin: 10px 70px;
}
#what-are .content-header {
    text-align: left;
    margin: 0;
    margin-right: auto;
}
img.bg-image {
    max-width: 1000px;
    margin: auto;
}

.section-image {
    text-align: center;
}
.header-text {
    color: black;
    text-align: center;
    margin-bottom: 25px;
    font-size: 1.4rem;
}
.slider-container img {
    max-height: 410px;
    width: auto;
}
.content-text {
    flex: 1 1 170px;
    position: static;
    margin: 0 20px;
    font-weight: 200;
    order: -1;
}
.content-text h1 {
    font-weight: 400;
    font-size: 3rem;
    padding-top: 0;
}
.main-sub-title {
    font-size: 1.2em;
    font-weight: 100;
    text-align: center;
}
.additional-specs {
    margin: 30px auto;
}
iframe.installation-video {
    width: 700px;
    height: 500px;
    align-self: center;
    margin-top: 100px;

}
.pdf-link {
    color: #3fa9f5 !important;
    text-decoration: underline;
}
img.coffee-image {
    width: 100%;
}
.fab-section {
    flex: 1;
    max-width: 418px;
    flex: 0 0 auto;
}

.fab-section:nth-child(2) .fab-section-sub-title {
    max-width: 340px;
}

.fab-section img {
    margin-bottom: 10px;
}



.highlight-container {
    background-color: white;
    color: black;
}
.highlight-section {
    margin-right: 5%;
}
.highlight-header {
    font-size: 2.5em;
}
.highlight-image-container {
    flex: 0.5 1 300px;
}
.highlight-group {
    color: black;
    align-items: flex-start;
}
.highlight-text.left{
    text-align: left;
    font-size: 1.5em;
    margin: 40px 0;
}
span.fab-asterisk {
    font-style: italic;
    font-size: 0.8em;
}
.main-content-with-background {
    color: black;
}

p.design-services-text {
    font-size: 1.4rem;
}

.design-services-group a {
    color: #3fa9f5;
    font-size: 1.4rem;
}


/**** More Info ****/
.folded-flag-img {
    margin-bottom: 35px;
    width: 60%;
    height: auto;
}
.how-you-need-it {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

h1.hyni-heading {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 500;
    margin: 40px auto;
}

.comparison-text {
    color: #1f1e1e;
    font-size: 1.5rem;
    font-weight: 300;
    margin-bottom: 80px;
    max-width: 1000px;
    text-align: center;
    padding: 0 10px;
}

.hyni-split {
    display: flex;
    justify-content: center;
    align-items: baseline;
    flex-wrap: wrap;
    max-width: 100%;
}

.hyni-section {
    flex: 1 1 500px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    max-width: 400px;
    margin: 0 260px 0 180px;
}

.hyni-section img {
    margin-bottom: 30px;
    width: 100%;
}

button.get-started-button {
    flex: 0 1 auto;
    margin: 20px;
    height: initial;
    border: none;
    padding: 10px;
    font-size: 1.3em;
}

.hyni-section.sadie {
    max-width: 600px;
    margin: 0;
}

ul.comparison-list {
    list-style: disc;
    color: #1f1e1e;
    max-width: 445px;
}

li.comparison-text {
    text-align: left;
    margin-bottom: 0;
}
.hyni-text a {
    color: #3fa9f5;
}
p.hyni-text.asterisk {
    font-size: 1.1rem;
    font-style: italic;
    margin-top: 30px;
}

.easy-to-apply {
    position: relative;
}

img.easy-apply-image {
    width: 100%;
    height: 550px;
}

.easy-apply-text-container {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.4);
    top: 70px;
    color: white;
    right: 70px;
    font-size: 1.5rem;
    padding: 25px;
    max-width: 700px;
}

h2.easy-apply-heading {
    font-size: 2.7rem;
}

.easy-apply-text-container ul {
    list-style: disc;
    font-weight: 300;
    margin: 10px;
    display: inline;
}

.easy-apply-text-container ul li {
    margin: 10px;
}

/* ------------------------------------------------------------ *\
	Section Tertiary
\* ------------------------------------------------------------ */
h1.tertiary-heading {
    margin: 40px auto;
    font-size: 2.5em;
    font-weight: 500;
    left: 0;
    right: 0;
}
/* .section-tertiary { padding: 40px 0 0; }  */
.section-tertiary .section-head { text-align: center;  }
.section-tertiary .section-head h1 { font-weight: 600 !important; text-transform: uppercase; margin: 0; }
.section-tertiary .section-body { text-align: center; position: relative; margin: 0 auto; margin-bottom: 0px; }
.section-tertiary .section-body > img { width: 50%; }
.section-tertiary .section-body ul { list-style: none; margin: 0; padding: 0; text-align: left; }
.section-tertiary .section-body ul h4 { font-weight: 600; font-size: 22px; margin: 0 0 5px; color: black; }
.section-tertiary .section-body ul p { font-weight: 300; font-size: 16px; color: #666; margin: 0; line-height: 1.2; max-width: 250px; color: black; }
.section-tertiary .section-body ul li { position: absolute; padding: 5px 20px; }
.section-tertiary .section-body ul li:nth-child(1) { left: 18%; top: 25%; width: 190px; }
.section-tertiary .section-body ul li:nth-child(1) img { position: absolute; left: 205px; top: -86px; }
.section-tertiary .section-body ul li:nth-child(2) { width: 380px; left: 70%; top: 16%; }
.section-tertiary .section-body ul li:nth-child(2) img { position: absolute; right: 397px; top: -20px; }
.section-tertiary .section-body ul li:nth-child(3) { left: 7%; top: 77%; width: 280px; }
.section-tertiary .section-body ul li:nth-child(3) img {
    position: absolute;
    top: -70px;
    right: -130px;
}
.section-tertiary .section-body ul li:nth-child(4) { left: 73%; bottom: 10%; }
.section-tertiary .section-body ul li:nth-child(4) img { position: absolute; left: -135px; top: -80px; }
.section-tertiary .section-body ul li:nth-child(5) { width: 300px; left: 79%; top: 69%; }
.section-tertiary .section-body ul li:nth-child(5) img {
    position: absolute;
    left: -140px;
    top: -70px;
}
.section-tertiary .section-actions { text-align: center; padding-top: 102px; }
@media (max-width: 1550px) {
    .section-tertiary .section-body ul li:nth-child(1) { left: 18%; top: 23%; }
    .section-tertiary .section-body ul li:nth-child(2) { width: 280px;}
    .section-tertiary .section-body ul li:nth-child(2) img { right: 305px; }
    .section-tertiary .section-body ul li:nth-child(3) { width: 220px; }
    .section-tertiary .section-body ul li:nth-child(3) img {

    }
    .section-tertiary .section-body ul li:nth-child(4) {
        bottom: 10%;
    }
}
@media (max-width: 1319px) {
    .section-tertiary .section-body {  }
    .section-tertiary .section-body > img {  }

    .section-tertiary .section-body ul li:nth-child(1) { left: 14%; top: 28%; }
    .section-tertiary .section-body ul li:nth-child(2) { width: 220px; left: 70%; top: 24%; }
    .section-tertiary .section-body ul li:nth-child(2) img {
        position: absolute;
        right: 237px;
        top: -20px;
    }
    .section-tertiary .section-body ul li:nth-child(3) { left: 6%; top: 75%; }
    .section-tertiary .section-body ul li:nth-child(4) { left: 72%; top: 70%; }
    /* .section-tertiary .section-body ul li:nth-child(5) { left: 70%; top: 70%; width: 200px; } */
    .section-tertiary .section-body ul li:nth-child(5) br { display: none; }
    .options-container .option {
        flex: 1 1 400px;
    }
}
/* Small Desktop */
@media (max-width: 1159px) {
    .highlight-container.what-are .highlight-image-container.mobile {
        margin-right: -5.5%;
        flex: 1 1 100px;
    }
    .what-are .highlight-image-container {
        display: none;
    }
    .highlight-container .highlight-image-container.mobile {
        display: block;
    }
    .section-tertiary { overflow: hidden; }

    .section-tertiary .section-body { }
    .section-tertiary .section-body > img { }

    .section-tertiary .section-body ul li:nth-child(1) { left: 5%; top: 26%; }
    .section-tertiary .section-body ul li:nth-child(2) {  }
    .section-tertiary .section-body ul li:nth-child(2) br { display: none; }
    .section-tertiary .section-body ul li:nth-child(2) img { }

    .section-tertiary .section-body ul li:nth-child(3) { left: 4%; }
    .section-tertiary .section-body ul li:nth-child(4) { }
    .section-tertiary .section-body ul li:nth-child(5) {  }
}
/* Tablet Portrait */
@media (max-width: 1023px) {

    .section-tertiary .section-body ul h4 { color: black; }
    .section-tertiary .section-head { margin-bottom: 60px; }
    .section-tertiary .section-body ul li { background-color: none; }
    .section-tertiary .section-body { width: 100%; }
    .section-tertiary .section-body ul { margin-top: 30px; display: flex; flex-wrap: wrap;}
    .section-tertiary .section-body ul li { width: 100%!important; position: relative; left: 0 !important; right: 0 !important; top: 0 !important; bottom: 0 !important; padding-left: 5px; display: flex; justify-content: space-around; align-items: center; }
    .section-tertiary .section-body ul li:nth-child(1) img { position: static; left: 0; top: 0; }
    .section-tertiary .section-body ul li:nth-child(2) img { position: static; right: 0; top: 0; }
    .section-tertiary .section-body ul li:nth-child(3) img { position: static; right: 0; top: 0; }
    .section-tertiary .section-body ul li:nth-child(4) img { position: static; right: 0; top: 0; }
    .section-tertiary .section-body ul li:nth-child(5) img { position: static; left: 0; top: 0; }
    .section-tertiary .section-body ul li img { /*left: 0 !important; top: 0 !important;*/ width: 90px; height: 90px; }
    .section-tertiary .section-body ul li ~ li { margin-top: 30px; }
    .section-tertiary .section-body ul h4 {
        font-size: 20px;
        margin: 0px 10px 0;
        flex: 0.2 1 200px;
    }
    .section-tertiary .section-body ul p { flex: 1 1 200px; margin-right: 5px; max-width: none; color: black; }
    .section-tertiary .section-actions { padding-top: 40px; }
    .options-container .option img {
        max-width: 300px;
    }
    .options-container .option {
        flex: 1 1 300px;
    }
    div#multiple-panels {
        margin: auto 0px auto 25px;
    }
}

.how-to-install {
    display: flex;
    flex-direction: column;
    margin: 30px 80px;
}

h2.how-to-install-heading {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 50px;
}

p.how-to-install-text {
    font-size: 1.5rem;
    text-align: center;
    max-width: 1200px;
    margin: 10px auto 30px;
}

.install-steps {
    display: flex;
    flex-direction: column;
}

.step {
    display: flex;
    flex: 1;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 30px;
}


.step img {
    width: 100%;
    max-width: 400px;
}

p.step-text {
    margin-left: 40px;
    font-size: 1.5rem;
    flex: 1 1 auto;
}
p.step-asterisk {
    font-size: 1em;
    margin-left: 43px;
}
@media only screen and (max-width: 1400px) {
    .easy-apply-text-container {
        position: static;
        margin: auto;
    }
}
@media only screen and (max-width: 1300px) {
    .content-text {
        position: static;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        color: black;
        padding: 0 0 0px 0;
        font-size: 1.1em;
    }
    .main-content-with-background h1{
        padding-top:0;
    }
}

@media only screen and (max-width: 800px) {
    .content-text {
        order: 1;
    }
    .slick-next {
        right: 750px;
        display: none !important;
    }
    .content-header {
        margin: 30px 10px 20px 10px;
    }
    img.easy-apply-image {
        height: 280px;
    }
    iframe.installation-video {
        width: 90%;
        min-height: 300px;
        height: 0;
    }
    .fab-section {
        flex: 1 1 200px;
    }
    p.step-text {
        margin-left: 0px;
    }
    p.how-to-install-text {
        margin: 10px 20px 30px 20px;
        padding: 10px;
    }
    .hyni-section {
        padding: 0 5px;
        margin: 0 20px;
    }


    .related-group img{
        width: 100%;
    }
    p.related-text {
        font-size: 1.4rem;
    }
    .main-content-with-background h1{
        padding-top:0;
        font-size: 2.2rem;
    }
    .how-to-install {
        margin: 0px;
    }
    .step {
        margin: 0px;
        padding: 10px;
        flex-wrap: wrap;
    }
}

.slick-slide {
    margin: 15px;
    width: auto;
}
.slick-slide:focus {
    outline: none;
}
@media only screen and (max-width: 800px) {
    .slick-slide {
        margin: 0px !important;
        width: auto;
    }
}
.slider-container {
    background-color: #fff !important;
}
.slick-prev:before, .slick-next:before {
    color: #5d5959 !important;
}
@media only screen and (max-width: 1366px) {
    .content-text {
        margin-top: 0;
    }

    .main-content-with-background h1 {
        font-size: 2.2rem;
    }

    .main-sub-title {
        font-size: 1rem;
    }

    img.bg-image {
        max-width: 700px;
    }

    .header-text {
        font-size: 1.1rem;
        margin-bottom: 10px;
    }
    .product-quick-start-form-container {
        font-size: 0.8rem;
    }
    .main-content h1 {
        font-size: 2.5rem;
        padding-top: 0;
    }

    .main-content .main-sub-title {
        font-size: 1.1rem;
    }

    .hero-image {
        padding-top: 0;
        margin-top: 0;
        max-width: 500px;
        width: 1000px;
        height: 280px;
    }
}

.additional-specs-section {
    margin: 60px 0;
    font-size: 20px;
}

.additional-specs-section .specs-table {
    margin: 0 auto;
}

.additional-specs-section .specs-table th,
.additional-specs-section .specs-table td {
    padding: 20px;
    text-align: center;
    color: #777;
}

.additional-specs-section .specs-table th:first-child,
.additional-specs-section .specs-table td:first-child {
    display: none;
    text-align: left;
    padding-left: 0;
    color: #333;
}

.additional-specs-section .specs-table th:last-child,
.additional-specs-section .specs-table td:last-child {
    width: 50%;
}

.additional-specs-section .specs-table td:nth-child(2) {
    border-right: 1px solid #ccc;
}

.additional-specs-section .specs-table th {
    color: #333;
    font-size: 20px;
    text-decoration: underline;
}

.additional-specs-section .specs-table .mobile-heading {
    display: block;
    color: #333;
}

.additional-specs-section.single-product-specs .specs-table {
    max-width: 500px;
}

.additional-specs-section.single-product-specs .specs-table td:nth-child(2) {
    border-right: none;
}

.additional-specs-section.single-product-specs .specs-table td:last-child {
    width: auto;
}

@media (min-width: 992px) {
    .additional-specs-section .specs-table {
        max-width: 70%;
    }

    .additional-specs-section .specs-table tr:not(:last-child) > th,
    .additional-specs-section .specs-table tr:not(:last-child) >  td {
        border-bottom: 1px solid #ccc
    }

    .additional-specs-section .specs-table th,
    .additional-specs-section .specs-table td {
        text-align: left;
    }

    .additional-specs-section .specs-table th {
        text-align: center;
        text-decoration: none;
    }

    .additional-specs-section .specs-table .mobile-heading {
        display: none;
    }

    .additional-specs-section .specs-table th:first-child,
    .additional-specs-section .specs-table td:first-child {
        display: table-cell;
        padding-right: 0;
    }

    .additional-specs-section.single-product-specs .specs-table td:first-child {
        width: 150px;
    }
}

@media (min-width: 1500px) {
    .additional-specs-section.single-product-specs .specs-table {
        max-width: 40%;
    }

    .additional-specs-section .specs-table th:first-child,
    .additional-specs-section .specs-table td:first-child {
        width: 200px;
    }

    .additional-specs-section.single-product-specs .specs-table td:first-child {
        width: 200px;
    }
}


/* Global */
.img-wrap {
    font-size: 0
}
.section-default {
    padding: 60px 0;
    text-align: center
}

.section-default h2 {
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 50px;
}

.section-default p {
    font-size: 20px;
    margin-bottom: 30px
}

.section-default [class*=img-wrap] img {
    width: 100%
}
.standard-container {
    max-width: 1560px;
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
    margin: 0 auto
}

/* Hero Section */

.section-hero-full-width {
    padding: 20px 0 25px
}

.hero-footer,
.hero-head {
    margin: 0 auto;
    padding: 0 20px;
    max-width: 845px;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
}

.hero-head h1 {
    font-size: 50px;
    font-weight: 400;
    margin-bottom: 10px
}

.hero-list {
    font-size: 0;
    margin-bottom: 25px;
}

.hero-list-item:first-child:before {
    content: ""
}

.hero-list-item:before {
    content: "\2022";
    top: -1px;
    left: -3px;
    font-size: 18px;
    position: absolute
}

.hero-list-item {
    position: relative;
    padding: 0 10px;
    font-size: 20px;
    display: inline-block
}

.hero-img-wrap {
    max-width: 1920px;
    margin: 0 auto;
    width: 100%;
    font-size: 0;
}

.hero-img {
    width: 100%
}

.hero-phrase {
    font-size: 20px
}
/* Section Product Quick Start */

.placeholder-sticky {
    padding: 0 0 30px
}

.quick-start-group.quick-start-size .gs-input-group {
    display: none;
}

/* A-frame buying experience */
.section-a-frame-buying-experience {max-width: initial;}
.section-a-frame-buying-experience .standard-container {max-width: initial;padding: 0;}
.section-a-frame-buying-experience .content {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.section-a-frame-buying-experience p {
    font-size: 18px;
}
.section-a-frame-buying-experience .sign {
    display: block;
    margin-top: 20px;
}
.section-a-frame-buying-experience .content-l,
.section-a-frame-buying-experience .content-r {
    flex: 0 0 auto;
}
.section-a-frame-buying-experience .content-l {max-width: 763px;width: 100%;margin-right: calc(5.5vw);}
.section-a-frame-buying-experience .content-r {
    /* align-self: flex-end; */
    width: calc(100vw / 2.3);
}
.section-a-frame-buying-experience .content-r .img-wrap {
    width: 100%;
}
.section-a-frame-buying-experience .see-more-reviews {
    color: #00aded;
    font-size: 18px;
    display: inline-block;
}

/* Grade "A" Signage For Your Every Need */
.list-signage-every-need h3 {
    font-size: 20px;
    margin-bottom: 25px;
}
.list-signage-every-need {font-size: 0;}
.item-signage-every-need {
    max-width: 445px;
    width: calc(100% / 3);
    display: inline-block;
    vertical-align: top;
    font-size: initial;
    padding: 0 25px;
}
.item-signage-every-need .img-wrap {
    margin-bottom: 35px;
}
.item-signage-every-need p {
    margin: 0 auto;
    font-size: 16px;
    max-width: 327px;
}
/* What Are A-Frames */
.section-what-are {

}
.section-what-are h1 {
    font-size: 30px;
}
.section-what-are .highlight-text {
    font-size: 18px;
}
.section-what-are .highlight-container {
    margin: 0 auto;
}
/* Section Features */
/* Section Featured */

.section-signs-features {
}

.section-signs-features * {
    box-sizing: border-box;
}

.featured-body {
    position: relative;
    margin-top: 60px;
    margin-bottom: 0;
}

.section-signs-features h2 {
}

.featured-img-wrap {
    max-width: 785px;
    width: 100%;
    margin: 0 auto;
}

.signs-featured-list {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.signs-featured-item {
    position: absolute;
    text-align: left;
    display: inline-block;
    max-width: 278px;
    width: 100%;
}

.signs-featured-item h3 {
    font-size: 22px;
    margin-bottom: 10px;
    line-height: 1.5;
    font-weight: 500;
}

.signs-featured-item p {
    color: #919396;
    font-weight: 300;
    font-size: 20px;
}

.signs-featured-item:nth-child(1) {
    top: 175px;
    left: 264px;
    /* margin-right: 167px; */
    max-width: 234px;
}

.signs-featured-item:nth-child(2) {
    bottom: 35px;
    left: 85px;
    /* padding-top: 195px; */
    max-width: 260px;
}

.signs-featured-item:nth-child(3) {
    left: 1080px;
    top: 85px;
    /* padding-left: 180px; */
    max-width: 255px;
}

.signs-featured-item:nth-child(4) {
    right: 75px;
    bottom: 90px;
    /* padding-left: 190px; */
}

.signs-featured-item:nth-child(5) {
    right: 416px;
    bottom: -121px;
    /* padding-left: 205px; */
    max-width: 368px;
}

.signs-featured-item .img-wrap {
    position: absolute;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    overflow: hidden;
    /* border: 5px solid #000; */
    /* box-shadow: 9px 8px 8px rgba(0, 0, 0, .19); */
}

.signs-featured-item .img-wrap img {
    width: 100%;
    height: 100%;
}

.signs-featured-item:nth-child(1) .img-wrap {
    right: -130px;
    top: -100px;
    /* background: red; */
}

.signs-featured-item:nth-child(2) .img-wrap {
    top: -44px;
    right: -118px;
}

.signs-featured-item:nth-child(3) .img-wrap {
    left: -167px;
    top: -29px;
}

.signs-featured-item:nth-child(4) .img-wrap {
    left: -165px;
    top: -20px;
}

/* Section Gallery Image  */
.section-gallery-image {
    padding-bottom: 70px;
}
.section-gallery-image .standard-container {
    padding-left: 0;
    padding-right: 0;
}
.section-gallery-image h2 {
    margin-bottom: 20px;
}
.section-gallery-image .image-gallery-2019 {
    margin-top: 50px;
}
.section-gallery-image .image-gallery-2019 .image-gallery-slider2019 {
    margin-bottom: 0 !important;
}
.section-gallery-image .image-gallery-slider2019-thumbnails {
    margin-top: 30px;
}
/* Design tool and services */
.design-services {
}
.design-services .myrow {
    display: flex;
    justify-content: space-between;
    margin: 0 -30px;
}
.design-services .design-services-group {
    margin-top: 0;
    margin-bottom: 0;
    max-width: 710px;
    margin: 0;
    padding: 0 30px;
    flex: 0 0 auto;
    width: 100%;
    /* min-width: 0; */
}
.design-services .design-services-heading {
    margin-top: 0;
    margin-bottom: 45px;
}
.design-services .design-services-image {
    margin-bottom: 0;
    /* height: 410px; */
    max-width: 710px;
    height: auto;
}
.design-services .design-services-text {
    color: #919396;
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: 400;
}
.design-services .design-services-group a {
    color: #0097d5;
    font-size: 20px;
}
/* Section Why */
.fab-main {
    width: 75%;
}
@media (max-width: 1680px) {
    /* Global */
    .standard-container {
        max-width: 1418px
    }

    /* Hero Section */
    .hero-img-wrap {
    }
    /* Design Tool and Services */
    .design-services .design-services-image {
        /* max-width: 503px; */
    }
    .design-services .design-services-group {
        max-width: 650px;
    }

    /* Featured Section */
    .signs-featured-item p {
    }
    .signs-featured-item:nth-child(1) {
        top: 163px;
        left: 175px;
    }

    .signs-featured-item:nth-child(1) .img-wrap {
        right: -145px;
        top: -90px;
    }

    .signs-featured-item:nth-child(2) {
        bottom: 31px;
        left: 22px;
    }

    .signs-featured-item:nth-child(3) {
        left: 995px;
        top: 58px;
    }

    .signs-featured-item:nth-child(3) .img-wrap {
        left: -165px;
        top: -13px;
    }

    .signs-featured-item:nth-child(4) {
        right: 1px;
        bottom: 77px;
    }

    .signs-featured-item:nth-child(4) .img-wrap {
        left: -170px;
        top: -23px;
    }

    .signs-featured-item:nth-child(5) {
        right: 365px;
        bottom: -121px;
    }

    .featured-body {
        margin-bottom: 0;
    }

    /* Section Why */
    .fab-main {
        width: 85%;
    }
    .fab-section {
        max-width: 418px;
    }
}

@media (max-width: 1600px) {
    /* Global */
    .standard-container {
        max-width: 1390px
    }

    /* Hero Image Wrap */
    .hero-img-wrap {
    }
    /* Design tool and services */
    .design-services .design-services-group {
        max-width: 632px;
    }

    /* Featured Section */
    .signs-featured-item:nth-child(3) {
        left: 985px;
        top: 70px;
    }
    /* Section Why */
    .fab-main {
        width: 90%;
    }
}

@media (max-width: 1536px) {
    /* Global */
    .standard-container {
        max-width: 1271px
    }

    /* Hero Section */
    .hero-img-wrap {
    }

    .standard-container {
        max-width: 1285px
    }
    /* You won't find a better A-frame buying experience! */
    .section-a-frame-buying-experience .content-l {
        max-width: initial;
        width: calc(100vw/2);
        margin-right: 0;
        padding-right: calc(3.5vw);
    }
    .section-a-frame-buying-experience .content-r {
        width: calc(100vw/2.2);
    }
    /* Design tool and services */
    .design-services .design-services-group {
        max-width: 587px;
    }

    /* Featured Section */
    .section-signs-features h2 {
        margin-bottom: 20px;
    }

    .featured-body {
        margin-bottom: 0;
        margin-top: 60px;
    }

    .featured-img-wrap {
        max-width: 590px;
    }

    .signs-featured-item .img-wrap {
        width: 135px;
        height: 135px;
    }

    .signs-featured-item:nth-child(1) {
        top: 123px;
        left: 178px;
    }

    .signs-featured-item:nth-child(1) .img-wrap {
        right: -115px;
        top: -75px;
    }

    .signs-featured-item:nth-child(2) {
        bottom: -12px;
        left: 67px;
    }

    .signs-featured-item:nth-child(3) {
        left: 873px;
        top: 52px;
    }

    .signs-featured-item:nth-child(3) .img-wrap {
        left: -142px;
        top: -12px;
    }

    .signs-featured-item:nth-child(4) {
        right: 70px;
        bottom: -10px;
        max-width: 240px;
    }

    .signs-featured-item:nth-child(4) .img-wrap {
        left: -145px;
        top: -14px;
    }

    .signs-featured-item:nth-child(5) {
        right: 258px;
        bottom: -131px;
    }

    .signs-featured-item:nth-child(5) .img-wrap {
        top: -66px;
        left: -153px;
    }

    /* Custom A-Frame Insert */
    #inserts .comparison-section {
        min-width: 0;
        max-width: 500px;
        width: 100%;
    }

    /* Section Why */
    .fab-main {
        width: 94%;
    }
}

@media (max-width: 1440px) {
    .standard-container {
        max-width: 1225px
    }

    /* Design Tools and Services */
    .design-services .design-services-group {
        max-width: 555px;
    }

    /* Featured Section */
    .featured-img-wrap {
        max-width: 620px;
    }

    .signs-featured-item .img-wrap {
        width: 150px;
        height: 150px;
    }

    .signs-featured-item p {
        font-size: 19px;
    }

    .signs-featured-item:nth-child(1) {
        max-width: 222px;
        top: 122px;
        left: 130px;
    }

    .signs-featured-item:nth-child(2) {
        max-width: 250px;
        bottom: 8px;
        left: 20px;
    }

    .signs-featured-item:nth-child(3) {
        max-width: 248px;
        left: 849px;
        top: 43px;
    }

    .signs-featured-item:nth-child(4) {
        max-width: 248px;
        right: 32px;
        bottom: 30px;
    }

    .signs-featured-item:nth-child(5) {
        /* max-width: 326px; */
        /* right: 424px; */
        /* bottom: -326px; */
        /* right: 242px; */
        /* bottom: -131px; */
        right: 260px;
        bottom: -129px;
    }

    .signs-featured-item:nth-child(1) .img-wrap {
        right: -145px;
        top: -75px;
    }

    .signs-featured-item:nth-child(2) .img-wrap {
        top: -55px;
        right: -137px;
    }

    .signs-featured-item:nth-child(3) .img-wrap {
        left: -146px;
        top: -10px;
    }

    .signs-featured-item:nth-child(4) .img-wrap {
        left: -143px;
        top: -16px;
    }

    .signs-featured-item:nth-child(5) .img-wrap {
        /* top: -151px; */
        /* left: 80px; */
        top: -66px;
        left: -140px;
    }

    .featured-body {
        margin-bottom: 0;
    }

    /* Section Why */
    .fab-main {
        width: 97%;
    }
}

@media (max-width: 1366px) {
    /* Global */
    .standard-container {
        max-width: 1123px
    }

    /* Section Hero */
    .hero-img-wrap {
    }

    /* You won't find a better A-frame buying experience! */
    .section-a-frame-buying-experience .content-l {

    }
    .section-a-frame-buying-experience .content-l {
        width: calc(100vw/2);
        padding-right: calc(3.5vw);
    }
    .section-a-frame-buying-experience .content-l h2 {
        font-size: 28px;
    }
    .section-a-frame-buying-experience .content-r {
        width: calc(100vw/2.2);
    }

    /* Design tool and services */
    .design-services .design-services-image {
        height: 280px;
        object-fit: contain;
    }

    .design-services .design-services-group {
        max-width: 540px;
        display: block;
    }
    .design-services .design-services-group .design-services-heading {
        margin: 0 auto 20px;
    }
    /* Featured Section */
    .featured-img-wrap {
        max-width: 480px;
    }

    .signs-featured-item .img-wrap {
        width: 125px;
        height: 125px;
    }

    .signs-featured-item p {
        font-size: 19px;
    }

    .signs-featured-item:nth-child(1) {
        max-width: 219px;
        top: 85px;
        left: 156px;
    }

    .signs-featured-item:nth-child(2) {
        max-width: 256px;
        bottom: -21px;
        left: 53px;
    }

    .signs-featured-item:nth-child(3) {
        max-width: 217px;
        left: 753px;
        top: 18px;
    }

    .signs-featured-item:nth-child(4) {
        max-width: 219px;
        right: 62px;
        bottom: -25px;
    }

    .signs-featured-item:nth-child(5) {
        max-width: 342px;
        right: 245px;
        bottom: -128px;
    }

    .signs-featured-item:nth-child(1) .img-wrap {
        right: -100px;
        top: -55px;
    }

    .signs-featured-item:nth-child(2) .img-wrap {
        top: -32px;
        right: -93px;
    }

    .signs-featured-item:nth-child(3) .img-wrap {
        left: -125px;
        top: 3px;
    }

    .signs-featured-item:nth-child(4) .img-wrap {
        left: -125px;
        top: -9px;
    }

    .signs-featured-item:nth-child(5) .img-wrap {
        /* top: -151px; */
        /* left: 80px; */
    }

    .featured-body {
        margin-bottom: 0;
    }

    /* Section Why */
    .fab-main {
        width: 96%;
    }
    .fab-section {
        max-width: 385px;
    }
    .fab-section-title {
        font-size: 1.6rem;
    }
}

@media (max-width: 1366px) and (max-height: 768px) {
    /* Section Hero */
    .hero-img-wrap {
    }
}

@media (max-width: 1280px) {
    /* Section Hero */
    .hero-img-wrap {
    }

    /* You won't find a better A-frame buying experience! */
    .section-a-frame-buying-experience .content-l h2 {
        font-size: 26px;
    }

    /* Custom A-Frame Insert */
    #inserts > .content-text {
        max-width: 900px;
        font-size: 16px;
    }
    #inserts .comparison-section {
        min-width: 0;
        max-width: 480px;
        width: 100%;
    }

    /* Section Why */
    .fab-section {
        max-width: 360px;
    }
    .fab-section-title {
        font-size: 1.5rem;
    }
}

@media (max-width: 1280px) and (max-height: 720px) {
    /* Section Hero */
    .hero-img-wrap {
    }
}
@media (max-width: 1270px) {
    .featured-img-wrap {
        max-width: 716px;
    }

    .signs-featured-item:nth-child(1) {
        max-width: 219px;
        top: 27px;
        left: -42px;
    }

    .signs-featured-item:nth-child(2) {
        max-width: 209px;
        bottom: -39px;
        left: -44px;
    }

    .signs-featured-item:nth-child(3) {
        max-width: 217px;
        left: 918px;
        top: 20px;
    }

    .signs-featured-item:nth-child(4) {
        max-width: 219px;
        right: -49px;
        bottom: 55px;
    }

    .signs-featured-item:nth-child(5) {
        max-width: 342px;
        right: 200px;
        bottom: -128px;
    }
}

@media (max-width: 1250px) {

}

@media (max-width: 1199px) {
    /* Hero Section */
    .section-hero-full-width h1 {
        font-size: 50px;
        line-height: 1;
    }
    /* Design tool and services */
    .design-services .myrow {
        margin: 0 -20px;
    }
    .design-services .design-services-group {
        max-width: 510px;
    }
    .hero-list {
        margin-bottom: 15px;
    }


    /* Featured Section */
    .featured-body {
        margin-top: 0;
        margin: 0 !important;
    }

    .featured-img-wrap {
        position: static;
        max-width: 420px;
    }

    .signs-featured-list {
        position: static;
        /* display: block; */
    }

    .signs-featured-item {
        position: relative !important;
        display: block !important;
        top: initial !important;
        left: initial !important;
        right: initial !important;
        bottom: initial !important;
        width: 100% !important;
        max-width: initial !important;
        margin: 0 !important;
        padding-left: 150px;
        min-height: 135px;
        margin-bottom: 35px !important;
    }

    .signs-featured-item .img-wrap {
        position: absolute !important;
        top: 0 !important;
        left: 0 !important;
        right: initial !important;
        bottom: initial !important;
    }

    .signs-featured-item:last-child {
        margin-bottom: 0 !important;
    }
    .signs-featured-item .img-wrap {
        width: 150px;
        height: 150px;
    }
    .signs-featured-item:nth-child(1) {

    }

    /* Custom A-Frames Signs */
    .comparison .comparison-split {
        vertical-align: top;
        /* align-items: flex-end; */
    }
    .comparison .comparison-section {
        min-width: 0;
        max-width: 320px;
        margin: 0 50px;
    }
    .comparison .comparison-section img {
        flex: 0 0 auto;
    }

    #inserts .comparison-section {
        max-width: 355px;
    }

    /* Section Why */
    .fab-section {
        max-width: 300px;
        margin-left: 0;
        margin-right: 0;
    }
    .fab-section-sub-title {
        font-size: 1rem;
    }
    .fab-section-title {
        font-size: 1.2rem;
    }

}

@media (max-width: 991px) {
    /* Hero Section */
    .section-hero-full-width {
        padding: 70px 0 15px
    }
    /* You won't find a better A-frame buying experience! */
    .section-a-frame-buying-experience .content-l {
        width: 100%;
        padding: 0;
    }
    .section-a-frame-buying-experience .content-r {
        width: 100%;
        margin-bottom: 20px;
        max-width: 500px;
        margin: 0 auto 20px;
    }

    .section-a-frame-buying-experience .content-r .img-wrap {
        max-width: initial;
    }

    .section-a-frame-buying-experience .content-l h2 {
        margin-bottom: 20px;
        padding: 0 20px;
    }

    .section-a-frame-buying-experience p {
        padding: 0 20px;
    }

    .img-wrap {}
    /* Section Gallery Image  */
    .section-gallery-image .image-gallery-slider2019-thumbnails {
        margin-top: 30px;
    }

    .section-signage-every-need h2 {margin-bottom: 20px;}
    .list-signage-every-need {

    }
    .item-signage-every-need {
        max-width: 365px;
        width: 100%;
        margin: 0 auto 40px;
    }

    .item-signage-every-need:last-child {
        margin-bottom: 0;
    }

    /* Design tool and services */
    .design-services,
    .design-services * {
        box-sizing: border-box;
    }
    .design-services .myrow {
        display: block;
        margin: 0;
    }
    .design-services .design-services-group {
        margin: 0 auto 40px;
        max-width: 485px;
        padding: 0;
    }
    .design-services .design-services-image {
        height: auto;
        width: 100%;
        max-width: 693px;
    }
    .design-services .design-services-group:nth-child(2) {
        margin-bottom: 0;
    }
    .design-services-heading > br {
        display: none;
    }
    .design-services .design-services-heading {
        margin: 0 0 20px;
        max-width: initial;
        width: 100%;
        padding: 0 20px;
    }


    /* Featured Section */
    .featured-img-wrap {
        max-width: 385px;
        margin-bottom: 30px;
    }
    /* Custom A-Frame Insert */
    .comparison .comparison-section {
        display: block;
        text-align: center;
        margin-bottom: 40px;
    }
    .comparison .comparison-section:last-child {
        margin-bottom: 0;
    }
    .comparison .comparison-section .img-wrap {height: 305px;overflow: hidden;}
    .comparison .comparison-section .img-wrap img {object-fit: cover;object-position: 0 -45px;width: 100%;}
    .comparison .comparison-section:last-child .img-wrap {
        height: 295px;
    }
    .comparison .comparison-section:last-child .img-wrap img {
        width: 100%;
        object-fit: cover;
        object-position: 0 -10px;
    }

    #inserts .comparison-section {
        max-width: 285px;
        margin: 10px 40px;
    }
    #inserts > .content-text {
        padding: 0 20px;
    }

    /* Why Signs.com */
    .fab-main {
        display: block;
    }
    .fab-section {
        display: block;
        text-align: center;
        margin: 0 auto;
        max-width: 336px;
    }
}

@media (max-width: 800px) {
    .section-gallery-image .image-gallery-2019 .slick-next {
        display: block!important;
    }
}

@media (max-width: 768px) {
    /* What Are A-Frames? */
    .section-what-are .highlight-section {
        display: block;
    }
    .section-what-are #what-are .highlight-section h2 {
        text-align: center;
        margin-bottom: 30px;
    }
    .section-what-are .highlight-image-container {
        max-width: 390px;
        height: 315px;
        margin: 0 auto 10px;
        overflow: hidden;
    }
    .section-what-are .highlight-image-container img {
        object-fit: cover
    }
    .section-what-are .content-header {
        margin: 0 auto;
    }
    .section-what-are .highlight-group {
        margin-bottom: 0;
    }
    .section-what-are .highlight-text {
        margin-top: 0;
    }
    .section-what-are .highlight-text:last-child {
        margin-bottom: 0;
    }

    /* A-Frames */
    .section-tertiary ul {
        padding: 0 10px!important;
    }
    .section-tertiary ul li {
        position: relative!important;
        padding: 0!important;
        display: block!important;
        min-height: 120px;
        padding-left: 120px!important;
    }
    .section-tertiary ul li h4 {
        margin: 0!important;
    }
    .section-tertiary ul li p {
        margin: 0!important;
    }
    .section-tertiary ul li img {
        position: absolute!important;
        width: 120px!important;
        height: 120px!Important;
        left: 0!important;
        right: initial !important;
        top: 0 !important;

    }

}

@media (max-width: 767px) {

}

@media (max-width: 575px) {
    .section-default {
        padding: 30px 0
    }
    .standardWidth {
        margin-top: 71px;
    }
    /* Section Hero Full Width */
    .section-hero-full-width {
        padding-top: 0;
        padding-bottom: 0;
    }

    .hero-head h1 {
        font-size: 30px
    }

    .hero-body {
    }
    .hero-img-wrap {
        background: url("https://www.signs.com/content/assets/filelibrary/A-Frame-Mobile-Hero-10767.jpg") no-repeat center center;
    }
    .hero-img-wrap img {
        opacity: 0;
    }
    .hero-list-item {
        font-size: 15px;
        display: inline-block
    }

    .hero-list-item:first-child:before {
        content: "\2022";
        visibility: hidden;
    }

    .hero-list-item:nth-child(3):before {
        content: "\2022";
        visibility: hidden;
    }

    .hero-img-wrap {
        box-sizing: border-box;
        margin: 0;
    }

    .hero-phrase {
        font-size: 16px
    }



    /* Customers Review Section */
    #review_image {
        display: none
    }

    #product_page #sa_sort {
        display: block;
        text-align: center;
        margin: 20px auto 0
    }

    #product_page .paging {
        height: auto;
        padding: 0;
        text-align: center
    }

    #shopper_review_page {
        padding-bottom: 35px;
        margin-left: 0;
        margin-right: 0;
        width: 100%;
    }

    .section-product-reviews #review_header {
        padding: 0;
    }

    /* Section Gallery Image */
    .section-gallery-image .standard-container {
        padding-left: 0;
        padding-right: 0;
    }

    /* Design tool and services */
    .design-services .design-services-group {
        padding: 0;
    }
    .design-services .myrow {
        margin: 0 -20px;
    }
    .design-services-heading > br {
        display: none;
    }
    .design-services .design-services-heading {
        margin: 0 0 20px;
        max-width: initial;
        width: 100%;
        padding: 0 20px;
    }
    /* What Are A-Frames? */
    .section-what-are .highlight-section {
        margin: 0 auto;
    }
    .section-what-are .highlight-image-container {
        height: 255px;
        margin-bottom: 20px;
    }
    .section-what-are .highlight-group .highlight-text {
        text-align: center;
    }

    /* Featured Section */
    .signs-featured-item .img-wrap {
        width: 130px;
        height: 130px;
    }

    .signs-featured-item {
        padding-left: 130px !important;
    }

    .signs-featured-item h3 {
        font-size: 20px;
        margin-bottom: 3px;
    }

    .signs-featured-item p {
        font-size: 16px;
    }
    .signs-featured-item:last-child p {
        margin-bottom: 0;
    }

    .featured-img-wrap {
        max-width: 250px;
    }

    /* Custom A-Frame Signs */
    .comparison .comparison-section .img-wrap {
        height: 375px;
        overflow: hidden;
    }
    #inserts > .content-text {
        padding: 0 10px;
    }

}
@media (max-width: 414px) {
    .hero-img-wrap {
        height: 192px;
    }
    .hero-img-wrap img {
        object-fit: cover;
        height: 100%;
        object-position: left;
    }
    /*  */
    .section-a-frame-buying-experience p {
        padding: 0 10px;
    }
    /* Quick Start Section */
    .quick-start-qty .sizeInput {display: flex!important;margin-right: 0;}
    .quick-start-qty .sizeInput .clear_0 {
        display: none;
    }
    .quick-start-group label {
        margin-left: 0;
        text-align: left;
    }
    .quick-start-group .quick-start-span {
        padding-right: 0;
    }

    .section-gallery-image .image-gallery-2019 {
        margin-top: 35px;
    }

    /* Custom A-Frame Inserts */
    #inserts .comparison-section .content-text {
        font-size: 16px;
    }
}
@media (max-width: 375px) {
    /* Hero Section */
    .hero-img-wrap {
        background-position-x: -17px;
    }
    .hero-img-wrap img {

    }
    .section-gallery-image h2 {
        font-size: 22px;
        padding: 0 10px;
    }
    .section-gallery-image .image-gallery-2019 {
        margin-top: 25px;
    }
    /* Section Featured */
    .signs-featured-item .img-wrap {
        width: 120px;
        height: 120px;
    }
    .signs-featured-item {
        padding-left: 120px !important;
    }
    /* Custom A-Frame Signs */
    .comparison .comparison-split .content-header {
        margin-top: 0;
    }
    .comparison .comparison-section .img-wrap {
        height: 325px;
    }
    .comparison .comparison-section:last-child .img-wrap {
        height: 250px;
    }

    /* Additional Section */
    .additional-specs .spec-title {
        max-width: 125px;
    }
}

@media (max-width: 360px) {
    .section-gallery-image h2 {
        font-size: 22px;
        padding: 0 10px;
        margin-bottom: 0;
    }
    /* Custom A-Frame Signs */
    .comparison .comparison-section .img-wrap {
        height: 295px;
    }
    .comparison .comparison-section:last-child .img-wrap {
        height: 240px;
    }
    /* Why Section */
    .section-y .content-header {
        margin: 30px auto 20px;
    }
    .fab-section {
        box-sizing: border-box;
    }
}

@media (max-width: 320px) {
    /* Global */
    .standardWidth {
        margin-top: 68px;
    }

    /* Hero Section */
    .hero-head {
        padding: 0;
    }
    .hero-list {

    }
    .hero-list-item {
        font-size: 14px;
    }

    .hero-list-item:first-child:before {
        content: "\2022";
        visibility: hidden;
    }

    .hero-list-item:nth-child(3):before {
        content: "\2022";
        visibility: visible;
    }

    .hero-head h1 {
        font-size: 29px;
        padding: 0 10px;
    }

    /* Section Featured */
    .signs-featured-item {
        padding-left: 100px !important;
    }
    .signs-featured-item .img-wrap {
        width: 100px;
        height: 100px;
    }

    /* Custom A-Frame Signs */
    .comparison .comparison-section .img-wrap {
        height: 250px;
    }
    .comparison .comparison-section:last-child .img-wrap {
        height: 200px;
    }

}