<div class="container-new main-content">
    <div class="main-content-header">
        <h1>Custom A-Frame Signs</h1>
        <div class="main-sub-title">
            <span class="type">Durable</span> <span>&#9679</span> <span class="type">Reusable</span> <span>&#9679</span> <span class="type">Portable</span> <span>&#9679</span> <span class="type">Weather
            Resistant</span>
        </div>
    </div>
    <div class="section-image"><img class="bg-image" src="https://www.signs.com/content/assets/filelibrary/AFrameArtboard-16@2x-6797-6832.png"
                                    alt="Custom A-Frame Signs"></div>
    <div class="header-text">Looking for inserts or decals for an existing A-frame sign? <a href="#inserts" class="standard-link">Click
        here!</a></div>
</div>
</div>