img.bg-image {
    max-width: 850px;
}
.highlight-container.what-are .highlight-image-container {
    margin-right: 0;
}
#customization .standard-separator {
    display: none;
}
#customization .custom {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 100px 50px;
}

#customization .custom h2 {
    font-size: 1.7rem;
    flex: 1 1 0px;
    text-align: center;
    font-weight: 500;
}

#customization .custom .size-images {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#customization .custom .size-images .img-container img {
    display: block;
    position: relative;
    border-radius: unset;
    box-shadow: none;
}

#customization .custom .size-images .img-container img.small {
    max-width: 130px;
    /* height: 200px; */
}

#customization .custom .size-images .img-container img.medium {
    max-width: 180px;
}

#customization .custom .size-images .img-container img.large-size {
    max-width: 220px;
    height: auto;
}

#customization .custom-container {
    flex: 1 1 600px;
    text-align: center;
}

#customization .custom-container p {
    font-size: 1.2rem;
    margin-top: 10px;
    max-width: 900px;
    text-align: left;
}

.shape-container {
    display: flex;
}

#customization .shape-container p {
    text-align: center;
    margin: 10px 60px;
}

.shape-container .shape {
    flex: 1;
}

.custom-container h4 {
    font-size: 1.4rem;
    margin-bottom: 10px;
}

.surface-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.surface {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#customization .custom-container p.surface-type {
    margin-top: -10px;
    font-size: 1rem;
}
.slick-slide {
    margin: 15px;
    width: 700px !important;
}
iframe.installation-video {
    width: 700px;
    height: 500px;
    align-self: center;
}
.highlight-text a {
    color: #2e2ed2;
}
.header-text {
    color: black;
    text-align: center;
    margin-bottom: 25px;
    font-size: 1.4rem;
}
a.get-started-button {
    color: white;
    margin: auto;
    max-width: 300px;
    margin-bottom: 20px;
}
.options-container .option:hover {
    /* flex: 1 1 300px; */
    background-color: #2c7abf6e;
}
.options-container {
    display: flex;
    justify-content: center;
    align-items: baseline;
    margin-bottom: 20px;
    flex-wrap: wrap;
}
.options-container .text {
    opacity: 1;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: white;
    width: 100%;
    box-sizing: border-box;
}

.options-container .option {
    display: flex;
    flex-direction: column;
    flex: 1 1 200px;
    justify-content: stretch;
    align-items: center;
}
.options-container .option img {
    flex: 0;
    width: 285px;
    max-width: 100%;
    padding-bottom: 20px;
    padding-top: 20px;
}

.options-container .text h3 {
    font-size: 1.5em;
    font-weight: 600;
}

.options-container .text p {
    padding: 0px 20px;
    font-size: 1.2em;
    max-width: 300px;
    text-align: center;
    align-self: center;
}


p.related-sub-heading {
    text-align: left;
    font-size: 1.4rem;
    font-weight: 400;
    margin: 20px;
}
a.related-group {
    flex: 1 1 300px;
    max-width: 300px;
    margin: 10px;
    text-align: center;
}
.pdf-link {
    color: #3fa9f5 !important;
    text-decoration: underline;
}
.step-text ul {
    list-style: disc;
    list-style-position: inside;
    font-size: 1.3rem;
}
.how-to-install {
    display: flex;
    flex-direction: column;
    margin: 30px 80px;
}

h2.how-to-install-heading {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 50px;
}

p.how-to-install-text {
    font-size: 1.5rem;
    text-align: center;
    max-width: 1200px;
    margin: 10px auto 30px;
}

.install-steps {
    display: flex;
    flex-direction: column;
}

.step {
    display: flex;
    flex: 1;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 30px;
}


.step img {
    width: 100%;
    max-width: 400px;
}

.step-text {
    margin-left: 40px;
    font-size: 1.5rem;
    flex: 1 1 auto;
}
p.step-asterisk {
    font-size: 1em;
    margin-left: 43px;
}
div#printing-method.highlight-container .content-header {
    text-align: left;
    margin-left: 0;
    /* background-image: url(https://www.signs.com/content/assets/filelibrary/ClearWindowDecalBackground2-5055.png); */
}

div#printing-method.highlight-container {
    background-image: url(https://www.signs.com/content/assets/filelibrary/ClearWindowDecalBackground2-5055.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    margin-bottom: 0;
    padding-bottom: 20px;
}

div#printing-method.highlight-container p {
    color: white;
}
div#printing-method.highlight-container .content-header {
    text-align: left;
    margin-left: 0;
}
section#clear-vs-lettering .content-header {
    text-align: left;
}

.image-comparison {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.text-and-button {
    flex: 1 1 200px;
    text-align: left;
    margin: 100px;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text-and-button a {
    border: 2px solid #a2d272;
    max-width: 350px;
    padding: 10px;
    border-radius: 5px;
    color: #a2d272;
    margin: 20px auto;
}

.image-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
    margin: 20px 40px 20px 0px;
}

.image-container img {
    max-width: 400px;
}

section#clear-vs-lettering {
    margin: 50px;
}

.image-container h3 {
    margin: 5px;
}
.highlight-container.what-are {
    background: url(https://www.signs.com/content/assets/filelibrary/ClearWindowDecalBackground1-5054.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.highlight-container.what-are .highlight-group {
    color: white;
}

.highlight-container.what-are h1.content-header {
    text-align: left;
    margin-left: 0;
    margin-top: 20px;
}
.main-content-with-background h1 {
    padding-top: 0;
}
.content-text {
    padding-left: 10px; 
    padding-right: 10px; 
    flex: 1 1 auto;
    color: black;
    position: static;
}
.fab-main {
    width: 85%;
}
.image-wrapper .vertical-align img {
    height: 390px;
}
.fab-section {
    flex: 1;
}

.coffee-image {
    width: 100%;
}
/* ------------------------------------------------------------ *\
	Section Tertiary
\* ------------------------------------------------------------ */
h1.tertiary-heading {
    position: absolute;
    margin-top: 40px;
    font-size: 2.5em;
    font-weight: 500;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    color: white;
    right: 0;
}
/* .section-tertiary { padding: 40px 0 0; }  */
.section-tertiary .section-head { text-align: center;  }
.section-tertiary .section-head h1 { font-weight: 600 !important; text-transform: uppercase; margin: 0; }
.section-tertiary .section-body { text-align: center; position: relative; margin: 0 auto; }
.section-tertiary .section-body > img {     width: 100%; }
.section-tertiary .section-body ul { list-style: none; margin: 0; padding: 0; text-align: left; }
.section-tertiary .section-body ul h4 { font-weight: 600; font-size: 22px; margin: 0 0 5px; color: white; }
.section-tertiary .section-body ul p { font-weight: 300; font-size: 16px; color: #666; margin: 0; line-height: 1.2; max-width: 210px; color: #e8e8e8; }
.section-tertiary .section-body ul li { position: absolute; padding: 5px 20px; }
.section-tertiary .section-body ul li:nth-child(1) {     left: 18%; top: 30%; }
.section-tertiary .section-body ul li:nth-child(1) img { position: absolute; left: 136px; top: -126px; }
.section-tertiary .section-body ul li:nth-child(2) { width: 380px; left: 70%; top: 20%; }
.section-tertiary .section-body ul li:nth-child(2) img { position: absolute; right: 397px; top: -20px; }
.section-tertiary .section-body ul li:nth-child(3) { left: 11%; top: 50%; }
.section-tertiary .section-body ul li:nth-child(3) img { }
.section-tertiary .section-body ul li:nth-child(4) { left: 35%; top: 80%; }
.section-tertiary .section-body ul li:nth-child(4) img { position: absolute; left: -160px; top: -50px; }
.section-tertiary .section-body ul li:nth-child(5) { width: 300px; left: 69%; top: 44%; }
.section-tertiary .section-body ul li:nth-child(5) img { }
.section-tertiary .section-actions { text-align: center; padding-top: 102px; }
@media (max-width: 1319px) {
	.section-tertiary .section-body {  }
	.section-tertiary .section-body > img {  }

	.section-tertiary .section-body ul li:nth-child(1) { left: 10%; top: 30%; }
	.section-tertiary .section-body ul li:nth-child(2) { left: 70%; top: 14%; }
	.section-tertiary .section-body ul li:nth-child(3) { left: 11%; top: 50%; }
	.section-tertiary .section-body ul li:nth-child(4) { left: 45%; top: 84%; }
	.section-tertiary .section-body ul li:nth-child(5) { left: 73%; top: 40%; }
	.section-tertiary .section-body ul li:nth-child(5) br { display: none; }
.options-container .option {
    flex: 1 1 400px;
}
}
/* Small Desktop */
@media (max-width: 1159px) {
	.section-tertiary { overflow: hidden; }

	.section-tertiary .section-body { }
	.section-tertiary .section-body > img { }

        .section-tertiary .section-body ul li:nth-child(1) { left: 5%; top: 26%; }
	.section-tertiary .section-body ul li:nth-child(2) { width: 280px; left: 70%; top: 14%; }
	.section-tertiary .section-body ul li:nth-child(2) br { display: none; }
	.section-tertiary .section-body ul li:nth-child(2) img { right: 290px; }

	.section-tertiary .section-body ul li:nth-child(3) { left: 2%; top: 47%%; } 
	.section-tertiary .section-body ul li:nth-child(4) { left: 45%; top: 81%; }
	.section-tertiary .section-body ul li:nth-child(5) { left: 73%; top: 40%; }
}
/* Tablet Portrait */
@media (max-width: 1023px) {
        .section-tertiary .section-body ul h4 { color: black; }
	.section-tertiary .section-head { margin-bottom: 60px; }
        .section-tertiary .section-body ul li { background-color: none; }
	.section-tertiary .section-body { width: 100%; }
	.section-tertiary .section-body ul { margin-top: 30px; display: flex; flex-wrap: wrap;}
	.section-tertiary .section-body ul li { width: 100%!important; position: relative; left: 0 !important; right: 0 !important; top: 0 !important; bottom: 0 !important; padding-left: 5px; display: flex; justify-content: space-around; align-items: center; }
        .section-tertiary .section-body ul li:nth-child(1) img { position: static; left: 0; top: 0; }
        .section-tertiary .section-body ul li:nth-child(2) img { position: static; right: 0; top: 0; }
        .section-tertiary .section-body ul li:nth-child(3) img { position: static; right: 0; top: 0; }
        .section-tertiary .section-body ul li:nth-child(4) img { position: static; right: 0; top: 0; }
        .section-tertiary .section-body ul li:nth-child(5) img { position: static; left: 0; top: 0; }
	.section-tertiary .section-body ul li img { /*left: 0 !important; top: 0 !important;*/ width: 90px; height: 90px; }
	.section-tertiary .section-body ul li ~ li { margin-top: 30px; }
        .section-tertiary .section-body ul h4 {
            font-size: 20px;
            margin: 0px 10px 0;
            flex: 0.2 1 200px;
        }
        .section-tertiary .section-body ul p { flex: 1 1 200px; margin-right: 5px; max-width: none; color: black; }
	.section-tertiary .section-actions { padding-top: 40px; }
.options-container .option img {
    max-width: 300px;
}
.options-container .option {
    flex: 1 1 300px;
}
}
@media only screen and (max-width: 1000px){
/*.dh-container img {
    max-width: 300px;
}*/
.options-container .text p {
    max-width: 300px;
    margin: auto;
}

h1.tertiary-heading {
    margin-top: 50px;
}
}
/* Mobile */
@media (max-width: 767px) {
	.section-tertiary .section-head { margin-bottom: 30px; }

	.section-tertiary .section-body > img { }
	.section-tertiary .section-body ul p br { display: none; }

.cut-options-container {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    flex-wrap: wrap;
}
.cut-options-container p {
    font-size: 1.5rem;
}
.cut-option {
    padding: 20px;
    max-width: 500px;
}
.cut-options-container img {
    width: 100%;
}
}


section#cut-options {
    background: url(https://www.signs.com/content/assets/filelibrary/CarTruck-LetteringSky-4872.png);
    background-size: cover;
    text-align: center;
    background-repeat: no-repeat;
}
section#cut-options h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
margin-top: 20px;
}
body{
font-size:1em;
}
.content-header.options {
    font-size: 2.5rem;
    margin: 40px 5px 40px 45px;
    text-align: left;
}
p.options-description {
    font-size: 1.3rem;
    margin: 20px 45px;
}
.highlight-container {
    background-color: white;
    color: black;
}
.highlight-section {
    margin-right: 5%;
    flex: 1 .5 350px;
}
.highlight-header {
    font-size: 2.5em;
}
.highlight-image-container {
    flex: 0.5 1 250px;
    margin: 0 30px;
    align-items: center;
}
.highlight-group {
    color: black;
    align-items: flex-start;
}
.highlight-text.left{
    text-align: left;
    font-size: 1.5em;
    margin: 40px 0;
}
span.fab-asterisk {
    font-style: italic;
    font-size: 0.8em;
}
.content-header {
    font-size: 2.5rem;
}
    font-size: 2.5rem;
    margin: 40px 5px 40px 45px;
    text-align: left;
}
p.options-description {
    font-size: 1.3rem;
    margin: 20px 45px;
}
.hero-image{
    background: url("https://www.signs.com/content/assets/filelibrary/flag-hero-3287.png") no-repeat;
}

@media only screen and (max-width: 800px) {
#customization .custom-container {
    flex: 1 1 200px;
}
    #customization .custom {
        margin: 0 0px 50px;
        flex-direction: column;
    }
    #customization .custom.size {
        margin-top: 30px;
    }
    #customization .custom .size-images .img-container img {
        margin: 5px;
    }
    #customization .custom .size-images .img-container img.large-size {max-width: 120px;}
    #customization .custom .size-images .img-container img.small {max-width: 70px;margin: 5px;}
    #customization .custom .size-images .img-container img.medium {
        max-width: 100px;
    }
    #customization .custom-container p {
        text-align: center;
        margin: 10px 10px;
    }
    #customization .custom img {
        max-width: 150px;
    }
    #customization .custom h2 {
        margin-bottom: 15px;
    }
    #customization .custom-container .surface-container, #customization .custom-container .shape-container{
        flex-wrap: wrap;
    }
    .shape-container .shape {
        flex: 1 1 200px;
    }
    .surface, .shape {
        margin-top: 20px;
    }
    #customization .standard-separator {
        display: block;
    }
iframe.installation-video {
    width: 90%;
    min-height: 300px;
    height: 0;
}
.slick-prev{
    left: 0px;
}
.slick-next {
    right: 0px;
}
.slick-slide {
    margin: 0px !important;
    width: 200px !important;
}
.main-sub-title {
    display: flex;
    flex-direction: column;
    margin: 10px;
}
.main-sub-title span {
    visibility: hidden;
}
.section-image {
    order: -1;
}
section#clear-vs-lettering {
    margin: 10px;
}
.image-container {
    margin: unset;
}
.text-and-button {
    margin: 0px; 
}
.options-container .option {
    flex: 1 1 500px;
}
.content-header.options {
    margin: 70px auto 20px auto;
    text-align: center;
}
.hero-image {
    height: 210px;
    margin-top: 0px;
}
.options-container .text p {
    padding: 0px 20px;
}
.design-services-group {
    flex: 1 1 300px;
}
.highlight-container.what-are .highlight-image-container {
    margin-left: auto;
    margin-right: 0;
}
.step-text {
    margin-left: 0px;
}
p.how-to-install-text {
    margin: 10px 20px 30px 20px;
    padding: 10px;
}
.how-to-install {
    margin: 0px;
}
.step {
    margin: 0px;
    padding: 10px;
    flex-wrap: wrap;
}
.hero-image {
    height:210px;
    margin-top: 0px;
}
h1.tertiary-heading {
    margin-top: 30px;
    font-size: 1.5rem;
}
.fab-section {
    flex: none;
}
.content-text {
    font-size: 1em;
    padding-bottom: 0px;
}
.image-wrapper .vertical-align img {
    height: auto;
}
}

input[type=checkbox]:checked + div {
	opacity:0;
	max-height:0;
	border:none;

}
label [type=checkbox]{
         color: #3FA9F5;
}
.additional-specs-section {
  margin: 60px 0;
  font-size: 20px;
}

.additional-specs-section .specs-table {
  margin: 0 auto;
}

.additional-specs-section .specs-table th,
.additional-specs-section .specs-table td {
  padding: 20px;
  text-align: center;
  color: #777;
  vertical-align: baseline;
}

.additional-specs-section .specs-table th:first-child,
.additional-specs-section .specs-table td:first-child {
  display: none;
  text-align: left;
  padding-left: 0;
  color: #333;
}

.additional-specs-section .specs-table th:last-child,
.additional-specs-section .specs-table td:last-child {
  width: 50%;
}

.additional-specs-section .specs-table td:nth-child(2) {
  border-right: 1px solid #ccc;
}

.additional-specs-section .specs-table th {
  color: #333;
  font-size: 20px;
  text-decoration: underline;
}

.additional-specs-section .specs-table .mobile-heading {
  display: block;
  color: #333;
}

.additional-specs-section.single-product-specs .specs-table {
  max-width: 500px;
}

.additional-specs-section.single-product-specs .specs-table td:nth-child(2) {
  border-right: none;
}

.additional-specs-section.single-product-specs .specs-table td:last-child {
  width: auto;
}

@media (min-width: 992px) {
  .additional-specs-section .specs-table {
      max-width: 70%;
  }

  .additional-specs-section .specs-table tr:not(:last-child) > th,
  .additional-specs-section .specs-table tr:not(:last-child) >  td {
      border-bottom: 1px solid #ccc
  }

  .additional-specs-section .specs-table th,
  .additional-specs-section .specs-table td {
      text-align: left;
      vertical-align: middle;
  }

  .additional-specs-section .specs-table th {
      text-align: center;
      text-decoration: none;
  }

  .additional-specs-section .specs-table .mobile-heading {
      display: none;
  }

  .additional-specs-section .specs-table th:first-child,
  .additional-specs-section .specs-table td:first-child {
      display: table-cell;
      padding-right: 0;
  }

  .additional-specs-section.single-product-specs .specs-table td:first-child {
      width: 150px;
  }
}

@media (min-width: 1500px) {
    .additional-specs-section.single-product-specs .specs-table {
      max-width: 40%;
    }

  .additional-specs-section .specs-table th:first-child,
  .additional-specs-section .specs-table td:first-child {
      width: 200px;
  }

  .additional-specs-section.single-product-specs .specs-table td:first-child {
    width: 200px;
  }
}

