<section class="caSection" id="companyInfo">
    <div class="my-form-group">
        <label>Legal Name:<span class="caRequired">*</span></label>
        @Html.TextBoxFor(model => model.LegalName)
    </div>
    <div class="my-form-group">
        <label>Dba:</label>
        @Html.TextBoxFor(model => model.Dba)
    </div>
    <div class="my-form-group">
        <label>Dunn and Bradstreet #:<span class="caRequired">*</span></label>
        @Html.TextBoxFor(model => model.DunnAndBradstreet) NAICS Code: @Html.TextBoxFor(model => model.NaicsCode)
    </div>
    <div class="my-form-header caHeading">COMPANY ADDRESS</div>
    <div class="my-form-group"><label>Address Line 1:<span class="caRequired">*</span></label> @Html.TextBoxFor(model =>
        model.CompanyAddress1)
    </div>
    <div class="my-form-group"><label>Address Line 2:</label> @Html.TextBoxFor(model => model.CompanyAddress2)</div>
    <div class="my-form-group"><label>City:<span class="caRequired">*</span></label> @Html.TextBoxFor(model =>
        model.CompanyCity) State:<span class="caRequired">*</span> @Html.TextBoxFor(model => model.CompanyState)
        Zip:<span class="caRequired">*</span> @Html.TextBoxFor(model => model.CompanyZip)
    </div>
    <div class="my-form-group"><label>Phone:<span class="caRequired">*</span></label> @Html.TextBoxFor(model =>
        model.CompanyPhone) Fax: @Html.TextBoxFor(model => model.CompanyFax)
    </div>
    <div class="my-form-group">@Html.RadioButtonFor(model => model.BusinessStructure, "Individual", new { @class =
        "caRadioInput" }) Individual / Sole Proprietor @Html.RadioButtonFor(model => model.BusinessStructure,
        "Partnership", new { @class = "caRadioInput" }) Partnership @Html.RadioButtonFor(model =>
        model.BusinessStructure, "Corporation", new { @class = "caRadioInput" }) Corporation @Html.RadioButtonFor(model
        => model.BusinessStructure, "Government", new { @class = "caRadioInput" }) Government @Html.RadioButtonFor(model
        => model.BusinessStructure, "Other", new { @class = "caRadioInput" }) Other
    </div>
    <div class="my-form-group"><label>Date Business Established:</label>@Html.TextBoxFor(model =>
        model.DateBusinessEstablished) Type of Business: @Html.TextBoxFor(model => model.TypeOfBusiness)
    </div>
    <div class="my-form-group"><label>President or Manager:</label> @Html.TextBoxFor(model => model.PresidentManager)
        Phone: @Html.TextBoxFor(model => model.PresidentManagerPhone)
    </div>
    <div class="my-form-group"><label>Accounts Payable Manager:</label> @Html.TextBoxFor(model =>
        model.AccountsPayableManager) Phone:@Html.TextBoxFor(model => model.AccountsPayableManagerPhone)
    </div>
    <div class="my-form-group"><label>Accounts Payable Email:</label> @Html.TextBoxFor(model =>
        model.AccountsPayableManagerEmail)
    </div>
    <div class="my-form-header caHeading">TRADE REFERENCES</div>
    <section class="caInnerSection" id="TradeReference1">

        <div class="my-form-subheader tradeReference">Trade Reference 1</div>
        <div class="my-form-group"><label>Name: </label>@Html.TextBoxFor(model => model.TradeReference1.CompanyName)
        </div>
        <div class="my-form-group"><label>Address Line 1: </label>@Html.TextBoxFor(model =>
            model.TradeReference1.AddressLine1)
        </div>
        <div class="my-form-group"><label>Address Line 2: </label>@Html.TextBoxFor(model =>
            model.TradeReference1.AddressLine2)
        </div>
        <div class="my-form-group"><label>City: </label>@Html.TextBoxFor(model => model.TradeReference1.City) State:
            @Html.TextBoxFor(model => model.TradeReference1.State) Zip: @Html.TextBoxFor(model =>
            model.TradeReference1.Zip)
        </div>
        <div class="my-form-group"><label>Phone: </label>@Html.TextBoxFor(model => model.TradeReference1.Phone)
            Fax:@Html.TextBoxFor(model => model.TradeReference1.Fax)
        </div>
        <div class="my-form-group"><label>Account Number: </label>@Html.TextBoxFor(model =>
            model.TradeReference1.AccountNumber) Contact: @Html.TextBoxFor(model => model.TradeReference1.Contact)
        </div>


    </section>
    <section class="caInnerSection" id="TradeReference2">

        <div class="my-form-subheader tradeReference">Trade Reference 2</div>
        <div class="my-form-group"><label>Name:</label> @Html.TextBoxFor(model => model.TradeReference2.CompanyName)
        </div>
        <div class="my-form-group"><label>Address Line 1:</label> @Html.TextBoxFor(model =>
            model.TradeReference2.AddressLine1)
        </div>
        <div class="my-form-group"><label>Address Line 2:</label> @Html.TextBoxFor(model =>
            model.TradeReference2.AddressLine2)
        </div>
        <div class="my-form-group"><label>City:</label> @Html.TextBoxFor(model => model.TradeReference2.City) State:
            @Html.TextBoxFor(model => model.TradeReference2.State) Zip: @Html.TextBoxFor(model =>
            model.TradeReference2.Zip)
        </div>
        <div class="my-form-group"><label>Phone:</label> @Html.TextBoxFor(model => model.TradeReference2.Phone)
            Fax:@Html.TextBoxFor(model => model.TradeReference2.Fax)
        </div>
        <div class="my-form-group"><label>Account Number:</label> @Html.TextBoxFor(model =>
            model.TradeReference2.AccountNumber) Contact: @Html.TextBoxFor(model => model.TradeReference2.Contact)
        </div>


    </section>
    <section class="caInnerSection" id="TradeReference3">

        <div class="my-form-subheader tradeReference">Trade Reference 3</div>
        <div class="my-form-group"><label>Name:</label> @Html.TextBoxFor(model => model.TradeReference3.CompanyName)
        </div>
        <div class="my-form-group"><label>Address Line 1:</label> @Html.TextBoxFor(model =>
            model.TradeReference3.AddressLine1)
        </div>
        <div class="my-form-group"><label>Address Line 2:</label> @Html.TextBoxFor(model =>
            model.TradeReference3.AddressLine2)
        </div>
        <div class="my-form-group"><label>City:</label> @Html.TextBoxFor(model => model.TradeReference3.City) State:
            @Html.TextBoxFor(model => model.TradeReference3.State) Zip: @Html.TextBoxFor(model =>
            model.TradeReference3.Zip)
        </div>
        <div class="my-form-group"><label>Phone:</label> @Html.TextBoxFor(model => model.TradeReference3.Phone)
            Fax:@Html.TextBoxFor(model => model.TradeReference3.Fax)
        </div>
        <div class="my-form-group"><label>Account Number:</label> @Html.TextBoxFor(model =>
            model.TradeReference3.AccountNumber) Contact: @Html.TextBoxFor(model => model.TradeReference3.Contact)
        </div>


    </section>
    <div>Credit Line Desired Amount: @Html.TextBoxFor(model => model.CreditAmountDesired)</div>
    <div class="caTerms">Terms are NET 30 DAYS from date of invoice. There is a 1 ½ % (18% ANNUAL) SERVICE CHARGE PER
        MONTH ON ACCOUNTS PAST DUE. Accounts not paid within 60 days of invoice date
        will automatically be placed on temporary suspension until the account is brought to a current basis. During the
        suspension we may continue to serve you on a COD or “Cash with
        Order” basis. Repeated suspensions will cause the loss of credit on a permanent basis.
        In the event collection action becomes necessary, I agree to pay all collection expenses, attorney’s fees and
        court costs in the resolution of this account.
    </div>
    <div>Applications Name:<span class="caRequired">*</span>@Html.TextBoxFor(model => model.ApplicantName)</div>
    <div class="SubmitCreditApp"><input type="submit" id="btnSubmitCreditApp" value="Submit"/></div>
</section>