.page-credit-application .content-bleed {
    height: auto;
}

.page-credit-application .newSubPage_outerContainer {
    padding-top: 70px;
}

.page-credit-application h1 {
    margin-bottom: 35px;
    text-align: center;
    font-size: 35px;
}

.page-credit-application .newSubPage_header + .standard-separator {
    display: none;
}

#creditApplicationFormContainer, #creditApplicationFormContainer * {
    box-sizing: border-box;
}

.caSection input[type="radio"] {
    width: initial !important;
    margin-right: 5px;
}

.caSection .my-form-row {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.caSection .my-form-group {
    margin-bottom: 15px;
}

.caSection .form-check-label {
    margin: initial;
    font-size: 20px;
    font-weight: 300;
}

.caSection .my-form-header {
    font-size: 20px;
}

.caSection .my-form-subheader {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
}

.caSection .my-form-group label {
    font-size: 20px;
    font-weight: 300;
}

.caSection .my-col-md-6 {
    display: block;
    width: calc(100% / 2.05);
    box-sizing: border-box;
}

.caSection .my-col-md-4 {
    width: calc(100% / 3.15);
}

.caSection input {
    display: block;
    margin: 0;
    width: 100%;
    height: 32px;
    border-radius: 5px;
    border: 1px solid darkgrey;
    box-shadow: none;
    outline: none;
    padding: 6px;
}

.caSection .form-check-inline-wrap {
    margin: 0 -10px 15px;
}

.caSection .form-check-inline {
    display: inline-flex;
    width: auto;
    padding: 0 10px;
}

.caInnerSection {
    margin: 0;
}

.caTerms {
    font-size: 14px !important;
    line-height: initial;
    margin: 0 0 15px;
}

.page-credit-application .newSubPage_outerContainer {
    padding-bottom: 40px;
    position: relative;
    margin: 0;
}

.page-credit-application .newSubPage_outerContainer:after {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    display: block;
    background: -moz-linear-gradient(left, rgba(221, 221, 221, 0) 0%, #dddddd 10%, #dddddd 50%, #dddddd 90%, rgba(221, 221, 221, 0) 100%);
    background: -webkit-linear-gradient(left, rgba(221, 221, 221, 0) 0%, #dddddd 10%, #dddddd 50%, #dddddd 90%, rgba(221, 221, 221, 0) 100%);
    background: linear-gradient(to right, rgba(221, 221, 221, 0) 0%, #dddddd 10%, #dddddd 50%, #dddddd 90%, rgba(221, 221, 221, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00dddddd', endColorstr='#00dddddd', GradientType=1);
    height: .08em;
}