<!-- Hero Section -->
<section class="section-hero-full-width">
    <div class="hero-head">
        <h1>Custom Postcards</h1>
        <ul class="hero-list">
            <li class="hero-list-item">Free Design Services</li>
            <li class="hero-list-item">Great for Personal or Business Use</li>
            <li class="hero-list-item">Professional Finish</li>
        </ul>
    </div>
    <div class="hero-body">
        <div class="hero-img-wrap">
            <img class="hero-img" src="https://www.signs.com/content/assets/filelibrary/Postcards-8616.jpg" alt="Custom Postcards" />
        </div>
    </div>
    <div class="hero-footer">
        <p class="hero-phrase">
            Custom designed postcards for business and event promotion.
        </p>
    </div>
</section>
<!-- View FAQ -->
<div class="faq-search-links">
    <a href="#product-faq" class="scroll-link">View all FAQ's<span class="caret"></span
  ></a>
</div>
<!-- What are Custom Postcards -->
<section class="section-default section-what-are sectionComeGo_js">
    <div class="standard-container">
        <div class="what-are-content-wrap comeGoChildWrap_js">
            <h2>What are Custom Postcards?</h2>
            <p>
                Make business networking and customer satisfaction a breeze with our custom postcards. Digitally printed on 16pt cardstock, our postcards are available in a standard size of 4 inches tall by 6 inches wide or a larger 5 inches tall by 7 inches wide, with
                either a matte or UV (gloss) finish. This premium cardstock and UV ink provide for a long lasting postcard that is perfect for office sttings, distribution at events and tradeshows and as invitations and save the date cards that can be
                handed out to guests for birthday parties, baby and wedding showers and more.
            </p>
        </div>
        <div class="what-are-img-wrap comeGoImageWrap_js">
            <img src="https://www.signs.com/content/assets/filelibrary/what-are-postcards-8618.jpg" alt="Custom Postcards" />
        </div>
    </div>
</section>

<!-- Section Sign Features-->
<section class="section-default section-signs-features">
    <div class="standard-container">
        <h2>Custom Postcard Features</h2>
        <div class="featured-body">
            <div class="featured-img-wrap">
                <img src="https://www.signs.com/content/assets/filelibrary/Featured-Postcards-8619.jpg" alt="" />
            </div>
            <ul class="signs-featured-list">
                <li class="signs-featured-item">
                    <h3>
                        Digitally Printed
                    </h3>
                    <p>
                        We use digital printing for all of our postcards to provide the sharpest looking design possible. You can choose between UV and matte finish for your postcard.
                    </p>
                    <img src="https://www.signs.com/content/assets/filelibrary/Digitally-Printed-8624.png" alt="Digitally Printed" />
                </li>
                <li class="signs-featured-item">
                    <h3>Sturdy 16pt Cardstock</h3>
                    <p>
                        Made of sturdy 16pt cardstock, our custom postcards will be durable and last as long as you need them to, whether you are packing them into boxes or bags or handing them out at events.
                    </p>
                    <img src="https://www.signs.com/content/assets/filelibrary/Sturdy-16pt-Cardstock-8623.png" alt="Sturdy 16pt Cardstock" />
                </li>
                <li class="signs-featured-item">
                    <h3>Glossy or Matte Finish</h3>
                    <p>
                        Choose the final look for your postcards by selecting a glossy or matte finish. The glossy finish gives off a vibrant and bright appearance while the matte has softer colors and less polishing.
                    </p>
                    <img src="https://www.signs.com/content/assets/filelibrary/Group-1037-8773.png" alt="Glossy or Matte Finish" />
                </li>
                <li class="signs-featured-item">
                    <h3>Double or Single Sided</h3>
                    <p>
                        Double sided and single sided postcard options are available. Choose which option works best for your event, business, or invitation on your custom postcards.
                    </p>
                    <img src="https://www.signs.com/content/assets/filelibrary/Double-or-Signle-Sided-8620.png" alt="Double or Single Sided" />
                </li>
                <li class="signs-featured-item">
                    <h3>Variety of Sizes & Quantities</h3>
                    <p>
                        We offer various sizes and quantities for you to choose from. Sizes range from 4in x 6in to 7in x 5in. These are available in both horizontal and vertical prints. Orders are available in quantitites from 100 to 5000.
                    </p>
                    <img src="https://www.signs.com/content/assets/filelibrary/Group-1038-8772.png" alt="Variety of Sizes & Quantities" />
                </li>
            </ul>
        </div>
    </div>
</section>

<!-- Gallery Section -->
<script>
    /* Create Gallery Image Section */
    var namelessDiv1 = document.createElement("div");
    namelessDiv1.setAttribute("class", "section-default section-gallery-image");
    var sectionSignsFeatures = document.querySelector(
        ".section-signs-features + .standard-separator"
    );
    sectionSignsFeatures.after(namelessDiv1);
    /* Create Standard Container */
    var sectionGalleryImage = document.querySelector(".section-gallery-image");
    var namelessDiv2 = document.createElement("div");
    namelessDiv2.setAttribute("class", "standard-container");
    sectionGalleryImage.appendChild(namelessDiv2);
    /* Create Section Title */
    var standardContainerGallery = document.querySelector(
        ".section-gallery-image > .standard-container"
    );
    var sectionTitle = document.createTextNode("Image Gallery");
    var titleTag = document.createElement("h2");
    titleTag.appendChild(sectionTitle);
    standardContainerGallery.appendChild(titleTag);
    /* Move gallery slider */
    var imageGallery2019 = document.querySelector(".image-gallery-2019");
    standardContainerGallery.appendChild(imageGallery2019);
</script>

<!-- Design tool and services -->
<section class="section-default design-services">
    <div class="standard-container">
        <div class="myrow">
            <div class="design-services-group">
                <h2 class="design-services-heading">Easy to Use <br />Design Tool</h2>
                <img class="design-services-image" src="https://www.signs.com/content/assets/filelibrary/Design-Tool-8626.jpg" alt="signs.com design tool with Postcards signs" />
                <p class="design-services-text">
                    Create your custom postcard with our simple and easy design tool. Upload images, create objects, add text, adjust sizing, change color, and so much more!
                </p>
                <a href="https://www.signs.com/design/?productID=58">Start Designing</a>
            </div>

            <div class="design-services-group">
                <h2 class="design-services-heading">
                    Free Professional <br /> Design Services
                </h2>
                <img class="design-services-image" src="https://www.signs.com/content/assets/filelibrary/Design-Services-8625.jpg" alt="Graphic designer sitting behind her desk and smiling" />
                <p class="design-services-text">
                    Whether you need help uploading your design or are interested in creating something entirely new, our team of professional graphic designers is here to help. Nothing beats free!
                </p>
                <a href="https://www.signs.com/design-services/">Get Design Help Now</a>
            </div>
        </div>
    </div>
</section>
<!-- Section Additional Specs-->
<section class="section-default section-additional-specs">
    <div class="container">
        <h2>Additional Specs</h2>
        <ul class="additional-specs-list">
            <li>
                <h3>Weight:</h3>
                <p>
                    .10 lbs (1.6 oz) per 10 4”x6” cards (about the weight of 8 quarters)
                    <br /> .15 lbs (2.4 oz) per 10 5”x7” cards (about the weight of 12 quarters)
                </p>
            </li>
            <li>
                <h3>Thickness:</h3>
                <p>
                    .43mm thick. Equivalent to 16pt cardstock or 116lb (about the thickness of 4 sheets of copy paper).
                </p>
            </li>
            <li>
                <h3>Details:</h3>
                <p>
                    Glossy or matte finish; double sided printing, 4”x6” or 5”x7” in size, premium 16pt cardstock.
                </p>
            </li>
            <li>
                <h3>Uses:</h3>
                <p>
                    Advertising, brand exposure, appointment cards, marketing collateral, networking for small businesses, invitations, save the date reminders, tradeshow and event materials, call to action cards, etc.
                </p>
            </li>
            <li>
                <h3>Print Method:</h3>
                <p>
                    Digitally printed, full color.
                </p>
            </li>
            <li>
                <h3>Estimated Lifespan:</h3>
                <p>Varies depending on use.</p>
            </li>

            <li>
                <h3>Common Sizes</h3>
                <p>4”x6”, 5”x7”</p>
            </li>
        </ul>
    </div>
</section>
<!-- Section Caring -->
<div class="section-default section-caring sectionComeGo_js">
    <div class="standard-container">
        <div class="text-wrap comeGoChildWrap_js">
            <h2>Caring for your postcards</h2>
            <p>
                Avoid bending or creasing of postcards by storing them in a sturdy container. If cards come in contact with liquid, immediately wipe all surface liquid with a cloth or napkin for each individual card. Allow affected cards to air dry and make sure not
                to bend or crease cards while drying. When storing cards for a long period of time, do so in a way that prevents the corners of the postcards from being bent. We recommend storing them in sturdy box to keep them safe from bending and creases.
            </p>
        </div>
        <div class="img-wrap comeGoImageWrap_js">
            <img src="https://www.signs.com/content/assets/filelibrary/Box-with-Postcards-8627.jpg" alt="Box with Postcards" />
        </div>
    </div>
</div>

<!-- Why Signs.com -->
<section class="section-default section-why-signs">
    <div class="standard-container">
        <h2>Why Signs.com</h2>
        <ul class="why-signs-list">
            <li class="why-signs-list-item">
                <img src="https://www.signs.com/content/assets/filelibrary/running-8309.jpg" alt="Running person icon" />
                <h3>Quick Turnaround</h3>
                <p>
                    Order by 5PM EST and we’ll have your postcards <br /> completed and shipped within 2-4 business day.
                </p>
            </li>
            <li class="why-signs-list-item">
                <img src="https://www.signs.com/content/assets/filelibrary/box-8310.jpg" alt="Open box icon" />
                <h3>Free Shipping Over $75*</h3>
                <p>
                    For custom postcard orders over $75<br /> your order ships free!
                </p>
                <span class="extra">
          *Does not apply to orders containing rigid signs over 36" in either
          dimension. Contiguous US only.
        </span>
            </li>
            <li class="why-signs-list-item">
                <img src="https://www.signs.com/content/assets/filelibrary/award-8381.jpg" alt="Winning ribbon icon" />
                <h3>Award Winning Customer Service</h3>
                <p>
                    Winners of numerous customer services awards, our <br /> customer experience team keeps you as their<br /> number one priority throughout your entire <br /> experience with Signs.com.
                </p>
            </li>
        </ul>
    </div>
</section>

<!-- Section Related Products -->
<section class="section-default section-related-products">
    <div class="standard-container">
        <h2>Related Products</h2>
        <a href="/business-cards/">
            <figure>
                <img src="https://www.signs.com/content/assets/filelibrary/Business-cards-8629.jpg" alt="Business Cards" />
                <figcaption>Business Cards</figcaption>
            </figure>
        </a>
        <a href="/brochures/">
            <figure>
                <img src="https://www.signs.com/content/assets/filelibrary/Brochures-8628.jpg" alt="Brochures" />
                <figcaption>Brochures</figcaption>
            </figure>
        </a>
        <a href="https://www.signs.com/business-flyers/">
            <figure>
                <img src="https://www.signs.com/content/assets/filelibrary/Business-flyers-8630.jpg" alt="Business Flyers" />
                <figcaption>Business Flyers</figcaption>
            </figure>
        </a>
    </div>
</section>
<!-- Frequently Asked Question -->
<div id="faq" class="secton-default faqmain">
    <div class="standard-container">
        <div class="faq-section-header">Product Specs</div>
        <ul class="signs-faq-seed">
            <li>
                Are your postcards ones that I can write an address on and send via snail mail? If not, can I still use them like they are?
            </li>
            <li>
                The ability to write on the surface of your postcard depends on the finish of the material. A matte finish is recommended if you are writing on the postcard. Ink used on glossy cards may smear if not dried properly. Our cards can be sent via snail mail,
                but we do not provide spacing or lines that are typically found on a postcard like you might find at a tourist destination unless you include them in your design. Please see other questions on this page, including the one below, about
                the primary uses of our postcards to see how you can use them in a business setting.
            </li>
            <li>
                Are your postcards ones like I&rsquo;d buy at famous locations or tourist destinations?
            </li>
            <li>
                Our postcards differ from the typical tourist postcards in that ours are of a higher quality with the options of either a matte or glossy finish. The postcards we produce are intended for business use, handing out as invitations, and distributing at tradeshows
                and conventions. Unlike tourists postcards, ours are completely customizable to your liking.
            </li>
            <li>
                What are the differences between your business cards and postcards?
            </li>
            <li>
                The most noticeable difference will be the sizes between these two products. We offer our business cards in 2&rdquo;x3.5&rdquo;, whereas our postcards are available in 4&rdquo;x6&rdquo; or 5&rdquo;x7&rdquo;. Though these sizes differ, these are the standard
                sizes for these respective products. Both our business cards and postcards are printed on a 16pt cardstock with a matte or glossy finish. The smaller size of business cards allows for portability in pockets and makes them easier to hand
                out, while postcards have more area to present larger graphics and more text. Both our
                <a style="color: #3fa9f5;" href="https://www.signs.com/business-cards/">custom business cards</a
        >
        and postcards are printed in full color.
      </li>
      <li>What material are your postcards made of?</li>
      <li>
        Our postcards are made from a high quality, thick 16pt (116 lbs)
        cardstock. This cardstock is considered to be a sturdy and durable
        material that is much thicker than regular paper (20 lbs).
      </li>
      <li>What is the lifespan of postcards?</li>
      <li>
        The lifespan of your postcards depends on how you store and use them.
        With proper storage, your custom postcards could last 3+ years. If you
        frequently carry or handle your postcards, the lifespan will decrease.
        Improper use and exposure to liquid will greatly diminish the lifespan
        of your postcards.
      </li>
      <li>Will the design of the postcard fade over time?</li>
      <li>
        The quality of your design will be resistant to scratching and fading
        due to the longevity of the ink. Like anything that is printed there may
        be some fading over an extended period of time. Short term, you will not
        see any substantial fading. Corners of the postcard can be bent, which
        may cause any design or color printed on corners or edges to fade or
        lose clarity.
      </li>
      <li>Can your postcards be double sided?</li>
      <li>
        Yes. Our postcards can be printed on both sides. You can select this
        option in our design tool if the backside of your postcard is going to
        differ from the front side of your postcard. Simply select the
        &ldquo;Back Side&rdquo; option and design away!
      </li>
      <li>Can I order single sided postcards?</li>
      <li>
        Yes, we offer both single and double-sided postcards. Simply choose
        which option you would like in our design tool before creating your
        postcard.
      </li>
      <li>
        I selected double sided and have a different file/design for the back
        side but don&rsquo;t see where I edit the second side of my card.
      </li>
      <li>
        You can design both the front and back of your postcard within our
        design tool. To do this, select a double-sided option, which will reveal
        a button underneath the main design area that will allow you to switch
        between the &lsquo;front&rsquo; and &lsquo;back&rsquo; side of your
        postcard. Toggling this button should allow you to upload and edit as
        needed for the respective sides of your postcard(s).
      </li>
      <li>
        I need to print similar cards for multiple people, what is the
        best/fastest way to do so?
      </li>
      <li>
        Once you have created a design on our site, we automatically save it
        under your &ldquo;My Designs&rdquo; section. Clicking on the
        &ldquo;duplicate&rdquo; link next to your design will create an exact
        copy of your card. You can then click on your image which will take you
        directly into the design tool where you can type in the new name and
        other information and click &ldquo;save&rdquo;. Simply follow the same
        process for any additional people you need to make cards for.
      </li>
      <li>How easy do the postcards tear?</li>
      <li>
        The thickness of 16pt cardstock is resistant to tearing when handled
        properly. Cardstock is a paper product, meaning that tearing is possible
        when enough pressure is applied. Frequent bending or creasing of a
        postcard will weaken the durability of the card. Thus, assuming there is
        no intentional effort to tear the cards nor is there misuse or improper
        storage, the postcards should not tear during regular use.
      </li>
      <li>Are your postcards waterproof?</li>
      <li>
        The cardstock used to produce our postcards is not waterproof. The
        glossy coating will add a minimal water resistance to the surface of the
        postcard. A matte postcard&rsquo;s coating will allow for brief contact
        with moisture, but will not make it waterproof. We recommend avoiding
        contact with liquid by storing in a sealed container or plastic bag when
        travelling in wet conditions.
      </li>
      <li>How small or big can my postcards be?</li>
      <li>
        We offer postcards in two sizes: a 4 inch tall by 6 inch wide card, and
        a 5 inch tall by 7 inch wide card. These dimensions are sometimes
        referred to as 6&rdquo;x4&rdquo; and 7&rdquo;x5&rdquo; sizes. Whichever
        you use, the standard orientation of our postcards is horizontal but one
        can easily design them in a way that they could be used in a vertical
        orientation.
      </li>
      <li>Will larger postcards cost more?</li>
      <li>
        Yes. Larger sized postcards will cost more than smaller postcards.
        Prices will also vary depending on order size and whether you choose a
        matte or gloss finish.
      </li>
      <li>Do you offer rounded edges on your postcards?</li>
      <li>
        We do not currently offer rounded edges on our postcards. If
        you&rsquo;re looking for cards with rounded edges, please
        <a style="color: #3fa9f5;" href="https://www.signs.com/contact/"
          >contact us</a
        >
        for assistance.
      </li>
      <li>Do you offer custom shapes for your postcards?</li>
      <li>
        We only provide the listed sizes of postcards at this time. We are
        unable to offer custom shaped postcards. However, we do offer cut to
        shape
        <a style="color: #3fa9f5;" href="https://www.signs.com/posters/"
          >posters</a
        >, which could work as a good substitute.
      </li>
      <li>How about raised or embossed ink, do you offer that?</li>
      <li>We do not offer raised or embossed ink at this time.</li>
      <li>If I print my postcards in more than one color am I charged more?</li>
      <li>
        No. All of our postcards and signs are printed using full color, so you
        will not be charged extra for additional colors used.
      </li>
      <li>Are your postcards a matte or gloss finish?</li>
      <li>
        We offer our postcards in either a matte or gloss finish, depending on
        your design preferences. The default option will be a matte finish. If
        you prefer your postcards to be glossy in nature please select this on
        the Design Tool or change this option in your shopping cart before
        proceeding to the checkout.
      </li>
      <li>What&rsquo;s the difference between a matte and glossy finish?</li>
      <li>
        A matte finish has a dull, non-shiny appearance. A glossy finish will
        leave your postcards with a smooth, shiny finish.
      </li>
      <li>What is a UV finish?</li>
      <li>
        A UV finish is a glossy finish over the entire surface of your postcard.
        This UV finish will give added protection against scratching or fading
        of the design.We do not currently offer UV finish as an option.
      </li>
      <li>Do I have to use one of your templates for my postcards?</li>
      <li>
        We provide templates to help you create a design for your postcard, but
        they are not necessary to use. If you wish to upload your own design,
        simply do so by clicking on the &lsquo;get started&rsquo; button on the
        product page, then click on the &lsquo;upload your design&rsquo; option.
        If you&rsquo;re having trouble with your design or need assistance, you
        can
        <a style="color: #3fa9f5;" href="https://www.signs.com/contact/"
          >contact us for free design help</a
        >.
      </li>
      <li>Can you print photos on my postcards?</li>
      <li>
        Yes, any image or photo can be printed on your postcard. Make sure that
        the size of your photo will fit on a 4&rdquo;x6&rdquo; or
        5&rdquo;x7&rdquo; area, then simply upload it using our design tool.
      </li>
      <li>Can you print postcards using white ink?</li>
      <li>
        Because the base or natural color of the postcard is white, it is
        unnecessary to use white ink, as any white area of your design will be
        the natural color of the cardstock.
      </li>
      <li>What quantities do you sell your postcards in?</li>
      <li>
        We currently offer postcards in the following run sizes: 100, 250, 500,
        1000, 2500, and 5000. Unfortunately, smaller run sizes than 100 are not
        currently possible.
      </li>
      <li>Can I write on the postcards with pen or pencil?</li>
      <li>
        We recommend using pen when writing on your postcards. Pencil can be
        used on matte cards, but pencil will be dull and hard to read on glossy
        finished cards. Allow the ink of the pen to dry before stacking the
        cards to help avoid any smearing or unwanted transferring of ink.
      </li>
      <li>Are the edges to the postcards sharp?</li>
      <li>
        The edges of your postcard will be straight and finely cut. As such,
        there is a possibility that edges may seem sharp when handling.
        Papercuts can be received when not handled properly.
      </li>
      <li>
        <p>&nbsp;</p>
      </li>
    </ul>
    <div class="faq-section-header">Usage</div>
    <ul class="signs-faq-seed">
      <li>
        Why should I use postcards instead of sending out information using
        email or social media?
      </li>
      <li>
        Even in a world dominated by advance technology, there&rsquo;s still
        something special about using a tangible product to deliver information.
        Unlike digitally sent information, postcards are less-likely to be
        ignored when received. Easy to post on noticeboards or refrigerators,
        postcards make a lasting statement that emails can&rsquo;t match. Plus,
        who doesn&rsquo;t like the feeling of receiving a postcard in the mail
        or in person?!
      </li>
      <li>What information should I put on my postcard?</li>
      <li>
        What you put on your postcard depends on your intended use. If
        you&rsquo;re using postcards to advertise a business, make sure the
        company logo is present, with information about the business clearly
        visible. You can dedicate one side to giving directions to your
        business, with the other side used for logos and text. If postcards are
        being used for promotional purposes, you can incorporate images of what
        you are promoting, as well as dates, times, and other crucial
        information. Make sure to include links to your website and social media
        pages.
      </li>
      <li>Are QR codes useful on postcards?</li>
      <li>
        While QR codes are a great way to invite those that receive your
        postcard to interact with your business, these media tools are not often
        used correctly. If you decide to include a QR code on your postcard,
        make sure it links to useful information on your website that visitors
        can benefit from. Whether or not you use a QR code on your postcard is a
        matter of personal preference.
      </li>
      <li>Anything I should avoid doing with my postcards?</li>
      <li>
        It&rsquo;s important that you handle your postcards with care. Avoid
        submerging or exposing your cards to liquid, placing them near an open
        flame, or storing them in places where they can be bent or damaged.
      </li>
      <li>What are common uses of postcards?</li>
      <li>
        Our postcards are designed to be used as a high quality material to
        distribute in a wide variety of circumstances. Postcards can be used to
        promote a business or product and sent out as invitations for birthdays,
        weddings, open houses and more. Postcards are great for using as
        appointment cards, as well as reminders to send out to customers or
        clients. There&rsquo;s really no limit to how you use postcards to
        market, invite, or call to act.
      </li>
    </ul>
    <div class="faq-section-header">Care</div>
    <ul class="signs-faq-seed">
      <li>What is the best way to store my postcards?</li>
      <li>
        We recommend that you store your cards in a place where they will not be
        damaged. When in transit, keep your business cards in a sturdy container
        or box to protect them from being damaged. Store cards on the face,
        rather than the side of the card to prevent the edges and corners from
        being bent or faded.
      </li>
      <li>
        Do you offer any carrying cases or pouches to protect my postcards?
      </li>
      <li>
        We do not offer any pouches or cases for your postcards. We recommend
        storing your cards in the box that they were shipped in. If you do not
        have the box, any plastic container will suffice as long as cards are
        secured within it.
      </li>
    </ul>
  </div>
</div>

<script>
  window.onresize = function() {
    var x;
    var sectionComeGo = document.querySelectorAll(".sectionComeGo_js");
    for (x = 0; x < sectionComeGo.length; x++) {
      if (window.innerWidth <= 1199) {
        var movingSectionTitle = document.querySelectorAll(
          ".comeGoChildWrap_js > h2"
        )[x];

        var comeGoImageWrap = document.querySelectorAll(".comeGoImageWrap_js")[
          x
        ];
        movingSectionTitle.after(comeGoImageWrap);
      } else {
        var comeGoChildWrap = document.querySelectorAll(".comeGoChildWrap_js")[
          x
        ];
        var comeGoImageWrap = document.querySelectorAll(".comeGoImageWrap_js")[
          x
        ];
        comeGoChildWrap.after(comeGoImageWrap);
      }
    }
  };
  var x;
  var sectionComeGo = document.querySelectorAll(".sectionComeGo_js");
  for (x = 0; x < sectionComeGo.length; x++) {
    if (window.innerWidth <= 1199) {
      var movingSectionTitle = document.querySelectorAll(
        ".comeGoChildWrap_js > h2"
      )[x];
      var comeGoImageWrap = document.querySelectorAll(".comeGoImageWrap_js")[x];
      movingSectionTitle.after(comeGoImageWrap);
    } else {
      var comeGoChildWrap = document.querySelectorAll(".comeGoChildWrap_js")[x];
      var comeGoImageWrap = document.querySelectorAll(".comeGoImageWrap_js")[x];
      comeGoChildWrap.after(comeGoImageWrap);
    }
  }
</script>