/* Globals */
.caret {
  border: 6px solid transparent;
  border-top: 6px solid #5ba9f5;
  margin-top: 5px;
  margin-left: 5px;
}
figure {
  margin: 0;
}
.section-default {
  padding: 60px 0;
  text-align: center;
}
.section-default h2 {
  font-size: 30px;
  font-weight: 400;
  /* margin: 0; */
}
.section-default p {
  font-size: 20px;
  margin-bottom: 30px;
}
.section-default [class*="img-wrap"] img {
  width: 100%;
  /* height: auto; */
  /* height: 100%; */
}

.standard-container {
  max-width: 1560px;
  width: 100%;
  padding: 0 20px;
  box-sizing: border-box;
  margin: 0 auto;
}
/* Hero Section */
.section-hero-full-width {
  padding: 20px 0 25px;
}
.hero-head,
.hero-footer {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 800px;
  width: 100%;
  text-align: center;
  box-sizing: border-box;
}
.hero-head {
}
.hero-head h1 {
  font-size: 50px;
  font-weight: 400;
  margin-bottom: 10px;
}
.hero-list {
  font-size: 0;
}
.hero-list-item:first-child:before {
  content: "";
}
.hero-list-item:before {
  content: "\2022";
  top: -1px;
  left: -3px;
  font-size: 18px;
  position: absolute;
}
.hero-list-item {
  position: relative;
  padding: 0 10px;
  font-size: 20px;
  display: inline-block;
}

.hero-body {
}
.hero-img-wrap {
  max-width: 685px;
  margin: 15px auto 20px;
  width: 100%;
}
.hero-img {
  width: 100%;
}

.hero-footer {
}

.hero-phrase {
  font-size: 20px;
}
/* Quick Start */
.placeholder-sticky {
  padding: 0 0 30px;
}
/* Store Ratings */
#shoppersReviews {
  padding: 30px 0 0;
}
#shoppersReviews .shopper-approved-link {
  margin: 0;
}
.sa-caption {
  display: none;
}
/* View All FAQS */
.faq-search-links {
  padding: 35px 0;
  color: #5ca9f5;
  background: #fff;
  /* margin-top: -1px; */
}
/* Section What are*/
.section-what-are {
  text-align: left;
  /* position: relative; */
  padding: 0;
}
.section-what-are .standard-container {
  position: relative;
  display: flex;
  align-items: center;
  max-width: initial;
  padding: 0;
  justify-content: flex-end;
}

.section-what-are h2 {
  margin-bottom: 57px;
}

.section-what-are p {
  margin-bottom: 20px;
  font-size: 19px;
}
.section-what-are br {
  display: none;
}
.section-what-are img {
  width: 100%;
}
.what-are-content-wrap {
  max-width: 1050px;
  margin-right: 95px;
}
.what-are-img-wrap {
  max-width: 568px;
  width: 100%;
  flex: 0 0 auto;
}
/* Section Featured */
.section-signs-features {
}
.section-signs-features * {
  box-sizing: border-box;
}
.featured-body {
  position: relative;
  margin-top: 90px;
  margin-bottom: 285px;
}
.section-signs-features h2 {
}
.featured-img-wrap {
  max-width: 940px;
  width: 100%;
  margin: 0 auto;
}
.signs-featured-list {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.signs-featured-item {
  position: absolute;
  text-align: left;
  display: inline-block;
  max-width: 265px;
  width: 100%;
}
.signs-featured-item h3 {
  font-size: 22px;
  margin-bottom: 15px;
  line-height: 1.5;
}
.signs-featured-item p {
  color: #919396;
  font-weight: 300;
  font-size: 20px;
}
.signs-featured-item:nth-child(1) {
  top: 20px;
  left: 90px;
  /* margin-right: 167px; */
}
.signs-featured-item:nth-child(2) {
  bottom: -30px;
  left: 15px;
  /* padding-top: 195px; */
}
.signs-featured-item:nth-child(3) {
  left: 1260px;
  top: 12px;
  /* padding-left: 180px; */
}
.signs-featured-item:nth-child(4) {
  right: 78px;
  bottom: -6px;
  /* padding-left: 190px; */
}
.signs-featured-item:nth-child(5) {
  right: 525px;
  bottom: -265px;
  /* padding-left: 205px; */
  max-width: 351px;
}
.signs-featured-item img {
  position: absolute;
  width: 180px;
  height: 180px;
}
.signs-featured-item:nth-child(1) img {
  right: -200px;
  top: 3px;
}
.signs-featured-item:nth-child(2) img {
  top: 4px;
  right: -205px;
}
.signs-featured-item:nth-child(3) img {
  left: -194px;
  top: 3px;
}
.signs-featured-item:nth-child(4) img {
  left: -195px;
  top: -5px;
}
.signs-featured-item:nth-child(5) img {
  top: -176px;
  left: 57px;
}
/* Section Gallery Image  */
.section-gallery-image {
  padding-bottom: 70px;
}
.section-gallery-image .standard-container {
  padding-left: 0;
  padding-right: 0;
}
.section-gallery-image h2 {
  margin-bottom: 20px;
}
.section-gallery-image .image-gallery-2019 {
  margin-top: 50px;
}
.section-gallery-image .image-gallery-2019 .image-gallery-slider2019 {
  margin-bottom: 0 !important;
}
.section-gallery-image .image-gallery-slider2019-thumbnails {
  margin-top: 30px;
}
/* Design tool and services */
.design-services {
}
.design-services .myrow {
  display: flex;
  justify-content: space-between;
  margin: 0 -30px;
}
.design-services .design-services-group {
  margin-top: 0;
  margin-bottom: 0;
  max-width: 710px;
  margin: 0;
  padding: 0 30px;
  flex: 0 0 auto;
  width: 100%;
  /* min-width: 0; */
}
.design-services .design-services-heading {
  margin-top: 0;
  margin-bottom: 45px;
}
.design-services .design-services-image {
  margin-bottom: 0;
  /* height: 410px; */
  max-width: 710px;
  height: auto;
}
.design-services .design-services-text {
  color: #919396;
  margin-bottom: 5px;
  font-size: 20px;
  font-weight: 400;
}
.design-services .design-services-group a {
  color: #0097d5;
  font-size: 20px;
}

/* Additional Specs */
.section-additional-specs {
  padding: 64px 0;
}

.section-additional-specs .container {
  margin: 0 auto;
  max-width: 830px;
  text-align: center;
  padding: 0 20px;
}

.section-additional-specs h2 {
  text-align: center;
  font-size: 25px;
  margin-bottom: 50px;
}

.section-additional-specs {
}

.additional-specs-list {
  display: inline-block;
  /* margin: 0 auto; */
  text-align: left;
}

.additional-specs-list li {
  display: flex;
  margin-bottom: 20px;
  border-bottom: 2px solid #cfcccc;
  padding-right: 10px;
}
.additional-specs-list li:last-child {
  border-bottom: none;
}
.additional-specs-list li h3 {
  min-width: 210px;
  font-size: 20px;
  color: #333333;
  font-weight: 400;
  margin-right: 90px;
}

.additional-specs-list li p {
  font-size: 18px;
  color: #9f9f9f;
}
/* Section Caring for your Postcards */
.section-caring {
  padding: 40px 0;
  /* display: none; */
}
.section-caring .standard-container {
  display: flex;
  text-align: left;
  align-items: center;
  /* flex-flow: row wrap; */
}
.section-caring .standard-container > * {
  /* flex: 0 0 auto; */
}
.section-caring h2 {
  margin-bottom: 55px;
}
.section-caring .text-wrap {
  width: 100%;
}
.section-caring .img-wrap {
  max-width: 465px;
  width: 100%;
  margin-left: 150px;
}
/* Why Signs Section */
.section-why-signs {
}
.section-why-signs h2 {
  margin-bottom: 50px;
}
.why-signs-list {
  font-size: 0;
  margin-top: 35px;
  margin: 0 -20px;
  display: flex;
  justify-content: space-between;
}
.why-signs-list-item {
  display: inline-block;
  font-size: 20px;
  padding: 0 20px;
  box-sizing: border-box;
  max-width: 476px;
  width: 100%;
}
.why-signs-list-item .extra {
  color: #919396;
  font-size: 14px;
  max-width: 295px;
  width: 100%;
  margin: -23px auto 0;
  display: block;
  font-style: italic;
}
.why-signs-list-item img {
  margin-bottom: 10px;
}
.why-signs-list-item h3 {
  font-size: 25px;
  margin-bottom: 10px;
}
.why-signs-list-item p {
  color: #919396;
  font-size: 18px;
}
.why-signs-list-item p br {
  /* display: none; */
}

/* Section Related Products */
.section-related-products {
  padding: 65px 0;
}
.section-related-products .standard-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1567px;
  text-align: center;
}

.section-related-products h2 {
  width: 100%;
  font-size: 26px;
  margin-bottom: 25px;
}
.section-related-products .standard-container > a {
  margin: 0;
  width: 33.33%;
}
.section-related-products figure img {
  /* height: 250px; */
  /* width: auto; */
  margin-bottom: 40px;
  /* width: 100%; */
}
.section-related-products figure figcaption {
  font-size: 20px;
  font-weight: 500;
  color: #707070;
}
/* FAQ */
.product-tabs-wrapper.v4 {
  margin: 0;
}
.product-tabs-wrapper #product-tab-1 {
  margin: 0;
}
.faqmain {
  margin: 0 auto;
}
.product-tabs-wrapper .faq-search-links {
  padding: 0;
  margin: 0 0 10px;
  background: initial;
}
.product-tabs-wrapper .faq-search-form {
  margin-bottom: 15px;
}
.signs-faq-2 {
  text-align: left;
}

@media (max-width: 1680px) {
  .standard-container {
    /* padding-right: 51%; */
    max-width: 1418px;
  }
  /* Section What are */
  .section-what-are .standard-container {
  }
  .what-are-content-wrap {
    margin: 0 0 0 145px;
  }
  /* Featured Section */
  .featured-img-wrap {
    max-width: 1080px;
  }
  .featured-body {
    margin-top: 90px;
    margin-bottom: 243px;
  }
  .signs-featured-item img {
    width: 160px;
    height: 160px;
  }
  .signs-featured-item:nth-child(1) {
    /* padding-right: 205px; */
    top: 42px;
    left: 48px;
    margin-right: 167px;
  }

  .signs-featured-item:nth-child(1) img {
    right: -175px;
    top: 3px;
  }

  .signs-featured-item:nth-child(2) {
    bottom: -9px;
    left: -70px;
    /* padding-top: 180px; */
  }
  .signs-featured-item:nth-child(2) img {
    top: 4px;
    right: -190px;
  }
  .signs-featured-item:nth-child(3) {
    left: 1191px;
    /* bottom: -54px; */
    /* padding-left: 167px; */
    top: 65px;
  }
  .signs-featured-item:nth-child(3) img {
    left: -175px;
    top: 3px;
  }
  .signs-featured-item:nth-child(4) {
    right: -10px;
    top: 511px;
    /* padding-left: 171px; */
  }
  .signs-featured-item:nth-child(4) img {
    left: -175px;
    top: -5px;
  }

  .signs-featured-item:nth-child(5) {
    right: 463px;
    bottom: -262px;
    /* padding-left: 180px; */
  }

  .signs-featured-item:nth-child(5) img {
    top: -161px;
    left: 57px;
  }
}
@media (max-width: 1600px) {
  /* Hero Section */
  .hero-img-wrap {
    max-width: 620px;
    margin-bottom: 0;
  }
  /* Section what are */
  .standard-container {
    max-width: 1390px;
  }

  /* Design tool and services */
  .design-services .design-services-group {
    max-width: 632px;
  }
}
@media (max-width: 1536px) {
  .standard-container {
    max-width: 1271px;
  }
  /* Hero Section */
  .hero-img-wrap {
    max-width: 590px;
  }
  /* Section What are */
  .standard-container {
    /* padding-right: 44%; */
    max-width: 1285px;
  }
  .what-are-img-wrap {
    max-width: 490px;
  }
  .what-are-content-wrap {
    margin: 0 25px 0 100px;
  }
  /* Why Signs */
  .why-signs-list-item {
  }
  .why-signs-list-item br {
    display: none;
  }

  /* Featured Section */
  .featured-img-wrap {
    max-width: 900px;
  }
  .signs-featured-item img {
    width: 160px;
    height: 160px;
  }
  .signs-featured-item:nth-child(1) {
    /* padding-right: 205px; */
    top: -30px;
    left: 82px;
    top: 16px;
    left: 19px;
    margin-right: 167px;
  }

  .signs-featured-item:nth-child(2) {
    bottom: -42px;
    left: -75px;
    /* padding-top: 180px; */
  }

  .signs-featured-item:nth-child(3) {
    left: 1095px;
    /* bottom: -54px; */
    /* padding-left: 167px; */
    top: 18px;
  }

  .signs-featured-item:nth-child(4) {
    right: -38px;
    top: initial;
    /* padding-left: 171px; */
    bottom: -5px;
  }
  .signs-featured-item:nth-child(5) {
    right: 406px;
    bottom: -279px;
    /* padding-left: 180px; */
  }

  /* Design tool and services */
  .design-services .design-services-group {
    max-width: 587px;
  }
  /* Caring for your postcards */
  .section-caring .img-wrap {
  }
}

@media (max-width: 1440px) {
  /* Section What are */
  .standard-container {
    /* padding-right: 44%; */
    max-width: 1225px;
  }
  .what-are-img-wrap {
    max-width: 470px;
  }
  /* Featured Section */
  .featured-img-wrap {
    max-width: 768px;
  }

  .signs-featured-item:nth-child(1) {
    top: -8px;
    left: 12px;
    margin-right: 167px;
  }

  .signs-featured-item:nth-child(2) {
    bottom: -70px;
    left: -75px;
    /* padding-top: 180px; */
  }
  .signs-featured-item:nth-child(3) {
    left: 999px;
    /* bottom: -54px; */
    /* padding-left: 167px; */
    top: 18px;
  }
  .signs-featured-item:nth-child(4) {
    right: -33px;
    top: initial;
    /* padding-left: 171px; */
    bottom: -17px;
  }
  .signs-featured-item:nth-child(5) {
    right: 360px;
    bottom: -279px;
    /* padding-left: 180px; */
  }
  /* Caring for your postcards */
  .section-caring .img-wrap {
  }
}
@media (max-width: 1366px) {
  .standard-container {
    max-width: 1123px;
  }
  /* Hero Section */
  .hero-img-wrap {
    max-width: 470px;
  }
  /* Section What are Opaque Vehicle Decals */
  .what-are-img-wrap {
  }
  /* Why Signs.com */
  .why-signs-list {
    margin: 0 -80px;
  }
  /* Design tool and services */
  .design-services .design-services-image {
    height: 374px;
    object-fit: contain;
  }

  /* Featured Section */
  .featured-img-wrap {
    max-width: 679px;
  }

  .featured-body {
    position: relative;
    margin-top: 90px;
    margin-bottom: 231px;
  }
  .signs-featured-item img {
    width: 130px;
    height: 130px;
  }
  .signs-featured-item h3 {
    font-size: 20px;
    margin-bottom: 10px;
    line-height: 1.2;
  }
  .signs-featured-item p {
    font-size: 18px;
  }
  .signs-featured-item:nth-child(1) {
    /* padding-right: 155px; */
    top: 20px;
    left: 12px;
  }

  .signs-featured-item:nth-child(1) img {
    right: -134px;
    top: -10px;
  }

  .signs-featured-item:nth-child(2) {
    bottom: -53px;
    left: -55px;
    /* padding-top: 140px; */
  }
  .signs-featured-item:nth-child(2) img {
    top: -12px;
    right: -126px;
  }
  .signs-featured-item:nth-child(3) {
    left: 907px;
    bottom: initial;
    /* padding-left: 120px; */
    top: 3px;
  }

  .signs-featured-item:nth-child(3) img {
    left: -141px;
    top: 3px;
  }

  .signs-featured-item:nth-child(4) {
    right: -32px;
    top: initial;
    bottom: -35px;
  }

  .signs-featured-item:nth-child(4) img {
    left: -145px;
    top: -5px;
  }

  .signs-featured-item:nth-child(5) {
    right: 285px;
    bottom: -264px;
    /* padding-left: 145px; */
  }

  .signs-featured-item:nth-child(5) img {
    top: -161px;
    left: 57px;
  }
  /* Design tool and services */
  .design-services .design-services-group {
    max-width: 502px;
  }

  /* Caring for your postcards */
  .section-caring .img-wrap {
  }
}
@media (max-width: 1280px) {
  /* Hero Section */
  .hero-img-wrap {
    max-width: 518px;
  }
  /* Section What are Opaque Vehicle Decals */
  .what-are-img-wrap {
  }
  .section-what-are .standard-container {
    /* padding-right: 51%; */
  }

  /* Why Signs.com */
  .section-why-signs .standard-container {
    /* max-width: 1220px; */
  }
  .why-signs-list-item h3 {
    /* height: 60px; */
  }
}
@media (max-width: 1280px) and (max-height: 720px) {
  .hero-img-wrap {
    max-width: 415px;
  }
}
@media (max-width: 1199px) {
  /* Section What are */

  .what-are-img-wrap {
    max-width: 505px;
  }
  .section-what-are .standard-container {
    /* padding-right: 51%; */
  }
  /* Section Featured */
  .section-signs-features {
  }
  .section-signs-features h2 {
    margin-bottom: 20px;
  }
  .featured-body {
    margin: 0;
  }
  .featured-img-wrap {
    max-width: initial;
    margin-bottom: 30px;
    max-width: 679px;
  }
  .signs-featured-list {
    position: static;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .signs-featured-item {
    position: relative;
    min-height: 130px;
    display: block;
    left: initial !important;
    top: initial !important;
    bottom: initial !important;
    right: initial !important;
    flex: 0 0 auto;
  }
  .signs-featured-item img {
    left: 0 !important;
    top: 0 !important;
  }
  .signs-featured-item {
    padding: 0 0 0 140px !important;
    display: block;
    margin-bottom: 35px !important;
    margin-right: 0 !important;
    /* width: 100%!Important; */
    max-width: initial !important;
  }
  .signs-featured-item:nth-child(1) {
    order: 1;
  }
  .signs-featured-item:nth-child(2) {
    order: 5;
    margin-bottom: 0 !important;
  }
  .signs-featured-item:nth-child(3) {
    order: 2;
  }
  .signs-featured-item:nth-child(4) {
    order: 3;
  }
  .signs-featured-item:nth-child(5) {
    order: 4;
    margin-bottom: 0;
  }
  .signs-featured-item br {
    display: none;
  }
  /* Design tool and services */
  .design-services .myrow {
    margin: 0 -20px;
  }
  .design-services .design-services-group {
    max-width: 450px;
  }
  /* Why Signs.com */
  .why-signs-list {
    margin: 0 -10px;
  }
  .why-signs-list-item {
    padding: 0 10px;
  }
  .why-signs-list-item h3 {
    font-size: 21px;
  }
  /* Related Product */
  .section-related-products figure img {
    height: 236px;
    /* max-width: 407px; */
    margin: 0 auto;
    display: inline-block;
  }
}

@media (max-width: 991px) {
  /* Hero Section */
  .section-hero-full-width {
    padding: 70px 0 15px;
  }

  /* Section What are */

  .what-are-img-wrap {
    max-width: initial;
    position: static;
    margin-bottom: 20px;
  }
  .section-what-ovd .standard-container {
    padding: 0 20px;
    text-align: center;
  }
  .section-what-ovd h2 {
    margin-bottom: 20px;
  }

  /* Section Gallery Image  */
  .section-gallery-image .image-gallery-slider2019-thumbnails {
    margin-top: 30px;
  }

  /* Why Signs.com */
  .why-signs-list {
    display: block;
  }
  .why-signs-list-item {
    margin-bottom: 25px;
  }
  .why-signs-list-item:last-child {
    margin-bottom: 0;
  }
  .section-why-signs h2 {
    margin-bottom: 20px;
  }
  .why-signs-list-item .extra {
    margin-bottom: 20px;
  }
  .why-signs-list-item p {
    margin-bottom: 20px;
  }
  /* Design tool and services */
  .design-services,
  .design-services * {
    box-sizing: border-box;
  }
  .design-services .myrow {
    display: block;
    margin: 0;
  }
  .design-services .design-services-group {
    margin: 0 auto 40px;
    max-width: initial;
    padding: 0;
  }
  .design-services .design-services-image {
    height: auto;
    width: 100%;
    max-width: 693px;
  }
  .design-services .design-services-group:nth-child(2) {
    margin-bottom: 0;
  }
  .design-services-heading > br {
    display: none;
  }
  .design-services .design-services-heading {
    margin: 0 0 20px;
    max-width: initial;
    width: 100%;
    padding: 0 20px;
  }
  /* Related Product */
  .section-related-products figure img {
    height: 176px;
  }
}
@media (max-width: 768px) {
  /* Section What Are */
  .section-what-are {
    padding: 40px 0 30px;
  }
  .section-what-are .standard-container {
    display: block;
    padding: 0;
  }
  .section-what-are h2 {
    margin-bottom: 0;
  }
  .what-are-content-wrap {
    text-align: center;
    margin: 0 auto;
  }
  .what-are-img-wrap {
    height: 500px;
    /* width: 100%; */
    width: auto;
    /* float: none; */
  }
  .what-are-img-wrap img {
    height: 100%;
  }
  .what-are-content-wrap h2,
  .what-are-content-wrap p {
    padding: 0 20px;
  }
  /* Caring for your postcards */
  .section-caring * {
    text-align: center;
  }
  .section-caring h2 {
    margin-bottom: 0;
  }
  .section-caring .img-wrap {
    margin: 0 auto;
  }
}
@media (max-width: 575px) {
  .section-default {
    padding: 40px 0;
    /* overflow: hidden; */
  }
  /* Hero Section */
  .section-hero-full-width {
    padding-top: 20px;
  }
  .hero-head h1 {
    font-size: 35px;
  }

  .hero-list-item {
    font-size: 16px;
  }
  .hero-list-item:first-child:before {
    content: "\2022";
  }
  .hero-img-wrap {
    padding: 0 20px;
    box-sizing: border-box;
  }
  .hero-phrase {
    font-size: 16px;
  }

  /* Section Store Ratings  */

  #shoppersReviews,
  #shoppersReviews * {
    display: block !important;
    padding: 0 !important;
    margin: 0 !important;
    position: static !important;
    text-align: center !important;
  }
  #shoppersReviews {
    padding: 20px 0 !important;
  }
  #shoppersReviews > br {
    display: none !important;
  }
  #shoppersReviews .shopperapproved_widget {
    height: auto !important;
  }
  #shoppersReviews .aggregateRating-container {
    display: flex !important;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
  }
  #shoppersReviews .shopper-approved-container {
    padding: 0 20px !important;
  }
  #shoppersReviews .sa_review {
    height: auto !important;
    text-align: center;
    display: flex !important;
    flex-direction: column-reverse;
  }
  #shoppersReviews .sa_review tbody > tr {
    display: flex !important;
    flex-direction: column-reverse;
    align-items: center;
  }
  #shoppersReviews .sa_comments {
    margin-top: -17px !important;
    min-height: 60px;
    height: auto;
    display: block;
    flex: 0 0 auto;
    align-items: flex-end;
    font-size: 16px;
    overflow: visible;
    margin: 0 !important;
    overflow: hidden;
  }
  #shoppersReviews .sa_location {
    display: none !important;
  }
  #shoppersReviews .sa_info > span:first-of-type {
    background: red;
    display: none !important;
  }
  #shoppersReviews .sa_info {
    height: auto;
    display: block !important;
    flex: 0 0 auto;
  }
  #shoppersReviews .sa_date {
    display: none !important;
  }
  #shoppersReviews .sa_displayname {
    font-weight: 300;
  }
  #shoppersReviews .sa_star {
    display: none !important;
  }
  #shoppersReviews .sa-caption {
    display: none !important;
  }
  #shoppersReviews script {
    display: none !important;
  }
  /* Section What Are */
  .section-what-are {
    /* padding: 40px 0; */
  }
  .what-are-content-wrap h2 {
    font-size: 28px;
  }
  .what-are-img-wrap {
    max-width: 379px;
    width: 100%;
    height: auto;
    margin-left: auto;
  }

  /* Featured Section */
  .section-signs-features h2 {
    margin-bottom: 20px;
  }
  .featured-img-wrap {
  }

  /* Section Gallery Image */
  .section-gallery-image .standard-container {
    padding-left: 0;
    padding-right: 0;
  }
  /* Design tool and services */
  .design-services .design-services-group {
    padding: 0;
  }
  .design-services .myrow {
    margin: 0 -20px;
  }
  .design-services-heading > br {
    display: none;
  }
  .design-services .design-services-heading {
    margin: 0 0 20px;
    max-width: initial;
    width: 100%;
    padding: 0 20px;
  }

  /* Section Additional Specs */
  .section-additional-specs .additional-specs-list {
  }
  .section-additional-specs h2 {
    margin-bottom: 20px;
  }
  .additional-specs-list li {
    display: block;
    text-align: center;
    padding: 0;
    border-bottom: 0;
  }
  .additional-specs-list li h3 {
    margin: 0 auto 5px;
    font-weight: 400;
    font-size: 18px;
  }
  .additional-specs-list li p {
    font-size: 16px;
    margin-bottom: 20px;
  }

  .section-additional-specs + .standard-separator {
    /* display: none; */
  }

  /* Section Related Products */
  .section-related-products figure img {
    width: 90%;
    height: auto;
    max-width: 355px;
  }
  .section-related-products .standard-container > a {
    width: 100%;
    margin-bottom: 40px;
  }
  .section-related-products .standard-container > a:last-child {
    margin-bottom: 0;
  }
  /* Section Review */
  #review_image {
    display: none;
  }
  #product_page #sa_sort {
    display: block;
    margin-top: 20px;
    text-align: center;
    /* margin: 0 auto; */
    margin: 20px auto 0;
  }
  #product_page .paging {
    height: auto;
    padding: 0;
    text-align: center;
  }
  #shopper_review_page {
    padding-bottom: 35px;
  }
}
@media (max-width: 414px) {
  /* Section Quick Start */
  .sizeInput.qty {
    justify-content: flex-end;
  }
  .sizeInput.qty .size-input-qty {
    margin: 0;
  }
}
@media (max-width: 375px) {
  /* Section Feature */
  .signs-featured-item {
    padding: 0 0 0 140px !important;
  }
  .signs-featured-item img {
    width: 115px;
    height: 115px;
  }
}
