<div class="product-wrap">
    <div class="newSubPage_sectionHeader">
        <a id="banners">
            <h2 class="product-header" style="text-align: center;">Banners</h2>
        </a>
    </div>
    <div class="flex-container child-5">

        <div class="product-container">
            <a href="https://www.signs.com/myaccount/adddesigntocart/?designid=d891fd73-64b9-4224-881d-3f4029b2e87a&amp;quantity=1">
                <img src="https://www.signs.com/content/assets/filelibrary/145x50-Banner-Mock-Up-1-7485.jpg" alt="">
            </a>
            <h2>145"x50" Banner</h2>
            <p class="product-price"></p>
            <div class="product-button">
                <a class="product-btn"
                   onclick="signsSite.addToCartNoRedirect('d891fd73-64b9-4224-881d-3f4029b2e87a', 1);">Add
                    to
                    Cart</a>
            </div>
        </div>
        <div class="product-container">
            <a href="https://www.signs.com/myaccount/adddesigntocart/?designid=9332147c-5fa4-4bf6-99fc-0f187dfd2207&amp;quantity=1">
                <img src="https://www.signs.com/content/assets/filelibrary/RES-Banner---120x60---96x48-7430.jpg" alt="">
            </a>
            <h2>120"x60" Banner</h2>
            <p class="product-price"></p>
            <div class="product-button">
                <a class="product-btn"
                   onclick="signsSite.addToCartNoRedirect('9332147c-5fa4-4bf6-99fc-0f187dfd2207', 1);">Add
                    to
                    Cart</a>
            </div>
        </div>

        <div class="product-container">
            <a href="https://www.signs.com/myaccount/design/?id=05926d70-041f-4cb0-b13d-26f50f69622a">
                <img src="https://www.signs.com/content/assets/filelibrary/RES-Custom-Banner---72x48-(1)-7429.jpg"
                     alt="">
            </a>
            <h2>72"x48" Custom Welcome Banner</h2>
            <p class="product-price"></p>
            <div class="product-button">
                <a class="product-btn" href="https://www.signs.com/design/?id=05926d70-041f-4cb0-b13d-26f50f69622a">Customize</a>
            </div>
        </div>
        <div class="product-container">
            <a href="https://www.signs.com/myaccount/design/?id=db154dec-5dab-4a1e-a3c8-73df5417fed1">
                <img src="https://www.signs.com/content/assets/filelibrary/RES-Custom-Banner-Right-Arrow---72x48-(1)-7428.jpg"
                     alt="">
            </a>
            <h2>72"x48" Directional Banner Right</h2>
            <p class="product-price"></p>
            <div class="product-button">
                <a class="product-btn" href="https://www.signs.com/design/?id=db154dec-5dab-4a1e-a3c8-73df5417fed1">Customize</a>
            </div>
        </div>
        <div class="product-container">
            <a href="https://www.signs.com/myaccount/design/?id=59c413b5-ec0e-41c5-b650-738bf8b261a8">
                <img src="https://www.signs.com/content/assets/filelibrary/RES-Custom-Banner-Left-Arrow---72x48-(1)-7427.jpg"
                     alt="">
            </a>
            <h2>72"x48" Directional Banner Left</h2>
            <p class="product-price"></p>
            <div class="product-button">
                <a class="product-btn" href="https://www.signs.com/design/?id=59c413b5-ec0e-41c5-b650-738bf8b261a8">Customize</a>
            </div>
        </div>
    </div>

    <div class="newSubPage_sectionHeader">
        <a id="decals">
            <h2 class="product-header" style="text-align: center;">Decals</h2>
        </a>
    </div>
    <div class="flex-container child-2 flex-container-home-safe">


        <div class="product-container">
            <a href="https://www.signs.com/myaccount/adddesigntocart/?designid=08506645-f0d5-455d-ae7a-f9f046b04a56&amp;quantity=1">
                <img src="https://www.signs.com/content/assets/filelibrary/wall-decal-14x24-7236.png" alt="">
            </a>
            <h2>14"x26" Wall Decal</h2>
            <p class="product-price"></p>
            <div class="product-button">
                <a class="product-btn"
                   onclick="signsSite.addToCartNoRedirect('08506645-f0d5-455d-ae7a-f9f046b04a56', 1);">Add
                    to
                    Cart</a>
            </div>
        </div>


        <div class="product-container">
            <a href="https://www.signs.com/myaccount/adddesigntocart/?designid=349ec702-dee9-4bf7-b02b-5ccf87a7d6d4&amp;quantity=1">
                <img src="https://www.signs.com/content/assets/filelibrary/RES-EnergyWheel-Mock-7423.jpg" alt="">
            </a>
            <h2>18"x18" Energy Wheel Wall Decal</h2>
            <p class="product-price"></p>
            <div class="product-button">
                <a class="product-btn"
                   onclick="signsSite.addToCartNoRedirect('349ec702-dee9-4bf7-b02b-5ccf87a7d6d4', 1);">Add
                    to
                    Cart</a>
            </div>
        </div>
    </div>

    <div class="newSubPage_sectionHeader">
        <a id="wooden-signs">
            <h2 class="product-header" style="text-align: center;">Wooden Signs</h2>
        </a>
    </div>
    <div class="flex-container child-2">
        <div class="product-container">
            <a href="https://www.signs.com/design/?id=509e15a0-e4bb-4199-9c6c-928277a0086d">
                <img src="https://www.signs.com/content/assets/filelibrary/wooden-7237.png" alt="">
            </a>
            <h2>48"x21" Wooden Sign (English)</h2>
            <p class="product-price"></p>
            <div class="product-button">
                <a class="product-btn"
                   onclick="signsSite.addToCartNoRedirect('509e15a0-e4bb-4199-9c6c-928277a0086d', 1);">Add
                    to
                    Cart</a>
            </div>
        </div>
        <div class="product-container">
            <a href="https://www.signs.com/design/?id=7cf92a2c-0d5c-4ff3-ab95-1ae23639ee16">
                <img src="https://www.signs.com/content/assets/filelibrary/wooden-spanish-7238.png" alt="">
            </a>
            <h2>48"x21" Wooden Sign (Spanish)</h2>
            <p class="product-price"></p>
            <div class="product-button">
                <a class="product-btn"
                   onclick="signsSite.addToCartNoRedirect('7cf92a2c-0d5c-4ff3-ab95-1ae23639ee16', 1);">Add
                    to
                    Cart</a>
            </div>
        </div>
    </div>

    <div class="newSubPage_sectionHeader">
        <a id="stickers">
            <h2 class="product-header" style="text-align: center;">Stickers</h2>
        </a>
    </div>
    <div class="flex-container">
        <div class="product-container">
            <a href="https://www.signs.com/design/?id=94e7885e-a0a8-4b9e-acfc-a42315362f1f">
                <img src="https://www.signs.com/content/assets/filelibrary/RES-EnergyWheel-Mock-7423.jpg"
                     alt="Energy Wheel Sticker">
            </a>
            <h2>3.5"x3.5" Sticker</h2>
            <p class="product-price"></p>
            <div class="product-button">
                <a class="product-btn"
                   onclick="signsSite.addToCartNoRedirect('94e7885e-a0a8-4b9e-acfc-a42315362f1f', 1);">Add
                    to
                    Cart</a>
            </div>
        </div>
    </div>
    <div class="flex-container child-5">
        <div class="product-container">
            <a href="&amp;quantity=1">
                <img src="https://www.signs.com/content/assets/filelibrary/Project-XX-distance-ahead-9491.png"
                     alt="Project XX Distance ahead">
            </a>
            <h2>Project XX distance ahead (18”x32”)</h2>
            <p class="product-price"></p>
            <div class="product-button">
                <a class="product-btn"
                   onclick="signsSite.addToCartNoRedirect('d891fd73-64b9-4224-881d-3f4029b2e87a', 1);">Add
                    to Cart</a>
            </div>
        </div>
        <div class="product-container">
            <a href="&amp;quantity=1">
                <img src="https://www.signs.com/content/assets/filelibrary/Danger-overhead-powerlines-9476.png"
                     alt="Overhead Powerlines Warning">
            </a>
            <h2>Overhead Powerlines Warning (30”x30”)</h2>
            <p class="product-price"></p>
            <div class="product-button">
                <a class="product-btn"
                   onclick="signsSite.addToCartNoRedirect('d891fd73-64b9-4224-881d-3f4029b2e87a', 1);">Add
                    to Cart</a>
            </div>
        </div>
        <div class="product-container">
            <a href="&amp;quantity=1">
                <img src="https://www.signs.com/content/assets/filelibrary/Visitor-signs-9503.png" alt="Visitors Sign">
            </a>
            <h2>Visitors Sign (24”x18”)</h2>
            <p class="product-price"></p>
            <div class="product-button">
                <a class="product-btn"
                   onclick="signsSite.addToCartNoRedirect('d891fd73-64b9-4224-881d-3f4029b2e87a', 1);">Add
                    to Cart</a>
            </div>
        </div>
        <div class="product-container">
            <a href="&amp;quantity=1">
                <img src="https://www.signs.com/content/assets/filelibrary/Danger-overhead-powerlines-9476.png"
                     alt="Overhead Powerlines Warning">
            </a>
            <h2>Overhead Powerlines Warning (30”x30”)</h2>
            <p class="product-price"></p>
            <div class="product-button">
                <a class="product-btn"
                   onclick="signsSite.addToCartNoRedirect('d891fd73-64b9-4224-881d-3f4029b2e87a', 1);">Add
                    to Cart</a>
            </div>
        </div>
        <div class="product-container">
            <a href="&amp;quantity=1">
                <img src="https://www.signs.com/content/assets/filelibrary/Visitor-signs-9503.png" alt="Visitors Sign">
            </a>
            <h2>Visitors Sign (24”x18”)</h2>
            <p class="product-price"></p>
            <div class="product-button">
                <a class="product-btn"
                   onclick="signsSite.addToCartNoRedirect('d891fd73-64b9-4224-881d-3f4029b2e87a', 1);">Add
                    to Cart</a>
            </div>
        </div>
        <div class="product-container">
            <a href="&amp;quantity=1">
                <img src="https://www.signs.com/content/assets/filelibrary/stop-working-authority-9501.png"
                     alt="Stop work authority">
            </a>
            <h2>Stop work authority</h2>
            <p class="product-price"></p>
            <div class="product-button">
                <a class="product-btn"
                   onclick="signsSite.addToCartNoRedirect('d891fd73-64b9-4224-881d-3f4029b2e87a', 1);">Add
                    to Cart</a>
            </div>
        </div>
        <div class="product-container">
            <a href="&amp;quantity=1">
                <img src="https://www.signs.com/content/assets/filelibrary/Workers-responsibility-9504.png"
                     alt="Workers Responsibility">
            </a>
            <h2>Workers Responsibility (48”x24”)</h2>
            <p class="product-price"></p>
            <div class="product-button">
                <a class="product-btn"
                   onclick="signsSite.addToCartNoRedirect('d891fd73-64b9-4224-881d-3f4029b2e87a', 1);">Add
                    to Cart</a>
            </div>
        </div>
        <div class="product-container">
            <a href="&amp;quantity=1">
                <img src="https://www.signs.com/content/assets/filelibrary/Safety-office-sign-9498.png"
                     alt="Safety Office Sign">
            </a>
            <h2>Safety Office Sign (12”x12”)</h2>
            <p class="product-price"></p>
            <div class="product-button">
                <a class="product-btn"
                   onclick="signsSite.addToCartNoRedirect('d891fd73-64b9-4224-881d-3f4029b2e87a', 1);">Add
                    to Cart</a>
            </div>
        </div>
        <div class="product-container">
            <a href="&amp;quantity=1">
                <img src="https://www.signs.com/content/assets/filelibrary/Main-office-sign-9485.png"
                     alt="Main Office Sign (12”x12”)">
            </a>
            <h2>Main Office Sign (12”x12”)</h2>
            <p class="product-price"></p>
            <div class="product-button">
                <a class="product-btn"
                   onclick="signsSite.addToCartNoRedirect('d891fd73-64b9-4224-881d-3f4029b2e87a', 1);">Add
                    to Cart</a>
            </div>
        </div>
        <div class="product-container">
            <a class="prod-two-img" href="&amp;quantity=1">
                <img src="https://www.signs.com/content/assets/filelibrary/Turbine-number-signs-9502.png"
                     alt="Turbine # and Directional Signs (18”x12”)">
                <img src="https://www.signs.com/content/assets/filelibrary/Directional-signs-2-9477.png"
                     alt="Turbine # and Directional Signs (18”x12”)">
            </a>
            <h2>Turbine # and Directional Signs (18”x12”)</h2>
            <p class="product-price"></p>
            <div class="product-button">
                <a class="product-btn"
                   onclick="signsSite.addToCartNoRedirect('d891fd73-64b9-4224-881d-3f4029b2e87a', 1);">Add
                    to Cart</a>
            </div>
        </div>
        <div class="product-container">
            <a href="&amp;quantity=1">
                <img src="https://www.signs.com/content/assets/filelibrary/Muster-point-9486.png" alt="Muster Point">
            </a>
            <h2>Muster Point (18”x24”)</h2>
            <p class="product-price"></p>
            <div class="product-button">
                <a class="product-btn"
                   onclick="signsSite.addToCartNoRedirect('d891fd73-64b9-4224-881d-3f4029b2e87a', 1);">Add
                    to Cart</a>
            </div>
        </div>
        <div class="product-container">
            <a class="prod-two-img" href="&amp;quantity=1">
                <img src="https://www.signs.com/content/assets/filelibrary/First-aid-sign-9478.png"
                     alt="First Aid sign">
                <img src="https://www.signs.com/content/assets/filelibrary/AED-11-sign-9474.png" alt="AED sign">
            </a>
            <h2>First Aid and AED (10”x14”)</h2>
            <p class="product-price"></p>
            <div class="product-button">
                <a class="product-btn"
                   onclick="signsSite.addToCartNoRedirect('d891fd73-64b9-4224-881d-3f4029b2e87a', 1);">Add
                    to Cart</a>
            </div>
        </div>
        <div class="product-container">
            <a href="&amp;quantity=1">
                <img src="https://www.signs.com/content/assets/filelibrary/Danger-high-voltage-9475.png"
                     alt="Danger High voltage (10”x14”)">
            </a>
            <h2>Danger High voltage (10”x14”)</h2>
            <p class="product-price"></p>
            <div class="product-button">
                <a class="product-btn"
                   onclick="signsSite.addToCartNoRedirect('d891fd73-64b9-4224-881d-3f4029b2e87a', 1);">Add
                    to Cart</a>
            </div>
        </div>
        <div class="product-container">
            <a href="&amp;quantity=1">
                <img src="https://www.signs.com/content/assets/filelibrary/speed-limit-20-sign-9499.png"
                     alt="Speed Limit 10 mph & 20 mph (18”24” or 24”x30”)">
            </a>
            <h2>Speed Limit 10 mph & 20 mph (18”24” or 24”x30”)</h2>
            <p class="product-price"></p>
            <div class="product-button">
                <a class="product-btn"
                   onclick="signsSite.addToCartNoRedirect('d891fd73-64b9-4224-881d-3f4029b2e87a', 1);">Add
                    to Cart</a>
            </div>
        </div>
        <div class="product-container">
            <a href="&amp;quantity=1">
                <img src="https://www.signs.com/content/assets/filelibrary/stop-sign-9500.png"
                     alt='Stop Sign (30”x30”)'>
            </a>
            <h2>Stop Sign (30”x30”)</h2>
            <p class="product-price"></p>
            <div class="product-button">
                <a class="product-btn"
                   onclick="signsSite.addToCartNoRedirect('d891fd73-64b9-4224-881d-3f4029b2e87a', 1);">Add
                    to Cart</a>
            </div>
        </div>
        <div class="product-container">
            <a href="&amp;quantity=1">
                <img src="https://www.signs.com/content/assets/filelibrary/One-way-enter-sign-9487.png"
                     alt="One Way enter Signs (18”x24”)">
                <img src="https://www.signs.com/content/assets/filelibrary/One-way-sign-9488.png"
                     alt="One Way Signs (18”x24”)">
            </a>
            <h2>One Way Signs (18”x24”)</h2>
            <p class="product-price"></p>
            <div class="product-button">
                <a class="product-btn"
                   onclick="signsSite.addToCartNoRedirect('d891fd73-64b9-4224-881d-3f4029b2e87a', 1);">Add
                    to Cart</a>
            </div>
        </div>
        <div class="product-container">
            <a href="&amp;quantity=1">
                <img src="https://www.signs.com/content/assets/filelibrary/Properly-hydrated-sign-9492.png"
                     alt="Hydration Sticker">
            </a>
            <h2>Hydration Sticker</h2>
            <p class="product-price"></p>
            <div class="product-button">
                <a class="product-btn"
                   onclick="signsSite.addToCartNoRedirect('d891fd73-64b9-4224-881d-3f4029b2e87a', 1);">Add
                    to Cart</a>
            </div>
        </div>
        <div class="product-container">
            <a href="&amp;quantity=1">
                <img src="https://www.signs.com/content/assets/filelibrary/Hard-hat-orientation-1-9480.png"
                     alt=" Hard Hat Orientation Stickers (3”x2”) ">
            </a>
            <h2>Hard Hat Orientation Stickers (3”x2”)</h2>
            <p class="product-price"></p>
            <div class="product-button">
                <a class="product-btn"
                   onclick="signsSite.addToCartNoRedirect('d891fd73-64b9-4224-881d-3f4029b2e87a', 1);">Add
                    to Cart</a>
            </div>
        </div>
        <div class="product-container">
            <a href="&amp;quantity=1">
                <img src="https://www.signs.com/content/assets/filelibrary/Hard-hat-orientation-2-9481.png"
                     alt="Hard Hat Orientation Stickers (3”x2”)">
            </a>
            <h2>Hard Hat Orientation Stickers (3”x2”)</h2>
            <p class="product-price"></p>
            <div class="product-button">
                <a class="product-btn"
                   onclick="signsSite.addToCartNoRedirect('d891fd73-64b9-4224-881d-3f4029b2e87a', 1);">Add
                    to Cart</a>
            </div>
        </div>
        <div class="product-container">
            <a href="&amp;quantity=1">
                <img src="https://www.signs.com/content/assets/filelibrary/Hard-hat-orientation-3-9482.png"
                     alt="Hard Hat Orientation Stickers (3”x2”)">
            </a>
            <h2>Hard Hat Orientation Stickers (3”x2”)</h2>
            <p class="product-price"></p>
            <div class="product-button">
                <a class="product-btn"
                   onclick="signsSite.addToCartNoRedirect('d891fd73-64b9-4224-881d-3f4029b2e87a', 1);">Add
                    to Cart</a>
            </div>
        </div>
        <div class="product-container">
            <a href="&amp;quantity=1">
                <img src="https://www.signs.com/content/assets/filelibrary/Hard-hat-orientation-4-9483.png"
                     alt="Hard Hat Orientation Stickers (3”x2”)">
            </a>
            <h2>Hard Hat Orientation Stickers (3”x2”)</h2>
            <p class="product-price"></p>
            <div class="product-button">
                <a class="product-btn"
                   onclick="signsSite.addToCartNoRedirect('d891fd73-64b9-4224-881d-3f4029b2e87a', 1);">Add
                    to Cart</a>
            </div>
        </div>
        <div class="product-container">
            <a href="&amp;quantity=1">
                <img src="https://www.signs.com/content/assets/filelibrary/Hard-hat-orientation-5-9484.png"
                     alt="Hard Hat Orientation Stickers (3”x2”)">
            </a>
            <h2>Hard Hat Orientation Stickers (3”x2”)</h2>
            <p class="product-price"></p>
            <div class="product-button">
                <a class="product-btn"
                   onclick="signsSite.addToCartNoRedirect('d891fd73-64b9-4224-881d-3f4029b2e87a', 1);">Add
                    to Cart</a>
            </div>
        </div>
        <div class="product-container">
            <a class="prod-two-img img-distance" href="&amp;quantity=1">
                <img src="https://www.signs.com/content/assets/filelibrary/PPE-sign-1-9489.jpg" alt="PPE">
                <img src="https://www.signs.com/content/assets/filelibrary/PPE-sign-2-9490.jpg" alt="PPE">
            </a>
            <h2>PPE</h2>
            <p class="product-price"></p>
            <div class="product-button">
                <a class="product-btn"
                   onclick="signsSite.addToCartNoRedirect('d891fd73-64b9-4224-881d-3f4029b2e87a', 1);">Add
                    to Cart</a>
            </div>
        </div>
    </div>

</div>