<section class="section-hero-full-width">
    <div class="hero-body">
        <div class="hero-img-wrap"><img class="hero-img" src="https://www.signs.com/content/assets/filelibrary/HomepageHero-1920x400-8121.jpg" alt="Opaque Vehicle Decals"></div>
    </div>
</section>