<style >
/* Global */
.img-wrap {
    font-size: 0;
}

.section-default-landing {
    padding: 40px 0;
}

    .section-default-landing h1 {
        font-size: 50px;
        font-weight: 400;
        line-height: 1;
        margin-bottom: 20px;
    }

    .section-default-landing h2 {
        font-size: 30px;
        font-weight: 500;
        margin-bottom: 50px;
    }

    .section-default-landing a {
        display: inline-block;
        color: #0097D5;
    }

    .section-default-landing a {
        color: #0097D5;
    }

        .section-default-landing a:hover {
            color: #0384b9;
        }

.section-default .caret {
    border: 6px solid transparent;
    border-top: 6px solid #0097D5;
    top: 4px;
    margin-left: 5px;
    display: inline-block;
    position: relative;
    margin-top: 0;
}

.section-default a:hover .caret {
    border-top: 6px solid #0384b9;
}

.landing-subtitle-list {
    font-size: 0;
    margin-bottom: 60px;
}

    .landing-subtitle-list li {
        position: relative;
        display: inline-block;
        font-size: 20px;
        padding: 0 10px;
    }

        .landing-subtitle-list li:first-child:before {
            visibility: hidden;
        }

        .landing-subtitle-list li:before {
            content: "\2022";
            position: absolute;
            left: -4px;
        }


/* Custom Banners */
.product-card-wrap {
    font-size: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-bottom: 50px;
}

    .product-card-wrap h2 {
        flex: 0 0 100%;
        margin-bottom: 40px;
        font-weight: 500;
    }

.product-card {
    text-align: center;
    display: inline-block;
    font-size: initial;
    vertical-align: top;
    margin-bottom: 20px;
    flex: 0 0 auto;
    padding: 0 15px;
}

.product-card-details {
    max-width: 370px;
    width: 100%;
    height: 370px;
    position: relative;
    box-shadow: 0px 3px 6px #00000033;
    overflow: hidden;
}

.product-card-image {
    display: flex;
    height: 100%;
    align-items: center;
}

    .product-card-image .img-wrap {
        flex: 0 0 100%;
    }

.product-card-hover {
    position: absolute;
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    height: 100%;
    top: 100%;
    padding: 54px 40px;
    background: rgba(51, 51, 51,.8);
    opacity: 0;
    visibility: hidden;
    -webkit-transition-property: opacity, visibility;
    transition-property: opacity, visibility;
    -webkit-transition-duration: .4s;
    transition-duration: .4s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    top: 0;
}
/* .product-card-details:hover .product-card-hover, */
.product-card.active .product-card-details .product-card-hover {
    top: 0;
    opacity: 1;
    visibility: visible;
}

.product-card-hover p {
    max-width: 290px;
    width: 100%;
    margin: 0 auto;
    font-size: 21px;
    font-weight: 300;
}

.product-card-hover * {
    color: #fff;
    position: relative;
    z-index: 1;
}

.product-card-hover-top-only, .product-card-hover-bottom-only {
    background: rgba(51, 51, 51,.8);
}

.product-card-hover-top,
.product-card-hover-bottom {
    background: rgba(51, 51, 51,.55);
}

.product-card-hover-top, .product-card-hover-top-only {
    top: -100%;
    top: 0;
}

.product-card-hover-bottom, .product-card-hover-bottom-only {
    top: 100%;
    top: 0;
}

.product-card-actions {
    flex: 0 0 100%;
    margin-top: auto;
}

.product-card-link-Gstart {
    display: block;
    font-size: 23px;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 1;
    max-width: 278px;
    width: 100%;
    margin: 0 auto 10px;
    padding: 13px 13px;
}

.product-card-link-Lmore {
    text-decoration: none;
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 300;
    position: relative;
    color: #fff !important;
}

    .product-card-link-Lmore:hover,
    .product-card-link-Lmore:focus {
        color: #ddd !important;
    }

        .product-card-link-Lmore:hover:after,
        .product-card-link-Lmore:focus:after {
            background: #ddd;
        }

    .product-card-link-Lmore:after {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 1px;
        content: '';
        display: block;
        width: 100%;
        height: 1px;
        background: #fff;
    }

.product-card-success {
    background: #8CC53F;
    border-radius: 9px;
    color: #fff !important;
}

    .product-card-success:hover,
    .product-card-success:focus {
        background: #77ad2e;
    }

.product-card-header {
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-card-title {
    font-size: 25px;
    display: inline-block;
    flex: 0 0 auto;
}

    .product-card-title br {
        display: none;
    }

.product-card-status {
    font-size: 25px;
    color: #0097D5;
    font-weight: 400;
    flex: 0 0 auto;
}

.caret {
    border: 6px solid transparent;
    border-top: 6px solid #5ba9f5;
    margin-top: 5px;
    margin-left: 5px;
}

/* Shoppers Review */
#shoppersReviews {
    padding: 2.5vw 0 2.7vw;
}

    #shoppersReviews br, #shoppersReviews .sa-caption {
        display: none;
    }

    #shoppersReviews .shopper-approved-link {
        margin: 0;
    }

/* View FAQ */
.section-default-landing.faq-search-links {
    padding: 35px 0;
    background: #fff;
}

/* What are banners */
.section-what-are-banners {
    text-align: left;
}

    .section-what-are-banners:after {
        content: "";
        display: block;
        clear: both;
    }

    .section-what-are-banners .parawraps {
    }

    .section-what-are-banners .img-wrap {
        float: right;
        max-width: 830px;
        width: 100%;
        margin-top: -80px;
        margin-left: 35px;
        margin-right: -63px;
    }




/* Custom Banners at a Glance */
.bannersTab {
    margin-bottom: 30px;
}

.bannerTabLinks {
    background: #e6e6e6;
    color: #333333;
    border: 0;
    max-width: 330px;
    width: 100%;
    font-size: 30px;
    outline: none;
    line-height: 1;
    font-weight: 400;
    font-family: proxima-nova;
    padding: 22px 20px;
}

    .bannerTabLinks:hover {
        background: #d2d1d1;
        cursor: pointer;
    }

    .bannerTabLinks.active {
        background: transparent linear-gradient(180deg, #65ABCD 0%, #4489BA 100%);
        color: #fff;
        -webkit-transform: perspective(1px) translateZ(0);
        transform: perspective(1px) translateZ(0);
    }

        .bannerTabLinks.active:hover,
        .bannerTabLinks.active:focus {
            -webkit-animation-name: hvr-push;
            animation-name: hvr-push;
            -webkit-animation-duration: 0.3s;
            animation-duration: 0.3s;
            -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
            -webkit-animation-iteration-count: 1;
            animation-iteration-count: 1;
        }

@keyframes hvr-push {
    50% {
        -webkit-transform: scale(0.97);
        transform: scale(0.97);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

.product-block {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    position: relative;
    margin-bottom: 19px;
    padding: 70px 60px;
    opacity: 0;
}

    .product-block:nth-of-type(even) {
        flex-direction: row-reverse;
    }

        .product-block:nth-of-type(even) .product-block-details {
            margin-left: 0;
            text-align: left;
        }

        .product-block:nth-of-type(even) .product-block-item {
            flex-direction: row;
        }

        .product-block:nth-of-type(even) .product-block-icon {
            margin-left: 0;
            margin-right: 30px;
        }

        .product-block:nth-of-type(even) .product-block-img {
            margin-right: 0;
            margin-left: 50px;
        }

    .product-block:after {
        position: absolute;
        content: '';
        display: block;
        left: 0;
        right: 0;
        bottom: 0;
        height: 1px;
        background: #d5d5d5;
    }

    .product-block:last-child:after {
        background: transparent;
    }

    .product-block h2 {
        width: 100%;
    }

.product-block-img {
    display: inline-block;
    max-width: 370px;
    width: 100%;
    margin-right: 50px;
}

.product-block-details {
    margin-left: auto;
    text-align: right;
    display: inline-block;
}

.product-block-item {
    display: flex;
    font-size: 25px;
    flex-direction: row-reverse;
    align-items: center;
    margin-bottom: 5px;
}

.product-block-icon {
    display: inline-block;
    max-width: 50px;
    height: 50px;
    flex: 0 0 100%;
    margin-left: 30px;
}

.product-block-actions {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.product-block:nth-of-type(even) .product-block-actions {
    flex-direction: row;
}

.product-block-Lmore {
    font-size: 25px;
}

.bannerTabContentWrap {
    position: relative;
}

.bannerTabContent {
    position: absolute;
    z-index: -1;
}


    .bannerTabContent.active {
        position: static;
    }

        .bannerTabContent.active .product-block {
            animation-delay: .3s;
            -webkit-animation-delay: .3s;
            -webkit-animation-duration: .4s;
            animation-duration: .4s;
            -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
            -webkit-animation-name: showMe;
            animation-name: showMe;
        }

@keyframes showMe {
    0% {
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}



/* Design tool and services */
.design-services .standard-container {
    max-width: 1750px;
}

.design-services .myrow {
    display: flex;
}

.design-services .design-services-group {
    margin: 0 40px;
}

.design-services .design-services-heading {
    margin: 0 auto 35px;
    max-width: 340px;
    text-transform: uppercase;
}


.design-services .design-services-image {
    margin-bottom: 0;
}

.design-services .design-services-text {
    color: #919396;
    font-size: 26px;
    font-weight: 300;
    max-width: 754px;
    margin: 0 auto 5px;
}

.design-services-group .img-wrap {
    margin-bottom: 20px;
}

.design-services .design-services-group a {
    font-size: 25px;
}
/* The Signs.com Advantage */
.section-signs-advantage {
    padding: 75px 0 95px;
}

    .section-signs-advantage .standard-container {
        max-width: 1870px;
    }

.signs-advantage-block {
    font-size: 0;
    display: flex;
    flex-flow: row wrap;
    width: 100%;
}

.signs-advantage-image {
    margin: 0 auto 20px;
    max-width: 100px;
}

.signs-advantage-card {
    position: relative;
    display: inline-block;
    text-align: center;
    max-width: 365px;
    width: 100%;
    flex: 0 0 100%;
}

    .signs-advantage-card:after {
        content: "";
        display: block;
        position: absolute;
        top: 15px;
        bottom: 15px;
        background: #b9b9b9;
        width: 2px;
        right: 0;
    }

    .signs-advantage-card:last-of-type:after {
        background: transparent;
    }

.signs-advantage-details {
    position: relative;
}

    .signs-advantage-details h3 {
        font-size: 30px;
        line-height: 1;
        margin-bottom: 20px;
    }

.signs-advantage-link {
    font-size: 25px;
}

.signs-advantage-link {
    font-weight: 300;
    text-transform: capitalize;
}

.fab-modal {
    z-index: 1;
    position: absolute;
    background: black;
    color: white;
    padding: 10px;
    width: 90%;
    top: 0;
    border-radius: 7px;
    text-align: center;
    left: 0;
    right: 0;
    margin: 0 auto;
    opacity: 0;
    visibility: hidden;
    -webkit-transition-property: opacity, visibility;
    transition-property: opacity, visibility;
    -webkit-transition-duration: 1s;
    transition-duration: 1s;
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
}

    .fab-modal.active {
        opacity: 1;
        visibility: visible;
    }

    .fab-modal .standard-separator {
        height: 1px;
    }

    .fab-modal h3 {
        font-size: 1.2rem;
        padding: 5px 0;
        margin-bottom: 2px;
    }

    .fab-modal p {
        font-size: 1rem;
        padding: 5px;
        margin-bottom: 0;
    }
/* Additional Resources */
.additional-resources-block {
    font-size: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.additional-resources-card {
    font-size: initial;
    max-width: 506px;
    width: 100%;
    display: inline-block;
    flex: 0 0 100%;
    padding: 0 20px;
}

.additional-resources-image {
    margin: 0 auto 40px;
}

.additional-resources-title {
    font-size: 25px;
    line-height: 1;
    margin-bottom: 15px;
    color: #333;
}

.additional-resources-text {
    color: #919396;
    font-weight: 400;
}

a:hover .additional-resources-title {
    color: rgba(51, 51, 51,.7);
}

a:hover .additional-resources-text {
    color: rgba(145, 147, 150, .8);
}
/* FAQ */
.signs-faq-a p {
    margin-bottom: 15px;
}

.faqmain .signs-faq-a .signs-faq-q,
.faqmain .signs-faq-a .signs-faq-a {
    position: relative;
    padding: 0;
    font-weight: 400;
    margin: 0 0 5px;
    font-size: 18px;
    line-height: 1;
    padding-left: 20px;
    color: #333;
}

.faqmain .signs-faq-a ul {
    padding-left: 20px;
    margin-bottom: 20px;
}

.faqmain .signs-faq-a .signs-faq-q:before,
.faqmain .signs-faq-a .signs-faq-a:before {
    position: absolute;
    content: '\2022';
    top: -8px;
    left: 0;
    font-size: 30px;
}

.faqmain a {
    color: #0097D5;
}

    .faqmain a:hover {
        color: #0384b9;
    }

@media (max-width: 1800px) and (min-width: 1700px) {
    .signs-advantage-card {
        width: auto;
        max-width: initial;
        flex: 0 0 19vw;
    }
}

@media (max-width: 1680px) {
    /* Global 1680 */
    .standard-container {
        max-width: initial;
        width: 89.2vw;
        padding: 0 1.04vw;
    }

    /* Custom Banners 1680 */
    .product-card-details {
        max-width: initial;
        width: 19.28vw;
        height: 19.28vw;
    }

    .product-card-hover {
        padding: 2.6vw 2.06vw;
    }

        .product-card-hover p {
            font-size: 1.1vw;
        }

    .product-card-link-Gstart {
        font-size: 1.2vw;
    }

    .product-card-link-Lmore {
        font-size: 1.05vw;
    }

    .product-card-title {
        font-size: 1.3vw;
    }

    .product-card-status {
        font-size: 1.3vw;
    }

    .product-block:nth-of-type(even) .product-block-img {
        margin-right: 0;
        margin-left: 0;
    }


    /* What Are Banners */
    .section-what-are-banners .img-wrap {
        max-width: inherit;
        width: 43.25vw;
        margin-left: 35px;
    }

    .section-what-are-banners .parawraps {
        width: 43.4vw;
    }

        .section-what-are-banners .parawraps p {
            font-size: 1.04vw;
        }


    /* Custom Banners at a Glance 1680 */
    .product-block {
        padding: 70px 3vw;
    }

    .product-block-item {
        font-size: 1.25vw;
        white-space: nowrap;
    }

    .product-block-img {
        margin-right: 0;
        width: 370px;
        max-width: initial;
    }

    .product-block-icon {
        width: 2.6vw;
        max-width: initial;
        flex: 0 0 2.6vw;
        height: 2.6vw;
        margin-left: 1.56vw;
    }


    .product-block:nth-of-type(even) .product-block-icon {
        width: 1.56vw;
        margin-right: 1.56vw;
    }
    /* Design Tool and Services 1680 */
    .design-services .img-wrap {
        /* height: 471.59px; */
    }

    .design-services-group .design-services-text {
        min-height: 124px;
    }

    /* The Signs.com Advantage 1680 */
    .signs-advantage-card {
        max-width: initial;
        flex: 0 0 19vw;
        width: 19vw;
    }

    .section-signs-advantage .standard-container {
        max-width: initial;
        width: 98vw;
    }

    .signs-advantage-details h3 {
        font-size: 1.56vw;
        margin-bottom: .5vw;
    }

    .signs-advantage-link {
        font-size: 1.3vw;
    }



    /* Additional Resources 1680 */
    .section-additional-resources .additional-resources-text {
        font-weight: 300;
        font-size: 1.19vw;
        width: 100%;
        margin: 0 auto;
    }

    .additional-resources-card {
        max-width: initial;
        flex: 0 0 29vw;
    }

    .additional-resources-title {
        font-size: 1.8vw;
    }
}

@media (max-width: 1600px) {
    /* Design Tool and Services 1600 */
    .design-services .img-wrap {
        height: auto;
    }
}

@media(max-width: 1536px) {
    /* Design Tool and Services 1536 */
    .design-services .design-services-text {
        min-height: 0;
        font-size: 1.3vw;
    }

    .design-services .design-services-group a {
        font-size: 1.3vw;
    }
}

@media (max-width: 1440px) {
    /* Custom Banners at a Glance 1440 */

    /* Design Tool and Services 1440 */
    .design-services .design-services-heading {
        margin-bottom: 20px;
    }
}

@media (max-width: 1366px) {
    /* Custom Banners at a Glance 1366 */

    /* Design and Tool 1366 */
    .design-services .design-services-group {
        margin: 0 20px;
    }
}

@media (max-width: 1199px) {
    /* Custom Banners 1199 */
    .product-card-details {
        max-width: initial;
        width: 26vw;
        height: 26vw;
    }

    .product-card-hover {
        padding: 2.6vw 2.06vw;
    }

        .product-card-hover p {
            font-size: 1.56vw;
        }

    .product-card-link-Gstart {
        font-size: 1.55vw;
    }

    .product-card-link-Lmore {
        font-size: 1.55vw;
    }

    .product-card-title {
        font-size: 1.8vw;
    }

    .product-card-status {
        font-size: 1.8vw;
    }

    /* What are Banners 1199 */
    .section-what-are-banners .img-wrap {
        max-width: inherit;
        width: 43.25vw;
        margin-left: 0;
        margin-right: 0;
    }

    .section-what-are-banners .parawraps {
        /* width: 48.9vw; */
        width: 100%;
    }

        .section-what-are-banners .parawraps p {
            font-size: 1.8vw;
        }

    /* Custom Banners at Glance 1199*/
    .bannersTab {
        font-size: 0;
        display: flex;
        justify-content: space-between;
    }

    .bannerTabLinks {
        max-width: initial;
        width: calc(100% / 3 - 4px);
        font-size: 2.8vw;
        padding: 2.15vw 2vw;
    }

    .product-block-details {
        width: 44.5vw;
    }

    .product-block-item {
        font-size: 1.9vw;
        white-space: normal;
        line-height: 1.1;
    }

    .product-block-icon {
        width: 3.5vw;
        height: 3.5vw;
        flex: 0 0 3.5vw;
    }

    .product-block:nth-of-type(even) .product-block-icon {
        width: 3.5vw;
        height: 3.5vw;
        flex: 0 0 3.5vw;
        margin-right: 1.56vw;
    }

    .product-block-Lmore {
        font-size: 1.9vw;
    }
    /* Design tool and services 1199*/
    .design-services .design-services-heading {
        font-size: 24px;
        max-width: 235px;
    }

    .design-services .design-services-text {
        min-height: auto;
        font-size: 20px;
    }

    .design-services .design-services-group a {
        font-size: 22px;
    }
}

@media (max-width: 991px) {
    /* Custom Banners 991 */
    .product-card-details {
        max-width: initial;
        width: 39vw;
        height: 39vw;
    }

    .product-card-hover {
        padding: 2.6vw 2.06vw;
    }

        .product-card-hover p {
            font-size: 2.5vw;
            /* font-size: 20px; */
        }

    .product-card-link-Gstart {
        font-size: 2.2vw;
    }

    .product-card-link-Lmore {
        font-size: 2.2vw;
    }

    .product-card-title {
        font-size: 2.5vw;
    }

    .product-card-status {
        font-size: 2.5vw;
    }

    /* Custom Banners at Glance */
    .product-block {
        display: block;
    }

    .product-block-img {
        height: auto;
    }

    .product-block-item {
        display: flex;
        flex-direction: row;
        text-align: left;
        font-size: 20px;
    }

    .product-block-list {
        margin-bottom: 15px;
    }

    .product-block-icon,
    .product-block:nth-of-type(even) .product-block-icon {
        flex: 0 0 50px;
        vertical-align: middle;
        margin-left: 0;
        margin-right: 1.56vw;
        width: 50px;
        height: 50px;
    }

    .product-block-actions .product-block-icon {
        display: none;
    }

    .product-block h2 {
        margin-bottom: 20px;
    }

    .product-block-details {
        width: 57.5vw;
    }

    .product-block-actions {
        text-align: center;
        display: block;
    }

    .product-block-Lmore {
        font-size: 25px;
    }
    /* Design tool and services 991 */
    .design-services .design-services-text {
        height: auto;
    }

    .design-services .myrow {
        display: block;
    }

    .design-services .design-services-heading {
        max-width: initial;
        display: block;
        margin: 0 0 20px;
    }

    .design-services .design-services-group:last-child {
        margin-bottom: 0;
    }

    .design-services .design-services-group {
        margin: 0 auto 40px;
        max-width: 630px;
    }

    .design-services .design-services-heading br {
        display: block;
    }

    .design-services .design-services-text {
        font-size: 2.5vw;
        width: 71vw;
        height: auto;
    }

    .design-services .design-services-group a {
        font-size: 2.5vw;
    }

    /* The Signs.com Advantage 991 */
    .section-signs-advantage {
        padding: 6vw 0 5vw;
    }

    .signs-advantage-block {
        justify-content: center;
    }

    .signs-advantage-card {
        flex: 0 0 30vw;
        margin-bottom: 45px;
    }

    .signs-advantage-image {
        width: 12.5vw;
        height: 12.5vw;
        max-width: initial;
    }

    .signs-advantage-details h3 {
        font-size: 2.56vw;
    }

    .signs-advantage-link {
        font-size: 2.5vw;
    }

    .signs-advantage-card:nth-child(3):after {
        opacity: 0;
    }

    .section-signs-advantage {
        padding-bottom: 0;
    }

    /* Additional Resources 991 */
    .additional-resources-card {
        flex: 0 0 58.5vw;
        margin: 0 auto 6vw;
    }

    .additional-resources-title {
        font-size: 2.9vw;
    }

    .section-additional-resources .additional-resources-text {
        font-size: 2.2vw;
    }
}

@media (max-width: 800px) {
    /* Shopper Review 800 */
    #shoppersReviews .shopperapproved_widget {
        display: block !important;
        width: 40vw !important;
    }

    #shoppersReviews .aggregateRating-container {
        display: flex;
        flex-flow: row-reverse wrap;
    }

    #shoppersReviews .sa_review {
        width: 100%;
        margin: 0;
    }

    #shoppersReviews .shopperapproved_widget, #shoppersReviews .shopperapproved_widget * {
        box-sizing: border-box;
    }

    #shoppersReviews .shopperapproved_widget {
        text-align: center;
        display: flex !important;
        align-items: center;
    }

    #shoppersReviews .sa_info,
    #shoppersReviews .sa_comments {
        position: static;
        margin: 0;
        padding: 0 !important;
        overflow: visible;
        width: 100% !important;
        height: auto;
    }

    #shoppersReviews .sa_info {
        order: 1;
    }

    #shoppersReviews .sa_displayname {
        padding: 0;
    }

    #shoppersReviews .sa_review {
        display: flex;
        flex-flow: row-reverse wrap;
        flex-direction: row;
        padding: 0 !important;
        height: auto;
        min-height: auto;
    }

    #shoppersReviews .shopper-approved-link {
        margin: 0;
    }

    #shoppersReviews .sa_location, #shoppersReviews .sa-caption {
        display: none !important;
    }
}

@media (max-width: 767px) {
    /* Custom Banners 767 */
    .product-card-details {
        max-width: initial;
        width: 38vw;
        height: 38vw;
    }

    .product-card-hover {
        padding: 2.6vw 2.06vw;
    }

        .product-card-hover p {
            font-size: 2.5vw;
            /* font-size: 20px; */
        }

    .product-card-link-Gstart {
        font-size: 2.2vw;
    }

    .product-card-link-Lmore {
        font-size: 2.2vw;
    }

    .product-card-title {
        font-size: 2.5vw;
    }

    .product-card-status {
        font-size: 2.5vw;
    }

    /* What are banners 767*/
    .section-what-are-banners h2 {
        margin-bottom: 25px;
        text-align: center;
    }

    .section-what-are-banners .img-wrap {
        float: none;
        margin: 0 auto;
        width: 100%;
    }

    .section-what-are-banners .parawraps p {
        font-size: 4.2vw;
    }
}

@media (max-width: 575px) {
    /* What are banners 575 */
    .section-what-are-banners .img-wrap {
        width: 100vw;
        margin-left: -4vw;
    }

    .section-what-are-banners .parawraps {
        text-align: center;
    }
    /* Design tool and services 575 */
    .section-free-design-services {
        padding: 0;
    }

    .design-services .design-services-group {
        margin: 0 0 30px;
    }

    .design-services .standard-container {
        padding: 0;
    }

    .design-services-group:last-of-type .design-services-heading {
        max-width: 340px;
    }

    .design-services .design-services-heading {
        display: block;
        padding: 0 45px;
        margin: 0 auto 15px;
    }

        .design-services .design-services-heading br {
            display: none;
        }

    .design-services .design-services-text {
        font-size: 20px;
        max-width: 400px;
        margin: 0 auto 5px;
        max-width: initial;
        width: 80vw;
    }

    .design-services .design-services-text,
    .design-services .design-services-group a {
        font-size: 3.4vw;
    }
}

@media (max-width: 480px) {
    #covid-19-bar ~ .standardWidth {
        margin-top: 0;
    }

    .standard-container {
        width: 100vw;
        padding: 0 3vw;
    }
    /* Custom Banners 480 */
    .section-default-landing h1 {
        font-size: 10vw;
        margin-bottom: 15px;
    }

    .landing-subtitle-list {
        width: 94vw;
        margin: 0 auto 25px;
    }

        .landing-subtitle-list li {
            font-size: 2.9vw;
            padding: 0 1.5vw;
        }

    .product-card {
        padding: 0 2vw;
    }

    .product-card-details {
        max-width: initial;
        width: 43vw;
        height: 43vw;
    }

    .product-card-hover {
        padding: 2.6vw 2.06vw;
    }

        .product-card-hover p {
            font-size: 3vw;
            /* font-size: 12px; */
        }

    .product-card-link-Gstart {
        font-size: 3vw;
        padding: 7px;
        /* font-size: 14px; */
        margin-bottom: 0;
        width: 35vw;
        display: block !important;
        width: 100%;
    }

    .product-card-link-Lmore {
        font-size: 3vw;
    }

    .product-card-title {
        font-size: 4.3vw;
    }

        .product-card-title br {
            display: block;
        }

    .product-card-status {
        font-size: 4.3vw;
    }
    /* Custom Banners at a Glance 480*/
    .section-banners-glance {
        padding-bottom: 0;
    }

    .product-block {
        padding: 5vw 3vw 9vw;
    }

    .product-block-item {
        font-size: 4vw;
        margin-bottom: 10px;
    }

    .product-block-list {
        margin-bottom: 20px;
    }

    .product-block-img {
        width: 70vw;
    }

    .product-block-details {
        width: 85vw;
    }

    .product-block-icon,
    .product-block:nth-of-type(even) .product-block-icon {
        flex: 0 0 6vw;
        height: 6vw;
        margin-right: 3vw;
    }

    .product-block-Lmore {
        font-size: 5vw;
    }
}

@media (max-width: 480px) {
    /* Custom Banners */
    .product-card-wrap {
        margin: 0;
    }

    /* What are banners */
    .section-what-are-banners {
        padding: 8vw 0 4vw;
    }

    /* Design and tool services 480*/
    .section-default-landing.design-services {
        padding-bottom: 35px;
    }

    .design-services .design-services-text,
    .design-services .design-services-group a {
        font-size: 4.4vw;
        width: 88vw;
    }
    /* The Signs.com Advantage 480 */
    .section-signs-advantage {
        padding: 8vw 0 4vw;
    }

        .section-signs-advantage h2 {
            margin-bottom: 6vw;
        }

    .signs-advantage-card {
        flex: 0 0 60vw;
        margin-bottom: 20px;
    }

        .signs-advantage-card:after {
            display: none;
        }

    .signs-advantage-image {
        width: 24.1vw;
        height: 24.1vw;
    }

    .signs-advantage-details h3 {
        font-size: 5.5vw;
        margin-bottom: 3vw;
    }

    .signs-advantage-link {
        font-size: 5.4vw;
    }

    /* Additional Resources */
    .section-additional-resources {
        padding: 11vw 0 6vw;
    }

        .section-additional-resources h2 {
            margin-bottom: 5vw;
        }

    .additional-resources-card {
        flex: 0 0 91.7vw;
    }

    .additional-resources-title {
        font-size: 5.3vw;
    }

    .section-additional-resources .additional-resources-text {
        font-size: 17px;
        max-width: 296px;
    }

    .additional-resources-image {
        margin-bottom: 6vw;
    }
}

@media (max-width: 414px) {
    /* Custom Banners at a Glance */
    .section-banners-glance h2 {
        margin-bottom: 20px;
    }

    .bannersTab {
        width: 85vw;
        margin: 0 auto;
    }

    .bannerTabLinks {
        max-width: 115px;
        width: calc(100% / 3 - 2px);
        font-size: 3.8vw;
        padding: 3.85vw 0vw;
    }
}

@media (max-width: 375px) {
    /* Design tool and services 375 */
    .design-services .design-services-heading {
        padding: 0 25px;
    }
}

@media (max-width: 360px) {
    /* Design tool and services 360 */
    .design-services .design-services-heading {
        padding: 0 20px;
    }
}

</style >
