<script type="text/javascript">// <![CDATA[
$(document).ready(function(){
    var $window = $(window),
        $stickyEl = $('.product-quick-start-form-container'),
        elTop = $stickyEl.offset().top;

    $window.scroll(function() {
        $stickyEl.toggleClass('sticky', $window.scrollTop() > elTop);
    });
});
// ]]></script>
<!-- Custom Giant Checks -->
<div class="main-content">
    <div class="main-content-header">
        <div class="main-title">Custom Giant Checks</div>
        <div class="main-sub-title">for contests, donations, &amp; other marketing events.</div>
        <div class="hero-image">
            <img src="https://www.signs.com/content/assets/filelibrary/GiantCheckWinners-3366.jpg" alt="Custom giants checks">
        </div>
    </div>
</div>