.faq-search .faq-search-form .txt-faq-search {
    box-sizing: content-box;
}

.main-content-with-background h1 {
    padding-top: 0;
}

.fab-main {
    width: 85%;
}

.fab-section {
    flex: 1;
}

body {
    font-size: 1em;
}

.content-header.options {
    font-size: 2.5rem;
    margin: 40px 5px 40px 45px;
    text-align: left;
}


span.fab-asterisk {
    font-style: italic;
    font-size: 0.8em;
}

.content-header {
    font-size: 2.5rem;
}

.hero-image {
    background: url("https://www.signs.com/content/assets/filelibrary/flag-hero-3287.png") no-repeat;
}

@media only screen and (max-width: 800px) {
    .main-sub-title {
        display: flex;
        flex-direction: column;
        margin: 10px;
    }

        .main-sub-title span {
            visibility: hidden;
        }


    .content-header.options {
        margin: 70px auto 20px auto;
        text-align: center;
    }

    .hero-image {
        height: 210px;
        margin-top: 0px;
    }

    .design-services-group {
        flex: 1 1 300px;
    }


    .hero-image {
        height: 210px;
        margin-top: 0px;
    }

    .fab-section {
        flex: none;
    }

    .content-text {
        font-size: 1em;
        padding-bottom: 0px;
    }
}

.additional-specs-section {
    margin: 60px 0;
    font-size: 20px;
}

    .additional-specs-section .specs-table {
        margin: 0 auto;
    }

        .additional-specs-section .specs-table th,
        .additional-specs-section .specs-table td {
            padding: 20px;
            text-align: center;
            color: #777;
            vertical-align: baseline;
        }

            .additional-specs-section .specs-table th:first-child,
            .additional-specs-section .specs-table td:first-child {
                display: none;
                text-align: left;
                padding-left: 0;
                color: #333;
            }

            .additional-specs-section .specs-table th:last-child,
            .additional-specs-section .specs-table td:last-child {
                width: 50%;
            }

            .additional-specs-section .specs-table td:nth-child(2) {
                border-right: 1px solid #ccc;
            }

        .additional-specs-section .specs-table th {
            color: #333;
            font-size: 20px;
            text-decoration: underline;
        }

        .additional-specs-section .specs-table .mobile-heading {
            display: block;
            color: #333;
        }

    .additional-specs-section.single-product-specs .specs-table {
        max-width: 500px;
    }

        .additional-specs-section.single-product-specs .specs-table td:nth-child(2) {
            border-right: none;
        }

        .additional-specs-section.single-product-specs .specs-table td:last-child {
            width: auto;
        }

@media (min-width: 992px) {
    .additional-specs-section .specs-table {
        max-width: 70%;
    }

        .additional-specs-section .specs-table tr:not(:last-child) > th,
        .additional-specs-section .specs-table tr:not(:last-child) > td {
            border-bottom: 1px solid #ccc
        }

        .additional-specs-section .specs-table th,
        .additional-specs-section .specs-table td {
            text-align: left;
            vertical-align: middle;
        }

        .additional-specs-section .specs-table th {
            text-align: center;
            text-decoration: none;
        }

        .additional-specs-section .specs-table .mobile-heading {
            display: none;
        }

        .additional-specs-section .specs-table th:first-child,
        .additional-specs-section .specs-table td:first-child {
            display: table-cell;
            padding-right: 0;
        }

    .additional-specs-section.single-product-specs .specs-table td:first-child {
        width: 150px;
    }
}

@media (min-width: 1500px) {
    .additional-specs-section.single-product-specs .specs-table {
        max-width: 40%;
    }

    .additional-specs-section .specs-table th:first-child,
    .additional-specs-section .specs-table td:first-child {
        width: 200px;
    }

    .additional-specs-section.single-product-specs .specs-table td:first-child {
        width: 200px;
    }
}
