<div class="main-content-with-background">
    <div class="main-content-header">
        <div class="content-text">
            <h1>Custom Perforated Window Decals</h1>
            <div class="main-sub-title">Easy Installation <span>&#9679</span> Vibrant Colors <span>&#9679</span> One-Way Vision</div>
        </div>
        <div class="section-image">
            <img class="bg-image" src="https://www.signs.com/content/assets/filelibrary/PerforatedWndowDecalHero@2x-6627-(1)-6708.png" alt="" />
        </div>
        <div class="header-text">Advertise your business, message, or brand and still see out your window from the inside.</div>
    </div>
</div>