img.bg-image {
    max-width: unset;
}
.main-content-with-background h1 {
    padding-top: 0px;
    font-size: 3rem;
}
@media only screen and (max-width: 1366px) {
    .content-text {
        margin-top: 0;
        font-size: 0.9rem;
    }
    .main-content-with-background h1 {
        padding-top: 0px;
        font-size: 2rem;
    }
    .header-text {
        font-size: 1rem;
    }
    .section-image {
        text-align: center;
    }

    img.bg-image {
        max-width: 800px;
    }

    .header-text {
        margin-top: 5px;
        margin-bottom: 10px;
        font-size: 1.1rem;
    }
}
.what-are .highlight-section {
    align-self: stretch;
}
.highlight-container .highlight-image-container.mobile {
    display: none;
}
span.subtext {
    margin-top: 10px;
    font-size: 1.2rem;
    font-style: italic;
}
.standard-separator {
    margin: 50px;
}
div#multiple-panels img {
    width: 100%;
}

div#multiple-panel-steps {
    display: flex;
    flex-direction: column;
}

.panel-step {
    max-width: 1000px;
    display: flex;
    margin: 10px auto;
    justify-content: center;
    align-items: center;
}

.panel-text {
    flex: 1 1 400px;
    font-size: 1.4rem;
}

.panel-step img {
    flex: 1 1 100px;
    max-width: 400px;
    margin: 20px 20px 20px 100px;
}

p.panel-step-header {
    font-weight: 600;
}
div#one-way-vision {
    max-width: 1200px;
    margin: auto;
}

div#one-way-vision img {
    width: 100%;
    max-width: 800px;
    margin: auto;
    display: flex;
}
p.selecting-text {
    margin: 20px auto;
    max-width: 1100px;
    font-size: 1.3rem;
    text-align: center;
}

.selecting-img-container {
    display: flex;
    justify-content: center;
    max-width: 800px;
    margin: auto;
    align-items: center;
    margin-bottom: 60px;
    flex-wrap: wrap;
}

.selecting-img-container img {
    width: 100%;
    height: auto;
}
.spec-title {
    display: flex;
    align-items: center;
}
.spec-detail {
    flex: 1 1 250px;
    margin-left: 110px;
    display: flex;
    align-items: center;
}
.highlight-container.what-are .highlight-image-container {
    margin-right: 0;
}
.highlight-container.what-are .highlight-image-container {
    flex: 1 1 350px;
    /* margin: 0 30px; */
    align-items: center;
}
#customization .standard-separator {
    display: none;
}
#customization .custom {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 100px 50px;
}

#customization .custom h2 {
    font-size: 1.7rem;
    flex: 1 1 0px;
    text-align: center;
    font-weight: 500;
}

#customization .custom .size-images {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#customization .custom .size-images .img-container img {
    display: block;
    position: relative;
    border-radius: unset;
    box-shadow: none;
}

#customization .custom .size-images .img-container img.small {
    max-width: 130px;
    /* height: 200px; */
}

#customization .custom .size-images .img-container img.medium {
    max-width: 180px;
}

#customization .custom .size-images .img-container img.large-size {
    max-width: 220px;
    height: auto;
}

#customization .custom-container {
    flex: 1 1 600px;
    text-align: center;
}

#customization .custom-container p {
    font-size: 1.2rem;
    margin-top: 10px;
    max-width: 900px;
    text-align: left;
}

.shape-container {
    display: flex;
}

#customization .shape-container p {
    text-align: center;
    margin: 10px 60px;
}

.shape-container .shape {
    flex: 1;
}

.custom-container h4 {
    font-size: 1.4rem;
    margin-bottom: 10px;
}

.surface-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.surface {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#customization .custom-container p.surface-type {
    margin-top: -10px;
    font-size: 1rem;
}
.slick-slide {
    margin: 15px;
    width: 700px !important;
}
iframe.installation-video {
    width: 700px;
    height: 500px;
    align-self: center;
}
.highlight-text a {
    color: #2e2ed2;
}
.header-text {
    color: black;
    text-align: center;
    margin: 20px;
    margin-bottom: 25px;
    font-size: 1.4rem;
}
a.get-started-button {
    color: white;
    margin: auto;
    max-width: 350px;
    margin-top: 35px;
    margin-bottom: 20px;
    font-size: 1.4rem;
    padding: 5px;
}
.options-container .option:hover {
    /* flex: 1 1 300px; */
    background-color: #2c7abf6e;
}
.options-container {
    display: flex;
    justify-content: center;
    align-items: baseline;
    margin-bottom: 20px;
    flex-wrap: wrap;
}
.options-container .text {
    opacity: 1;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: white;
    width: 100%;
    box-sizing: border-box;
}

.options-container .option {
    display: flex;
    flex-direction: column;
    flex: 1 1 200px;
    justify-content: stretch;
    align-items: center;
}
.options-container .option img {
    flex: 0;
    width: 285px;
    max-width: 100%;
    padding-bottom: 20px;
    padding-top: 20px;
}

.options-container .text h3 {
    font-size: 1.5em;
    font-weight: 600;
}

.options-container .text p {
    padding: 0px 20px;
    font-size: 1.2em;
    max-width: 300px;
    text-align: center;
    align-self: center;
}


p.related-sub-heading {
    text-align: left;
    font-size: 1.4rem;
    font-weight: 400;
    margin: 20px;
}
a.related-group {
    flex: 1 1 300px;
    max-width: 300px;
    margin: 10px;
    text-align: center;
}
.pdf-link {
    color: #3fa9f5 !important;
    text-decoration: underline;
}
.step-text ul {
    list-style: disc;
    list-style-position: inside;
    font-size: 1.3rem;
}
.how-to-install {
    display: flex;
    flex-direction: column;
    margin: 30px 80px;
}

h2.how-to-install-heading {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 50px;
}

p.how-to-install-text {
    font-size: 1.5rem;
    text-align: center;
    max-width: 1200px;
    margin: 10px auto 30px;
}

.install-steps {
    display: flex;
    flex-direction: column;
}

.step {
    display: flex;
    flex: 1;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 30px;
}


.step img {
    width: 100%;
    max-width: 400px;
}

.step-text {
    margin-left: 40px;
    font-size: 1.5rem;
    flex: 1 1 auto;
}
p.step-asterisk {
    font-size: 1em;
    margin-left: 43px;
}
div#printing-method.highlight-container .content-header {
    text-align: left;
    margin-left: 0;
    /* background-image: url(https://www.signs.com/content/assets/filelibrary/ClearWindowDecalBackground2-5055.png); */
}

div#printing-method.highlight-container {
    background-image: url(https://www.signs.com/content/assets/filelibrary/ClearWindowDecalBackground2-5055.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    margin-bottom: 0;
    padding-bottom: 20px;
}

div#printing-method.highlight-container p {
    color: white;
}
div#printing-method.highlight-container .content-header {
    text-align: left;
    margin-left: 0;
}
section#clear-vs-lettering .content-header {
    text-align: left;
}

.image-comparison {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.text-and-button {
    flex: 1 1 200px;
    text-align: left;
    margin: 100px;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text-and-button a {
    border: 2px solid #a2d272;
    max-width: 350px;
    padding: 10px;
    border-radius: 5px;
    color: #a2d272;
    margin: 20px auto;
}

.image-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
    margin: 20px 40px 20px 0px;
}

.image-container img {
    max-width: 400px;
}

section#clear-vs-lettering {
    margin: 50px;
}

.image-container h3 {
    margin: 5px;
}
.highlight-container.what-are {
    background-repeat: no-repeat;
    background-size: cover;
}

.highlight-container.what-are h1.content-header {
    text-align: left;
    margin-left: 0;
    margin-top: 20px;
}
.main-content-with-background h1 {
    padding-top: 0;
}
.content-text {
    padding-left: 10px;
    padding-right: 10px;
    flex: 1 1 auto;
    color: black;
    position: static;
    margin: 20px auto 10px;
}
.fab-main {
    width: 85%;
}
.image-wrapper .vertical-align img {
    height: 390px;
}
.fab-section {
    flex: 1;
}

.coffee-image {
    width: 100%;
}
/* ------------------------------------------------------------ *\
	Section Tertiary
\* ------------------------------------------------------------ */
h1.tertiary-heading {
    margin: 40px auto;
    font-size: 2.5em;
    font-weight: 500;
    left: 0;
    right: 0;
}
/* .section-tertiary { padding: 40px 0 0; }  */
.section-tertiary .section-head { text-align: center;  }
.section-tertiary .section-head h1 { font-weight: 600 !important; text-transform: uppercase; margin: 0; }
.section-tertiary .section-body { text-align: center; position: relative; margin: 0 auto; margin-bottom: 190px; }
.section-tertiary .section-body > img { width: 50%; }
.section-tertiary .section-body ul { list-style: none; margin: 0; padding: 0; text-align: left; }
.section-tertiary .section-body ul h4 { font-weight: 600; font-size: 22px; margin: 0 0 5px; color: black; }
.section-tertiary .section-body ul p { font-weight: 300; font-size: 16px; color: #666; margin: 0; line-height: 1.2; max-width: 250px; color: black; }
.section-tertiary .section-body ul li { position: absolute; padding: 5px 20px; }
.section-tertiary .section-body ul li:nth-child(1) { left: 9%; top: 18%; width: 190px; }
.section-tertiary .section-body ul li:nth-child(1) img { position: absolute; left: 205px; top: -86px; }
.section-tertiary .section-body ul li:nth-child(2) { width: 380px; left: 79%; top: 7%; }
.section-tertiary .section-body ul li:nth-child(2) img { position: absolute; right: 397px; top: -20px; }
.section-tertiary .section-body ul li:nth-child(3) { left: 6%; top: 80%; width: 280px; }
.section-tertiary .section-body ul li:nth-child(3) img {
    position: absolute;
    top: -70px;
    right: -130px;
}
.section-tertiary .section-body ul li:nth-child(4) { left: 50%; bottom: -18%; }
.section-tertiary .section-body ul li:nth-child(4) img { position: absolute; left: -135px; top: -80px; }
.section-tertiary .section-body ul li:nth-child(5) { width: 300px; left: 79%; top: 69%; }
.section-tertiary .section-body ul li:nth-child(5) img {
    position: absolute;
    left: -140px;
    top: -70px;
}
.section-tertiary .section-actions { text-align: center; padding-top: 102px; }
@media (max-width: 1550px) {
    .section-tertiary .section-body ul li:nth-child(1) { left: 7%; }
    .section-tertiary .section-body ul li:nth-child(2) { width: 280px;}
    .section-tertiary .section-body ul li:nth-child(2) img { right: 305px; }
    .section-tertiary .section-body ul li:nth-child(3) { width: 220px; }
    .section-tertiary .section-body ul li:nth-child(3) img {

    }
    .section-tertiary .section-body ul li:nth-child(4) {
        bottom: -20%;
    }
}
@media (max-width: 1319px) {
    .section-tertiary .section-body {  }
    .section-tertiary .section-body > img {  }

    .section-tertiary .section-body ul li:nth-child(1) { left: 6%; top: 21%; }
    .section-tertiary .section-body ul li:nth-child(2) { width: 220px; left: 77%; top: 14%; }
    .section-tertiary .section-body ul li:nth-child(2) img {
        position: absolute;
        right: 237px;
        top: -20px;
    }
    .section-tertiary .section-body ul li:nth-child(3) { left: 2%; top: 80%; }
    .section-tertiary .section-body ul li:nth-child(4) { left: 45%; top: 100%; }
    .section-tertiary .section-body ul li:nth-child(5) { left: 76%; top: 70%; width: 200px; }
    .section-tertiary .section-body ul li:nth-child(5) br { display: none; }
    .options-container .option {
        flex: 1 1 400px;
    }
}
/* Small Desktop */
@media (max-width: 1159px) {
    .highlight-container.what-are .highlight-image-container.mobile {
        margin-right: -5.5%;
        flex: 1 1 100px;
    }
    .what-are .highlight-image-container {
        display: none;
    }
    .highlight-container .highlight-image-container.mobile {
        display: block;
    }
    .section-tertiary { overflow: hidden; }

    .section-tertiary .section-body { }
    .section-tertiary .section-body > img { }

    .section-tertiary .section-body ul li:nth-child(1) { left: 5%; top: 26%; }
    .section-tertiary .section-body ul li:nth-child(2) {  }
    .section-tertiary .section-body ul li:nth-child(2) br { display: none; }
    .section-tertiary .section-body ul li:nth-child(2) img { }

    .section-tertiary .section-body ul li:nth-child(3) {  }
    .section-tertiary .section-body ul li:nth-child(4) { }
    .section-tertiary .section-body ul li:nth-child(5) {  }
}
/* Tablet Portrait */
@media (max-width: 1023px) {

    .section-tertiary .section-body ul h4 { color: black; }
    .section-tertiary .section-head { margin-bottom: 60px; }
    .section-tertiary .section-body ul li { background-color: transparent; }
    .section-tertiary .section-body { width: 100%; }
    .section-tertiary .section-body ul { margin-top: 30px; display: flex; flex-wrap: wrap;}
    .section-tertiary .section-body ul li { width: 100%!important; position: relative; left: 0 !important; right: 0 !important; top: 0 !important; bottom: 0 !important; padding-left: 5px; display: flex; justify-content: space-around; align-items: center; }
    .section-tertiary .section-body ul li:nth-child(1) img { position: static; left: 0; top: 0; }
    .section-tertiary .section-body ul li:nth-child(2) img { position: static; right: 0; top: 0; }
    .section-tertiary .section-body ul li:nth-child(3) img { position: static; right: 0; top: 0; }
    .section-tertiary .section-body ul li:nth-child(4) img { position: static; right: 0; top: 0; }
    .section-tertiary .section-body ul li:nth-child(5) img { position: static; left: 0; top: 0; }
    .section-tertiary .section-body ul li img { /*left: 0 !important; top: 0 !important;*/ width: 90px; height: 90px; }
    .section-tertiary .section-body ul li ~ li { margin-top: 30px; }
    .section-tertiary .section-body ul h4 {
        font-size: 20px;
        margin: 0px 10px 0;
        flex: 0.2 1 200px;
    }
    .section-tertiary .section-body ul p { flex: 1 1 200px; margin-right: 5px; max-width: none; color: black; }
    .section-tertiary .section-actions { padding-top: 40px; }
    .options-container .option img {
        max-width: 300px;
    }
    .options-container .option {
        flex: 1 1 300px;
    }
    div#multiple-panels {
        margin: auto 0px auto 25px;
    }
}
@media only screen and (max-width: 1000px){
    .options-container .text p {
        max-width: 300px;
        margin: auto;
    }

    h1.tertiary-heading {
        margin-top: 50px;
    }
}
/* Mobile */
@media (max-width: 767px) {
    .section-tertiary .section-body {
        margin-bottom: 0px;
    }
    div#multiple-panels {
        margin: auto 0px;
    }
    .section-tertiary .section-head { margin-bottom: 30px; }

    .section-tertiary .section-body > img { width: 80%; }
    .section-tertiary .section-body ul p br { display: none; }

    .cut-options-container {
        display: flex;
        justify-content: space-around;
        align-items: baseline;
        flex-wrap: wrap;
    }
    .cut-options-container p {
        font-size: 1.5rem;
    }
    .cut-option {
        padding: 20px;
        max-width: 500px;
    }
    .cut-options-container img {
        width: 100%;
    }
}


section#cut-options {
    background: url(https://www.signs.com/content/assets/filelibrary/CarTruck-LetteringSky-4872.png);
    background-size: cover;
    text-align: center;
    background-repeat: no-repeat;
}
section#cut-options h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    margin-top: 20px;
}
body{
    font-size:1em;
}
.content-header.options {
    font-size: 2.5rem;
    margin: 40px 5px 40px 45px;
}
p.options-description {
    font-size: 1.3rem;
    margin: 20px 45px;
}
.highlight-container {
    background-color: white;
    color: black;
}
.highlight-section {
    margin-right: 5%;
    flex: 1 .5 350px;
}
.highlight-header {
    font-size: 2.5em;
}
.highlight-image-container {
    flex: 0.5 1 250px;
    margin: 0 30px;
    align-items: center;
}
.highlight-group {
    color: black;
    align-items: flex-start;
}
.highlight-text.left{
    text-align: left;
    font-size: 1.5em;
    margin: 40px 0;
}
span.fab-asterisk {
    font-style: italic;
    font-size: 0.8em;
}
.content-header {
    font-size: 2.5rem;
}

p.options-description {
    font-size: 1.3rem;
    margin: 20px 45px;
}
.hero-image{
    background: url("https://www.signs.com/content/assets/filelibrary/flag-hero-3287.png") no-repeat;
}

@media only screen and (max-width: 800px) {
    /* .what-are .highlight-image-container {
        display: none;
    } */
    .care-img.highlight-image-container {
        display: none;
    }
    img.bg-image {
        max-width: unset;
        width: 100%;
    }
    /* .highlight-container.what-are .highlight-image-container.mobile {
        margin-right: -5.5%;
        flex: 1 1 100px;
    } */
    /* .highlight-container .highlight-image-container.mobile {
        display: block;
    } */
    .panel-step {
        flex-wrap: wrap;
        margin: 10px 20px;
    }
    .panel-step img {
        margin: 20px 20px 20px 10px;
    }
    p.selecting-text {
        margin: 20px 20px;
    }
    .selecting-img-container img {
        width: 80%;
    }
    .main-content-with-background {
        margin-top: 70px;
    }
    #customization .custom-container {
        flex: 1 1 200px;
    }
    #customization .custom {
        margin: 0 0px 50px;
        flex-direction: column;
    }
    #customization .custom.size {
        margin-top: 30px;
    }
    #customization .custom .size-images .img-container img {
        margin: 5px;
    }
    #customization .custom .size-images .img-container img.large-size {max-width: 120px;}
    #customization .custom .size-images .img-container img.small {max-width: 70px;margin: 5px;}
    #customization .custom .size-images .img-container img.medium {
        max-width: 100px;
    }
    #customization .custom-container p {
        text-align: center;
        margin: 10px 10px;
    }
    #customization .custom img {
        max-width: 150px;
    }
    #customization .custom h2 {
        margin-bottom: 15px;
    }
    #customization .custom-container .surface-container, #customization .custom-container .shape-container{
        flex-wrap: wrap;
    }
    .shape-container .shape {
        flex: 1 1 200px;
    }
    .surface, .shape {
        margin-top: 20px;
    }
    #customization .standard-separator {
        display: block;
    }
    iframe.installation-video {
        width: 90%;
        min-height: 300px;
        height: 0;
    }
    .slick-prev{
        left: 0px;
    }
    .slick-next {
        right: 0px;
    }
    .slick-slide {
        margin: 0!important;
    }
    .main-sub-title {
        display: flex;
        flex-direction: column;
        margin: 10px;
    }
    .main-sub-title span {
        visibility: hidden;
    }
    .section-image {
        order: 0;
    }
    section#clear-vs-lettering {
        margin: 10px;
    }
    .image-container {
        margin: unset;
    }
    .text-and-button {
        margin: 0px;
    }
    .options-container .option {
        flex: 1 1 500px;
    }
    .content-header.options {
        margin: 70px auto 20px auto;
        text-align: center;
    }
    .hero-image {
        height: 210px;
        margin-top: 0;
    }
    .options-container .text p {
        padding: 0 20px;
    }
    .design-services-group {
        flex: 1 1 300px;
    }
    .highlight-container.what-are .highlight-image-container {
        margin-left: auto;
        margin-right: 0;
    }
    .step-text {
        margin-left: 0;
    }
    p.how-to-install-text {
        margin: 10px 20px 30px 20px;
        padding: 10px;
        font-size: 1.3rem;
    }
    .spec-detail {
        margin-left: 0;
    }
    .how-to-install {
        margin: 0;
    }
    .step {
        margin: 0;
        padding: 10px;
        flex-wrap: wrap;
    }
    .hero-image {
        height:210px;
        margin-top: 0;
    }
    h1.tertiary-heading {
        margin-top: 30px;
        font-size: 1.5rem;
    }
    .fab-section {
        flex: none;
    }
    .content-text {
        font-size: 1em;
        padding-bottom: 0;
    }
    div.signs-image-gallery div.image-wrapper div.vertical-align img {
        height: auto;
    }
}

input[type=checkbox]:checked + div {
    opacity:0;
    max-height:0;
    border:none;

}
label [type=checkbox]{
    color: #3FA9F5;
}
.additional-specs-section {
    margin: 60px 0;
    font-size: 20px;
}

.additional-specs-section .specs-table {
    margin: 0 auto;
}

.additional-specs-section .specs-table th,
.additional-specs-section .specs-table td {
    padding: 20px;
    text-align: center;
    color: #777;
    vertical-align: baseline;
}

.additional-specs-section .specs-table th:first-child,
.additional-specs-section .specs-table td:first-child {
    display: none;
    text-align: left;
    padding-left: 0;
    color: #333;
}

.additional-specs-section .specs-table th:last-child,
.additional-specs-section .specs-table td:last-child {
    width: 50%;
}

.additional-specs-section .specs-table td:nth-child(2) {
    border-right: 1px solid #ccc;
}

.additional-specs-section .specs-table th {
    color: #333;
    font-size: 20px;
    text-decoration: underline;
}

.additional-specs-section .specs-table .mobile-heading {
    display: block;
    color: #333;
}

.additional-specs-section.single-product-specs .specs-table {
    max-width: 500px;
}

.additional-specs-section.single-product-specs .specs-table td:nth-child(2) {
    border-right: none;
}

.additional-specs-section.single-product-specs .specs-table td:last-child {
    width: auto;
}

@media (min-width: 992px) {
    .additional-specs-section .specs-table {
        max-width: 70%;
    }

    .additional-specs-section .specs-table tr:not(:last-child) > th,
    .additional-specs-section .specs-table tr:not(:last-child) >  td {
        border-bottom: 1px solid #ccc
    }

    .additional-specs-section .specs-table th,
    .additional-specs-section .specs-table td {
        text-align: left;
        vertical-align: middle;
    }

    .additional-specs-section .specs-table th {
        text-align: center;
        text-decoration: none;
    }

    .additional-specs-section .specs-table .mobile-heading {
        display: none;
    }

    .additional-specs-section .specs-table th:first-child,
    .additional-specs-section .specs-table td:first-child {
        display: table-cell;
        padding-right: 0;
    }

    .additional-specs-section.single-product-specs .specs-table td:first-child {
        width: 150px;
    }
}

@media (min-width: 1500px) {
    .additional-specs-section.single-product-specs .specs-table {
        max-width: 40%;
    }

    .additional-specs-section .specs-table th:first-child,
    .additional-specs-section .specs-table td:first-child {
        width: 200px;
    }

    .additional-specs-section.single-product-specs .specs-table td:first-child {
        width: 200px;
    }
}