<section class="section-default section-install">
    <div class="standard-container install-container">
        <div class="install">
            <div class="install-content-and-title">
                <div class="install-title">Installation</div>
                <div class="install-content">Banners are one of the easiest signage applications to install. Use cords, strings or bungees to attach the corner grommets to a stationary object, such as poles. You can also use screws and washers to install your banners to rigid backgrounds such as wood or concrete, or you can use zip ties or string to fasten them to fences or between posts.</div>
            </div>
            <div class="install-image"><img src="https://www.signs.com/content/assets/filelibrary/rope-1139.png" alt="red rope" width="500px"></div>
        </div>
        <div class="install">
            <div class="install-content-and-title">
                <div class="install-title">Care</div>
                <div class="install-content">To care for your custom banners, regularly clean them with warm water and allow them to air dry before storing. To easily store your banners, roll them up and keep them in a dry area at room temperature. Any wrinkles in your banners should come out within a couple of hours in the sun or heat.</div>
            </div>
            <div class="install-image"><img src="https://www.signs.com/content/assets/filelibrary/cloth-1140.png" alt="yellow washcloth" width="250px"></div>
        </div>
    </div>
</section>





<script>
    window.onresize = function () {
        var install = $(".install").length;
        if ($(install)) {
            if (window.innerWidth <= 768) {

                $(".install").each(function () {
                    var installContentTitle = $(this).children(".install-content-and-title");
                    var installImage = $(this).children(".install-image");
                    $(installImage).prependTo(installContentTitle);
                });
                $(".install-content-and-title").each(function () {
                    var installContentTitle = $(this).children(".install-content-and-title");
                    var installImage = $(this).children(".install-image");
                    var installTitle = $(this).children(".install-title");
                    $(installTitle).after(installImage);
                });

            }

            else {
                $(".install-content-and-title").each(function () {
                    var installImage = $(this).children(".install-image");
                    $(this).after(installImage);
                });
            }
        }
    };
    var install = $(".install").length;
    if ($(install)) {
        if (window.innerWidth <= 768) {

            $(".install").each(function () {
                var installContentTitle = $(this).children(".install-content-and-title");
                var installImage = $(this).children(".install-image");
                $(installImage).prependTo(installContentTitle);
            });

            $(".install-content-and-title").each(function () {
                var installContentTitle = $(this).children(".install-content-and-title");
                var installImage = $(this).children(".install-image");
                var installTitle = $(this).children(".install-title");
                $(installTitle).after(installImage);
            });


        }
        else {
            $(".install-content-and-title").each(function () {
                var installImage = $(this).children(".install-image");
                $(this).after(installImage);
            });
        }
    }
</script>