
@media only screen and (max-width: 1366px) {
  .hero-image {
    text-align: center;
    height: unset; }
    .hero-image img {
      max-width: 800px; }
  .main-content h1 {
    font-size: 2.5rem; }
  body {
    font-size: .8rem; } }
.hero-image {
    width: 100%;
  height: unset;
    background-size: contain;
    background-position: center;
    margin-top: 1em;
  text-align: center;
}
div#reviewResults{
position:absolute;
background-color:#fff;
box-shadow: rgb(204, 204, 204) 0px 0px 3px;
top:35px;
z-index:10;
padding:10px;
}
#product_just_stars {
    padding: 7px 0px 12px 0px !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}
#product_just_stars .on {
    width: 20px !important;
    height: 19px !important;
    display: inline-block !important;
}
.ind_cnt {
    font-size: 1rem !important;
    font-weight: 300 !important;
    text-align: center !important;
    color: #666 !important;
    width: 125px !important;
}
div#amazon-style-reviews {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
#amazon-style-reviews i {
    border: solid #666;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: .2rem;
    /* margin-left: -7px; */
    /* margin-top: -27px; */
    position: absolute;
    top: 13px;
    right: 112px;
}
.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
} 
div#comparison-graph-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
}
div#comparison-graph-container img {
    width: 60%;
}

.highlight-container {
    background-color: white;
    /*display: flex;
    flex-flow: row wrap;
    margin: 55px auto;
    justify-content: space-between;
    align-items: center;*/
}
.highlight-image-container {
    flex: 1 1 300px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.highlight-image-container img {
    width: 100%;
}
.highlight-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    color: black;
    margin-bottom: 60px;
}
.highlight-header {
    font-size: 1.8em;
    font-weight: 400;
    flex: 0;
}
.highlight-text {
    margin: 10px 0;
    flex: 1;
    text-align: left; 
    font-size: 1.3rem;
}
.highlight-container.wood-background {
    background: url(https://www.signs.com/content/assets/filelibrary/WoodBackground-4415.jpg);
    background-size: cover;
}
.wood-background .highlight-section {
    background-color: whitesmoke;
    padding: 10px 20px;
    opacity: 0.9;
    margin-right: 5%;
}
.wood-background .highlight-section .highlight-group {
    margin-bottom: 30px;
}
.wood-background .highlight-image-container {
    align-self: flex-end;
}


/* .hero-image{
	padding-top:30px;
    padding-bottom:30px;
    background: url("https://www.signs.com/content/assets/filelibrary/rolled-vinyl-banner-hero-1129.png") no-repeat;
    width: 1200px;
    height: 315px;
    background-size: cover;
} */

@media only screen and (min-width: 800px) {
.circled-chevron.gallery-nav.right {
    right: 480px;
}
.circled-chevron.gallery-nav.left {
    left: 480px;
}
}

.grommets-hem {
    background-image: url(https://www.signs.com/content/assets/filelibrary/grommets-welded-hem-1138.png);
    background-size: cover;
}
/*
.grommets {
        display: flex;
        justify-content: center;
        flex-direction: column;
        position: relative;
        float: right;
        color: #fff;
        width: 23%;
        padding-left: 70%;
}
.grommets-hem h2 {
    font-size: 2em;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    color: black;
    text-align: center; 
}
.grommets-hem p {
    font-size: 1.3em;
    font-weight: 100;
    color: #333;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.5); 
}
.hem {
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
  float: right;
  color: #fff;
  width: 20%;
  padding-left: 70%;
  padding-bottom: 10%; }
*/
.install-container {
    display: flex; 
    justify-content: center;
    width: 100%;
}
.install {
	width:70%;
	display:flex;
	justify-content: space-around;
	flex-wrap:wrap;
    padding:30px 0px;
}
.install-content-and-title{
	display:flex;
	flex-direction:column;
	width: 40%;
}
.install-title{
    font-size:1.6em;
	padding: 10px 0px;
}
.install-content{
    font-size:1.1em;
	padding: 0px 0px 30px 0px;
}
.install-image {
	display:flex;
	flex-direction:column;
	justify-content:space-around;
	width:30%;
        align-items: center;
}

@media only screen and (max-device-width: 800px) {
div#comparison-graph-container img {
    width: 100%;
}
.main-content .main-sub-title {
    margin-bottom: 10px;
}
       .shopperapproved_widget{
        display: none !important;
    }
    .install-image{
        width:260px;
        flex-direction: row;
    }
    .install-image img{
        max-width: 300px;
    }
.install-content-and-title {
    width: 90%;
}
.grommets-hem {
    height:20em;
}
.grommets-hem h2 {
    font-size:1.5em;
}
.grommets-hem p {
    font-size:1em;
}
    .grommets{
        width: 40%;
        padding-top: 80px;
        padding-left: 50%;
    }
    .hem{
        width:35%;
        padding-left: 7%;
        padding-bottom: 23%;
        color: black;
    }
    .install
    {
        width:100%;
    }
 
#manOuter{
    margin:0px;
}
.hero-image img {
    max-width: 100%;
}
/*.hero-image {
    width: 100% !important;
    height:100% !important;
    background: url("https://www.signs.com/content/assets/filelibrary/RolledBanner-mobile-1192.png") no-repeat;
    background-size: contain;
    padding-top: 20%;
    padding-bottom:10%;
}*/


.signs-image-gallery {
    height:220px !important;
}
}

@media only screen and (max-device-width: 480px) {    /*****      REMOVE AFTER 8/31 GO LIVE       *****/
.midWrapper {
    display: block;
}
}

.content-header {
    margin: 10px auto 20px auto !important;
}

.additional-specs-section {
  margin: 60px 0;
}

.additional-specs-section .specs-table {
  margin: 0 auto;
}

.additional-specs-section .specs-table th,
.additional-specs-section .specs-table td {
  padding: 20px;
  text-align: center;
  color: #777;
}

.additional-specs-section .specs-table th:first-child,
.additional-specs-section .specs-table td:first-child {
  display: none;
  text-align: left;
  padding-left: 0;
  color: #333;
}

.additional-specs-section .specs-table th:last-child,
.additional-specs-section .specs-table td:last-child {
  width: 50%;
}

.additional-specs-section .specs-table td:nth-child(2) {
  border-right: 1px solid #ccc;
}

.additional-specs-section .specs-table th {
  color: #333;
  font-size: 20px;
  text-decoration: underline;
}

.additional-specs-section .specs-table .mobile-heading {
  display: block;
  color: #333;
}

.additional-specs-section.single-product-specs .specs-table {
  max-width: 50%;
}

.additional-specs-section.single-product-specs .specs-table td:nth-child(2) {
  border-right: none;
}

.additional-specs-section.single-product-specs .specs-table td:last-child {
  width: auto;
}

@media (min-width: 992px) {
  .additional-specs-section .specs-table {
      max-width: 70%;
  }

  .additional-specs-section .specs-table tr:not(:last-child) > th,
  .additional-specs-section .specs-table tr:not(:last-child) >  td {
      border-bottom: 1px solid #ccc
  }

  .additional-specs-section .specs-table th,
  .additional-specs-section .specs-table td {
      text-align: left;
  }

  .additional-specs-section .specs-table th {
      text-align: center;
      text-decoration: none;
  }

  .additional-specs-section .specs-table .mobile-heading {
      display: none;
  }

  .additional-specs-section .specs-table th:first-child,
  .additional-specs-section .specs-table td:first-child {
      display: table-cell;
      padding-right: 0;
  }

  .additional-specs-section.single-product-specs .specs-table td:first-child {
      width: 150px;
  }
}

@media (min-width: 1500px) {
    .additional-specs-section.single-product-specs .specs-table {
      max-width: 40%;
    }

  .additional-specs-section .specs-table th:first-child,
  .additional-specs-section .specs-table td:first-child {
      width: 200px;
  }

  .additional-specs-section.single-product-specs .specs-table td:first-child {
    width: 200px;
  }
}


