<style >
div#in-progress-overlay {
    position: fixed !important;
}

.section-accessories-hr {
    position: relative;
}

    .section-accessories-hr:before {
        content: "";
        display: block;
        position: absolute;
        background: #B9B9B9;
        height: 1px;
        width: 95%;
        bottom: 0;
        margin: 0 auto;
        left: 0;
        right: 0;
    }
   

    .section-accessories p {
        font-weight: 300;
    }

    .section-accessories .please-note strong {
        font-style: italic;
        font-weight: 600;
    }

.section-accessories {
    padding: 20px 0;
}

    .section-accessories h1 {
        font-size: 48px;
        font-weight: 300;
        line-height: 1;
        margin-bottom: 20px;
    }
    .section-accessories .please-note strong {
        font-style: italic;
        font-weight: 600;
    }

.section-accessories {
    position: relative;
    padding-top: 30px;
}



.accessories-category-btn br {
    display: none;
}

.accessories-category-item button {
    font-size: 25px;
    background: #E6E6E6;
    cursor: pointer;
    border: 0;
    width: 330px;
    padding: 22px 5px;
    font-weight: 400;
    font-family: 'proxima-nova';
}

.accessories-category-list {
    font-size: 0;
}

.accessories-category-item {
    display: inline-block;
    padding: 0 4px;
}

    .accessories-category-item.active button,
    .accessories-category-item button:hover {
        color: #fff;
        /* ff 3.6+ */
        background: -moz-linear-gradient(180deg, rgba(101, 171, 205, 1) 0%, rgba(68, 137, 186, 1) 100%);
        /* safari 5.1+,chrome 10+ */
        background: -webkit-linear-gradient(180deg, rgba(101, 171, 205, 1) 0%, rgba(68, 137, 186, 1) 100%);
        /* opera 11.10+ */
        background: -o-linear-gradient(180deg, rgba(101, 171, 205, 1) 0%, rgba(68, 137, 186, 1) 100%);
        /* ie 6-9 */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4489BA', endColorstr='#65ABCD', GradientType=1 );
        /* ie 10+ */
        background: -ms-linear-gradient(180deg, rgba(101, 171, 205, 1) 0%, rgba(68, 137, 186, 1) 100%);
        /* global 94%+ browsers support */
        background: linear-gradient(180deg, rgba(101, 171, 205, 1) 0%, rgba(68, 137, 186, 1) 100%);
    }

.accessories-product-card-thumbnail {
    box-shadow: 0 3px 6px rgb(0 0 0 / 20%);
}

.accessories-product-card {
    max-width: 370px;
    display: flex;
    flex-flow: row wrap;
    height: 100%;
}

.accessories-product-card-thumbnail {
    width: 370px;
    height: 370px;
    margin-bottom: 23px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

    .accessories-product-card-thumbnail img {
        flex: 0 0 auto;
    }

.accessories-product-list {
    display: flex;
    flex-flow: row wrap;
    padding: 50px 0 50px;
    justify-content: center;
}

.accessories-product-item {
    margin-bottom: 60px;
    padding: 0 15px;
}

.accessories-product-list h2 {
    width: 100%;
    margin-bottom: 45px;
}

.accessories-category-list {
}

.accessories-product-card-body h2 {
    font-size: 25px;
    margin-bottom: 20px;
}

.accessories-product-card-body p {
    font-weight: 300;
    font-size: 17px;
    margin-bottom: 5px;
}

.accessories-product-card-action {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

    .accessories-product-card-action span {
        font-size: 25px;
        color: #8CC53F;
        margin-right: 13px;
        vertical-align: bottom;
        line-height: 1;
    }

    .accessories-product-card-action label {
        font-size: 18px;
        margin-right: 5px;
    }

    .accessories-product-card-action button {
        border: 0;
        background: #8CC53F;
        color: #fff;
        padding: 7px 40px;
        border-radius: 4px;
        font-size: 16px;
        cursor: pointer;
    }

        .accessories-product-card-action button:hover {
            opacity: .9;
        }

.accessories-product-card-footer {
    margin: auto auto 0;
}

.find-accessory-need-img {
    max-width: 658px;
    width: 100%;
}

.section-find-accessory-need .standard-container {
    display: flex;
}

.find-accessory-need-content {
    text-align: left;
    margin-right: 135px;
}

    .find-accessory-need-content h2 {
        margin-bottom: 70px;
    }

    .find-accessory-need-content p {
        margin-bottom: 85px;
    }

.contact-us-link {
    background: #8CC53F;
    color: #fff !important;
    padding: 7px 70px;
    border-radius: 5px;
    font-size: 18px;
}

    .contact-us-link:hover {
        opacity: .9;
    }
/* Additional Resources */
.additional-resources-item {
    display: inline-block;
    max-width: 491px;
    width: 100%;
    padding: 0 20px;
    transition: all .4s;
}

    .additional-resources-item:hover {
        transform: scale(1.03);
    }

.additional-resources-list {
    display: flex;
    margin: 0 -20px;
    max-width: 1560px;
    width: 100%;
    justify-content: space-around;
}

.additional-resources-card {
    display: block;
}

.additional-resources-card-img img {
    width: 100%;
}

.section-additional-resources h2 {
    margin-bottom: 65px;
}

.additional-resources-card-img {
    font-size: 0;
    max-width: 428px;
    margin: 0 auto 50px;
}

p {
}

.additional-resources-card h3 {
    font-size: 25px;
    margin-bottom: 20px;
}

.additional-resources-card p {
    color: #919396;
    font-size: 20px;
}

.section-additional-resources .standard-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}


/* Product Animation */
.accessories-product-list-wrap {
    position: relative;
    overflow: hidden;
}

.accessories-product-list:not(.active) {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 0;
    opacity: 0;
    margin: 0 auto;
}

.accessories-product-list {
    background: #fff;
    width: 100%;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}

    .accessories-product-list.active {
        position: relative;
        z-index: 1;
        opacity: 1;
    }


/* The Signs.com Advantage */

.signs-advantage-list {
    display: flex;
    margin: 0 -20px;
}

.signs-advantage-content h3 {
    font-size: 25px;
    font-weight: 500;
}

.signs-advantage-img {
    margin-bottom: 10px;
    font-size: 0;
}

.signs-advantage-content h3 {
    margin-bottom: 20px;
}



.section-signs-advantage h2 {
    margin-bottom: 65px;
}

.signs-advantage-card {
    text-align: center;
}

.signs-advantage-item {
    padding: 0 65px;
    position: relative;
}

.section-signs-advantage .standard-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

    .section-signs-advantage .standard-container h2 {
        width: 100%;
    }

.signs-advantage-item:before {
    position: absolute;
    width: 2px;
    height: 85%;
    content: '';
    background: #DCDCDC;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
}

.signs-advantage-item:last-child:before {
    background: none;
}

.section-signs-advantage {
    padding: 75px 0 95px;
}

    .section-signs-advantage .standard-container {
        max-width: 1870px;
    }

.signs-advantage-block {
    font-size: 0;
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    justify-content: center;
}

.signs-advantage-image {
    margin: 0 auto 20px;
    max-width: 100px;
}

.signs-advantage-card {
    position: relative;
    display: inline-block;
    text-align: center;
    max-width: 365px;
    width: 100%;
    flex: 0 0 100%;
}

    .signs-advantage-card:after {
        content: "";
        display: block;
        position: absolute;
        top: 15px;
        bottom: 15px;
        background: #b9b9b9;
        width: 2px;
        right: 0;
    }

    .signs-advantage-card:last-of-type:after {
        background: transparent;
    }

.signs-advantage-details {
    position: relative;
}

    .signs-advantage-details h3 {
        font-size: 30px;
        line-height: 1;
        margin-bottom: 20px;
    }

a.signs-advantage-link {
    color: #0097D5;
    display: inline-block;
    font-size: 25px;
    font-weight: 300;
    text-transform: capitalize;
}

    a.signs-advantage-link:hover {
        color: #0384b9;
    }

.fab-modal {
    z-index: 1;
    position: absolute;
    background: black;
    color: white;
    padding: 10px;
    width: 90%;
    top: 0;
    border-radius: 7px;
    text-align: center;
    left: 0;
    right: 0;
    margin: 0 auto;
    opacity: 0;
    visibility: hidden;
    -webkit-transition-property: opacity, visibility;
    transition-property: opacity, visibility;
    -webkit-transition-duration: 1s;
    transition-duration: 1s;
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
}

    .fab-modal.active {
        opacity: 1;
        visibility: visible;
    }

    .fab-modal .standard-separator {
        height: 1px;
    }

    .fab-modal h3 {
        font-size: 1.2rem;
        padding: 5px 0;
        margin-bottom: 2px;
    }

    .fab-modal p {
        font-size: 1rem;
        padding: 5px;
        margin-bottom: 0;
    }



.accessories-product-item-out-of-stock {
    position: relative;
}

    .accessories-product-item-out-of-stock:before {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background: #000;
        z-index: 1;
        opacity: .7;
    }

    .accessories-product-item-out-of-stock:after {
        content: "Temporarily Out Of Stock";
        position: absolute;
        z-index: 4;
        color: #0097d5;
        font-size: 35px;
        max-width: 230px;
        display: inline-block;
        margin: 0 auto;
        left: 0;
        right: 0;
        top: 6vw;
        opacity: 1;
        font-family: 'proxima-nova';
    }


@media (max-width: 1800px) and (min-width: 1700px) {
    /* The Signs.com Advantage 1800px */
    .signs-advantage-card {
        width: auto;
        max-width: initial;
        flex: 0 0 19vw;
    }
}



@media(max-width: 1680px) {
    .accessories-product-card, .accessories-product-card-thumbnail {
        width: 333px;
    }

        .accessories-product-card-thumbnail img {
            width: 100%;
        }

    .accessories-product-card-thumbnail {
        height: 280px;
    }

    .find-accessory-need-content {
        margin-right: 5vw;
    }

    .find-accessory-need-img {
        max-width: 711px;
    }

    .find-accessory-need-content {
        /* flex: 9 9 auto; */
    }

    .find-accessory-need-img img {
        width: 100%;
        flex: 1 1 auto;
    }

    .find-accessory-need-img {
        max-width: 711px;
    }
    /* The Signs.com Advantage 1680px */
    .signs-advantage-item {
        padding: 0 50px;
    }

    .signs-advantage-content h3 {
        /* font-size: 21px; */
    }

    .signs-advantage-card {
        max-width: initial;
        flex: 0 0 19vw;
        width: 19vw;
    }

    .section-signs-advantage .standard-container {
        max-width: initial;
        width: 98vw;
    }

    .signs-advantage-details h3 {
        font-size: 1.56vw;
        margin-bottom: .5vw;
    }

    a.signs-advantage-link {
        font-size: 1.3vw;
    }
}

@media (max-width: 1600px) {
    .accessories-product-card-thumbnail {
        width: 100%;
        height: 340px;
        margin: 0 auto 23px;
    }

        .accessories-product-card-thumbnail img {
            width: 100%;
            height: 100%;
        }

    .accessories-product-card {
        max-width: 320px;
    }
}



@media (max-width: 1536px) {
    .accessories-category-item button {
        width: 320px;
    }

    .accessories-product-card, .accessories-product-card-thumbnail {
        width: 302px;
    }

    .accessories-product-card-thumbnail {
        height: 302px;
    }

    .find-accessory-need-content {
        max-width: 658px;
    }
    /* The Signs.com Advantage 1536px */
    .signs-advantage-item {
        padding: 0 38px;
    }
}

@media (max-width: 1440px) {
    .accessories-product-card {
        max-width: 300px;
    }

    .accessories-product-card-thumbnail {
        height: 300px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .accessories-product-card-action button {
        padding: 7px 25px;
    }

    .accessories-category-item {
    }

        .accessories-category-item button {
            width: 280px;
            font-size: 20px;
        }

    .accessories-product-card, .accessories-product-card-thumbnail {
        width: 280px;
    }

    .accessories-product-card-thumbnail {
        height: 280px;
    }

    .find-accessory-need-content h2 {
        margin-bottom: 35px;
    }

    .find-accessory-need-content p {
        margin-bottom: 55px;
    }
    /* The Signs.com Advantage 1440px */
    .signs-advantage-item {
        padding: 0 29px;
    }
}


@media (max-width: 1366px) {
    .accessories-product-card {
        max-width: 295px;
    }

    .accessories-category-item button {
        width: 20vw;
        font-size: 20px;
    }

    .accessories-category-item button {
        width: 240px;
        font-size: 20px;
    }

    .accessories-product-card, .accessories-product-card-thumbnail {
        width: 255px;
    }

    .accessories-product-card-thumbnail {
        height: 255px;
    }

    .accessories-product-card-action button {
        padding: 7px 15px;
    }

    .find-accessory-need-content {
        max-width: 600px;
    }

    .find-accessory-need-img {
    }

    .find-accessory-need-content p {
    }
    /* The Signs.com Advantage 1366px */
    .signs-advantage-item {
        padding: 0 23px;
    }
}

@media (max-width: 1280px) {
    .accessories-product-card {
        max-width: 275px;
    }

    .accessories-product-card-action button {
        padding: 7px 23px;
    }

    .accessories-category-item button {
        width: 230px;
        font-size: 18px;
    }

    .accessories-product-card, .accessories-product-card-thumbnail {
        width: 245px;
    }

    .accessories-product-card-thumbnail {
        height: 255px;
    }

    .accessories-product-card-action button {
        padding: 7px 12px;
        font-size: 14px;
    }

    .find-accessory-need-content {
        max-width: 573px;
    }
    /* The Signs.com Advantage 1280px */
    .signs-advantage-card {
        flex: 0 0 18vw;
    }

    .signs-advantage-item {
        padding: 0 17px;
    }
}

@media (max-width: 1199px) {
    .accessories-category-item button {
        width: 22vw;
        font-size: 18px;
    }

    .accessories-product-card-action span {
        font-size: 22px;
    }

    .accessories-category-item button {
        width: 214px;
        font-size: 17px;
    }

    .accessories-product-card, .accessories-product-card-thumbnail {
        width: 197px;
    }

    .accessories-product-card-thumbnail {
        height: 197px;
    }

    .accessories-product-card-action button {
        padding: 7px 7px;
        font-size: 13px;
    }

    .accessories-product-card-body h2 {
        font-size: 18px;
    }

    .accessories-product-card-body p {
        font-size: 15px;
    }

    .find-accessory-need-content {
        max-width: 456px;
    }

        .find-accessory-need-content h2 {
            font-size: 28px;
            margin-bottom: 22px;
        }

        .find-accessory-need-content p {
            font-size: 20px;
            margin-bottom: 27px;
        }

    .accessories-product-item-out-of-stock:after {
        font-size: 30px;
        max-width: 195px;
    }

    /* The Signs.com Advantage 1199px */
    .signs-advantage-list {
        flex-flow: row wrap;
        justify-content: center;
    }

    .signs-advantage-item {
        margin-bottom: 25px;
        padding: 0 60px;
    }

        .signs-advantage-item:nth-child(3):before {
            background: none;
        }

   
}

@media (max-width: 991px) {

    .section-default {
        padding: 30px 0;
    }
    /* Accessories */
    .section-accessories:before {
        width: 95%;
    }

    .accessories-product-list h2 {
        display: none;
    }

    .accessories-product-list {
        padding-top: 20px;
        /* margin: 0 -10px; */
    }

    .accessories-category-list {
        flex-flow: row wrap;
        display: flex;
        margin: 0 -4px;
    }

    .accessories-category-item {
        flex: 0 0 50%;
        margin-bottom: 8px;
    }

        .accessories-category-item button {
            font-size: 20px;
            width: 100%;
        }

    .accessories-product-list-wrap {
        display: flex;
        justify-content: center;
    }

    .accessories-product-list {
        margin: 0 -7px;
        justify-self: center;
    }

    .accessories-product-item {
        max-width: 390px;
        width: 50%;
        padding: 0 10px;
    }

    .accessories-product-card {
        max-width: none;
    }

    .accessories-product-card-thumbnail {
    }

        .accessories-product-card-thumbnail img {
        }

    .accessories-category-item button {
        width: 100%;
    }

    .accessories-product-list h2 {
        display: block;
        font-size: 20px;
    }

    .accessories-product-card, .accessories-product-card-thumbnail {
        width: 100%;
        height: auto;
    }

    .accessories-product-card {
        height: 100%;
    }

    .find-accessory-need-content {
        max-width: none;
        margin: 0 auto;
        text-align: center;
    }

    .find-accessory-need-img {
        margin: 0 auto 20px;
    }

    .accessories-product-item-out-of-stock:after {
        font-size: 35px;
        max-width: 210px;
        top: 12vw;
    }
    /* Additional Resource */
    .additional-resources-list {
        display: block;
    }

    .additional-resources-card-img {
        margin: 0 auto 20px;
    }

    .additional-resources-card p {
        margin-bottom: 20px;
    }

    .additional-resources-item {
        margin-bottom: 20px;
    }
    /* The Signs.com Advantage 991px */
    .signs-advantage-item {
        padding: 0 33px;
    }

    .section-signs-advantage {
        padding: 6vw 0 5vw;
    }

    .signs-advantage-block {
        justify-content: center;
    }

    .signs-advantage-card {
        flex: 0 0 30vw;
        margin-bottom: 45px;
    }

    .signs-advantage-image {
        width: 12.5vw;
        height: 12.5vw;
        max-width: initial;
    }

    .signs-advantage-details h3 {
        font-size: 2.56vw;
    }

    a.signs-advantage-link {
        font-size: 2.5vw;
    }

    .signs-advantage-card:nth-child(3):after {
        opacity: 0;
    }

    .section-signs-advantage {
        padding-bottom: 0;
    }

}


@media (max-width: 768px) {
    /* The Signs.com Advantage 768px */
    .signs-advantage-item {
        padding: 0 45px;
        width: 300px;
    }

        .signs-advantage-item:nth-child(3):before {
            background: #DCDCDC;
        }

        .signs-advantage-item:nth-child(even):before {
            background: none;
        }
}

@media (max-width: 767px) {
    .accessories-product-list-wrap {
        margin: 0 -20px;
    }
    /* The Signs.com Advantage 767px */
    .section-signs-advantage .standard-container h2 {
        margin-bottom: 20px;
    }

    .signs-advantage-item:nth-child(odd):before {
        background: none;
    }

    .section-signs-advantage .standard-container h3 br {
        display: none;
    }

    .signs-advantage-item {
        padding: 0 20px;
        width: 358px;
    }
}

@media (max-width: 575px) {
    /* Section Signs.com Accessories 575px */
    .section-accessories .please-note {
        margin-bottom: 0;
    }
    /* Section Product */
    .accessories-category-btn br {
        display: block;
    }

    .section-accessories h1 {
        font-size: 8.82vw;
    }

    .section-accessories p {
        font-weight: 200;
        color: #333333;
        font-size: 16px;
    }

    .section-accessories em {
        color: #333333;
        font-weight: 100;
    }

    /* Product */
    .accessories-category-list {
        margin: 0 -4px;
    }

    .accessories-category-item {
        height: 54px;
    }

    .accessories-product-list {
    }

    .accessories-category-item button {
        font-size: 16px;
        height: 100%;
        padding: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .accessories-product-item {
        padding: 0 7px;
    }

    .accessories-product-list-wrap {
        margin: 0 -14px;
    }

    .accessories-product-card-thumbnail {
        height: 190px;
    }

    .accessories-product-card-body p {
        margin-bottom: 18px;
        font-size: 16px;
        line-height: 19px;
    }

    .accessories-product-card-action {
        flex-flow: row wrap;
    }

        .accessories-product-card-action label {
            font-size: 16px;
        }

        .accessories-product-card-action span {
            font-size: 20px;
        }

        .accessories-product-card-action button {
            margin-top: 18px;
            padding: 6px 30px;
        }

    .accessories-product-card {
        height: 100%;
        flex-flow: column wrap;
    }

    .accessories-product-list-wrap {
        margin: 0 -12px;
    }

    .accessories-product-card-thumbnail {
        height: 185px;
    }

    .find-accessory-need-content h2 {
        max-width: 360px;
        margin: 0 auto 20px;
    }

    .find-accessory-need-img {
        width: 100vw;
        margin: 0 -20px 20px;
    }

    .contact-us-link {
        padding: 4px 25px;
        font-weight: 300;
    }

    .additional-resources-list {
        margin: 0 -20px;
        width: 100vw;
    }

    .find-accessory-need-content p {
        font-size: 18px;
    }
    .accessories-product-item-out-of-stock:after {
        font-size: 28px;
        max-width: 190px;
        top: 16vw;
    }
    /* Additional Resources */
    .section-additional-resources h2 {
        margin-bottom: 25px;
    }

    .additional-resources-item {
        margin-bottom: 40px;
        transform: scale(.97);
    }

        .additional-resources-item:hover {
            transform: scale(1);
        }

    .additional-resources-card h3 {
        font-size: 20px;
    }

    .additional-resources-card p {
        font-size: 16px;
        color: #000;
        max-width: 328px;
        margin: 0 auto;
    }

    .additional-resources-item:last-child {
        margin-bottom: 0;
    }

        .additional-resources-item:last-child .additional-resources-card p {
            margin-bottom: 0;
        }

    /* The Signs.com Advantage 575 */
    .section-signs-advantage .standard-container .signs-advantage-card-award h3 br {
        display: block;
    }

    .signs-advantage-content h3 {
        font-size: 22px;
        margin-bottom: 15px;
    }

    .signs-advantage-item:nth-child(3) h3 br {
        display: block;
    }

   
}

@media (max-width: 480px) {

    /* The Signs.com Advantage 480 */
    .section-signs-advantage {
        padding: 8vw 0 4vw;
    }

        .section-signs-advantage h2 {
            margin-bottom: 6vw;
        }

    .signs-advantage-card {
        flex: 0 0 70vw;
        margin-bottom: 20px;
    }

        .signs-advantage-card:after {
            display: none;
        }

    .signs-advantage-image {
        width: 24.1vw;
        height: 24.1vw;
    }

    .signs-advantage-details h3 {
        font-size: 5.5vw;
        margin-bottom: 3vw;
    }

    a.signs-advantage-link {
        font-size: 5.4vw;
    }
}


@media(max-width: 390px) {
    .accessories-product-item-out-of-stock:after {
        font-size: 25px;
        max-width: 165px;
        top: 19vw;
    }
}

@media (max-width: 375px) {
    .accessories-product-card-thumbnail {
        height: 165px;
    }

    .accessories-product-card-thumbnail {
        height: 165.5px;
    }

    .find-accessory-need-content p {
        font-size: 16px;
    }

    /* The Signs.com Advantage 375px */
    .section-signs-advantage .standard-container h2 {
        font-size: 7.7vw;
    }
}


@media (max-width: 360px) {
    .section-accessories h1 {
        font-size: 8.7vw;
    }

    .accessories-product-card-thumbnail {
        height: 158px;
    }
}

@media (max-width: 320px) {
    .section-accessories h1 {
        font-size: 8.64vw;
    }

    .accessories-product-card-thumbnail {
        height: 135px;
    }

    .accessories-product-card-action button {
        margin-top: 18px;
        padding: 6px 25px;
    }
}





</style >
