.standardWidth {
    margin-top: 70px;
}

.main-content-header .hero-image {
    overflow: hidden;
    height: 300px;
}

.main-content-header .hero-image img {
    height: 300px;
    width: auto;
    max-width: unset !important;
    float: right;
}

.main-content-header h1 {
    font-size: 1.3rem;
    margin: 20px 0;
    font-weight: 300;
    text-align: center;
}

.main-content-header p {
    display: inline;
}

.content-header {
    padding: 0 16px;
}

.main-content-header .main-sub-title {
    padding: 0 15px;
    box-sizing: border-box;
}

@media only screen and (max-width: 1366px) {
    .hero-image img {
        max-width: 100% !important;
    }
}

@media (min-width: 400px) {
    .main-content-header h1 {
        font-size: 2rem;
    }
}

@media (min-width: 606px ) {
    .main-content-header .hero-image {
        height: 400px;
    }

    .main-content-header .hero-image > img {
        height: 400px;
    }
}

@media (min-width: 768px) {
    .main-content-header h1 {
        font-size: 2.5rem;
    }
}

@media (min-width: 801px) {
    .standardWidth {
        margin-top: 0;
    }
}

@media (min-width: 992px) {
    .content-header {
        padding: 0;
    }
}

@media (min-width: 1366px) {
    .main-content-header .hero-image {
        height: auto;
    }

    .main-content-header .hero-image > img {
        height: auto;
        width: 100%;
        max-width: 100%;
    }
}

.additional-options {
    padding: 40px 16px;
    background-color: #333;
    background-image: url("https://www.signs.com/content/assets/filelibrary/Background-7988.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    box-sizing: border-box;
    color: #fff;
    text-align: center;
}

.additional-options .a-options {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
}

.additional-options .a-option-item {
    flex: 1 1 100%;
    max-width: 100%;
    padding: 40px;
    box-sizing: border-box;
}

.additional-options .a-option-image {
    margin: 0 auto 20px auto;
    max-width: 250px;
}

.additional-options .a-option-image > img {
    width: 100%;
    border-radius: 100%;
}

.additional-options .a-option-header {
    margin-bottom: 16px;
}

.additional-options .a-option-header .a-option-name {
    font-weight: 600;
    letter-spacing: 0.05em;
    line-height: 1;
    font-size: 18px;
}

.additional-options .a-option-header .a-option-sub-header {
    font-size: 12px;
}

.additional-options p {
    font-weight: 300;
}

.additional-options .footnote {
    display: block;
    line-height: 1.3;
    font-size: 0.8rem;
}

@media (min-width: 800px) {
    .additional-options .a-options {
        width: 90%;
    }

    .additional-options .a-option-item {
        flex: 1 1 50%;
        max-width: 50%;
    }
}

@media (min-width: 1200px) {
    .additional-options .a-options {
        justify-content: space-between;
    }

    .additional-options .a-option-item {
        flex: 1 1 25%;
        max-width: 25%;
        padding: 20px;
    }
}

.hanging-accessories {
    padding: 40px 16px;
    box-sizing: border-box;
    text-align: center;
}

.hanging-accessories .h-accessories {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
}

.hanging-accessories .content-header > p {
    font-size: 18px;
}

.hanging-accessories .h-accessories-item {
    flex: 1 1 100%;
    max-width: 100%;
    padding: 40px;
    box-sizing: border-box;
}

.hanging-accessories .h-accessories-image {
    margin: 0 auto 20px auto;
    max-width: 250px;
}

.hanging-accessories .h-accessories-image > img {
    max-width: 100%;
}

.hanging-accessories .h-accessories-header {
    margin-bottom: 16px;
}

.hanging-accessories .h-accessories-header .h-accessories-name {
    font-weight: 400;
    letter-spacing: 0.05em;
    line-height: 1;
    font-size: 20px;
}

.hanging-accessories .h-accessories-header .h-accessories-sub-header {
    font-size: 12px;
}

.hanging-accessories p {
    font-weight: 300;
}

@media (min-width: 800px) {
    .hanging-accessories .h-accessories {
        width: 80%;
    }

    .hanging-accessories .h-accessories-item {
        flex: 1 1 50%;
        max-width: 50%;
    }
}

@media (min-width: 1200px) {
    .hanging-accessories .h-accessories-item {
        flex: 1 1 25%;
        max-width: 400%;
    }
}

.design-services {
    margin: 0 auto 40px;
    align-items: flex-start;
    flex-wrap: wrap;
}

.design-services-group {
    margin: 0;
    box-sizing: border-box;
    padding: 30px;
    flex: 1 1 100%;
    max-width: 100%;
}

.design-services-group a {
    font-size: 24px;
}

@media (min-width: 992px) {
    .design-services-group {
        flex: 1 1 50%;
        max-width: 50%;
    }
}

.fab-main {
    width: 85%;
}

.fab-section {
    flex: 1;
}

.fab-section-title {
    margin-top: 20px;
}

.fab-asterisk {
    font-style: italic;
    font-size: 0.8em;
}

@media only screen and (max-width: 800px) {
    .fab-section {
        flex: none;
    }
}

.material-comparison-section {
    margin: 40px auto;
}

.material-comparison-section .content-header {
    font-size: 2.5rem;
    margin: 10px auto 20px auto;
}

.material-comparison-section .image-desktop,
.material-comparison-section .heading-desktop {
    display: none;
}

.material-comparison-section img {
    width: 100%;
    max-width: 100%;
    display: block;
}

.material-comparison-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    text-align: center;
}

.material-comparison-items > .material-comparison-item {
    box-sizing: border-box;
    padding: 0 10px;
    flex: 1 1 100%;
    max-width: 100%;
    text-align: center;
}

.material-comparison-items h4 {
    font-size: 1.6rem;
    font-weight: 500;
    margin-bottom: 15px;
}

.material-comparison-items p {
    font-size: 1.2rem;
    margin-bottom: 25px;
    font-weight: 300;
}

.material-comparison-item > img {
    width: 100%;
    max-width: 430px;
    display: block;
    margin: 0 auto;
}

.material-comparison-items .get-started-button {
    margin-left: 10px;
    margin-right: 10px;
    color: white;
    margin: auto;
    max-width: 178px;
    margin-bottom: 20px;
}

@media (min-width: 992px) {
    .material-comparison-section .image-desktop,
    .material-comparison-section .heading-desktop {
        display: block;
    }

    .material-comparison-items > .material-comparison-item {
        flex: 1 1 50%;
        max-width: 50%;
    }

    .material-comparison-items > .material-comparison-item img {
        display: none;
    }
}

.image-pushed-right-section {
    margin: 60px auto;
}

.image-pushed-right-content {
    display: flex;
    align-items: stretch;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.image-pushed-right-content-item {
    flex: 1 1 100%;
    max-width: 100%;
}

.image-pushed-right-content-item > img {
    display: block;
    margin-left: auto;
    max-width: 100%;
}

.image-pushed-right-content-item:first-child {
    flex: 1 1 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    padding: 0 20px;
    order: 4;
}

.image-pushed-right-content-item:nth-child(2) {
    display: flex;
    align-items: center;
}

.image-pushed-right-content-item:first-child > h3 {
    display: none;
}

.image-pushed-right-content-item > h3 {
    font-size: 38px;
    margin-bottom: 20px;
}

.image-pushed-right-content-item > p {
    margin-bottom: 16px;
}

.image-pushed-right-content-item:nth-child(2) > h3 {
    box-sizing: border-box;
    padding: 0 20px;
    text-align: center;
    width: 100%;
}

@media (min-width: 668px) {
    .image-pushed-right-content-item {
        flex: 1 1 calc(50% - (100vw - 668px) / 2);
        max-width: calc(50% - (100vw - 668px) / 2);
    }

    .image-pushed-right-content-item:nth-child(2) {
        flex: 1 1 50%;
        max-width: 50%;
        margin-left: calc((100vw - 668px) / 2);
    }

    .image-pushed-right-content-item:first-child {
        flex: 1 1 668px;
        max-width: 668px;
        margin: 0 auto;
    }

    .image-pushed-right-content-item:nth-child(2) > h3 {
        text-align: left;
    }
}

@media (min-width: 992px) {
    .image-pushed-right-content {
        justify-content: space-between;
    }

    .image-pushed-right-content-item {
        flex: 1 1 calc(50% - (100vw - 900px) / 2);
        max-width: calc(50% - (100vw - 900px) / 2);
    }

    .image-pushed-right-content-item:first-child {
        flex: 1 1 50%;
        max-width: 50%;
        margin-left: 0;
        margin-right: 0;
        order: 0;
    }

    .image-pushed-right-content-item:first-child > h3 {
        margin-bottom: 64px;
        display: block;
    }

    .image-pushed-right-content-item:nth-child(2) {
        display: none;
    }
}

@media (min-width: 1200px) {
    .image-pushed-right-content-item {
        flex: 1 1 calc(50% - (100vw - 1000px) / 2);
        max-width: calc(50% - (100vw - 1000px) / 2);
    }

    .image-pushed-right-content-item:first-child {
        flex: 1 1 50%;
        max-width: 50%;
        margin-left: 0;
    }
}

@media (min-width: 1300px) {
    .image-pushed-right-content-item:first-child {
        margin-left: calc((100vw - 1300px) / 2);
    }
}

@media (min-width: 1500px) {
    .image-pushed-right-content-item {
        flex: 1 1 calc(50% - (100vw - 1000px) / 2);
        max-width: calc(50% - (100vw - 1000px) / 2);
    }

    .image-pushed-right-content-item:first-child {
        flex: 1 1 50%;
        max-width: 50%;
    }
}

@media (max-width: 575px) {
    .image-pushed-right-content-item > h3 {
        font-size: 30px;
    }
}

.image-pushed-left-section {
    margin: 60px auto;
}

.image-pushed-left-content {
    display: flex;
    align-items: stretch;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.image-pushed-left-content-item {
    flex: 1 1 100%;
    max-width: 100%;
    margin-bottom: 20px;
}

.image-pushed-left-content-item > img {
    display: block;
    margin-right: auto;
    max-width: 100%;
}

.image-pushed-left-content-item:last-child {
    flex: 1 1 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    padding: 0 20px;
    order: 4;
}

.image-pushed-left-content-item:first-child {
    order: 2;
}

.image-pushed-left-content-item:nth-child(2) {
    display: flex;
    align-items: center;
}

.image-pushed-left-content-item:last-child > h3 {
    display: none;
}

.image-pushed-left-content-item > h3 {
    font-size: 38px;
}

.image-pushed-left-content-item > p {
    margin-bottom: 16px;
}

.image-pushed-left-content-item:nth-child(2) > h3 {
    box-sizing: border-box;
    padding: 0 20px;
    text-align: center;
    width: 100%;
}

@media (min-width: 668px) {
    .image-pushed-left-content-item {
        flex: 1 1 calc(60% - (100vw - 668px) / 2);
        max-width: calc(60% - (100vw - 668px) / 2);
    }

    .image-pushed-left-content-item:nth-child(2) {
        flex: 1 1 40%;
        max-width: 40%;
        margin-right: calc((100vw - 668px) / 2);
    }

    .image-pushed-left-content-item:last-child {
        flex: 1 1 668px;
        max-width: 668px;
        margin: 0 auto;
    }

    .image-pushed-left-content-item:nth-child(2) > h3 {
        text-align: right;
    }

    .image-pushed-left-content-item:first-child {
        order: 0;
    }
}

@media (min-width: 992px) {
    .image-pushed-left-content {
        justify-content: space-between;
    }

    .image-pushed-left-content-item {
        flex: 1 1 calc(50% - (100vw - 900px) / 2);
        max-width: calc(50% - (100vw - 900px) / 2);
    }

    .image-pushed-left-content-item:last-child {
        flex: 1 1 50%;
        max-width: 50%;
        margin-right: 0;
        margin-right: 0;
        order: 0;
    }

    .image-pushed-left-content-item:last-child > h3 {
        margin-bottom: 64px;
        display: block;
    }

    .image-pushed-left-content-item:nth-child(2) {
        display: none;
    }
}

@media (min-width: 1200px) {
    .image-pushed-left-content-item {
        flex: 1 1 calc(50% - (100vw - 1000px) / 2);
        max-width: calc(50% - (100vw - 1000px) / 2);
    }

    .image-pushed-left-content-item:last-child {
        flex: 1 1 50%;
        max-width: 50%;
        margin-right: 0;
    }
}

@media (min-width: 1300px) {
    .image-pushed-left-content-item:last-child {
        margin-right: calc((100vw - 1300px) / 2);
    }
}

@media (min-width: 1500px) {
    .image-pushed-left-content-item {
        flex: 1 1 calc(50% - (100vw - 1000px) / 2);
        max-width: calc(50% - (100vw - 1000px) / 2);
    }

    .image-pushed-left-content-item:last-child {
        flex: 1 1 50%;
        max-width: 50%;
    }
}

@media (max-width: 575px) {
    .image-pushed-left-content-item > h3 {
        font-size: 30px;
    }
}

.related-products-section .related-products > .related-group {
    flex: 1 1 100%;
    max-width: 100%;
    margin: 0 0 30px;
    box-sizing: border-box;
    padding: 0 16px;
}

.related-products-section .related-image {
    max-width: 430px;
    width: 100%;
}

@media (min-width: 992px) {
    .related-products-section .related-products > .related-group {
        flex: 1 1 33.333333%;
        max-width: 33.333333%;
        padding: 0 60px;
    }
}

@media (min-width: 1336px) {
    .related-products-section .related-image {
        max-width: 70%;
    }
}

.image-lg-pushed-right-section {
    margin: 60px auto;
}

.image-lg-pushed-right-content {
    display: flex;
    align-items: stretch;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.image-lg-pushed-right-content-item {
    flex: 1 1 100%;
    max-width: 100%;
    margin-bottom: 20px;
}

.image-lg-pushed-right-content-item > img {
    display: block;
    margin-left: auto;
    max-width: 100%;
}

.image-lg-pushed-right-content-item:first-child {
    flex: 1 1 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    padding: 0 20px;
    order: 4;
}

.image-lg-pushed-right-content-item:nth-child(2) {
    display: flex;
    align-items: center;
}

.image-lg-pushed-right-content-item:first-child > h3 {
    display: none;
}

.image-lg-pushed-right-content-item > h3 {
    font-size: 38px;
    margin-bottom: 20px;
}

.image-lg-pushed-right-content-item > p {
    margin-bottom: 16px;
}

.image-lg-pushed-right-content-item:nth-child(2) > h3 {
    box-sizing: border-box;
    padding: 0 20px;
    text-align: center;
    width: 100%;
}

@media (min-width: 668px) {
    .image-lg-pushed-right-content-item {
        flex: 1 1 calc(50% - (100vw - 668px) / 2);
        max-width: calc(50% - (100vw - 668px) / 2);
        order: 3;
    }

    .image-lg-pushed-right-content-item:nth-child(2) {
        flex: 1 1 100%;
        max-width: 100%;
        margin-left: 0;
        order: 0;
    }

    .image-lg-pushed-right-content-item:first-child {
        flex: 1 1 50%;
        max-width: 50%;
        margin: 0;
        z-index: 1;
        order: 2;
    }

    .image-lg-pushed-right-content-item:nth-child(2) > h3 {
        text-align: center;
    }
}

@media (min-width: 992px) {
    .image-lg-pushed-right-content {
        justify-content: space-between;
    }

    .image-lg-pushed-right-content-item {
        flex: 1 1 calc(50% - (100vw - 900px) / 2);
        max-width: calc(50% - (100vw - 900px) / 2);
    }

    .image-lg-pushed-right-content-item:first-child {
        flex: 1 1 50%;
        max-width: 50%;
        margin-left: 0;
        margin-right: 0;
        order: 1;
    }

    .image-lg-pushed-right-content-item:first-child > h3 {
        margin-bottom: 64px;
        display: block;
    }

    .image-lg-pushed-right-content-item:nth-child(2) {
        order: 0;
        flex: 1 1 100%;
        max-width: 100%;
    }

    .image-lg-pushed-right-content-item > p {
        margin-bottom: 16px;
        font-size: 18px;
        line-height: 1.6;
    }
}

@media (min-width: 1200px) {
    .image-lg-pushed-right-content-item {
        flex: 1 1 calc(70% - (100vw - 1000px) / 2);
        max-width: calc(70% - (100vw - 1000px) / 2);
    }

    .image-lg-pushed-right-content-item:first-child {
        flex: 1 1 30%;
        max-width: 30%;
        margin-left: calc((100vw - 1300px) / 2);
    }
}

@media (max-width: 575px) {
    .image-lg-pushed-right-content-item > h3 {
        font-size: 30px;
    }
}

.fence-steps-section {
    margin: 60px auto;
}

.fence-steps-section .content-header {
    margin-bottom: 60px;
}

.fence-steps {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
    position: relative;
    max-width: 280px;
    margin: 0 auto;
}

.fence-steps:before {
    position: absolute;
    content: '';
    background-color: #555;
    height: 80%;
    width: 10px;
    top: 0;
    left: 60px;
    transform: translate(-50%, 0);
    z-index: 0;
}

.fence-step-item {
    flex: 1 1 100%;
    max-width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 60px;
    position: relative;
    z-index: 2;
}

.fence-step-item .step-icon {
    position: relative;
    display: inline-block;
}

.fence-step-item .step-description {
    max-width: 180px;
    text-align: left;
    margin-left: 20px;
}

.fence-step-item .step-description a,
.fence-step-item .step-description a:hover,
.fence-step-item .step-description a:focus,
.fence-step-item .step-description a:visited {
    color: #3fa9f5;
    text-decoration: none;
}

.fence-step-item .step-number {
    display: inline-block;
    position: absolute;
    background-color: #84c441;
    font-weight: 600;
    font-size: 20px;
    height: 24px;
    width: 24px;
    text-align: center;
    color: #fff;
    border-radius: 100%;
    padding: 4px;
}

.fence-step-item .step-icon > img {
    border-radius: 100%;
    border: 10px solid #555;
    height: 100px;
    width: 100px;
    margin: 0 auto;
    display: block;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

@media (min-width: 768px) {
    .fence-steps {
        max-width: 700px;
    }

    .fence-steps:before {
        height: 10px;
        width: 70%;
        top: 86px;
        left: 50%;
        transform: translate(-50%, 0);
        margin: 0 auto;
    }

    .fence-steps:after {
        position: absolute;
        content: '';
        background-color: #555;
        height: 10px;
        width: 50%;
        bottom: 158px;
        transform: translateY(-50%);
        margin: 0 auto;
        z-index: 1;
    }

    .fence-step-item {
        flex: 1 1 33.333333%;
        max-width: 33.333333%;
        flex-direction: column;
    }

    .fence-step-item:nth-child(4),
    .fence-step-item:nth-child(5) {
        margin-bottom: 0;
    }

    .fence-step-item .step-icon > img {
        height: 130px;
        width: 130px;
        margin-bottom: 30px;
    }

    .fence-step-item .step-description {
        text-align: center;
        margin-left: 0;
    }

    .fence-step-item .step-icon > img {
        height: 130px;
        width: 130px;
    }

    .fence-step-item .step-number {
        font-size: 26px;
        height: 30px;
        width: 30px;
    }
}

@media (min-width: 992px) {
    .fence-steps {
        max-width: 900px;
    }

    .fence-steps:before {
        width: 80%;
    }

    .fence-steps:after {
        display: none;
    }

    .fence-step-item {
        flex: 1 1 20%;
        max-width: 20%;
        margin-bottom: 0;
        padding: 10px;
        box-sizing: border-box;
    }
}

@media (min-width: 1200px) {
    .fence-steps {
        max-width: 1100px;
    }
}

@media (min-width: 1336px) {
    .fence-steps-section {
        max-width: 1300px;
    }

    .fence-steps {
        max-width: 1200px;
    }
}

@media (min-width: 1500px) {
    .fence-steps-section {
        max-width: 1400px;
    }

    .fence-steps {
        max-width: 1300px;
    }
}

.image-bg-text-overlay-section {
    position: relative;
}

.image-bg-text-overlay-section .image-bg > img {
    display: block;
    max-width: 100%;
    height: auto;
    width: 100%;
}

.image-bg-text-overlay-section .text-overlay {
    padding: 30px 15px;
    box-sizing: border-box;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.9);
    max-width: 600px;
    margin: 0 auto;
}

.image-bg-text-overlay-section .text-overlay > h3,
.image-bg-text-overlay-section .text-overlay > p {
    margin-bottom: 16px;
}

.image-bg-text-overlay-section .text-overlay > h3 {
    font-size: 20px;
    font-weight: 500;
}

.image-bg-text-overlay-section .text-overlay > h2 {
    display: none;
    font-size: 22px;
    margin-bottom: 16px;
}

@media (min-width: 992px) {
    .image-bg-text-overlay-section > .content-header {
        display: none;
    }

    .image-bg-text-overlay-section .text-overlay > h2 {
        display: block;
    }

    .image-bg-text-overlay-section .text-overlay {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        max-width: 40%;
        text-align: left;
        padding: 30px;
    }

    .image-bg-text-overlay-section.text-align-left .text-overlay {
        margin-left: 10%;
        margin-right: 50%;
    }

    .image-bg-text-overlay-section.text-align-right .text-overlay {
        margin-left: 50%;
        margin-right: 10%;
    }
}

@media (min-width: 1500px) {
    .image-bg-text-overlay-section .text-overlay {
        max-width: 30%;
    }

    .image-bg-text-overlay-section.text-align-left .text-overlay {
        margin-left: 10%;
        margin-right: 60%;
    }

    .image-bg-text-overlay-section.text-align-right .text-overlay {
        margin-left: 60%;
        margin-right: 10%;
    }
}

.additional-specs-section {
    margin: 60px 0;
}

.additional-specs-section .specs-table {
    margin: 0 auto;
}

.additional-specs-section .specs-table th,
.additional-specs-section .specs-table td {
    padding: 20px;
    text-align: center;
    color: #777;
}

.additional-specs-section .specs-table th:first-child,
.additional-specs-section .specs-table td:first-child {
    display: none;
    text-align: left;
    padding-left: 0;
    color: #333;
}

.additional-specs-section .specs-table th:last-child,
.additional-specs-section .specs-table td:last-child {
    width: 50%;
}

.additional-specs-section .specs-table td:nth-child(2) {
    border-right: 1px solid #ccc;
}

.additional-specs-section .specs-table th {
    color: #333;
    font-size: 20px;
    text-decoration: underline;
}

.additional-specs-section .specs-table .mobile-heading {
    display: block;
    color: #333;
}

@media (min-width: 992px) {
    .additional-specs-section .specs-table {
        max-width: 70%;
    }

    .additional-specs-section .specs-table tr:not(:last-child) > th,
    .additional-specs-section .specs-table tr:not(:last-child) > td {
        border-bottom: 1px solid #ccc
    }

    .additional-specs-section .specs-table th,
    .additional-specs-section .specs-table td {
        text-align: left;
    }

    .additional-specs-section .specs-table th {
        text-align: center;
        text-decoration: none;
    }

    .additional-specs-section .specs-table .mobile-heading {
        display: none;
    }

    .additional-specs-section .specs-table th:first-child,
    .additional-specs-section .specs-table td:first-child {
        display: table-cell;
        padding-right: 0;
    }
}

@media (min-width: 1500px) {
    .additional-specs-section .specs-table th:first-child,
    .additional-specs-section .specs-table td:first-child {
        width: 200px;
    }
}

.professional-installation-section {
    margin: 60px 0;
}

.professional-installation-section * {
    box-sizing: border-box;
}

.installation-form-container {
    border: 1px solid #BCBEBF;
    border-radius: 12px;
    box-shadow: 0 0 4px #BCBEBF;
    padding: 24px;
    max-width: 90%;
    margin: 0 auto;
}

.installation-form-container .content-header {
    margin-top: 0;
}

.installation-form-container .installation-form {
    max-width: 500px;
    margin: 0 auto;

}

.installation-form-container .installation-form .installation-row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -5px;
    margin-left: -5px;
}

.installation-form-container .installation-form .installation-col-6 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    position: relative;
    width: 100%;
    padding-right: 5px;
    padding-left: 5px;
}

.installation-form-container .installation-form .form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.installation-form-container .installation-form textarea.form-control {
    height: auto;
    resize: vertical;
}

.installation-form .installation-form-group {
    margin-bottom: 1rem;
}

.installation-form label {
    display: block;
}

.installation-form .installation-btn {
    display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem 1.5rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    background-color: #8CC53F;
}

.installation-form .installation-btn:disabled {
    opacity: 0.5;
}

@media (min-width: 768px) {
    .installation-form-container .installation-form .installation-col-6 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
}

@media (min-width: 1200px) {
    .installation-form-container {
        max-width: 1000px;
    }
}

@media (min-width: 1200px) {
    .installation-form-container {
        max-width: 1000px;
    }
}

.swal-text,
.swal-footer {
    text-align: center;
}

.care-section {
    margin: 40px 0;
}

.care-section .content-header {
    text-align: left;
}

.care-section-content {
    max-width: 90%;
    margin: 0 auto;
}

.care-section-content > .content-header {
    text-align: center;
}

.care-section-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.care-section-image,
.care-section-text {
    flex: 1 1 100%;
    max-width: 100%;
    box-sizing: border-box;
    padding: 0 15px;
}

.care-section-text {
    order: 2;
}

.care-section-text .content-header {
    padding: 0;
    margin-top: 0;
    display: none;
}

.care-section-image {
    text-align: center;
}

.care-section-image > img {
    max-width: 100%;
}

@media (min-width: 992px) {
    .care-section-content {
        max-width: 90%;
        margin: 0 auto;
    }

    .care-section-image,
    .care-section-text {
        flex: 1 1 50%;
        max-width: 50%;
        font-size: 18px;
    }

    .care-section-content > .content-header {
        display: none;
    }

    .care-section-text {
        order: 0;
    }

    .care-section-text .content-header {
        display: block;
    }
}

@media (min-width: 1200px) {
    .care-section-text {
        flex: 1 1 60%;
        max-width: 60%;
        text-align: left;
    }

    .care-section-image {
        flex: 1 1 30%;
        max-width: 30%;
    }
}

@media (min-width: 1366px) {
    .care-section-content {
        max-width: 70%;
    }
}

@media (min-width: 1921px) {
    .image-lg-pushed-right-content-item {
    }

    /* Installation Section */
    .image-pushed-left-content-item:last-child {
        margin-left: calc((100vw - 1920px) / 2);
        margin-right: 0;
    }

    /* Section What Are */
    .image-pushed-right-content-item:first-child {
        margin-left: calc((100vw - 1920px) / 2);
    }

    .image-pushed-right-content-item:last-child {
        margin-right: 0;
        margin-left: 0;
        max-width: 405px;
    }

    /* Selecting the Best Size for your Fence */
    .image-lg-pushed-right-content-item:first-child {
        margin-left: calc((100vw - 1920px) / 2);
    }

    .image-lg-pushed-right-content-item:last-child {
        max-width: 610px;
    }

    .image-lg-pushed-right-content-item {
    }

    /* Installation Section */
    .image-pushed-left-content-item:last-child {
        margin-left: calc((100vw - 1920px) / 2);
        margin-right: 0;
    }

    .image-pushed-left-section .image-pushed-left-content-item:first-child {
        max-width: 460px;
    }

    .image-pushed-left-section .image-pushed-left-content-item:last-child {
        /* max-width: 460px; */
        margin-left: 0;
        margin-right: calc((100vw - 1920px) / 2);
    }
}
