<div class="reverse-cut-vinyl option-details-section">
    <h3 class="option-detail-header"><span id="reverse-details"></span>Reverse Cut Vinyl</h3>
    <div class="option-details">
        <img class="detail-img" src="https://www.signs.com/content/assets/filelibrary/FrostedDecalFrostedReverseCut-Large-4753.png" />
        <div class="details">
            <div class="detail">
                <h5>How It's Made</h5>
                <div class="detail-text">
                    <img src="https://www.signs.com/content/assets/filelibrary/FrostedDecalApple1-4733.png" />
                    <p>Your design will be cut away from the background of a 2-mil sheet of frosted vinyl material. Vector artwork is required (ai, eps, svg, pdf) when uploading a file for this option. Utilize our <a class="standard-link" href="https://www.signs.com/design-services/">Free Design Services</a> for any needed design assistance.</p>
                </div>
            </div>
            <div class="detail">
                <h5>Shape Options</h5>
                <div class="detail-text">
                    <img src="https://www.signs.com/content/assets/filelibrary/FrostedDecalApple1-4733.png" />
                    <div class="text-with-header">
                        <h5>Standard Cut</h5>
                        <p>The shape of your decal will be a standard square/rectangle with your design elements cut out from the bigger shape.</p>
                    </div>
                </div>
            </div>
            <div class="detail">
                <h5>Print Surface Options</h5>
                <div class="surface-options">
                    <div class="surface-option">
                        <img src="https://www.signs.com/content/assets/filelibrary/FrostedDecalOutsideGlass-4761.png" />
                        <h5>Adhesive on Back</h5>
                        <p>Your decal will adhere to the <span class="underline">outside</span> of the window you apply it to.</p>
                    </div>
                    <div class="surface-option">
                        <img src="https://www.signs.com/content/assets/filelibrary/FrostedDecalInsideGlass-4759.png" />
                        <h5>Adhesive on Front</h5>
                        <p>Your decal will adhere to the <span class="underline">inside</span> of the window you apply it to.</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<a href="https://www.signs.com/design/?id=c50b146b-4954-4237-b2e6-54f4ee4647e1" class="get-started-button content" id="quickStartGetStartedButton-ReverseCutFrosted">Get Started</a>