<!-- Hero Section -->
<section class="section-hero-full-width">
    <div class="hero-head">
        <h1>Custom Table Covers</h1>
        <ul class="hero-list">
            <li class="hero-list-item">Print On All Sides</li>
            <li class="hero-list-item">Next Day Production</li>
            <li class="hero-list-item">Free Design Services</li>
            <li class="hero-list-item">Full Color</li>
        </ul>
    </div>
    <div class="hero-body">
        <div class="hero-img-wrap">
            <img class="hero-img" src="https://www.signs.com/content/assets/filelibrary/Table-Cover-Standard-Hero-1262x554-web-9375.jpg" alt="Custom Table Cover" />
        </div>
    </div>
    <div class="hero-footer">
        <p class="hero-phrase">
            100% custom table covers printed on a gorgeous fabric material perfect for your next event
        </p>
    </div>
</section>
<!-- View FAQ -->
<div class="faq-search-links">
    <a href="#product-faq" class="scroll-link">View all FAQ's<span class="caret"></span
    ></a>
</div>
<!-- What Are Rectangle Flags? -->
<section class="section-default section-what-are sectionComeGo_js">
    <div class="standard-container">
        <div class="what-are-content-wrap comeGoChildWrap_js">
            <h2>What are custom table covers?</h2>
            <p>
                Turn a simple table into branded marketing material using our custom table covers, also known as table throws. Table covers are reusable, machine washable and made from an 6.8 oz, polyester with a vibrant, dye-sublimation- printed design. These table
                covers are an ideal addition for any trade show. convention, or business event display.
            </p>
            <p>
                Table covers are specifically suited for use on 6ft or 8ft wide tables and have rounded corners for added visual appeal. With a 3•sided table cover, you can conveniently access the back of your table. Choose standard table cover if you are wanting to
                completely encloses your table.
            </p>
            <p>
                With the ability to print on all sides, both the standard and 3-sided table cover will give you the power of instant branding and professional presence at any event, trade show, farmers market or wherever you need a great looking table!
            </p>

        </div>
        <div class="what-are-img-wrap comeGoImageWrap_js">
            <img src="https://www.signs.com/content/assets/filelibrary/what-are-TC-web-749x460-9378.jpg" alt="Custom Table Covers for Business" />
        </div>
    </div>
</section>
<!-- Downloadable PDF Template -->
<section class="section-dpt">
    <div class="downloadable-product-templates">
        <h3>Downloadable product templates</h3>
        <table class="table table-border-nobox">
            <thead>
                <tr>
                    <th scope="col">6ft Table Covers</th>
                    <th scope="col">8ft Table Covers</th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><a href="">4 Sided</a></td>
                    <td><a href="">4 Sided</a></td>
                </tr>
                <tr>
                    <td><a href="">3 Sided</a></td>
                    <td><a href="">3 Sided</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</section>
<!-- Standard vs 3-Sided Table Covers -->
<section class="section-default section-standard-vs-3sided">
    <div class="standard-container">
        <h2>Standard vs 3-Sided Table Covers</h2>
        <div class="table-cover-types">
            <div class="table-cover-col">
                <div class="img-wrap"><img src="https://www.signs.com/content/assets/filelibrary/All-Sides-Standard-Table-Cover-435x384-web-9362.jpg" alt="Front and Back View of a Standard Table Cover"></div>
                <div class="content-wrap">
                    <h3>Standard Table Cover</h3>
                    <ul>
                        <li>Fully covers table.</li>
                        <li>Printable on all sides (front, back, left, right, top).</li>
                        <li>Great for concealing boxes or other items stored under your table.</li>
                    </ul>
                </div>
            </div>
            <div class="table-cover-col">
                <div class="img-wrap"><img src="https://www.signs.com/content/assets/filelibrary/All-Sides-3-side-Table-Cover-435x388-web-9361.jpg" alt="Front and Back View of a 3-Sided Table Cover"></div>
                <div class="content-wrap">
                    <h3>3-Sided Table Cover</h3>
                    <ul>
                        <li>Leaves the back of the table exposed.</li>
                        <li>Printable on the front, left side, right side and top.</li>
                        <li>Provides easy access to promotional material or other objects ubder your table.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Section Sign Features-->
<section class="section-default section-signs-features">
    <div class="standard-container">
        <h2>Table Cover Features</h2>
        <div class="featured-body">
            <div class="featured-img-wrap">
                <img src="https://www.signs.com/content/assets/filelibrary/Table-Cover-Features-885x650-web-9374.jpg" alt="Custom Table Cover at an Angle">
            </div>
            <ul class="signs-featured-list">
                <li class="signs-featured-item">
                    <h3>Quick and Easy Branding</h3>
                    <p>Whether at a convention or fundraiser, table covers let you quickly brand your table or booth to tie your marketing efforts together, displaying a sense of professionalism to your guests.</p>
                    <div class="img-wrap"><img src="https://www.signs.com/content/assets/filelibrary/Icons-02-9366.jpg" alt="Quick and Easy"></div>
                </li>
                <li class="signs-featured-item">
                    <h3>Print Everywhere</h3>
                    <p>Print on all 4 sides as well as the top of your table cover to show off your brand at every angle. The 3 sided cover allows you to print on the top as well as front and sides of the cover.</p>
                    <div class="img-wrap"><img src="https://www.signs.com/content/assets/filelibrary/Icons-03-9367.jpg" alt="Print Area On a Custom Table Cover"></div>
                </li>
                <li class="signs-featured-item">
                    <h3>No Hassle Design</h3>
                    <p>Let our team of in-house designers design your table cover at no extra charge. Whether you need help adjusting images, resizing your logo or getting something made from scratch, we've got you covered!
                    </p>
                    <div class="img-wrap"><img src="https://www.signs.com/content/assets/filelibrary/snapping-fingers-icon-9372.jpg" alt="Snapping Fingers Icon"></div>
                </li>
                <li class="signs-featured-item">
                    <h3>Full Color</h3>
                    <p>Don't sacrifice the style of your brand by limiting yourself to two or three colors from other stores. Your table cover will be printed in full color for lifelike reproduction of your images.
                    </p>
                    <div class="img-wrap"><img src="https://www.signs.com/content/assets/filelibrary/Icons-01-9365.jpg" alt="Full Color On a Custom Table Cover"></div>
                </li>
                <li class="signs-featured-item">
                    <h3>Fits Most Standard Convention Tables</h3>
                    <p>Whether you use a standard or 3-sided table customized with your design, you can rest assured the cover will fit almost all standard tables. Just select 6' or 8' depending on your table size.
                    </p>
                    <div class="img-wrap"><img src="https://www.signs.com/content/assets/filelibrary/Icons-04-9368.jpg" alt="Standard Convention Table"></div>
                </li>
            </ul>
        </div>
    </div>
</section>

<!-- Table Cover Dimensions -->
<section class="section-default section-table-cover-dimensions">
    <div class="standard-container">
        <h2>Table Cover Dimensions</h2>
        <div class="tab">
            <button class="tablinks active" onclick="openCity(event, 'ft6')">6 ft</button>
            <button class="tablinks" onclick="openCity(event, 'ft8')">8 ft</button>
        </div>

        <div id="ft6" class="tabcontent" style="display: block;">
            <div class="img-wrap">
                <img src="https://www.signs.com/content/assets/filelibrary/6Ft-Table-Cover-1110x470-web-9359.jpg" alt="6ft Table Cover Dimensions">
            </div>
        </div>

        <div id="ft8" class="tabcontent" style="display: none;">
            <div class="img-wrap">
                <img src="https://www.signs.com/content/assets/filelibrary/8Ft-Table-Cover-1215x465-web-9360.jpg" alt="8ft Table Cover Dimensions">
            </div>
        </div>
    </div>
</section>

<script>
    function openCity(evt, cityName) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
        document.getElementById(cityName).style.display = "block";
        evt.currentTarget.className += " active";
    }
</script>

<!-- Design tool and services -->
<section class="section-default design-services">
    <div class="standard-container">
        <div class="myrow">
            <div class="design-services-group">
                <h2 class="design-services-heading">Easy to Use <br>Design Tool</h2>
                <div class="img-wrap"><img src="https://www.signs.com/content/assets/filelibrary/Custom-Table-Cover-in-Online-Design-Tool-9364.jpg" alt="Custom Table Cover in Online Design Tool" /></div>
                <p class="design-services-text">Create your custom opaque car decal with our simple and easy design tool. Upload images, create objects, add text, adjust sizing, change color, and so much more!</p>
                <a href="https://www.signs.com/design/?productID=43">Check It Out</a>
            </div>

            <div class="design-services-group">
                <h2 class="design-services-heading">Free Professional <br> Design Services</h2>
                <div class="img-wrap"><img class="design-services-image" src="https://www.signs.com/content/assets/filelibrary/Free-Design-Services-8426.jpg" /></div>
                <p class="design-services-text">Whether you need help uploading your design or are interested in creating something entirely new, our team of professional graphic designers is here to help. Nothing beats free!</p>
                <a href="https://www.signs.com/design-services/">Learn More</a>
            </div>
        </div>
    </div>
</section>

<!-- Easy to clean and set up -->
<section class="section-default section-img-content-alternate section-setup-clean">
    <div class="standard-container">
        <div class="img-content-alternate-item setup-clean-item sectionComeGo_js">

            <div class="img-wrap comeGoImageWrap_js">
                <img src="https://www.signs.com/content/assets/filelibrary/Table-Cover-Set-Up-683x460-web-9373.jpg" alt="Setting Up a Custom Table Cover">
            </div>
            <div class="content-wrap comeGoChildWrap_js">
                <h3>Easy to Set Up</h3>
                <p>Setting up your table cover requires simply unfolding the cloth and placing it on the table. If you have a 3-sided table cover, the process is just as simple—just place it over your table with the printed side to the front, opposite the
                    Open back. Your trade show or event table will be ready with your branded table cover right away.</p>
            </div>
        </div>
        <div class="img-content-alternate-item rectangle-flag-options-item sectionComeGo_js">

            <div class="img-wrap comeGoImageWrap_js">
                <img src="https://www.signs.com/content/assets/filelibrary/WasherMachine-550x550-9377.jpg" alt="Wash Macine">
            </div>
            <div class="content-wrap comeGoChildWrap_js">
                <h3>Easy to Clean</h3>
                <p>Use a damp cloth to remove surface dirt or machine wash with cold water on a low spin Or gentle cycle. TO dry, simply hang the table cover on a hanger until dry. DO not tumble dry, bleach or iron.</p>
            </div>
        </div>
    </div>
</section>

<!-- Section Additional Specs-->
<section class="section-additional-specs">
    <div class="container">
        <h2>Additional Specs</h2>
        <ul class="additional-specs-list">
            <li>
                <h3>Material</h3>
                <p>6.8 oz. polyester fabric (about the thickness of 5 sheets of copy paper)</p>
            </li>
            <li>
                <h3>Details</h3>
                <p>6.8 oz. polyester table throw with a closed back (standard), or open back (3•sided). Print on up to all four sides of your table cover</p>
            </li>
            <li>
                <h3>Uses</h3>
                <p>Indoor. Trade Shows, Conferences, Check In Counters, Fundraising Events, Farmers Markets</p>
            </li>
            <li>
                <h3>Print Method</h3>
                <p>4-C010r, Dye-Sublimation Process</p>
            </li>
            <li>
                <h3>Finish</h3>
                <p>Unhemmed</p>
            </li>
            <li>
                <h3>Estimated Lifespan</h3>
                <p>5+ years with proper placement and care</p>
            </li>
        </ul>
    </div>
</section>

<!-- Why Signs.com -->
<section class="section-default section-why-signs">
    <div class="standard-container">
        <h2>Why Signs.com?</h2>
        <ul class="why-signs-list">
            <li class="why-signs-list-item">
                <img src="https://www.signs.com/content/assets/filelibrary/icon-running-9526.jpg" alt="Icon running" />
                <h3>Next Day Production</h3>
                <p>
                    Order by SPM EST and we'll have your table cover completed and shipped the very next day.
                </p>

            </li>
            <li class="why-signs-list-item">
                <img src="https://www.signs.com/content/assets/filelibrary/icon-box-9528.jpg" alt="Icon box" />
                <h3>Free Shipping over $75*</h3>
                <p>
                    For table covers and products over $75 your order ships free!
                </p>
                <span class="extra">
                    *Does no! apply to Orders c ontoining rigid signs over 36" in either dimensyon. Contiguous US only.
                </span>
            </li>

            <li class="why-signs-list-item">
                <img src="https://www.signs.com/content/assets/filelibrary/icon-ribbon-9527.jpg" alt="Icon ribbon" />
                <h3>Award Winning Customer Service</h3>
                <p>
                    The easiest and fastest sign experience combined with the best service.
                </p>
            </li>

        </ul>
    </div>
</section>

<!-- Section Related Products -->
<section class="section-default section-related-products">
    <div class="standard-container">
        <h2>Related Products</h2>
        <a href="/flags/">
            <figure>
                <div class="img-wrap"><img src="https://www.signs.com/content/assets/filelibrary/PopUpTent-TopNav-9370.png" alt="Custom Pop Up Tent" /></div>
                <figcaption>Pop Up Tents</figcaption>
            </figure>
        </a>
        <a href="/advertising-flags page/">
            <figure>
                <div class="img-wrap"><img src="https://www.signs.com/content/assets/filelibrary/RetractableBanner-TopNav-01-9371.png" alt="Custom Retractable Banner" /></div>
                <figcaption>Retractable Banners</figcaption>
            </figure>
        </a>
        <a href="/spirit-flags/">
            <figure>
                <div class="img-wrap"><img src="https://www.signs.com/content/assets/filelibrary/TableRunner-TopNav-9376.png" alt="Custom Table Runner" /></div>
                <figcaption>Table Runners</figcaption>
            </figure>
        </a>
    </div>
</section>

<script>
    /* Create Gallery Image Section */
    var namelessDiv1 = document.createElement("div");
    namelessDiv1.setAttribute("class", "section-default section-gallery-image");
    /* Edit this one where you put the image slider!!! */
    var sectionDesignServices = document.querySelector(
        ".section-table-cover-dimensions + .standard-separator"
    );
    sectionDesignServices.after(namelessDiv1);
    /* Create Standard Container */
    var sectionGalleryImage = document.querySelector(".section-gallery-image");
    var namelessDiv2 = document.createElement("div");
    namelessDiv2.setAttribute("class", "standard-container");
    sectionGalleryImage.appendChild(namelessDiv2);
    /* Create Section Title */
    var standardContainerGallery = document.querySelector(
        ".section-gallery-image > .standard-container"
    );
    var sectionTitle = document.createTextNode("Image Gallery");
    var titleTag = document.createElement("h2");
    titleTag.appendChild(sectionTitle);
    standardContainerGallery.appendChild(titleTag);
    /* Move gallery slider */
    var imageGallery2019 = document.querySelector(".image-gallery-2019");
    standardContainerGallery.appendChild(imageGallery2019);
</script>