.img-wrap {
    font-size: 0
}

.scroll-link {
    display: inline-block
}

.faq-search-links .scroll-link {
    display: flex
}

.caret {
    border: 6px solid transparent;
    border-top: 6px solid #5ba9f5;
    margin-top: 5px;
    margin-left: 5px
}

figure {
    margin: 0
}

.section-default {
    padding: 60px 0;
    text-align: center
}

.section-default h2 {
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 50px;
}

.section-default p {
    font-size: 20px;
    margin-bottom: 30px
}

.section-default [class*=img-wrap] img {
    width: 100%
}

.standard-container {
    max-width: 1560px;
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
    margin: 0 auto
}

/* FAQ Section */

.faq-search-links {
    padding: 35px 0;
    color: #5ca9f5;
    background: #fff
}

.faqmain {
    margin: 0 auto;
    max-width: 1500px;
    padding: 0 20px
}

.product-tabs-wrapper .faq-search-links {
    padding: 0;
    margin: 0 0 10px;
    background: initial
}

.product-tabs-wrapper .faq-search-form {
    margin-bottom: 15px
}

.signs-faq-2 {
    text-align: left
}

/* Hero Section */

.section-hero-full-width {
    padding: 20px 0 25px
}

.hero-footer,
.hero-head {
    margin: 0 auto;
    padding: 0 20px;
    max-width: 845px;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
}

.hero-head h1 {
    font-size: 50px;
    font-weight: 400;
    margin-bottom: 10px
}

.hero-list {
    font-size: 0
}

.hero-list-item:first-child:before {
    content: ""
}

.hero-list-item:before {
    content: "\2022";
    top: -1px;
    left: -3px;
    font-size: 18px;
    position: absolute
}

.hero-list-item {
    position: relative;
    padding: 0 10px;
    font-size: 20px;
    display: inline-block
}

.hero-img-wrap {
    max-width: 1160px;
    margin: 15px auto 20px;
    width: 100%;
}

.hero-img {
    width: 100%
}

.hero-phrase {
    font-size: 20px
}

/* Section Product Quick Start */

.placeholder-sticky {
    padding: 0 0 30px
}

.quick-start-group.quick-start-size .gs-input-group {
    display: none;
}

/* Store Review Section */

#shoppersReviews {
    padding: 30px 0 0
}

#shoppersReviews .shopper-approved-link {
    margin: 0
}

.sa-caption {
    display: none
}

/* Additional Specs Section */

.section-additional-specs {
    padding: 64px 0
}

.section-additional-specs .container {
    margin: 0 auto;
    max-width: 790px;
    text-align: center;
    padding: 0 20px;
}

.section-additional-specs h2 {
    text-align: center;
    font-size: 25px;
    margin-bottom: 50px
}

.additional-specs-list {
    display: inline-block;
    text-align: left
}

.additional-specs-list li {
    display: flex;
    margin-bottom: 20px;
    border-bottom: 1px solid #cfcccc;
    padding-right: 10px;
}

.additional-specs-list li h3 {
    min-width: 160px;
    font-size: 18px;
    color: #333;
    font-weight: 400;
    margin-right: 60px;
}

.additional-specs-list li p {
    font-size: 18px;
    color: #9f9f9f;
    font-weight: 300;
    margin-bottom: 20px;
}

.bt-0 {
    border-bottom: 0 !important;
}

/* Image Gallery */

.section-gallery-image .image-gallery-slider2019 {
    margin-bottom: 0 !important;
}

/* FAQ Section */

.faq-search-links {
    padding: 35px 0;
    color: #5ca9f5;
    background: #fff
}

/* What are Section */

.section-what-are {
    text-align: left;
    padding-bottom: 0;
}

.section-what-are .standard-container {
    position: relative;
    display: flex;
    align-items: center;
    padding: 0;
    justify-content: space-between;
    max-width: 1365px;
}

.section-what-are h2 {
    margin-bottom: 57px
}

.section-what-are p {
    margin-bottom: 20px;
    font-size: 18px;
}

.section-what-are br {
    display: none
}

.section-what-are img {
    width: 100%
}

.what-are-content-wrap {
    margin-right: 45px;
}

.what-are-content-wrap > :not(.downloadable-product-templates) {
    max-width: 625px;
    margin-left: auto;
    margin-right: auto;
}

.what-are-img-wrap {
    max-width: 630px;
    width: 100%;
    flex: 0 0 auto;
    font-size: 0;
}

/* Downloadble Section */

.section-dpt {
    padding-top: 80px;
    padding-bottom: 80px;
}

.downloadable-product-templates {
    text-align: center;
    margin-top: 0;
}

.downloadable-product-templates h3 {
    font-weight: 500;
    font-size: 28px;
    margin-bottom: 30px;
    text-transform: capitalize;
}

.table-border-nobox {
    margin: 0 auto;
    width: 100%;
    max-width: 780px;
    position: relative;
}

.table-border-nobox:after {
    position: absolute;
    background: #dddddd;
    width: 1px;
    display: block;
    content: "";
    left: 50%;
    top: 0;
    right: 0;
    height: 100%;
}

.table-border-nobox td,
.table-border-nobox th {
    border-bottom: 1px solid #ddd;
    border-top: transparent;
    padding: .7em 0;
    text-align: center;
    font-weight: 400;
    width: calc(100% / 2);
    font-size: 22px;
}

.table-border-nobox td {
    color: #3fa9f5
}

.table-border-nobox td:not(:first-child):not(:last-child),
.table-border-nobox th:not(:first-child):not(:last-child) {
    border: 1px solid #ddd;
    border-top: transparent
}

.table-border-nobox tbody tr:last-child td,
.table-border-nobox tbody tr:last-child td:not(:first-child):not(:last-child) {
    border-bottom: transparent
}

/* Section Image and Content Alternate */

.section-img-content-alternate h2 {
    margin-bottom: 70px
}

.img-content-alternate-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1460px;
    width: 100%;
    margin: 0 auto
}

.img-content-alternate-item .img-wrap {
    font-size: 0;
    max-width: 600px
}

.img-content-alternate-item:nth-child(odd) {
    flex-direction: row-reverse
}

.img-content-alternate-item:nth-child(odd) .img-wrap {
    margin-left: 50px
}

.img-content-alternate-item:nth-child(even) .img-wrap {
    margin-right: 50px
}

.section-img-content-alternate .img-content-alternate-item .img-container .img-wrap:first-child {
    margin-left: 55px
}

.section-img-content-alternate .img-content-alternate-item .img-container .img-wrap:last-child {
    margin-left: 45px
}

.img-content-alternate-item .content-wrap {
    text-align: left;
    max-width: 720px
}

.img-content-alternate-item .content-wrap h3 {
    font-size: 22px;
    color: #000;
    margin-bottom: 20px
}

.img-content-alternate-item .content-wrap p {
    color: #707070;
    font-weight: 400;
    font-size: 18px;
    /* max-width: 628px; */
}

.img-container {
    display: flex;
    align-items: center
}

/* Section Featured */

.section-signs-features {
}

.section-signs-features * {
    box-sizing: border-box;
}

.featured-body {
    position: relative;
    margin-top: 105px;
    margin-bottom: 220px;
}

.section-signs-features h2 {
}

.featured-img-wrap {
    max-width: 795px;
    width: 100%;
    margin: 0 auto;
}

.signs-featured-list {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.signs-featured-item {
    position: absolute;
    text-align: left;
    display: inline-block;
    max-width: 278px;
    width: 100%;
}

.signs-featured-item h3 {
    font-size: 22px;
    margin-bottom: 10px;
    line-height: 1.5;
    font-weight: 500;
}

.signs-featured-item p {
    color: #919396;
    font-weight: 300;
    font-size: 20px;
}

.signs-featured-item:nth-child(1) {
    top: -43px;
    left: -26px;
    /* margin-right: 167px; */
}

.signs-featured-item:nth-child(2) {
    bottom: -30px;
    left: 7px;
    /* padding-top: 195px; */
    max-width: 271px;
}

.signs-featured-item:nth-child(3) {
    left: 1253px;
    top: -35px;
    max-width: 261px;
}

.signs-featured-item:nth-child(4) {
    right: 0px;
    bottom: 3px;
}

.signs-featured-item:nth-child(5) {
    right: 559px;
    bottom: -265px;
    max-width: 368px;
}

.signs-featured-item .img-wrap {
    position: absolute;
    width: 145px;
    height: 145px;
    border-radius: 50%;
    overflow: hidden;
    border: 5px solid #000;
    box-shadow: 9px 8px 8px rgba(0, 0, 0, .19);
}

.signs-featured-item .img-wrap img {
    width: 100%
    height: 100%;
}

.signs-featured-item:nth-child(1) .img-wrap {
    right: -160px;
    top: 3px;
}

.signs-featured-item:nth-child(2) .img-wrap {
    top: -12px;
    right: -156px;
}

.signs-featured-item:nth-child(3) .img-wrap {
    left: -172px;
    top: 3px;
}

.signs-featured-item:nth-child(4) .img-wrap {
    left: -173px;
    top: -2px;
}

.signs-featured-item:nth-child(5) .img-wrap {
    top: -151px;
    left: 80px;
}

.table-cover-types {
    font-size: 0;
    width: 100%;
    max-width: 998px;
    display: inline-flex;
    justify-content: space-between;
}

.table-cover-col {
    width: 100%;
    display: inline-block;
    font-size: initial;
    padding: 0 20px;
    max-width: 448px;
}

.table-cover-col .img-wrap {
    max-width: 360px;
    margin: 0 auto 30px;
    width: 100%;
}

.table-cover-col .content-wrap h3 {
    font-size: 23px;
    margin-bottom: 20px;
}

.table-cover-col .content-wrap ul li {
    text-align: left;
    font-size: 17px;
    font-weight: 400;
    position: relative;
    margin-left: 10px;
}

.table-cover-col .content-wrap ul li:before {
    content: '\2022';
    width: 10px;
    display: inline-block;
    text-align: center;
    line-height: normal;
    position: absolute;
    left: -12px;
    top: -1px;
}


/* Image Gallery */
.image-gallery-slider2019-thumbnails .slick-slide.slick-current > img {
    box-shadow: none;
}

/* Design tool and services */
.design-services .myrow {
    display: flex;
}

.design-services .design-services-group {
    margin: 0 40px;
}

.design-services .design-services-heading {
    margin-top: 0;
    margin-bottom: 35px;
}

.design-services .design-services-image {
    margin-bottom: 0;
}

.design-services .design-services-text {
    color: #919396;
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: 400;
    max-width: 560px;
}

.design-services .design-services-group a {
    color: #0097D5;
    font-size: 20px;
}

/* Section Why */

.section-why-signs h2 {
    margin-bottom: 50px
}

.why-signs-list {
    font-size: 0;
    margin: 0 -20px;
    display: flex;
    justify-content: space-between
}

.why-signs-list-item {
    display: inline-block;
    font-size: 20px;
    padding: 0 20px;
    box-sizing: border-box;
    max-width: 476px;
    width: 100%
}

.why-signs-list-item .extra {
    color: #919396;
    font-size: 14px;
    max-width: 295px;
    width: 100%;
    margin: 7px auto 0;
    display: block;
    font-style: italic;
}

.why-signs-list-item img {
    margin-bottom: 10px
}

.why-signs-list-item h3 {
    font-size: 25px;
    max-width: 385px;
    margin: 0 auto 10px;
}

.why-signs-list-item p {
    color: #919396;
    font-size: 18px
}

.why-signs-list-item:nth-of-type(2) p {
    max-width: 245px;
    margin: 0 auto;
}

.why-signs-list-item:nth-of-type(3) p {
    max-width: 404px;
    margin: 0 auto;
}

/* Related Product Section */

.section-related-products {
    padding: 65px 0
}

.section-related-products .standard-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    margin: 0 auto;
    padding: 0 20px;
    max-width: 1567px;
    text-align: center
}

.section-related-products h2 {
    width: 100%;
    font-size: 26px;
    margin-bottom: 25px
}

.section-related-products .standard-container > a {
    margin: 0;
    width: calc(100% / 3);
    display: flex;
    align-items: flex-end;
    justify-content: center
}

.section-related-products .standard-container > a figure {
    width: 100%;
}

.section-related-products .standard-container > a .img-wrap {
    max-width: 340px;
    height: 306px;
    position: relative;
    width: 100%;
    margin: 0 auto 20px;
}

.section-related-products .standard-container > a .img-wrap img {
    position: absolute;
    margin-bottom: 0 !important;
    left: 0;
    right: 0;
    max-width: 100%;
    max-height: 100%;
    display: block;
    top: 50%;
    transform: translate(0, -50%);
}

.section-related-products .standard-container > a:first-of-type figure img {
    margin-bottom: 80px;
}

.section-related-products figure img {
    margin-bottom: 40px
}

.section-related-products figure figcaption {
    font-size: 20px;
    font-weight: 500;
    color: #707070
}

.section-table-cover-dimensions .standard-container {
    min-height: 635px;
}

@media (max-width: 1680px) {
    /* Global */
    .standard-container {
        max-width: 1418px
    }

    /* Hero Section */
    .hero-img-wrap {
        max-width: 1012px;
    }

    /* What are */
    .what-are-content-wrap {
        margin: 0 0 0 119px;
        max-width: 495px;
    }

    /* Image and Content Alternate */
    .img-content-alternate-item:nth-child(even) .img-wrap {
        margin-right: 150px
    }

    .img-content-alternate-item:nth-child(odd) .img-wrap {
        margin-left: 150px
    }

    /* Featured Section */
    .signs-featured-item:nth-child(1) {
        top: -52px;
        left: -67px;
    }

    .signs-featured-item:nth-child(1) .img-wrap {
        right: -155px;
        top: 3px;
    }

    .signs-featured-item:nth-child(2) {
        bottom: -25px;
        left: -60px;
    }

    .signs-featured-item:nth-child(3) {
        left: 1177px;
        top: -40px;
    }

    .signs-featured-item:nth-child(3) .img-wrap {
        left: -172px;
        top: 3px;
    }

    .signs-featured-item:nth-child(4) {
        right: -75px;
        bottom: 3px;
    }

    .signs-featured-item:nth-child(4) .img-wrap {
        left: -173px;
        top: -2px;
    }

    .signs-featured-item:nth-child(5) {
        right: 492px;
        bottom: -265px;
    }

    .signs-featured-item:nth-child(5) .img-wrap {
        top: -151px;
        left: 80px;
    }

    .featured-body {
        margin-bottom: 242px;
    }
}

@media (max-width: 1600px) {
    /* Global */
    .standard-container {
        max-width: 1390px
    }

    /* Hero Image Wrap */
    .hero-img-wrap {
        max-width: 1020px;
        margin-bottom: 0;
    }

    /* Featured Section */
    .signs-featured-item:nth-child(3) {
        left: 1163px;
        top: -40px;
    }
}

@media (max-width: 1536px) {
    /* Global */
    .standard-container {
        max-width: 1271px
    }

    /* Hero Section */
    .hero-img-wrap {
        max-width: 1035px;
    }

    .standard-container {
        max-width: 1285px
    }

    /* Section What Are */
    .what-are-img-wrap {
        max-width: 490px
    }

    .what-are-content-wrap {
        margin: 0 25px 0 100px;
        max-width: 590px;
    }

    /* Content and Image alternate */
    .img-content-alternate-item {
        margin-bottom: 30px;
    }

    .img-content-alternate-item:last-child {
        margin-bottom: 0;
    }

    .img-content-alternate-item .img-wrap {
        max-width: 690px;
    }

    /* Why Section */
    .why-signs-list-item br {
        display: none
    }

    /* Featured Section */
    .featured-img-wrap {
        max-width: 715px;
    }

    .signs-featured-item .img-wrap {
        width: 135px;
        height: 135px;
    }

    .signs-featured-item:nth-child(1) {
        top: -47px;
        left: -87px;
    }

    .signs-featured-item:nth-child(1) .img-wrap {
        right: -150px;
        top: 3px;
    }

    .signs-featured-item:nth-child(2) {
        bottom: -25px;
        left: -82px;
    }

    .signs-featured-item:nth-child(3) {
        left: 1062px;
        top: -40px;
    }

    .signs-featured-item:nth-child(3) .img-wrap {
        left: -155px;
        top: 3px;
    }

    .signs-featured-item:nth-child(4) {
        right: -86px;
        bottom: -35px;
    }

    .signs-featured-item:nth-child(4) .img-wrap {
        left: -156px;
        top: -2px;
    }

    .signs-featured-item:nth-child(5) {
        right: 424px;
        bottom: -274px;
    }

    .signs-featured-item:nth-child(5) .img-wrap {
        top: -151px;
        left: 80px;
    }
}

@media (max-width: 1440px) {
    .standard-container {
        max-width: 1225px
    }

    /* What Are */
    .what-are-img-wrap {
        max-width: 578px;
    }

    /* Featured Section */
    .featured-img-wrap {
        max-width: 590px;
    }

    .signs-featured-item .img-wrap {
        width: 125px;
        height: 125px;
    }

    .signs-featured-item p {
        font-size: 19px;
    }

    .signs-featured-item:nth-child(1) {
        max-width: 261px;
        top: -47px;
        left: -53px;
    }

    .signs-featured-item:nth-child(2) {
        max-width: 257px;
        bottom: -56px;
        left: -53px;
    }

    .signs-featured-item:nth-child(3) {
        max-width: 248px;
        left: 972px;
        top: -40px;
    }

    .signs-featured-item:nth-child(4) {
        max-width: 248px;
        right: -21px;
        bottom: -82px;
    }

    .signs-featured-item:nth-child(5) {
        max-width: 326px;
        right: 424px;
        bottom: -326px;
    }

    .signs-featured-item:nth-child(1) .img-wrap {
        right: -140px;
        top: 3px;
    }

    .signs-featured-item:nth-child(2) .img-wrap {
        top: -5px;
        right: -134px;
    }

    .signs-featured-item:nth-child(3) .img-wrap {
        left: -146px;
        top: 3px;
    }

    .signs-featured-item:nth-child(4) .img-wrap {
        left: -143px;
        top: -2px;
    }

    .signs-featured-item:nth-child(5) .img-wrap {
        top: -151px;
        left: 80px;
    }

    .featured-body {
        margin-bottom: 300px;
    }
}

@media (max-width: 1366px) {
    /* Global */
    .standard-container {
        max-width: 1123px
    }

    /* Section Hero */
    .hero-img-wrap {
        max-width: 1160px;
    }

    /* Section What Are */
    .what-are-img-wrap {
        max-width: 530px;
    }

    .section-what-are .standard-container {
        max-width: initial;
        width: calc(100vw - 15rem)
    }

    .what-are-content-wrap {
        margin-left: 0;
        max-width: 523px;
    }

    /* Section Why */
    .why-signs-list {
        margin: 0 -80px
    }

    /* Downloadble PDF Templates */
    .section-dpt {
        padding-top: 50px;
        padding-bottom: 75px;
    }

    /* Featured Section */
    .featured-img-wrap {
        max-width: 540px;
    }

    .signs-featured-item .img-wrap {
        width: 125px;
        height: 125px;
    }

    .signs-featured-item p {
        font-size: 19px;
    }

    .signs-featured-item:nth-child(1) {
        max-width: 261px;
        top: -47px;
        left: -74px;
    }

    .signs-featured-item:nth-child(2) {
        max-width: 257px;
        bottom: -56px;
        left: -76px;
    }

    .signs-featured-item:nth-child(3) {
        max-width: 248px;
        left: 903px;
        top: -40px;
    }

    .signs-featured-item:nth-child(4) {
        max-width: 248px;
        right: -47px;
        bottom: -82px;
    }

    .signs-featured-item:nth-child(5) {
        max-width: 326px;
        right: 380px;
        bottom: -313px;
    }

    .signs-featured-item:nth-child(1) .img-wrap {
        right: -140px;
        top: 3px;
    }

    .signs-featured-item:nth-child(2) .img-wrap {
        top: -5px;
        right: -134px;
    }

    .signs-featured-item:nth-child(3) .img-wrap {
        left: -146px;
        top: 3px;
    }

    .signs-featured-item:nth-child(4) .img-wrap {
        left: -143px;
        top: -2px;
    }

    .signs-featured-item:nth-child(5) .img-wrap {
        top: -151px;
        left: 80px;
    }

    .featured-body {
        margin-bottom: 300px;
    }
}

@media (max-width: 1366px) and (max-height: 768px) {
    /* Section Hero */
    .hero-img-wrap {
        max-width: 798px;
    }

    /* What are */
    .what-are-img-wrap {
        max-width: 565px;
    }
}

@media (max-width: 1280px) {
    /* Section Hero */
    .hero-img-wrap {
        max-width: 599px
    }
}

@media (max-width: 1280px) and (max-height: 720px) {
    /* Section Hero */
    .hero-img-wrap {
        max-width: 415px
    }
}

@media (max-width: 1250px) {
    .featured-img-wrap {
        max-width: 475px;
    }

    .signs-featured-item:nth-child(1) {
        max-width: 261px;
        top: -47px;
        left: -40px;
    }

    .signs-featured-item:nth-child(1) .img-wrap {
        right: -130px;
        top: 3px;
    }

    .signs-featured-item:nth-child(2) {
        max-width: 257px;
        bottom: -95px;
        left: -40px;
    }

    .signs-featured-item:nth-child(2) .img-wrap {
        top: -5px;
        right: -124px;
    }

    .signs-featured-item:nth-child(3) {
        max-width: 248px;
        left: 860px;
        top: -61px;
    }

    .signs-featured-item:nth-child(3) .img-wrap {
        left: -142px;
        top: 3px;
    }

    .signs-featured-item:nth-child(4) {
        max-width: 248px;
        right: -18px;
        bottom: -100px;
    }

    .signs-featured-item:nth-child(4) .img-wrap {
        left: -140px;
        top: -2px;
    }

    .signs-featured-item:nth-child(5) {
        max-width: 375px;
        right: 365px;
        bottom: -250px;
    }

    .signs-featured-item:nth-child(5) .img-wrap {
        top: -130px;
        left: 95px;
    }

    .featured-body {
        margin-bottom: 225px;
    }
}

@media (max-width: 1199px) {
    /* Section What Are */
    .what-are-img-wrap {
        max-width: 505px
    }

    .what-are-content-wrap {
        margin: 0 auto;
        text-align: center;
        max-width: 704px;
    }

    .section-what-are h2 {
        margin-bottom: 30px
    }

    .what-are-content-wrap .what-are-img-wrap {
        margin-bottom: 20px;
        max-width: 570px;
    }

    /* Section Why Signs */
    .why-signs-list {
        margin: 0 -10px
    }

    .why-signs-list-item {
        padding: 0 10px
    }

    .why-signs-list-item h3 {
        font-size: 21px
    }

    .section-related-products figure img {
        height: 236px;
        margin: 0 auto;
        display: inline-block
    }

    /* Featured Section */
    .featured-body {
        margin: 0 !important;
    }

    .featured-img-wrap {
        position: static;
        max-width: 740px;
    }

    .signs-featured-list {
        position: static;
    }

    .signs-featured-item {
        position: relative !important;
        display: block !important;
        top: initial !important;
        left: initial !important;
        right: initial !important;
        bottom: initial !important;
        width: 100% !important;
        max-width: initial !important;
        margin: 0 !important;
        padding-left: 160px;
        min-height: 135px;
        margin-bottom: 35px !important;
    }

    .signs-featured-item .img-wrap {
        position: absolute !important;
        top: 0 !important;
        left: 0 !important;
        right: initial !important;
        bottom: initial !important;
    }

    .signs-featured-item:last-child {
        margin-bottom: 0 !important;
    }

    /* Easy setup and clean */
    .img-content-alternate-item:nth-child(odd) .img-wrap {
        margin-left: 90px;
    }

    .img-content-alternate-item:nth-child(even) .img-wrap {
        margin-right: 90px;
    }

    /* Review Section */
    .section-product-reviews {

    }

    h2#product-reviews {
        padding-top: 0;
        margin-bottom: 10px;
    }


}

@media (max-width: 991px) {
    /* Hero Section */
    .section-hero-full-width {
        padding: 70px 0 15px
    }

    /* Section Store Ratings  */
    #shoppersReviews,
    #shoppersReviews * {
        display: block !important;
        padding: 0 !important;
        margin: 0 !important;
        position: static !important;
        text-align: center !important;
    }

    #shoppersReviews {
        padding: 20px 0 !important;
    }

    #shoppersReviews > br {
        display: none !important;
    }

    #shoppersReviews .shopperapproved_widget {
        height: auto !important;
    }

    #shoppersReviews .aggregateRating-container {
        display: flex !important;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
    }

    #shoppersReviews .shopper-approved-container {
        padding: 0 20px !important;
    }

    #shoppersReviews .sa_review {
        height: auto !important;
        text-align: center;
        display: flex !important;
        flex-direction: column-reverse;
    }

    #shoppersReviews .sa_review tbody > tr {
        display: flex !important;
        flex-direction: column-reverse;
        /* text-align: center; */
        align-items: center;
    }

    #shoppersReviews .sa_comments {
        min-height: 60px;
        height: auto;
        display: block;
        flex: 0 0 auto;
        align-items: flex-end;
        font-size: 16px;
        margin: 0 !important;
        overflow: hidden;
    }

    #shoppersReviews .sa_location {
        display: none !important;
    }

    #shoppersReviews .sa_info > span:first-of-type {
        background: red;
        display: none !important;
    }

    #shoppersReviews .sa_info {
        height: auto;
        display: block !important;
        flex: 0 0 auto;
    }

    #shoppersReviews .sa_date {
        display: none !important;
    }

    #shoppersReviews .sa_displayname {
        font-weight: 300;
    }

    #shoppersReviews .sa_star {
        display: none !important;
    }

    #shoppersReviews .sa-caption {
        display: none !important;
    }

    #shoppersReviews script {
        display: none !important;
    }

    #shoppersReviews .sa_review tbody > tr {
        display: flex !important;
        flex-direction: column-reverse;
        align-items: center;
    }

    /* What Are */
    .section-what-are .standard-container {
        padding: 0 20px;
        text-align: center
    }

    .section-what-are h2 {
        margin-bottom: 20px
    }

    /* Downloadble Product Templates */
    .section-dpt {
        padding-top: 0;
        padding-bottom: 40px;
    }

    .downloadable-product-templates {
        margin-top: 25px;
        margin-bottom: 25px
    }

    /* Content and Image Alternate */
    .img-content-alternate-item .content-wrap {
        max-width: initial;
        text-align: center;
        width: 100%
    }

    .img-content-alternate-item .img-wrap {
        margin-left: auto;
        margin-right: auto
    }

    .img-content-alternate-item .img-wrap:nth-child(even),
    .img-content-alternate-item .img-wrap:nth-child(odd) {
        margin: 0 auto 25px
    }

    .img-content-alternate-item {
        margin-bottom: 30px
    }

    .img-content-alternate-item:last-child {
        margin-bottom: 0
    }

    .img-content-alternate-item:last-child p:last-child {
        margin-bottom: 0
    }

    .img-content-alternate-item .img-container {
        display: flex;
        flex-direction: row-reverse;
        align-items: flex-end;
        margin-bottom: 20px
    }

    .img-content-alternate-item .img-container .img-wrap {
        flex: 0 0 auto;
        margin-bottom: 0
    }

    .img-content-alternate-item:nth-of-type(3) .img-wrap {
        max-width: 270px
    }

    .img-content-alternate-item:nth-of-type(4) .img-wrap {
        max-width: 210px
    }

    .img-content-alternate-item .content-wrap p {
        margin-bottom: 10px;
        padding: 0 5px;
    }

    /* Featured Section */
    .featured-img-wrap {
        max-width: 600px;
        margin-bottom: 30px;
    }

    /* Additional */
    .additional-specs-list li p br {
        display: none
    }

    /* Gallery Image */
    .section-gallery-image .image-gallery-slider2019-thumbnails {
        margin-top: 30px
    }

    /* Tool and Services Design */
    .design-services .myrow {
        display: block;
    }

    .design-services .design-services-heading {
        max-width: initial;
        display: block;
        margin: 0 0 20px;
    }

    .design-services .design-services-heading br {
        display: none;
    }

    .design-services .design-services-group {
        margin: 40px;
    }

    .design-services .design-services-group:last-child {
        margin-bottom: 0;
    }

    /* Section Why */
    .why-signs-list {
        display: block
    }

    .why-signs-list-item {
        margin-bottom: 25px
    }

    .why-signs-list-item:last-child {
        margin-bottom: 0
    }

    .section-why-signs h2 {
        margin-bottom: 20px
    }

    .why-signs-list-item .extra {
        margin-bottom: 20px
    }

    .why-signs-list-item p {
        margin-bottom: 20px
    }

    /* Related */
    .section-related-products {
        padding: 50px 0;
    }

    .section-related-products .standard-container {
        display: block;
    }

    .section-related-products figure img {
        height: 176px
    }

    .section-related-products .standard-container > a {
        margin: 0 auto 30px;
        width: calc(100% / 2);
    }

    .section-related-products .standard-container > a .img-wrap {
        max-width: 331px;
        height: 298px;
    }

    .section-related-products .standard-container > a .img-wrap img {
        height: 100%;
    }

    .section-related-products .standard-container > a:last-child {
        margin-bottom: 0;
    }

    .section-related-products .standard-container > a:last-child .img-wrap {
        height: 165px;
    }

    
}

@media (max-width: 768px) {
    /* Section What are */
    .section-what-are {
        padding: 40px 0 30px
    }

    .section-what-are .standard-container {
        display: block;
        padding: 0;
        width: calc(100vw - 3rem)
    }

    .what-are-content-wrap {
        text-align: center;
        margin: 0 auto
    }

    .what-are-img-wrap img {
        height: 100%
    }

    .what-are-content-wrap h2,
    .what-are-content-wrap p {
        padding: 0 20px
    }
}

@media (max-width: 767px) {
    /* Free Design Services */
    .section-free-design-services .standard-full-background {
        display: block
    }
}

@media (max-width: 575px) {
    .section-default {
        padding: 30px 0
    }

    .standard-full-background .content-wrap p {
        font-size: 20px;
        margin-bottom: 19px
    }

    .standard-full-background .btn-free-design {
        font-size: 16px;
        padding: 11px 25px;
        margin-bottom: 0;
        font-weight: 400;
        border-radius: 5px
    }

    /* Section Hero Full Width */
    .section-hero-full-width {
        padding-top: 20px
    }

    .hero-head h1 {
        font-size: 30px
    }

    .hero-body {
        padding: 20px 0
    }

    .hero-list-item {
        font-size: 15px;
        display: inline-block
    }

    .hero-list-item:first-child:before {
        content: "\2022";
        visibility: hidden;
    }

    .hero-list-item:nth-child(3):before {
        content: "\2022";
        visibility: hidden;
    }

    .hero-img-wrap {
        padding: 0 20px;
        box-sizing: border-box;
        margin: 0
    }

    .hero-phrase {
        font-size: 16px
    }

    /* Product Quick Start */
    #LoginNavigationContainer .main-nav {
        max-width: initial;
        width: 100%;
    }

    .quick-start-group:not(.gs-button) {
        flex: 0 0 100%;
        padding: 5px;
        box-sizing: border-box;
    }

    .sticky .product-quick-start-form-container {
    }

    /* Store Reviews Section */
    #shoppersReviews,
    #shoppersReviews * {
        display: block !important;
        padding: 0 !important;
        margin: 0 !important;
        position: static !important;
        text-align: center !important
    }

    #shoppersReviews {
        padding: 20px 0 !important
    }

    #shoppersReviews > br {
        display: none !important
    }

    #shoppersReviews .shopperapproved_widget {
        height: auto !important
    }

    #shoppersReviews .aggregateRating-container {
        display: flex !important;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center
    }

    #shoppersReviews .shopper-approved-container {
        padding: 0 20px !important
    }

    #shoppersReviews .sa_review {
        height: auto !important;
        text-align: center;
        display: flex !important;
        flex-direction: column-reverse
    }

    #shoppersReviews .sa_review tbody > tr {
        display: flex !important;
        flex-direction: column-reverse;
        align-items: center
    }

    #shoppersReviews .sa_comments {
        min-height: 60px;
        height: auto;
        display: block;
        flex: 0 0 auto;
        align-items: flex-end;
        font-size: 16px;
        margin: 0 !important;
        overflow: hidden
    }

    #shoppersReviews .sa_location {
        display: none !important
    }

    #shoppersReviews .sa_info > span:first-of-type {
        background: red;
        display: none !important
    }

    #shoppersReviews .sa_info {
        height: auto;
        display: block !important;
        flex: 0 0 auto
    }

    #shoppersReviews .sa_date {
        display: none !important
    }

    #shoppersReviews .sa_displayname {
        font-weight: 300
    }

    #shoppersReviews .sa_star {
        display: none !important
    }

    #shoppersReviews .sa-caption {
        display: none !important
    }

    #shoppersReviews script {
        display: none !important
    }

    /* Section What Are */
    .section-what-are {
        padding-bottom: 0;
    }

    .what-are-content-wrap h2 {
        font-size: 28px;
        margin-bottom: 15px
    }

    .what-are-content-wrap .what-are-img-wrap {
        max-width: 379px;
        width: calc(100vw - 9rem);
        height: auto;
        margin-left: auto
    }

    /* Downloadble Product Templates */
    .section-dpt {
        padding-top: 0;
        padding-bottom: 40px;
    }

    .downloadable-product-templates {
        margin-top: 0;
    }

    .downloadable-product-templates h3 {
        font-size: 23px;
    }

    .table-border-nobox {
        /* padding: 0 20px; */
        max-width: 350px;
    }

    .table-border-nobox td,
    .table-border-nobox th {
        font-size: 16px;
    }

    /* Standard vs 3-Sided table Covers */
    .table-cover-types {
        display: block;
    }

    .table-cover-col {
        margin-bottom: 50px;
    }

    /* Featured Section */
    .signs-featured-item .img-wrap {
        width: 100px;
        height: 100px;
    }

    .signs-featured-item {
        padding-left: 124px !important;
    }

    .signs-featured-item h3 {
        font-size: 20px;
        margin-bottom: 3px;
    }

    .signs-featured-item p {
        font-size: 16px;
    }

    /* Section Image and Content Alternate */
    .section-setup-clean .standard-container {
        padding: 0;
    }

    .section-img-content-alternate h2 {
        margin-bottom: 30px
    }

    .img-content-alternate-item .img-wrap:nth-child(even),
    .img-content-alternate-item .img-wrap:nth-child(odd) {
        max-width: 310px;
        max-width: initial;
    }

    .img-content-alternate-item:nth-of-type(3) .img-wrap {
        max-width: 190px
    }

    .img-content-alternate-item:nth-of-type(4) .img-wrap {
        max-width: 135px
    }

    .img-content-alternate-item:last-child {
        margin-bottom: 0
    }

    .img-content-alternate-item .content-wrap p:first-of-type:last-of-type,
    .img-content-alternate-item .content-wrap p:not(:first-of-type):last-of-type {
        margin-bottom: 0
    }

    .img-content-alternate-item:last-child p:last-child {
        margin-bottom: 0
    }

    .section-img-content-alternate .img-content-alternate-item .img-container .img-wrap:first-child {
        width: calc(100vw / 5);
        margin-left: 1rem
    }

    .section-img-content-alternate .img-content-alternate-item .img-container .img-wrap:last-child {
        width: calc(100vw / 1.5)
    }

    /* Image Gallery Slider */
    .section-gallery-image h2 {
        margin-bottom: 20px;
    }

    .section-gallery-image .standard-container {
        padding-left: 0;
        padding-right: 0
    }

    .image-gallery-slider2019 .slick-slide > img {
        max-height: initial
    }

    .image-gallery-slider2019 .slick-slide {
        max-height: initial;
    }

    /* Additional Specs */
    .section-additional-specs {
        padding: 35px 0;
    }

    .section-additional-specs h2 {
        margin-bottom: 20px
    }

    .additional-specs-list li {
        display: block;
        text-align: center;
        padding: 0;
        border-bottom: 0
    }

    .additional-specs-list li:last-child {
        margin-bottom: 0;
    }

    .additional-specs-list li h3 {
        margin: 0 auto 5px;
        font-weight: 400;
        font-size: 18px
    }

    .additional-specs-list li p {
        font-size: 16px;
        margin-bottom: 20px
    }

    /* Free design and Services */
    .section-free-design-services {
        padding: 0
    }

    .section-related-products figure img {
        width: 90%;
        height: auto;
        max-width: 355px
    }

    .section-related-products .standard-container > a {
        width: 100%;
        margin-bottom: 40px
    }

    .section-related-products .standard-container > a:last-child {
        margin-bottom: 0
    }

    .design-services .design-services-group {
        margin: 0 0 30px;
    }

    .design-services .standard-container {
        padding: 0;
    }

    .design-services .design-services-heading {
        display: block;
        padding: 0 45px;
    }

    .design-services .design-services-text {
        font-size: 18px;
    }

    /* Customers Review Section */
    #review_image {
        display: none
    }

    #product_page #sa_sort {
        display: block;
        text-align: center;
        margin: 20px auto 0
    }

    #product_page .paging {
        height: auto;
        padding: 0;
        text-align: center
    }

    #shopper_review_page {
        padding-bottom: 35px;
        margin-left: 0;
        margin-right: 0;
        width: 100%;
    }

    /* Product Quick Start */
    .sizeInput.qty {
        justify-content: flex-end
    }

    .sizeInput.qty .size-input-qty {
        margin: 0
    }

    .product-dropdown-container .dropdown {
        font-size: 18px;
    }

    .quick-start-label {
        font-size: 16px;
        font-weight: 500;
        margin-left: 0;
    }

    .quick-start-span {
        font-size: 16px;
        /* height: 32px; */
        vertical-align: middle;
        /* display: inline-flex; */
        padding: 6px 5px;
    }

    .section-product-reviews #review_header {
        padding: 0;
    }

    
}

@media (max-width: 375px) {
    /* Section Downloadable Content */
    .table-border-nobox th span {
        display: block
    }

    /* Design tool and services */
    .design-services .design-services-heading {
        padding: 0 25px;
    }

    /* Product Review Section */
    #sa_review_section .product_review .images {
        margin: 2px 0 0;
    }

    #sa_review_section .product_review .images > div:first-child {
        margin-bottom: 5px;
    }
}

@media (max-width: 360px) {
    .design-services .design-services-heading {
        padding: 0 20px;
    }

    #sa_review_section .rating {
        display: block;
        height: auto;
        position: relative;
        width: 100%;
        /* vertical-align: middle; */
        margin-bottom: 20px;
    }

    #sa_review_section .rating:after {
        content: '';
        display: block;
        clear: both;
    }

    .section-table-cover-dimensions .standard-container {
        min-height: 240px;
    }
}

@media (max-width: 320px) {
    /* Global */
    .standardWidth {
        margin-top: 68px;
    }

    /* Hero Section */
    .hero-list-item {
        font-size: 14px;
    }

    .hero-list-item:first-child:before {
        content: "\2022";
        visibility: visible;
    }

    .hero-list-item:nth-child(3):before {
        content: "\2022";
        visibility: visible;
    }

    .hero-head h1 {
        font-size: 29px;
    }

    /* Related Product */
    .section-related-products .standard-container > a:last-child {
        height: 200px;
    }

    .section-related-products .standard-container > a .img-wrap {
        height: 250px;
    }
}

