<section class="section-hero-full-width">
    <div class="hero-head">
        <h1>Opaque Vehicle Decals</h1>
        <ul class="hero-list">
            <li class="hero-list-item">Easy to Install</li>
            <li class="hero-list-item">Custom Colors</li>
            <li class="hero-list-item">Shapes &amp; Sizes</li>
            <li class="hero-list-item">Long Lasting</li>
        </ul>
    </div>
    <div class="hero-body">
        <div class="hero-img-wrap"><img class="hero-img" src="https://www.signs.com/content/assets/filelibrary/opaque-vehicle-decals-8307.jpg" alt="Opaque Vehicle Decals"></div>
    </div>
    <div class="hero-footer">
        <p class="hero-phrase">Get attention to your brand or business for years—wherever you drive.</p>
    </div>
</section>


<!-- What are Opaque Vehicle Decals -->
<section class="section-default section-what-ovd">
    <div class="standard-container">
        <h2>What are Falconboard Signs?</h2>
        <div class="ovd-img-wrap">
            <img src="https://www.signs.com/content/assets/filelibrary/Falconboard-Signs-8380.jpg" alt="Falconboard Signs">
        </div>
        <p>Falconboard signs are a durable interior sign that can be used for a variety of purposes. The construction of the material is comprised from a kraft honeycomb core sandwiched between two white cardstock paper faces. Falconboard signs are most
            commonly used as point of purcahse display, retail graphics and exhibits, mounted, displays, trade show graphics, presentation boards, and other interior displays.</p>
        <p>Falconboard is <span class="fraction">&#189;</span>" thick and is great for custom shapes and sizes. The thickness not only provides a good rigid print surface, but also makes it easy to display in several ways including mounting, hanging from
            drilled holes or building a display structure from multiple printed pieces. Digital UV printing on falconboard signs means that no matter how many colors or how detailed your print design, it will come out crisp and beautiful everytime!</p>

    </div>
</section>

<!-- Section Sign Features-->
<section class="section-default section-signs-features">
    <div class="standard-container">
        <h2>Falconboard Features</h2>
        <div class="featured-body">
            <div class="featured-img-wrap">
                <img src="https://www.signs.com/content/assets/filelibrary/Falconboard-Features-8456.jpg" alt="">
            </div>
            <ul class="signs-featured-list">
                <li class="signs-featured-item">
                    <h3>100% Recyclable & <br> Environmentally Friendly</h3>
                    <p>Feel good about your branded <br>displays knowing that you can <br>recycle the sign after you're<br> finished with it.</p>
                    <img src="https://www.signs.com/content/assets/filelibrary/Group-1000-8455.png" alt="Engineer Grade Reflectivity">
                </li>
                <li class="signs-featured-item">
                    <h3>Custom Shapes & Sizes</h3>
                    <p>You can choose from any square<br> or rectangle to circles or ovals, or<br> if prefer a custom shape, we do<br> that also. Keep inmind a <span>&#188;</span>" to <span>&#189;</span>"<br> white border will be around the<br> entire perimeter
                        of your custom</p>
                    <img src="https://www.signs.com/content/assets/filelibrary/White-Border-Bubble-8451.png" alt="Advanced Printing Process">
                </li>
                <li class="signs-featured-item">
                    <h3>Multiple Display Options</h3>
                    <p>Falconboard is easy to display<br> by standing, propping up,<br> hanging, or mounting. Create<br> eye catching displays quickly<br> and effectively.</p>
                    <img src="https://www.signs.com/content/assets/filelibrary/Gray-Border-Bubble-8449.png" alt="Waterproof & Weatherproof">
                </li>
                <li class="signs-featured-item">
                    <h3>Digital UV Print</h3>
                    <p>High quality UV printing on falconboard lets<br> you clarify your messange through brilliant<br> display. Your customeres can't miss this.</p>
                    <img src="https://www.signs.com/content/assets/filelibrary/White-Border-Bubble-1-8452.png" alt="Meets Regulations">
                </li>
                <li class="signs-featured-item">
                    <h3>Ridgid & Bold</h3>
                    <p>Hexacomb construction and <span>&#189;</span>"<br> thick, your falconboard display will<br> literally stand out! White paper face<br> with a kraft color exposed edge <br>gives your sign a bold three-<br>dimensional look.</p>
                    <img src="https://www.signs.com/content/assets/filelibrary/Gray-Border-Bubble-1-8450.png" alt="Meets Regulations">
                </li>
            </ul>
        </div>

    </div>
</section>

<!-- Why Signs.com -->
<section class="section-default section-why-signs">
    <div class="standard-container">
        <h2>Why Signs.com</h2>
        <ul class="why-signs-list">
            <li class="why-signs-list-item">
                <img src="https://www.signs.com/content/assets/filelibrary/running-8309.jpg" alt="" />
                <h3>Next Day Production</h3>
                <p>Order by 5PM EST and we’ll have your falcon board car <br> sign completed and shipped one business day.</p>
            </li>
            <li class="why-signs-list-item">
                <img src="https://www.signs.com/content/assets/filelibrary/box-8310.jpg" alt="" />
                <h3>Free Shipping Over $75*</h3>
                <p>For custom falconboard sign orders over<br> $75 our order ships free!</p>
                <span class="extra">*Excludes rigid signs over 36" in either dimension.</span>
            </li>
            <li class="why-signs-list-item">
                <img src="https://www.signs.com/content/assets/filelibrary/award-8381.jpg" alt="" />
                <h3>Award Winning Customer Service</h3>
                <p>Winners of numerous customer services awards, our <br> customer experience team keeps you as their<br> number one priority throughout your entire <br> experience with Signs.com.</p>
            </li>
        </ul>
    </div>
</section>


<!-- Design tool and services -->
<section class="section-default design-services">
    <div class="standard-container">
        <div class="myrow">
            <div class="design-services-group">
                <h2 class="design-services-heading">Easy to Use <br>Design Tool</h2>
                <img class="design-services-image" src="https://www.signs.com/content/assets/filelibrary/Design-Tool-8382.jpg" />
                <p class="design-services-text">Create your custom falcon board signs with our simple and easy design tool. Upload images, create objects, add text, adjust sizing, change color, and so much more!</p>
                <a href="https://www.signs.com/design/?productID=43">Check It Out</a>
            </div>

            <div class="design-services-group">
                <h2 class="design-services-heading">Free Professional <br> Design Services</h2>
                <img class="design-services-image" src="https://www.signs.com/content/assets/filelibrary/Design-Services-8383.jpg" />
                <p class="design-services-text">Whether you need help uploading your design or are interested in creating something entirely new, our team of professional graphic designers is here to help. Nothing beats free!</p>
                <a href="https://www.signs.com/design-services/">Learn More</a>
            </div>
        </div>
    </div>
</section>

<!-- Section Additional Specs-->
<section class="section-additional-specs">
    <div class="container">
        <h2>Additional Specs</h2>
        <ul class="additional-specs-list">
            <li>
                <h3>Weight:</h3>
                <p>.19lbs per square foot (about the weight of 19 Quarters)</p>
            </li>
            <li>
                <h3>Thickness:</h3>
                <p>.5" thick (about the thickness of 127 sheets of copy paper)</p>
            </li>
            <li>
                <h3>Details:</h3>
                <p>White paper face, honeycomb core, 100% recyclable and environmentally firendly, rigid, durable.</p>
            </li>
            <li>
                <h3>Uses:</h3>
                <p>Tradeshow displays, retail graphics and display, point of purchase marketing and displays, presentations, mounting, cardboard cutouts.</p>
            </li>
            <li>
                <h3>Print Method:</h3>
                <p>Four color process, eco-friendly, weather, fade and abrasion resistant UV ink</p>
            </li>
            <li>
                <h3>Estimated Lifespan:</h3>
                <p>1+ years with proper placement and care/p>
            </li>

            <li>
                <h3>Common Sizes</h3>
                <p>12"x12", 24"x12", 2'x2', 4'x4', 3'x5", or any custom size</p>
            </li>
        </ul>
    </div>
</section>
<section class="section-default section-lcontent-rimage">
    <div class="standard-container">
        <div class="l-content">
            <h2>Displaying & Caring for your Falconboard Signs</h2>
            <p>Falconboard signs can be cut to shape and used to construct a variety of displays and graphic exhibits. Alternativly they can also be placed on easels, attached to rigid surfaces or even hung using a variety of methods including bungee cords,
                zip ties, string or rope. You are able to select "Drilled Holes" if you indent on hanging or mounting your sign to a rigid surface.</p>

            <p>Falconboard signs are for interior use only. Avoid exposing thses signs to the elements as well as getting them wet in any way. While extremely durable, care should be used during construction and takedown of exhibits and displays. These signs
                are perfect for temporary use and shouldn't need any specific care nor maintenance beyond what is already detailed.</p>
        </div>
        <div class="r-image">
            <div class="img-wrap">
                <img src="https://www.signs.com/content/assets/filelibrary/Faclconboard-Signs-Secret-Garden-8384.jpg" alt="Displayingg & Caring for  Falconboard signs">
            </div>
        </div>
    </div>
</section>

<section class="section-default section-related-products">
    <div class="standard-container">
        <h2>Related Products</h2>
        <a href="https://www.signs.com/foamboard/">
            <figure>
                <img src="https://www.signs.com/content/assets/filelibrary/Foam-Board-01-4475.png" alt="">
                <figcaption>Foam Board Signs</figcaption>
            </figure>
        </a>
        <a href="https://www.signs.com/plastic-signs/">
            <figure>
                <img src="https://www.signs.com/content/assets/filelibrary/RigidPlastic-01-4497.png " alt="">
                <figcaption>Plastic Signs</figcaption>
            </figure>
        </a>
        <a href="https://www.signs.com/gatorboard/">
            <figure>
                <img src="https://www.signs.com/content/assets/filelibrary/Gatorboard-01-4476.png" alt="">
                <figcaption>Gator Board Signs</figcaption>
            </figure>
        </a>
    </div>
</section>

<!-- FAQ Section -->
<div id="faq" class="secton-default faqmain">
    <div class="standard-container">
        <div class="faq-section-header">Product Specs</div>
        <ul class="signs-faq-seed">
            <li>What is Falconboard?</li>
            <li>Falconboard signs are a rigid, paper-based sign used for interior purposes. Falconboard is made with a natural- colored honeycomb flute sandwiched between two thin pieces of cardboard. Falconboard is much stronger than regular corrugated cardboard
                because of the honeycomb interior. Its lightness makes it ideal for hanging or mounting. It is also 100% recyclable and made from renewable forest resources, making it ideal for environmentally-conscious projects.</li>
            <li>If it&rsquo;s paper-based is it actually durable/rigid?</li>
            <li>Yes! Falconboard is perfect for temporary or semi-permanent displays and signs due to it&rsquo;s excellent durability. This is in large part due to it&rsquo;s thickness (1/2&rdquo;) as well as the honeycomb fluting as described in more detail
                below.</li>
            <li>What is honeycomb fluting/core/interior?</li>
            <li>Falconboard is made of two thin pieces of cardboard held together by a honeycomb interior flute. The honeycomb flutes are an interior structure that creates a stronger material that isn&rsquo;t as prone to bending as regular cardboard, which
                is made up of vertical flutes. When cut, the honeycomb flutes also create cleaner lines for a more visually appealing look.</li>
            <li>If it&rsquo;s paper-based does that mean I&rsquo;m printing on the equivalent of a cardboard box? What kind of finish does it have?</li>
            <li>Absolutely not. While Falconboard signs are wholly paper based and have a durable core as described above, the outer face of both sides of your sign consist of a smooth white paper face. We then print your design directly onto this smooth
                white face to achieve extremely clear and crisply printed (but not glossy) signage.</li>
            <li>Can I print double-sided Falconboard signs?</li>
            <li>Yes. Falconboard signs can be printed both single and double sided. Simply select the &ldquo;Printed Sides&rdquo; option on the design tool and select your desired option. For &ldquo;2 Sides Different&rdquo;, a &ldquo;Back Side&rdquo; button
                will appear to allow you to design the back of your falconboard sign.</li>
            <li>Can these signs be cut to shape?</li>
            <li>You are able to choose between one of two options when it comes to the cut of your falconboard sign. You can choose between square/rectangle and custom with border (halo cut). Custom with border will leave a small border around the general
                outline of your design. </li>
            <li>How does Falconboard differ from corrugated plastic or foamboard signs?</li>
            <li>Corrugated plastic yard signs are perhaps the most affordable and ubiquitous of these three types of signs. They are perfect for the very short term outdoor use but are solely intended for temporary use. Foam board meanwhile offers an interior
                temporary signage solution that is thicker and more durable than a standard corrugated plastic lawn sign. Foam board signs are great for presentations and other point of purchase and retail solutions. Falconboard is also for interior use
                only but is both more rigid and durable than both yard signs and foamboard signs. It&rsquo;s superior thickness, rigidity doesn&rsquo;t compromise its ease of use or its lightweight nature and offers the best interior sign for semi-permanent
                and display/exhibit use. Simply put, think of it as a more rigid and durable foam board sign that is arguably more versatile as well.</li>
            <li>Can I use it outside? Will the exposure to sun or the elements ruin my decal?</li>
            <li>No. Falconboard signs are intended for interior use only. Any exposure to wet elements can permanently ruin your signs. Further, if posted outside high winds can also damage the signs. Likewise, signs posted or used indoors should not get
                wet.</li>
            <li>What is the lifespan of your Falconboard signs?</li>
            <li>Falconboard signs are made to last 1+ years with correct installation and storage. To increase the lifespan of your sign, install it securely following the installation instructions above. Be sure to keep your sign clean and away from water.
                Store your sign in a flat, dry location for increased longevity.</li>
            <li>Are Falconboard signs truly environmentally friendly?</li>
            <li>Yes! Falconboard is made from SFI certified materials. The Sustainable Forestry Initiative (SFI) is the world&rsquo;s largest forest certification standard. This certification indicates that the materials used are environmentally in its efforts
                to protect and maintain forests and all wildlife living therein. It is also manufactured using zero volatile organic compounds (VOCs) and are 100% recyclable after you are done using them.</li>
            <li>How small or big can my signs be?</li>
            <li>Your signs must be larger than 6&rdquo;x6&rdquo; and smaller than 75&rdquo;x34&rdquo;. We can create any custom size sign in between these two extremes.</li>
            <li>What if my Falconboard signs have more than 2 colors? Will it cost more?</li>
            <li>No. We print all of our signs in full color. Thus, no matter how many colors your sign(s) may have your cost will not go up. Your cost will be determined by the size and quantity of your sign(s), the options selected as well as applicable
                taxes and/or shipping.</li>
            <li>Do I have to use one of your templates for my custom signs?</li>
            <li>No. We have a wide range of templates available for you to use or start your design with. Alternatively, you can contact us to take advantage of our free designs services to create the sign you have in mind or simply upload your file(s) to
                our design tool to create your custom Falconboard signs.</li>
            <li>Are Falconboard signs heat resistant?</li>
            <li>Yes. Falconboard signs are resistant to 300&deg; Fahrenheit.</li>
            <li>Will my sign have a laminate finish covering the printed portion of the sign?</li>
            <li>No. Signs.com does not laminate Falconboard. The final print will have a flat matte finish. Falconboard is printed using UV technology, which prevents the signs from fading and reduces overall damage. Although not offered on the website, we
                can laminate Falconboard signs. Doing so requires a custom quote and can take up to two weeks to produce. Contact us for more information about custom orders.</li>
            <li>Can I order my falconboard sign with custom drilled holes?</li>
            <li>We do not offer the option for custom drilled holes for falconboard signs.</li>
        </ul>
        <div class="faq-section-header">Usage</div>
        <ul class="signs-faq-seed">
            <li>Can I build (three-dimensional) exhibits and displays using Falconboard signs?</li>
            <li>You bet! Falconboard is often used in three-dimensional displays because of its durability and lightweight nature. It also is relatively inexpensive when compared to other materials used for the same purpose. Falconboard can be cut to shape
                to create visually interesting designs. It can also be &ldquo;scored&rdquo; so that it is easily foldable for creating retail displays. While Signs.com does not offer hardware or installation services for three-dimensional displays, we
                are happy to print and cut the Falconboard to your exact specifications. Take advantage of our free design services or contact us for more information about using Falconboard three-dimensional displays.</li>
            <li>Are my displays/exhibits able to sustain heavy objects?</li>
            <li>Yes, to an extent. Falconboard is a leading choice for retailers when creating retail displays because of it&rsquo;s ability to hold objects up to 7 lbs (per square inch). Displaying lightweight items like clothing or jewelry on Falconboard
                is a great option. Heavier items like a stack of cable-knit sweaters or jeans can damage the Falconboard, causing it to bow or bend.</li>
            <li>Can I mount the Falconboard signs to a rigid surface?</li>
            <li>
                <p>Yes. In most cases Falconboard signs are used for displays and exhibits but they also can be adhered to rigid surfaces. In most cases this will require selecting the &ldquo;Drilled Holes&rdquo; option. A simple bolt and washer should then
                    attach it, depending on the type of surface. Similarly, one could use adhesive to attach these lightweight signs to a rigid surface. Though this would obviously prevent them from being used repeatedly and we not provide any adhesive
                    material or accessories for this type of hanging.</p>
                <p>The last option is to hang the signs. This would also require selecting &ldquo;Drilled Holes&rdquo; and then using some kind of zip tie, bungee cord, rope, string or other accessory to hang the sign. We do not provide any of these accessories
                    at the current time.</p>
            </li>
            <li>Will my custom Falconboard signs fade, dent, warp or scratch?</li>
            <li>
                <p>Your Falconboard signs are printed with ink that is designed to resist both scratching and fading. Save for intentional efforts to scratch the ink your signs should remain clear and vibrant for the lifetime of its temporary use.</p>
                <p>Falconboard should not warp under normal use. If used in exterior or wet conditions they may warp though this would fall outside the normal and accepted use of these signs.</p>
                <p>While we can&rsquo;t promise that the signs will never dent we can say that these signs are very durable. Again, within normal use and assuming no intentional efforts to bend or dent these signs they should not bend or dent.</p>
            </li>
            <li>What are the typical uses for Falconboard signage?</li>
            <li>Falconboard is extremely versatile and can be used in a variety of ways. It is most often used as an interior signage option in retail stores commonly used to create point-of-purchase displays in retail settings, kiosks, and exhibits. It is
                likewise often used at trade shows as part of professional signage displays.</li>
            <li>Can I reuse my signs?</li>
            <li>Yes. These signs are durable and can be used on more than one occasion. Simply store them as per the instructions below and you should have no problem using these signs again and again.</li>
        </ul>
        <div class="faq-section-header">Installation & Care</div>
        <ul class="signs-faq-seed">
            <li>How do I install my Falconboard sign?</li>
            <li>
                <p>Falconboard can be mounted to a wall with screws and washers, or hung from the ceiling using hooks and clear thread.</p>
                <p>For short-term use, bungee, ropes, or cords can be used for installation. However suspending the sign between two bungee cords or pulling it tightly with ropes can put undue stress on the sign, making it more susceptible to bending and/or
                    breaking. Hanging the sign or securing it safely to the wall will increase the lifespan of the sign.</p>
            </li>
            <li>Does installation or display setup require more than one person?</li>
            <li>Depending on the size of your Falconboard, installation may require more than one person. However, because of the type of material and structure of the product, these signs are relatively light for their size and thickness.</li>
            <li>How do I store my Falconboard signs?</li>
            <li>Store your Falconboard signs flat in a dry area. Although Falconboard is fairly strong, do not place anything on top of your signs in order to prevent any potential damage. Corners of Falconboard are most easily damaged, so be sure to protect
                the corners from bumping or dropping.</li>
        </ul>
    </div>
</div>