/* All Car and Vehicle Decals */
.options-container .option:hover {

    background-color: #2c7abf6e;
}
.options-container {
    display: flex;
    justify-content: center;
    align-items: baseline;
    margin-bottom: 20px;
    flex-wrap: wrap;
}
.options-container .text {
    opacity: 1;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: white;
    width: 100%;
    box-sizing: border-box;
}

.options-container .option {
    display: flex;
    flex-direction: column;
    flex: 1 1 200px;
    justify-content: stretch;
    align-items: center;
}
.options-container .option img {
    flex: 0;
    width: 285px;
    max-width: 100%;
    padding-bottom: 20px;
    padding-top: 20px;
}

.options-container .text h3 {
    font-size: 1.5em;
    font-weight: 600;
}

.options-container .text p {
    padding: 0px 20px;
    font-size: 1.2em;
    max-width: 300px;
    text-align: center;
    align-self: center;
}
section#cut-options {
    background: url(https://www.signs.com/content/assets/filelibrary/CarTruck-LetteringSky-4872.png);
    background-size: cover;
    text-align: center;
    background-repeat: no-repeat;
}
section#cut-options h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    margin-top: 20px;
}

.content-header.options {
    font-size: 2.5rem;
    margin: 40px 5px 40px 45px;
}
.options-description {
    font-size: 1.3rem;
    margin: 20px 45px;
}




.options-description {
    font-size: 1.3rem;
    margin: 20px 45px;
}


@media (max-width: 1319px) {
    /* All Car and Vehicle Decals */
    .options-container .option {
        flex: 1 1 400px;
    }
}


@media (max-width: 1023px) {
    /* All Car and Vehicle Decals */
    .options-container .option img {
        max-width: 300px;
    }
    .options-container .option {
        flex: 1 1 300px;
    }

}
@media only screen and (max-width: 1000px){
    /* All Car and Vehicle Decals */
    .options-container .text p {
        max-width: 300px;
        margin: auto;
    }

}

@media (max-width: 767px) {
    /* All Car and Vehicle Decals */
    .cut-options-container {
        display: flex;
        justify-content: space-around;
        align-items: baseline;
        flex-wrap: wrap;
    }
    .cut-options-container p {
        font-size: 1.5rem;
    }
    .cut-option {
        padding: 20px;
        max-width: 500px;
    }
    .cut-options-container img {
        width: 100%;
    }
}




@media (max-width: 800px) {
    /* All Car and Vehicle Decals */
    .options-container .option {
        flex: 1 1 500px;
    }
    .content-header.options {
        margin: 70px auto 20px auto;
        text-align: center;
    }

    .options-container .text p {
        padding: 0px 20px;
    }
}


