/* Globals */
.section-default {
  padding: 60px 0;
  text-align: center;
  box-sizing: border-box;
}
.section-default figure {
  margin: 0;
}
.section-default * {
  box-sizing: border-box;
}
.section-default h2 {
  font-size: 30px;
  font-weight: 400;
  /* margin: 0; */
}
.section-default p {
  font-size: 20px;
  margin-bottom: 30px;
}
.section-default [class*="img-wrap"] img {
  width: 100%;
}

.standard-container {
  max-width: 1465px;
  width: 100%;
  padding: 0 20px;
  box-sizing: border-box;
  margin: 0 auto;
}
/* Hero Section */
.section-hero-full-width {
  padding: 30px 0 15px;
}
.hero-head,
.hero-footer {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 850px;
  width: 100%;
  text-align: center;
  box-sizing: border-box;
}
.hero-head {
}
.hero-head h1 {
  font-size: 50px;
  font-weight: 400;
  margin-bottom: 10px;
}
.hero-list {
  font-size: 0;
}
.hero-list-item:first-child:before {
  content: "";
}
.hero-list-item:before {
  content: "\2022";
  top: -1px;
  left: -3px;
  font-size: 18px;
  position: absolute;
}
.hero-list-item {
  position: relative;
  padding: 0 10px;
  font-size: 18px;
  display: inline-block;
}

.hero-body {
}
.hero-img-wrap {
  max-width: 808px;
  margin: 20px auto 20px;
  width: 100%;
}
.hero-img {
  width: 100%;
}

.hero-footer {
}

.hero-phrase {
  font-size: 20px;
}
/* Quick Start */
.placeholder-sticky {
  padding: 0 0 30px;
}

/* Store Ratings */
#shoppersReviews {
  padding: 30px 0 0;
}
#shoppersReviews .shopper-approved-link {
  margin: 0;
}
.sa-caption {
  display: none;
}

/* View All FAQS */
.faq-search-links {
  padding: 35px 0;
  color: #5ca9f5;
  background: #fff;
  /* margin-top: -1px; */
}
span.caret {
  position: relative;
  display: inline-block;
  border: 1px solid #3fa9f5;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  margin-left: 8px;
}
span.caret:before {
  content: "";
  border: 1px solid transparent;
  display: inline-block;
  position: absolute;
  margin: 0 auto;
  border-left-color: #3fa9f5;
  border-bottom-color: #3fa9f5;
  height: 6px;
  width: 6px;
  transform: rotate(-45deg);
  top: 3px;
  left: 5px;
}
/* Section What are Opaque Vehicle Decals */
.section-what-ovd {
  text-align: left; /* position: relative; */
}
.section-what-ovd .standard-container {
  position: relative;
  padding-right: 46%;
}

.section-what-ovd h2 {
  margin-bottom: 57px;
}

.section-what-ovd p {
  margin-bottom: 20px;
  /* max-width: 687px; */
  /* width: 100%; */
  /* display: inline-block; */
  font-size: 19px;
}
.section-what-ovd br {
  display: none;
}
.section-what-ovd img {
  width: 100%;
}

.what-are-img-wrap {
  /* float: right; */
  max-width: 750px;
  width: 100%;
  /* margin-top: -45px; */
  /* margin-left: 53px; */
  position: absolute;
  right: 0;
  top: -6%;
}
/* Section Featured */
.section-signs-features {
}
.section-signs-features * {
  box-sizing: border-box;
}
.featured-body {
  position: relative;
  margin-top: 201px;
  margin-bottom: 20px;
}
.section-signs-features h2 {
}
.featured-img-wrap {
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
}
.signs-featured-list {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.signs-featured-item {
  position: absolute;
  text-align: left;
  display: inline-block;
}
.signs-featured-item h3 {
  font-size: 22px;
  margin-bottom: 15px;
  line-height: 1.5;
}
.signs-featured-item p {
  color: #919396;
  font-weight: 300;
  font-size: 20px;
}
.signs-featured-item:nth-child(1) {
  top: -18px;
  left: 134px;
  padding-right: 225px;
}
.signs-featured-item:nth-child(2) {
  bottom: 15px;
  left: -89px;
  padding-top: 195px;
}
.signs-featured-item:nth-child(3) {
  left: 336px;
  bottom: -23px;
  padding-left: 180px;
}
.signs-featured-item:nth-child(4) {
  right: 0;
  top: -112px;
  padding-left: 190px;
}
.signs-featured-item:nth-child(5) {
  right: 88px;
  bottom: 172px;
  padding-left: 205px;
}
.signs-featured-item img {
  position: absolute;
  width: 180px;
  height: 180px;
}
.signs-featured-item:nth-child(1) img {
  right: 0;
  top: 17px;
}
.signs-featured-item:nth-child(2) img {
  top: 0;
  right: 11px;
}
.signs-featured-item:nth-child(3) img {
  left: -20px;
  top: -40px;
}
.signs-featured-item:nth-child(4) img {
  left: 0;
  top: -5px;
}
.signs-featured-item:nth-child(5) img {
  top: -38px;
  left: 0;
}
/* Section Gallery Image  */
.section-gallery-image {
}
.section-gallery-image h2 {
  margin-bottom: 20px;
}
.section-gallery-image .image-gallery-2019 {
  margin-top: 50px;
}
.section-gallery-image .image-gallery-2019 .image-gallery-slider2019 {
  margin-bottom: 0 !important;
}
/* Why Signs Section */
.section-why-signs {
}
.section-why-signs h2 {
  margin-bottom: 50px;
}
.why-signs-list {
  font-size: 0;
  margin-top: 35px;
  margin: 0 -20px;
  display: flex;
  justify-content: space-between;
}
.why-signs-list-item {
  display: inline-block;
  font-size: 20px;
  padding: 0 20px;
  box-sizing: border-box;
  max-width: 476px;
  width: 100%;
}
.why-signs-list-item .extra {
  color: #919396;
  font-size: 14px;
  max-width: 185px;
  width: 100%;
  margin: -23px auto 0;
  display: block;
  font-style: italic;
}
.why-signs-list-item img {
  margin-bottom: 10px;
}
.why-signs-list-item h3 {
  font-size: 25px;
  margin-bottom: 10px;
}
.why-signs-list-item p {
  color: #919396;
  font-size: 18px;
}
.why-signs-list-item p br {
  /* display: none; */
}
/* Design tool and services */
.design-services {
}
.design-services .myrow {
  display: flex;
  justify-content: space-between;
  margin: 0 -30px;
}
.design-services .design-services-group {
  margin-top: 0;
  margin-bottom: 0;
  max-width: 710px;
  margin: 0;
  padding: 0 30px;
}
.design-services .design-services-heading {
  margin-top: 0;
  margin-bottom: 45px;
}
.design-services .design-services-image {
  margin-bottom: 0;
  height: 410px;
}
.design-services .design-services-text {
  color: #919396;
  margin-bottom: 5px;
  font-size: 20px;
  font-weight: 400;
}
.design-services .design-services-group a {
  color: #0097d5;
  font-size: 20px;
}
/* Additional Specs */
.section-additional-specs {
  padding: 64px 0;
}

.section-additional-specs .container {
  margin: 0 auto;
  max-width: 830px;
  text-align: center;
  padding: 0 20px;
}

.section-additional-specs h2 {
  text-align: center;
  font-size: 25px;
  margin-bottom: 50px;
}

.section-additional-specs {
}

.additional-specs-list {
  display: inline-block;
  /* margin: 0 auto; */
  text-align: left;
}

.additional-specs-list li {
  display: flex;
  margin-bottom: 20px;
}

.additional-specs-list li h3 {
  min-width: 220px;
  font-size: 25px;
  color: #333333;
  font-weight: 300;
  margin-right: 100px;
}

.additional-specs-list li p {
  font-size: 18px;
  color: #9f9f9f;
}
/* Display & Caring for your Falconboard Signs */
.section-lcontent-rimage {
  padding: 0;
  text-align: left;
}
.section-lcontent-rimage .standard-container {
  display: flex;
  max-width: initial;
  padding: 0;
}
.section-lcontent-rimage .standard-container > div {
  width: 50%;
  font-size: 0;
}
.section-lcontent-rimage .standard-container .l-content {
  padding: 5% 10% 2% 7%;
}
.section-lcontent-rimage .l-content {
  background: #000;
  color: #fff;
}
.section-lcontent-rimage .l-content * {
  opacity: 0.95;
}
.section-lcontent-rimage h2 {
  margin-bottom: 20px;
}
.section-lcontent-rimage p {
  max-width: 524px;
  /* font-size: 20px; */
  font-weight: 300;
}

/* Section Related Products */
.section-related-products {
  padding: 65px 0;
}
.section-related-products .standard-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1567px;
  text-align: center;
}

.section-related-products h2 {
  width: 100%;
  font-size: 26px;
  margin-bottom: 25px;
}
.section-related-products .standard-container > a {
  margin: 0;
  width: 33.33%;
}
.section-related-products figure img {
  height: 250px; /* width: auto; */
  margin-bottom: 40px; /* width: 100%; */
}
.section-related-products figure figcaption {
  font-size: 20px;
  font-weight: 500;
  color: #707070;
}

/* FAQ */
.product-tabs-wrapper.v4 {
  margin: 0;
}
.product-tabs-wrapper #product-tab-1 {
  margin: 0;
}
.faqmain {
  margin: 0 auto;
}
.product-tabs-wrapper .faq-search-links {
  padding: 0;
  margin: 0 0 10px;
  background: initial;
}
.product-tabs-wrapper .faq-search-form {
  margin-bottom: 15px;
}
.signs-faq-2 {
  text-align: left;
}
@media (max-width: 1680px) {
  /* Section What are Opaque Vehicle Decals */
  .section-what-ovd .standard-container {
    padding-right: 51%;
  }
  .section-lcontent-rimage .standard-container .l-content {
    padding: 5% 5% 3% 5%;
  }
  .section-lcontent-rimage p {
    font-size: 18px;
    line-height: 1.3;
  }
  /* Featured Section */
  .featured-img-wrap {
    max-width: 1080px;
  }
  .signs-featured-item img {
    width: 160px;
    height: 160px;
  }
  .signs-featured-item:nth-child(1) {
    padding-right: 205px;
    top: -30px;
    left: 165px;
  }

  .signs-featured-item:nth-child(2) {
    bottom: -47px;
    left: 3px;
    padding-top: 180px;
  }

  .signs-featured-item:nth-child(3) {
    left: 410px;
    bottom: -54px;
    padding-left: 167px;
  }

  .signs-featured-item:nth-child(4) {
    right: 27px;
    top: -97px;
    padding-left: 171px;
  }
  .signs-featured-item:nth-child(5) {
    right: 144px;
    bottom: 93px;
    padding-left: 180px;
  }
}

@media (max-width: 1536px) {
  .standard-container {
    max-width: 1271px;
  }
  /* Hero Section */
  .hero-img-wrap {
    max-width: 725px;
  }
  /* Section What are Opaque Vehicle Decals */
  .section-what-ovd .standard-container {
    padding-right: 44%;
  }
  .ovd-img-wrap {
    max-width: 628px;
  }
  .why-signs-list-item {
    /* max-width: 545px; */
  }
  .why-signs-list-item br {
    display: none;
  }
  .section-lcontent-rimage .standard-container .l-content {
    padding: 4% 5% 3% 4%;
  }
  /* Featured Section */
  .featured-img-wrap {
    max-width: 1080px;
  }
  .signs-featured-item img {
    width: 160px;
    height: 160px;
  }
  .signs-featured-item:nth-child(1) {
    padding-right: 205px;
    top: -30px;
    left: 82px;
  }

  .signs-featured-item:nth-child(2) {
    bottom: -42px;
    left: -75px;
    padding-top: 180px;
  }

  .signs-featured-item:nth-child(3) {
    left: 306px;
    bottom: -54px;
    padding-left: 167px;
  }

  .signs-featured-item:nth-child(4) {
    right: -77px;
    top: -97px;
    padding-left: 171px;
  }
  .signs-featured-item:nth-child(5) {
    right: 46px;
    bottom: 93px;
    padding-left: 180px;
  }
}
@media (max-width: 1440px) {
  /* Section What are Opaque Vehicle Decals */
  .section-what-ovd .standard-container {
    padding-right: 44%;
  }
  .ovd-img-wrap {
    max-width: 581px;
  }
  /* Display & Caring for your Falconboard Signs */
  .section-lcontent-rimage .standard-container .l-content {
    padding: 3% 5% 3% 4%;
  }
  .section-lcontent-rimage p {
    max-width: initial;
  }
  .section-lcontent-rimage p:last-child {
    margin-bottom: 0;
  }
}
@media (max-width: 1366px) {
  .standard-container {
    max-width: 1123px;
  }
  /* Hero Section */
  .hero-img-wrap {
    max-width: 547px;
  }
  /* Section What are Opaque Vehicle Decals */
  .ovd-img-wrap {
  }
  /* Why Signs.com */
  .why-signs-list {
    margin: 0 -80px;
  }
  /* Design tool and services */
  .design-services .design-services-image {
    height: auto;
    height: 287px;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: flex-start; */
    object-fit: contain;
  }
  /* Display & Caring for your Falconboard Signs */
  .section-lcontent-rimage .standard-container .l-content {
    padding: 2% 5% 2% 4%;
  }

  /* Featured Section */
  .featured-img-wrap {
    max-width: 850px;
  }

  .featured-body {
    position: relative;
    margin-top: 150px;
    margin-bottom: 40px;
  }
  .signs-featured-item img {
    width: 130px;
    height: 130px;
  }
  .signs-featured-item h3 {
    font-size: 20px;
    margin-bottom: 10px;
    line-height: 1.2;
  }
  .signs-featured-item p {
    font-size: 18px;
  }
  .signs-featured-item:nth-child(1) {
    padding-right: 155px;
    top: -30px;
    left: 82px;
  }

  .signs-featured-item:nth-child(2) {
    bottom: -53px;
    left: -25px;
    padding-top: 140px;
  }

  .signs-featured-item:nth-child(3) {
    left: 306px;
    bottom: -54px;
    padding-left: 120px;
  }

  .signs-featured-item:nth-child(4) {
    right: -61px;
    top: -79px;
    padding-left: 140px;
  }
  .signs-featured-item:nth-child(5) {
    right: 49px;
    bottom: 49px;
    padding-left: 145px;
  }
}

@media (max-width: 1280px) {
  /* Hero Section */
  .hero-img-wrap {
    max-width: 518px;
  }
  /* Section What are Opaque Vehicle Decals */
  .ovd-img-wrap {
  }
  .section-what-ovd .standard-container {
    padding-right: 51%;
  }

  /* Why Signs.com */
  .section-why-signs .standard-container {
    /* max-width: 1220px; */
  }
  .why-signs-list-item h3 {
    /* height: 60px; */
  }
  /* Display & Caring for your Falconboard Signs */
  .section-lcontent-rimage .standard-container .l-content {
  }
  .section-lcontent-rimage h2 {
    font-size: 26px;
  }
  .section-lcontent-rimage p {
    font-size: 17px;
  }
}

@media (max-width: 1199px) {
  /* Section What are Opaque Vehicle Decals */

  .ovd-img-wrap {
    max-width: 505px;
  }
  .section-what-ovd .standard-container {
    padding-right: 51%;
  }
  /* Section Featured */
  .section-signs-features {
  }
  .section-signs-features h2 {
    margin-bottom: 20px;
  }
  .featured-body {
    margin: 0;
  }
  .featured-img-wrap {
    max-width: initial;
  }
  .signs-featured-list {
    position: static;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .signs-featured-item {
    position: relative;
    min-height: 130px;
    display: block;
    left: initial !important;
    top: initial !important;
    bottom: initial !important;
    right: initial !important;
    flex: 0 0 auto;
  }
  .signs-featured-item img {
    left: 0 !important;
    top: 0 !important;
  }
  .signs-featured-item {
    padding: 0 0 0 140px !important;
    display: block;
    margin-bottom: 20px;
  }
  .signs-featured-item:nth-child(1) {
    order: 2;
  }
  .signs-featured-item:nth-child(2) {
    order: 3;
  }
  .signs-featured-item:nth-child(3) {
    order: 4;
  }
  .signs-featured-item:nth-child(4) {
  }
  .signs-featured-item:nth-child(5) {
    order: 5;
    margin-bottom: 0;
  }
  .signs-featured-item br {
    display: none;
  }
  /* Why Signs.com */
  .why-signs-list {
    margin: 0 -10px;
  }
  .why-signs-list-item {
    padding: 0 10px;
  }
  .why-signs-list-item h3 {
    font-size: 21px;
  }

  /* Display & Caring for your Falconboard Signs */
  .section-lcontent-rimage .standard-container {
    display: block;
  }

  .section-lcontent-rimage .standard-container > div {
    width: 100%;
  }
  .section-lcontent-rimage .standard-container .l-content {
    padding: 5% 5% 5% 5%;
  }

  /* Section Related Products */
  .section-related-products .standard-container {
    display: block;
  }
  .section-related-products figure img {
    margin-bottom: 5px;
  }
  .section-related-products .standard-container > a {
    /* margin-bottom: 34px; */
    display: block;
    margin: 0 auto 34px;
    width: auto;
  }
}

@media (max-width: 991px) {
  /* Hero Section */
  .section-hero-full-width {
    padding: 20px 0 15px;
  }

  /* Section What are Opaque Vehicle Decals */

  .ovd-img-wrap {
    max-width: initial;
    position: static;
    margin-bottom: 20px;
  }
  .section-what-ovd .standard-container {
    padding: 0 20px;
    text-align: center;
  }
  .section-what-ovd h2 {
    margin-bottom: 20px;
  }

  /* Section Gallery Image  */
  .section-gallery-image .image-gallery-slider2019-thumbnails {
    margin-top: 30px;
  }

  /* Why Signs.com */
  .why-signs-list {
    display: block;
  }
  .why-signs-list-item {
  }
  .section-why-signs h2 {
    margin-bottom: 20px;
  }
  .why-signs-list-item .extra {
    margin-bottom: 20px;
  }

  /* Design tool and services */
  .design-services .myrow {
    display: block;
    margin: 0;
  }
  .design-services .design-services-group {
    margin: 0 auto 40px;
  }
  .design-services .design-services-group:nth-child(2) {
    margin-bottom: 0;
  }
  .design-services-heading > br {
    display: none;
  }
  .design-services .design-services-heading {
    margin: 0 0 20px;
    max-width: initial;
    width: 100%;
    padding: 0 20px;
  }
}

@media (max-width: 575px) {
  .section-default {
    padding: 40px 0;
    /* overflow: hidden; */
  }
  /* Hero Section */
  .hero-head h1 {
    font-size: 35px;
  }

  .hero-list-item {
    /* color: #babbbd; */
    font-size: 16px;
  }
  .hero-list-item:first-child:before {
    /* content: '\2022'; */
  }
  .hero-img-wrap {
    padding: 0 20px;
    box-sizing: border-box;
  }
  .hero-phrase {
    /* color: #babbbd; */
    font-size: 16px;
  }

  /* Section Store Ratings  */

  #shoppersReviews,
  #shoppersReviews * {
    display: block !important;
    padding: 0 !important;
    margin: 0 !important;
    position: static !important;
    text-align: center !important;
  }
  #shoppersReviews {
    padding: 20px 0 !important;
  }
  #shoppersReviews > br {
    display: none !important;
  }
  #shoppersReviews .shopperapproved_widget {
    height: auto !important;
  }
  #shoppersReviews .aggregateRating-container {
    display: flex !important;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
  }
  #shoppersReviews .shopper-approved-container {
    padding: 0 20px !important;
  }
  #shoppersReviews .sa_review {
    height: auto !important;
    text-align: center;
    display: flex !important;
    flex-direction: column-reverse;
  }
  #shoppersReviews .sa_review tbody > tr {
    display: flex;
    flex-direction: column-reverse;
  }
  #shoppersReviews .sa_comments {
    margin-top: -17px !important;
    min-height: 60px;
    height: auto;
    display: block;
    flex: 0 0 auto;
    align-items: flex-end;
    font-size: 16px;
    overflow: visible;
    margin: 0 !important;
    overflow: hidden;
  }
  #shoppersReviews .sa_location {
    display: none !important;
  }
  #shoppersReviews .sa_info > span:first-of-type {
    background: red;
    display: none !important;
  }
  #shoppersReviews .sa_info {
    height: auto;
    display: block !important;
    flex: 0 0 auto;
  }
  #shoppersReviews .sa_date {
    display: none !important;
  }
  #shoppersReviews .sa_displayname {
    font-weight: 300;
  }
  #shoppersReviews .sa_star {
    display: none !important;
  }
  #shoppersReviews .sa-caption {
    display: none !important;
  }
  #shoppersReviews script {
    display: none !important;
  }
  /* Featured Section */
  .section-signs-features h2 {
    margin-bottom: 20px;
  }
  .featured-img-wrap {
  }
  /* Section Gallery Image */
  .section-gallery-image .standard-container {
    padding-left: 0;
    padding-right: 0;
    /* overflow: hidden; */
  }
  /* Design tool and services */
  .design-services .design-services-group {
    padding: 0;
  }
  .design-services .myrow {
    margin: 0 -20px;
  }
  .design-services-heading > br {
    display: none;
  }
  .design-services .design-services-heading {
    margin: 0 0 20px;
    max-width: initial;
    width: 100%;
    padding: 0 20px;
  }

  /* Section Additional Specs */
  .section-additional-specs .additional-specs-list {
  }
  .section-additional-specs h2 {
    margin-bottom: 20px;
  }
  .additional-specs-list li {
    display: block;
    text-align: center;
  }
  .additional-specs-list li h3 {
    margin: 0 auto 5px;
    font-weight: 400;
    font-size: 18px;
  }
  .additional-specs-list li p {
    font-size: 16px;
    margin-bottom: 20px;
  }

  .section-additional-specs + .standard-separator {
    display: none;
  }

  /* Displaying & Caring for your Falconboard Signs */
  .section-lcontent-rimage {
    padding-top: 0;
    padding-bottom: 0;
  }
  .section-lcontent-rimage h2 {
    text-align: center;
  }
  .section-lcontent-rimage .standard-container .l-content {
  }
  .section-lcontent-rimage + .standard-separator {
    display: none;
  }
  /* Section Related Products */
  .section-related-products figure img {
    width: 90%;
    height: auto;
    max-width: 355px;
  }
}

@media (max-width: 414px) {
  /* Section Quick Start */
  .sizeInput.qty {
    justify-content: flex-end;
  }
  .sizeInput.qty .size-input-qty {
    margin: 0;
  }
}

@media (max-width: 375px) {
  .signs-featured-item {
    padding: 0 0 0 140px !important;
  }
  .signs-featured-item img {
    width: 115px;
    height: 115px;
  }
}
