<!-- Design tool and services -->
<section class="section-default design-services">
    <div class="standard-container">
        <div class="myrow">
            <div class="design-services-group">
                <h2 class="design-services-heading">Easy to Use <br>Design Tool</h2>
                <img class="design-services-image lazyloaded" data-src="https://www.signs.com/content/assets/filelibrary/Design-Tool-Image-14400.jpg" alt="Design Tool" src="https://www.signs.com/content/assets/filelibrary/Design-Tool-Image-14400.jpg">
                <p class="design-services-text">Create your custom real estate frame signs with our simple and easy design tool. Upload images, create objects, add text, adjust sizing, change color, and so much more!</p>
                <a href="https://www.signs.com/design/?productID=40">Start Designing</a>
            </div>
            <div class="design-services-group">
                <h2 class="design-services-heading">Free Professional <br> Design Services</h2>
                <img class="design-services-image lazyloaded" data-src="https://www.signs.com/content/assets/filelibrary/Design-Services-15201.png" alt="Graphic designer sitting behind her desk and smiling" src="https://www.signs.com/content/assets/filelibrary/Design-Services-15201.png">
                <p class="design-services-text">Whether you need help uploading your design or are interested in creating something entirely new, our team of professional graphic designers is here to help. Nothing beats free!</p>
                <a href="https://www.signs.com/design-services/">Get Design Help Now</a>
            </div>
        </div>
    </div>
</section>