<!-- Featured -->
<section class="section-default section-signs-features">
    <div class="standard-container">
        <h2>Real Estate A-Frame Features</h2>
        <div class="featured-body">
            <div class="featured-img-wrap">
                <img class=" lazyloaded" data-src="https://www.signs.com/content/assets/filelibrary/features-mock1-14399.jpg" alt="Real Estate Frames Features" src="https://www.signs.com/content/assets/filelibrary/features-mock1-14399.jpg">
            </div>
            <ul class="signs-featured-list">
                <li class="signs-featured-item">
                    <h3>Multiple Materials</h3>
                    <p>
                        Each frame is compatible with three different material types: aluminum, plastic, and coroplast.
                    </p>
                    <div class="img-wrap"><img class="" data-src="" alt="Material Icon" src="https://www.signs.com/content/assets/filelibrary/Material-Icon-14385.png"></div>
                </li>
                <li class="signs-featured-item">
                    <h3>Riders</h3>
                    <p>Both the single-rider and double-rider frames allow for additional advertising and branding.</p>
                    <div class="img-wrap"><img class="" data-src="" alt="Riders Icon" src="https://www.signs.com/content/assets/filelibrary/Riders-Icon-14386.png"></div>
                </li>
                <li class="signs-featured-item">
                    <h3>Durable Iron Frame</h3>
                    <p>All frames are made out of a durable iron and have weatherproof coating, which prevents rust.</p>
                    <div class="img-wrap"><img class="" data-src="" alt="Durable Icon" src="https://www.signs.com/content/assets/filelibrary/Durable-Icon-14383.png"></div>
                </li>
                <li class="signs-featured-item">
                    <h3>Easy Set Up</h3>
                    <p>Each frame comes with spiked legs, making it super easy to install the frame. No tools necessary!</p>
                    <div class="img-wrap"><img class="" alt="Easy to Set Up Icon" src="https://www.signs.com/content/assets/filelibrary/Easy-to-Set-Up-Icon-14384.png"></div>
                </li>
            </ul>
        </div>
    </div>
</section>