<!-- Frame Specifications -->
<section class="section-default section-frame-specifications">
    <div class="icontainer">
        <h2>Frame Specification</h2>
        <p class="intro">Use our custom real estate frames for all of your residential or commercial real estate signage needs. Constructed from an iron frame, and compatible with several signage materials, these metal real estate frames are the perfect option for your listed real estate needs. Beyond real estate settings, use these signs for limited-time sales, promotions, grand openings and more. All three frames allow you to change out all signage sections as your needs or real estate offerings change! For a full comparison see the chart below.</p>
        <div class="frame-specification-mobile">
            <ul class="tabbing-list frame-specification-list">
                <li class="tabbing-list-item frame-specification-item active"><button type="button" class="tabbing-btn fs-tab">Standard <br> Frame</button></li>
                <li class="tabbing-list-item frame-specification-item"><button type="button" class="tabbing-btn fs-tab">Single Rider <br> Frame</button></li>
                <li class="tabbing-list-item frame-specification-item"><button type="button" class="tabbing-btn fs-tab">Double Rider <br> Frame</button></li>
            </ul>
            <div class="tabcontent-list">
                <div class="tabcontent-item active">
                    <h3>Appearance</h3>
                    <div class="fs-img img-wrap"><img class="" src="https://www.signs.com/content/assets/filelibrary/standard-frame-14389.jpg"></div>
                    <table>
                        <tbody>
                            <tr>
                                <td class="rowTitle">Height</td>
                                <td>47"</td>
                            </tr>
                            <tr>
                                <td class="rowTitle">Width</td>
                                <td>24"</td>
                            </tr>
                            <tr>
                                <td class="rowTitle">Weight</td>
                                <td>6 lbs</td>
                            </tr>
                            <tr>
                                <td class="rowTitle">Thickness</td>
                                <td>3/4"</td>
                            </tr>
                            <tr>
                                <td class="rowTitle">Material</td>
                                <td>Iron</td>
                            </tr>
                            <tr>
                                <td class="rowTitle">Finish</td>
                                <td>Black Powder Coat</td>
                            </tr>
                            <tr>
                                <td class="rowTitle">Slide In or Bolts?</td>
                                <td>Both</td>
                            </tr>
                            <tr>
                                <td class="rowTitle">Sign Sizes</td>
                                <td>24"x18"</td>
                            </tr>
                            <tr>
                                <td class="rowTitle">Sign Materials</td>
                                <td>Corrugated Plastic, Rigid Plastic, Aluminum</td>
                            </tr>
                            <tr>
                                <td class="rowTitle">Other</td>
                                <td>Spiked legs, foot mounts</td>
                            </tr>
                            <tr>
                                <td class="rowTitle">Lifespan</td>
                                <td>3+ years with proper care and storage.</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="tabcontent-item">
                    <h3>Appearance</h3>
                    <div class="fs-img img-wrap"><img class="" src="https://www.signs.com/content/assets/filelibrary/single-rider-frame-14388.jpg"></div>
                    <table>
                        <tbody>
                            <tr>
                                <td class="rowTitle">Height</td>
                                <td>47"</td>
                            </tr>
                            <tr>
                                <td class="rowTitle">Width</td>
                                <td>24"</td>
                            </tr>
                            <tr>
                                <td class="rowTitle">Weight</td>
                                <td>7 lbs</td>
                            </tr>
                            <tr>
                                <td class="rowTitle">Thickness</td>
                                <td>3/4"</td>
                            </tr>
                            <tr>
                                <td class="rowTitle">Material</td>
                                <td>Iron</td>
                            </tr>
                            <tr>
                                <td class="rowTitle">Finish</td>
                                <td>Black Powder Coat</td>
                            </tr>
                            <tr>
                                <td class="rowTitle">Slide In or Bolts?</td>
                                <td>Both</td>
                            </tr>
                            <tr>
                                <td class="rowTitle">Sign Sizes</td>
                                <td>24"x18", 24"x6" <br>(sold separately)</td>
                            </tr>
                            <tr>
                                <td class="rowTitle">Sign Materials</td>
                                <td>Corrugated Plastic, Rigid Plastic, Aluminum</td>
                            </tr>
                            <tr>
                                <td class="rowTitle">Other</td>
                                <td>Spiked legs, foot mounts</td>
                            </tr>
                            <tr>
                                <td class="rowTitle">Lifespan</td>
                                <td>3+ years with proper care and storage.</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="tabcontent-item">
                    <h3>Appearance</h3>
                    <div class="fs-img img-wrap"><img class="" src="https://www.signs.com/content/assets/filelibrary/double-rider-frame-14387.jpg"></div>
                    <table>
                        <tbody>
                            <tr>
                                <td class="rowTitle">Height</td>
                                <td>47"</td>
                            </tr>
                            <tr>
                                <td class="rowTitle">Width</td>
                                <td>24"</td>
                            </tr>
                            <tr>
                                <td class="rowTitle">Weight</td>
                                <td>8 lbs</td>
                            </tr>
                            <tr>
                                <td class="rowTitle">Thickness</td>
                                <td>3/4"</td>
                            </tr>
                            <tr>
                                <td class="rowTitle">Material</td>
                                <td>Iron</td>
                            </tr>
                            <tr>
                                <td class="rowTitle">Finish</td>
                                <td>Black Powder Coat</td>
                            </tr>
                            <tr>
                                <td class="rowTitle">Slide In or Bolts?</td>
                                <td>Both</td>
                            </tr>
                            <tr>
                                <td class="rowTitle">Sign Sizes</td>
                                <td>24"x18", 2 x 24"x6" <br> (sold separately)</td>
                            </tr>
                            <tr>
                                <td class="rowTitle">Sign Materials</td>
                                <td>Corrugated Plastic, Rigid Plastic, Aluminum</td>
                            </tr>
                            <tr>
                                <td class="rowTitle">Other</td>
                                <td>Spiked legs, foot mounts</td>
                            </tr>
                            <tr>
                                <td class="rowTitle">Lifespan</td>
                                <td>3+ years with proper care and storage.</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="comparetable-wrap">
    <table id="comparetable" class="titaniumtornado">
        <tbody>
            <tr>
                <td class="blank">&nbsp;</td>
                <th>Standard Frame</th>
                <th>Single Rider</th>
                <th>Double Rider</th>
            </tr>
            <tr>
                <td class="rowTitle">Appearance</td>
                <td><img class=" lazyloaded" data-src="https://www.signs.com/content/assets/filelibrary/standard-frame-14389.jpg" alt="Standard Frame" src="https://www.signs.com/content/assets/filelibrary/standard-frame-14389.jpg"></td>
                <td><img class=" lazyloaded" data-src="https://www.signs.com/content/assets/filelibrary/single-rider-frame-14388.jpg" alt="Single Rider Frame" src="https://www.signs.com/content/assets/filelibrary/single-rider-frame-14388.jpg"></td>
                <td><img class=" lazyloaded" data-src="https://www.signs.com/content/assets/filelibrary/double-rider-frame-14387.jpg" alt="Double Rider Frame" src="https://www.signs.com/content/assets/filelibrary/double-rider-frame-14387.jpg"></td>
            </tr>
            <tr>
                <td class="rowTitle">Height</td>
                <td>47"</td>
                <td>47"</td>
                <td>47"</td>
            </tr>
            <tr>
                <td class="rowTitle">Width</td>
                <td>24"</td>
                <td>24"</td>
                <td>24"</td>
            </tr>
            <tr>
                <td class="rowTitle">Weight</td>
                <td>6 lbs</td>
                <td>7 lbs</td>
                <td>8 lbs</td>
            </tr>
            <tr>
                <td class="rowTitle">Thickness</td>
                <td>3/4"</td>
                <td>3/4"</td>
                <td>3/4"</td>
            </tr>
            <tr>
                <td class="rowTitle">Material</td>
                <td>Iron</td>
                <td>Iron</td>
                <td>Iron</td>
            </tr>
            <tr>
                <td class="rowTitle">Finish</td>
                <td>Black Powder Coat</td>
                <td>Black Powder Coat</td>
                <td>Black Powder Coat</td>
            </tr>
            <tr>
                <td class="rowTitle">Slide In or Bolts?</td>
                <td>Both</td>
                <td>Both</td>
                <td>Both</td>
            </tr>
            <tr>
                <td class="rowTitle">Sign Sizes</td>
                <td>24"x18"</td>
                <td>24"x18", 24"x6" <br>(sold separately)</td>
                <td>24"x18", 2 x 24"x6" <br> (sold separately)</td>
            </tr>
            <tr>
                <td class="rowTitle">Sign Materials</td>
                <td>Corrugated Plastic, Rigid Plastic, Aluminum</td>
                <td>Corrugated Plastic, Rigid Plastic, Aluminum</td>
                <td>Corrugated Plastic, Rigid Plastic, Aluminum</td>
            </tr>
            <tr>
                <td class="rowTitle">Other</td>
                <td>Spiked legs, foot mounts</td>
                <td>Spiked legs, foot mounts</td>
                <td>Spiked legs, foot mounts</td>
            </tr>
            <tr>
                <td class="rowTitle">Lifespan</td>
                <td>3+ years with proper care and storage.</td>
                <td>3+ years with proper care and storage.</td>
                <td>3+ years with proper care and storage.</td>
            </tr>
        </tbody>
    </table>
</div>