<!-- Hardware Only -->
<section class="section-default section-graphics-only">
    <div class="standard-container">
        <h2>Hardware Only</h2>
        <p class="description">Looking for just the frame? Click Add to cart to add it directly to your cart. Each frame is 24 wide and 47 tall and fits a 24 x 18 sign in the main display area. The single rider frame includes an additional space for one 24 x 6 rider and the double rider frame includes additional spaces for two 24 x 6 riders. Hardware only includes the metal frame.</p>
        <div class="graphic-list">
            <div class="graphic-item">
                <div class="img-wrap"><img src="https://www.signs.com/content/assets/filelibrary/standard-frame-14389.jpg" alt="Standard Frame"></div>
                <div class="graphic-content">
                    <h3 class="itext-primary">Standard Frame</h3>
                </div>
                <button class="ibtn ibtn-success ibtn-get-start">Add to Cart</button><span class="hardware-price">$39.99</span>
            </div>
            <div class="graphic-item">
                <div class="img-wrap"><img src="https://www.signs.com/content/assets/filelibrary/single-rider-frame-14388.jpg" alt="Single Rider Frame" https:="" www.signs.com="" content="" assets="" filelibrary=""></div>
                <div class="graphic-content">
                    <h3 class="itext-primary">Single Rider Frame</h3>
                </div>
                <button class="ibtn ibtn-success ibtn-get-start">Add to Cart</button><span class="hardware-price">$39.99</span>
            </div>
            <div class="graphic-item">
                <div class="img-wrap"><img src="https://www.signs.com/content/assets/filelibrary/double-rider-frame-14387.jpg" alt="Double Rider Frame" https:="" www.signs.com="" content="" assets="" filelibrary=""></div>
                <div class="graphic-content">
                    <h3 class="itext-primary">Double Rider Frame</h3>
                </div>
                <button class="ibtn ibtn-success ibtn-get-start">Add to Cart</button><span class="hardware-price">$39.99</span>
            </div>
        </div>
    </div>
</section>