<!-- Related Products -->
<section class="section-default section-related-products">
    <div class="standard-container">
        <h2>Related Products</h2>
        <a href="/real-estate-signs/">
            <figure>
                <img class="lazyload" data-src="https://www.signs.com/content/assets/filelibrary/Real-Estate-TopNav-15204.png" alt="Real Estate">
                <figcaption>Real Estate Signs</figcaption>
            </figure>
        </a>
        <a href="/advertising-flags/">
            <figure>
                <img class="lazyload" data-src="https://www.signs.com/content/assets/filelibrary/Advertising-Flags-15203.png" alt="Advertising Flags">
                <figcaption>Advertising Flags</figcaption>
            </figure>
        </a>
        <a href="/a-frame-signs/">
            <figure>
                <img class="lazyload" data-src="https://www.signs.com/content/assets/filelibrary/A-Frames-TopNav-15202.png" alt="A-Frames">
                <figcaption>A-Frame Signs</figcaption>
            </figure>
        </a>
    </div>
</section>