.size-and-qty-section .parent-size-container .selected-label {
    font-size: 14px;
}

.section-default p {
    font-weight: 400;
}

.section-default .ibtn-link, .section-default a:not([href]):not([tabindex]) {
    color: #0097D5;
    font-size: 20px;
    display: inline-block;
    line-height: normal;
}

    .section-default .ibtn-link:hover, .section-default a:not([href]):not([tabindex]):hover {
        color: #007fb3;
    }

.section-default .itext-primary {
    color: #0097D5;
}

.section-default .ibtn-success {
    color: #fff;
    background: #8CC53F;
}

    .section-default .ibtn-success:hover {
        background: #88bf3e;
    }
/* What are Real Estate A-Frames? */
.section-real-estate-aframes {
    text-align: left;
}

    .section-real-estate-aframes .standard-container {
        display: flex;
        align-items: center;
    }

    .section-real-estate-aframes h2 {
        margin-bottom: 50px;
    }

    .section-real-estate-aframes p {
        line-height: 1.3;
    }


        .section-real-estate-aframes p:last-of-type {
            margin-bottom: 0;
        }

    .section-real-estate-aframes .what-are-img-wrap {
        max-width: 775px;
        width: 100%;
        flex: 0 0 auto;
        margin-left: 60px;
    }

.section-hardware-only h2 {
    margin-bottom: 50px;
}

.section-hardware-only p {
    max-width: 665px;
    width: 100%;
    margin: 0 auto 60px;
}

.hardware-item .img-wrap {
    font-size: 0;
    margin-bottom: 50px;
    max-width: 611px;
    margin: 0 auto 50px;
}

.hardware-item h3 {
    font-size: 26px;
    margin-bottom: 35px;
}

.hardware-item .ibtn-add-card {
    font-size: 18px;
    font-weight: 300;
    padding: 10px 50px;
    border-radius: 7px;
}

.section-default .description {
    font-weight: 400;
}

/* Section Graphic Only */
.section-graphics-only h2 {
    margin-bottom: 30px;
}

.section-graphics-only .description {
    max-width: 1022px;
    margin: 0 auto 50px;
}

.section-graphics-only .graphic-list {
    display: inline-flex;
}

.section-graphics-only .graphic-item {
    max-width: 496px;
    /* padding: 0 60px; */
    text-align: center;
    display: inline-block;
}

    .section-graphics-only .graphic-item .img-wrap {
        margin-bottom: 45px;
        align-self: flex-start;
    }

    .section-graphics-only .graphic-item .hardware-price {
        display: block;
        font-size: 20px;
        font-weight: 400;
    }

.section-graphics-only .graphic-content {
    margin: 0 auto 20px;
    align-self: flex-start;
    max-width: 335px;
}

.section-graphics-only .ibtn-get-start {
    margin-bottom: 20px;
    margin-top: auto;
    padding: 6px 50px;
    font-size: 20px;
    font-weight: 300;
    border-radius: 6px;
}

.section-graphics-only .graphic-item h3 {
    font-size: 20px;
    color: #000;
    margin-bottom: 0;
}

.section-graphics-only .graphic-item p {
    font-size: 20px;
    color: #919396;
    line-height: 1.1;
    font-weight: 400;
    margin-bottom: 0;
}

/* Graphic Only V2 */
.section-graphics-only .graphic-list-v2 {
    flex-flow: row wrap;
    justify-content: space-between;
}
/* Additional Specs Section */

.section-additional-specs {
    padding: 64px 0;
}

    .section-additional-specs .container {
        margin: 0 auto;
        max-width: 880px;
        text-align: center;
        padding: 0 20px;
    }

    .section-additional-specs h2 {
        text-align: center;
        font-size: 35px;
        margin-bottom: 30px;
    }

.additional-specs-list {
    display: inline-block;
    text-align: left;
}

    .additional-specs-list li {
        display: flex;
        margin-bottom: 20px;
        border-bottom: 2px solid #cfcccc;
        padding-right: 0;
    }

        .additional-specs-list li h3 {
            min-width: 195px;
            font-size: 22px;
            color: #333;
            font-weight: 400;
            margin-right: 60px;
        }

        .additional-specs-list li p {
            font-size: 20px;
            color: #9f9f9f;
            font-weight: 300;
            margin-bottom: 25px;
            width: 100%;
            padding-right: 40px;
        }

.bt-0 {
    border-bottom: 0 !important;
}

/* Frame Specification */
.frame-specification-mobile {
    display: none;
}
.section-frame-specifications h2 {
    margin-bottom: 25px;
}

.section-frame-specifications .intro {
    max-width: 1175px;
    margin: 0 auto;
}

.section-frame-specifications {
    padding-bottom: 0;
}
/* START COMPARISON TABLE STYLES */
.comparetable-wrap {
}

#comparetable {
    max-width: 1081px;
    width: 100%;
    table-layout: fixed;
    text-align: center;
    margin: 4em auto;
    border-collapse: collapse;
}

    #comparetable tr {
        background: transparent !important;
    }

    #comparetable td,
    #comparetable th {
        padding: 20px;
        text-align: center;
    }

    #comparetable tbody tr:first-child th:nth-child(2), #comparetable tbody tr:first-child th:nth-child(3) {
        border-right-color: #fff;
    }

    #comparetable tbody tr:nth-child(2) td:first-child {
        border-top-color: #fff;
    }

    #comparetable tbody tr td:first-child {
        border-left-color: #fff;
    }

    #comparetable tbody tr:last-child td {
        border-bottom-color: #fff
    }

    #comparetable td.rowTitle {
        text-align: left;
    }

.blank {
    background: none !important;
    border: none !important;
}

.titaniumtornado th {
    font-size: 24px;
    color: #efefef;
    text-align: center;
    font-weight: 400;
    border: 1px solid #5398c3;
    /* text-shadow: 1px 1px 0 #191f25; */
    background: #4489BA; /* Old browsers */
    background: -moz-linear-gradient(top, #4489BA 0%, #65ABCD 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4489BA), color-stop(100%,#65ABCD)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #4489BA 0%,#65ABCD 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #4489BA 0%,#65ABCD 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #4489BA 0%,#65ABCD 100%); /* IE10+ */
    background: linear-gradient(to bottom, #4489BA 0%,#65ABCD 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4489BA', endColorstr='#65ABCD',GradientType=0 ); /* IE6-9 */
    /* color: pink; */
    background: -moz-linear-gradient(270deg, rgba(101,171,205,1) 0%, rgba(68,137,186,1) 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(101,171,205,1)), color-stop(100%, rgba(68,137,186,1))); /* safari4+,chrome */
    background: -webkit-linear-gradient(270deg, rgba(101,171,205,1) 0%, rgba(68,137,186,1) 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(270deg, rgba(101,171,205,1) 0%, rgba(68,137,186,1) 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(270deg, rgba(101,171,205,1) 0%, rgba(68,137,186,1) 100%); /* ie10+ */
    background: linear-gradient(180deg, rgba(101,171,205,1) 0%, rgba(68,137,186,1) 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#65ABCD', endColorstr='#4489BA',GradientType=0 ); /* ie6-9 */
}

.titaniumtornado td {
    background-color: #fff;
    border: 1px solid #707070;
    font-weight: 400;
    color: #333;
    font-size: 20px;
}


@media only screen and (max-width: 800px) {
    #comparetable td, #comparetable th {
        padding: 11px;
        text-align: center;
        font-size: 15px;
    }
}

#comparetable td img {
    width: 100%;
}
/* END COMPARISON TABLE STYLES */
@media (max-width: 1680px) {
    .section-real-estate-aframes .what-are-img-wrap {
        max-width: initial;
        width: 38.5%;
        margin-left: 1.8%;
    }
}

@media (max-width: 1366px) {
    .section-real-estate-aframes h2 {
        margin-bottom: 25px;
    }

    .section-real-estate-aframes p {
        margin-bottom: 16px;
        font-size: 18px;
    }
}

@media (max-width: 1199px) {
    .section-real-estate-aframes {
        text-align: center;
    }

        .section-real-estate-aframes .what-are-img-wrap {
            width: 100%;
            max-width: 775px;
            margin: 0 auto 20px;
        }

    .signs-featured-item {
        min-height: 103px;
    }

        .signs-featured-item:nth-child(2) {
        }

        .signs-featured-item:nth-child(3) {
        }

        .signs-featured-item:nth-child(4) {
        }
}

@media (max-width: 800px) {
    /* Graphic Only */
    .section-graphics-only h2 {
        margin-bottom: 15px;
    }

    .section-graphics-only .graphic-list {
        display: flex;
        flex-flow: column;
    }

    .section-graphics-only .graphic-item {
        max-width: 500px;
        padding: 0;
        margin: 0 auto 45px;
    }

        .section-graphics-only .graphic-item .img-wrap {
            margin-bottom: 20px;
        }

    .section-graphics-only .graphic-list > div:first-of-type .img-wrap img {
    }

    .section-graphics-only .graphic-list > div:last-of-type {
        margin-bottom: 0;
    }

    .section-graphics-only .description {
        margin-bottom: 25px;
    }

        .section-graphics-only .description br {
            display: none;
        }

    .section-graphics-only .graphic-content {
        max-width: 368px;
        margin-bottom: 20px;
    }

        .section-graphics-only .graphic-content a {
            margin-top: 10px;
        }

    .section-graphics-only .ibtn-get-start {
        padding: 5px 90px;
    }
}

@media (max-width: 575px) {
    /* What are Real Estate A-Frames */
    .section-real-estate-aframes .what-are-img-wrap {
        margin: 0 -20px 20px;
        display: inline-block;
        width: 100vw;
    }

    .section-real-estate-aframes h2 {
        font-size: 26px;
    }
    /*  */
    .section-hardware-only h2 {
        margin-bottom: 20px;
    }

    .section-default .description {
        margin-bottom: 20px;
    }

    .hardware-item .img-wrap {
        margin-bottom: 20px;
    }

    .hardware-item h3 {
        margin-bottom: 15px;
    }

    .hardware-item .ibtn-add-card {
        padding: 5px 80px;
    }
}



/* Section Featured */
.section-signs-features * {
    box-sizing: border-box;
}

.featured-body {
    position: relative;
    margin-top: 60px;
    margin-bottom: 220px;
}

.featured-img-wrap {
    max-width: 985px;
    width: 100%;
    margin: 0 auto;
}

.signs-featured-list {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.signs-featured-item {
    position: absolute;
    text-align: left;
    display: inline-block;
    max-width: 278px;
    width: 100%;
}

    .signs-featured-item h3 {
        font-size: 25px;
        margin-bottom: 10px;
        line-height: 1.5;
        font-weight: 500;
    }

    .signs-featured-item p {
        color: #919396;
        font-weight: 300;
        font-size: 22px;
    }

    .signs-featured-item:nth-child(1) {
        top: 160px;
        left: 84px;
        /* margin-right: 167px; */
        max-width: 282px;
    }

    .signs-featured-item:nth-child(2) {
        bottom: 2px;
        left: 68px;
        /* padding-top: 195px; */
        max-width: 320px;
    }

    .signs-featured-item:nth-child(3) {
        left: 1241px;
        top: 27px;
        /* padding-left: 180px; */
        max-width: 227px;
    }

    .signs-featured-item:nth-child(4) {
        right: 0px;
        bottom: 126px;
        /* padding-left: 190px; */
    }

    .signs-featured-item:nth-child(5) {
        right: 416px;
        bottom: -121px;
        /* padding-left: 205px; */
        max-width: 368px;
    }

    .signs-featured-item .img-wrap {
        position: absolute;
        width: 200px;
        height: 200px;
    }

        .signs-featured-item .img-wrap img {
            width: 100%;
            height: 100%;
        }

    .signs-featured-item:nth-child(1) .img-wrap {
        right: -220px;
        top: -20px;
    }

    .signs-featured-item:nth-child(2) .img-wrap {
        top: -12px;
        right: -155px;
    }

    .signs-featured-item:nth-child(3) .img-wrap {
        left: -167px;
        top: -13px;
    }

    .signs-featured-item:nth-child(4) .img-wrap {
        left: -173px;
        top: -2px;
    }

    .signs-featured-item:nth-child(5) .img-wrap {
        top: -64px;
        left: -164px;
    }

.additional-specs-list li:first-child p {
    color: #FF5555;
}

.additional-specs-list li:nth-child(2) p {
    max-width: 380px;
}

/* Why Signs Section */
.section-why-signs h2 {
    margin-bottom: 50px;
}

.why-signs-list {
    font-size: 0;
    margin-top: 35px;
    margin: 0 -20px;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}

.why-signs-list-item {
    display: inline-block;
    font-size: 20px;
    padding: 0 20px;
    box-sizing: border-box;
    max-width: 460px;
    width: 100%;
}

    .why-signs-list-item .extra {
        color: #919396;
        font-size: 14px;
        max-width: 185px;
        width: 100%;
        margin: -23px auto 0;
        display: block;
        font-style: italic;
    }

    .why-signs-list-item img {
        margin-bottom: 15px;
    }

    .why-signs-list-item h3 {
        font-size: 28px;
        margin-bottom: 10px;
        font-weight: 500;
    }

    .why-signs-list-item p {
        color: #919396;
        font-size: 18px;
        margin-bottom: 0;
    }

/* Design tool and services */
.design-services .myrow {
    display: flex;
    justify-content: space-between;
    margin: 0 -30px;
}

.design-services .design-services-group {
    margin-top: 0;
    margin-bottom: 0;
    max-width: 832px;
    margin: 0;
    padding: 0 30px;
}

.design-services .design-services-heading {
    margin-top: 0;
    margin-bottom: 35px;
    text-transform: uppercase;
}

.design-services .design-services-image {
    margin-bottom: 25px;
}

.design-services .design-services-text {
    color: #919396;
    font-size: 24px;
    font-weight: 400;
    max-width: 680px;
    margin: 0 auto 5px;
    line-height: 1.3;
}

.design-services .design-services-group a {
    color: #0097D5;
    font-size: 24px;
    font-weight: 500;
}

/* Section Related Products */
.section-related-products {
    padding: 65px 0;
}

    .section-related-products .standard-container {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
        margin: 0 auto;
        padding: 0 20px;
        max-width: 1567px;
        text-align: center;
    }

    .section-related-products h2 {
        width: 100%;
        font-size: 32px;
        margin-bottom: 40px;
    }

    .section-related-products .standard-container > a {
        margin: 0;
        width: 33.33%;
    }

    .section-related-products figure img {
        margin-bottom: 40px;
    }

    .section-related-products figure figcaption {
        font-size: 25px;
        font-weight: 500;
    }

.section-default .ibtn {
    cursor: pointer;
    display: inline-block;
}

.section-default p {
    font-weight: 400;
}

.section-default .itext-primary {
    color: #0097D5;
}

.section-default .ibtn-success {
    color: #fff;
    background: #8CC53F;
}

    .section-default .ibtn-success:hover {
        background: #88bf3e;
    }
/* What are Real Estate A-Frames? */
.fixedSection.active {
    display: none !important;
}

.section-real-estate-aframes {
    text-align: left;
}

    .section-real-estate-aframes .standard-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

        .section-real-estate-aframes .standard-container .what-are-content-wrap {
            max-width: 626px;
            margin: 0 auto;
        }

    .section-real-estate-aframes h2 {
        margin-bottom: 50px;
    }

    .section-real-estate-aframes p {
        line-height: 1.3;
    }


        .section-real-estate-aframes p:last-of-type {
            margin-bottom: 0;
        }

    .section-real-estate-aframes .what-are-img-wrap {
        max-width: 775px;
        width: 100%;
        flex: 0 0 auto;
        margin-left: 60px;
    }

.section-hardware-only h2 {
    margin-bottom: 50px;
}

.section-hardware-only p {
    max-width: 665px;
    width: 100%;
    margin: 0 auto 60px;
}

.hardware-item .img-wrap {
    font-size: 0;
    margin-bottom: 50px;
    max-width: 611px;
    margin: 0 auto 50px;
}

.hardware-item h3 {
    font-size: 26px;
    margin-bottom: 35px;
}

.hardware-item .ibtn-add-card {
    font-size: 18px;
    font-weight: 300;
    padding: 10px 50px;
}

.section-default .description {
    font-weight: 400;
}



/* Section Featured */
.section-signs-features * {
    box-sizing: border-box;
}

.featured-body {
    position: relative;
    margin-top: 50px;
    margin-bottom: 0;
}

.featured-img-wrap {
    max-width: 475px;
    width: 100%;
    margin: 0 auto;
    height: auto;
}

.signs-featured-list {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.signs-featured-item {
    position: absolute;
    text-align: left;
    display: inline-block;
    max-width: 278px;
    width: 100%;
}

    .signs-featured-item h3 {
        font-size: 22px;
        margin-bottom: 10px;
        line-height: 1.5;
        font-weight: 500;
    }

    .signs-featured-item p {
        color: #919396;
        font-weight: 300;
        font-size: 20px;
    }

    .signs-featured-item:nth-child(1) {
        top: 101px;
        left: 222px;
        max-width: 260px;
    }

    .signs-featured-item:nth-child(2) {
        bottom: 118px;
        left: 226px;
        max-width: 255px;
    }

    .signs-featured-item:nth-child(3) {
        left: 1169px;
        top: 188px;
        /* padding-left: 180px; */
        max-width: 264px;
    }

    .signs-featured-item:nth-child(4) {
        right: 180px;
        bottom: 32px;
    }

    .signs-featured-item:nth-child(5) {
        right: 416px;
        bottom: -121px;
        max-width: 368px;
    }

    .signs-featured-item .img-wrap {
        position: absolute;
        width: 197px;
        height: 197px;
    }

        .signs-featured-item .img-wrap img {
            width: 100%;
            height: 100%;
        }

    .signs-featured-item:nth-child(1) .img-wrap {
        right: -197px;
        top: -64px;
    }

    .signs-featured-item:nth-child(2) .img-wrap {
        top: -64px;
        right: -210px;
    }

    .signs-featured-item:nth-child(3) .img-wrap {
        left: -218px;
        top: -35px;
    }

    .signs-featured-item:nth-child(4) .img-wrap {
        left: -220px;
        top: -37px;
    }

    .signs-featured-item:nth-child(5) .img-wrap {
        top: -64px;
        left: -164px;
    }




.section-graphics-only .graphic-list-v2 .graphic-item {
    flex: 0 0 auto;
    margin-bottom: 65px;
    max-width: 497px;
}


.graphic-list-v2 .graphic-item .img-wrap {
    margin-bottom: 40px;
}


.graphic-list-v2 .graphic-item h3 {
    margin-bottom: 15px;
}

.graphic-list-v2 .graphic-item p {
    margin: 0 auto 3px;
    font-size: 16px;
    max-width: 220px;
    font-weight: 300;
}


.graphic-list-v2 .graphic-item .graphic-content {
}

.graphic-list-v2 .graphic-item .ibtn-get-start {
    margin-bottom: 0;
    padding: 6px 20px;
    font-size: 18px;
}

.section-graphics-only-v2 .graphic-list-v2 .graphic-item .ibtn-primary {
    font-size: 16px;
}

@media (max-width: 1680px) {
    /* What Are Real Estate A-Frames */

    /* Graphic Only V2 */
    .section-graphics-only .graphic-list-v2 .graphic-item {
        padding: 0 50px;
    }

    /* Featured Section */
    .signs-featured-item:nth-child(1) {
        top: 42px;
        left: -32px;
    }

        .signs-featured-item:nth-child(1) .img-wrap {
            right: -155px;
            top: 3px;
        }

    .signs-featured-item:nth-child(2) {
        bottom: 9px;
        left: -24px;
    }

    .signs-featured-item:nth-child(3) {
        left: 1177px;
        top: 35px;
    }

        .signs-featured-item:nth-child(3) .img-wrap {
            left: -172px;
            top: 3px;
        }

    .signs-featured-item:nth-child(4) {
        right: -75px;
        bottom: 128px;
    }

        .signs-featured-item:nth-child(4) .img-wrap {
            left: -173px;
            top: -2px;
        }

    .signs-featured-item:nth-child(5) {
        right: 365px;
        bottom: -121px;
    }

    .featured-body {
        margin-bottom: 160px;
    }

    .section-real-estate-aframes .what-are-img-wrap {
        max-width: initial;
        width: 46.5%;
        margin-left: 1.8%;
    }

    /* What Are Real Estate A-Frames */


    /* Featured Section */
    .signs-featured-item:nth-child(1) {
        top: 101px;
        left: 133px;
    }

        .signs-featured-item:nth-child(1) .img-wrap {
            right: -77%;
            top: -62px;
        }

    .signs-featured-item:nth-child(2) {
        bottom: 116px;
        left: 140px;
    }

        .signs-featured-item:nth-child(2) .img-wrap {
            top: -64px;
            right: -200px;
        }

    .signs-featured-item:nth-child(3) {
        left: 73.5%;
        top: 178px;
    }

        .signs-featured-item:nth-child(3) .img-wrap {
            left: -215px;
            top: -35px;
        }

    .signs-featured-item:nth-child(4) {
        right: 7.5%;
        bottom: 35px;
        max-width: 267px;
    }

        .signs-featured-item:nth-child(4) .img-wrap {
            left: -215px;
            top: -38px;
        }

    .signs-featured-item:nth-child(5) {
        right: 365px;
        bottom: -121px;
    }

    .featured-body {
        margin-bottom: 0;
    }
}

@media (max-width: 1600px) {
    /* Graphic Only */
    .section-graphics-only .graphic-list-v2 .graphic-item {
        padding: 0 30px;
    }
    /* Featured Section */
    .signs-featured-item:nth-child(3) {
        left: 1163px;
        top: 30px;
    }

    /* Featured Section */
    .signs-featured-item:nth-child(1) {
        top: 110px;
        left: 56px;
    }

    .signs-featured-item:nth-child(2) {
        bottom: -28px;
        left: 50px;
    }

    .signs-featured-item:nth-child(3) {
        left: 999px;
        top: 140px;
    }

        .signs-featured-item:nth-child(3) .img-wrap {
            top: -6px;
        }

    .signs-featured-item:nth-child(4) .img-wrap {
        left: -215px;
        top: -40px;
    }

    .signs-featured-item:nth-child(4) {
        right: 3%;
        bottom: 30px;
        max-width: 267px;
    }

    /* Why Signs.com */
    .why-signs-list-item {
        display: inline-block;
        flex-direction: column;
    }

        .why-signs-list-item > * {
            flex: 0 0 auto;
        }

        .why-signs-list-item h3 {
            font-size: 27px;
        }

    /* Design Tools and Services 1600 */
    .design-services .myrow {
        margin: 0 -20px;
    }

    .design-services .design-services-group {
        padding: 0 20px;
    }

    .design-services .design-services-text {
        font-size: 22px;
    }
}

@media (max-width: 1536px) {

    /* Featured Section */
    .section-signs-features h2 {
        margin-bottom: 20px;
    }

    .featured-body {
        margin-bottom: 117px;
        margin-top: 60px;
    }

    .featured-img-wrap {
        max-width: 855px;
    }

    .signs-featured-item .img-wrap {
        width: 135px;
        height: 135px;
    }

    .signs-featured-item:nth-child(1) {
        top: 30px;
        left: -35px;
    }

        .signs-featured-item:nth-child(1) .img-wrap {
            right: -135px;
            top: 3px;
        }

    .signs-featured-item:nth-child(2) {
        bottom: -4px;
        left: -24px;
    }

    .signs-featured-item:nth-child(3) {
        left: 1057px;
        top: 25px;
    }

        .signs-featured-item:nth-child(3) .img-wrap {
            left: -155px;
            top: 3px;
        }

    .signs-featured-item:nth-child(4) {
        right: -47px;
        bottom: 70px;
        max-width: 240px;
    }

        .signs-featured-item:nth-child(4) .img-wrap {
            left: -156px;
            top: -2px;
        }

    .signs-featured-item:nth-child(5) {
        right: 258px;
        bottom: -131px;
    }

        .signs-featured-item:nth-child(5) .img-wrap {
            top: -66px;
            left: -153px;
        }


    /* Why Signs.com? */
    .why-signs-list-item {
        /* max-width: 545px; */
    }

        .why-signs-list-item br {
            /* display: none; */
        }


    /* Featured Section */
    .section-signs-features h2 {
        margin-bottom: 20px;
    }

    .featured-body {
        margin-bottom: 0;
        margin-top: 55px;
    }

    .featured-img-wrap {
        max-width: 440px;
    }

    .signs-featured-item .img-wrap {
        width: 150px;
        height: 150px;
    }

    .signs-featured-item:nth-child(1) {
        top: 90px;
        left: 127px;
    }

        .signs-featured-item:nth-child(1) .img-wrap {
            right: -150px;
            top: -34px;
        }

    .signs-featured-item:nth-child(2) {
        bottom: 123px;
        left: 132px;
    }

        .signs-featured-item:nth-child(2) .img-wrap {
            top: -25px;
            right: -150px;
        }

    .signs-featured-item:nth-child(3) {
        left: 953px;
        top: 189px;
    }

        .signs-featured-item:nth-child(3) .img-wrap {
            left: -160px;
            top: -28px;
        }

    .signs-featured-item:nth-child(4) {
        right: 120px;
        bottom: 40px;
        max-width: 255px;
    }

        .signs-featured-item:nth-child(4) .img-wrap {
            left: -156px;
            top: -2px;
        }

    .signs-featured-item:nth-child(5) {
        right: 258px;
        bottom: -131px;
    }

        .signs-featured-item:nth-child(5) .img-wrap {
            top: -66px;
            left: -153px;
        }
}

@media (max-width: 1440px) {
    /* Graphic Only */
    .section-graphics-only .graphic-list-v2 .graphic-item {
        max-width: 400px;
    }
    /* Featured Section */
    .featured-img-wrap {
        max-width: 760px;
    }

    .signs-featured-item .img-wrap {
        width: 125px;
        height: 125px;
    }

    .signs-featured-item p {
        font-size: 19px;
    }

    .signs-featured-item:nth-child(1) {
        max-width: 222px;
        top: 17px;
        left: -3px;
    }

    .signs-featured-item:nth-child(2) {
        max-width: 208px;
        bottom: -18px;
        left: -5px;
    }

    .signs-featured-item:nth-child(3) {
        max-width: 248px;
        left: 987px;
        top: 14px;
    }

    .signs-featured-item:nth-child(4) {
        max-width: 248px;
        right: -21px;
        bottom: 48px;
    }

    .signs-featured-item:nth-child(5) {
        right: 260px;
        bottom: -129px;
    }

    .signs-featured-item:nth-child(1) .img-wrap {
        right: -121px;
        top: 3px;
    }

    .signs-featured-item:nth-child(2) .img-wrap {
        top: -5px;
        right: -134px;
    }

    .signs-featured-item:nth-child(3) .img-wrap {
        left: -146px;
        top: 3px;
    }

    .signs-featured-item:nth-child(4) .img-wrap {
        left: -143px;
        top: -2px;
    }

    .signs-featured-item:nth-child(5) .img-wrap {
        top: -66px;
        left: -140px;
    }

    .featured-body {
        margin-bottom: 300px;
    }


    /* Featured Section */
    .featured-img-wrap {
        max-width: 475px;
    }

    .signs-featured-item .img-wrap {
        width: 170px;
        height: 170px;
    }

    .signs-featured-item p {
        font-size: 19px;
    }

    .signs-featured-item:nth-child(1) {
        max-width: 245px;
        top: 95px;
        left: 60px;
    }

    .signs-featured-item:nth-child(2) {
        max-width: 252px;
        bottom: 130px;
        left: 60px;
    }

    .signs-featured-item:nth-child(3) {
        max-width: 248px;
        left: 937px;
        top: 208px;
    }

    .signs-featured-item:nth-child(4) {
        max-width: 248px;
        right: 62px;
        bottom: 48px;
    }

    .signs-featured-item:nth-child(5) {
        right: 260px;
        bottom: -129px;
    }

    .signs-featured-item:nth-child(1) .img-wrap {
        right: -180px;
        top: -45px;
    }

    .signs-featured-item:nth-child(2) .img-wrap {
        top: -50px;
        right: -173px;
    }

    .signs-featured-item:nth-child(3) .img-wrap {
        left: -175px;
        top: -29px;
    }

    .signs-featured-item:nth-child(4) .img-wrap {
        left: -181px;
        top: -2px;
    }

    .signs-featured-item:nth-child(5) .img-wrap {
        /* top: -151px; */
        /* left: 80px; */
        top: -66px;
        left: -140px;
    }

    .featured-body {
        margin-bottom: 0;
    }


    /* Why Signs.com */
    .why-signs-list-item h3 {
        font-size: 26px;
    }



    /* Design Tools and Services 1440 */
    .design-services .design-services-text {
        font-size: 20px;
    }

    .design-services .design-services-group a {
        font-size: 20px;
    }
}

@media (max-width: 1366px) {
    /* Graphic Only */
    .section-graphics-only .graphic-list-v2 .graphic-item {
        max-width: 390px;
    }
    /* Featured Section */
    .featured-img-wrap {
        max-width: 815px;
    }

    .signs-featured-item .img-wrap {
        width: 125px;
        height: 125px;
    }

    .signs-featured-item p {
        font-size: 19px;
    }

    .signs-featured-item:nth-child(1) {
        max-width: 219px;
        top: 38px;
        left: -74px;
    }

    .signs-featured-item:nth-child(2) {
        max-width: 209px;
        bottom: -8px;
        left: -76px;
    }

    .signs-featured-item:nth-child(3) {
        max-width: 217px;
        left: 957px;
        top: 40px;
    }

    .signs-featured-item:nth-child(4) {
        max-width: 219px;
        right: -79px;
        bottom: 55px;
    }

    .signs-featured-item:nth-child(5) {
        max-width: 342px;
        right: 245px;
        bottom: -128px;
    }

    .signs-featured-item:nth-child(1) .img-wrap {
        right: -126px;
        top: 3px;
    }

    .signs-featured-item:nth-child(2) .img-wrap {
        top: -5px;
        right: -134px;
    }

    .signs-featured-item:nth-child(3) .img-wrap {
        left: -146px;
        top: 3px;
    }

    .signs-featured-item:nth-child(4) .img-wrap {
        left: -143px;
        top: -2px;
    }

    .featured-body {
        margin-bottom: 118px;
    }

    /* Why Signs.com */
    .why-signs-list {
        margin: 0 -80px;
    }

    /* Design tool and services */
    .design-services .design-services-image {
        height: auto;
        object-fit: contain;
    }

    .design-services .design-services-text {
        font-size: 20px;
    }

    .design-services .design-services-group a {
        font-size: 20px;
    }

    /* Related Products */
    .section-related-products .standard-container > a {
        width: 28.33%;
    }

        .section-related-products .standard-container > a img {
            width: 100%;
        }

    .section-real-estate-aframes h2 {
        margin-bottom: 25px;
    }

    .section-real-estate-aframes p {
        margin-bottom: 16px;
        font-size: 18px;
    }



    /* Featured Section */
    .featured-img-wrap {
        max-width: 475px;
    }

    .signs-featured-item .img-wrap {
        width: 150px;
        height: 150px;
    }

    .signs-featured-item p {
        font-size: 19px;
    }

    .signs-featured-item:nth-child(1) {
        max-width: 245px;
        top: 95px;
        left: 51px;
    }

    .signs-featured-item:nth-child(2) {
        max-width: 252px;
        bottom: 156px;
        left: 62px;
    }

    .signs-featured-item:nth-child(3) {
        max-width: 250px;
        left: 889px;
        top: 199px;
    }

    .signs-featured-item:nth-child(4) {
        max-width: 255px;
        right: 45px;
        bottom: 29px;
    }

    .signs-featured-item:nth-child(5) {
        max-width: 342px;
        right: 245px;
        bottom: -128px;
    }

    .signs-featured-item:nth-child(1) .img-wrap {
        right: -160px;
        top: -34px;
    }

    .signs-featured-item:nth-child(2) .img-wrap {
        top: -24px;
        right: -143px;
    }

    .signs-featured-item:nth-child(3) .img-wrap {
        left: -157px;
        top: -15px;
    }

    .signs-featured-item:nth-child(4) .img-wrap {
        left: -153px;
        top: -24px;
    }

    .signs-featured-item:nth-child(5) .img-wrap {
        /* top: -151px; */
        /* left: 80px; */
    }

    .featured-body {
        margin-bottom: 0;
    }
}


@media (max-width: 1280px) {
    /* Graphic Only */
    .section-graphics-only .graphic-list-v2 .graphic-item {
        max-width: 370px;
    }
    /* Why Signs.com */
    .design-services .design-services-text {
        font-size: 18px;
    }

    .design-services .design-services-group a {
        font-size: 18px;
    }

    .design-services .design-services-heading {
        font-size: 25px;
    }


    /* Related Products */

    .signs-featured-item:nth-child(1) {
        max-width: 244px;
        top: 100px;
        left: 13px;
    }

        .signs-featured-item:nth-child(1) .img-wrap {
            top: -34px;
        }

    .signs-featured-item:nth-child(2) {
        max-width: 252px;
        bottom: 150px;
        left: 20px;
    }

    .signs-featured-item:nth-child(3) {
        max-width: 250px;
        left: 852px;
        top: 195px;
    }

    .signs-featured-item:nth-child(4) {
        max-width: 255px;
        right: 10px;
        bottom: 29px;
    }
}

@media (max-width: 1270px) {
    .featured-img-wrap {
        max-width: 716px;
    }

    .signs-featured-item:nth-child(1) {
        max-width: 219px;
        top: 27px;
        left: -42px;
    }

    .signs-featured-item:nth-child(2) {
        max-width: 209px;
        bottom: -39px;
        left: -44px;
    }

    .signs-featured-item:nth-child(3) {
        max-width: 217px;
        left: 918px;
        top: 20px;
    }

    .signs-featured-item:nth-child(4) {
        max-width: 219px;
        right: -49px;
        bottom: 55px;
    }

    .signs-featured-item:nth-child(5) {
        max-width: 342px;
        right: 200px;
        bottom: -128px;
    }

    .featured-img-wrap {
        max-width: 716px;
    }

    .signs-featured-item:nth-child(1) {
        max-width: 219px;
        top: 27px;
        left: -42px;
    }

    .signs-featured-item:nth-child(2) {
        max-width: 209px;
        bottom: -39px;
        left: -44px;
    }

    .signs-featured-item:nth-child(3) {
        max-width: 217px;
        left: 918px;
        top: 20px;
    }

    .signs-featured-item:nth-child(4) {
        max-width: 219px;
        right: -49px;
        bottom: 55px;
    }

    .signs-featured-item:nth-child(5) {
        max-width: 342px;
        right: 200px;
        bottom: -128px;
    }
}

@media (max-width: 1199px) {
    /* Graphic Only 1199px */
    .section-graphics-only .graphic-list-v2 .graphic-item {
        max-width: 397px;
    }

    .section-graphics-only .graphic-list-v2 {
        max-width: 820px;
        margin: 0 auto;
    }
    /* Featured Section */
    .featured-body {
        margin-top: 0;
        margin: 0 !important;
    }

    .featured-img-wrap {
        position: static;
        max-width: 740px;
    }

    .signs-featured-list {
        position: static;
        /* display: block; */
    }

    .signs-featured-item {
        position: relative !important;
        display: block !important;
        top: initial !important;
        left: initial !important;
        right: initial !important;
        bottom: initial !important;
        width: 100% !important;
        max-width: initial !important;
        margin: 0 !important;
        padding-left: 160px;
        min-height: 135px;
        margin-bottom: 35px !important;
    }

        .signs-featured-item .img-wrap {
            position: absolute !important;
            top: 0 !important;
            left: 0 !important;
            right: initial !important;
            bottom: initial !important;
        }

        .signs-featured-item:last-child {
            margin-bottom: 0 !important;
        }

    /* Review Section */
    h2#product-reviews {
        padding-top: 0;
        margin-bottom: 10px;
    }

    /* Why Signs.com */
    .why-signs-list {
        margin: 0 -10px;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
    }

    .why-signs-list-item {
        padding: 0 10px;
    }

        .why-signs-list-item h3 {
            font-size: 21px;
        }


    /* Section Related Products */
    .section-related-products .standard-container {
        display: block;
    }

    .section-related-products figure img {
        margin-bottom: 5px;
    }

    .section-related-products .standard-container > a {
        /* margin-bottom: 34px; */
        display: block;
        margin: 0 auto 34px;
        width: 44%;
        max-width: 428px;
    }

        .section-related-products .standard-container > a img {
            margin-bottom: 20px;
        }

    .section-real-estate-aframes {
        text-align: center;
    }

        .section-real-estate-aframes .what-are-img-wrap {
            width: 100%;
            max-width: 775px;
            margin: 0 auto 20px;
        }

    /*  */
    /* Featured Section */
    .featured-body {
        margin-top: 0;
        margin: 0 !important;
    }

    .featured-img-wrap {
        position: static;
        max-width: 340px;
        margin-bottom: 24px;
    }

    .signs-featured-list {
        position: static;
        display: flex;
        flex-flow: row wrap;
    }

    .signs-featured-item {
        position: relative !important;
        display: block !important;
        top: initial !important;
        left: initial !important;
        right: initial !important;
        bottom: initial !important;
        width: 100% !important;
        max-width: initial !important;
        margin: 0 !important;
        padding-left: 160px;
        min-height: 135px;
        margin-bottom: 35px !important;
    }

        .signs-featured-item .img-wrap {
            position: absolute !important;
            top: -7px !important;
            left: 0 !important;
            right: initial !important;
            bottom: initial !important;
        }

        .signs-featured-item:last-child {
            margin-bottom: 0 !important;
        }

    /* Review Section */
    h2#product-reviews {
        padding-top: 0;
        margin-bottom: 10px;
    }


    /* Why Signs.com */
    .why-signs-list-item {
        display: inline-block;
        max-width: 426px;
        margin-bottom: 25px;
    }

        /* Why Signs.com */
        .why-signs-list-item:last-child {
            align-self: center;
            margin: 0 auto 0;
        }

    .section-graphics-only .graphic-item .ibtn-get-start {
        padding: 6px 40px;
    }

    /*  */
    .signs-featured-item {
    }

        .signs-featured-item:nth-child(1) {
            order: 1;
        }

        .signs-featured-item:nth-child(2) {
            order: 3;
        }

        .signs-featured-item:nth-child(3) {
            order: 2;
        }

        .signs-featured-item:nth-child(4) {
            order: 4;
        }
}

@media (max-width: 991px) {

    /* Featured Section */
    .featured-img-wrap {
        max-width: 600px;
        margin-bottom: 30px;
    }

    /* Additional */
    .additional-specs-list li p br {
        display: none;
    }
    /* Why Signs.com */
    .why-signs-list {
        display: block;
    }

    .why-signs-list-item {
    }

    .section-why-signs h2 {
        margin-bottom: 20px;
    }

    .why-signs-list-item .extra {
        margin-bottom: 20px;
    }

    /* Design tool and services */
    .design-services .myrow {
        display: block;
        margin: 0;
    }

    .design-services .design-services-group {
        margin: 0 auto 40px;
    }

        .design-services .design-services-group:nth-child(2) {
            margin-bottom: 0;
        }

    .design-services-heading > br {
        display: none;
    }

    .design-services .design-services-heading {
        margin: 0 0 20px;
        max-width: 288px;
        width: 100%;
        padding: 0 20px;
    }

    /* Related Products */
    .section-related-products .standard-container > a {
        max-width: 428px;
        width: 100%;
    }


    /* Featured Section */
    .featured-img-wrap {
        max-width: 370px;
        margin-bottom: 30px;
    }
}

@media (max-width: 575px) {

    /* Featured Section */
    .signs-featured-item .img-wrap {
        width: 100px;
        height: 100px;
    }

    .signs-featured-item {
        padding-left: 124px !important;
    }

        .signs-featured-item h3 {
            font-size: 20px;
            margin-bottom: 3px;
        }

        .signs-featured-item p {
            font-size: 16px;
        }


    /* Additional Specs */
    .section-additional-specs {
        padding: 35px 0;
    }

        .section-additional-specs h2 {
            margin-bottom: 20px;
        }

    .additional-specs-list li {
        display: block;
        text-align: center;
        padding: 0;
        border-bottom: 0;
    }

        .additional-specs-list li:last-child {
            margin-bottom: 0;
        }

        .additional-specs-list li:nth-child(1) p {
            max-width: 214px;
            margin: 0 auto;
        }

        .additional-specs-list li h3 {
            margin: 0 auto 5px;
            font-weight: 500;
            font-size: 20px;
        }

        .additional-specs-list li p {
            font-size: 21px;
            margin-bottom: 20px;
            padding-right: 0;
            font-weight: 200;
        }


    /* Additional Specs */
    .section-additional-specs {
        padding: 35px 0;
    }


    /* Design tool and services 575 */
    .design-services .design-services-group {
        padding: 0;
    }

    .design-services .myrow {
        margin: 0 -20px;
    }

    .design-services-heading > br {
        display: none;
    }

    .design-services .design-services-heading {
        margin: 0 0 20px;
        max-width: 379px;
        width: 100%;
        padding: 0 20px;
    }

    .design-services .design-services-text {
        max-width: 379px;
    }

    .design-services .design-services-group:first-child {
        position: relative;
        padding-bottom: 40px;
        margin-bottom: 25px;
    }

        .design-services .design-services-group:first-child:after {
            position: absolute;
            content: "";
            display: block;
            background: -moz-linear-gradient(left,rgba(221,221,221,0) 0,#ddd 10%,#ddd 50%,#ddd 90%,rgba(221,221,221,0) 100%);
            background: -webkit-linear-gradient(left,rgba(221,221,221,0) 0,#ddd 10%,#ddd 50%,#ddd 90%,rgba(221,221,221,0) 100%);
            background: linear-gradient(to right,rgba(221,221,221,0) 0,#ddd 10%,#ddd 50%,#ddd 90%,rgba(221,221,221,0) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00dddddd',endColorstr='#00dddddd',GradientType=1);
            height: 1px;
            width: 100%;
            bottom: 0;
        }

    /* Section Related Products */
    .section-related-products figure img {
        width: 90%;
        height: auto;
        max-width: 355px;
    }

    /* Related Products */
    .section-related-products {
        padding: 45px 0;
    }

        .section-related-products h2 {
            margin-bottom: 20px;
        }

        .section-related-products .standard-container > a {
            max-width: initial;
        }

            .section-related-products .standard-container > a img {
                margin: 0 -20px 20px;
                width: 100vw;
                max-width: initial;
            }

            .section-related-products .standard-container > a:last-of-type {
                margin-bottom: 0;
            }

    /* What are Real Estate A-Frames */
    .section-real-estate-aframes .what-are-img-wrap {
        margin: 0 -20px 20px;
        display: inline-block;
        width: 100vw;
    }

    .section-real-estate-aframes h2 {
        font-size: 26px;
    }
    /*  */
    .section-hardware-only h2 {
        margin-bottom: 20px;
    }

    .section-default .description {
        margin-bottom: 20px;
    }

    .hardware-item .img-wrap {
        margin-bottom: 20px;
    }

    .hardware-item h3 {
        margin-bottom: 15px;
    }

    .hardware-item .ibtn-add-card {
        padding: 5px 80px;
    }


    /* Featured Section */
    .featured-img-wrap {
        max-width: 300px;
        margin-bottom: 35px;
    }

    .signs-featured-item .img-wrap {
        width: 110px;
        height: 110px;
    }

    .signs-featured-item {
        padding-left: 124px !important;
        margin-bottom: 35px !important;
    }

        .signs-featured-item h3 {
            font-size: 20px;
            margin-bottom: 3px;
        }

        .signs-featured-item p {
            font-size: 16px;
            margin-bottom: 0;
        }

    .section-signs-features h2 {
        font-size: 28px;
    }

    .additional-specs-list li:nth-child(2) p {
        max-width: 300px;
        margin: 0 auto 20px;
    }

    .additional-specs-list li p {
        font-size: 18px;
        line-height: 1.3;
    }

    /* Why Signs.com? */
    .why-signs-list-item:last-child h3 {
        max-width: 260px;
        margin: 0 auto 10px;
    }

    .section-graphics-only .graphic-list-v2 .graphic-item {
        max-width: 428px;
        padding: 0;
        margin-bottom: 40px;
    }

    .graphic-list-v2 .graphic-item p {
        max-width: 240px;
        margin: 0 auto 0;
    }

    .section-graphics-only .graphic-item .img-wrap {
        max-width: 190px;
        margin: 0 auto 20px;
    }

    .section-graphics-only .graphic-content {
        margin-bottom: 12px;
    }

    .graphic-list-v2 .graphic-item .graphic-content {
        margin-bottom: 25px;
    }

    .section-graphics-only-v2 .graphic-list-v2 .graphic-item .ibtn-primary {
        margin: 0;
    }

    .section-graphics-only .graphic-item .ibtn-get-start {
        font-size: 18px;
        padding: 5px 35px;
        margin-bottom: 10px;
    }

    /* Graphic V2 */
    .section-graphics-only-v2 {
        padding-bottom: 0;
    }

    .graphic-list-v2-controller {
        margin-top: 40px;
        display: block !important;
        margin-bottom: 35px;
    }

    .graphic-list-v2-controller-list {
        font-size: 0;
    }

        .graphic-list-v2-controller-list li {
            display: inline-block;
            margin: 0 3px;
        }

            .graphic-list-v2-controller-list li button {
                border: 0;
                outline: none;
                font-size: 18px;
                padding: 7px 40px;
            }

                .graphic-list-v2-controller-list li button:hover, .graphic-list-v2-controller-list li button.active {
                    background: #5ba0c7;
                    color: #fff;
                }


    .signs-featured-item {
        min-height: 105px;
    }


    /* Frame Specifications 575 */
    
    .section-frame-specifications {
        padding: 40px 0;
    }

    .comparetable-wrap {
        overflow-x: scroll;
        display: none;
    }

    #comparetable {
        max-width: initial;
        width: 530px;
    }

    .tabbing-list {
        margin: 0 -2px 20px;
        font-size: 0;
    }

    .tabbing-list-item {
        display: inline-block;
        margin: 0 2px;
    }

    .tabbing-btn {
        padding: 7px 0;
        border: 0;
        outline: none;
        background: #e6e6e6;
        font-size: 16px;
        width: 108px;
        line-height: 1.3;
    }

        .tabbing-btn:hover, .tabbing-list-item.active .tabbing-btn {
            background: #5ba0c7;
            color: #fff;
            outline: none;
        }

    .section-frame-specifications h2 {
    }

    .section-frame-specifications .intro {
        font-size: 18px;
        margin-bottom: 35px;
    }

    .tabcontent-list {
        position: relative;
    }

    .tabcontent-item {
        position: absolute;
        width: 100%;
        top: 0;
        text-align: center;
        opacity: 0;
        visibility: hidden;
        z-index: 0;
        transition: position .4s linear, opacity .4s linear, visibility .4s linear, z-index .4s linear;
    }

        .tabcontent-item.active {
            position: static;
            opacity: 1;
            visibility: visible;
            z-index: 1;
        }

        .tabcontent-item h3 {
            font-size: 18px;
            margin-bottom: 20px;
        }

        .tabcontent-item table {
            text-align: left;
        }

        .tabcontent-item tr:not(:last-child) {
            border-bottom: 2px solid #f5f5f5;
            border-top: 2px solid transparent;
        }

        .tabcontent-item td:first-child {
            font-weight: 400;
            width: 160px;
        }

        .tabcontent-item td {
            font-size: 16px;
            padding: 4px 0;
        }
    .frame-specification-mobile {
        display: block;
    }
    .frame-specification-mobile .fs-img {
        max-width: 150px;
        margin: 0 auto 20px;
    }
}

@media (max-width: 375px) {
    /* What are Real Estate Frames 375px */
    .section-real-estate-aframes h2 {
        font-size: 25px;
    }
    /* Additional Specs */
    .additional-specs-list li h3 {
        font-size: 20px;
    }

    .additional-specs-list li p {
        font-size: 19px;
    }

    .additional-specs-list li:nth-child(1) p {
        max-width: 190px;
    }
    /* Sizing Chart */
    .tabcontent .img-wrap img {
        height: 171px;
        object-position: -23px;
    }

    .section-graphics-only .description {
        font-size: 18px;
    }

    /* Design Tools and Services */
    .design-services .design-services-text {
        padding: 0 20px;
    }
}

@media (max-width: 360px) {
    /* What are Real Estate Frames 360px */
    .section-real-estate-aframes h2 {
        font-size: 24px;
    }

    .section-graphics-only .description {
        font-size: 18px;
    }

    /* Why Signs.com? 360px */
    .why-signs-list-item br {
        display: none;
    }

    /* Frame Specification 360 */
    .tabbing-list-item .tabbing-btn {
        width: 104px;
    }
}

@media (max-width: 320px) {
    /* What are Real Estate Frames 320px */
    .section-real-estate-aframes h2 {
        font-size: 21px;
    }
    /* Frame Specification 320 */
    .tabbing-list-item .tabbing-btn {
        width: 90px;
        font-size: 15px;
    }
}
