<div class="section-image">
	<img class="bg-image" src="https://www.signs.com/content/assets/filelibrary/USYFPortalHero-8894.jpg" alt="USYF Hero" />
</div>
<!-- /.section-image -->

<section class="section-products section-csm">
	<div class="standard-product-container">
		<h1 class="product-header">Championship Series Minimum</h1>
		<div class="product-container">
			<a href="https://www.signs.com/myaccount/adddesigntocart/?designid=6c60d101-44ba-4824-a5ca-eca665589859&quantity=1">
				<div class="img-wrap">
					<img
							class="product-image"
							src="https://www.signs.com/content/assets/filelibrary/Step-and-Repeat-8858.jpg"
							alt="Backdrop"
					/>
				</div>
				<h2>USYF Backdrop Fabric Wall</h2>
			</a>
			<p class="product-description">120"x96" Step and Repeat Backdrop w/ Stand and Case</p>
			<div class="product-button">
				<a class="product-btn" onclick="signsSite.addToCartNoRedirect('6c60d101-44ba-4824-a5ca-eca665589859', 1);">Add to Cart</a>
			</div>
		</div>
		<div class="product-container">
			<a href="https://www.signs.com/myaccount/adddesigntocart/?designid=7d5821ec-e7b8-4b33-9735-d2a900af6ac7&quantity=1">
				<div class="img-wrap">
					<img
							class="product-image"
							src="https://www.signs.com/content/assets/filelibrary/Table-Throw-8860.jpg"
							alt="Table Throw"
					/>
				</div>
				<h2>USYF Fabric Table Throw</h2>
			</a>
			<p class="product-description">72" Four-sided Fabric Table Throw </p>
			<div class="product-button">
				<a class="product-btn" onclick="signsSite.addToCartNoRedirect('7d5821ec-e7b8-4b33-9735-d2a900af6ac7', 1);">Add to Cart</a>
			</div>
		</div>
		<div class="product-container">
			<a href="https://www.signs.com/myaccount/adddesigntocart/?designid=2d2eb47e-45c4-4856-be83-b414d3139b4a&quantity=1">
				<div class="img-wrap">
					<img
							class="product-image"
							src="https://www.signs.com/content/assets/filelibrary/FeatherFlag2018DoubleSided-8852.jpg"
							alt="Feather Flag"
					/>
				</div>
				<h2>USYF Fabric Feather Flag</h2>
			</a>
			<p class="product-description">25” x 105” Double-Sided Feather Flag w/ hardware and case (Includes flat weighted base)</p>
			<div class="product-button">
				<a class="product-btn" onclick="signsSite.addToCartNoRedirect('2d2eb47e-45c4-4856-be83-b414d3139b4a', 1);">Add to Cart</a>
			</div>
		</div>
		<div class="product-container">
			<a href="https://www.signs.com/myaccount/adddesigntocart/?designid=36f29e24-9556-4a41-b2c3-f98a63860f7d&quantity=1">
				<div class="img-wrap">
					<img
							class="product-image"
							src="https://www.signs.com/content/assets/filelibrary/96x30-banner-8851.jpg"
					/>
				</div>
				<h2>USYF Champion Series Banner</h2>
			</a>
			<p class="product-description">96” x 30” Championship Series Banner</p>
			<div class="product-button">
				<a class="product-btn" onclick="signsSite.addToCartNoRedirect('36f29e24-9556-4a41-b2c3-f98a63860f7d', 1);">Add to Cart</a>
			</div>
		</div>
		<div class="product-container">
			<a href="https://www.signs.com/myaccount/adddesigntocart/?designid=c0ad2551-259f-47ad-9a80-e98e27406e55&quantity=1">
				<div class="img-wrap">
					<img
							class="product-image"
							src="https://www.signs.com/content/assets/filelibrary/Twist-Up-a-frame-8861.jpg"
							alt="A-Frame"
					/>
				</div>
				<h2>USYF Sideline A-Frame</h2>
			</a>
			<p class="product-description">84" x 36" Sidline Twist Up A-Frame w/ case</p>
			<div class="product-button">
				<a class="product-btn" onclick="signsSite.addToCartNoRedirect('65198919-757a-4863-86ed-cc9fe76137a5', 1);">Add to Cart</a>
			</div>
		</div>
	</div>
</section>
<section class="section-products section-bo">
	<div class="standard-product-container">
		<h2 class="product-header-sub"> Brand Optional </h2>
		<div class="product-container">
			<a href="https://www.signs.com/myaccount/adddesigntocart/?designid=65198919-757a-4863-86ed-cc9fe76137a5&quantity=1">
				<div class="img-wrap">
					<img
							class="product-image"
							src="https://www.signs.com/content/assets/filelibrary/72x29-banner-TimeRef-8897.jpg"
							alt="Banner - Table"
					/>
				</div>
				<h2>USYF Time and Ref Table Banner</h2>
			</a>
			<p class="product-description">72” x 30” Vinyl Timeclock / Referee table and can be used with Backdrop</p>
			<div class="product-button">
				<a class="product-btn" onclick="signsSite.addToCartNoRedirect('77d9ec13-8f0f-498b-bf5b-b4df46cef46c', 1);">Add to Cart</a>
			</div>
		</div>
		<div class="product-container">
			<a href="https://www.signs.com/myaccount/adddesigntocart/?designid=69daf324-1fcd-4fe0-9d3b-9dc1f5e4ba09&quantity=1">
				<div class="img-wrap">
					<img
							class="product-image"
							src="https://www.signs.com/content/assets/filelibrary/PopUpTent-8853.jpg"
							alt="Tent"
					/>
				</div>
				<h2>USYF Event Tent</h2>
			</a>
			<p class="product-description">120"x120" Pop Up Tent w/ hardware and case</p>
			<div class="product-button">
				<a class="product-btn" onclick="signsSite.addToCartNoRedirect('69daf324-1fcd-4fe0-9d3b-9dc1f5e4ba09', 1);">Add to Cart</a>
			</div>
		</div>
		<div class="product-container">
			<a href="https://www.signs.com/myaccount/adddesigntocart/?designid=2c903684-0a74-4e47-b798-bf136abf93f4&quantity=1">
				<div class="img-wrap">
					<img
							class="product-image"
							src="https://www.signs.com/content/assets/filelibrary/Retractable-Banner2-8896.jpg"
							alt="Retractable Banner"
					/>
				</div>
				<h2>USYF Retractable Fabric Banner</h2>
			</a>
			<p class="product-description">24” x 81” Fabric Standard Retractable Banner w/ hardware and case</p>
			<div class="product-button">
				<a class="product-btn" onclick="signsSite.addToCartNoRedirect('2c903684-0a74-4e47-b798-bf136abf93f4', 1);">Add to Cart</a>
			</div>

		</div>
		<div class="product-container">
			<a href="https://www.signs.com/myaccount/adddesigntocart/?designid=943d01d5-f8ec-41cb-8a48-9ec2d13f055c&quantity=1">
				<div class="img-wrap">
					<img
							class="product-image"
							src="https://www.signs.com/content/assets/filelibrary/Champions-Finalists-banner-8898.jpg"
							alt="Banner - Champ/Finalist"
					/>
				</div>
				<h2>USYF Champion and Finalist Banner</h2>
			</a>
			<p class="product-description">72” x 24” Championship/Finalists Banner</p>
			<div class="product-button">
				<a class="product-btn" onclick="signsSite.addToCartNoRedirect('943d01d5-f8ec-41cb-8a48-9ec2d13f055c', 1);">Add to Cart</a>
			</div>
		</div>
		<div class="product-container">
			<a href="https://www.signs.com/myaccount/adddesigntocart/?designid=ff89896f-aeb2-4ea2-8bbe-49a95fa784fb&quantity=1">
				<div class="img-wrap">
					<img
							class="product-image"
							src="https://www.signs.com/content/assets/filelibrary/3ftx3ft-logo-banner-8856.jpg"
							alt="Banner - Logo"
					/>
				</div>
				<h2>USYF Logo Banner</h2>
			</a>
			<p class="product-description">36"x36" USYF logo on white background</p>
			<div class="product-button">
				<a class="product-btn" onclick="signsSite.addToCartNoRedirect('ff89896f-aeb2-4ea2-8bbe-49a95fa784fb', 1);">Add to Cart</a>
			</div>
		</div>
		<div class="product-container">
			<a href="https://www.signs.com/myaccount/adddesigntocart/?designid=dadde461-adf4-4114-8b3f-fa37ebab71e4&quantity=5">
				<div class="img-wrap">
					<img
							class="product-image"
							src="https://www.signs.com/content/assets/filelibrary/Yard-sign2-8850.jpg"
							alt="Lawn Sign"
					/>
				</div>
				<h2>USYF Champion Series Lawn Sign</h2>
			</a>
			<p class="product-description">24” x 24” Championship Corrugated Plastic Sign w/Stake</p>
			<div class="product-button">
				<a class="product-btn" onclick="signsSite.addToCartNoRedirect('dadde461-adf4-4114-8b3f-fa37ebab71e4', 5);">Add to Cart</a>
			</div>
		</div>
		<div class="product-container">
			<a href="https://www.signs.com/myaccount/adddesigntocart/?designid=f70d217e-9ad9-4aba-a365-8aa9410a3705&quantity=5">
				<div class="img-wrap">
					<img
							class="product-image"
							src="https://www.signs.com/content/assets/filelibrary/Yard-sign1-8862.jpg"
							alt="Directional Sign"
					/>
				</div>
				<h2>USYF Entrance Direction Lawn Sign</h2>
			</a>
			<p class="product-description">24” x 18” Entrance Direction Lawn Sign w/ Stake</p>
			<div class="product-button">
				<a class="product-btn" onclick="signsSite.addToCartNoRedirect('f70d217e-9ad9-4aba-a365-8aa9410a3705', 5);">Add to Cart</a>
			</div>
		</div>
	</div>
</section>
<section class="section-products section-ai">
	<div class="standard-product-container">
		<h2 class="product-header-sub"> Additional Items </h2>
		<div class="product-container">
			<a href="https://www.signs.com/myaccount/adddesigntocart/?designid=9247ff21-3e12-47f6-9356-9719f1889a12&quantity=1">
				<div class="img-wrap">
					<img
							class="product-image product-image-md"
							src="https://www.signs.com/content/assets/filelibrary/poster-smaller-8864.jpg"
							alt="Poster"
					/>
				</div>
				<h2>Customizable Player Poster</h2>
			</a>
			<p class="product-description">24” x 36” Custom Poster.  Email Signs.com design team player photo or live web chat for help.</p>
			<div class="product-button">
				<a class="product-btn" onclick="signsSite.addToCartNoRedirect('9247ff21-3e12-47f6-9356-9719f1889a12', 1);">Add to Cart</a>
			</div>
		</div>
		<div class="product-container">
			<a href="https://www.signs.com/myaccount/adddesigntocart/?designid=c9261155-48a3-496b-abbf-db50425a13f0&quantity=1">
				<div class="img-wrap">
					<img
							class="product-image"
							src="https://www.signs.com/content/assets/filelibrary/Stickers-8859.jpg"
							alt="Stickers"
					/>
				</div>
				<h2>USYF Stickers</h2>
			</a>
			<p class="product-description">2” x 2” Event Stickers</p>
			<div class="product-button">
				<a class="product-btn" onclick="signsSite.addToCartNoRedirect('c9261155-48a3-496b-abbf-db50425a13f0', 1);">Add to Cart</a>
			</div>
		</div>
	</div>
</section>


<div class="flex-container">
	<h1 class="product-header">Championship Series Minimum</h1>
	<div class="product-container">
		<a href="https://www.signs.com/myaccount/adddesigntocart/?designid=6c60d101-44ba-4824-a5ca-eca665589859&quantity=1">
			<div class="img-wrap">
				<img
						class="product-image"
						src="https://www.signs.com/content/assets/filelibrary/Step-and-Repeat-8858.jpg"
						alt="Backdrop"
				/>
			</div>
			<h2>USYF Backdrop Fabric Wall</h2>
		</a>
		<p class="product-description">120"x96" Step and Repeat Backdrop w/ Stand and Case</p>
		<div class="product-button">
			<a class="product-btn" onclick="signsSite.addToCartNoRedirect('6c60d101-44ba-4824-a5ca-eca665589859', 1);">Add to Cart</a>
		</div>
	</div>
	<div class="product-container">
		<a href="https://www.signs.com/myaccount/adddesigntocart/?designid=7d5821ec-e7b8-4b33-9735-d2a900af6ac7&quantity=1">
			<div class="img-wrap">
				<img
						class="product-image"
						src="https://www.signs.com/content/assets/filelibrary/Table-Throw-8860.jpg"
						alt="Table Throw"
				/>
			</div>
			<h2>USYF Fabric Table Throw</h2>
		</a>
		<p class="product-description">72" Four-sided Fabric Table Throw </p>
		<div class="product-button">
			<a class="product-btn" onclick="signsSite.addToCartNoRedirect('7d5821ec-e7b8-4b33-9735-d2a900af6ac7', 1);">Add to Cart</a>
		</div>
	</div>
	<div class="product-container">
		<a href="https://www.signs.com/myaccount/adddesigntocart/?designid=2d2eb47e-45c4-4856-be83-b414d3139b4a&quantity=1">
			<div class="img-wrap">
				<img
						class="product-image"
						src="https://www.signs.com/content/assets/filelibrary/FeatherFlag2018DoubleSided-8852.jpg"
						alt="Feather Flag"
				/>
			</div>
			<h2>USYF Fabric Feather Flag</h2>
		</a>
		<p class="product-description">25” x 105” Double-Sided Feather Flag w/ hardware and case (Includes flat weighted base)</p>
		<div class="product-button">
			<a class="product-btn" onclick="signsSite.addToCartNoRedirect('2d2eb47e-45c4-4856-be83-b414d3139b4a', 1);">Add to Cart</a>
		</div>
	</div>
	<div class="product-container">
		<a href="https://www.signs.com/myaccount/adddesigntocart/?designid=36f29e24-9556-4a41-b2c3-f98a63860f7d&quantity=1">
			<div class="img-wrap">
				<img
						class="product-image"
						src="https://www.signs.com/content/assets/filelibrary/96x30-banner-8851.jpg"
				/>
			</div>
			<h2>USYF Champion Series Banner</h2>
		</a>
		<p class="product-description">96” x 30” Championship Series Banner</p>
		<div class="product-button">
			<a class="product-btn" onclick="signsSite.addToCartNoRedirect('36f29e24-9556-4a41-b2c3-f98a63860f7d', 1);">Add to Cart</a>
		</div>
	</div>
	<div class="product-container">
		<a href="https://www.signs.com/myaccount/adddesigntocart/?designid=c0ad2551-259f-47ad-9a80-e98e27406e55&quantity=1">
			<div class="img-wrap">
				<img
						class="product-image"
						src="https://www.signs.com/content/assets/filelibrary/Twist-Up-a-frame-8861.jpg"
						alt="A-Frame"
				/>
			</div>
			<h2>USYF Sideline A-Frame</h2>
		</a>
		<p class="product-description">84" x 36" Sidline Twist Up A-Frame w/ case</p>
		<div class="product-button">
			<a class="product-btn" onclick="signsSite.addToCartNoRedirect('65198919-757a-4863-86ed-cc9fe76137a5', 1);">Add to Cart</a>
		</div>
	</div>
	<h2 class="product-header-sub"> Brand Optional </h2>
	<div class="product-container">
		<a href="https://www.signs.com/myaccount/adddesigntocart/?designid=65198919-757a-4863-86ed-cc9fe76137a5&quantity=1">
			<div class="img-wrap">
				<img
						class="product-image"
						src="https://www.signs.com/content/assets/filelibrary/72x29-banner-TimeRef-8897.jpg"
						alt="Banner - Table"
				/>
			</div>
			<h2>USYF Time and Ref Table Banner</h2>
		</a>
		<p class="product-description">72” x 30” Vinyl Timeclock / Referee table and can be used with Backdrop</p>
		<div class="product-button">
			<a class="product-btn" onclick="signsSite.addToCartNoRedirect('77d9ec13-8f0f-498b-bf5b-b4df46cef46c', 1);">Add to Cart</a>
		</div>
	</div>
	<div class="product-container">
		<a href="https://www.signs.com/myaccount/adddesigntocart/?designid=69daf324-1fcd-4fe0-9d3b-9dc1f5e4ba09&quantity=1">
			<div class="img-wrap">
				<img
						class="product-image"
						src="https://www.signs.com/content/assets/filelibrary/PopUpTent-8853.jpg"
						alt="Tent"
				/>
			</div>
			<h2>USYF Event Tent</h2>
		</a>
		<p class="product-description">120"x120" Pop Up Tent w/ hardware and case</p>
		<div class="product-button">
			<a class="product-btn" onclick="signsSite.addToCartNoRedirect('69daf324-1fcd-4fe0-9d3b-9dc1f5e4ba09', 1);">Add to Cart</a>
		</div>
	</div>
	<div class="product-container">
		<a href="https://www.signs.com/myaccount/adddesigntocart/?designid=2c903684-0a74-4e47-b798-bf136abf93f4&quantity=1">
			<div class="img-wrap">
				<img
						class="product-image"
						src="https://www.signs.com/content/assets/filelibrary/Retractable-Banner2-8896.jpg"
						alt="Retractable Banner"
				/>
			</div>
			<h2>USYF Retractable Fabric Banner</h2>
		</a>
		<p class="product-description">24” x 81” Fabric Standard Retractable Banner w/ hardware and case</p>
		<div class="product-button">
			<a class="product-btn" onclick="signsSite.addToCartNoRedirect('2c903684-0a74-4e47-b798-bf136abf93f4', 1);">Add to Cart</a>
		</div>

	</div>
	<div class="product-container">
		<a href="https://www.signs.com/myaccount/adddesigntocart/?designid=943d01d5-f8ec-41cb-8a48-9ec2d13f055c&quantity=1">
			<div class="img-wrap">
				<img
						class="product-image"
						src="https://www.signs.com/content/assets/filelibrary/Champions-Finalists-banner-8898.jpg"
						alt="Banner - Champ/Finalist"
				/>
			</div>
			<h2>USYF Champion and Finalist Banner</h2>
		</a>
		<p class="product-description">72” x 24” Championship/Finalists Banner</p>
		<div class="product-button">
			<a class="product-btn" onclick="signsSite.addToCartNoRedirect('943d01d5-f8ec-41cb-8a48-9ec2d13f055c', 1);">Add to Cart</a>
		</div>
	</div>
	<div class="product-container">
		<a href="https://www.signs.com/myaccount/adddesigntocart/?designid=ff89896f-aeb2-4ea2-8bbe-49a95fa784fb&quantity=1">
			<div class="img-wrap">
				<img
						class="product-image"
						src="https://www.signs.com/content/assets/filelibrary/3ftx3ft-logo-banner-8856.jpg"
						alt="Banner - Logo"
				/>
			</div>
			<h2>USYF Logo Banner</h2>
		</a>
		<p class="product-description">36"x36" USYF logo on white background</p>
		<div class="product-button">
			<a class="product-btn" onclick="signsSite.addToCartNoRedirect('ff89896f-aeb2-4ea2-8bbe-49a95fa784fb', 1);">Add to Cart</a>
		</div>
	</div>
	<div class="product-container">
		<a href="https://www.signs.com/myaccount/adddesigntocart/?designid=dadde461-adf4-4114-8b3f-fa37ebab71e4&quantity=5">
			<div class="img-wrap">
				<img
						class="product-image"
						src="https://www.signs.com/content/assets/filelibrary/Yard-sign2-8850.jpg"
						alt="Lawn Sign"
				/>
			</div>
			<h2>USYF Champion Series Lawn Sign</h2>
		</a>
		<p class="product-description">24” x 24” Championship Corrugated Plastic Sign w/Stake</p>
		<div class="product-button">
			<a class="product-btn" onclick="signsSite.addToCartNoRedirect('dadde461-adf4-4114-8b3f-fa37ebab71e4', 5);">Add to Cart</a>
		</div>
	</div>
	<div class="product-container">
		<a href="https://www.signs.com/myaccount/adddesigntocart/?designid=f70d217e-9ad9-4aba-a365-8aa9410a3705&quantity=5">
			<div class="img-wrap">
				<img
						class="product-image"
						src="https://www.signs.com/content/assets/filelibrary/Yard-sign1-8862.jpg"
						alt="Directional Sign"
				/>
			</div>
			<h2>USYF Entrance Direction Lawn Sign</h2>
		</a>
		<p class="product-description">24” x 18” Entrance Direction Lawn Sign w/ Stake</p>
		<div class="product-button">
			<a class="product-btn" onclick="signsSite.addToCartNoRedirect('f70d217e-9ad9-4aba-a365-8aa9410a3705', 5);">Add to Cart</a>
		</div>
	</div>
	<h2 class="product-header-sub"> Additional Items </h2>
	<div class="product-container">
		<a href="https://www.signs.com/myaccount/adddesigntocart/?designid=9247ff21-3e12-47f6-9356-9719f1889a12&quantity=1">
			<div class="img-wrap">
				<img
						class="product-image"
						src="https://www.signs.com/content/assets/filelibrary/poster-smaller-8864.jpg"
						alt="Poster"
				/>
			</div>
			<h2>Customizable Player Poster</h2>
		</a>
		<p class="product-description">24” x 36” Custom Poster.  Email Signs.com design team player photo or live web chat for help.</p>
		<div class="product-button">
			<a class="product-btn" onclick="signsSite.addToCartNoRedirect('9247ff21-3e12-47f6-9356-9719f1889a12', 1);">Add to Cart</a>
		</div>
	</div>
	<div class="product-container">
		<a href="https://www.signs.com/myaccount/adddesigntocart/?designid=c9261155-48a3-496b-abbf-db50425a13f0&quantity=1">
			<div class="img-wrap">
				<img
						class="product-image"
						src="https://www.signs.com/content/assets/filelibrary/Stickers-8859.jpg"
						alt="Stickers"
				/>
			</div>
			<h2>USYF Stickers</h2>
		</a>
		<p class="product-description">2” x 2” Event Stickers</p>
		<div class="product-button">
			<a class="product-btn" onclick="signsSite.addToCartNoRedirect('c9261155-48a3-496b-abbf-db50425a13f0', 1);">Add to Cart</a>
		</div>
	</div>
</div>


