/* Typography */

h2 {
    font-family: 'proxima nova', sans-serif;
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: normal;
}


/* Section Banner */

.section-image img {
    width: 100%;
    height: auto;
}


/* Section Products */

.flex-container {
    display: flex;
    flex-wrap: wrap;
    margin: 0px;
    padding: 0%;
    justify-content: center;
    flex-flow: row wrap;
    box-sizing: border-box;
}

.flex-container * {
    box-sizing: border-box;
}

.product-header {
    width: 100%;
    margin-bottom: 28px;
    font-weight: 600;
    font-size: 2em;
    padding: 4vh 0 1vh 0;
    text-align: center;
}

.product-header-sub {
    width: 100%;
    text-align: center;
    font-size: 32px;
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 50px;
}

.product-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20px 75px;
    flex: 0 0 auto;
    max-width: 380px;
}

.product-container>a {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

.product-container .img-wrap {
    position: relative;
    width: 100%;
    max-width: 230px;
    height: 300px;
    margin: 0 auto;
    text-align: center;
}

.product-image {
    display: block;
    margin: 0 auto 0;
    width: 100%;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
}

.product-btn {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 5;
    -moz-border-radius: 5;
    border-radius: 5px;
    color: #ffffff;
    font-size: 16px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    font-family: 'proxima nova', sans-serif;
    display: inline-block;
}

.product-btn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
}

.product-container h2 {
    font-family: 'proxima nova', sans-serif;
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 5px;
    font-weight: normal;
    color: #11284A;
    text-align: center;
}

.product-description {
    text-align: center;
    font-family: 'proxima nova', sans-serif;
    font-size: 15px;
    margin-bottom: 20px;
    min-height: 30px;
}

.product-button {
    display: flex;
    flex-direction: row;
    margin: auto;
}

.section-image {
    font-size: 0;
}

.section-products,
.section-products * {
    box-sizing: border-box;
    font-size: 15px;
}

.section-products {
    padding: 45px 0 0;
}

.standard-product-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.product-header,
.product-header-sub {
    font-size: calc(.1vw + 2em);
    padding: 0 20px;
    margin: 0 0 20px;
}

.product-container {
    width: calc(100vw / 5);
    display: inline-block;
    text-align: center;
    /* height: auto; */
    display: inline-block;
    max-height: initial;
    padding-bottom: 0;
    margin-bottom: 50px;
    display: inline-flex;
}

.product-container h2 {
    font-size: calc(.4vw + 1.5em);
    margin: 0;
    min-height: 60px;
}

.product-button {
    display: inline-block;
    /* height: auto; */
    flex: 0 0 auto;
    /* align-self: flex-end; */
    /* justify-self: flex-end; */
    /* margin-top: auto; */
    margin: auto 0 0;
}

.product-image-md {
    max-width: 85%;
    max-height: 85%;
}

@media(max-width: 1366px) {
    .product-container h2 {
        font-size: calc(.3vw + 1.5em);
    }
    .product-description {
        min-height: 45px;
    }
}

@media(max-width: 1280px) {
    .product-container h2 {
        font-size: calc(.15vw + 1.5em);
        min-height: 50px;
    }
    .product-description {
        min-height: 60px;
    }
}

@media(max-width: 1199px) {
    .product-container {
        width: calc(100vw / 3);
    }
    .product-description {
        min-height: 45px;
    }
}

@media(max-width: 991px) {
    .standardWidth {
        margin-top: 70px;
    }
    .product-container {
        width: calc(100vw / 2);
    }
}

@media(max-width: 425px) {
    .product-container {
        display: block;
        width: calc(100vw / 1);
    }
    .product-container h2 {
        min-height: initial;
    }
    .product-description {
        min-height: initial;
    }
}

@media(max-width: 320px) {
    .product-container {
        width: 100%;
    }
}