<!-- Hero Section -->
<section class="section-hero-full-width">
  <div class="hero-head">
    <h1>Custom Table Runners</h1>
    <ul class="hero-list">
      <li class="hero-list-item">Personalized Design</li>
      <li class="hero-list-item">Quick and Easy Order & Delivery</li>
      <li class="hero-list-item">Long Lasting</li>
    </ul>
  </div>
  <div class="hero-body">
    <div class="hero-img-wrap">
      <img
        class="hero-img"
        src="https://www.signs.com/content/assets/filelibrary/Nautical-Travel-with-pattern-1969-8681.jpg"
        alt="Custom Table Runners"
      />
    </div>
  </div>
  <div class="hero-footer">
    <p class="hero-phrase">
      *Table cloth not included
    </p>
  </div>
</section>
<!-- View FAQ -->
<div class="faq-search-links">
  <a href="#product-faq" class="scroll-link"
    >View all FAQ's<span class="caret"></span
  ></a>
</div>
<!-- What are Wooden Signs? -->
<section class="section-default section-what-are sectionComeGo_js">
  <div class="standard-container">
    <div class="what-are-content-wrap comeGoChildWrap_js">
      <h2>What is a Table Runner</h2>
      <p>
        Our Custom table runners are the perfect accessory to add to your
        display. They are made from 6.8 oz polyester fabric and rest across the
        top of a table. Usually, display table runners are laid on top of a
        tablecloth or table throw. Trade show table runners are commonly laid in
        the middle of the table so the front of the table runner covers the
        front end of the table. Use a table runner to make your display stand
        out, brand your table set up in an elegant way or for personal use at a
        wedding or other special event. Signs.com table runners are 90” in
        length and are available in widths ranging from 24” to 60”.
      </p>
    </div>
    <div class="what-are-img-wrap comeGoImageWrap_js">
      <img
        src="https://www.signs.com/content/assets/filelibrary/Architecutre-runner-long-8682.jpg"
        alt="Table Runners"
      />
    </div>
  </div>
</section>
<!-- Section Features -->
<section class="section-default section-signs-features" id="featuredSection_js">
  <div class="standard-container">
    <h2>X Banner Stand Features</h2>
    <div class="featured-body">
      <div class="featured-img-wrap">
        <img
          src="https://www.signs.com/content/assets/filelibrary/Education-shadowed-x-banners-8648.jpg"
          alt="X Banner Stand Features"
        />
      </div>
      <ul class="signs-featured-list">
        <li class="signs-featured-item">
          <h3>
            Made from 13oz Vinyl
          </h3>
          <p>
            All of our X Banners are printed on strong and durable 13oz Vinyl
          </p>
          <img
            src="https://www.signs.com/content/assets/filelibrary/Made-from-13oz-Vinyl-8652.png"
            alt="Made from 13oz Vinyl"
          />
        </li>
        <li class="signs-featured-item">
          <h3>Full Color Digital Printing</h3>
          <p>
            Print your X Stand Banner using any combinations of colors at not
            additional charge. Each graphic is printed using world-class
            printers and industry-leading technology.
          </p>
          <img
            src="https://www.signs.com/content/assets/filelibrary/Full-Color-Digital-Printing-8650.png"
            alt="Full Color Digital Printing"
          />
        </li>
        <li class="signs-featured-item">
          <h3>Aluminum & Fiberglass Stand</h3>
          <p>
            The X stand is made of fiberglass-reinforced aluminum. This provides
            the flexibility needed to tightly display the graphic all while
            acting as a sturdy display for any indoor event.
          </p>
          <img
            src="https://www.signs.com/content/assets/filelibrary/Aluminum-Fiberglass-Stand-8649.png"
            alt="Aluminum & Fiberglass Stand"
          />
        </li>
        <li class="signs-featured-item">
          <h3>Quick & Easy Attachment</h3>
          <p>
            Set up and attachment could not be easier for the X Banner and stand
            we provide. The stand sets up naturally and then the 4 grommets on
            the corners of the banner attach immediately to each corresponding
            hook on the stand.
          </p>
          <img
            src="https://www.signs.com/content/assets/filelibrary/Quick-Easy-Attachment-8651.png"
            alt="Quick & Easy Attachment"
          />
        </li>
      </ul>
    </div>
  </div>
</section>
<!-- Section Sign Features-->
<section class="section-default section-signs-features">
  <div class="standard-container">
    <h2>Table Runner Features</h2>
    <div class="featured-body">
      <div class="featured-img-wrap">
        <img
          src="https://www.signs.com/content/assets/filelibrary/Table-Runner-Features-8689.jpg"
          alt="Table Runner Features"
        />
      </div>
      <ul class="signs-featured-list">
        <li class="signs-featured-item">
          <h3>
            Custom Print
          </h3>
          <p>
            Print any design on all parts of the table runner in full color. Get
            creative with different designs or keep it professional with a
            branded logo and solid colors.
          </p>
          <img
            src="https://www.signs.com/content/assets/filelibrary/Custom-print-8684.png"
            alt="Custom Print"
          />
        </li>
        <li class="signs-featured-item">
          <h3>Vibrant Colors</h3>
          <p>
            Use any color on your custom printed table runner to make your
            display pop. It can complement your table cloth or mix with your
            design for a fun look.
          </p>
          <img
            src="https://www.signs.com/content/assets/filelibrary/Vibrant-colors-8686.png"
            alt="Vibrant Colors"
          />
        </li>
        <li class="signs-featured-item">
          <h3>Rolled Hem</h3>
          <p>
            The edge of each personalized table runner is sewn with a rolled
            hem, creating a professional appearance around the edges and
            safeguarding against rips and tears.
          </p>
          <img
            src="https://www.signs.com/content/assets/filelibrary/Rolled-hem-8688.png"
            alt="Rolled Hem"
          />
        </li>
        <li class="signs-featured-item">
          <h3>
            Durable Material
          </h3>
          <p>
            Our custom table runners are created from a 6.8 oz polyester
            material that is both lightweight and durable.
          </p>
          <img
            src="https://www.signs.com/content/assets/filelibrary/Durable-material-8687.png"
            alt="Durable Material"
          />
        </li>
        <li class="signs-featured-item">
          <h3>Versatility</h3>
          <p>
            Pair your custom table runner with a table throw or use it as a
            stand alone display piece. Either way, you’ll have a professional
            look for your trade show or event table.
          </p>
          <img
            src="https://www.signs.com/content/assets/filelibrary/Versatility-8685.png"
            alt="Versatility"
          />
        </li>
      </ul>
    </div>
  </div>
</section>
<!-- Why signs -->
<section class="section-default section-why-signs">
  <div class="standard-container">
    <h2>Why Signs.com?</h2>
    <ul class="why-signs-list">
      <li class="why-signs-list-item">
        <img
          src="https://www.signs.com/content/assets/filelibrary/running-8309.jpg"
          alt="Next Day Production"
        />
        <h3>Next Day Production</h3>
        <p>
          Order by 5PM EST and we’ll have your table runner completed and
          shipped within 2-4 business days.
        </p>
      </li>
      <li class="why-signs-list-item">
        <img
          src="https://www.signs.com/content/assets/filelibrary/box-8310.jpg"
          alt="Free Shipping over $75*"
        />
        <h3>Free Shipping over $75*</h3>
        <p>
          For custom table runner orders over $75 your order ships free!
        </p>
        <span class="extra">
          *Excludes rigid signs over 36”in either dimension.
        </span>
      </li>
      <li class="why-signs-list-item">
        <img
          src="https://www.signs.com/content/assets/filelibrary/star-8311.jpg"
          alt="Winning ribbon icon"
        />
        <h3>100% Satisfaction</h3>
        <p>
          We guarantee you’ll love your custom table runner. If you don’t, we’ll
          be sure to make it right.
        </p>
      </li>
    </ul>
  </div>
</section>
<!-- Digital Printing -->
<section class="section-default section-digital-printing sectionComeGo_lg_js">
  <div class="standard-container">
    <div class="content-wrap comeGoChildWrap_lg_js">
      <h2>Full Color Digital Printing</h2>
      <p>
        Our table runners are available in all colors thanks to our full color
        digital printing. We can print any and all of your desired colors on
        surface of the table runner, as well as with your desired logo or image.
      </p>
    </div>
    <div class="img-wrap comeGoImageWrap_lg_js">
      <img
        src="https://www.signs.com/content/assets/filelibrary/Repeat-Grid-1-8691.png"
        alt="Full Color Digital Printing"
      />
    </div>
  </div>
</section>
<!-- Section Multi-Side Printing -->
<section class="section-default section-multi-side-printing">
  <div class="standard-container">
    <h2>Multi-Side Printing</h2>
    <p>
      Many people print on one side of the table runner to hang over the front
      of the table. Others print on both ends of the table runner for event
      spaces that could be approached from both sides of the table. You can even
      print in the middle of the table runner to have your logo on the top of
      the table.
    </p>
    <div class="img-wrap">
      <img
        src="https://www.signs.com/content/assets/filelibrary/Tech-front-and-back-mock-up-8692.jpg"
        alt="Multi-Side Printing"
      />
    </div>
  </div>
</section>
<!-- Wide Range of Sizes -->
<section class="section-default section-wide-range">
  <div class="standard-container">
    <div class="img-wrap">
      <img
        src="https://www.signs.com/content/assets/filelibrary/Sizing-Illustration-01-8733.jpg"
        alt="Wide Range of Sizes"
      />
      <div class="img-details">
        <span class="based">* Based on an 8' Table</span>
        <span class="lenght">* All table runners are 90" long</span>
      </div>
    </div>
    <div class="content-wrap">
      <h2>Wide Range of Sizes</h2>
      <p>
        Due to varying table dimensions and shapes, we offer seven different
        table runner sizes. That is why we offer seven different table runner
        sizes, which are all 90” in length and vary in width from 24” to 60”.
        Use your design idea and table size to determine if you would prefer a
        wider or more narrow table runner.
      </p>
    </div>
  </div>
</section>
<!-- Section Additional Specs-->
<section class="section-default section-additional-specs">
  <div class="standard-container">
    <h2>Additional Specs</h2>
    <ul class="additional-specs-list">
      <li>
        <h3>Weight:</h3>
        <p>
          0.7 lbs (24”x90”)
        </p>
      </li>
      <li>
        <h3>Thickness:</h3>
        <p>
          6.8 oz. polyester fabric (about the thickness of 5 sheets of copy
          paper)
        </p>
      </li>
      <li>
        <h3>Details:</h3>
        <p>
          6.8 oz. polyester table runner
        </p>
      </li>
      <li>
        <h3>Uses:</h3>
        <p>
          Can be displayed indoors and outdoors (in calm weather conditions).
          Uses include: trade show display or conference tables, event check-in
          stations, job fairs, and seasonal displays
        </p>
      </li>
      <li>
        <h3>Print Method:</h3>
        <p>
          Full color dye sublimation printing process
        </p>
      </li>
      <li>
        <h3>Estimated Lifespan:</h3>
        <p>3+ years with proper placement and care</p>
      </li>

      <li>
        <h3>Common Sizes</h3>
        <p>
          Varying widths measured in 6” increments from 24”x 90” to 60”x 90”
        </p>
      </li>
    </ul>
  </div>
</section>
<!-- Table Runner Care Guide -->
<section class="section-default section-care-guide">
  <div class="standard-container">
    <h2>Table Runner Care Guide</h2>
    <ul class="care-guide-list">
      <li class="care-guide-item">
        <div class="img-wrap">
          <img
            src="https://www.signs.com/content/assets/filelibrary/stem-8695.jpg"
            alt="Steam"
          />
        </div>
        <div class="content-wrap">
          <h3>Steam</h3>
          <p>
            One of the first things to consider when using your table runner or
            taking it out of storage is removing any wrinkles. As with most
            fabrics, table runners will wrinkle when folded or stored over a
            period of time. However, with the use of a household steamer you can
            easily remove these small creases and have your table runner ready
            for presentation in a few short minutes. Simply follow the
            manufacturer’s directions that come with your handheld steamer of
            choice. Be sure to exercise caution when using these appliances they
            have the ability to burn and cause injury when not used properly.
            You can find steamers at most major household stores or online. Do
            not iron your table runner as this will result in damage.
          </p>
        </div>
      </li>
      <li class="care-guide-item">
        <div class="img-wrap">
          <img
            src="https://www.signs.com/content/assets/filelibrary/Laundry-Detergent-8726.jpg"
            alt="Wash"
          />
        </div>
        <div class="content-wrap">
          <h3>Wash</h3>
          <p>
            Your table runner may become dirty throughout the course of using it
            at multiple trade shows or events. One of the easiest ways to clean
            small surface marks is to wipe them away with a damp cloth. However,
            this may not always result in the desired level of cleanliness. In
            these cases, use a machine washer to clean the table runner. Be sure
            to run the wash on a delicate cycle as to not ruin the fabric. To
            dry, hang the table runner and let it air dry. If you need to use a
            dryer, be sure to tumble dry at the lowest heat setting. Do not use
            fabric softeners. Remove the table runner from the dryer immediately
            to avoid wrinkling.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>

<!-- Design tool and services -->
<section class="section-default design-services">
  <div class="standard-container">
    <div class="myrow">
      <div class="design-services-group">
        <h2 class="design-services-heading">Easy to Use <br />Design Tool</h2>
        <div class="img-wrap">
          <img
            class="design-services-image"
            src="https://www.signs.com/content/assets/filelibrary/X-Banner-Design-Tool-8655.png"
            alt="Design Tool for X Stand Banners"
          />
        </div>

        <p class="design-services-text">
          Create your custom X Stand Banner signs with our simple and easy
          design tool. Upload images, create objects, add text, adjust sizing,
          change color, and so much more!
        </p>
        <a href="https://www.signs.com/design/?productID=54">Check It Out</a>
      </div>

      <div class="design-services-group">
        <h2 class="design-services-heading">
          Free Professional <br />
          Design Services
        </h2>
        <div class="img-wrap">
          <img
            class="design-services-image"
            src="https://www.signs.com/content/assets/filelibrary/Design-Services-8625.jpg"
            alt="Design Services for X Stand Banners"
          />
        </div>

        <p class="design-services-text">
          Whether you need help uploading your design or are interested in
          creating something entirely new, our team of professional graphic
          designers is here to help. Nothing beats free!
        </p>
        <a href="https://www.signs.com/design-services/">Learn More</a>
      </div>
    </div>
  </div>
</section>

<!-- Section Related Products -->
<section class="section-default section-related-products">
  <div class="standard-container">
    <h2>Related Products</h2>
    <a href="/table-throws/">
      <figure>
        <div class="img-wrap">
          <img
            src="https://www.signs.com/content/assets/filelibrary/TableThrow-TopNav-8732.jpg"
            alt="Table Throw"
          />
        </div>
        <figcaption>Table Throw</figcaption>
      </figure>
    </a>
    <a href="/stretch-table-covers/">
      <figure>
        <div class="img-wrap">
          <img
            src="https://www.signs.com/content/assets/filelibrary/StretchTableCover-Hero-8731.jpg"
            alt="Stretch Table Cover"
          />
        </div>

        <figcaption>Stretch Table Cover</figcaption>
      </figure>
    </a>
    <a href="/trade-show-signs/">
      <figure>
        <div class="img-wrap">
          <img
            src="https://www.signs.com/content/assets/filelibrary/Illustration-Mock-up-2-8730.jpg"
            alt="Trade Show Products"
          />
        </div>
        <figcaption>Trade Show Products</figcaption>
      </figure>
    </a>
  </div>
</section>
<!-- FAQ Section -->
<div id="faq" class="section-default faqmain">
  <div class="standard-container">
    <div class="faq-section-header">Product Specs</div>
    <ul class="signs-faq-seed">
      <li>
        <span
          >Do table runners fit a certain size of table? What sizes of tables
          are recommended?</span
        >
      </li>
      <li>
        <span
          >Table runners are specifically designed to fit standard sized tables
          (6 ft. or 8 ft. table) running width wise on the table. Technically,
          table runners can be placed on any table, but we recommend that you
          place runners on tables with a width and height of 2.5 ft. When using
          such tables your custom table runner, regardless of width, should hang
          from the floor on one side, across the table and to the floor on the
          other side. </span
        ><span></span><span></span
        ><span
          >If running lengthwise on a 6 ft. table, you will have an extra
          9&rdquo; off either end of your table. On a standard 8 ft. table the
          table runner will not run the entire length of the table due to the
          90&rdquo; maximum length of all our table runners. &nbsp;</span
        ><span></span>
      </li>
      <li dir="ltr">
        <span>Do your table runners have the ability to stretch?</span>
      </li>
      <li dir="ltr">
        <span
          >Table runners are not designed to stretch. Do not try to stretch the
          runner to increase its length; this could damage the product. Products
          that we offer that incorporate fabric that can stretch include </span
        ><a
          style="color: #3fa9f5;"
          href="https://www.signs.com/pop-up-displays/"
          ><span>pop up displays</span></a
        ><span> and </span
        ><a
          style="color: #3fa9f5;"
          href="https://www.signs.com/tension-fabric-displays/"
          ><span>tension fabric displays</span></a
        ><span>. </span>
      </li>
      <li dir="ltr">
        <span
          >What&rsquo;s the difference between a table runner and a table throw?
          A tablecloth? A table cover?
        </span>
      </li>
      <li dir="ltr">
        <span
          >All of these terms refer to separate products that are designed to
          cover a table and are sometimes used interchangeably. Though similar
          in application, these products are not the same. </span
        ><span></span><span></span
        ><span
          >Tablecloths and table covers are usually used as protective cover for
          tables at parties and gatherings, preventing food and drink from
          damaging the table top. Tablecloths usually only hang over the front,
          back, and sides of the table a few inches. These tend to be more
          decorative and are more often used in home settings.</span
        ><span></span><span></span
        ><span
          ><span
            >&nbsp;Both table runners and
            <a
              style="color: #3fa9f5;"
              href="https://www.signs.com/table-throws/"
              >table throws</a
            >
            are specifically designed for business marketing at trade shows and
            events.</span
          ></span
        >
        <p>&nbsp;</p>
        <span
          >Table runners may be confused with table throws, but the two products
          do differ from one another. Table runners do not cover the entire
          surface of the table; they are long pieces of material (ours range
          from 24&rdquo; x 90&rdquo; to 60&rdquo; x 90&rdquo;) with a
          company&rsquo;s logo or design that is displayed across the center of
          the table.</span
        ><span></span><span></span
        ><span
          >&nbsp;Table runners are meant to be draped over tables that already
          have a tablecloth, table throw, or table cover on it (runners may be
          draped over tables without a cover as well).</span
        ><span></span><span></span
        ><span
          >&nbsp;Table throws are designed to cover the entire table, being
          draped over the front, back, and sides of the table. In a business or
          event setting, this allows for storage or marketing materials, bags,
          etc. to be stored under the table during exhibiting hours. Unlike a
          tablecloth, table throws are specifically designed for use at trade
          shows and business events and are not designed for everyday or party
          use.
        </span>
      </li>
      <li dir="ltr">
        <span
          >What material is the table runner made of? Are there any other
          materials available for table runners?
        </span>
      </li>
      <li dir="ltr">
        <span
          >Our table runners are constructed of a 6.8 polyester, a lightweight
          and durable material that can be easily folded and displayed. This
          material is ideal for table runners because of its professional
          appearance and portability. We do not offer any other available
          materials for table runners.</span
        >
      </li>
      <li dir="ltr">
        <span
          >How thick are your table runners? Do you offer any other thickness
          options?</span
        >
      </li>
      <li dir="ltr">
        <span
          >We currently offer 6.8 oz polyester table runners. The material is
          0.49 mm thick or about the thickness of 5 sheets of copy paper. We do
          not offer any other thickness at the time.</span
        >
      </li>
      <li dir="ltr">
        <span
          >What are the minimum and maximum dimensions of your table
          runners?</span
        >
      </li>
      <li dir="ltr">
        <span
          >We offer our table runners in sizes ranging from 24&rdquo; x
          90&rdquo; to 60&rdquo; x 90&rdquo; in increments of 6&rdquo; for the
          width of the runner. If you are interested in a different size please </span
        ><a style="color: #3fa9f5;" href="https://www.signs.com/contact-us"
          ><span>contact us</span></a
        ><span>
          to inquire about offline availability of your preferred size.</span
        ><span>What colors do you offer for your table runners?</span
        ><span></span
        ><span
          >Any color is available for your table runner to be printed in. This
          includes the branded portion of your design, graphics, type, and
          more.</span
        >
      </li>
      <li dir="ltr"><span>Do you print double-sided table runners?</span></li>
      <li dir="ltr">
        <span
          >We only offer single-sided printing for our table runners. The design
          can cover the entire surface of the runner.</span
        >
      </li>
      <li dir="ltr"><span>Do you offer circular table runners?</span></li>
      <li dir="ltr">
        <span
          >At this time we only offer table runners that fit on rectangular
          tables. A table runner can be placed on a small, circular table, but
          this can affect the visual appearance of the runner. We recommend only
          using a table runner on a rectangular table.</span
        >
      </li>
      <li dir="ltr"><span>Will my table runner have seams?</span></li>
      <li dir="ltr">
        <span
          >There are no visible seams on the table runner. There is stitching
          present on the sides of the runner, but it will not affect the design
          portion of your table runner.</span
        >
      </li>
      <li dir="ltr"><span>Are your table runners pleated? </span></li>
      <li dir="ltr">
        <span>The table runners we offer are not pleated.</span>
      </li>
      <li dir="ltr">
        <span>Are the edges of your table runners hemmed? </span>
      </li>
      <li dir="ltr">
        <span
          >Yes, the edges of the table runner will be hemmed. Though the
          stitching is visible on the sides of the runner, it is subtle and will
          not affect the design area. The visual appearance of the table runner
          will not be impacted because of this stitching.</span
        >
      </li>
      <li dir="ltr">
        <span
          >What kind of printing process do you use for your table
          runners?</span
        >
      </li>
      <li dir="ltr">
        <span
          >The design portion of your table runner will be printed using a dye
          sublimation process. This process permanently dyes the design into the
          material, increasing the durability and vibrancy of the printed area.
          Because the ink is absorbed into the material, there is no need to
          worry about chipping or peeling of the ink from the material. This
          printing process also makes the table runner machine washable.</span
        >
      </li>
      <li dir="ltr">
        <span>Are the table runners a matte or gloss finish?</span>
      </li>
      <li dir="ltr">
        <span>Your table runner will have a matte finish.</span>
      </li>
      <li dir="ltr">
        <span
          >Should I be concerned about the table runner ripping or tearing?
        </span>
      </li>
      <li>
        There should be no need to worry about your table runner ripping or
        tearing when you properly display and store the product. As with any
        fabric material, sharp objects can pierce or rip the material. We
        recommend that you do not place any sharp objects on top of the table
        runner. Avoid storing the runner in areas where sharp objects or edges
        may tear the material.
      </li>
    </ul>
    <div class="faq-section-header">Usage</div>
    <ul class="signs-faq-seed">
      <li dir="ltr"><span>Can I use table runners outdoors?</span></li>
      <li dir="ltr">
        <span
          >Yes, table runners can be used outdoors. We recommend only using
          outdoors in fair weather conditions, without wind or precipitation of
          any kind.
        </span>
      </li>
      <li dir="ltr">
        <span>What are typical uses for your table runner?</span>
      </li>
      <li dir="ltr">
        <span
          >Table runners are designed to add branding, product information, and
          company information to any trade show or event table. Table runners
          are typically used for business and promotional use and trade shows,
          conferences, job fairs, and seasonal events. Table runners are perfect
          for limited time sales, product launches, and sponsorship
          branding.</span
        >
      </li>
      <li dir="ltr"><span>Are your table runner weather resistant?</span></li>
      <li dir="ltr">
        <span
          >Table runners are not weather resistant, nor do we recommend
          displaying outdoors in inclement weather. Displaying in such
          conditions could damage the product. If the table throw is exposed to
          water, wash immediately after use to prevent mold and mildew
          forming.</span
        >
      </li>
      <li dir="ltr"><span>Are table runners fire resistant?</span></li>
      <li dir="ltr">
        <span
          >Your table throw is printed onto a flame retardant material that
          meets NFPA 701 SMALL SCALE. That said, we
          <strong>strongly</strong> recommend keeping your table throw away from
          any open flame or heat source.</span
        >
      </li>
      <li dir="ltr">
        <span
          >Do your table runners come pre-treated with a stain resistant
          coat?</span
        >
      </li>
      <li dir="ltr">
        <span
          >Our table runners are not treated with any special stain resistant
          coat.
        </span>
      </li>
      <li dir="ltr">
        <span
          >Is there a way to secure the table runner to the table so it does not
          slip off? Can I use rope or string to secure my table runner to a
          table?</span
        >
      </li>
      <li dir="ltr">
        <span
          >Table runners are designed to remain in place when displayed on a
          table without the need to secure it. The weight of the throw will keep
          it stationary without the use of tape, rope, or string. If needed, the
          materials mentioned can be used to keep the table runner in place if
          desired.</span
        >
      </li>
      <li dir="ltr">
        <span
          >Will the design on my display fade over time? Is it able to be
          scratched off?</span
        >
      </li>
      <li>
        You will not need to worry about your design being faded or scratched
        off when properly displayed and stored. The dye sublimation process
        permanently infuses the ink into the material, preventing the ink from
        being damaged with proper care.
      </li>
    </ul>
    <div class="faq-section-header">Installation & Care</div>
    <ul class="signs-faq-seed">
      <li dir="ltr">
        <span>How do I set up my table runner?</span><span></span>
      </li>
      <li dir="ltr">
        <span
          >Placing your table runner on a table can be done in seconds. Simply
          unfold the runner and place it on the table (aesthetically, the middle
          of the table is recommended, but it can be placed anywhere you
          desire). Adjust the runner to ensure that it is aligned
          properly.</span
        ><span></span>
      </li>
      <li dir="ltr">
        <span>How do I store my table runner?</span><span></span>
      </li>
      <li dir="ltr">
        <span
          >Store the table runner by neatly folding it, then placing it in a
          hard container or bin to prevent any damage while being stored or
          transported.</span
        ><span><br class="kix-line-break"/></span><span></span>
      </li>
      <li dir="ltr">
        <span>My table runner is wrinkled - how do I remove the wrinkles?</span
        ><span></span>
      </li>
      <li dir="ltr">
        <span
          >Wrinkles can be removed by using a hand steamer. Do not use an iron
          to remove the wrinkles or a tumble dryer; both of these methods can
          damage the table runner.</span
        ><span></span>
      </li>
      <li dir="ltr">
        <span
          >How do I wash my table runner? Can I use a washing machine to clean
          it? What about a tumble dryer to dry it?</span
        ><span></span>
      </li>
      <li>
        In most cases, a simple, damp cloth will remove surface dirt from the
        table runner. For difficult to remove stains, the runner can be machine
        washed with cold water on a low or gentle cycle. After washing, air dry
        the product by hanging or laying it out. If you need to machine dry your
        table runner, tumble dry at the lowest heat setting and do not mix with
        other textiles. Do not iron or bleach the table runner.
      </li>
    </ul>
  </div>
</div>

<script>
  /* Create Gallery Image Section */
  var namelessDiv1 = document.createElement("div");
  namelessDiv1.setAttribute("class", "section-default section-gallery-image");
  /* Edit this one where you put the image slider!!! */
  var sectionDesignServices = document.querySelector(
    ".section-additional-specs + .standard-separator"
  );
  sectionDesignServices.after(namelessDiv1);
  /* Create Standard Container */
  var sectionGalleryImage = document.querySelector(".section-gallery-image");
  var namelessDiv2 = document.createElement("div");
  namelessDiv2.setAttribute("class", "standard-container");
  sectionGalleryImage.appendChild(namelessDiv2);
  /* Create Section Title */
  var standardContainerGallery = document.querySelector(
    ".section-gallery-image > .standard-container"
  );
  var sectionTitle = document.createTextNode("Image Gallery");
  var titleTag = document.createElement("h2");
  titleTag.appendChild(sectionTitle);
  standardContainerGallery.appendChild(titleTag);
  /* Move gallery slider */
  var imageGallery2019 = document.querySelector(".image-gallery-2019");
  standardContainerGallery.appendChild(imageGallery2019);
</script>
<script>
  window.onresize = function() {
    var x;
    var sectionComeGo = document.querySelectorAll(".sectionComeGo_js");
    for (x = 0; x < sectionComeGo.length; x++) {
      if (window.innerWidth <= 1199) {
        var movingSectionTitle = document.querySelectorAll(
          ".comeGoChildWrap_js > h2"
        )[x];

        var comeGoImageWrap = document.querySelectorAll(".comeGoImageWrap_js")[
          x
        ];
        movingSectionTitle.after(comeGoImageWrap);
      } else {
        var comeGoChildWrap = document.querySelectorAll(".comeGoChildWrap_js")[
          x
        ];
        var comeGoImageWrap = document.querySelectorAll(".comeGoImageWrap_js")[
          x
        ];
        comeGoChildWrap.after(comeGoImageWrap);
      }
    }
  };
  var x;
  var sectionComeGo = document.querySelectorAll(".sectionComeGo_js");
  for (x = 0; x < sectionComeGo.length; x++) {
    if (window.innerWidth <= 1199) {
      var movingSectionTitle = document.querySelectorAll(
        ".comeGoChildWrap_js > h2"
      )[x];
      var comeGoImageWrap = document.querySelectorAll(".comeGoImageWrap_js")[x];
      movingSectionTitle.after(comeGoImageWrap);
    } else {
      var comeGoChildWrap = document.querySelectorAll(".comeGoChildWrap_js")[x];
      var comeGoImageWrap = document.querySelectorAll(".comeGoImageWrap_js")[x];
      comeGoChildWrap.after(comeGoImageWrap);
    }
  }
</script>
<script>
  window.onresize = function() {
    var x;
    var sectionComeGo = document.querySelectorAll(".sectionComeGo_md_js");
    for (x = 0; x < sectionComeGo.length; x++) {
      if (window.innerWidth <= 991) {
        var movingSectionTitle = document.querySelectorAll(
          ".comeGoChildWrap_md_js > h2"
        )[x];

        var comeGoImageWrap = document.querySelectorAll(
          ".comeGoImageWrap_md_js"
        )[x];
        movingSectionTitle.after(comeGoImageWrap);
      } else {
        var comeGoChildWrap = document.querySelectorAll(
          ".comeGoChildWrap_md_js"
        )[x];
        var comeGoImageWrap = document.querySelectorAll(
          ".comeGoImageWrap_md_js"
        )[x];
        comeGoChildWrap.after(comeGoImageWrap);
      }
    }
  };
  var x;
  var sectionComeGo = document.querySelectorAll(".sectionComeGo_md_js");
  for (x = 0; x < sectionComeGo.length; x++) {
    if (window.innerWidth <= 991) {
      var movingSectionTitle = document.querySelectorAll(
        ".comeGoChildWrap_md_js > h2"
      )[x];
      var comeGoImageWrap = document.querySelectorAll(".comeGoImageWrap_md_js")[
        x
      ];
      movingSectionTitle.after(comeGoImageWrap);
    } else {
      var comeGoChildWrap = document.querySelectorAll(".comeGoChildWrap_md_js")[
        x
      ];
      var comeGoImageWrap = document.querySelectorAll(".comeGoImageWrap_md_js")[
        x
      ];
      comeGoChildWrap.after(comeGoImageWrap);
    }
  }
</script>
<script>
  window.onresize = function() {
    var x;
    var sectionComeGo = document.querySelectorAll(".sectionComeGo_lg_js");
    for (x = 0; x < sectionComeGo.length; x++) {
      if (window.innerWidth <= 991) {
        var movingSectionTitle = document.querySelectorAll(
          ".comeGoChildWrap_lg_js > h2"
        )[x];

        var comeGoImageWrap = document.querySelectorAll(
          ".comeGoImageWrap_lg_js"
        )[x];
        movingSectionTitle.after(comeGoImageWrap);
      } else {
        var comeGoChildWrap = document.querySelectorAll(
          ".comeGoChildWrap_lg_js"
        )[x];
        var comeGoImageWrap = document.querySelectorAll(
          ".comeGoImageWrap_lg_js"
        )[x];
        comeGoChildWrap.after(comeGoImageWrap);
      }
    }
  };
  var x;
  var sectionComeGo = document.querySelectorAll(".sectionComeGo_lg_js");
  for (x = 0; x < sectionComeGo.length; x++) {
    if (window.innerWidth <= 991) {
      var movingSectionTitle = document.querySelectorAll(
        ".comeGoChildWrap_lg_js > h2"
      )[x];
      var comeGoImageWrap = document.querySelectorAll(".comeGoImageWrap_lg_js")[
        x
      ];
      movingSectionTitle.after(comeGoImageWrap);
    } else {
      var comeGoChildWrap = document.querySelectorAll(".comeGoChildWrap_lg_js")[
        x
      ];
      var comeGoImageWrap = document.querySelectorAll(".comeGoImageWrap_lg_js")[
        x
      ];
      comeGoChildWrap.after(comeGoImageWrap);
    }
  }
</script>
