/* Globals */
@font-face {
  font-family: proxima-nova;
  src: url(https://use.typekit.net/af/f6bc94/00000000000000003b9ad1bd/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n1&v=3)
      format("woff2"),
    url(https://use.typekit.net/af/f6bc94/00000000000000003b9ad1bd/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n1&v=3)
      format("woff"),
    url(https://use.typekit.net/af/f6bc94/00000000000000003b9ad1bd/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n1&v=3)
      format("opentype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: proxima-nova;
  src: url(https://use.typekit.net/af/c9cde8/00000000000000003b9ad1b9/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3)
      format("woff2"),
    url(https://use.typekit.net/af/c9cde8/00000000000000003b9ad1b9/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3)
      format("woff"),
    url(https://use.typekit.net/af/c9cde8/00000000000000003b9ad1b9/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3)
      format("opentype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: proxima-nova;
  src: url(https://use.typekit.net/af/3333ef/00000000000000003b9ad1b5/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3)
      format("woff2"),
    url(https://use.typekit.net/af/3333ef/00000000000000003b9ad1b5/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3)
      format("woff"),
    url(https://use.typekit.net/af/3333ef/00000000000000003b9ad1b5/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3)
      format("opentype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: proxima-nova;
  src: url(https://use.typekit.net/af/9faf92/00000000000000003b9ad1b7/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3)
      format("woff2"),
    url(https://use.typekit.net/af/9faf92/00000000000000003b9ad1b7/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3)
      format("woff"),
    url(https://use.typekit.net/af/9faf92/00000000000000003b9ad1b7/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3)
      format("opentype");
  font-weight: 500;
  font-style: normal;
}
.caret {
  border: 6px solid transparent;
  border-top: 6px solid #5ba9f5;
  margin-top: 5px;
  margin-left: 5px;
}
figure {
  margin: 0;
}
.section-default {
  padding: 60px 0;
  text-align: center;
}
.section-default h2 {
  font-size: 30px;
  font-weight: 400;
  /* margin: 0; */
}
.section-default p {
  font-size: 20px;
  margin-bottom: 30px;
}
.section-default [class*="img-wrap"] img {
  width: 100%;
  /* height: auto; */
  /* height: 100%; */
  /* height: auto; */
}

.standard-container {
  max-width: 1560px;
  width: 100%;
  padding: 0 20px;
  box-sizing: border-box;
  margin: 0 auto;
}
/* Hero Section */
.section-hero-full-width {
  padding: 20px 0 0;
}
.hero-head,
.hero-footer {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 800px;
  width: 100%;
  text-align: center;
  box-sizing: border-box;
}
.hero-head {
  margin-bottom: 10px;
}
.hero-head h1 {
  font-size: 50px;
  font-weight: 400;
  margin-bottom: 15px;
}
.hero-list {
  font-size: 0;
}
.hero-list-item:first-child:before {
  content: "";
}
.hero-list-item:before {
  content: "\2022";
  top: -1px;
  left: -3px;
  font-size: 18px;
  position: absolute;
}
.hero-list-item {
  position: relative;
  padding: 0 10px;
  font-size: 20px;
  display: inline-block;
}

.hero-body {
  margin-bottom: 0;
}
.hero-img-wrap {
  max-width: 1285px;
  margin: 0 auto 0;
  width: 100%;
}
.hero-img {
  width: 100%;
}

.hero-footer {
  margin-bottom: 10px;
}

.hero-phrase {
  font-size: 20px;
}
/* Quick Start */
.placeholder-sticky {
  padding: 0 0 30px;
}
/* Store Ratings */
#shoppersReviews {
  padding: 30px 0 0;
}
#shoppersReviews .shopper-approved-link {
  margin: 0;
}
.sa-caption {
  display: none;
}
/* View All FAQS */
.faq-search-links {
  padding: 35px 0;
  color: #5ca9f5;
  background: #fff;
  /* margin-top: -1px; */
}
/* Section What are*/
.section-what-are {
  text-align: left;
  /* position: relative; */
  padding: 60px 0;
}
.section-what-are .standard-container {
  position: relative;
  display: flex;
  align-items: center;
  max-width: initial;
  padding: 0;
  justify-content: flex-end;
}

.section-what-are h2 {
  margin-bottom: 57px;
}

.section-what-are p {
  margin-bottom: 20px;
  font-size: 19px;
}
.section-what-are br {
  display: none;
}
.section-what-are img {
  width: 100%;
}
.what-are-content-wrap {
  max-width: 645px;
  margin-left: 113px;
  margin-right: 160px;
}
.what-are-img-wrap {
  max-width: 800px;
  width: 100%;
  flex: 0 0 auto;
}
/* Section Featured */
.section-signs-features {
}
.section-signs-features * {
  box-sizing: border-box;
}
.featured-body {
  position: relative;
  margin-top: 250px;
  margin-bottom: 190px;
}
.section-signs-features h2 {
}
.featured-img-wrap {
  max-width: 1445px;
  width: 100%;
  margin: 0 auto;
}
.signs-featured-list {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.signs-featured-item {
  position: absolute;
  text-align: left;
  display: inline-block;
  max-width: 330px;
  width: 100%;
}
.signs-featured-item h3 {
  font-size: 27px;
  margin-bottom: 8px;
  line-height: 1.5;
  font-weight: 500;
}
.signs-featured-item p {
  color: #919396;
  font-weight: 300;
  font-size: 21px;
}
.signs-featured-item:nth-child(1) {
  top: -180px;
  left: 290px;
}
.signs-featured-item:nth-child(2) {
  bottom: -225px;
  left: 110px;
  max-width: 275px;
}
.signs-featured-item:nth-child(3) {
  right: 170px;
  top: -180px;
  max-width: 325px;
  /* max-width: 330px; */
}
.signs-featured-item:nth-child(4) {
  left: 665px;
  bottom: -205px;
  max-width: 320px;
}
.signs-featured-item:nth-child(5) {
  right: -5px;
  bottom: -203px;
  max-width: 362px;
}
.signs-featured-item img {
  position: absolute;
  width: 170px;
  height: 170px;
}
.signs-featured-item:nth-child(1) img {
  right: 330px;
  top: 90px;
}
.signs-featured-item:nth-child(2) img {
  top: -127px;
  right: -60px;
}
.signs-featured-item:nth-child(3) img {
  left: -170px;
  top: 85px;
}
.signs-featured-item:nth-child(4) img {
  left: -35px;
  top: -160px;
}
.signs-featured-item:nth-child(5) img {
  top: -140px;
  left: -145px;
}
/* Why Signs Section */
.section-why-signs {
}
.section-why-signs h2 {
  margin-bottom: 50px;
}
.why-signs-list {
  font-size: 0;
  margin-top: 35px;
  margin: 0 -20px;
  display: flex;
  justify-content: space-between;
  max-width: 1443px;
  width: 100%;
  display: inline-flex;
}
.why-signs-list-item {
  display: inline-block;
  font-size: 20px;
  padding: 0 20px;
  box-sizing: border-box;
  max-width: 554px;
  width: 100%;
}
.why-signs-list-item .extra {
  color: #919396;
  font-size: 14px;
  max-width: 195px;
  width: 100%;
  margin: -23px auto 0;
  display: block;
  font-style: italic;
}
.why-signs-list-item img {
  margin-bottom: 10px;
}
.why-signs-list-item h3 {
  font-size: 25px;
  margin-bottom: 10px;
}
.why-signs-list-item p {
  color: #919396;
  font-size: 17px;
  max-width: 418px;
  margin-left: auto;
  margin-right: auto;
}
.why-signs-list-item p br {
  /* display: none; */
}
.why-signs-list-item:nth-child(1) {
  /* max-width: 267px!important; */
}
.why-signs-list-item:nth-child(1) p {
  /* max-width: 210px; */
  /* margin: 0 auto; */
}
.why-signs-list-item:nth-child(2) {
  /* max-width: 364px; */
}

.why-signs-list-item:nth-child(2) p {
  max-width: 305px;
  width: 100%;
  margin: 0 auto 30px;
}
.why-signs-list-item:nth-child(3) {
  /* max-width: 430px; */
}
.why-signs-list-item:nth-child(3) p {
}
.why-signs-list-item:nth-child(4) {
  max-width: 316px;
}
.why-signs-list-item:nth-child(4) p {
}
/* Section Full Color Digital Printing */
.section-digital-printing {
  background: #000;
  padding: 0;
  display: flex;
  justify-content: flex-end;
}
.section-digital-printing .standard-container {
  display: flex;
  align-items: center;
  max-width: initial;
  justify-content: flex-end;
  /* max-width: 1800px; */
  margin: initial;
  padding: 0 40px;
}
.section-digital-printing .standard-container > div {
  flex: 1 1 auto;
  width: 100%;
}
.section-digital-printing .content-wrap {
  text-align: left;
  max-width: 530px;
  padding: 30px 280px 30px 0;
  /* padding-right: 107px; */
  color: #fff;
}
.section-digital-printing h2 {
  margin-bottom: 70px;
}
.section-digital-printing p {
  font-weight: 200;
}
.section-digital-printing .img-wrap {
  font-size: 0;
  max-width: 916px;
}
/* Section Multi-Side Printing */
.section-multi-side-printing {
}
.section-multi-side-printing .standard-container {
}
.section-multi-side-printing h2 {
  margin-bottom: 70px;
}
.section-multi-side-printing p {
  max-width: 725px;
  margin: 0 auto 45px;
}
.section-multi-side-printing .img-wrap {
}
/* Section Wide Range Sizes */
.section-wide-range {
}
.section-wide-range .standard-container {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
}
.section-wide-range .standard-container > div {
  width: 100%;
  flex: 0 0 auto;
}
.section-wide-range .img-wrap {
  max-width: 820px;
  /* width: 100%; */
  margin-right: 65px;
  position: relative;
}
.section-wide-range .img-details {
  position: absolute;
  bottom: 0;
  right: 60px;
  font-style: italic;
  text-align: left;
}
.section-wide-range .img-details > * {
  display: block;
}
.section-wide-range .content-wrap {
  text-align: left;
  max-width: 595px;
}
.section-wide-range h2 {
  margin-bottom: 60px;
}
.section-wide-range p {
}
/* Additional Specs */
.section-additional-specs {
  padding: 64px 0 50px;
}

.section-additional-specs .standard-container {
  margin: 0 auto;
  max-width: 813px;
  text-align: center;
  padding: 0 20px;
}

.section-additional-specs h2 {
  text-align: center;
  font-size: 25px;
  margin-bottom: 30px;
}

.section-additional-specs {
}

.additional-specs-list {
  display: inline-block;
  /* margin: 0 auto; */
  text-align: left;
  /* max-width: 778px; */
  /* width: 100%; */
}

.additional-specs-list li {
  display: flex;
  margin-bottom: 20px;
  border-bottom: 1px solid #cfcccc;
  padding-right: 10px;
  /* border: 0; */
}
.additional-specs-list li:last-child {
  /* border-bottom: none; */
}
.additional-specs-list li h3 {
  min-width: 210px;
  font-size: 20px;
  color: #333333;
  font-weight: 400;
  margin-right: 90px;
}

.additional-specs-list li p {
  font-size: 18px;
  color: #9f9f9f;
  margin-bottom: 18px;
  max-width: 622px;
  width: 100%;
}

/* Image Gallery */
.section-gallery-image h2 {
  margin-bottom: 50px;
}
.section-gallery-image .image-gallery-slider2019 {
  margin-bottom: 0 !important;
}
.section-gallery-image .standard-container .image-gallery-slider-item {
  position: relative;
  height: 390px;
}
.section-gallery-image .standard-container .image-gallery-slider-item img {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  max-width: 100%;
  max-height: 90%;
  width: auto;
  /* height: 100%; */
  left: 0;
  right: 0;
  /* display: block; */
  /* width: 100%; */
  margin: 0 auto;
}
/* Table Runner Care Guide */
.section-care-guide h2 {
  margin-bottom: 50px;
}
.care-guide-list {
  display: inline-block;
  max-width: 1267px;
}
.care-guide-item {
  display: flex;
  margin-bottom: 100px;
}
.care-guide-item:nth-child(even) {
  flex-direction: row-reverse;
}
.care-guide-item:last-child {
  margin-bottom: 0;
}
.care-guide-item:nth-child(even) .img-wrap {
  margin-left: 100px;
  margin-right: 0;
}
.care-guide-item > div {
  width: 100%;
}
.care-guide-item .img-wrap {
  width: 100%;
  flex: 0 0 auto;
  display: flex;
  max-width: 407px;
  height: auto;
  margin-right: 115px;
}
.care-guide-item p {
  font-size: 18px;
}
.care-guide-item .content-wrap {
  text-align: left;
  max-width: 745px;
}
.care-guide-item h3 {
  font-size: 25px;
  margin-bottom: 15px;
}
/* Design tool and services */
.design-services {
}
.design-services .myrow {
  display: flex;
  justify-content: space-between;
  margin: 0 -30px;
}
.design-services .design-services-group {
  margin-top: 0;
  margin-bottom: 0;
  max-width: 710px;
  margin: 0;
  padding: 0 30px;
  flex: 0 0 auto;
  width: 100%;
  /* min-width: 0; */
}
.design-services .design-services-heading {
  margin-top: 0;
  margin-bottom: 45px;
}
.design-services .img-wrap {
  margin-bottom: 0;
  /* height: 410px; */
  max-width: 710px;
  height: auto;
}

.design-services .design-services-text {
  color: #919396;
  margin-bottom: 5px;
  font-size: 20px;
  font-weight: 400;
}
.design-services .design-services-group a {
  color: #0097d5;
  font-size: 20px;
}
/* Section Related Products */
.section-related-products {
  padding: 65px 0;
}
.section-related-products .standard-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1567px;
  text-align: center;
}

.section-related-products h2 {
  width: 100%;
  font-size: 26px;
  margin-bottom: 40px;
}
.section-related-products .standard-container > a {
  margin: 0;
  width: 33.33%;
}
.section-related-products .standard-container > a .img-wrap {
  max-width: 428px;
  /* margin-bottom: 70px; */
  width: 100%;
  margin: 0 auto;
  height: auto;
  font-size: 0;
  /* object-fit: cover; */
  /* height: 322px; */
  display: block;
  margin-bottom: 70px;
}
.section-related-products .standard-container > a .img-wrap img {
  /* height: 245px; */
  /* width: 428px; */
  /* display: inline-block; */
  /* object-fit: cover; */
}
.section-related-products figure {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  height: 100%;
}
.section-related-products figure img {
}
.section-related-products figure figcaption {
  font-size: 20px;
  font-weight: 500;
  /* color: #707070; */
}
/* FAQ */
.product-tabs-wrapper.v4 {
  margin: 0;
}
.product-tabs-wrapper #product-tab-1 {
  margin: 0;
}
.faqmain {
  margin: 0 auto;
}
.product-tabs-wrapper .faq-search-links {
  padding: 0;
  margin: 0 0 10px;
  background: initial;
}
.product-tabs-wrapper .faq-search-form {
  margin-bottom: 15px;
}
.signs-faq-2 {
  text-align: left;
}
#trustContent #trustImages {
  margin-bottom: 40px;
}
@media (max-width: 1680px) {
  /* Section What are */
  .standard-container {
    /* padding-right: 51%; */
    max-width: 1418px;
  }
  /* Section What are */
  .what-are-img-wrap {
    max-width: 715px;
  }
  .what-are-content-wrap {
    margin-left: 0;
    margin-right: 150px;
  }
  /* Featured Section */
  .featured-img-wrap {
    max-width: 1380px;
  }
  .featured-body {
    margin-top: 260px;
    margin-bottom: 202px;
  }
  .signs-featured-item img {
    width: 160px;
    height: 160px;
  }
  .signs-featured-item:nth-child(1) {
    top: -175px;
    left: 243px;
    margin-right: 0;
  }

  .signs-featured-item:nth-child(1) img {
    right: initial;
    top: initial;
    left: -167px;
    bottom: -41px;
  }

  .signs-featured-item:nth-child(2) {
    bottom: -237px;
    left: 55px;
  }
  .signs-featured-item:nth-child(2) img {
    top: -125px;
    right: -54px;
  }
  .signs-featured-item:nth-child(3) {
    left: 944px;
    top: -184px;
  }
  .signs-featured-item:nth-child(3) img {
    left: -161px;
    top: initial;
    bottom: -68px;
  }
  .signs-featured-item:nth-child(4) {
    right: initial;
    top: 556px;
    left: 612px;
  }
  .signs-featured-item:nth-child(4) img {
    left: -35px;
    top: -150px;
  }

  .signs-featured-item:nth-child(5) {
    right: 30px;
    bottom: -218px;
    max-width: 280px;
  }

  .signs-featured-item:nth-child(5) img {
    top: -120px;
    left: -145px;
  }
  /* Section Digital Printing */
  .section-digital-printing .content-wrap {
    margin-left: 100px;
    padding-right: 150px;
  }
  .section-digital-printing .img-wrap {
    font-size: 0;
    max-width: 916px;
  }
  /* Wide Range of Sizes */
  .section-wide-range .standard-container > div {
    flex: 1 1 auto;
  }
  .section-wide-range .img-details {
    bottom: -5px;
  }
  /* Design Tool and Services */
  .design-services .design-services-group {
    max-width: 650px;
  }
}
@media (max-width: 1600px) {
  /* Hero Section */
  .hero-img-wrap {
    max-width: 1060px;
    margin-bottom: 0;
  }
  /* Section what are */
  .standard-container {
    max-width: 1390px;
  }
  .what-are-content-wrap {
    margin-left: 0;
    margin-right: 70px;
  }
  .featured-body {
    margin-top: 260px;
    margin-bottom: 210px;
  }
  /* Section Featured */
  .featured-img-wrap {
    max-width: 1341px;
  }
  .signs-featured-item h3 {
    /* font-size: 24px; */
  }
  .signs-featured-item p {
    /* font-size: 20px; */
  }
  .signs-featured-item img {
    width: 145px;
    height: 145px;
  }
  .signs-featured-item:nth-child(1) {
    top: -180px;
    left: 225px;
    margin-right: 0;
  }
  .signs-featured-item:nth-child(1) img {
    left: -152px;
    top: initial;
    bottom: -38px;
  }
  .signs-featured-item:nth-child(2) {
    bottom: -238px;
    left: 65px;
  }
  .signs-featured-item:nth-child(2) img {
    top: -110px;
    right: -50px;
  }
  .signs-featured-item:nth-child(3) {
    left: initial;
    top: -182px;
    right: 114px;
  }
  .signs-featured-item:nth-child(3) img {
    left: -148px;
    top: 112px;
  }
  .signs-featured-item:nth-child(4) {
    right: inherit;
    top: 530px;
    left: 592px;
  }
  .signs-featured-item:nth-child(4) img {
    left: -33px;
    top: -135px;
  }
  /* Design tool and services */
  .design-services .design-services-group {
    max-width: 632px;
  }
}
@media (max-width: 1536px) {
  .standard-container {
    max-width: 1271px;
  }
  /* Hero Section */
  .hero-img-wrap {
    max-width: 999px;
  }
  /* Section What are */
  .standard-container {
    max-width: 1285px;
  }
  .what-are-content-wrap {
    margin-right: 170px;
  }
  .what-are-img-wrap {
    max-width: 580px;
  }
  /* Why Signs */
  .why-signs-list-item {
  }
  .why-signs-list-item br {
    display: none;
  }

  /* Featured Section */
  .featured-body {
    margin-top: 226px;
    margin-bottom: 180px;
  }
  .featured-img-wrap {
    max-width: 1286px;
  }
  .signs-featured-item img {
    width: 130px;
    height: 130px;
  }
  .signs-featured-item h3 {
    font-size: 24px;
  }
  .signs-featured-item p {
    font-size: 20px;
  }
  .signs-featured-item {
    max-width: 269px;
  }
  .signs-featured-item:nth-child(1) {
    top: -178px;
    left: 202px;
    margin-right: 0;
    max-width: 291px;
  }
  .signs-featured-item:nth-child(1) img {
    right: initial;
    top: initial;
    bottom: -42px;
    left: -135px;
  }
  .signs-featured-item:nth-child(2) {
    bottom: -213px;
    left: 60px;
    max-width: 263px;
  }
  .signs-featured-item:nth-child(2) img {
    top: -100px;
    right: -20px;
  }
  .signs-featured-item:nth-child(3) {
    left: initial;
    top: -179px;
    max-width: 312px;
    right: 99px;
  }
  .signs-featured-item:nth-child(3) img {
    left: -133px;
    top: 111px;
  }
  .signs-featured-item:nth-child(4) {
    right: initial;
    top: initial;
    bottom: -187px;
    max-width: 300px;
    left: 550px;
  }
  .signs-featured-item:nth-child(4) img {
    left: -33px;
    top: -124px;
  }
  .signs-featured-item:nth-child(5) {
    right: 30px;
    bottom: -214px;
    max-width: 280px;
  }
  .signs-featured-item:nth-child(5) img {
    top: -104px;
    left: -113px;
  }
  /* Section Digital Pringting */
  .section-digital-printing .content-wrap {
    padding-right: 62px;
    margin-left: 69px;
  }
  /* Wide Range of Sizes */
  .section-wide-range .img-details {
    bottom: -12px;
  }
  /* Design tool and services */
  .design-services .design-services-group {
    max-width: 587px;
  }

  /* Why Signs */
  .why-signs-list-item h3 {
    font-size: 22px;
  }
  .why-signs-list-item p {
    font-size: 16px;
    margin: 0 auto 30px;
  }
  .why-signs-list-item:nth-child(1) p {
    /* max-width: 209px; */
    margin: 0 auto 30px;
  }
  .why-signs-list-item:nth-child(3) p {
    max-width: 380px;
    /* margin: 0 auto; */
  }
  .why-signs-list-item:nth-child(4) p {
    max-width: 227px;
    /* margin: 0 auto; */
  }
}
@media (max-width: 1440px) {
  /* Section What are */
  .standard-container {
    max-width: 1225px;
  }
  .what-are-content-wrap {
    margin-right: 85px;
  }
  .what-are-img-wrap {
    max-width: 570px;
  }
  /* Featured Section */
  .featured-img-wrap {
    max-width: 1176px;
  }
  .signs-featured-item h3 {
    font-size: 22px;
  }
  .signs-featured-item p {
    font-size: 18px;
  }
  .signs-featured-item img {
    width: 120px;
    height: 120px;
  }
  .signs-featured-item:nth-child(1) {
    top: -169px;
    left: 195px;
    margin-right: 0;
    max-width: 277px;
  }
  .signs-featured-item:nth-child(1) img {
    right: initial;
    top: 107px;
    left: -122px;
  }

  .signs-featured-item:nth-child(2) {
    bottom: -205px;
    left: 60px;
    max-width: 240px;
  }

  .signs-featured-item:nth-child(2) img {
    top: -92px;
    right: -20px;
  }
  .signs-featured-item:nth-child(3) {
    left: 790px;
    top: -161px;
    max-width: 285px;
  }
  .signs-featured-item:nth-child(3) img {
    left: -123px;
    top: initial;
    bottom: -44px;
  }

  .signs-featured-item:nth-child(3) p {
    max-width: initial;
  }
  .signs-featured-item:nth-child(4) {
    right: initial;
    top: initial;
    bottom: -176px;
    left: 530px;
    max-width: 271px;
  }
  .signs-featured-item:nth-child(4) img {
    left: -30px;
    top: -115px;
  }
  .signs-featured-item:nth-child(4) p {
    max-width: 331px;
  }
  .signs-featured-item:nth-child(5) {
    right: 27px;
    bottom: -193px;
    max-width: 241px;
  }
  .signs-featured-item:nth-child(5) img {
    top: -90px;
    left: -107px;
  }
  /* Digital Printing */
  .section-digital-printing .content-wrap {
    padding-right: 73px;
    margin-left: 59px;
  }
  /* Design Tools and Services */
  .design-services .design-services-group {
    max-width: 555px;
  }
  /* Why Signs */
  .why-signs-list {
    margin: 0 -15px;
  }
  .why-signs-list-item {
    padding: 0 10px;
  }
  /* Wide Range */
  .section-wide-range .img-details {
    bottom: -14px;
    right: 30px;
  }
}
@media (max-width: 1366px) {
  .standard-container {
    max-width: 1123px;
  }
  /* Hero Section */
  .hero-img-wrap {
    max-width: 895px;
  }
  .hero-head {
    margin-bottom: 15px;
  }
  .hero-body {
    margin-bottom: 0;
  }
  /* Section What Are */
  .what-are-content-wrap {
    margin-right: 95px;
    max-width: 550px;
  }

  /* Why Signs.com */
  .why-signs-list {
    margin: 0 -80px;
  }
  /* Design tool and services */
  .design-services .design-services-image {
    height: 374px;
    object-fit: contain;
  }

  /* Featured Section */
  .featured-img-wrap {
    max-width: 1101px;
  }

  .featured-body {
    position: relative;
    margin-top: 210px;
    margin-bottom: 178px;
  }
  .signs-featured-item img {
    width: 130px;
    height: 130px;
  }
  .signs-featured-item h3 {
    font-size: 20px;
    margin-bottom: 10px;
    line-height: 1.2;
  }
  .signs-featured-item p {
    font-size: 18px;
  }
  .signs-featured-item:nth-child(1) {
    top: -149px;
    left: 190px;
    margin-right: 0;
  }

  .signs-featured-item:nth-child(1) img {
    right: initial;
    top: initial;
    bottom: -30px;
    left: -132px;
  }

  .signs-featured-item:nth-child(2) {
    bottom: -210px;
    left: 40px;
  }
  .signs-featured-item:nth-child(2) img {
    top: -109px;
    right: -15px;
  }
  .signs-featured-item:nth-child(3) {
    left: 736px;
    bottom: initial;
    top: -152px;
  }

  .signs-featured-item:nth-child(3) img {
    left: -131px;
    top: initial;
    bottom: -46px;
  }

  .signs-featured-item:nth-child(4) {
    right: initial;
    top: initial;
    bottom: -176px;
    left: 471px;
  }

  .signs-featured-item:nth-child(4) img {
    left: -32px;
    top: -127px;
  }

  .signs-featured-item:nth-child(5) {
    right: 10px;
    bottom: -192px;
  }

  .signs-featured-item:nth-child(5) img {
    top: -103px;
    left: -113px;
  }
  /* Digital Printing */
  .section-digital-printing .content-wrap {
    padding-right: 64px;
    margin-left: 31px;
  }
  /* Design tool and services */
  .design-services .design-services-group {
    max-width: 502px;
  }

  /* Why Signs */
  .section-why-signs .standard-container {
    max-width: 1232px;
  }

  /* Care Guide */
  .care-guide-list {
    max-width: initial;
  }
  .care-guide-item .img-wrap {
    margin-right: 72px;
    max-width: 332px;
    height: 219px;
  }
  .care-guide-item .content-wrap p {
    font-size: 17px;
  }
  .care-guide-item:nth-child(even) .img-wrap {
    margin-left: 60px;
  }
}
@media (max-width: 1280px) {
  /* Hero Section */
  .hero-img-wrap {
    max-width: 825px;
  }
  /* Section What are Opaque Vehicle Decals */
  .what-are-img-wrap {
  }
  .section-what-are .standard-container {
    /* padding-right: 51%; */
  }

  /* Why Signs.com */
  .section-why-signs .standard-container {
    /* max-width: 1220px; */
  }
  .why-signs-list-item h3 {
    /* height: 60px; */
  }
  /* Digital Printing */
  .section-digital-printing .content-wrap {
    padding-right: 50px;
    margin-left: 14px;
  }
  /* Related Products */
  .section-related-products .standard-container {
    justify-content: space-between;
  }
  .section-related-products .standard-container > a {
  }
  .section-related-products figure img {
    max-width: 100%;
    height: auto;
  }
}

@media (max-width: 1280px) and (max-height: 720px) {
  .hero-img-wrap {
    max-width: 795px;
  }
}
@media (max-width: 1199px) {
  /* Section What are */
  .section-what-are h2 {
    margin-bottom: 40px;
  }
  .what-are-content-wrap {
    margin-right: 51px;
    margin: 0 auto;
    text-align: center;
  }
  .what-are-img-wrap {
    max-width: 505px;
    margin: 0 auto 25px;
  }

  /* Section Featured */
  .section-signs-features {
    padding: 45px 0;
  }
  .section-signs-features h2 {
    margin-bottom: 20px;
  }
  .featured-body {
    margin: 0;
  }
  .featured-img-wrap {
    max-width: initial;
    margin-bottom: 35px;
    max-width: 679px;
  }
  .signs-featured-list {
    position: static;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .signs-featured-item {
    position: relative;
    min-height: 130px;
    display: block;
    left: initial !important;
    top: initial !important;
    bottom: initial !important;
    right: initial !important;
    flex: 0 0 auto;
  }
  .signs-featured-item img {
    left: 0 !important;
    top: 0 !important;
  }
  .signs-featured-item {
    padding: 0 0 0 140px !important;
    display: block;
    margin-bottom: 30px !important;
    margin-right: 0 !important;
    max-width: initial !important;
  }
  .signs-featured-item p {
    max-width: initial !important;
  }
  .signs-featured-item:nth-child(1) {
    order: 1;
  }
  .signs-featured-item:nth-child(2) {
    order: 2;
  }
  .signs-featured-item:nth-child(3) {
    order: 3;
    /* margin-bottom: 0 !important; */
  }
  .signs-featured-item:nth-child(4) {
    order: 5;
    /* margin-bottom: 0!important; */
  }
  .signs-featured-item:nth-child(5) {
    order: 5;
    /* margin-bottom: 0; */
    /* margin-bottom: 0!important; */
    margin-bottom: 0 !important;
  }
  .signs-featured-item br {
    display: none;
  }
  /* Digital Printing */
  .section-digital-printing .standard-container {
    padding: 0 20px;
  }
  .section-digital-printing .content-wrap {
    padding-right: 50px;
    margin-left: 0;
  }
  .section-digital-printing h2 {
    margin-bottom: 30px;
  }
  /* Design tool and services */
  .design-services .myrow {
    margin: 0 -20px;
  }
  .design-services .design-services-group {
    max-width: 450px;
  }
  /* Customization Options */
  .customization-options-list {
    max-width: 823px;
    justify-content: space-around;
  }
  .customization-options-item {
  }
  /* Why Signs.com */
  .why-signs-list {
    margin: 0 auto;
    flex-flow: row wrap;
    max-width: 1025px;
  }
  .why-signs-list-item {
    padding: 0 10px;
    flex: 0 0 auto;
    max-width: 310px !important;
    margin-bottom: 35px;
    height: auto !important;
  }
  .why-signs-list-item:nth-child(1) p {
    max-width: initial;
  }
  .why-signs-list-item:nth-child(2) p {
    max-width: initial;
  }
  .why-signs-list-item:nth-child(3) p {
    max-width: initial;
  }
  .why-signs-list-item h3 {
    font-size: 21px;
  }
  .why-signs-list-item p {
    margin: 0 auto 0;
  }
  .why-signs-list-item .extra {
    margin-top: -23px;
  }
  /* Related Product */
  .section-related-products .standard-container {
    display: block;
  }
  .section-related-products figure img {
    height: 236px;
    /* max-width: 407px; */
    margin: 0 auto;
    display: inline-block;
  }

  .section-related-products .standard-container > a {
    /* flex: 1 1 auto; */
    /* width: 2.33%; */
    margin-bottom: 70px;
    display: block;
    /* margin: 0 auto 20px; */
    width: 100%;
  }
}

@media (max-width: 991px) {
  /* Hero Section */
  .section-hero-full-width {
    padding: 70px 0 15px;
  }

  /* Section What are */
  .section-what-are h2 {
    margin-bottom: 30px;
  }
  .what-are-content-wrap {
    max-width: initial;
    text-align: center;
  }
  .what-are-img-wrap {
    max-width: 545px;
    position: static;
    margin-bottom: 20px;
    padding-right: 93px;
    margin: 0 auto 25px;
  }
  .section-what-ovd .standard-container {
    padding: 0 20px;
    text-align: center;
  }
  .section-what-ovd h2 {
    margin-bottom: 20px;
  }

  /* Section Gallery Image  */
  .section-gallery-image .image-gallery-slider2019-thumbnails {
    margin-top: 30px;
  }

  /* Why Signs.com */
  .why-signs-list {
    display: block;
    max-width: initial;
  }
  .why-signs-list-item {
    margin-bottom: 25px;
    max-width: 345px !important;
    vertical-align: top;
    display: block;
    margin: 0 auto 30px;
  }
  .why-signs-list-item:last-child {
    margin-bottom: 0;
  }
  .section-why-signs h2 {
    margin-bottom: 20px;
  }
  .why-signs-list-item .extra {
    margin-bottom: 20px;
    margin-top: 5px;
    max-width: initial;
  }
  .why-signs-list-item p {
    margin-bottom: 20px;
    max-width: initial !important;
    margin: 0 auto !important;
  }
  /* Digital Printing */
  .section-digital-printing {
  }
  .section-digital-printing .standard-container {
    padding: 0;
  }
  .section-digital-printing .img-wrap {
    margin: 0 auto 35px;
    max-width: inherit;
  }
  .section-digital-printing .content-wrap {
    max-width: initial;
    padding: 60px 0;
    text-align: center;
  }
  .section-digital-printing h2 {
    padding: 0 20px;
  }
  .section-digital-printing p {
    padding: 0 20px;
    margin: 0;
  }
  /* Multi-Side Printing */
  .section-multi-side-printing h2 {
    margin-bottom: 35px;
  }
  .section-multi-side-printing p {
    margin: 0 auto;
  }
  .section-multi-side-printing .img-wrap {
    margin-bottom: 25px;
  }
  /* Wide Range of Sizes */
  .section-wide-range .content-wrap {
    max-width: initial;
    text-align: center;
  }
  .section-wide-range h2 {
    margin-bottom: 15px;
  }
  .section-wide-range .img-wrap {
    margin: 0 auto 15px;
  }
  .section-wide-range p:last-of-type {
    margin-bottom: 0;
  }
  .section-wide-range .img-details {
    max-width: 505px;
    display: block;
    width: 100%;
    display: flex;
    justify-content: space-between;
    left: 0;
    right: 0;
    margin: 0 auto;
    /* left: initial; */
    /* right: initial; */
    bottom: 16px;
  }
  .section-wide-range .img-details > * {
  }
  /* Design tool and services */
  .design-services,
  .design-services * {
    box-sizing: border-box;
  }
  .design-services .myrow {
    display: block;
    margin: 0;
  }
  .design-services .design-services-group {
    margin: 0 auto 40px;
    max-width: initial;
    padding: 0;
  }
  .design-services .design-services-image {
    height: auto;
    width: 100%;
    max-width: 693px;
  }
  .design-services .design-services-group:nth-child(2) {
    margin-bottom: 0;
  }
  .design-services-heading > br {
    display: none;
  }
  .design-services .design-services-heading {
    margin: 0 0 20px;
    max-width: initial;
    width: 100%;
    padding: 0 20px;
  }
  /* Related Product */
  .section-related-products figure img {
    height: 176px;
  }
}

@media (max-width: 768px) {
  /* Section What Are */
  .section-what-are {
    padding: 40px 0 30px;
  }
  .section-what-are .standard-container {
    display: block;
    padding: 0;
  }
  .section-what-are h2 {
    margin-bottom: 25px;
  }
  .what-are-content-wrap {
    text-align: center;
    max-width: initial;
  }
  .what-are-img-wrap {
    /* height: 384px; */
    width: 100%;
    margin: 0 auto 25px;
    max-width: 551px;
    height: auto;
    padding: 0;
  }
  .what-are-img-wrap img {
    height: 100%;
  }
  .what-are-content-wrap h2,
  .what-are-content-wrap p {
    padding: 0 20px;
  }
  /* Section Store Ratings  */

  #shoppersReviews,
  #shoppersReviews * {
    display: block !important;
    padding: 0 !important;
    margin: 0 !important;
    position: static !important;
    text-align: center !important;
  }
  #shoppersReviews {
    padding: 20px 0 !important;
  }
  #shoppersReviews > br {
    display: none !important;
  }
  #shoppersReviews .shopperapproved_widget {
    height: auto !important;
  }
  #shoppersReviews .aggregateRating-container {
    display: flex !important;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
  }
  #shoppersReviews .shopper-approved-container {
    padding: 0 20px !important;
  }
  #shoppersReviews .sa_review {
    height: auto !important;
    text-align: center;
    display: flex !important;
    flex-direction: column-reverse;
  }
  #shoppersReviews .sa_review tbody > tr {
    display: flex !important;
    flex-direction: column-reverse;
    align-items: center;
  }
  #shoppersReviews .sa_comments {
    margin-top: -17px !important;
    min-height: 60px;
    height: auto;
    display: block;
    flex: 0 0 auto;
    align-items: flex-end;
    font-size: 16px;
    overflow: visible;
    margin: 0 !important;
    overflow: hidden;
  }
  #shoppersReviews .sa_location {
    display: none !important;
  }
  #shoppersReviews .sa_info > span:first-of-type {
    background: red;
    display: none !important;
  }
  #shoppersReviews .sa_info {
    height: auto;
    display: block !important;
    flex: 0 0 auto;
  }
  #shoppersReviews .sa_date {
    display: none !important;
  }
  #shoppersReviews .sa_displayname {
    font-weight: 300;
  }
  #shoppersReviews .sa_star {
    display: none !important;
  }
  #shoppersReviews .sa-caption {
    display: none !important;
  }
  #shoppersReviews script {
    display: none !important;
  }
  /* Trusted Signage provider */
  #trustContent
    .freightLight
    + #trustImages
    .trust-image-wrapper
    .footer-badge-separator {
    display: none;
  }
  #trustContent
    .freightLight
    + #trustImages
    .trust-image-wrapper
    .link-wrapper {
    position: relative;
    margin-left: 0.5px;
    margin-right: 0.5px;
  }
  #trustContent
    .freightLight
    + #trustImages
    .trust-image-wrapper
    .link-wrapper:before,
  #trustContent
    .freightLight
    + #trustImages
    .trust-image-wrapper
    .link-wrapper:after {
    content: "";
    display: block;
    width: 1px;
    height: 89px;
    background: url(/content/assets/styles/defaultStyle/images/footerBadgeSeparator.png)
      no-repeat;
    margin: 0 -1px;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
  }
  #trustContent
    .freightLight
    + #trustImages
    .trust-image-wrapper
    .link-wrapper:before {
  }
  #trustContent
    .freightLight
    + #trustImages
    .trust-image-wrapper
    .link-wrapper:after {
    right: 0;
  }
  /* Care Guide */

  .care-guide-item {
    display: block;
    text-align: center;
    margin-bottom: 50px;
  }
  .care-guide-item .img-wrap {
    margin: 0 auto 20px;
    max-width: 370px;
    height: auto;
  }
  .care-guide-item .content-wrap {
    text-align: center;
  }
  .care-guide-item:nth-child(even) .img-wrap {
    margin: 0 auto 20px;
  }
}
@media (max-width: 575px) {
  .section-default {
    padding: 40px 0;
    /* overflow: hidden; */
  }
  /* Hero Section */
  .section-hero-full-width {
    padding-top: 20px;
  }
  .hero-head h1 {
    font-size: 35px;
  }

  .hero-list-item {
    font-size: 16px;
  }
  .hero-list-item:first-child:before {
    content: "\2022";
  }
  .hero-img-wrap {
    padding: 0 20px;
    box-sizing: border-box;
  }
  .hero-phrase {
    font-size: 16px;
  }

  /* Section Store Ratings  */

  #shoppersReviews,
  #shoppersReviews * {
    display: block !important;
    padding: 0 !important;
    margin: 0 !important;
    position: static !important;
    text-align: center !important;
  }
  #shoppersReviews {
    padding: 20px 0 !important;
  }
  #shoppersReviews > br {
    display: none !important;
  }
  #shoppersReviews .shopperapproved_widget {
    height: auto !important;
  }
  #shoppersReviews .aggregateRating-container {
    display: flex !important;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
  }
  #shoppersReviews .shopper-approved-container {
    padding: 0 20px !important;
  }
  #shoppersReviews .sa_review {
    height: auto !important;
    text-align: center;
    display: flex !important;
    flex-direction: column-reverse;
  }
  #shoppersReviews .sa_review tbody > tr {
    display: flex !important;
    flex-direction: column-reverse;
    align-items: center;
  }
  #shoppersReviews .sa_comments {
    margin-top: -17px !important;
    min-height: 60px;
    height: auto;
    display: block;
    flex: 0 0 auto;
    align-items: flex-end;
    font-size: 16px;
    overflow: visible;
    margin: 0 !important;
    overflow: hidden;
  }
  #shoppersReviews .sa_location {
    display: none !important;
  }
  #shoppersReviews .sa_info > span:first-of-type {
    background: red;
    display: none !important;
  }
  #shoppersReviews .sa_info {
    height: auto;
    display: block !important;
    flex: 0 0 auto;
  }
  #shoppersReviews .sa_date {
    display: none !important;
  }
  #shoppersReviews .sa_displayname {
    font-weight: 300;
  }
  #shoppersReviews .sa_star {
    display: none !important;
  }
  #shoppersReviews .sa-caption {
    display: none !important;
  }
  #shoppersReviews script {
    display: none !important;
  }
  /* Section What Are */
  .section-what-are {
    /* padding: 40px 0; */
  }
  .what-are-img-wrap {
    max-width: 285px;
    height: auto;
    padding-right: 30px;
    margin: 0 0 20px auto;
    padding: 0;
    max-width: 385px;
    padding-right: 0;
  }
  /* Featured Section */
  .section-signs-features h2 {
    margin-bottom: 20px;
  }
  .featured-img-wrap {
  }
  /* Digital Printing */
  .section-digital-printing .content-wrap {
    padding: 0;
  }
  /* Section Gallery Image */
  .section-gallery-image .standard-container {
    padding-left: 0;
    padding-right: 0;
  }
  /* Design tool and services */
  .design-services .design-services-group {
    padding: 0;
  }
  .design-services .myrow {
    margin: 0 -20px;
  }
  .design-services-heading > br {
    display: none;
  }
  .design-services .design-services-heading {
    margin: 0 0 20px;
    max-width: initial;
    width: 100%;
    padding: 0 20px;
  }

  /* Wide Range of Sizes */
  .section-wide-range .img-wrap {
  }
  .section-wide-range .img-details {
    max-width: 283px;
    bottom: 4px;
    font-size: 11px;
  }
  /* Section Additional Specs */
  .section-additional-specs .additional-specs-list {
    max-width: initial;
    width: 100%;
    display: block;
  }
  .section-additional-specs h2 {
    margin-bottom: 20px;
  }
  .additional-specs-list li {
    display: block;
    text-align: center;
    padding: 0;
    text-align: left;
    border-bottom: 0;
    display: flex;
    justify-content: space-between;
    display: block;
    text-align: center;
  }
  .additional-specs-list li h3 {
    margin: 0 0 5px;
    font-weight: 400;
    font-size: 18px;
    flex: 0 0 auto;
    max-width: 116px;
    width: 116px;
    min-width: 116px;
    max-width: initial;
    min-width: initial;
    width: 100%;
  }
  .additional-specs-list li p {
    font-size: 16px;
    margin-bottom: 20px;
    flex: 0 0 auto;
    width: 100%;
    max-width: 254px;
    max-width: initial;
  }

  /* Section Related Products */
  .section-related-products figure img {
    width: 90%;
    height: auto;
    max-width: 355px;
  }
  .section-related-products .standard-container > a {
    width: 100%;
    margin-bottom: 40px;
  }
  .section-related-products .standard-container > a:last-child {
    margin-bottom: 0;
  }
  /* Section Review */
  #review_image {
    display: none;
  }
  #product_page #sa_sort {
    display: block;
    margin-top: 20px;
    text-align: center;
    margin: 20px auto 0;
  }
  #product_page .paging {
    height: auto;
    padding: 0;
    text-align: center;
    margin-top: 30px;
  }
  #shopper_review_page {
    padding-bottom: 35px;
  }
  /* Installation and Care */
  .section-installation ul li {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .section-installation ul li h2 {
    order: 1;
  }
  .section-installation ul li img {
    order: 2;
    margin: 0 auto 15px;
  }
  .section-installation ul li p {
    order: 3;
  }
  /* Image Gallery */
  .section-gallery-image h2 {
    margin-bottom: 15px;
  }
}
@media (max-width: 425px) {
  /* Section What Are */
  .what-are-img-wrap {
  }
}
@media (max-width: 414px) {
  /* Section Quick Start */
  .sizeInput.qty {
    justify-content: flex-end;
  }
  .sizeInput.qty .size-input-qty {
    margin: 0;
  }
  /* Section What Are */
  .what-are-img-wrap {
    padding-right: 45px;
    padding-right: 0;
  }
}
@media (max-width: 375px) {
  /* Section What Are */
  .what-are-img-wrap {
    /* padding-right: 54px; */
    padding: 0;
    max-width: 345px;
  }
  /* Section Feature */
  .signs-featured-item {
    padding: 0 0 0 110px !important;
  }
  .signs-featured-item img {
    width: 100px;
    height: 100px;
  }
  .signs-featured-item p {
    font-size: 16px;
  }
  /* Wide Range */
  .section-wide-range .img-details {
    font-size: 10px;
    max-width: 247px;
  }
  /* Section Additional Specs */
}

@media (max-width: 360px) {
  /* Section Additional Specs */
  .additional-specs-list li p {
    /* max-width: 206px; */
  }

  .what-are-img-wrap {
    max-width: 330px;
  }
}

@media (max-width: 320px) {
  .additional-specs-list li p {
    font-size: 16px;
  }
  /* Trusted Signage provider */
  .footer-badge-separator {
    display: none !important;
  }
  .page-block-2.trust-image-wrapper {
    display: block;
    text-align: center;
  }
  #trustContent
    .freightLight
    + #trustImages
    .trust-image-wrapper
    .link-wrapper {
    display: block;
    max-width: 189px;
    width: 100%;
    margin: 0 auto 20px;
    display: inline-block;
    float: none;
  }
  /* Section What Are */
  .what-are-content-wrap * {
    box-sizing: border-box;
  }
  .what-are-img-wrap {
    padding-right: 0;
    max-width: 300px;
  }
  .signs-featured-item img {
    width: 105px;
    height: 105px;
  }
  /* Wide Range */
  .section-wide-range .img-details {
    font-size: 9px;
    max-width: 224px;
  }
}
