<div class="section-what-are-owd highlight-container what-are">
    <h1 class="content-header">What Are Opaque Window Decals?</h1>
    <p class="highlight-text left">Opaque window decals are adhesive decals that you can place on any window, glass door or other smooth surface. These semi-permanent decals can be printed at nearly any size, and do not need professional assistance for installation. Opaque window decals will last indoors and outdoors for years with proper care, yet are easily removed when you’re ready for a new look.</p>
    <p class="highlight-text left">Opaque window decals work wonderfully for posting store hours, or advertising a logo or brand in a window. All window decals can be cut to the exact outline of the design by selecting custom from the shape options. You can also choose to have a border around the outline of your design by selecting custom with border in the shape options. What ever you choose, your opaque window decal will look great!</p>
    <div class="highlight-image-container"><img class="coffee-image" src="https://www.signs.com/content/assets/filelibrary/OWD-Features-8004-item-8079.png" alt="Opaque Window Decal Close Up" /></div>
</div>