<div class="main-content">
    <div class="main-content-header">
        <h1>Custom Flags</h1>
        <div class="main-sub-title">100% custom <span>&#9679</span> long lasting <span>&#9679</span> ships next day!</div>
        <div class="hero-image"><img class="bg-image" src="https://www.signs.com/content/assets/filelibrary/flag-hero-3287.png" alt=""></div>
    </div>
</div>