<section class="section-hero-full-width">
    <div class="hero-head">
        <h1>Opaque Vehicle Decals</h1>
        <ul class="hero-list">
            <li class="hero-list-item">Easy to Install</li>
            <li class="hero-list-item">Custom Colors</li>
            <li class="hero-list-item">Shapes &amp; Sizes</li>
            <li class="hero-list-item">Long Lasting</li>
        </ul>
    </div>
    <div class="hero-body">
        <div class="hero-img-wrap"><img class="hero-img"
                                        src="https://www.signs.com/content/assets/filelibrary/opaque-vehicle-decals-8307.jpg"
                                        alt="Opaque Vehicle Decals"></div>
    </div>
    <div class="hero-footer">
        <p class="hero-phrase">Get attention to your brand or business for years—wherever you drive.</p>
    </div>
</section>
<!-- Section Great for Use -->
<section class="section-default section-great-for-use">
    <div class="standard-container">
        <h2>Great for Use On the Body of Any Vehicle</h2>
        <div class="great-img-wrap">
            <img src="https://www.signs.com/content/assets/filelibrary/opaque-car-decals-8308.jpg"
                 alt="Opaque car decals">
        </div>
        <ul class="great-use-list">
            <li class="great-use-list-item">Can be applied to any vehicle paint</li>
            <li class="great-use-list-item">Won't damage vehicle paint</li>
            <li class="great-use-list-item">Can withstand most car washes</li>
        </ul>
    </div>
</section>

<!-- Why Signs.com -->
<section class="section-default section-why-signs">
    <div class="standard-container">
        <h2>Why Signs.com</h2>
        <ul class="why-signs-list">
            <li class="why-signs-list-item">
                <img src="https://www.signs.com/content/assets/filelibrary/running-8309.jpg" alt=""/>
                <h3>Next Day Production</h3>
                <p>Order by 5PM EST and we’ll have your opaque car <br> decal completed and shipped the very next day.
                </p>
            </li>
            <li class="why-signs-list-item">
                <img src="https://www.signs.com/content/assets/filelibrary/box-8310.jpg" alt=""/>
                <h3>Free Shipping On Orders Over $75</h3>
                <p>Fast and hassle-free shipping directly to <br> your business, office, or home.</p>
            </li>
            <li class="why-signs-list-item">
                <img src="https://www.signs.com/content/assets/filelibrary/star-8311.jpg" alt=""/>
                <h3>100% Satisfaction</h3>
                <p>We guarantee you’ll love your custom car decal. If <br> you don’t, we’ll be sure to make it right.
                </p>
            </li>
        </ul>
    </div>
</section>

<!-- What are Opaque Vehicle Decals -->
<section class="section-default section-what-ovd">
    <div class="standard-container">
        <h2>What are Opaque Vehicle Decals</h2>
        <div class="ovd-img-wrap">
            <img src="https://www.signs.com/content/assets/filelibrary/opaque-vehicle-peeling-decal-8312.jpg"
                 alt="Opaque Vehicle Peeling Decals">
        </div>
        <p>Fully custom opaque car decals are easy to install and are perfect for advertising your business or <br>
            customizing your personal vehicle. Made from thin but durable adhesive vinyl, you can drive around <br>
            with confidence knowing that your decal will be noticed in a good way. The natural color of opaque <br>
            car decals is white, but you can customize any design with any color.</p>
        <p>Vehicle decals have many uses, including advertising, branding, and decor. Make your decal <br>
            personal and unique with custom shape, custom shape with border or chose a background color <br>
            that will help your vehicle’s message stand out and get noticed.</p>

    </div>
</section>

<!-- Section Sign Features-->
<!-- Section Sign Features-->
<section class="section-default section-signs-features">
    <div class="standard-container">
        <h2>Opaque Car Decal Features</h2>
        <div class="featured-body">
            <div class="featured-img-wrap">
                <img src="https://www.signs.com/content/assets/filelibrary/Black-Truck-8418.jpg"
                     alt="Black pickup truck with security decal on the doors">
            </div>
            <ul class="signs-featured-list">
                <li class="signs-featured-item">
                    <h3>Easy to Install:</h3>
                    <p>Install your opaque vinyl car<br> decal in minutes without the <br> need of professional help.
                        <br>
                        Installation instructions are <br> included with every order or <br> can be found below, helping
                        <br> you know exactly what to do.</p>
                    <img src="https://www.signs.com/content/assets/filelibrary/Easy-Icon-8421.png"
                         alt="Icon showing check box">
                </li>
                <li class="signs-featured-item">
                    <h3>UV Resistant and <br> Waterproof</h3>
                    <p>Made with durable 3 mil vinyl <br> and water/weather/UV <br> resistant ink, your opaque <br>
                        decal is
                        made to withstand <br> even the harshest weather <br> conditions for over five years.</p>
                    <img src="https://www.signs.com/content/assets/filelibrary/Weather-Icon-8424.png"
                         alt="Icon showing the weather durability of opaque vehicle decals">
                </li>
                <li class="signs-featured-item">
                    <h3>Use as a single body <br> decal or partial wrap</h3>
                    <p>Opaque car decals are perfect <br> for advertising on the side, <br> hood, trunk or tailgate of
                        your
                        <br> vehicle. Align and cut your <br> decal when installing over <br> seams to create a partial
                        <br>
                        vehicle wrap.</p>
                    <img src="https://www.signs.com/content/assets/filelibrary/Partial-Wrap-Icon-8423.png"
                         alt="Icon showing that opaque vehicle decals can be cut to make partial vehicle wraps">
                </li>
                <li class="signs-featured-item">
                    <h3>Cut-to-Shape Options:</h3>
                    <p>Custom and custom with<br> border options available, <br> allowing you to customize the <br>
                        shape of
                        your vehicle decal.</p>
                    <img src="https://www.signs.com/content/assets/filelibrary/Cut-Icon-8422.png"
                         alt="Icon showing custom cut option for opaque vehicle decals">
                </li>
            </ul>
        </div>

    </div>
</section>

<!-- Section Additional Specs-->
<section class="section-additional-specs">
    <div class="container">
        <h2>Additional Specs</h2>
        <ul class="additional-specs-list">
            <li>
                <h3>Weight:</h3>
                <p>.09lbs per square foot (about the weight of 9 Quarters)</p>
            </li>
            <li>
                <h3>Thickness:</h3>
                <p>3 mil (.003”) About the thickness of 4 sheets of copy paper)</p>
            </li>
            <li>
                <h3>Details:</h3>
                <p>White, versatile, bubble-free finish</p>
            </li>
            <li>
                <h3>Uses:</h3>
                <p>Indoor/Outdoor Signage uses include: traffic, road, parking, safety and regulation, directional, real
                    estate, property signage</p>
            </li>
            <li>
                <h3>Print Method:</h3>
                <p>Indoor/Outdoor. Vehicle windows, business advertising</p>
            </li>
            <li>
                <h3>Estimated Lifespan:</h3>
                <p>Four color process, eco-friendly, weather, fade and abrasion resistant UV ink</p>
            </li>
            <li>
                <h3>Estimated Lifespan:</h3>
                <p>5+ years with proper placement and care</p>
            </li>
            <li>
                <h3>Common Sizes</h3>
                <p>6”x6”, 12”x12”, 24”x12”, 36”x12”, measure to cut</p>
            </li>
        </ul>
    </div>
</section>
<!-- Popular Templates -->
<script>
    var popularTemplates = document.getElementById("templateWidget-7672");
    popularTemplates.classList.add("section-default");
    popularTemplates.classList.add("section-popular-template");
    var popularTemplatesDiv = document.querySelector("#templateWidget-7672 > div");
    popularTemplatesDiv.classList.add("standard-container");
    var sectionTitleWrap = document.createElement("h2");
    var sectionTitleText = document.createTextNode("Popular Templates");
    var sectionTitle = sectionTitleWrap.appendChild(sectionTitleText);

    var popularTemplatesWrapper = document.getElementById("popular-templates-wrapper");
    popularTemplatesDiv.insertBefore(sectionTitleWrap, popularTemplatesWrapper);
</script>

<!-- How to install opaque car decals -->
<section class="section-default section-hiocd">
    <div class="standard-container">
        <h2>How to Install Opaque Car Decals</h2>
        <p class="instruction-intro">The following instructions are to help you have a successful, timely install of
            your opaque car decal. The installation is a simple process and requires no professional help. We recommend
            installing your decal in an environment that is dry with a temperature above 40 degrees Fahrenheit.</p>
        <ul class="installation-step-list">
            <li class="installation-step-item">
                <div class="img-wrap"><span class="step-number">1.</span><img
                        src="https://www.signs.com/content/assets/filelibrary/step1-8503.jpg" alt=""></div>
                <p>Clean the desired surface with soap and water, removing all dust and dirt particles. If dust and dirt
                    is not fully removed from the surface this may cause small air bubbles in your decal and prevent it
                    from adhering properly. After cleaning the surface, either allow time for the surface to air dry or
                    remove excess water with a rubber squeegee.
                </p>
            </li>
            <li class="installation-step-item">
                <div class="img-wrap"><span class="step-number">2.</span><img
                        src="https://www.signs.com/content/assets/filelibrary/step2-8504.jpg" alt=""></div>
                <p>Before you remove the backing from the decal, we recommend placing it on your vehicle to ensure that
                    the size and fit are as you want. A dry erase marker can help you mark the edges where you want your
                    decal to be applied.
                </p>
            </li>
            <li class="installation-step-item">
                <div class="img-wrap"><span class="step-number">3.</span><img
                        src="https://www.signs.com/content/assets/filelibrary/step3-8505.jpg" alt=""></div>
                <p>Gently remove the backing by peeling the decal away from a corner. If you’re having difficulty, a
                    piece of scotch tape placed on the backing can help create a tab for you to grip and peel away the
                    decal.
                </p>
            </li>
            <li class="installation-step-item">
                <div class="img-wrap"><span class="step-number">4.</span><img
                        src="https://www.signs.com/content/assets/filelibrary/step4-8506.jpg" alt=""></div>
                <p>Carefully place the decal onto the desired surface. We recommend holding the decal upright with two
                    hands near the top and placing only the top edge to the surface first, then use your hands to guide
                    the decal on a little at a time. At this point only apply the decal lightly. If you need to
                    reposition or adjust the decal you should be able to slowly and carefully peel the decal away from
                    the body of the vehicle and reposition before the adhesive fully sets in.
                </p>
            </li>
            <li class="installation-step-item">
                <div class="img-wrap"><span class="step-number">5.</span><img
                        src="https://www.signs.com/content/assets/filelibrary/step5-8507.jpg" alt=""></div>
                <p>Once the decal is in place, use a squeegee* to remove air bubbles and small pockets. When using the
                    squeegee, start in the center of the decal and move in a straight line to the right and left side of
                    the decal—then move up and down working out any pockets or bubbles. Continue this process until you
                    have ran the squeegee over the entire decal. You’ll want to use some steady pressure with the
                    squeegee to work out the pockets. You may place the back liner on top of your decal during this
                    process to avoid damage to the decal. Once squeegeed, you will not be able to reposition your
                    decal.</p>
                <p>*Available as an additional purchase. </p>
            </li>


        </ul>
        <p class="note">**Note: If you are installing an “inside glass” opaque car decal, use a wet installation method:
            Mix 3 drops of household dish soap to 1 gallon of water. Use a spray bottle to gently spray that solution
            onto the adhesive side (printed side for inside glass) of your decal as well as the application surface.
            Place the decal onto the surface and move it around while it is still “wet” to the desired position.
            Finally, use a squeegee to remove all bubbles and excess water. Dry to finish.
        </p>
        <p>Download or Print <a class="download-pdf-link" href="">Opaque Car Decal Installation Instructions PDF</a></p>
    </div>
</section>


<!-- Care & Removal -->
<section class="section-default section-installation">
    <div class="standard-container">
        <ul>
            <li>
                <img src="https://www.signs.com/content/assets/filelibrary/yellow-towel-8162.png" alt="">
                <h2>Care & Removal</h2>
                <p>Like all car and truck window decals, wash your opaque decal regularly to maintain appearance and
                    longevity. Regular washing helps to prevent dirt and road grime build up. These decals are safe for
                    most car washes. However, do not apply high pressure water for long periods of time to avoid having
                    the decal start peeling. To remove the decal, simply peel back a corner using a razor blade and then
                    pull the remaining decal away from the body or surface of your vehicle. You can also use the razor
                    blade to remove any remaining adhesive residue. Be careful not to scratch the installation surface
                    if sharp objects are used during removal.</p>
            </li>
        </ul>
    </div>
</section>


<!-- Design tool and services -->
<section class="section-default design-services">
    <div class="standard-container">
        <div class="myrow">
            <div class="design-services-group">
                <h2 class="design-services-heading">Easy to Use <br>Design Tool</h2>
                <img class="design-services-image"
                     src="https://www.signs.com/content/assets/filelibrary/design-tool-screen-8341.png"/>
                <p class="design-services-text">Create your custom opaque car decal with our simple and easy design
                    tool. Upload images, create objects, add text, adjust sizing, change color, and so much more!</p>
                <a href="https://www.signs.com/design/?productID=43">Check It Out</a>
            </div>

            <div class="design-services-group">
                <h2 class="design-services-heading">Free Professional <br> Design Services</h2>
                <img class="design-services-image"
                     src="https://www.signs.com/content/assets/filelibrary/FreeDesignServices1920x639-8342.png"/>
                <p class="design-services-text">Whether you need help uploading your design or are interested in
                    creating something entirely new, our team of professional graphic designers is here to help. Nothing
                    beats free!</p>
                <a href="https://www.signs.com/design-services/">Learn More</a>
            </div>
        </div>
    </div>
</section>

<!-- Section Gallery Image -->
<section class="section-default section-gallery-image">
    <div class="standard-container">
        <h2>Image Gallery</h2>
    </div>
</section>

<!-- All Car and Vehicle Decals -->
<section class="section-default section-car-vehicle-decals">
    <h2 class="content-header options">All Car and Vehicle Decals</h2>
    <p class="options-description">We offer several different vehicle decal types to ensure you are able to get the
        decal that best meets your needs. Create a consistent look and make your vehicle stand out by incorporating
        several different types of decals on your car or truck.</p>
    <section id="cut-options">
        <div class="options-container">

            <a class="vinyl option" href="https://www.signs.com/car-and-truck-lettering/">
                <img src="https://www.signs.com/content/assets/filelibrary/Veterinary-Health-Service-(5)-8349.png"/>
                <div class="text">
                    <h3>Lettering</h3>
                    <p>No background, letters and objects cut to exact shape</p>
                </div>
            </a>

            <a class="clear option" href="https://www.signs.com/clear-vehicle-decals/">
                <img src="https://www.signs.com/content/assets/filelibrary/Veterinary-Health-Service-(1)-8345.png"/>
                <div class="text">
                    <h3>Clear</h3>
                    <p>White background, any color combination available</p>
                </div>
            </a>

            <a class="opaque option" href="https://www.signs.com/opaque-vehicle-decals/">
                <img src="https://www.signs.com/content/assets/filelibrary/Veterinary-Health-Service-(2)-8346.png"/>
                <div class="text">
                    <h3>Opaque</h3>
                    <p>White background, any color combination available</p>
                </div>
            </a>
            <a class="peforated option" href="https://www.signs.com/perforated-vehicle-decals/">
                <img src="https://www.signs.com/content/assets/filelibrary/Veterinary-Health-Service-(3)-8347.png"/>
                <div class="text">
                    <h3>Perforated</h3>
                    <p>Perforated material, best for covering entire windows</p>
                </div>
            </a>
            <a class="frosted option" href="https://www.signs.com/magnets/">
                <img src="https://www.signs.com/content/assets/filelibrary/Veterinary-Health-Service-(4)-8348.png"/>
                <div class="text">
                    <h3>High Adhesive</h3>
                    <p>White background, designed for permanent use</p>
                </div>
            </a>
        </div>
    </section>
    <a class="get-started-button" href="https://www.signs.com/window-decals/">See All Decals</a>
</section>

<section class="section-default section-reviews">
    <div class="standard-container">
        <h2 id="product-reviews">Reviews</h2>
        <script type="text/javascript"> var sa_products_count = 5;
        var sa_date_format = 'F j, Y';
        var sa_product = '[7797E5FE-03C2-4CF7-8302-5EBB1A8A01B4]';
        (function (w, d, t, f, o, s, a) {
            o = 'shopperapproved';
            if (!w[o]) {
                w[o] = function () {
                    (w[o].arg = w[o].arg || []).push(arguments)
                };
                s = d.createElement(t), a = d.getElementsByTagName(t)[0];
                s.async = 1;
                s.src = f;
                a.parentNode.insertBefore(s, a)
            }
        })(window, document, 'script', '//www.shopperapproved.com/product/8336/' + sa_product + '.js'); </script>
        <div id="shopper_review_page">
            <div id="review_header"></div>
            <div id="product_page"></div>
            <div id="review_image"><a href="http://www.shopperapproved.com/reviews/signs.com/"
                                      onclick="var nonwin=navigator.appName!='Microsoft Internet Explorer'?'yes':'no'; var certheight=screen.availHeight-90; window.open(this.href,'shopperapproved','location='+nonwin+',scrollbars=yes,width=620,height='+certheight+',menubar=no,toolbar=no'); return false;"
                                      target="_blank" rel="nofollow"></a></div>
        </div>
    </div>
</section>
<!-- FAQ -->
<section id=”faq” class="section-default faqmain">
    <div class="standard-container">
        <div class="faq-section-header">Product Specs</div>
        <ul class="signs-faq-seed">
            <li>What material is your opaque car decal made out of?</li>
            <li>Our opaque car decals are made from a white polymeric calendered film with a grey pigmented, pressure
                sensitive adhesive which allows for fast and bubble-free application. This material is professional
                grade and durable to be used inside or outside.
            </li>
            <li>Will my opaque decal be transparent or allow visibility?</li>
            <li>No. Opaque car decals are not transparent. This is the case even when there is nothing printed on them.
                The actual material itself is opaque in nature. Thus, we recommend that opaque decals not be used on any
                car windows as it will obstruct the vision of the driver and can be dangerous. Rather as detailed below
                opaque car decals can be used on other locations and for other uses on a car, truck, boat or other
                vehicle.
            </li>
            <li>Do you offer other types of vehicle decals?</li>
            <li>Yes - we offer a number of different car decals. <a style="color: #3fa9f5;"
                                                                    href="https://www.signs.com/vehicle-decals/">Clear
                car decals</a> offer transparency wherever they are not printed and can in some cases be used for car
                windows. <a style="color: #3fa9f5;" href="https://www.signs.com/perforated-vehicle-decals/">Perforated
                    car decals</a> offer one way visibility regardless of what is printed on them. This latter option is
                the best solution for rear window graphics for vehicles.
            </li>
            <li>Are vinyl car decals the same thing as car window stickers or car window graphics?</li>
            <li>For all intents and purposes these terms can be used interchangeably and differences are largely
                semantic in nature. In most cases all of these terms imply a semi-permanent use car decal that adheres
                to the window using an adhesive backing. Further, once positioned on the car or vehicle they cannot be
                removed and repositioned. While removal is fairly easy, trying to put them in a different spot will not
                result in a good looking graphic. So while we use the term car decal if you use the term sticker or
                graphic, we&rsquo;ll understand what you are asking for.
            </li>
            <li>How thick are your custom opaque car decals?</li>
            <li>The actual thickness of the car decals is 75 micrometers or .00295 inches. In other words, imagine the
                thickness of a sheet of printer paper and you have the thickness of our opaque decals. They are razor
                thin yet durable when placed on your car, truck or other vehicle!
            </li>
            <li>What is the lifespan of your opaque vehicle decals?</li>
            <li>With proper care and placement your car decal can last for 5+ years. This lifespan will be impacted by
                usage and the situation in which it is used. For example, decals used for exterior use and used in harsh
                climates may have a shorter lifespan. Those used on a display car that is inside at all times will
                obviously last much longer. They truly are a durable solution regardless of the usage.
            </li>
            <li>Will the exposure to sun or the elements ruin my custom car decal?</li>
            <li>Over an extended period the sun will impact any type of sign, including car decals. Nonetheless, we
                print with a UV ink that should keep your decal looking sharp for years to come.
            </li>
            <li>Can the car decals be cut to shape? What about Individual letters?</li>
            <li>
                <p>There are several different shape options to choose from for your floor decals, including
                    Square/Rectangle, Rounded Corners (¼” or 1” radius), Circle/Oval, Custom or Custom with
                    Border.<br></br>The Custom shape option (previously known, or sometimes referred to, as Contour Cut)
                    allows you to either upload a custom shape to our design tool or have us create a custom shape for
                    your sign based off of your design. The Custom with Border shape option (previously known, or
                    sometimes referred to, as Halo Cut) is similar to the Custom shape option but will leave a small
                    border around the edge of your design.</p>
                <p>Individual letters are a completely separate product called vinyl lettering. If you are interested in
                    vinyl lettering for your car or vehicle that is opaque in nature please <a style="color: #3fa9f5;"
                                                                                               href="https://www.signs.com/contact/">contact
                        us</a> for further details.</p>
            </li>
            <li>What is the minimum and maximum size decal I can order? Are there restrictions on size?</li>
            <li>
                <p>The smallest your decal can be is 6&rdquo;x6&rdquo;. The largest it can be is 52&rdquo;x1798&rdquo;!
                    In other words as long as at least one of your dimensions is under 52&rdquo; we should be able to
                    print any decal you can possibly imagine, design, need or want!</p>
                <p>Keep in mind that despite the fact that size shouldn&rsquo;t be an issue that placement on the car is
                    critical for the decal to last a long time. A larger decal that lies over top of cracks or raised
                    portions of a car, truck, van, etc. can cause the decal to come off the vehicle during use due to
                    the wind that gets underneath the decal. Thus, keep placement in mind as you are deciding on what
                    size balances aesthetics and effectiveness for others&rsquo; ability to read the sign.</p>
            </li>
            <li>What if my decal has more than 2 colors? Will it cost more?</li>
            <li>
                <p>We print all of our signs in full color. Thus, the design or number of colors you choose to include
                    on your sign will have zero impact on the cost of your decal. We even offer free design services to
                    help you design exactly what you want.</p>
                <p>Things that will impact the price include if you decide to cut it to shape, the size you decide on,
                    the quantity of signs you purchase and potential taxes and/or shipping costs.</p>
            </li>
        </ul>
        <div class="faq-section-header">Usage</div>
        <ul class="signs-faq-seed">
            <li>Will my opaque decal damage or ruin my window or vehicle in any way?</li>
            <li>
                <p>The use of an opaque decal shouldn&rsquo;t ruin nor damage your vehicle in any way. Whether you
                    decide to use it on a window or on the side of a vehicle they should not adversely affect the window
                    or paint job. Even removing the decals shouldn&rsquo;t cause any damage.</p>
                <p>The only possible negative impact is a decal that is in place for an extended period causing the
                    paint underneath the decal to be more vibrant than the rest of the vehicle due to fading over time.
                    Likewise, user error when removing or installing a decal can cause damage to the vehicle. Just be
                    careful when using any kind of sharp edged instrument to aid in installation or removal!</p>
            </li>
            <li>What are opaque car decals typically used for?</li>
            <li>
                <p>As mentioned above, opaque window decals can be problematic for window use on vehicles. This is
                    because they are opaque in nature and can obstruct the vision of a driver. Thus, when used on
                    vehicle windows they are most often smaller in nature and placed in a way as to not impede the
                    visibility of the driver. Some examples include registration or vehicle numbers, contact numbers,
                    etc.</p>
                <p>Much more common uses are for the sides of vehicles. This can be on normal cars that are advertising
                    their own business (realtors, home based businesses, catering, tradesmen, etc) or for fleet
                    vehicles. Fleet vehicles such as delivery trucks and vans almost always have a branded element on
                    the side of them. Because transparency isn&rsquo;t needed, an opaque decal is often used to give the
                    branded component more contrast and make it easier to read and be seen from a distance.</p>
            </li>
            <li>Can I place my decal on the inside of my car window and have it be visible to those outside?</li>
            <li>No. Due to the opacity of the material itself reverse printing is not possible with this type of decal.
                Thus, you are not able to place it on the inside of your vehicle in a way that allows those on the
                outside to see it.
            </li>
            <li>Can the car decal be used only on a glass surface such as a window?</li>
            <li>
                <p>No. The decal can be placed on a window or on the side of a vehicle. While this ability can vary it
                    is largely dictated by whether the surface itself is porous or not and the smoothness of the
                    surface. Nonporous surfaces that are also smooth are typically where your decal will be able to be
                    placed. The opposite situation doesn&rsquo;t allow for the adhesive to take hold on the surface and
                    allows wind to get underneath the decal. While the vehicle is in use this wind can be very powerful
                    and cause the decal to start to peel away or even fly off altogether.</p>
                <p>So assuming you have a smooth nonporous surface on your vehicle you should be set. If you are unsure
                    of whether it will work on your vehicle please don&rsquo;t hesitate to ask us!</p>
            </li>
        </ul>
        <div class="faq-section-header">Installation & Care</div>
        <ul class="signs-faq-seed">
            <li>Does my decal have a backing? How do I remove it?</li>
            <li>
                <p>Yes. Your decal, regardless of the size, will come with a backing to protect the adhesive part of the
                    sign. In order to install your sign you will need to remove the backing to expose the adhesive part.
                    Full installation instructions are given below.</p>
                <p>To remove the backing it is easiest to use a corner to peel it away. Due to the thinness of the
                    backing sometimes this proves difficult. In these cases a piece of scotch tape can be attached
                    partway on the corner of the sign and used as a tab to help pull away the backing.</p>
            </li>
            <li>How do I install my opaque window decal?</li>
            <li>
                <p>Before installation be sure to clean the surface where the decal will be placed. This can be done
                    with water and a non-abrasive rag or cloth. Once it is air dried you are ready to install your
                    decal.</p>
                <p>The next step is to peel away the backing on your decal as outlined above. Once removed you can
                    lightly press your decal onto the spot where you&rsquo;d like it to be positioned. It is best to
                    start from one edge and work towards the opposite edge. Pressing it on lightly and using a squeegee
                    or other sharp edge will allow you to remove air bubbles as you go. If you are unable to remove them
                    then you should be able to peel it away from the surface before the adhesive full sets in. Once it
                    is in place you can more firmly apply the decal. Doing so will release additional adhesive and allow
                    the decal to adhere more permanently.</p>
            </li>
            <li>Does installation require more than one person?</li>
            <li>For smaller decals a second person is not needed. For larger decals (larger than 18&rdquo;-24&rdquo;)
                having a second person will make installation significantly easier. A second person can help avoid
                having the decal stick to itself or the surface prematurely. It also makes it easier to remove air
                bubbles and gently peel it away from the surface in order to reapply as necessary.
            </li>
            <li>How do I store my decal?</li>
            <li>
                <p>Initial storage can be done by rolling the decal or laying it flat in a cool and dry location. If
                    stored, rolled heavy objects should not be placed on top of the decal as this can cause creases that
                    may not come out.</p>
                <p>After installation the decal cannot be stored as it is a one use only product.</p>
            </li>
            <li>How do I clean my decal?</li>
            <li>
                <p>Your decal can be washed on a regular basis with a wet or damp cloth or rag that is non-abrasive in
                    nature. Make sure that there aren&rsquo;t any sharp objects or tiny rocks on the decal before wiping
                    down gently.</p>
                <p>Two things to avoid doing while the decal is on your vehicle are using a power washer and going
                    through car washes. Both methods of cleaning your vehicle can damage the decal or even cause it to
                    fall off due to the pressure of the water.</p>
            </li>
            <li>How do I remove my decal? Will it leave behind a huge mess and lots of residue?</li>
            <li>
                <p>In almost all situations your decal simply needs to be peeled away from the surface in order to
                    remove it. Any residual adhesive can be cleaned up using a cleaner that is compatible with the
                    surface (typically a mild cleaner works just fine) and a non-abrasive rag or cloth.</p>
                <p>Decals that have been in place for an extended period can sometimes be more difficult to remove. In
                    these situations parking the vehicle in the sun or using artificial heat (blow dryer) can help make
                    it easier to remove. Likewise, using a sharp edge can help remove the decal. Just be careful using a
                    sharp edge so that no damage occurs to the vehicle itself while trying to remove the decal.</p>
            </li>
            <li>Can I wash my window or vehicle with the decal installed?</li>
            <li>As noted above, pressure washers and car washes should typically be avoided when a decal is installed.
                Both of these things can cause damage to the decal or to peel it away from the vehicle. The force of the
                water itself can sometimes simply be too much for the decal to handle. You can wash your car as often as
                you wish, but while the decal is on your vehicle, we recommend hand washing.
            </li>
        </ul>
    </div>
</section>