<
style >
    /* Globals */
.section-default {
    padding: 60px 0;
    text-align: center;
}

.section-default h2 {
    font-size: 30px;
    font-weight: 400;
    /* margin: 0; */
}

.section-default p {
    font-size: 20px;
    margin-bottom: 30px;
}

.section-default [class*=img-wrap] img {
    width: 100%;
}

.standard-container {
    max-width: 1432px;
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
    margin: 0 auto;
}

/* Hero Section */
.section-hero-full-width {
    padding: 20px 0 15px;
}

.hero-head, .hero-footer {
    margin: 0 auto;
    padding: 0 20px;
    max-width: 800px;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
}

.hero-head {
}

.hero-head h1 {
    font-size: 50px;
    font-weight: 400;
    margin-bottom: 10px;
}

.hero-list {
    font-size: 0;
}

.hero-list-item:first-child:before {
    content: '';
}

.hero-list-item:before {
    content: '\2022';
    top: -1px;
    left: -3px;
    font-size: 18px;
    position: absolute;
}

.hero-list-item {
    position: relative;
    padding: 0 10px;
    font-size: 20px;
    display: inline-block;
}

.hero-body {
}

.hero-img-wrap {
    max-width: 1040px;
    margin: 15px auto 20px;
    width: 100%;
}

.hero-img {
    width: 100%;
}

.hero-footer {
}

.hero-phrase {
    font-size: 20px;
}

/* Quick Start */
.placeholder-sticky {
    padding: 0 0 30px;
}

/* Store Ratings */
#shoppersReviews {
    padding: 30px 0 0;
}

#shoppersReviews .shopper-approved-link {
    margin: 0;
}

.sa-caption {
    display: none;
}

/* View All FAQS */
.faq-search-links {
    padding: 35px 0;
    color: #5ca9f5;
    background: #fff;
    /* margin-top: -1px; */
}

span.caret {
    position: relative;
    top: 5px;
    left: 7px;
    content: '';
    border-width: 6px;
    border-color: transparent;
    border-top: 6px solid #62adf5;
    height: 6px;
    /* overflow: hidden; */
    /* box-sizing: border-box; */
}

.section-great-for-use {
    text-align: center;
}

.section-great-for-use h2 {

}

.great-img-wrap {
    max-width: 990px;
    width: 100%;
    margin: 77px auto 50px;
}

.great-img-wrap img {
    /* width: 100%; */
}

.great-use-list {
    font-size: 0;
}

.great-use-list-item {

}

.great-use-list-item:first-child:before {
    content: '';
}

.great-use-list-item:before {
    content: '\2022';
    top: -1px;
    left: -3px;
    font-size: 18px;
    position: absolute;
}

.great-use-list-item {
    position: relative;
    padding: 0 16px;
    font-size: 20px;
    display: inline-block;
}

/* Why Signs Section */
.section-why-signs {
}

.section-why-signs h2 {
    margin-bottom: 50px;
}

.why-signs-list {
    font-size: 0;
    margin-top: 35px;
    margin: 0 -20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.why-signs-list-item {
    display: inline-block;
    font-size: 20px;
    padding: 0 20px;
    box-sizing: border-box;
    max-width: 482px;
    width: 100%;
}

.why-signs-list-item img {
    margin-bottom: 10px;
}

.why-signs-list-item h3 {
    font-size: 25px;
    margin-bottom: 10px;
}

.why-signs-list-item p {
    color: #919396;
    font-size: 19px;
}

.why-signs-list-item p br {
    display: none;
}

/* Section What are Opaque Vehicle Decals */
.section-what-ovd {
    text-align: left;
}

.section-what-ovd .standard-container:after {
    content: '';
    display: block;
    clear: both;
}

.section-what-ovd h2 {
    margin-bottom: 57px;
}

.section-what-ovd p {
    margin-bottom: 20px;
    max-width: 869px;
    width: 100%;
    /* display: inline-block; */
}

.section-what-ovd br {
    display: none;
}

.section-what-ovd img {
    width: 100%;
}

.ovd-img-wrap {
    float: right;
    max-width: 645px;
    width: 100%;
    margin-top: -45px;
    margin-left: 53px;
}

/* Section Featured */
.section-signs-features {
    padding: 60px 0;
    text-align: center;
    margin-bottom: 106px;
}

.section-signs-features .standard-container {
    position: relative;
}

.section-signs-features h2 {
    font-size: 25px;
    margin-bottom: 100px;
}

.section-signs-features .featured-img-wrap {
    margin: 0 auto;
    max-width: 900px;
    width: 100%;
}

.signs-featured-list {
    text-align: left;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.signs-featured-list li {
    display: inline-block;
    position: relative;
    padding: 0 170px 0 0;
    left: none;
    max-width: 250px;
    width: 100%;
    position: absolute;
}

.signs-featured-list li img {
    position: absolute;
    width: 160px;
    height: 160px;
}

.signs-featured-list li h3 {
    font-size: 25px;
    margin-bottom: 8px;
}

.signs-featured-list li p {
    FONT-WEIGHT: 300;
    color: #919396;
    font-size: 20px;
    font-weight: 300;
}

.signs-featured-list li p br {
    display: none;
}

.signs-featured-list li:first-child {
    top: 21%;
}

.signs-featured-list li:first-child img {
    right: 0;
    top: -30px;
}

.signs-featured-item:nth-child(2) {
    bottom: -111px;
    left: 2px;
}

.signs-featured-item:nth-child(2) img {
    top: 80px;
    right: 3px;
}

.signs-featured-item:nth-child(3) {
    top: 17%;
    right: 1%;
    padding: 0 0 0 170px;
}

.signs-featured-item:nth-child(3) img {
    top: -9px;
    left: 11px;
}

.signs-featured-item:nth-child(4) {
    bottom: -80px;
    right: 0;
    padding: 0 0 0 170px;
}

.signs-featured-item:nth-child(4) img {
    top: 21px;
    left: 5px;
}

.signs-featured-item:nth-child(5) {
    top: -92px;
    left: 1227px;
    padding: 0 0 0 160px;
    top: -8%;
    left: 66%;
}

.signs-featured-item:nth-child(5) img {
    top: -53px;
    left: -15px;
}

/* Additional Specs */
.section-additional-specs {
    padding: 64px 0;
}

.section-additional-specs .container {
    margin: 0 auto;
    max-width: 830px;
    text-align: center;
    padding: 0 20px;
}

.section-additional-specs h2 {
    text-align: center;
    font-size: 25px;
    margin-bottom: 50px;
}

.section-additional-specs {
}

.additional-specs-list {
    display: inline-block;
    /* margin: 0 auto; */
    text-align: left;
}

.additional-specs-list li {
    display: flex;
    margin-bottom: 20px;
}

.additional-specs-list li h3 {
    min-width: 220px;
    font-size: 25px;
    color: #333333;
    font-weight: 300;
    margin-right: 100px;
}

.additional-specs-list li p {
    font-size: 18px;
}

/* Section Popular Templates */
.section-popular-template #popular-templates-wrapper {
    max-width: 1120px;
    width: 100%;
    margin: 0 auto;
}

.section-popular-template h2 {
    margin-bottom: 20px
}

.section-popular-template .template-list-widget {
    padding: 0;
    width: 100%;
}

/* How to install Opaque Car Decals */
.section-hiocd {
}

.section-hiocd h2 {
    margin-bottom: 20px;
}

.section-default .instruction-intro {
    font-size: 18px;
    max-width: 935px;
    margin: 0 auto;
}

.installation-step-list {
    text-align: left;
    max-width: 1215px;
    margin: 75px auto 0;
    display: inline-block;
}

.installation-step-item {
    margin-bottom: 50px;
}

.installation-step-item .step-number {
    position: absolute;
    z-index: 1;
    color: #fff;
    background-color: #8CC53F;
    font-size: 25px;
    font-weight: 300;
    width: 45px;
    height: 42px;
    text-align: center;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 10px;
    display: none;
}

.installation-step-item .img-wrap {
    max-width: 330px;
    height: auto;
    width: 100%;
    margin-right: 50px;
    float: left;
    position: relative;
}

.installation-step-item p {
}

.download-pdf-link {
}

.installation-step-item:after {
    content: '';
    display: block;
    clear: both;
}

.section-hiocd .note {
    font-size: 16px;
    max-width: 1120px;
    margin: 0 auto 30px;
}

a.download-pdf-link {
    display: inline-block;
    color: #0097D5;
    font-size: 20px;
    text-decoration: underline;
    /* font-style: italic; */
}

.installation-step-item br {
    display: none;
}

.installation-step-item .step-number:before {
    content: '';
    border: 21px solid transparent;
    position: absolute;
    left: 45px;
    right: 0;
    top: 0;
    bottom: 0;
    border-left: 9px solid #8cc53f;
}

/* Section Installation */
.section-installation {
    /* padding: 80px 0; */
    text-align: left;
}

.section-installation h2 {

}

.section-installation p {

}

.section-installation ul {
    /* list-style: none; */
    max-width: 1120px;
    width: 100%;
    margin: 0 auto;
}

.section-installation ul li {

}

.section-installation ul li h2 {
    font-size: 25px;
    font-weight: 400;
    margin-bottom: 15px;
}

.section-installation ul li p {
    font-size: 18px;
}

.section-installation ul li img {
    float: right;
    margin-left: 84px;
    height: 240px;
    width: auto;
}

.section-installation ul li:after {
    content: '';
    display: block;
    clear: both;
}

.section-installation ul li .container {
    padding: 0 20px;
}

.section-installation .container {
    padding: 0 90px;
    max-width: 1287px;
    margin: 0 auto;
}

.section-installation ul li br {
    display: none;
}

/* Design tool and services */
.design-services {

}

.design-services .myrow {
    display: flex;

}

.design-services .design-services-group {
    margin-top: 0;
    margin-bottom: 0;
}

.design-services .design-services-heading {
    margin-top: 0;
    margin-bottom: 45px;
}

.design-services .design-services-image {
    margin-bottom: 0;
}

.design-services .design-services-text {
    color: #919396;
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: 400;
}

.design-services .design-services-group a {
    color: #0097D5;
    font-size: 20px;
}

/* Section Gallery Image  */
.section-gallery-image {

}

.section-gallery-image h2 {
    margin-bottom: 20px;
}

.section-gallery-image .image-gallery-2019 {
    margin-top: 50px;
}

.section-gallery-image .image-gallery-2019 .image-gallery-slider2019 {
    margin-bottom: 0 !important;
}

/* All Car and Vehicle Decals */
.section-car-vehicle-decals {

}

.section-car-vehicle-decals h2, .section-car-vehicle-decals p {
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
    text-align: center;
}

.section-car-vehicle-decals h2 {
    margin-bottom: 25px;
}

.section-car-vehicle-decals p {
    margin-bottom: 50px;
}

.section-car-vehicle-decals .option {
    position: relative;
}

.options-container .option:hover {
    background-color: #2c7abf6e;
}

.options-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: baseline;
    margin-bottom: 20px;
    flex-wrap: wrap;
    max-width: 1604px;
    margin: 0 auto;
    z-index: 1;
}

.options-container:before {
    /* position: absolute; */
    /* content: ''; */
    display: block;
    width: 100%;
    top: 0;
    bottom: 0;
    background: url(https://www.signs.com/content/assets/filelibrary/CarTruck-LetteringSky-4872.png);
    background-size: cover;
    text-align: center;
    background-repeat: no-repeat;
}

.options-container .text {
    opacity: 1;
    padding: 40px 20px 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: white;
    width: 100%;
    box-sizing: border-box;
}

.options-container .option {
    display: flex;
    flex-direction: column;
    flex: 1 1 200px;
    justify-content: stretch;
    align-items: center;
}

.options-container .option img {
    flex: 0;
    width: 100%;
    max-width: 235px;
    /* padding-bottom: 20px; */
    /* padding-top: 20px; */
    padding: 30px 0;
}

.options-container .text h3 {
    font-size: 1.5em;
    font-weight: 400;
    margin-bottom: 5px;
}

.options-container .text p {
    padding: 0px 20px;
    font-size: 1.2em;
    max-width: 300px;
    text-align: center;
    align-self: center;
    margin: 0;
    color: #666666;
    font-size: 18px;
    padding: 0;
}

#cut-options {
    background: url(https://www.signs.com/content/assets/filelibrary/CarTruck-LetteringSky-4872.png);
    background-size: cover;
    text-align: center;
    background-repeat: no-repeat;
    position: relative;
}

#cut-options h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    margin-top: 20px;
}

.options-description {
    font-size: 1.3rem;
    margin: 20px 45px;
    font-size: 1.3rem;
    margin: 20px 45px;
}

.options-container .text:before {
    background: #fff;
}

#cut-options:after {
    content: '';
    background: #fff;
    position: absolute;
    height: 138px;
    bottom: 0;
    width: 100%;
    left: 0;
    right: 0;
}

.section-car-vehicle-decals .get-started-button {
    min-width: 0;
    max-width: initial;
    display: inline-block;
    margin: 0;
    color: #fff;
    line-height: 1;
    height: initial;
    font-size: 18px;
    padding: 10px 55px;
    font-weight: 300;
    border-radius: 7px;
    margin-top: 35px;
}

/* Section Review */
.section-reviews {

}

#shopper_review_page {
    text-align: left;
    width: 100%;
}

#review_image {
    display: none;
}

/* FAQ */
.product-tabs-wrapper.v4 {
    margin: 0;
}

.product-tabs-wrapper #product-tab-1 {
    margin: 0;
}

.faqmain {
    margin: 0 auto;
}

.product-tabs-wrapper .faq-search-links {
    padding: 0;
    margin: 0 0 10px;
    background: initial;
}

.product-tabs-wrapper .faq-search-form {
    margin-bottom: 15px;
}

.signs-faq-2 {
    text-align: left;
}

@media (max-width: 1680px) {
    /* Section What are Opaque Vehicle Decals */
    .section-what-ovd p {
        max-width: 688px;
    }
}

@media (max-width: 1600px) {
    /* Section What are Opaque Vehicle Decals */
    .section-what-ovd p {
        max-width: 705px;
    }

    .section-what-ovd p {
        max-width: 690px;
    }
}

@media (max-width: 1536px) {
    .standard-container {
        max-width: 1271px;
    }

    /* Hero Section */
    .hero-img-wrap {
        max-width: 935px;
    }

    /* Section What are Opaque Vehicle Decals */
    .section-what-ovd p {
        max-width: 550px;
    }

    /* Section Featured */
    .signs-featured-list li {
        padding: 0 143px 0 0;
    }

    .section-signs-features .featured-img-wrap {
        max-width: 601px;
    }

    .signs-featured-list li img {
        width: 135px;
        height: 135px;
    }
}

@media (max-width: 1440px) {
    /* Section What are Opaque Vehicle Decals */
    .section-what-ovd p {
        max-width: 550px;
    }

    .ovd-img-wrap {
        margin-left: 30px;
    }
}

@media (max-width: 1366px) {
    .standard-container {
        max-width: 1150px;
    }

    /* Hero Section */
    .hero-img-wrap {
        max-width: 633px;
    }

    /* Section What are Opaque Vehicle Decals */
    .section-what-ovd p {
        max-width: 630px;
    }

    .ovd-img-wrap {
        margin-left: 30px;
        max-width: 455px;
    }

    /* Section Featured */
    .signs-featured-list li p {
        font-size: 18px;
    }

    /* All Car and Vehicle Decals */
    .options-container {
        max-width: 1245px;
    }

    .options-container .option img {
        max-width: 195px;
    }

    #cut-options:after {
        height: 154px;
    }

}

@media (max-width: 1319px) {
    /* All Car and Vehicle Decals */
    .options-container .option {
        flex: 1 1 400px;
    }
}

@media (max-width: 1280px) {
    /* Hero Section */
    .hero-img-wrap {
        max-width: 633px;
    }

    /* Section What are Opaque Vehicle Decals */
    .section-what-ovd p {
        max-width: 580px;
    }

    /* All Car and Vehicle Decals */
    .options-container {
        max-width: 1263px;
    }

    .options-container .option {
        flex: 1 1 345px;
        max-width: 252.5px;
    }

    .options-container .text {
        padding: 35px 20px 35px;
    }

    #cut-options:after {
        height: 164px;
    }
}

@media (max-width: 1199px) {
    /* Section What are Opaque Vehicle Decals */
    .section-what-ovd {
        text-align: center;
    }

    .section-what-ovd p {
        margin: 0 auto 20px;
    }

    .ovd-img-wrap {
        float: none;
        margin: 0 auto 30px;
    }

    /* Section Featured */
    .signs-featured-list li br {
        display: none;
    }

    .section-signs-features .featured-img-wrap {
        max-width: 539px;
    }

    .signs-featured-list li {
        padding: 0 125px 0 0;
        max-width: 200px;
    }

    .signs-featured-list li p {
        font-size: 16px;
    }

    .signs-featured-list li img {
        width: 105px;
        height: 105px;
    }

    .signs-featured-list li:first-child {
        top: 30%;
        left: 3%;
    }

    .signs-featured-item:nth-child(2) {
        /* top: 81%; */
        left: 3%;
        bottom: -155px;
    }

    .signs-featured-item:nth-child(3) {
        top: 26%;
        left: 65%;
        padding: 0 0 0 122px;
    }

    .signs-featured-item:nth-child(4) {
        left: 66%;
        padding: 0 0 0 111px;
        bottom: -144px;
    }

    .signs-featured-item:nth-child(2) img {
        top: 19%;
        left: 66%;
    }

    /* All Car and Vehicle Decals */
    .options-container .option {
        flex: 1 1 337px;
        max-width: 341.34px;
    }
}

@media (max-width: 1023px) {
    /* All Car and Vehicle Decals */
    .options-container .option img {
        max-width: 300px;
    }

    .options-container .option {
        flex: 1 1 300px;
    }

}

@media only screen and (max-width: 1000px) {
    /* All Car and Vehicle Decals */
    .options-container .text p {
        max-width: 300px;
        margin: auto;
    }

}

@media (max-width: 991px) {
    /* Hero Section */
    .section-hero-full-width {
        padding: 75px 0 15px;
    }

    /* Why Signs Section */
    .why-signs-list {
        display: block;
    }

    /* Section Featured */
    .section-signs-features .featured-img-wrap {
        position: static;
        margin-bottom: 20px;
    }

}

@media (max-width: 991px) {
    /* Section Gallery Image  */
    .section-gallery-image .image-gallery-slider2019-thumbnails {
        margin-top: 30px;
    }

    /* All Car and Vehicle Decals */
    .options-container .option {
        flex: 1 1 500px;
    }
}

@media (max-width: 800px) {
    /* All Car and Vehicle Decals */
    .options-container .option {
        flex: 1 1 516px;
        max-width: 384px;
    }

    .options-container .text p {
        padding: 0px 20px;
    }

    /* Section Installation */
    .section-installation ul li {
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .section-installation ul li:after {
        display: none;
    }

    .section-installation ul li h2 {
        order: 1;
    }

    .section-installation ul li img, .section-installation ul li p {
        order: 2;
        text-align: center;
    }

    .section-installation ul li img {
        float: none;
        margin: 0 auto;
        max-width: 250px;
        height: auto;
    }

    /* Design tool and services */
    .design-services .myrow {
        display: block;
    }

    .design-services .design-services-group {
        max-width: initial;
        margin: 0 auto 40px;
    }

    .design-services .design-services-group:nth-child(2) {
        margin-bottom: 0;
    }

    .design-services .design-services-heading {
        max-width: initial;
        display: block;
        width: 100%;
        margin: 0 auto 20px;
    }

    .design-services .design-services-heading br {
        display: none;
    }
}

@media (max-width: 768px) {
    /* Section Featured */
    .section-signs-features {
        margin-bottom: 0;
    }

    .section-signs-features h2 {
        margin-bottom: 15px;
    }

    .signs-featured-list * {

    }

    .signs-featured-list {
        /* height: auto; */
        position: static;
    }

    .signs-featured-list li {
        padding: 0 0 0 125px !important;
        width: 100% !important;
        max-width: initial;
        position: relative !important;
        top: initial !important;
        left: initial !important;
        right: initial !important;
        margin: 0 0 25px;
        box-sizing: border-box;
        bottom: initial !important;
    }

    .signs-featured-list li p {
        margin-bottom: 0;
    }

    .signs-featured-item img {
        left: 0 !important;
        top: 0 !important;
        width: 115px;
        height: 115px;
    }

    /* How to install Opaque Car Decals */
    .installation-step-item .img-wrap {
        max-width: 330px;
    }

    .installation-step-item p {
        font-size: 19px;
    }
}

@media (max-width: 767px) {
    /* All Car and Vehicle Decals */
    .cut-options-container {
        display: flex;
        justify-content: space-around;
        align-items: baseline;
        flex-wrap: wrap;
    }

    .cut-options-container p {
        font-size: 1.5rem;
    }

    .cut-option {
        padding: 20px;
        max-width: 500px;
    }

    .cut-options-container img {
        width: 100%;
    }

    /* How to install Opaque Car Decals */
    .installation-step-item {
        text-align: center;
        margin-bottom: 15px;
    }

    .installation-step-item .img-wrap {
        max-width: initial;
        margin: 0 auto 20px;
    }
}

@media (max-width: 575px) {
    .section-default {
        padding: 40px 0;
    }

    /* Hero Section */
    .section-hero-full-width {
        padding-top: 15px;
    }

    .hero-head h1 {
        font-size: 35px;
    }

    .hero-list-item {
        font-size: 16px;
    }

    .hero-list-item:first-child:before {
        content: '';
    }

    /* Great For Use on the Body of Any Vehicle */
    .great-use-list {
        display: inline-block;
    }

    .great-use-list-item {
        display: block;
        font-size: 19px;
        margin-bottom: 8px;
        text-align: left;
    }

    .great-use-list-item:first-child:before {
        content: '\2022';
    }

    /* Additional Specs */
    .section-additional-specs h2 {
        margin-bottom: 25px;
    }

    .additional-specs-list li {
        display: block;
        text-align: center;
    }

    .additional-specs-list li h3 {
        margin: 0;
        width: 100%;
        font-weight: 500;
        font-size: 19px;
        margin-bottom: 5px;
    }

    .additional-specs-list li p {
        font-size: 17px;
        color: #919396;
        font-weight: 300;
    }

    /* Section Popular Templates */
    .section-popular-template .template-list {
        margin: 0 -10px;
    }

    .section-popular-template #popular-templates-wrapper .template-list li {
        margin: 0;
        width: initial;
        padding: 0 10px 20px;
    }

    .section-popular-template #popular-templates-wrapper .template-list li a {
        width: 150px;
    }

    .section-popular-template #popular-templates-wrapper .template-list li a img {
        width: 100%;
    }

    /* Section Image Gallery */
    .section-gallery-image {

    }

    .section-gallery-image .standard-container {
        padding-left: 0;
        padding-right: 0;
    }

    /* All Car and Vehicle Decals */
    .section-car-vehicle-decals {
        text-align: center;
    }

    .section-car-vehicle-decals * {
        box-sizing: border-box;
    }

    .section-car-vehicle-decals h2 {
        padding: 0 20px 0;
        box-sizing: border-box;
    }

    .section-car-vehicle-decals p {
        padding: 0 20px 0;
        font-size: 18px;
        max-width: 390px;
        margin: 0 auto 30px;
    }

    .options-container {
        display: block;
    }

    .cut-options:after {
        display: none;
    }

    .options-container .option {
        max-width: initial;
    }

    .options-container .option img {
        max-width: 205px;
        height: auto;
        padding: 0;
    }

    .options-container .option:nth-child(4) img {
        height: 190px;
        max-height: 174px;
        overflow: hidden;
        /* padding: 25px 0; */
        margin: 25px 0;
        /* display: flex; */
    }

    #cut-options:after {
        display: none;
    }

    .options-container:last-child .text {
        padding-bottom: 20px;
    }

    .section-car-vehicle-decals .get-started-button {
        margin-top: 0;
        padding: 10px 40px;
    }

    /* Section Store Ratings  */
    #shoppersReviews, #shoppersReviews * {
        display: block !important;
        padding: 0 !important;
        margin: 0 !important;
        position: static !important;
        text-align: center !important;
    }

    #shoppersReviews {
        padding: 20px 0 !important;
    }

    #shoppersReviews > br {
        display: none !important;
    }

    #shoppersReviews .shopperapproved_widget {
        height: auto !important;
    }

    #shoppersReviews .aggregateRating-container {
        display: flex !important;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
    }

    #shoppersReviews .shopper-approved-container {
        padding: 0 20px !important;
    }

    #shoppersReviews .sa_review {
        height: auto !important;
        text-align: center;
        display: flex !important;
        flex-direction: column-reverse;
    }

    #shoppersReviews .sa_comments {
        margin-top: -17px !important;
        min-height: 60px;
        height: auto;
        display: block;
        flex: 0 0 auto;
        align-items: flex-end;
        font-size: 16px;
        overflow: visible;
        margin: 0 !important;
        overflow: hidden;
    }

    #shoppersReviews .sa_location {
        display: none !important;
    }

    #shoppersReviews .sa_info > span:first-of-type {
        background: red;
        display: none !important;
    }

    #shoppersReviews .sa_info {
        height: auto;
        display: block !important;
        flex: 0 0 auto;
    }

    #shoppersReviews .sa_date {
        display: none !important;
    }

    #shoppersReviews .sa_displayname {
        font-weight: 300;
    }

    #shoppersReviews .sa_star {
        display: none !important;
    }

    #shoppersReviews .sa-caption {
        display: none !important;
    }

    #shoppersReviews script {
        display: none !important;
    }
}

@media (max-width: 414px) {
    /* Section Quick Start */
    .sizeInput.qty {
        justify-content: flex-end;
    }

    .sizeInput.qty .size-input-qty {
        margin: 0
    }
}

@media (max-width: 375px) {
    .hero-list-item:first-child:before {
        content: '\2022';
    }
}

@media (max-width: 320px) {
    .section-hero-full-width {
        padding-top: 75px;
    }
}

<
/
style >