<div class="main-content-with-background">
    <div class="main-content-header">
        <div class="content-text">
            <h1>Custom Foam Board Signs</h1>
            <div class="main-sub-title">
                <span><span>&#9679</span> Any Custom Size</span>
                <span><span>&#9679</span> Double-Sided Printing</span>
                <span><span>&#9679</span> One-Day Printing</span>
                <span><span>&#9679</span> Free Design Services</span>
            </div>
        </div>
        <div class="section-image"> <img class="bg-image" src="https://www.signs.com/content/assets/filelibrary/FoamBoardHero@2x-5573.png" alt="hero image" />
        </div>
    </div>
</div>