
<div class="main-content">
    <div class="main-content-header">
        <h1>Custom Pole Banners</h1>
        <div class="main-sub-title">
            <p class="sub-title-text">durable</p>
            <p class="sub-title-dot">&#9679</p>
            <p class="sub-title-text">double sided</p>
            <p class="sub-title-dot">&#9679</p>
            <p class="sub-title-text">next day production</p>
        </div>
        <div class="hero-image">
            <img src="https://www.signs.com/content/assets/filelibrary/Hero-3911.jpg" alt="Custom pole banners">
        </div>
    </div>
</div>