body {
    box-sizing: border-box;
}

a.home-link {
    color: #40A9F5;
}

.wrapper {
    margin-top: 70px;
}

.js-loadPageContent * {
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
}

.js-loadPageContent h1,
.js-loadPageContent h2,
.js-loadPageContent h3,
.js-loadPageContent h4,
.js-loadPageContent h5,
.js-loadPageContent h6 {
    line-height: 1.2;
    font-weight: 400;
}

.js-loadPageContent h2 {
    font-size: 23px;
    margin-bottom: 24px;
}

.js-loadPageContent h3 {
    font-size: 1.4vw;
    margin-bottom: 16px;
}

.js-loadPageContent p {
    margin: 0 0 16px 0;
}

.portal-section {
    padding: 0 22px;
    box-sizing: border-box;
    width: 100%;
    display: block;
    margin: 0 auto;
}

    .portal-section * {
        box-sizing: border-box;
    }

.portal-heading-section .portal-heading {
    padding-top: 24px;
}

.portal-heading-section p > .dynamic-break {
    display: none;
}

.standard-separator {
    margin: 60px 0;
}

.portal-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.text-center {
    text-align: center;
}

.template-container {
    padding: 0 7px;
    flex: 1 1 50%;
    max-width: 50%;
    margin-bottom: 14px;
}

.template-item {
    display: flex;
    width: 100%;
    height: 200px;
    justify-content: center;
    align-items: center;
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.16);
    transition: box-shadow 0.4s ease;
    padding: 15px;
}

    .template-item:hover,
    .template-item:focus {
        transition: box-shadow 0.4s ease;
        box-shadow: 0 3px 20px rgba(0, 0, 0, 0.16);
    }

    .template-item > img {
        display: block;
        max-width: 100%;
        margin: 0 auto;
        max-height: 100%;
    }
/* Need an actual sign? We've got plenty! */
.custom-sign-container {
    flex: 1 1 460px;
    max-width: 460px;
    margin-bottom: 30px;
}

.custom-sign-list {
    margin-bottom: 16px;
}

.custom-sign-item {
    display: block;
    width: 100%;
    text-align: center;
    transition: transform 200ms ease-out;
}

    .custom-sign-item:hover {
        transition: transform 200ms ease-in;
        transform: scale(1.05);
    }

.custom-sign-image-container {
    height: 225px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;
    flex-direction: column;
}

.custom-sign-item img {
    display: block;
    max-width: 100%;
    margin: 0 auto;
    width: auto;
}

.custom-sign-name {
    font-size: 1.5vw;
    margin-bottom: 10px;
}

.custom-sign-description {
}
/* Frequently Asked Questions */
.faq-list .faq-question {
    font-weight: 600;
    margin-bottom: 10px;
}

.faq-list .faq-answer {
    line-height: 1.2;
    font-weight: 400;
    margin-bottom: 30px;
}

.get-free-template-section {
    margin: 0 auto;
    max-width: 720px;
}

.template-preview {
    margin-bottom: 20px;
    width: 200px;
    height: 165px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    /* box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16); */
    padding: 15px;
}

    .template-preview > img {
        display: block;
        max-width: 100%;
        margin: 0 auto;
        max-height: 100%;
    }

.get-free-template-section h5 {
    font-weight: 800;
    font-size: 20px;
    margin-bottom: 16px;
}

.get-free-template-section p {
    margin-bottom: 16px;
}

.get-free-template-section .form-group {
    margin-bottom: 16px;
    position: relative;
}

.get-free-template-section .cust-email {
    width: 100%;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    border: 1px solid rgba(0, 0, 0, 0.1);
    line-height: 1.5;
    font-size: 16px;
    height: 38px;
    padding: 10px 15px;
    box-sizing: border-box;
}

    .get-free-template-section .cust-email.error {
        box-shadow: 0px 3px 6px rgba(255, 0, 0, 0.32);
        font-weight: 400;
        color: #000;
    }

label.error {
    position: absolute;
    bottom: -18px;
    left: 0;
    font-size: 13px;
}

#templateModal .modal-body {
    padding: 30px;
}

    #templateModal .modal-body p {
        font-weight: 300;
        margin-bottom: 16px;
    }

.get-free-template-section .form-group.checkbox > label {
    position: relative;
    min-height: 20px;
    padding-left: 20px;
}

.get-free-template-section .checkbox input[type="checkbox"] {
    position: absolute;
    top: 3px;
    /* top: 50%; */
    /* transform: translateY(-50%); */
    margin-left: -20px;
}

.get-free-template-section .btn-submit {
    background-color: #69A84F;
    background-image: none;
    border-radius: 4px;
    color: #fff;
    font-weight: 500;
    border: none;
    padding: 10px 38px;
    font-size: 16px;
    max-width: 100%;
    transition: background-color 0.3s ease;
}

    .get-free-template-section .btn-submit:hover,
    .get-free-template-section .btn-submit:focus {
        cursor: pointer;
        background-color: #588b43;
        transition: background-color 0.3s ease;
    }

.or-separator {
    text-align: center;
    margin: 20px 0 30px 0;
    position: relative;
}

    .or-separator:after {
        position: absolute;
        content: '';
        min-height: 1px;
        background-color: #3C78D8;
        left: 0;
        right: 0;
        top: 50%;
        z-index: 0;
        margin: 0 auto;
        max-width: 720px;
    }

    .or-separator > span {
        border: 1px solid #3C78D8;
        height: 48px;
        width: 48px;
        display: inline-block;
        line-height: 48px;
        text-align: center;
        border-radius: 100%;
        color: #3C78D8;
        font-weight: 600;
        background-color: #fff;
        position: relative;
        z-index: 1;
    }

.start-custom-sign-section {
    margin: 0 auto;
    max-width: 720px;
}

    .start-custom-sign-section h3 {
        font-size: 20px;
        font-weight: 400;
        margin-bottom: 16px;
    }

    .start-custom-sign-section .btn-start {
        border-radius: 4px;
        background-color: #fff;
        border: 1px solid #69A84F;
        color: #69A84F;
        font-size: 16px;
        font-weight: 500;
        padding: 6px 40px;
        max-width: 100%;
        display: inline-block;
        transition: all 0.3s ease;
    }

        .start-custom-sign-section .btn-start:hover,
        .start-custom-sign-section .btn-startt:focus {
            cursor: pointer;
            background-color: #69A84F;
            color: #fff;
            transition: all 0.3s ease;
        }

.swal-footer {
    text-align: center;
}

.swal-button {
    background-color: #3C78D8;
    padding: 10px 40px;
}

    .swal-button:not([disabled]):hover {
        background-color: #396cbf;
    }


/*  */
@media (min-width: 320px) {
    /* Section Hero */
    .portal-heading-section .portal-heading {
        font-size: 7.9vw;
        margin-bottom: 10px;
    }
    /*  */
    .portal-custom-signs-section .portal-heading, h2#product-faq {
        font-size: 7.8vw;
        margin-bottom: 10px;
    }

    .portal-heading + p {
        margin-bottom: 20px;
    }
    /*  */
    .custom-sign-image-container {
        height: 188px;
    }

    .custom-sign-item .custom-sign-name {
        font-size: 7vw;
        margin-bottom: 10px;
        line-height: 1;
    }
    /* Social Distance Signs */
    .template-container {
        flex: 1 1 100%;
        max-width: 100%;
    }
}

@media (min-width: 360px) {
    .custom-sign-image-container {
        height: auto;
    }

    .custom-sign-item .custom-sign-name {
        font-size: 7vw;
        margin-bottom: 10px;
        line-height: 1;
    }
}

/* Small devices (landscape phones, 576px and up) */

@media (min-width: 576px) {
    .portal-section {
        max-width: 540px;
    }

    .portal-custom-signs-section .portal-heading, h2#product-faq {
        font-size: 4vw;
        margin-bottom: 10px;
    }

    .custom-sign-item .custom-sign-name {
        font-size: 3.5vw;
    }

    .custom-sign-image-container {
        height: 255px;
    }
}

/* Medium devices (tablets, 768px and up) */

@media (min-width: 768px) {
    .portal-heading-section .portal-heading {
        font-size: 4.2vw;
    }

    .js-loadPageContent h2 {
        font-size: 34px;
    }

    .js-loadPageContent h3 {
        font-size: 1.4vw;
    }

    .portal-section {
        max-width: 720px;
    }

    .portal-heading-section {
        margin-bottom: 30px;
    }

    .portal-template-section .portal-row {
        margin-left: -10px;
        margin-right: -10px;
    }

    .js-loadPageContent .portal-custom-signs-section > p {
        margin-bottom: 24px;
    }

    .template-container {
        padding: 0 10px;
        flex: 1 1 33.33333%;
        max-width: 33.33333%;
        margin-bottom: 20px;
    }

    .portal-custom-signs-section .portal-row {
        margin-left: -17px;
        margin-right: -17px;
    }

    .custom-sign-container {
        flex: 1 1 50%;
        max-width: 50%;
        padding: 0 17px;
        margin-bottom: 34px;
    }

    .get-free-template-section .btn-submit {
        padding: 10px 80px;
        font-size: 18px;
    }


    .start-custom-sign-section .btn-start {
        font-size: 18px;
    }
}

@media (min-width: 800px) {
    .standardWidth {
        margin-top: 70px;
    }

    .wrapper {
        margin-top: 0;
    }
}

@media (min-width: 801px) {
    .standardWidth {
        margin-top: 0;
    }
}

/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) {
    .portal-section {
        max-width: 960px;
    }

    .portal-template-section .portal-row {
        margin-left: -15px;
        margin-right: -15px;
    }

    .template-container {
        padding: 0 15px;
        flex: 1 1 25%;
        max-width: 25%;
        margin-bottom: 30px;
    }

    .faq-list .faq-answer {
        line-height: 1.2;
    }
}

/* Extra large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {
    .portal-heading-section .portal-heading {
        font-size: 2.6vw;
    }

    .portal-section {
        max-width: 1140px;
    }

    .portal-heading-section p > .dynamic-break {
        display: inline;
    }

    .js-loadPageContent .portal-custom-signs-section > p {
        margin-bottom: 38px;
    }

    .portal-custom-signs-section .portal-row {
        margin-left: -34px;
        margin-right: -34px;
    }

    .custom-sign-container {
        flex: 1 1 calc(100%/4);
        max-width: 320px;
        padding: 0 34px;
        margin-bottom: 68px;
        max-width: 400px;
    }

    .portal-custom-signs-section .portal-heading, h2#product-faq {
        font-size: 2.5vw;
    }
}

@media (min-width: 1280px) {
    .custom-sign-item .custom-sign-name {
        font-size: 1.6vw;
    }

    .custom-sign-image-container {
        height: 150px;
    }

        .custom-sign-image-container img {
            height: 100%;
            width: 100%;
            object-fit: contain;
            /* max-width: initial; */
        }
}

@media (min-width: 1366px) {
    .portal-template-section .portal-row {
        margin-left: -20px;
        margin-right: -20px;
    }

    .template-container {
        padding: 0 20px;
        flex: 1 1 20%;
        max-width: 20%;
        margin-bottom: 40px;
    }
}

@media (min-width: 1500px) {
    .custom-sign-image-container {
        height: 165px;
    }

    .portal-section {
        max-width: 1240px;
    }
}

@media (min-width: 1720px) {
    .custom-sign-image-container {
        height: 200px;
    }

    .portal-section {
        max-width: 1460px;
    }
}

@media (min-width: 1680px) {
    .custom-sign-item .custom-sign-name {
        font-size: 1.3vw;
    }
}

@media (min-width: 1920px) {
    .portal-section {
        max-width: 1628px;
    }

    .custom-sign-item .custom-sign-name {
        font-size: 1.4vw;
    }
}

/***** Bootstrap 3.4.1 Styles for Modal *****/

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.sr-only-focusable:active,
.sr-only-focusable:focus {
    position: static;
    width: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    clip: auto;
}

[role="button"] {
    cursor: pointer;
}

.fade {
    opacity: 0;
    -webkit-transition: opacity 0.15s linear;
    -o-transition: opacity 0.15s linear;
    transition: opacity 0.15s linear;
}

    .fade.in {
        opacity: 1;
    }

.collapse {
    display: none;
}

    .collapse.in {
        display: block;
    }

tr.collapse.in {
    display: table-row;
}

tbody.collapse.in {
    display: table-row-group;
}

.collapsing {
    position: relative;
    height: 0;
    overflow: hidden;
    -webkit-transition-property: height, visibility;
    -o-transition-property: height, visibility;
    transition-property: height, visibility;
    -webkit-transition-duration: 0.35s;
    -o-transition-duration: 0.35s;
    transition-duration: 0.35s;
    -webkit-transition-timing-function: ease;
    -o-transition-timing-function: ease;
    transition-timing-function: ease;
}

.modal-open {
    overflow: hidden;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10500000000;
    display: none;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    outline: 0;
}

    .modal.fade .modal-dialog {
        -webkit-transform: translate(0, -25%);
        -ms-transform: translate(0, -25%);
        -o-transform: translate(0, -25%);
        transform: translate(0, -25%);
        -webkit-transition: -webkit-transform 0.3s ease-out;
        -o-transition: -o-transform 0.3s ease-out;
        transition: transform 0.3s ease-out;
    }

    .modal.in .modal-dialog {
        -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        transform: translate(0, 0);
    }

.modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto;
}

.modal-dialog {
    position: relative;
    width: auto;
    margin: 10px;
}

.modal-content {
    position: relative;
    background-color: #ffffff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: none;
    border-radius: 6px;
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    outline: 0;
    overflow: hidden;
}

.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: #000000;
}

    .modal-backdrop.fade {
        filter: alpha(opacity=0);
        opacity: 0;
    }

    .modal-backdrop.in {
        filter: alpha(opacity=50);
        opacity: 0.16;
    }

.modal-header .close {
    position: absolute;
    top: 0;
    right: 0;
    background-color: transparent;
    color: #fff;
    border: 0;
    background-image: none;
    font-size: 20px;
    height: 30px;
    width: 30px;
}

    .modal-header .close:hover {
        cursor: pointer;
    }

    .modal-header .close:focus {
        outline: none;
    }

    .modal-header .close > .triangle-bg {
        width: 0;
        height: 0;
        border-top: 54px solid #3C78D8;
        border-left: 54px solid transparent;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 0;
    }

        .modal-header .close > .triangle-bg:hover {
            border-top: 54px solid #386dc2;
        }

        .modal-header .close > .triangle-bg:focus {
            outline: none;
        }

    .modal-header .close > .close-icon {
        position: relative;
        z-index: 2;
    }

.modal-title {
    margin: 0;
    line-height: 1.42857143;
}

.modal-body {
    position: relative;
    padding: 15px;
}

.modal-footer {
    padding: 15px;
    text-align: right;
    border-top: 1px solid #e5e5e5;
}

    .modal-footer .btn + .btn {
        margin-bottom: 0;
        margin-left: 5px;
    }

    .modal-footer .btn-group .btn + .btn {
        margin-left: -1px;
    }

    .modal-footer .btn-block + .btn-block {
        margin-left: 0;
    }

.modal-scrollbar-measure {
    position: absolute;
    top: -9999px;
    width: 50px;
    height: 50px;
    overflow: scroll;
}

@media (min-width: 768px) {
    .modal-dialog {
        width: 600px;
        margin: 30px auto;
    }

    .modal-content {
        -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.16);
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.16);
    }

    .modal-sm {
        width: 300px;
    }
}

@media (min-width: 992px) {
    .modal-lg {
        width: 900px;
    }
}

.clearfix:before,
.clearfix:after,
.modal-header:before,
.modal-header:after,
.modal-footer:before,
.modal-footer:after {
    display: table;
    content: " ";
}

.clearfix:after,
.modal-header:after,
.modal-footer:after {
    clear: both;
}

.center-block {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.pull-right {
    float: right !important;
}

.pull-left {
    float: left !important;
}

.hide {
    display: none !important;
}

.show {
    display: block !important;
}

.invisible {
    visibility: hidden;
}

.text-hide {
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
}

.hidden {
    display: none !important;
}

.affix {
    position: fixed;
}
