<!-- Banner -->
<section class="section-portal-default section-banner" id="banner">
    <div class="newSubPage_sectionHeader">
        <h2 class="product-header">Banner</h2>
        <p class="product-description">
            PJ Auth Dealer Banner
        </p>
    </div>
    <div class="flex-container">
        <div class="product-container">
            <a href="https://www.signs.com/design/?id=5e5eb837-f411-4e03-a96e-56c0f68055cb">
                <img src="https://www.signs.com/content/assets/filelibrary/72-x-36-AuthDealer-11363.jpg" alt="Banner">
            </a>
            <h3>Banner</h3>
            <p class="product-details">72x24</p>
            <div class="product-button">
                <a class="product-btn" href="https://www.signs.com/design/?id=5e5eb837-f411-4e03-a96e-56c0f68055cb">Buy or Customize</a>
            </div>
        </div>
    </div>
</section>