<!-- Hero Section -->
<div class="section-image">
    <img class="bg-image" src="https://www.signs.com/content/assets/filelibrary/HeroImage-01-11352.jpg" alt="Hero Image">
</div>

<!-- Section Targeting Links -->
<div class="nav" id="sectionTargetingNav">
    <button id="hamburger-button-portal" class="active" style="">
        Menu
    </button>
    <div id="sectionTargetingList" class="nav-list" style=""></div>
</div>
<script>
    var sectionPortalDefault = [
        {
            className: "standard-aluminum",
            idName: "standard-aluminum",
            productHeader: "Standard Aluminum",
            productDescription: "Basic Aluminum Sign, Rounded Corners, Holes top corners",
            productContainer: [
                {
                    hrefLink: "https://www.signs.com/design/?id=b94e97d9-e65d-4c5e-a856-9d6e30ba5723",
                    imgLink: "https://www.signs.com/content/assets/filelibrary/18-x-12-11353.png",
                    imgAlt: "Aluminum 8x12",
                    productName: "Aluminum",
                    productDetails: "18x12",
                    productLink: "https://www.signs.com/design/?id=b94e97d9-e65d-4c5e-a856-9d6e30ba5723"
                },
            ]
        },
        {
            className: "custom-flag",
            idName: "custom-flag",
            productHeader: "Custom Flag",
            productDescription: "Custom Flag, Double Sided, Grommets Left",
            productContainer: [
                {
                    hrefLink: "https://www.signs.com/design/?id=8d0bd68f-d413-4efe-b27d-d8735cc4848f",
                    imgLink: "https://www.signs.com/content/assets/filelibrary/60x36-flag-01-11354.jpg",
                    imgAlt: "Flag 60x36",
                    productName: "Flag",
                    productDetails: "60x36",
                    productLink: "https://www.signs.com/design/?id=8d0bd68f-d413-4efe-b27d-d8735cc4848f"
                },
            ]
        },
        {
            className: "feather-flag",
            idName: "feather-flag",
            productHeader: "Feather Flag",
            productDescription: "Med Feather Flag, Pole, Stake, Dbl Sided",
            productContainer: [
                {
                    hrefLink: "https://www.signs.com/design/?id=d4c3845a-2fd0-45e4-8ef6-852e38f420fe",
                    imgLink: "https://www.signs.com/content/assets/filelibrary/feather-flag-11355.png",
                    imgAlt: "Feather Flag 25.5x105",
                    productName: "Feather Flag",
                    productDetails: "25.5x105",
                    productLink: "https://www.signs.com/design/?id=d4c3845a-2fd0-45e4-8ef6-852e38f420fe"
                },
            ]
        },
        {
            className: "mesh-banner",
            idName: "mesh-banner",
            productHeader: "Mesh Banner",
            productDescription: "Mesh Banner",
            productContainer: [
                {
                    hrefLink: "https://www.signs.com/design/?id=1f5ce2c4-81e3-49b3-bf1f-cf5b01491b13",
                    imgLink: "https://www.signs.com/content/assets/filelibrary/mesh-banner-11356.jpg",
                    imgAlt: "Mesh Banner 83x168",
                    productName: "Banner",
                    productDetails: "83x168",
                    productLink: "https://www.signs.com/design/?id=1f5ce2c4-81e3-49b3-bf1f-cf5b01491b13"
                },
            ]
        },
        {
            className: "retractable",
            idName: "retractable",
            productHeader: "Retractable Banner",
            productDescription: "Deluxe Retractable (double sided)",
            productContainer: [
                {
                    hrefLink: "https://www.signs.com/design/?id=58984912-d281-4741-aaf0-261c1a51897b",
                    imgLink: "https://www.signs.com/content/assets/filelibrary/Retractable-Banner-11362.jpg",
                    imgAlt: "Retractable Banner",
                    productName: "Retractable",
                    productDetails: "36x92",
                    productLink: "https://www.signs.com/design/?id=58984912-d281-4741-aaf0-261c1a51897b"
                },
            ]
        },
        {
            className: "window-decal",
            idName: "window-decal",
            productHeader: "Window Decal",
            productDescription: "Full Color Logo",
            productContainer: [
                {
                    hrefLink: "https://www.signs.com/design/?id=98019373-4343-48ba-90b6-1c22ef5f7706",
                    imgLink: "https://www.signs.com/content/assets/filelibrary/36x12-WindowDecal-01-11359.jpg",
                    imgAlt: "Window Decal 36x12",
                    productName: "Window Decals",
                    productDetails: "36x12",
                    productLink: "https://www.signs.com/design/?id=98019373-4343-48ba-90b6-1c22ef5f7706"
                },
                {
                    hrefLink: "https://www.signs.com/design/?id=9af560a2-afeb-4b79-bbad-8804141fc050",
                    imgLink: "https://www.signs.com/content/assets/filelibrary/36x12-WindowDecal-01-11359.jpg",
                    imgAlt: "Window Decal 36x12",
                    productName: "Window Decals",
                    productDetails: "36x12",
                    productLink: "https://www.signs.com/design/?id=9af560a2-afeb-4b79-bbad-8804141fc050"
                }
            ]
        },
        {
            className: "poster",
            idName: "poster",
            productHeader: "Poster",
            productDescription: "Basic store poster",
            productContainer: [
                {
                    hrefLink: "https://www.signs.com/design/?id=8f931a2f-65ab-4979-946e-4da273fca92f",
                    imgLink: "https://www.signs.com/content/assets/filelibrary/Posters-11361.jpg",
                    imgAlt: "Posters",
                    productName: "Poster",
                    productDetails: "24x14",
                    productLink: "https://www.signs.com/design/?id=8f931a2f-65ab-4979-946e-4da273fca92f"
                },
            ]
        },
        {
            className: "vinyl-lettering",
            idName: "vinyl-lettering",
            productHeader: "Vinyl Lettering",
            productDescription: "Logo",
            productContainer: [
                {
                    hrefLink: "https://www.signs.com/design/?id=bf8ce2b9-7a96-462a-a73f-b4f4023f5356",
                    imgLink: "https://www.signs.com/content/assets/filelibrary/36x12-WindowDecal-01-11359.jpg",
                    imgAlt: "Window Decal 36x12",
                    productName: "Vinyl Lettering",
                    productDetails: "18x18",
                    productLink: "https://www.signs.com/design/?id=bf8ce2b9-7a96-462a-a73f-b4f4023f5356"
                },
            ]
        },
        {
            className: "banner",
            idName: "banner",
            productHeader: "Banner",
            productDescription: "PJ Auth Dealer Banner",
            productContainer: [
                {
                    hrefLink: "https://www.signs.com/design/?id=5e5eb837-f411-4e03-a96e-56c0f68055cb",
                    imgLink: "https://www.signs.com/content/assets/filelibrary/72-x-36-AuthDealer-11363.jpg",
                    imgAlt: "Banner",
                    productName: "Banner",
                    productDetails: "72x24",
                    productLink: "https://www.signs.com/design/?id=5e5eb837-f411-4e03-a96e-56c0f68055cb"
                },
                {
                    hrefLink: "https://www.signs.com/design/?id=d8bd2629-b9fd-4c10-bd71-ee8af6deb5c7",
                    imgLink: "https://www.signs.com/content/assets/filelibrary/DumpTrailer-11365.jpg",
                    imgAlt: "Dump Trailer 01",
                    productName: "Banner",
                    productDetails: "72x24",
                    productLink: "https://www.signs.com/design/?id=d8bd2629-b9fd-4c10-bd71-ee8af6deb5c7"
                }
            ]
        }
    ];
    /* Edit this where you what to put the product portal navigation */
    var sectionTargetingList = document.getElementById("sectionTargetingList");
    /* Edit this where you what to put the product portal section */
    var sectionTargetingNav = document.getElementById("sectionTargetingNav"),
        sectionPortalDefaultLength = sectionPortalDefault.length,
        x = 0;

    for (x; x < sectionPortalDefaultLength; x++) {
        sectionTargetingList.innerHTML += "<div class='nav-item'><a class='scroll-link-section' href='#" + sectionPortalDefault[x].idName + "'>" + sectionPortalDefault[x].productHeader + "</a></div>";
        sectionTargetingNav.insertAdjacentHTML("afterend", "<section class='section-portal-default section-" + sectionPortalDefault[x].className + "' id='" + sectionPortalDefault[x].idName + "'><div class='newSubPage_sectionHeader'><h2 class='product-header'>" + sectionPortalDefault[x].productHeader + "</h2><p class='product-description'>" + sectionPortalDefault[x].productDescription + "</p></div><div class='flex-container' id='fcpc'></div></section >");
        sectionTargetingNav = document.getElementById(sectionPortalDefault[x].idName);
        var productContainer = sectionPortalDefault[x].productContainer,
            productContainerLength = productContainer.length,
            fcpc = document.querySelectorAll("#fcpc"),
            z = 0;
        for (z; z < productContainerLength; z++) {
            fcpc[x].innerHTML += "<div class='product-container'><a href='" + sectionPortalDefault[x].productContainer[z].hrefLink + "'><img src='" + sectionPortalDefault[x].productContainer[z].imgLink + "' alt='" + sectionPortalDefault[x].productContainer[z].imgAlt + "'></a><h3>" + sectionPortalDefault[x].productContainer[z].productName + "</h3><p class='product-details'>" + sectionPortalDefault[x].productContainer[z].productDetails + "</p><div class='product-button'><a class='product-btn' href='" + sectionPortalDefault[x].productContainer[z].productLink + "'>Buy or Customize</a></div></div>";
        }
    }
</script>

<script>
    (function ($) {
        $(document).ready(function () {
            $('#hamburger-button-portal').on('click', function () {
                $('.nav-list').toggleClass('active', 150, 'easeOutSine');
                $('#hamburger-button-portal').toggleClass('active', 10, 'easeOutSine', function () {
                    $('body').css({ 'overflow': 'auto' });
                });
            });
        });
    })(jQuery);
</script>