.section-image {
    font-size: 0;
}

.nav {
    background: #b72025;
    text-align: center;
}


.nav-list {
    background: #b72025;
    text-align: center;
    font-size: 0;
    display: block;
}

.nav-item {
    width: calc(100%/9);
    display: inline-block;
    font-size: 0;
    vertical-align: top;
}

    .nav-item:hover {
        background: #961a1d;
    }

.nav-list .nav-item a {
    font-size: 20px;
    color: #fff;
    text-align: center;
    width: 100%;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.section-image img {
    width: 100%;
    height: auto;
}

h2 {
    font-family: 'proxima nova',sans-serif;
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: normal;
}

.welcome-message {
    display: flex;
    justify-content: center;
    margin: 2% 5% 1%;
    font-size: 2.3em;
    text-align: center;
}

.welcome-sub-message {
    display: flex;
    justify-content: center;
    margin: 0px 5%;
    font-size: 1.3em;
    text-align: center;
}

.product-header {
    font-weight: 600;
    font-size: 1em;
    padding: 0% 7%;
    text-align: left;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    margin: 0px;
    padding: 0%;
    justify-content: space-around;
}

.section-portal-default .product-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 330px;
    padding: 20px 75px 75px 75px;
}

    .section-portal-default .product-container > a {
        font-size: 0;
        width: 330px;
        height: auto;
        margin-bottom: 20px;
    }

        .section-portal-default .product-container > a > img {
            width: 100%;
        }


    .section-portal-default .product-container h3 {
        font-size: 30px;
        line-height: 1;
        margin-bottom: 8px;
    }

    .section-portal-default .product-container .product-details {
        font-size: 20px;
        margin-bottom: 15px;
        line-height: 1;
    }

.product-image {
    max-width: 320px;
}

.product-container a:hover img {
}

.product-description {
    text-align: center;
    font-family: 'proxima nova',sans-serif;
    font-size: 15px;
    padding-bottom: 10px;
}

.product-price {
    font-size: 1.3em;
    color: #056eb7;
    padding-bottom: 10px;
}

.product-button {
    display: flex;
    flex-direction: row;
    margin: auto;
}

    .product-button a, a:visited {
        text-decoration: none;
        color: #fff;
    }

.product-btn {
    background-image: -webkit-linear-gradient(top, #b72025, #e42326);
    background-image: -moz-linear-gradient(top, #e42326, #e42326);
    background-image: -ms-linear-gradient(top, #e42326, #e42326);
    background-image: -o-linear-gradient(top, #e42326, #e42326);
    background-image: linear-gradient(to bottom, #b72025, #e42326);
    -webkit-border-radius: 5;
    -moz-border-radius: 5;
    border-radius: 5px;
    color: #ffffff;
    font-size: 16px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    font-family: 'proxima nova',sans-serif;
}

    .product-btn:hover {
        background: #3cb0fd;
        background-image: -webkit-linear-gradient(top, #b8090f, #9e030b);
        background-image: -moz-linear-gradient(top, #b8090f, #9e030b);
        background-image: -ms-linear-gradient(top, #b8090f, #9e030b);
        background-image: -o-linear-gradient(top, #b8090f, #9e030b);
        background-image: linear-gradient(to bottom, #b8090f, #9e030b);
        text-decoration: none;
    }


#hamburger-button-portal {
    visibility: hidden;
    display: none;
}

    #hamburger-button-portal.active {
        color: white;
        background-color: #92150f;
        border-color: #92150f;
    }


    #hamburger-button-portal:focus {
        outline: 0;
    }
/* Global Section */
.section-portal-default .newSubPage_sectionHeader {
    margin: 0;
}

.section-portal-default .product-header {
    text-align: center;
    margin-top: 0;
}

.section-portal-default .product-description {
    font-size: 20px;
}

/* Standard  Aluminum */
.section-standard-aluminum {
    padding-top: 40px;
}

/* Feather Flags */
.section-feather-flag .product-container > a {
    font-size: 0;
    width: auto;
    height: 350px;
}

    .section-feather-flag .product-container > a > img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
/* Mesh Banner */
.section-mesh-banner .product-container > a {
    font-size: 0;
    width: auto;
    height: 350px;
}

    .section-mesh-banner .product-container > a > img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

/* Retractable Banner */
.section-retractable .product-container > a {
    font-size: 0;
    width: auto;
    height: 466px;
}

    .section-retractable .product-container > a > img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

/* Poster */
.section-poster .product-container > a {
    font-size: 0;
    width: auto;
    height: 466px;
}

    .section-poster .product-container > a > img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
/* Break Points */

@media (max-width: 1024px) {
    .nav-list {
        display: block;
        position: relative;
        background: #e22126;
        justify-content: center;
        flex-wrap: wrap;
        height: 0;
        visibility: hidden;
    }

        .nav-list.active {
            height: inherit;
            visibility: visible;
        }

    .nav-item {
        width: 100%;
        border-top: 1px solid #f77575;
    }

    .nav-list .nav-item a {
        background: rgb(183, 32, 37);
    }

        .nav-list .nav-item a:hover {
            background: rgba(183, 32, 37,.5);
        }

    #hamburger-button-portal {
        visibility: visible;
        font-size: 20px;
        height: 40px;
        color: white;
        width: 150px;
        background-color: #b72025;
        border: 1px solid white;
        border-radius: 5px;
        margin: 10px;
        display: initial;
    }

    .product-container {
        padding: 20px 0px 75px 0px;
    }
}

@media (max-width: 800px) {
    #covid-19-bar {
        margin-top: 70px;
    }
}
@media (max-width: 767px) {
    .section-portal-default .product-container {
        padding-left: 0;
        padding-right: 0;
    }
}
@media (max-width: 480px) {
    #LoginNavigationContainer ~ #covid-19-bar {
        margin-top: 70px;
        padding-top: 20px;
    }

    #LoginNavigationContainer ~ #covid-19-bar ~ .standardWidth {
        margin-top: 0;
    }
}
