.nav {
    display: flex;
    background: #e43f43;
    font-size: 1.1em;
    width: 100%;
    justify-content: space-around;
    margin-top: -5px;
    flex-wrap: wrap;
}

.nav-item a {
    color: #fff;
    display: flex;
    justify-content: center;
}

.nav-item {
    padding: 20px 40px;
    flex-grow: 1;
}

.nav-list {
    display: flex;
    background: #e22126;
    font-size: 1.1em;
    width: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: center;
}

.section-image img {
    width: 100%;
    height: auto;
}

h2 {
    font-family: 'proxima nova', sans-serif;
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: normal;
}

.welcome-message {
    display: flex;
    justify-content: center;
    margin: 2% 5% 1%;
    font-size: 2.3em;
    text-align: center;
}

.welcome-sub-message {
    display: flex;
    justify-content: center;
    margin: 0px 5%;
    font-size: 1.3em;
    text-align: center;
}

.product-header {
    font-weight: 600;
    font-size: 1em;
    padding: 0% 7%;
    text-align: center;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    margin: 0px;
    padding: 0%;
    justify-content: space-around;
}

.product-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 450px;
    max-width: 330px;
    padding: 20px 75px 75px 75px;
}

.product-image {
    max-width: 320px;
}

.product-container a:hover img {}

.product-description {
    text-align: center;
    font-family: 'proxima nova', sans-serif;
    font-size: 15px;
    padding-bottom: 10px;
}

.product-price {
    font-size: 1.3em;
    color: #056eb7;
    padding-bottom: 10px;
}

.product-button {
    display: flex;
    flex-direction: row;
    margin: auto;
}

.product-button a,
a:visited {
    text-decoration: none;
    /*color: #fff;*/
}

.product-btn {
    background: #e43f43;
    /*  background-image: -webkit-linear-gradient(top, #e42326, #e42326);
      background-image: -moz-linear-gradient(top, #e42326, #e42326);
      background-image: -ms-linear-gradient(top, #e42326, #e42326);
      background-image: -o-linear-gradient(top, #e42326, #e42326);
      background-image: linear-gradient(to bottom, #e42326, #e42326);*/
    -webkit-border-radius: 5;
    -moz-border-radius: 5;
    border-radius: 5px;
    color: #ffffff;
    font-size: 16px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    font-family: 'proxima nova', sans-serif;
}

.product-btn:hover {
    background: #b03134;
    /*  background-image: -webkit-linear-gradient(top, #b8090f, #9e030b);
      background-image: -moz-linear-gradient(top, #b8090f, #9e030b);
      background-image: -ms-linear-gradient(top, #b8090f, #9e030b);
      background-image: -o-linear-gradient(top, #b8090f, #9e030b);
      background-image: linear-gradient(to bottom, #b8090f, #9e030b);*/
    text-decoration: none;
}

.product-container-2 .product-btn {
    color: #fff;
}


/****************************************************/


/****************************************************/


/****************************************************/


/****************************************************/


/******* COPY ALL CODE BELOW FOR NEW NAVBAR *********/

#hamburger-button-portal {
    visibility: hidden;
    display: none;
}

#hamburger-button-portal.active {
    color: white;
    background-color: #ec7275;
}

#hamburger-button-portal:focus {
    outline: 0;
}

@media only screen and (max-width: 800px) {
    .nav-list {
        display: block;
        position: relative;
        background: #e22126;
        justify-content: center;
        flex-wrap: wrap;
        height: 0;
        visibility: hidden;
    }
    .nav-list.active {
        /* top: 345px; */
        height: inherit;
        visibility: visible;
    }
    .nav-item {
        /* border-top: 1px solid #f77575; */
    }
    #hamburger-button-portal {
        visibility: visible;
        font-size: 20px;
        height: 40px;
        color: white;
        width: 150px;
        background-color: #e22126;
        border: 1px solid white;
        border-radius: 5px;
        margin: 10px;
        display: initial;
    }
    .product-container {
        padding: 20px 0px 75px 0px;
    }
    .standardWidth {
        margin-top: 70px;
    }
}

@media screen and (max-width: 768px) {
    .nav-item {
        min-width: 100%;
    }
}

.flags-section img {
    max-height: 446px;
}

.product-container-2 {
    text-align: center;
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    padding-right: 15px;
    box-sizing: border-box;
    padding-left: 15px;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}

.product-container-2 img {
    max-height: 400px;
    max-width: 100%;
}

.product-container-2 a {
    display: block;
}

.product-container-2 h2 {
    font-size: 20px;
}

.product-container-2 .product-btn {
    display: inline-block;
}

.sub-category-heading {
    width: 91%;
    margin: 0 auto 30px;
    font-size: 20px;
    font-weight: bold;
}

@media (min-width: 430px) {
    .product-container-2 img {
        max-width: 400px;
    }
}

@media (min-width: 768px) {
    .product-container-2 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
    .product-container-2 img {
        max-width: 100%;
    }
}

@media (min-width: 860px) {
    .product-container-2 img {
        max-width: 400px;
    }
}

@media (min-width: 1300px) {
    .product-container-2 {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }
}

@media (max-width: 673px) {
    .welcome-message>.line-break {
        display: none;
    }
}