﻿<!-- The Signs.com Sales Team Advantage -->
<section class="section-default section-signs-sales-team-advantage">
    <div class="standard-container">
        <div class="img-wrap">
            <img class="lazyload" data-src="https://www.signs.com/content/assets/filelibrary/FleetGraphicsArtboard-24-5091.png" alt="Guy" src="https://www.signs.com/content/assets/filelibrary/FleetGraphicsArtboard-24-5091.png">
        </div>
        <div class="how-we-can-help">
            <h2>The Signs.com Sales Team Advantage</h2>
            <p>Our Sales Team is here to help you with your school’s COVID-19 signage needs.</p>
            <h2>How We Can Help</h2>
            <ul class="hwch-list">
                <li class="hwch-item">*Selecting your best signage option – As we note below, no matter the type of signage you’re seeking, we have it.</li>
                <li class="hwch-item">*Making good design decisions – Our professional design team has helped thousands of clients over the years make sure their design not only gets the message across but does so with style and verve.</li>
                <li class="hwch-item">* Setting up an Online Signage Portal – Your account manager can help you establish a free, custom Branded Online Signage Portal here at Signs.com.</li>
            </ul>
            <p>Are you ready to begin setting up your COVID-19 signage program for this fall? Contact the Signs.com Sales Team at <a href="mailto: sales@signs.com">Sales@signs.com</a> now to see how we can help you.</p>
        </div>
    </div>
</section>


<!-- Premium Services at No Additional Charge -->
<section class="section-default section-premium">
    <div class="standard-container">
        <h2>Premium Services at No Additional Charge</h2>
        <ul class="premium-services-list">
            <li class="premium-service-item">
                <div class="img-wrap">
                    <img class="lazyload" data-src="https://www.signs.com/content/assets/filelibrary/CustomPopUpTentOneDay@2x-5274.png" alt="One Day Rush Production" src="https://www.signs.com/content/assets/filelibrary/CustomPopUpTentOneDay@2x-5274.png">
                </div>
                <h3>1-Day Rush Production</h3>
                <p>Place your order today and we’ll process it, print it, and ship it out on the next business day. There’s no additional charge – and no hidden fees! – for our amazingly fast turnaround on production and shipping.</p>
            </li>
            <li class="premium-service-item">
                <div class="img-wrap">
                    <img class="lazyload" data-src="https://www.signs.com/content/assets/filelibrary/CustomPopUpTentDesignHelp-5263.png" alt="One Day Rush Production" src="https://www.signs.com/content/assets/filelibrary/CustomPopUpTentDesignHelp-5263.png">
                </div>
                <h3>Free Design Help from a Professional Graphic Designer</h3>
                <p>
                    If you need design assistance for any of your signage, our team of professional designers is at the ready. This free service ensures that your finished signage is just what you envisioned.
                    <a id="goto-tabs" class="standard-link" href="https://www.signs.com/design-services/">Learn More.</a>
                </p>
            </li>
            <li class="premium-service-item">
                <div class="img-wrap">
                    <img class="lazyload" data-src="https://www.signs.com/content/assets/filelibrary/Covid-Education-Page-Icons-Ship-13602.png" alt="Covid-Education-Page-Icons_Ship" src="https://www.signs.com/content/assets/filelibrary/Covid-Education-Page-Icons-Ship-13602.png">
                </div>
                <h3>Ship to multiple locations nationwide</h3>
                <p>Just let us know where you want your orders shipped and we’ll send signs directly to your locations – you won’t have to warehouse anything. Plus, we offer free shipping on all orders over $75 (excluding orders that contain rigid signs that are greater than 36 inches in either dimension).</p>
            </li>
        </ul>
    </div>
</section>

<!-- Sign Types and Templates Specific to COVID-19 -->
<section class="portal-custom-signs-section portal-section">
    <h2 class="portal-heading text-center">Sign Types and Templates Specific to COVID-19</h2>
    <p class="text-center">
        These pages feature hundreds of templates created by the Signs.com team of professional designers. Find the designs that your school needs and order today!
    </p>
    <div class="portal-row custom-sign-list">
        <div class="custom-sign-container">
            <a href="/social-distancing-signs/" title="Social Distancing" class="custom-sign-item">
                <div class="custom-sign-image-container">
                    <img src="https://www.signs.com/content/assets/filelibrary/SocialDistancing-Floor-300x225jpg-13644.jpg" alt="SocialDistancing-Floor-300x225" />
                </div>
                <h3 class="custom-sign-name">Social Distancing</h3>
                <p class="custom-sign-description">
                    Critical in the containment and prevention of COVID-19, social-distancing signs should be a primary component in your signage mix.
                </p>
            </a>
        </div>
        <div class="custom-sign-container">
            <a href="/masks-required-signs/" title="Masks Required" class="custom-sign-item">
                <div class="custom-sign-image-container">
                    <img src="https://www.signs.com/content/assets/filelibrary/Masks-Required-300x225-13603.jpg" alt="Masks-Required" />
                </div>
                <h3 class="custom-sign-name">Masks Rquired</h3>
                <p class="custom-sign-description">If your school is requiring students and/or faculty to wear masks, signs can help ensure this message is front and center – at the school’s front entrance.</p>
            </a>
        </div>
        <div class="custom-sign-container">
            <a href="/temperature-check-signage/" title="Temperature Check" class="custom-sign-item">
                <div class="custom-sign-image-container">
                    <img src="https://www.signs.com/content/assets/filelibrary/Temperature-Check-300x225-13606.jpg" alt="Temperature-Check" />
                </div>
                <h3 class="custom-sign-name">Temperature Check</h3>
                <p class="custom-sign-description">
                    Be sure to point students and faculty to temperature checkpoints and/or the nursing station.
                </p>
            </a>
        </div>
        <div class="custom-sign-container">
            <a href="/wash-your-hands-signs/" title="Wash Your Hands" class="custom-sign-item">
                <div class="custom-sign-image-container">
                    <img src="https://www.signs.com/content/assets/filelibrary/Wash-Your-Hands-300x225-13607.jpg" alt="Wash-Your-Hands" />
                </div>
                <h3 class="custom-sign-name">Wash Your Hands</h3>
                <p class="custom-sign-description">
                    Remind students of one of the most basic ways to prevent the spread of COVID-19.
                </p>
            </a>
        </div>
        <div class="custom-sign-container">
            <a href="/maximum-occupancy-signs/" title="Maximum Occupancy" class="custom-sign-item">
                <div class="custom-sign-image-container">
                    <img src="https://www.signs.com/content/assets/filelibrary/Maximum-Occupancy-300x225-13604.jpg" alt="Maximum-Occupancy-300x225" />
                </div>
                <h3 class="custom-sign-name">Maximum Occupancy</h3>
                <p class="custom-sign-description">Use in conjunction with social-distancing signage to ensure you’re limiting classroom sizes and gatherings.</p>
            </a>
        </div>
    </div>
    <div class="text-center"><a href="/" class="home-link">See All Custom Signs</a></div>
</section>

<!-- Popular Sign Types for Schools and Universities -->
<section class="portal-custom-signs-section portal-section">
    <h2 class="portal-heading text-center">Popular Sign Types for Schools and Universities</h2>
    <p class="text-center">These products are commonly ordered by other schools and universities to slow the COVID-19 spread.</p>
    <div class="portal-row custom-sign-list">
        <div class="custom-sign-container">
            <a href="/floor-decals/" title="Floor Decals" class="custom-sign-item">
                <div class="custom-sign-image-container">
                    <img src="https://www.signs.com/content/assets/filelibrary/Floor-Decal-300x225-13626.jpg" alt="Floor-Decal-300x225" />
                </div>
                <h3 class="custom-sign-name">Floor Decal</h3>
                <p class="custom-sign-description">Perfect for social-distancing messaging in food pickup queue lines or any other areas where lines tend to form (including restrooms).</p>
            </a>
        </div>
        <div class="custom-sign-container">
            <a href="/face-masks/" title="Custom Face Masks" class="custom-sign-item">
                <div class="custom-sign-image-container">
                    <img src="https://www.signs.com/content/assets/filelibrary/300x225px-Mask-White-BG-13632.jpg" alt="Mask_White-BG_300x225px_" />
                </div>
                <h3 class="custom-sign-name">Custom Face Masks</h3>
                <p class="custom-sign-description">Help students protect each other from passing along COVID-19, customizable with school logos.</p>
            </a>
        </div>
        <div class="custom-sign-container">
            <a href="/banners/" title="Vinyl Banners" class="custom-sign-item">
                <div class="custom-sign-image-container">
                    <img src="https://www.signs.com/content/assets/filelibrary/Banner-300x225-13625.jpg" alt="Banner-300x225" />
                </div>
                <h3 class="custom-sign-name">Vinyl Banners</h3>
                <p class="custom-sign-description"> Ideal for ensuring parents and students see pickup rules and instructions at school entrances.</p>
            </a>
        </div>
        <div class="custom-sign-container">
            <a href="/a-frame-signs/" title="A-Frame Signs" class="custom-sign-item">
                <div class="custom-sign-image-container"><img src="https://www.signs.com/content/assets/filelibrary/300x225px-A-Frame-White-BG-13630.jpg" alt="A-Frame_White-BG_300x225px_" /></div>
                <h3 class="custom-sign-name">A-Frame Signs</h3>
                <p class="custom-sign-description">These extremely portable signs are perfect for when you need to move your messaging around a facility throughout the day.</p>
            </a>
        </div>
        <div class="custom-sign-container">
            <a href="/yard-signs/" title="Yard Signs" class="custom-sign-item">
                <div class="custom-sign-image-container">
                    <img src="https://www.signs.com/content/assets/filelibrary/YardSign-300x225-13629.jpg" alt="YardSign-300x225" />
                </div>
                <h3 class="custom-sign-name">Yard Signs</h3>
                <p class="custom-sign-description">Place around the perimeter of the school or dorm to remind students (and others) to stay home if they’re sick.</p>
            </a>
        </div>
        <div class="custom-sign-container">
            <a href="/neck-gaiters/" title="Neck Gaiters" class="custom-sign-item">
                <div class="custom-sign-image-container">
                    <img src="https://www.signs.com/content/assets/filelibrary/NeckGaiter-USA-MockFront-300x224-(1)-13643.jpg" alt="NeckGaiter-USA-MockFront-300x225" />
                </div>
                <h3 class="custom-sign-name">Neck Gaiters</h3>
                <p class="custom-sign-description">Both stylish and utilitarian, customizable gaiters are an ideal mix of form and function.</p>
            </a>
        </div>
        <div class="custom-sign-container">
            <a href="/plastic-signs/" title="Plastic Sign" class="custom-sign-item">
                <div class="custom-sign-image-container">
                    <img src="https://www.signs.com/content/assets/filelibrary/300x225px-Plastic-Sign-White-BG-13634.jpg" alt="Plastic-Sign_White-BG_300x225px_" />
                </div>
                <h3 class="custom-sign-name">Plastic Signs</h3>
                <p class="custom-sign-description">
                    Post these durable signs inside or outside, great for sanitizing and disinfecting reminders.
                </p>
            </a>
        </div>
        <div class="custom-sign-container">
            <a href="/carpet-stickers/" title="Carpet Stickers" class="custom-sign-item">
                <div class="custom-sign-image-container"><img src="https://www.signs.com/content/assets/filelibrary/300x225px-Carpet-Sticker-BG-13631.jpg" alt="Carpet-Sticker_BG_300x225px_" /></div>
                <h3 class="custom-sign-name">Carpet Stickers</h3>
                <p class="custom-sign-description">
                    Faculty lounges (and student lounges) are prime spots for this signage.
                </p>
            </a>
        </div>
        <div class="custom-sign-container">
            <a href="/street-and-sidewalk-decals/" title="Street & Sidewalk Decals" class="custom-sign-item">
                <div class="custom-sign-image-container">
                    <img src="https://www.signs.com/content/assets/filelibrary/Street-300x225-13627.jpg" alt="Street-300x225" />
                </div>
                <h3 class="custom-sign-name">Aluminum Signs</h3>
                <p class="custom-sign-description">Don’t neglect exterior spaces on campus as locations for important COVID-19 messages.</p>
            </a>
        </div>
        <div class="custom-sign-container">
            <a href="/opaque-window-clings/" title="Opaque Window Clings" class="custom-sign-item">
                <div class="custom-sign-image-container">
                    <img src="https://www.signs.com/content/assets/filelibrary/300x225px-Opaque-Cling-BG-13633.jpg" alt="Opaque-Cling_BG_300x225px_" />
                </div>
                <h3 class="custom-sign-name">Opaque Window Clings</h3>
                <p class="custom-sign-description">Move your message from one room’s window to another as needed with these repositionable and reusable static clings.</p>
            </a>
        </div>
        <div class="custom-sign-container">
            <a href="/retractable-banners/" title="Retractable Banner" class="custom-sign-item">
                <div class="custom-sign-image-container">
                    <img src="https://www.signs.com/content/assets/filelibrary/300x225px-Retractable-Banner-White-BG-13635.jpg" alt="Retractable-Banner_White-BG_300x225px_" />
                </div>
                <h3 class="custom-sign-name">Retractable Banners</h3>
                <p class="custom-sign-description">Not just for trade shows anymore, retractable banners are portable solutions for just about any space.</p>
            </a>
        </div>
        <div class="custom-sign-container">
            <a href="/posters/" title="Posters" class="custom-sign-item">
                <div class="custom-sign-image-container">
                    <img src="https://www.signs.com/content/assets/filelibrary/Poster-Hall-300x225px-13636.jpg" alt="Poster_Hall_300x225px" />
                </div>
                <h3 class="custom-sign-name">Posters</h3>
                <p class="custom-sign-description">The weather’s nice today, announce a class will be held outdoors with a poster.</p>
            </a>
        </div>
        <div class="custom-sign-container">
            <a href="/wall-decals/" title="Wall Decals" class="custom-sign-item">
                <div class="custom-sign-image-container">
                    <img src="https://www.signs.com/content/assets/filelibrary/Wall-Decal-300x225--13628.jpg" alt="Wall-Decal 300x225" />
                </div>
                <h3 class="custom-sign-name">Wall Decals</h3>
                <p class="custom-sign-description">Use throughout dormitory and other common spaces to remind residents about best coronavirus practices.</p>
            </a>
        </div>
    </div>
    <div class="text-center"><a href="/" class="home-link">See All Custom Signs</a></div>
</section>



<!-- The Signs.com Advantage -->
<section class="section-default section-default-landing section-signs-advantage">
    <div class="standard-container">
        <h2>Everything You Need to Create Your Signs Online</h2>
        <div class="signs-advantage-block">
            <div class="signs-advantage-card">
                <div class="signs-advantage-image">
                    <div class="img-wrap">
                        <img src="https://www.signs.com/content/assets/filelibrary/production-8266.png" alt="Next Day Production">
                    </div>
                </div>
                <div class="signs-advantage-details">
                    <h3>Next Day Production</h3>
                    <a class="signs-advantage-link" href="#">Read more</a>
                    <div class="fab-modal">
                        <h3>Next Day Production</h3>
                        <div class="standard-separator"></div>
                        <p>Order by 5PM EST and we’ll have your order completed and shipped the very next day.</p>
                    </div>
                </div>
            </div>
            <div class="signs-advantage-card">
                <div class="signs-advantage-image">
                    <div class="img-wrap">
                        <img src="https://www.signs.com/content/assets/filelibrary/shipping-8267.png" alt="Free Shipping over $75*">
                    </div>
                </div>
                <div class="signs-advantage-details">
                    <h3>Free Shipping <br>over $75</h3>
                    <a class="signs-advantage-link" href="#">Read more</a>
                    <div class="fab-modal">
                        <h3>Free Shipping On Orders Over $75*</h3>
                        <div class="standard-separator"></div>
                        <p>For orders over $75 your order ships free! *Does not apply to orders containing rigid signs over 36” in either dimension. Contiguous US only.</p>
                    </div>

                </div>
            </div>
            <div class="signs-advantage-card">
                <div class="signs-advantage-image">
                    <div class="img-wrap">
                        <img src="https://www.signs.com/content/assets/filelibrary/award-8264.png" alt="Award Winning Customer Service">
                    </div>
                </div>
                <div class="signs-advantage-details">
                    <h3>Award-Winnig <br>Customer Service</h3>
                    <a class="signs-advantage-link" href="#">Read more</a>
                    <div class="fab-modal">
                        <h3>Award-Winning Customer Service</h3>
                        <div class="standard-separator"></div>
                        <p>Winners of numerous customer service awards, our customer experience team keeps you as their number-one priority throughout your entire experience with Signs.com</p>
                    </div>
                </div>
            </div>
            <div class="signs-advantage-card">
                <div class="signs-advantage-image">
                    <div class="img-wrap">
                        <img src="https://www.signs.com/content/assets/filelibrary/prices-8265.png" alt="Lowest Prices">
                    </div>
                </div>
                <div class="signs-advantage-details">
                    <h3>Lowest Prices</h3>
                    <a class="signs-advantage-link" href="#">Read more</a>
                    <div class="fab-modal">
                        <h3>Lowest Prices</h3>
                        <div class="standard-separator"></div>
                        <p>No matter the size, shape, or type, we offer some of the best prices in the industry for your custom sign.</p>
                    </div>
                </div>
            </div>
            <div class="signs-advantage-card">
                <div class="signs-advantage-image">
                    <div class="img-wrap">
                        <img src="https://www.signs.com/content/assets/filelibrary/satisfaction-8268.png" alt="100% Satisfaction Guarantee">
                    </div>
                </div>
                <div class="signs-advantage-details">
                    <h3>100% Satisfaction <br>Guarantee</h3>
                    <a class="signs-advantage-link" href="#">Read more</a>
                    <div class="fab-modal">
                        <h3>100% Satisfaction Guarantee</h3>
                        <div class="standard-separator"></div>
                        <p>
                            100% Satisfaction Guarantee
                            We guarantee you’ll love your sign. If you don’t, we’ll be sure to make it right.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
