.home-link, .signs-advantage-link {
    color: #40A9F5 !important;
}

    .home-link:hover, .signs-advantage-link:hover {
        color: #459ad8 !important;
    }

.fleet-spot .highlight-image-container img {
    max-width: 100%;
}

.thankyou-note {
    padding: 20px;
    margin: auto;
    text-align: center;
    font-size: 1.6rem;
    background: aliceblue;
    font-style: italic;
}

p.faq-guidline {
    margin: 5px 15px;
    font-style: italic;
}

.faq-product-header {
    font-size: 2.2rem;
}

.faq-product-subheader {
    font-style: italic;
}

p.italics {
    font-style: italic;
    display: inline-block;
}

.highlight-container.wrap.guy .highlight-group {
    font-weight: 300;
}

    .highlight-container.wrap.guy .highlight-group .highlight-header {
        font-weight: 300;
    }

p.italics {
    font-style: italic;
    display: inline-block;
}

.additional-specs {
    margin-bottom: 30px;
}

.spec-header {
    position: relative;
}

    .spec-header > span {
        position: absolute;
        top: -150px;
    }

.header-text {
    color: black;
    text-align: center;
    margin-bottom: 25px;
    font-size: 1.4rem;
}

.highlight-container.graphics .highlight-image-container img {
    max-width: 100%;
}


/* The Signs.com Sales Team Advantage */
.section-signs-sales-team-advantage {
    background: #f7f8fa;
    padding: 0;
}

    .section-signs-sales-team-advantage .standard-container {
        display: flex;
        justify-content: space-between;
    }


    .section-signs-sales-team-advantage h2 {
        font-size: 30px;
        font-weight: 400;
        margin-top: 0;
    }


    .section-signs-sales-team-advantage .img-wrap {
        max-width: 520px;
        width: 100%;
        align-self: flex-end;
    }

.team-help {
    text-align: left;
    width: 50vw;
    padding: 40px 0;
}

.hwch-item {
    font-size: 20px;
}

/* Premium Services */

a.design-help {
    color: #0097D5;
}

.premium-services-list {
    position: relative;
    max-width: 1153px;
    width: 100%;
    margin: 0 auto;
}

.section-premium h2 {
    margin-bottom: 60px;
}

.premium-service-item {
    padding-left: 230px;
    min-height: 163px;
    margin-bottom: 20px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

    .premium-service-item a {
        font-size: 22px;
    }

    .premium-service-item .img-wrap {
        position: absolute;
        width: 163px;
        display: inline-block;
        left: 0;
    }

    .premium-service-item p + a {
        margin-top: -15px;
        line-height: 1;
        align-self: flex-start;
    }

    .premium-service-item h3 {
        font-size: 28px;
        margin-bottom: 20px;
    }

    .premium-service-item p {
        font-size: 22px;
        line-height: 1.4;
        margin-bottom: 15px;
    }

/* Sign Types and Templates Specific to COVID-19 */
.portal-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.custom-sign-container {
    flex: 1 1 460px;
    max-width: 460px;
    margin-bottom: 30px;
}

.custom-sign-list {
    margin-bottom: 16px;
}

.custom-sign-item {
    display: block;
    width: 100%;
    text-align: center;
    transition: transform 200ms ease-out;
}

    .custom-sign-item:hover {
        transition: transform 200ms ease-in;
        transform: scale(1.05);
    }

.custom-sign-image-container {
    height: 225px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;
    flex-direction: column;
}

.custom-sign-item img {
    display: block;
    max-width: 100%;
    margin: 0 auto;
    width: auto;
}

.custom-sign-name {
    font-size: 1.5vw;
    margin-bottom: 10px;
}

.custom-sign-description {
}
/* The Signs.com Advantage */
.section-signs-advantage {
    padding: 75px 0 95px;
}

    .section-signs-advantage .section-title {
        margin-bottom: 80px;
    }

    .section-signs-advantage .standard-container {
        max-width: 1870px;
    }

.signs-advantage-block {
    font-size: 0;
    display: flex;
    flex-flow: row wrap;
    max-width: 1594px;
    width: 100%;
    margin: 0 auto;
    justify-content: space-between;
}

.signs-advantage-image {
    margin: 0 auto 20px;
    max-width: 100px;
}

.signs-advantage-card {
    position: relative;
    display: inline-block;
    text-align: center;
    flex: 0 0 calc(100% / 5 - 20px);
}

    .signs-advantage-card:after {
        content: "";
        display: block;
        position: absolute;
        top: 15px;
        bottom: 15px;
        background: #b9b9b9;
        width: 2px;
        right: 0;
        opacity: 0;
        visibility: hidden;
    }

    .signs-advantage-card:last-of-type:after {
        background: transparent;
    }

.signs-advantage-details {
    position: relative;
}

.signs-advantage-details {
}

.signs-advantage-link {
}

.signs-advantage-details h3 {
    font-size: 30px;
    line-height: 1;
    margin-bottom: 20px;
}

.signs-advantage-link {
    font-size: 25px;
}

.signs-advantage-link {
    font-weight: 300;
    text-transform: capitalize;
}

.fab-modal {
    z-index: 1;
    position: absolute;
    background: black;
    color: white;
    padding: 10px;
    width: 90%;
    top: 0;
    border-radius: 7px;
    text-align: center;
    left: 0;
    right: 0;
    margin: 0 auto;
    opacity: 0;
    visibility: hidden;
    -webkit-transition-property: opacity, visibility;
    transition-property: opacity, visibility;
    -webkit-transition-duration: 1s;
    transition-duration: 1s;
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
}

    .fab-modal.active {
        opacity: 1;
        visibility: visible;
    }

    .fab-modal .standard-separator {
        height: 1px;
    }

    .fab-modal h3 {
        font-size: 1.2rem;
        padding: 5px 0;
        margin-bottom: 2px;
    }

    .fab-modal p {
        font-size: 1rem;
        padding: 5px;
        margin-bottom: 0;
    }


/* Design tool and services */
.design-services .standard-container {
    max-width: 1750px;
}

.design-services .myrow {
    display: flex;
}

.design-services .design-services-group {
    margin: 0 40px;
}

.design-services .design-services-heading {
    margin: 0 auto 35px;
    max-width: 340px;
    text-transform: uppercase;
}


.design-services .design-services-image {
    margin-bottom: 0;
}

.design-services .design-services-text {
    color: #919396;
    font-size: 26px;
    font-weight: 300;
    max-width: 754px;
    margin: 0 auto 5px;
}

.design-services-group .img-wrap {
    margin-bottom: 20px;
}

.design-services .design-services-group a {
    font-size: 25px;
}


/*  */
.how-to-install {
    display: flex;
    flex-direction: column;
    margin: 30px 80px;
}

h2.how-to-install-heading {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 50px;
}

p.how-to-install-text {
    font-size: 1.5rem;
    text-align: center;
    max-width: 1200px;
    margin: 10px auto 10px;
}

p.how-to-install-subtext {
    text-align: center;
    font-size: 1.1rem;
}

.text-container ul {
    list-style-type: disc;
    margin-left: 60px;
    font-size: 1.2rem;
}

.how-to-install p {
    text-align: center;
}

.install-steps {
    display: flex;
    flex-direction: column;
}

.install-steps {
    display: flex;
    flex-direction: column;
}

p.step-small-text {
    margin-left: 40px;
    font-size: 1.1rem;
    flex: 1 1 auto;
    margin-top: 20px;
}

iframe.installation-video {
    margin: auto;
    height: 300px;
    width: 400px;
}

.step {
    display: flex;
    flex: 1;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 30px;
}

    .step.hidden {
        display: none;
    }

.expand-steps {
    text-align: center;
    font-size: 1.4rem;
    cursor: default;
}

.step img {
    width: 100%;
    max-width: 400px;
}

p.step-text {
    margin-left: 40px;
    font-size: 1.5rem;
    flex: 1 1 auto;
    text-align: left;
}

p.step-asterisk {
    font-size: 1em;
    margin-left: 43px;
}

.fleet-form h1 {
    font-size: 2rem;
    font-weight: 500;
    margin: auto;
    text-align: center;
    padding-top: 10px;
}

.fleet-form h3 {
    font-size: 1.5rem;
    text-align: left;
    width: 90%;
    margin: auto;
    margin-bottom: 5px;
}

.fleet-form p {
    font-size: 1.2rem;
    text-align: left;
    width: 90%;
    margin: auto;
}

.fleet-form textarea {
    width: 85%;
    height: 100px;
    margin-top: 10px;
    border-radius: 5px;
    padding: 5px;
    font-size: 1.1rem;
}

.fleet-form .get-started-button {
    margin: auto;
    border: none;
    font-size: 1rem;
    margin-top: 10px;
    margin-bottom: 10px;
}

.fleet-form p.asterisk {
    color: black;
    font-weight: 400;
    width: 85%;
    padding-bottom: 10px;
}

.fleet-form input.fgInputs {
    padding: 5px;
    font-size: 1.5rem;
    border-radius: 5px;
    border: 1px solid #d8d6d6;
    margin: 10px;
    max-width: 570px;
    width: 100%;
}

.fleet-form input::placeholder {
    /* font-size: 1rem; */
    padding: 5px;
}

.fleet-form input.fgInputs[name="FirstName"] {
    width: 230px;
}

.fleet-form input.fgInputs[name="LastName"] {
    width: 300px;
}

.fleet-form {
    max-width: 1000px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 2px 2px 5px 2px #d4d1d1;
    margin-bottom: 20px;
    margin-top: 20px;
}

    .fleet-form form {
        padding: 20px 20px 0;
        text-align: center;
    }

.highlight-container.care.wrap .highlight-image-container.care-img {
    justify-content: flex-start;
    flex: 1 1 350px;
    max-width: 679px;
}

.highlight-container.care.wrap .highlight-section {
    flex: 0 0 57.3vw;
    max-width: 1101px;
    margin: 0 0 0 60px;
}

.highlight-container.care.wrap .highlight-image-container.care-img img {
    max-width: 100%;
}

.highlight-container.care .highlight-image-container.care-img img, .highlight-container.guy .highlight-image-container.care-img img {
    margin-bottom: 0;
}

.highlight-container.wrap.guy {
    background: black;
    justify-content: flex-start;
    padding-right: 20px;
}

    .highlight-container.wrap.guy .highlight-group {
        color: white;
    }

.main-content h1 {
    font-size: 3.4em;
    font-weight: 300;
    padding-top: 20px;
    text-align: center;
    max-width: 940px;
    z-index: 2;
}

.hero-image {
    background: url(https://www.signs.com/content/assets/filelibrary/FleetGraphicsArtboard-12-5082.png) no-repeat;
    background-size: contain;
    background-position: center;
}

.highlight-container.graphics .highlight-image-container {
    justify-content: flex-end;
}

.highlight-container.guy {
    background: linear-gradient(to right, #f6f7f9, #f8f9fb, #f8f9fb, #f8f9fb);
}

    .highlight-container.care .highlight-section .highlight-group .highlight-text, .highlight-container.guy .highlight-section .highlight-group .highlight-text {
        text-align: left;
    }

    .highlight-container.care .highlight-section,
    .highlight-container.guy .highlight-section {
        margin-left: 0;
        margin-right: 5%;
    }

.highlight-container.care .highlight-image-container.care-img {
    flex: 1 1 200px;
}

.highlight-image-container img {
    max-width: 60%;
}

.design-help-group .help-button {
    font-size: 1.4em;
    text-decoration: none;
    color: white;
    background-color: #84c441;
    border-radius: 9px;
    font-weight: 400;
    min-height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    padding: 5px 10px;
    font-size: 2em;
    min-height: 60px;
    min-width: 300px;
    cursor: pointer;
}

.help-text p {
    margin-bottom: 30px;
}

    .help-text p strong {
        font-size: 2.5rem;
    }

.map-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.highlight-image-container.pro-graphics {
    justify-content: flex-end;
}

.map-container img {
    max-width: 100%;
}

.fab-section {
    flex: 1 1 200px;
}

.highlight-section {
    margin-right: 0%;
    flex: 1 1 500px;
}

.highlight-container.what-are {
    background-color: white;
}

p.sub-header {
    font-size: 1.3rem;
    margin: 0 auto;
    text-align: center;
    max-width: 1000px;
}

.highlight-group {
    color: black;
    align-items: flex-start;
    margin-bottom: 60px;
}

p.highlight-text.left {
    text-align: left;
}

.highlight-header {
    font-weight: 500;
}

.highlight-container {
    background-color: white;
}

.highlight-group {
    color: black;
}

h2 {
    font-family: 'proxima nova',sans-serif;
    font-size: 25px;
    margin-top: 22px;
    margin-bottom: 10px;
    font-weight: normal;
}

/* Using Signage to Combat COVID-19 at Your School & Campus */
.section-combat-covid {
    margin: 0 auto;
}

    .section-combat-covid .highlight-section {
        text-align: left;
    }

/* Frequently Asked Questions */
.product-tabs-wrapper.v4 {
    margin: 0;
    padding-top: 60px;
}

.product-tabs-wrapper #product-faq {
    margin-bottom: 35px;
    font-size: 34px;
}

.faqmain {
    margin-bottom: 0;
}

@media (max-width: 800px) {
    .highlight-group {
        margin: 10px;
    }

    .help-text p strong {
        font-size: 1.7rem;
    }

    .fleet-form input.fgInputs {
        width: 90%;
    }

    p.sub-header {
        margin: 10px;
    }

    p.step-text {
        margin-left: 0px;
    }

    p.how-to-install-text {
        margin: 10px 20px 30px 20px;
        padding: 10px;
    }

    .how-to-install {
        margin: 0px;
    }

    p.step-small-text {
        margin-left: 0px;
        text-align: left;
    }

    .step {
        margin: 0px;
        padding: 10px;
        flex-wrap: wrap;
        margin-bottom: 25px;
    }
}

.additional-specs-section {
    margin: 60px 0;
    font-size: 20px;
}

    .additional-specs-section .specs-table {
        margin: 0 auto;
    }

        .additional-specs-section .specs-table th,
        .additional-specs-section .specs-table td {
            padding: 20px;
            text-align: center;
            color: #777;
            vertical-align: baseline;
        }

            .additional-specs-section .specs-table th:first-child,
            .additional-specs-section .specs-table td:first-child {
                display: none;
                text-align: left;
                padding-left: 0;
                color: #333;
            }

            .additional-specs-section .specs-table th:last-child,
            .additional-specs-section .specs-table td:last-child {
                width: 50%;
            }

            .additional-specs-section .specs-table td:nth-child(2) {
                border-right: 1px solid #ccc;
            }

        .additional-specs-section .specs-table th {
            color: #333;
            font-size: 20px;
            text-decoration: underline;
        }

        .additional-specs-section .specs-table .mobile-heading {
            display: block;
            color: #333;
        }

    .additional-specs-section.single-product-specs .specs-table {
        max-width: 500px;
    }

        .additional-specs-section.single-product-specs .specs-table td:nth-child(2) {
            border-right: none;
        }

        .additional-specs-section.single-product-specs .specs-table td:last-child {
            width: auto;
        }

@media (min-width: 320px) {
    /* Sign Types and Templates Specific to COVID-19 320 */
    .portal-section {
        padding: 40px 0;
        overflow: hidden;
    }

    .portal-header {
        margin-bottom: 20px;
    }

    .portal-custom-signs-section .portal-heading, h2#product-faq {
        font-size: 25px;
        margin-top: 0;
        margin-bottom: 10px;
        padding: 0 10px;
    }

    .portal-heading + p {
        margin-bottom: 20px;
        padding: 0 10px;
    }

    .custom-sign-image-container {
        height: auto;
    }


    .custom-sign-item .custom-sign-name {
        font-size: 7vw;
        margin-bottom: 10px;
        line-height: 1;
    }

    .custom-sign-description {
        padding: 0 15px;
    }
}

@media (min-width: 360px) {
    /* Sign Types and Templates Specific to COVID-19 360 */
    .custom-sign-image-container {
        height: auto;
    }

    .custom-sign-item .custom-sign-name {
        font-size: 7vw;
        margin-bottom: 10px;
        line-height: 1;
    }
}

@media (min-width: 376px) {
    .portal-section p, .home-link {
        font-size: 16px;
    }

    .portal-section p {
        line-height: 1.4;
    }
}

@media (min-width: 576px) {
    /* Sign Types and Templates Specific to COVID-19 */
    .portal-section {
        max-width: 540px;
        margin: 0 auto;
    }

    .portal-custom-signs-section .portal-heading, h2#product-faq {
        margin-bottom: 10px;
    }

    .custom-sign-item .custom-sign-name {
        font-size: 3.5vw;
    }

    .custom-sign-image-container {
        height: 255px;
    }
}


@media (min-width: 768px) {
    /* Sign Types and Templates Specific to COVID-19 768 */
    .portal-heading-section .portal-heading {
        font-size: 4.2vw;
    }

    .js-loadPageContent h2 {
        font-size: 34px;
    }

    .js-loadPageContent h3 {
        font-size: 1.4vw;
    }

    .portal-section {
        max-width: 720px;
    }

    .portal-heading-section {
        margin-bottom: 30px;
    }

    .portal-template-section .portal-row {
        margin-left: -10px;
        margin-right: -10px;
    }

    .js-loadPageContent .portal-custom-signs-section > p {
        margin-bottom: 24px;
    }

    .template-container {
        padding: 0 10px;
        flex: 1 1 33.33333%;
        max-width: 33.33333%;
        margin-bottom: 20px;
    }

    .portal-custom-signs-section .portal-row {
        margin-left: -17px;
        margin-right: -17px;
    }

    .custom-sign-container {
        flex: 1 1 50%;
        max-width: 50%;
        padding: 0 17px;
        margin-bottom: 34px;
    }

    .get-free-template-section .btn-submit {
        padding: 10px 80px;
        font-size: 18px;
    }


    .start-custom-sign-section .btn-start {
        font-size: 18px;
    }

    .custom-sign-container {
        flex: 1 1 50%;
        max-width: 50%;
        padding: 0 17px;
        margin-bottom: 34px;
    }
}


@media (min-width: 992px) {
    .additional-specs-section .specs-table {
        max-width: 70%;
    }

        .additional-specs-section .specs-table tr:not(:last-child) > th,
        .additional-specs-section .specs-table tr:not(:last-child) > td {
            border-bottom: 1px solid #ccc
        }

        .additional-specs-section .specs-table th,
        .additional-specs-section .specs-table td {
            text-align: left;
            vertical-align: middle;
        }

        .additional-specs-section .specs-table th {
            text-align: center;
            text-decoration: none;
        }

        .additional-specs-section .specs-table .mobile-heading {
            display: none;
        }

        .additional-specs-section .specs-table th:first-child,
        .additional-specs-section .specs-table td:first-child {
            display: table-cell;
            padding-right: 0;
        }

    .additional-specs-section.single-product-specs .specs-table td:first-child {
        width: 150px;
    }

    .portal-section {
        max-width: 960px;
    }

    .portal-template-section .portal-row {
        margin-left: -15px;
        margin-right: -15px;
    }

    .template-container {
        padding: 0 15px;
        flex: 1 1 25%;
        max-width: 25%;
        margin-bottom: 30px;
    }

    .faq-list .faq-answer {
        line-height: 1.2;
    }
}

@media (min-width: 1200px) {
    /*  */
    /*  */

    .portal-heading-section .portal-heading {
        font-size: 2.6vw;
    }

    .portal-section {
        max-width: 1140px;
    }

    .portal-header {
        margin: 0 auto 60px;
        max-width: 850px;
    }

    .portal-heading-section p > .dynamic-break {
        display: inline;
    }

    .js-loadPageContent .portal-custom-signs-section > p {
        margin-bottom: 38px;
    }

    .portal-custom-signs-section .portal-row {
        margin-left: -34px;
        margin-right: -34px;
    }

    .custom-sign-container {
        flex: 1 1 calc(100%/4);
        max-width: 320px;
        padding: 0 15px;
        margin-bottom: 68px;
        max-width: 400px;
    }
}

@media (min-width: 1280px) {
    .custom-sign-item .custom-sign-name {
        font-size: 1.6vw;
    }

    .custom-sign-image-container {
        height: 150px;
    }

        .custom-sign-image-container img {
            height: 100%;
            width: 100%;
            object-fit: contain;
            /* max-width: initial; */
        }
}

@media (min-width: 1366px) {
    .portal-template-section .portal-row {
        margin-left: -20px;
        margin-right: -20px;
    }

    .template-container {
        padding: 0 20px;
        flex: 1 1 20%;
        max-width: 20%;
        margin-bottom: 40px;
    }
}

@media (min-width: 1500px) {
    .additional-specs-section.single-product-specs .specs-table {
        max-width: 40%;
    }

    .additional-specs-section .specs-table th:first-child,
    .additional-specs-section .specs-table td:first-child {
        width: 200px;
    }

    .additional-specs-section.single-product-specs .specs-table td:first-child {
        width: 200px;
    }

    .custom-sign-image-container {
        height: 165px;
    }

    .portal-section {
        max-width: 1240px;
    }
}

@media (min-width: 1720px) {
    .custom-sign-image-container {
        height: 200px;
    }

    .portal-section {
        max-width: 1460px;
    }
}

@media (min-width: 1680px) {
    .custom-sign-item .custom-sign-name {
        font-size: 1.3vw;
    }
}

@media (min-width: 1920px) {
    .portal-section {
        max-width: 1628px;
    }

    .custom-sign-item .custom-sign-name {
        font-size: 1.4vw;
    }
}

@media (max-width: 1800px) and (min-width: 1700px) {
    /* The Signs.com Advantage */
    .signs-advantage-card {
    }
}

@media (max-width: 1680px) {
    /* The Signs.com Advantage 1680 */
    .signs-advantage-card {
    }

    .section-signs-advantage .standard-container {
        max-width: initial;
        width: 98vw;
    }

    .signs-advantage-details h3 {
        font-size: 1.56vw;
        margin-bottom: .5vw;
    }

    .signs-advantage-link {
        font-size: 1.3vw;
    }

    /* Design Tool and Services 1680 */
    .design-services .img-wrap {
        /* height: 471.59px; */
    }

    .design-services-group .design-services-text {
        min-height: 124px;
    }

    /* Using Signage to Combat COVID-19 at Your School & Campus */
    .highlight-container.care.wrap .highlight-section {
        flex: 0 0 50vw;
        max-width: initial;
        margin-left: 3vw;
    }
}

@media (max-width: 1600px) {
    /* Design Tool and Services 1600 */
    .design-services .img-wrap {
        height: auto;
    }
}

@media(max-width: 1536px) {
    /* Design Tool and Services 1536 */
    .design-services .design-services-text {
        min-height: 0;
        font-size: 1.3vw;
    }

    .design-services .design-services-group a {
        font-size: 1.3vw;
    }
}

@media (max-width: 1440px) {
    /* Design Tool and Services 1440 */
    .design-services .design-services-heading {
        margin-bottom: 20px;
    }
}

@media (max-width: 1366px) {
    /* Premium Services */
    .premium-services-list {
        max-width: 1153px;
    }

    /* Design and Tool 1366 */
    .design-services .design-services-group {
        margin: 0 20px;
    }
}

@media (max-width: 1199px) {
    /* The Signs.com Sales Team Advantage 1199 */
    .section-signs-sales-team-advantage .standard-container {
        flex-flow: row wrap;
    }

    .section-signs-sales-team-advantage .img-wrap {
        max-width: 330px;
    }

    .team-help {
        width: 55vw;
        padding-bottom: 0;
    }

    /* The Signs.com Advantage 1199 */
    .section-signs-advantage {
        padding: 6vw 0 5vw;
    }

    .signs-advantage-block {
        justify-content: center;
    }

    .signs-advantage-card {
        flex: 0 0 30vw;
        margin-bottom: 45px;
    }

    .signs-advantage-image {
        width: 12.5vw;
        height: 12.5vw;
        max-width: initial;
    }

    .signs-advantage-details h3 {
        font-size: 2.56vw;
    }

    .signs-advantage-link {
        font-size: 2.5vw;
    }

    .signs-advantage-card:nth-child(3):after {
        opacity: 0;
    }

    .section-signs-advantage {
        padding-bottom: 0;
    }

    /* Design tool and services 1199*/
    .design-services .design-services-heading {
        font-size: 24px;
        max-width: 235px;
    }

    .design-services .design-services-text {
        min-height: auto;
        font-size: 20px;
    }

    .design-services .design-services-group a {
        font-size: 22px;
    }
    /* Using Signage to Combat COVID-19 at Your School & Campus */
    .highlight-container.wrap.guy .highlight-group .highlight-header {
        font-size: 28px;
    }

    .section-combat-covid p {
        font-size: 16px;
    }

    .section-combat-covid .highlight-group {
        margin: 0;
    }
}

@media (max-width: 991px) {
    /* The Signs.com Sales Team Advantage 991 */
    .section-signs-sales-team-advantage {
        padding: 50px 0;
    }

        .section-signs-sales-team-advantage .standard-container {
        }

        .section-signs-sales-team-advantage .img-wrap {
            max-width: 330px;
            margin: 0 auto;
        }

    .team-advantage {
        text-align: center;
        width: 100%;
    }

        .team-advantage p {
            max-width: 475px;
            margin: 0 auto 20px;
        }

    .team-help {
        width: 81vw;
        margin: 0 auto;
    }

    /* Design tool and services 991 */
    .design-services .design-services-text {
        height: auto;
    }

    .design-services .myrow {
        display: block;
    }

    .design-services .design-services-heading {
        max-width: initial;
        display: block;
        margin: 0 0 20px;
    }

    .design-services .design-services-group:last-child {
        margin-bottom: 0;
    }

    .design-services .design-services-group {
        margin: 0 auto 40px;
        max-width: 630px;
    }

    .design-services .design-services-heading br {
        display: block;
    }

    .design-services .design-services-text {
        font-size: 2.5vw;
        width: 71vw;
        height: auto;
    }

    .design-services .design-services-group a {
        font-size: 2.5vw;
    }

    /* Using Signage to Combat COVID-19 at Your School & Campus 991 */
    .highlight-container.wrap.guy .highlight-group .highlight-header {
        font-size: 24px;
        margin-top: 0;
    }

    .section-combat-covid p {
        font-size: 14px;
    }

    .highlight-container.care.wrap .highlight-image-container.care-img {
        flex: 1 1 350px;
        max-width: 366px;
    }

    .highlight-container.care.wrap .highlight-section {
        flex: 0 0 52vw;
        margin-left: 0;
    }

    /* Using Signage to Combat COVID-19 at Your School & Campus 991 */
    .section-combat-covid,
    .section-combat-covid.wrap.guy.care .highlight-section,
    .combat-covid-content {
        display: block;
    }

        .section-combat-covid.highlight-container.wrap {
            padding: 40px 0;
        }

        .section-combat-covid.wrap.guy.care .combat-covid-title,
        .section-combat-covid.wrap.guy.care .highlight-text {
            padding: 0 20px;
        }

        .section-combat-covid.wrap.guy.care .combat-covid-title {
            text-align: center;
            margin-bottom: 30px;
        }

        .section-combat-covid.wrap.guy.care .combat-covid-img {
            margin: 0 auto 20px;
        }
}

@media (max-width: 767px) {
    /* Everythinng you need to create your signs online 767 */
    .section-signs-advantage .section-title {
        margin-bottom: 50px;
    }

    .section-signs-advantage .highlight-section {
    }
}

@media (max-width: 575px) {
    /* The Signs.com Sales Team Advantage 575*/
    .section-signs-sales-team-advantage {
        padding-bottom: 20px;
    }

        .section-signs-sales-team-advantage h2 {
            text-align: center;
        }

    .team-help {
    }

    .hwch-item {
        margin-bottom: 10px;
    }

    /* Premium Services 575 */
    .premium-service-item {
        padding: 0;
        display: block;
        text-align: center;
    }

    .section-premium h2 {
        margin-bottom: 5px;
    }

    .section-premium h3 {
        font-size: 22px;
    }

    .premium-service-item p {
    }

    .premium-service-item .img-wrap {
        position: static;
        margin: 0 auto;
    }

    .premium-service-item:last-child .img-wrap {
        margin-bottom: 15px;
    }

    /* The Signs.com Advantage 575 */
    .section-signs-advantage .section-title {
        margin-bottom: 6vw;
    }

    .section-signs-advantage {
        padding: 8vw 0 4vw;
    }

        .section-signs-advantage h2 {
            margin-bottom: 6vw;
        }

    .signs-advantage-card {
        flex: 0 0 60vw;
        margin-bottom: 20px;
    }

        .signs-advantage-card:after {
            display: none;
        }

    .signs-advantage-image {
        width: 24.1vw;
        height: 24.1vw;
    }

    .signs-advantage-details h3 {
        font-size: 5.5vw;
        margin-bottom: 3vw;
    }

    .signs-advantage-link {
        font-size: 5.4vw;
    }

    .design-services .design-services-group {
        margin: 0 0 30px;
    }

    .design-services .standard-container {
        padding: 0;
    }

    .design-services-group:last-of-type .design-services-heading {
        max-width: 340px;
    }

    .design-services .design-services-heading {
        display: block;
        padding: 0 45px;
        margin: 0 auto 15px;
    }

        .design-services .design-services-heading br {
            display: block;
        }

    .design-services .design-services-text {
        font-size: 20px;
        max-width: 400px;
        margin: 0 auto 5px;
        max-width: initial;
        width: 80vw;
    }

    .design-services .design-services-text,
    .design-services .design-services-group a {
        font-size: 3.4vw;
    }
    /* Using Signage to Combat COVID-19 at Your School & Campus */
    .section-combat-covid.wrap.guy.care .combat-covid-img {
        max-width: initial;
        width: 100%;
    }
}

@media (max-width: 480px) {
    /* Design and tool services 480*/
    .section-default-landing.design-services {
        padding-bottom: 35px;
    }

    .design-services .design-services-text,
    .design-services .design-services-group a {
        font-size: 4.4vw;
        width: 88vw;
    }
}

@media (max-width: 375px) {
    /* Premium Services 375 */
    .premium-service-item p {
        /* font-size: 20px; */
    }

    /* Design tool and services 375 */
    .design-services .design-services-heading {
        padding: 0 25px;
    }
}

@media (max-width: 360px) {
    /* Design tool and services 360 */
    .design-services .design-services-heading {
        padding: 0 20px;
    }
}

@media (max-width: 320px) {
    /* Premium Services */
    .section-premium h2 {
        font-size: 23px;
    }

    .premium-service-item h3 {
        font-size: 20px;
        margin-bottom: 10px;
    }

    .premium-service-item p, .premium-service-item p + a {
        font-size: 16px;
    }
}
