<div class="section-hero">
    <h1 style="font-family: 'proxima nova',sans-serif; font-size: 30px; margin-top: 22px; margin-bottom: 10px; font-weight: normal;">Custom Real Estate Signs</h1>

    <div class="hero">
        <img src="/content/assets/filelibrary/Real-Estate-Signs-2058.png" alt="Real Estate Signs">
    </div>
</div>