a, a:visited, a:active {
    color: #0097d5;
}

#LoginNavigationContainer a,
#LoginNavigationContainer a:visited,
#LoginNavigationContainer a:active {
    color: inherit;
}

h2.heading {
    font-size: 50px;
    text-align: center;
    margin-bottom: 30px;
}

.page-header {
    margin-top: 20px;
    margin-bottom: 30px;
}

.page-header h1 {
    font-size: 2.5rem;
    font-weight: 300;
    text-align: center;
    z-index: 2;
}

.page-header .page-sub-header {
    font-size: 1.2rem;
    font-weight: 100;
    text-align: center;
}

.product-list-headline {
    text-align: center;
    margin: 0 auto 40px;
    box-sizing: border-box;
    padding: 0 16px;
}

.product-list-headline > .heading {
    font-size: 30px;
    width: 100%;
    margin: 0 0 16px;
    text-align: center;
    padding: 0;
}

.product-list-headline p {
    margin-bottom: 16px;
}

.product-lists {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1500px;
    margin: 0 auto 40px;
}

.product-lists .product-list-item {
    flex: 1 1 100%;
    max-width: 100%;
    padding: 0 16px;
    box-sizing: border-box;
    margin-bottom: 60px;
}

.product-lists .product-image {
    margin-bottom: 30px;
}
.product-lists .product-image a {
    display: block;
    text-align: center;
    margin: 0 auto;
    /* Animation */
    cursor: pointer;
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);

    /* Specific Animation */
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}
.product-lists .product-image a:hover, .product-lists .product-image a:active {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
.product-lists .product-image img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

.product-lists .product-description {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-lists .product-name {
    font-size: 25px;
    text-align: center;
}

.product-lists .product-learn-more-link {
    font-size: 15px;
    color: #0097d5;
    display: inline-block;
    margin-bottom: 5px;
    line-height: 1.8;
}

.product-lists .product-get-started-btn {
    background-color: #8cc53f;
    padding: 5px 15px;
    border-radius: 5px;
    color: #fff;
    display: inline-block;
    margin-bottom: 8px;
    font-size: 18px;
    font-weight: 300;
}

.product-price {
    font-size: 15px;
    font-style: italic;
}

.hero-slider-section {
    margin: 40px 0;
}

.hero-slider-item {
    padding: 16px;
    margin: 0;
}

.hero-slider-item img {
    max-width: 100%;
    width: 100%;
}

@media (min-width: 576px) {
    .product-lists {
        max-width: 500px;
    }
    .product-lists .product-list-item {
        flex: 1 1 50%;
        max-width: 50%;
    }
}

@media (min-width: 768px) {
    .product-list-headline,
    .product-lists {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .product-list-headline {
        padding: 0 60px;
    }

    .product-list-headline,
    .product-lists {
        max-width: 920px;
    }

    .product-lists .product-list-item {
        flex: 1 1 33.333333%;
        max-width: 33.333333%;
    }
}

@media (min-width: 1200px) {
    .product-list-headline,
    .product-lists {
        max-width: 1000px;
    }
}

@media (min-width: 1366px) {
    .product-list-headline,
    .product-lists {
        max-width: 1200px;
    }
    .product-lists .product-list-item {
        padding: 0 40px;
    }
}

@media (min-width: 1600px) {
    .product-list-headline,
    .product-lists {
        max-width: 1500px;
    }
}

.hero-slider {
    padding: 0;
}

.hero-slider .slick-arrow {
    font-size: 14px;
    color: inherit;
    opacity: 0.6;
    z-index: 2;
    height: auto;
}
.hero-slider .slick-arrow:hover {
    cursor: pointer;
    opacity: 0.9;
}

.hero-slider .slick-arrow:hover,
.hero-slider .slick-arrow:focus {
    color: inherit;
}

.hero-slider .slick-arrow:after,
.hero-slider .slick-arrow:before {
    content: "";
}

.hero-slider .slick-arrow.slick-next {
    right: 20px;
}

.hero-slider .slick-arrow.slick-prev {
    left: 20px;
}

.slick-slide.slick-current {
    z-index: 1;
}

.hero-slider-section {
    margin: 0 auto 40px;
}

.hero-slider-item {
    flex: 1 1 100%;
    max-width: 100%;
    padding: 0 !important;
}

@media (min-width: 768px) {
    .hero-slider-section {
        width: 720px;
    }

    .hero-slider-item {
        flex: 1 1 auto;
        max-width: unset;
    }
}

@media (min-width: 820px) {
    .hero-slider-section {
        width: 800px;
    }
}

@media (min-width: 900px) {
    .hero-slider .slick-arrow.slick-next {
        right: -50px;
    }

    .hero-slider .slick-arrow.slick-prev {
        left: -50px;
    }
}

@media (min-width: 992px) {
    .hero-slider-section {
        width: 900px;
    }
}

@media (min-width: 1200px) {
    .hero-slider-section {
        width: 1000px;
    }
}

@media (min-width: 1300px) {
    .hero-slider-section {
        width: 1200px;
    }
}

@media (min-width: 1400px) {
    .hero-slider-section {
        /* width: 1300px; */
    }
}

.fab-main {
    display: flex;
    justify-content: space-around;
    width: 90%;
    margin: auto;
    align-items: stretch;
    margin-bottom: 40px;
    flex-wrap: wrap;
}
.fab-main .fab-section {
    position: relative;
    flex: 1;
    cursor: pointer;
}
.fab-section-title {
    font-size: 1.2rem;
    margin-top: 12px;
}
@media only screen and (max-width: 800px) {
    .fab-main .fab-section {
        flex: 1 1 100px;
        margin: 10px;
    }
}
.fab-main .fab-modal {
    position: absolute;
    background: black;
    color: white;
    padding: 10px;
    width: 90%;
    bottom: -100px;
    right: 5px;
    border-radius: 7px;
    display: none;
    z-index: 10;
    text-align: center;
}
.fab-main .fab-modal.visible {
    display: block;
}
.fab-main .fab-modal h3 {
    font-size: 1.2rem;
    padding: 5px 0;
}
.fab-main .fab-modal p {
    font-size: 1rem;
    padding: 5px;
}
.fab-main .fab-modal p .asterisk {
    color: white;
}
.fab-section img {
    max-width: 107px;
}
.standard-separator.vertical {
    height: 10em;
    width: 0.08em;
    background: linear-gradient(
            to right,
            rgba(221, 221, 221, 0) 0%,
            #dddddd 10%,
            #dddddd 50%,
            #dddddd 90%,
            rgba(221, 221, 221, 0) 100%
    );
    background: linear-gradient(
            to right,
            rgba(221, 221, 221, 0) 0px,
            #584343 10%,
            #353232 50%,
            #dddddd 90%,
            rgba(221, 221, 221, 0) 100%
    );
}
@media only screen and (max-width: 800px) {
    .standard-separator.vertical {
        display: none;
    }
}

.standard-separator.vertical::before {
    content: "";
    width: 1px;
    height: 100%;
    display: flex;
    background-image: -webkit-linear-gradient(top, white, black, white);
}

.fab-main {
    justify-content: center !important;
}

.fab-section {
    flex: 1 1 100% !important;
    max-width: 100% !important;
    box-sizing: border-box !important;
    margin: 0 0 20px 0 !important;
}

.standard-separator.vertical {
    display: none !important;
}

@media (min-width: 578px) {
    .fab-section {
        flex: 1 1 50% !important;
        max-width: 50% !important;
    }
}

@media (min-width: 768px) {
    .fab-section {
        flex: 1 1 33.333333% !important;
        max-width: 33.333333% !important;
    }
}

@media (min-width: 1200px) {
    .fab-section {
        flex: 1 1 20% !important;
        max-width: 20% !important;
    }
}

.content-header {
    margin: 40px auto;
    padding: 0 20px;
}

.design-services {
    max-width: 600px;
    margin: 0 auto;
    align-items: flex-start;
    flex-wrap: wrap;
}

.design-services-group {
    margin: 0;
    box-sizing: border-box;
    padding: 30px;
    flex: 1 1 100%;
    max-width: 100%;
}

@media (min-width: 992px) {
    .design-services-group {
        flex: 1 1 50%;
        max-width: 50%;
    }

    .design-services {
        max-width: 1500px;
        margin: 0 auto;
    }
}

.customizable-section {
    margin: 60px auto;
    max-width: 600px;
}

.customizable-section .content-header {
    margin-bottom: 30px;
}

.customizable-section * {
    box-sizing: border-box;
}

.customizable-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
}

.customizable-item {
    flex: 1 1 100%;
    max-width: 100%;
    margin-bottom: 50px;
    text-align: center;
}

.customizable-item-content {
    background-color: #f2f2f2;
    padding: 20px;
    height: 100%;
    flex-wrap: wrap;
    display: flex;
}

.customizable-item-content > * {
    flex: 1 1 100%;
    max-width: 100%;
    width: 100%;
}

.customizable-item .customizable-item-name {
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.customizable-item .customizable-item-desrciption p {
    margin-bottom: 16px;
}

.customizable-item .customizable-item-desrciption {
    margin-bottom: 20px;
}

.customizable-item .customizable-item-options {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
}

.customizable-item .customizable-item-option {
    flex: 1 1 100%;
    max-width: 100%;
    margin-bottom: 40px;
    padding: 10px;
}

.customizable-item .customizable-item-option-name {
    font-size: 24px;
    margin-bottom: 1rem;
}

.customizable-item .customizable-item-option-image {
    margin-bottom: 1rem;
}

.customizable-item.half .customizable-item-option {
    flex: 1 1 33.333333%;
    max-width: 33.333333%;
    margin-bottom: 0;
}

.customizable-item.half .customizable-item-option-image {
    margin-bottom: 0;
}

.customizable-item .customizable-item-option-image img {
    max-width: 100%;
}

@media (min-width: 578px) {
    .customizable-item-option:not(.half) {
        flex: 1 1 50%;
        max-width: 50%;
    }

    .customizable-item {
        padding: 0 30px;
    }

    .customizable-item .customizable-item-option {
        padding: 20px;
    }
}

@media (min-width: 992px) {
    .customizable-section {
        max-width: 1500px;
    }
    .customizable-item .customizable-item-name {
        font-size: 60px;
        text-transform: uppercase;
    }

    .customizable-item.half {
        flex: 1 1 50%;
        max-width: 50%;
    }

    .customizable-section .content-header {

    }

    .customizable-item:not(.half) .customizable-item-desrciption {
        display: none;
    }

    .customizable-item:not(.half) .customizable-item-option {
        flex: 1 1 25%;
        max-width: 25%;
    }

    .customizable-item .customizable-item-optionas {
        align-items: stretch;
    }

    .customizable-item.half .customizable-item-options {
        align-items: flex-end;
    }
}

.static-clings-section {
    margin-bottom: 60px;
}

.static-clings-contents {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}

.static-clings-content-item {
    flex: 1 1 100%;
    max-width: 100%;
    box-sizing: border-box;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 40px;
}

.static-clings-content-item > img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

.static-clings-content-item > h3 {
    font-size: 30px;
    margin-bottom: 16px;
}

.static-clings-content-item > p {
    margin-bottom: 16px;
}

.static-clings-content-item > p:last-child {
    margin-bottom: 0;
}

@media (min-width: 668px) {
    .static-clings-contents {
        max-width: 668px;
    }
}

@media (min-width: 992px) {
    .static-clings-contents {
        max-width: 900px;
    }

    .static-clings-content-item {
        flex: 1 1 50%;
        max-width: 50%;
    }
}

@media (min-width: 1200px) {
    .static-clings-contents {
        max-width: 1000px;
    }
}

@media (min-width: 1300px) {
    .static-clings-contents {
        max-width: 1300px;
    }
}

.design-services-text {
    margin: 20px 0 5px !important;
}
.design-services-group a {
    font-size: 1.4rem;
}

.custom-vinyl-decals-section {
    margin: 60px auto;
}

.custom-vinyl-decals-content {
    display: flex;
    align-items: stretch;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.custom-vinyl-decals-content-item {
    flex: 1 1 50%;
    max-width: 50%;
}

.custom-vinyl-decals-content-item > img {
    display: block;
    margin-left: auto;
    max-width: 100%;
}

.custom-vinyl-decals-content-item:first-child {
    flex: 1 1 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    padding: 0 20px;
    order: 4;
}

.custom-vinyl-decals-content-item:nth-child(2) {
    display: flex;
    align-items: center;
}

.custom-vinyl-decals-content-item:first-child > h3 {
    display: none;
}

.custom-vinyl-decals-content-item > h3 {
    font-size: 38px;
    margin-bottom: 20px;
}

.custom-vinyl-decals-content-item > p {
    margin-bottom: 16px;
}

.custom-vinyl-decals-content-item:nth-child(2) > h3 {
    box-sizing: border-box;
    padding: 0 20px;
}

@media (min-width: 668px) {
    .custom-vinyl-decals-content-item {
        flex: 1 1 calc(50% - (100vw - 668px) / 2);
        max-width: calc(50% - (100vw - 668px) / 2);
    }

    .custom-vinyl-decals-content-item:nth-child(2) {
        flex: 1 1 50%;
        max-width: 50%;
        margin-left: calc((100vw - 668px) / 2);
    }

    .custom-vinyl-decals-content-item:first-child {
        flex: 1 1 668px;
        max-width: 668px;
        margin: 0 auto;
    }
}

@media (min-width: 992px) {
    .custom-vinyl-decals-content {
        justify-content: space-between;
    }
    .custom-vinyl-decals-content-item {
        flex: 1 1 calc(50% - (100vw - 900px) / 2);
        max-width: calc(50% - (100vw - 900px) / 2);
    }

    .custom-vinyl-decals-content-item:first-child {
        flex: 1 1 50%;
        max-width: 50%;
        margin-left: 0;
        margin-right: 0;
        order: 0;
    }

    .custom-vinyl-decals-content-item:first-child > h3 {
        margin-bottom: 64px;
        display: block;
    }

    .custom-vinyl-decals-content-item:nth-child(2) {
        display: none;
    }
}

@media (min-width: 1200px) {
    .custom-vinyl-decals-content-item {
        flex: 1 1 calc(50% - (100vw - 1000px) / 2);
        max-width: calc(50% - (100vw - 1000px) / 2);
    }

    .custom-vinyl-decals-content-item:first-child {
        flex: 1 1 40%;
        max-width: 40%;
        margin-left: 0;
    }
}

@media (min-width: 1300px) {
    .custom-vinyl-decals-content-item:first-child {
        margin-left: calc((100vw - 1300px) / 2);
    }
}

@media (min-width: 1500px) {
    .custom-vinyl-decals-content-item {
        flex: 1 1 calc(60% - (100vw - 1000px) / 2);
        max-width: calc(60% - (100vw - 1000px) / 2);
    }
    .custom-vinyl-decals-content-item:first-child {
        flex: 1 1 30%;
        max-width: 30%;
    }
}

@media (max-width: 575px) {
    .custom-vinyl-decals-content-item > h3 {
        font-size: 30px;
    }
}
@media (max-width: 1366px) and (min-width: 1366px) {
    .hero-slider-section {
        width: 1080px;
    }
}