<!-- Hero Section -->
<section class="section-hero-full-width">
	<div class="hero-head">
		<h1>Custom Rectangle Flags</h1>
		<ul class="hero-list">
			<li class="hero-list-item">1-Day Turnaround</li>
			<li class="hero-list-item">Indoor and Outdoor Use</li>
			<li class="hero-list-item">Quick and Easy Set Up</li>
		</ul>
	</div>
	<div class="hero-body">
		<div class="hero-img-wrap">
			<img
					class="hero-img"
					src="https://www.signs.com/content/assets/filelibrary/Rectangle-flags-Hero-895x550-Web-8886-8952.jpg"
					alt="Custom Rectangle Flags"
			/>
		</div>
	</div>
	<div class="hero-footer">
		<p class="hero-phrase">
			Catch the attention of people passing by with these rectangle flag banners!
		</p>
	</div>
</section>

<!-- What Are Rectangle Flags? -->
<section class="section-default section-what-are sectionComeGo_js">
	<div class="standard-container">
		<div class="what-are-content-wrap comeGoChildWrap_js">
			<h2>What are Rectangle Flags?</h2>
			<p>
				Rectangle flags, or rectangle flag banners, are advertising flags in the shape of a rectangle. Because of their
				size, durability, and portability they are perfect for indoor and outdoor signage.
			</p>
			<p>In comparison to other advertising flags, rectangle flags are great for displaying large amounts of information
			   due to the fact that their surface area is larger than any other advertising flag.</p>
			<div class="downloadable-product-templates">
				<h3>Downloadable product templates</h3>
				<table class="table table-border-nobox">
					<thead>
					<tr>
						<th scope="col">Small <span>(34"x95")</span></th>
						<th scope="col">Medium <span>(34"x118")</span></th>
						<th scope="col">Large <span>(34"x156")</span></th>
					</tr>
					</thead>
					<tbody>
					<tr>

						<td><a href="">Front</a></td>
						<td><a href="">Front</a></td>
						<td><a href="">Front</a></td>

					</tr>
					<tr>
						<td><a href="">Back</a></td>
						<td><a href="">Back</a></td>
						<td><a href="">Back</a></td>
					</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="what-are-img-wrap comeGoImageWrap_js">
			<img src="https://www.signs.com/content/assets/filelibrary/Rectangle-Flag-Grocery-Store-web-487x643-8887-8951.jpg"
			     alt="Rectangle Flags"/>
		</div>
	</div>
</section>

<!-- Rectangle Flag Options -->
<section class="section-default section-img-content-alternate section-rectangle-flag-options">
	<div class="standard-container">
		<h2>Rectangle Flag Options</h2>
		<div class="img-content-alternate-item rectangle-flag-options-item sectionComeGo_js">
			<div class="img-wrap comeGoImageWrap_js">
				<img src="https://www.signs.com/content/assets/filelibrary/Double-Sided-Feather-Flag-695x595-8872.jpg"
				     alt="Double-Sided Rectangle Flag Banner">
			</div>
			<div class="content-wrap comeGoChildWrap_js">
				<h3>Double Sided (Recommended)</h3>
				<p>
					Because these flags are typically displayed outside and will be seen from both sides, we recommend ordering
					your rectangle flag double sided. You can have both sides be the same or have each side different at no extra
					charge!
				</p>
				<p>Our double-sided flags come with a lining in the middle that results in a more vibrant background than our
				   single-sided flags.</p>
			</div>
		</div>
		<div class="img-content-alternate-item rectangle-flag-options-item sectionComeGo_js">
			<div class="img-wrap comeGoImageWrap_js">
				<img src="https://www.signs.com/content/assets/filelibrary/Single-Sided-Feather-Flag-web-695x610-8889-8954.jpg"
				     alt="Single-Sided Rectangle Flag Banner">
			</div>
			<div class="content-wrap comeGoChildWrap_js">
				<h3>Single Sided</h3>
				<p>Single-sided rectangle flags are printed on one side only. As a result, the image from the front side is
				   lightly displayed on the backside.</p>
				<p>Single-sided flags are a cost-friendly alternative to double-sided flags. They are great for indoor use when
				   people will only be seeing one side of the flag.</p>
			</div>
		</div>
		<div class="img-content-alternate-item rectangle-flag-options-item sectionComeGo_js">
			<div class="img-wrap comeGoImageWrap_js">
				<img src="https://www.signs.com/content/assets/filelibrary/Outdoor-feather-flag-400x645-Web-8885-8950.jpg"
				     alt="Rectangle Flag Used Outdoors">
			</div>
			<div class="content-wrap comeGoChildWrap_js">
				<h3>Outdoors</h3>
				<p>Rectangle flag banners are ideal for outside advertising. With a wide variety of bases, they can be
				   installed/placed nearly anywhere. They are built to withstand rain and moderate winds. They are large, which
				   makes them noticeable and
				   easy to see.</p>
				<p>Their free form allows them to move with the wind, drawing even more attention to them outdoors.</p>
			</div>
		</div>
		<div class="img-content-alternate-item rectangle-flag-options-item sectionComeGo_js">
			<div class="img-wrap comeGoImageWrap_js">
				<img src="https://www.signs.com/content/assets/filelibrary/Indoor-Feather-Flag-web-300x610-8876-8949.jpg"
				     alt="Rectangle Flag Used Indoors">
			</div>
			<div class="content-wrap comeGoChildWrap_js">
				<h3>Indoors</h3>
				<p>Rectangle flags are also great for indoor advertising for things like press conferences, trade shows, and
				   other indoor events.</p>
				<p>If you intend on using your flag indoors we recommend using the square base or the cross base.
				</p>
			</div>
		</div>
	</div>
</section>
<!-- Base Options -->
<section class="section-default section-img-content-alternate section-base-options">
	<div class="standard-container">
		<h2>Base Options</h2>
		<div class="img-content-alternate-item base-options sectionComeGo_js">
			<div class="img-wrap comeGoImageWrap_js">
				<img src="https://www.signs.com/content/assets/filelibrary/Square-Base-web-432x148-8891-8956.jpg"
				     alt="Square Base for Rectangle Flags">
			</div>
			<div class="content-wrap comeGoChildWrap_js">
				<h3>Square</h3>
				<p>This square base is made of a durable, heavy metal that makes it ideal for flat surfaces and/or indoors.</p>
			</div>
		</div>
		<div class="img-content-alternate-item base-options sectionComeGo_js">
			<div class="img-container comeGoImageWrap_js">
				<div class="img-wrap">
					<img src="https://www.signs.com/content/assets/filelibrary/Ground-Stake-Illustration-8875-8918-8946.jpg"
					     alt="Ground Stake for Rectangle Flags">
				</div>
				<div class="img-wrap">
					<img src="https://www.signs.com/content/assets/filelibrary/Ground-Stake-465x130-8874-8944.jpg"
					     alt="Ground Stake for Rectangle Flags">
				</div>
			</div>

			<div class="content-wrap comeGoChildWrap_js">
				<h3>Ground Stake</h3>
				<p>A 25" metal spike. Perfect for outdoor areas such as grass and dirt.</p>
			</div>
		</div>
		<div class="img-content-alternate-item base-options sectionComeGo_js">
			<div class="img-wrap comeGoImageWrap_js">
				<img src="https://www.signs.com/content/assets/filelibrary/Cross-Base-web-465x200-8870-8939.jpg"
				     alt="Cross Base for Rectangle Flags"></div>
			<div class="content-wrap comeGoChildWrap_js">
				<h3>Cross Base</h3>
				<p>This base has 4 legs that fold up, making it easy to transport. It is good for indoor use and outdoor with
				   mild conditions.</p>
			</div>
		</div>
		<div class="img-content-alternate-item base-options sectionComeGo_js">
			<div class="img-wrap comeGoImageWrap_js">
				<img src="https://www.signs.com/content/assets/filelibrary/Water-Base-web-510x265-8892-8957.jpg"
				     alt="Cross Base with Water Bag for Rectangle Flags">
			</div>
			<div class="content-wrap comeGoChildWrap_js">
				<h3>Cross Base with Water Bag</h3>
				<p>The water bag adds 16 lbs to the cross base, which makes it a great all around base for both indoors and
				   outdoors.</p>
			</div>
		</div>
	</div>
</section>
<!-- Polyster Customizable -->
<section class="section-default section-polyster-customizable">
	<div class="standard-container">
		<div class="img-wrap">
			<img src="https://www.signs.com/content/assets/filelibrary/Rectangle-Flag-and-shadow-web-8884.png"
			     alt="Custom Rectangle Flag Banner Made from 4 oz Polyester">
		</div>
		<div class="content-wrap">
			<div class="content-wrap-item">
				<h2>Polyster</h2>
				<p>Your rectangle flag is printed in full color using a dye sublimation printing process on 4 oz. polyester.</p>
			</div>
			<div class="content-wrap-item">
				<h2>Customizable</h2>
				<p>Your design is fully customizable and can be printed with as many colors as you want at no extra cost.</p>
			</div>
		</div>
	</div>
</section>
<!-- Assembling Rectangle Flags -->
<section class="section-default section-ayrf">
	<div class="standard-container">
		<h2>Assembling Your Rectangle Flag</h2>
		<p>Rectangle flags are assembled by first putting all the poles together in the proper order, then unfolding the
		   flag and sliding the now- connected poles through the pole insert and pulling down til the flag is fully extended
		   on the poles.</p>
		<ul class="assembling-steps">
			<li class="assembling-steps-item">
				<div class="img-wrap"><img src="https://www.signs.com/content/assets/filelibrary/Installation-1-8877.png"
				                           alt="Lay out the pole set"></div>
				<p>Lay out the pole set</p>
			</li>
			<li class="assembling-steps-item">
				<div class="img-wrap"><img src="https://www.signs.com/content/assets/filelibrary/Installation-2-8878.png"
				                           alt="Assemble the poles"></div>
				<p>Assemble the poles</p>
			</li>
			<li class="assembling-steps-item">
				<div class="img-wrap"><img src="https://www.signs.com/content/assets/filelibrary/Installation-3-8879.png"
				                           alt="Put the flag onto the assembled pole">

				</div>
				<p>Begin to gently put the flag onto the assembled pole</p>
			</li>
			<li class="assembling-steps-item">
				<div class="img-wrap"><img src="https://www.signs.com/content/assets/filelibrary/Installation-4-8882.png"
				                           alt="Insert smaller pole into top pole pocket">

				</div>
				<p>Insert the smaller, horizontal pole into the top pole pocket of the banner</p>
			</li>
			<li class="assembling-steps-item">
				<div class="img-wrap"><img src="https://www.signs.com/content/assets/filelibrary/Installation-5-8880.png"
				                           alt="Attach small pole to large pole">

				</div>
				<p>Attach the small pole piece to the rest of the flagpole</p>
			</li>
		</ul>
		<p>For more detailed assembly for your custom rectangle flag banner, see our <a href="#product-faq"
		                                                                                class="scroll-link">FAQ</a> below.
		</p>
	</div>
</section>

<!-- Rectabgle Flag Options Care -->
<section class="section-default section-rectangle-flag-care">
	<div class="standard-container">
		<h2>Taking Care of Your Rectangle Flag</h2>
		<p>With proper care and maintenance, your rectangle flag can last for years. The polyester material is machine
		   washable but should not be ironed or machine dried.</p>
		<ul class="take-care-list">
			<li class="take-care-item">
				<div class="img-wrap">
					<img src="https://www.signs.com/content/assets/filelibrary/Care-Icons-Do-Not-Bleach-8868-8937.png"
					     alt="Do Not Bleach">
				</div>
				<span>Do not bleach</span>
			</li>
			<li class="take-care-item">
				<div class="img-wrap">
					<img src="https://www.signs.com/content/assets/filelibrary/Care-Icons-Delicate-8866.png"
					     alt="Delicate">
				</div>
				<span>Delicate</span>
			</li>
			<li class="take-care-item">
				<div class="img-wrap">
					<img src="https://www.signs.com/content/assets/filelibrary/Care-Icons-Wash-Cold-8869-8936.png"
					     alt="Wash Cold">
				</div>
				<span>Wash Cold</span>
			</li>
			<li class="take-care-item">
				<div class="img-wrap">
					<img src="https://www.signs.com/content/assets/filelibrary/Hand-Dry-8919-8945.jpg"
					     alt="Hand Dry">
				</div>
				<span>Hand dry</span>
			</li>
			<li class="take-care-item">
				<div class="img-wrap">
					<img src="https://www.signs.com/content/assets/filelibrary/Care-Icons-Do-Not-Iron-8867-8938.png"
					     alt="Do not iron">
				</div>
				<span>Do not iron</span>
			</li>
		</ul>
		<p>For more detailed care instructions for your rectangle flag banner please see our <a href="#product-faq"
		                                                                                        class="scroll-link">FAQ</a>
		   below.</p>

	</div>
</section>

<!-- Section Additional Specs-->
<section class="section-default section-additional-specs">
	<div class="container">
		<h2>Additional Specs</h2>
		<ul class="additional-specs-list">
			<li>
				<h3>Weight:</h3>
				<p>
					8 lbs (this weight includes the banner, assembled <br> flagpole, and ground stake)
				</p>
			</li>
			<li>
				<h3>Thickness:</h3>
				<p>
					4 oz polyester
				</p>
			</li>
			<li>
				<h3>Details:</h3>
				<p>
					Dye sublimation printed image or design, attached to an <br> aluminum and fiberglass pole (pole bag included).
					Variety of <br> optional bases (carrying case optional).
				</p>
			</li>
			<li>
				<h3>Uses:</h3>
				<p>
					Indoor and outdoor use to display business logos, <br> promotions, sales, advertisements, and products. Can be
					<br> displayed at trade shows, conferences, outside your <br> storefront and a variety of other events.
				</p>
			</li>
			<li>
				<h3>Print Method:</h3>
				<p>
					Full color digital dye sublimation printing process
				</p>
			</li>
			<li>
				<h3>Estimated Lifespan:</h3>
				<p>2+ years with proper placement and care</p>
			</li>

			<li>
				<h3>Common Sizes</h3>
				<p>8.5ft, 11.8ft, 15ft, (these include base height, please see <br> FAQ for specific banner size)</p>
			</li>
		</ul>
	</div>
</section>
<!-- Sizing Chart -->
<section class="section-default section-sizing-chart">
	<div class="standard-container">
		<h2>Sizing Chart</h2>
		<div class="img-wrap">
			<img src="https://www.signs.com/content/assets/filelibrary/Rectangle-Flag-Size-Chart-web-1072x1015-8888-8953.jpg"
			     alt="Sizing Chart for Rectangle Flag Banners"></div>
	</div>
</section>

<!-- Free Design Services -->
<section class="section-default section-free-design-services">
	<div class="standard-full-background">
		<div class="img-wrap">
			<img src="https://www.signs.com/content/assets/filelibrary/free-design-services-blended-8920-8943.jpg"
			     alt="Free Design Services">
		</div>
		<div class="content-wrap">
			<p>Need help with your rectangle flags? We offer <strong>Free design services</strong></p>
			<div><a class="btn-free-design"
			        href="/design-services/">Get Free Design Help</a></div>
		</div>
	</div>
</section>

<!-- Why Signs.com -->
<section class="section-default section-why-signs">
	<div class="standard-container">
		<h2>Why Signs.com?</h2>
		<ul class="why-signs-list">
			<li class="why-signs-list-item">
				<img src="https://www.signs.com/content/assets/filelibrary/icon-brush-8926-8947.jpg"
				     alt="Free Design Services"/>
				<h3>Free Design Services</h3>
				<p>
					Let us help you design the perfect <br> rectangle flag.
				</p>
			</li>
			<li class="why-signs-list-item">
				<img src="https://www.signs.com/content/assets/filelibrary/icon-running-8929.jpg"
				     alt="Next Day Production"/>
				<h3>Next Day Production</h3>
				<p>
					Order Today. Ships Tomorrow.
				</p>

			</li>
			<li class="why-signs-list-item">
				<img src="https://www.signs.com/content/assets/filelibrary/icon-ribbon-8928-8948.jpg"
				     alt="Award Winning Customer Service"/>
				<h3>Award Winning Customer Service</h3>
				<p>
					The easiest and fastest sign experience <br> combined with the best service.
				</p>
			</li>
			<li class="why-signs-list-item">
				<img src="https://www.signs.com/content/assets/filelibrary/icon-thumb-8927.jpg"
				     alt="100% Satisfaction"/>
				<h3>100% Satisfaction</h3>
				<p>
					You'll love it! We guarantee it!
				</p>
			</li>
		</ul>
	</div>
</section>

<!-- Section Related Products -->
<section class="section-default section-related-products">
	<div class="standard-container">
		<h2>Related Products</h2>
		<a href="/flags/">
			<figure>
				<img src="https://www.signs.com/content/assets/filelibrary/Custom-Flag-Thumbnail-web-390x228-8871-8940.jpg"
				     alt="Custom Flags"/>
				<figcaption>Custom Flags</figcaption>
			</figure>
		</a>
		<a href="/advertising-flags page/">
			<figure>
				<img src="https://www.signs.com/content/assets/filelibrary/Feather-Flag-Thumbnail-8873-8942.jpg"
				     alt="Advertising Flags"/>
				<figcaption>Advertising Flags</figcaption>
			</figure>
		</a>
		<a href="/spirit-flags/">
			<figure>
				<img src="https://www.signs.com/content/assets/filelibrary/Spirit-Flag-Thumbnail-web-268x283-8890-8955.jpg"
				     alt="Spirit Flags"/>
				<figcaption>Spirit Flags</figcaption>
			</figure>
		</a>
	</div>
</section>


<script>
    //Section What Are
    window.onresize = function () {
        var rectangleFlagOptionsItem = document.querySelectorAll(".section-what-are.sectionComeGo_js");
        rectangleFlagOptionsItem.forEach(function (item) {
            var movingSectionTitle = item.querySelector(".comeGoChildWrap_js > h2");
            var comeGoChildWrap = item.querySelector(".comeGoChildWrap_js");
            var comeGoImageWrap = item.querySelector(".comeGoImageWrap_js");
            if (window.innerWidth <= 1199) {

                movingSectionTitle.after(comeGoImageWrap);
            } else {
                comeGoChildWrap.after(comeGoImageWrap);
            }
        });

        //section-img-content-alternate JS
        var sectionComeGo_imgContentAlternate = document.querySelectorAll(".section-img-content-alternate .sectionComeGo_js");
        sectionComeGo_imgContentAlternate.forEach(function (item) {
            var movingSectionTitle_imgContentAlternate = item.querySelector(".comeGoChildWrap_js > h3");
            var comeGoChildWrap_imgContentAlternate = item.querySelector(".comeGoChildWrap_js");
            var comeGoImageWrap_imgContentAlternate = item.querySelector(".comeGoImageWrap_js");

            if (window.innerWidth <= 991) {
                movingSectionTitle_imgContentAlternate.before(comeGoImageWrap_imgContentAlternate);
            } else {
                comeGoChildWrap_imgContentAlternate.before(comeGoImageWrap_imgContentAlternate);
            }
        });

    };
    //Section What Are
    var rectangleFlagOptionsItem = document.querySelectorAll(".section-what-are.sectionComeGo_js");
    rectangleFlagOptionsItem.forEach(function (item) {
        if (window.innerWidth <= 1199) {
            var movingSectionTitle = item.querySelector(".comeGoChildWrap_js > h2");
            var comeGoImageWrap = item.querySelector(".comeGoImageWrap_js");
            movingSectionTitle.after(comeGoImageWrap);
        } else {
            var comeGoChildWrap = item.querySelector(".comeGoChildWrap_js");
            var comeGoImageWrap = item.querySelector(".comeGoImageWrap_js");
            comeGoChildWrap.after(comeGoImageWrap);
        }
    });


    //section-img-content-alternate JS
    var sectionComeGo_imgContentAlternate = document.querySelectorAll(".section-img-content-alternate .sectionComeGo_js");
    sectionComeGo_imgContentAlternate.forEach(function (item) {
        var movingSectionTitle_imgContentAlternate = item.querySelector(".comeGoChildWrap_js > h3");
        var comeGoChildWrap_imgContentAlternate = item.querySelector(".comeGoChildWrap_js");
        var comeGoImageWrap_imgContentAlternate = item.querySelector(".comeGoImageWrap_js");

        if (window.innerWidth <= 991) {
            movingSectionTitle_imgContentAlternate.before(comeGoImageWrap_imgContentAlternate);
        } else {
            comeGoChildWrap_imgContentAlternate.before(comeGoImageWrap_imgContentAlternate);
        }
    });

		/* Create Gallery Image Section */
    var namelessDiv1 = document.createElement("div");
    namelessDiv1.setAttribute("class", "section-default section-gallery-image");
		/* Edit this one where you put the image slider!!! */
    var sectionDesignServices = document.querySelector(
        ".section-why-signs + .standard-separator"
    );
    sectionDesignServices.after(namelessDiv1);
		/* Create Standard Container */
    var sectionGalleryImage = document.querySelector(".section-gallery-image");
    var namelessDiv2 = document.createElement("div");
    namelessDiv2.setAttribute("class", "standard-container");
    sectionGalleryImage.appendChild(namelessDiv2);
		/* Create Section Title */
    var standardContainerGallery = document.querySelector(
        ".section-gallery-image > .standard-container"
    );
    var sectionTitle = document.createTextNode("Image Gallery");
    var titleTag = document.createElement("h2");
    titleTag.appendChild(sectionTitle);
    standardContainerGallery.appendChild(titleTag);
		/* Move gallery slider */
    var imageGallery2019 = document.querySelector(".image-gallery-2019");
    standardContainerGallery.appendChild(imageGallery2019);
</script>