.img-wrap {
    font-size: 0
}

.scroll-link {
    display: inline-block
}

.faq-search-links .scroll-link {
    display: flex
}

.caret {
    border: 6px solid transparent;
    border-top: 6px solid #5ba9f5;
    margin-top: 5px;
    margin-left: 5px
}

figure {
    margin: 0
}

.section-default {
    padding: 60px 0;
    text-align: center
}

.section-default h2 {
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 25px
}

.section-default p {
    font-size: 20px;
    margin-bottom: 30px
}

.section-default [class*=img-wrap] img {
    width: 100%
}

.standard-container {
    max-width: 1560px;
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
    margin: 0 auto
}

.section-hero-full-width {
    padding: 20px 0 25px
}

.hero-footer, .hero-head {
    margin: 0 auto;
    padding: 0 20px;
    max-width: 800px;
    width: 100%;
    text-align: center;
    box-sizing: border-box
}

.hero-head h1 {
    font-size: 50px;
    font-weight: 400;
    margin-bottom: 10px
}

.hero-list {
    font-size: 0
}

.hero-list-item:first-child:before {
    content: ""
}

.hero-list-item:before {
    content: "\2022";
    top: -1px;
    left: -3px;
    font-size: 18px;
    position: absolute
}

.hero-list-item {
    position: relative;
    padding: 0 10px;
    font-size: 20px;
    display: inline-block
}

.hero-img-wrap {
    max-width: 835px;
    margin: 15px auto 20px;
    width: 100%
}

.hero-img {
    width: 100%
}

.hero-phrase {
    font-size: 20px
}

.placeholder-sticky {
    padding: 0 0 30px
}

#shoppersReviews {
    padding: 30px 0 0
}

#shoppersReviews .shopper-approved-link {
    margin: 0
}

.sa-caption {
    display: none
}

.faq-search-links {
    padding: 35px 0;
    color: #5ca9f5;
    background: #fff
}

.section-what-are {
    text-align: left
}

.section-what-are .standard-container {
    position: relative;
    display: flex;
    align-items: center;
    padding: 0;
    justify-content: space-between;
    max-width: 1300px
}

.section-what-are h2 {
    margin-bottom: 57px
}

.section-what-are p {
    margin-bottom: 20px;
    font-size: 19px
}

.section-what-are br {
    display: none
}

.section-what-are img {
    width: 100%
}

.what-are-content-wrap {
    margin-right: 60px
}

.what-are-content-wrap > :not(.downloadable-product-templates) {
    max-width: 558px;
    margin-left: auto;
    margin-right: auto
}

.what-are-img-wrap {
    max-width: 437px;
    width: 100%;
    flex: 0 0 auto;
    font-size: 0
}

.downloadable-product-templates {
    text-align: center;
    margin-top: 90px
}

.downloadable-product-templates h3 {
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 25px
}

.table-border-nobox {
    margin: 0 auto;
    width: 100%;
    max-width: 558px
}

.table-border-nobox td, .table-border-nobox th {
    border-bottom: 1px solid #ddd;
    border-top: transparent;
    padding: .7em 0;
    text-align: center;
    font-weight: 500;
    width: calc(100% / 3)
}

.table-border-nobox td {
    color: #3fa9f5
}

.table-border-nobox td:not(:first-child):not(:last-child), .table-border-nobox th:not(:first-child):not(:last-child) {
    border: 1px solid #ddd;
    border-top: transparent
}

.table-border-nobox tbody tr:last-child td, .table-border-nobox tbody tr:last-child td:not(:first-child):not(:last-child) {
    border-bottom: transparent
}

.section-img-content-alternate h2 {
    margin-bottom: 70px
}

.img-content-alternate-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1460px;
    width: 100%;
    margin: 0 auto
}

.img-content-alternate-item .img-wrap {
    font-size: 0;
    max-width: 600px
}

.img-content-alternate-item:nth-child(odd) {
    flex-direction: row-reverse
}

.img-content-alternate-item:nth-child(odd) .img-wrap {
    margin-left: 50px
}

.img-content-alternate-item:nth-child(even) .img-wrap {
    margin-right: 50px
}

.section-img-content-alternate .img-content-alternate-item .img-container .img-wrap:first-child {
    margin-left: 55px
}

.section-img-content-alternate .img-content-alternate-item .img-container .img-wrap:last-child {
    margin-left: 45px
}

.img-content-alternate-item .content-wrap {
    text-align: left;
    max-width: 720px
}

.img-content-alternate-item .content-wrap h3 {
    font-size: 22px;
    color: #000;
    margin-bottom: 20px
}

.img-content-alternate-item .content-wrap p {
    color: #707070;
    font-weight: 300
}

.img-container {
    display: flex;
    align-items: center
}

.base-options {
    margin-bottom: 40px
}

.section-polyster-customizable {
    background: url(https://www.signs.com/content/assets/filelibrary/Wooden-Background-web-8893-8958.jpg) top center/contain no-repeat;
    padding: 0;
    background-size: unset
}

.section-polyster-customizable .standard-container {
    padding: 0;
    display: flex;
    max-width: calc(100vw - 16rem);
    justify-content: space-between;
    align-items: center
}

.section-polyster-customizable .content-wrap {
    max-width: 665px;
    width: 100%;
    margin-bottom: -35px
}

.section-polyster-customizable .content-wrap-item {
    background: rgba(255, 255, 255, .85);
    padding: 40px 35px;
    margin-bottom: 35px;
    text-align: left
}

.section-polyster-customizable .content-wrap-item h2 {
    font-size: 28px;
    margin-bottom: 10px
}

.section-polyster-customizable .content-wrap-item p {
    font-weight: 300;
    margin-bottom: 0;
    font-size: 22px
}

.section-ayrf .standard-container > p {
    max-width: 1155px;
    margin: 0 auto 35px
}

.section-ayrf .standard-container > p:last-child {
    margin-bottom: 0
}

.assembling-steps {
    display: flex;
    margin: 0 -20px 55px
}

.assembling-steps + p a {
    color: #3fa9f5
}

.assembling-steps-item {
    display: inline-block;
    width: calc(100% / 5);
    display: flex;
    flex: 0 0 auto;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0 20px;
    box-sizing: border-box
}

.assembling-steps-item p {
    max-width: 255px;
    margin: 0 auto 0;
    width: 100%
}

.assembling-steps-item .img-wrap {
    margin-bottom: 70px;
    margin: 0 auto 70px
}

.section-rectangle-flag-care .standard-container p {
    max-width: 1070px;
    margin: 0 auto 20px
}

.section-rectangle-flag-care .standard-container p:last-child {
    margin-bottom: 0
}

.take-care-list {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    align-items: flex-end;
    margin-bottom: 50px
}

.take-care-item {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0 20px;
    flex: 0 0 auto
}

.take-care-item .img-wrap {
    margin: 0 auto 20px;
    max-width: 106px;
    width: 100%
}

.take-care-item span {
    display: block;
    font-size: 25px;
    text-transform: capitalize
}

.take-care-list + p a {
    color: #3fa9f5
}

.section-additional-specs {
    padding: 64px 0
}

.section-additional-specs .container {
    margin: 0 auto;
    max-width: 830px;
    text-align: center;
    padding: 0 20px
}

.section-additional-specs h2 {
    text-align: center;
    font-size: 25px;
    margin-bottom: 50px
}

.additional-specs-list {
    display: inline-block;
    text-align: left
}

.additional-specs-list li {
    display: flex;
    margin-bottom: 20px;
    border-bottom: 2px solid #cfcccc;
    padding-right: 10px
}

.additional-specs-list li h3 {
    min-width: 210px;
    font-size: 20px;
    color: #333;
    font-weight: 400;
    margin-right: 90px
}

.additional-specs-list li p {
    font-size: 18px;
    color: #9f9f9f;
    font-weight: 300
}

.section-sizing-chart .img-wrap {
    max-width: 1053px;
    margin: 70px auto 0
}

.standard-full-background {
    display: flex
}

.standard-full-background .img-wrap {
    font-size: 0
}

.standard-full-background .content-wrap {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto
}

.section-free-design-services {
    background: #e5e9ec;
    padding: 0
}

.standard-full-background .content-wrap p {
    font-size: 30px;
    max-width: 670px;
    font-weight: 300
}

.standard-full-background .content-wrap p strong {
    text-transform: uppercase
}

.standard-full-background .btn-free-design {
    display: inline-block;
    background: #8cc53f;
    padding: 16px 35px;
    color: #fff;
    border-radius: 10px;
    font-size: 26px;
    font-weight: 500
}

.section-why-signs h2 {
    margin-bottom: 50px
}

.why-signs-list {
    font-size: 0;
    margin-top: 35px;
    margin: 0 -20px;
    display: flex;
    justify-content: space-between
}

.why-signs-list-item {
    display: inline-block;
    font-size: 20px;
    padding: 0 20px;
    box-sizing: border-box;
    max-width: 476px;
    width: 100%
}

.why-signs-list-item .extra {
    color: #919396;
    font-size: 14px;
    max-width: 295px;
    width: 100%;
    margin: -23px auto 0;
    display: block;
    font-style: italic
}

.why-signs-list-item img {
    margin-bottom: 10px
}

.why-signs-list-item h3 {
    font-size: 25px;
    margin-bottom: 10px;
    max-width: 275px;
    margin: 0 auto 10px
}

.why-signs-list-item p {
    color: #919396;
    font-size: 18px
}

/* Image Gallery */
.image-gallery-slider2019-thumbnails .image-gallery-slider-item {
    position: relative;
    height: 60px;
}

.image-gallery-slider2019-thumbnails .image-gallery-slider-item img {

}

/* Section Related Products */
.section-related-products {
    padding: 65px 0
}

.section-related-products .standard-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    margin: 0 auto;
    padding: 0 20px;
    max-width: 1567px;
    text-align: center
}

.section-related-products h2 {
    width: 100%;
    font-size: 26px;
    margin-bottom: 25px
}

.section-related-products .standard-container > a {
    margin: 0;
    width: calc(100% / 3);
    display: flex;
    align-items: flex-end;
    justify-content: center
}

.section-related-products .standard-container > a:first-of-type figure img {
    margin-bottom: 80px
}

.section-related-products figure img {
    margin-bottom: 40px
}

.section-related-products figure figcaption {
    font-size: 20px;
    font-weight: 500;
    color: #707070
}

.product-tabs-wrapper.v4 {
    margin: 0
}

.product-tabs-wrapper #product-tab-1 {
    margin: 0
}

.faqmain {
    margin: 0 auto;
    max-width: 1500px;
    padding: 0 20px
}

.product-tabs-wrapper .faq-search-links {
    padding: 0;
    margin: 0 0 10px;
    background: initial
}

.product-tabs-wrapper .faq-search-form {
    margin-bottom: 15px
}

.signs-faq-2 {
    text-align: left
}

@media (max-width: 1680px) {
    .standard-container {
        max-width: 1418px
    }

    .what-are-content-wrap {
        margin: 0 0 0 145px
    }

    .img-content-alternate-item:nth-child(even) .img-wrap {
        margin-right: 150px
    }

    .img-content-alternate-item:nth-child(odd) .img-wrap {
        margin-left: 150px
    }
}

@media (max-width: 1600px) {
    .hero-img-wrap {
        max-width: 620px;
        margin-bottom: 0
    }

    .standard-container {
        max-width: 1390px
    }
}

@media (max-width: 1536px) {
    .standard-container {
        max-width: 1271px
    }

    .hero-img-wrap {
        max-width: 590px
    }

    .standard-container {
        max-width: 1285px
    }

    .what-are-img-wrap {
        max-width: 490px
    }

    .what-are-content-wrap {
        margin: 0 25px 0 100px
    }

    .img-content-alternate-item {
        margin-bottom: 50px
    }

    .img-content-alternate-item .img-wrap {
        max-width: 430px
    }

    .section-polyster-customizable .standard-container {
        max-width: calc(100vw - 17rem)
    }

    .why-signs-list-item br {
        display: none
    }
}

@media (max-width: 1440px) {
    .standard-container {
        max-width: 1225px
    }

    .what-are-img-wrap {
        max-width: 470px
    }
}

@media (max-width: 1366px) {
    .standard-container {
        max-width: 1123px
    }

    .hero-img-wrap {
        max-width: 885px
    }

    .what-are-img-wrap {
        max-width: 412px
    }

    .section-what-are .standard-container {
        max-width: initial;
        width: calc(100vw - 15rem)
    }

    .what-are-content-wrap {
        margin-left: 0
    }

    .section-polyster-customizable .content-wrap {
        margin-bottom: -20px;
        margin-top: 0
    }

    .section-polyster-customizable .content-wrap-item {
        margin-bottom: 20px
    }

    .why-signs-list {
        margin: 0 -80px
    }
}

@media (max-width: 1366px) and (max-height: 768px) {
    .hero-img-wrap {
        max-width: 555px
    }

    .what-are-img-wrap {
        max-width: 400px
    }
}

@media (max-width: 1280px) {
    .hero-img-wrap {
        max-width: 599px
    }

    .section-polyster-customizable .content-wrap-item {
        padding: 25px 25px
    }
}

@media (max-width: 1280px) and (max-height: 720px) {
    .hero-img-wrap {
        max-width: 415px
    }
}

@media (max-width: 1199px) {
    .what-are-img-wrap {
        max-width: 505px
    }

    .what-are-content-wrap {
        margin: 0 auto;
        text-align: center
    }

    .section-what-are h2 {
        margin-bottom: 30px
    }

    .what-are-content-wrap .what-are-img-wrap {
        margin-bottom: 20px;
        max-width: 306px
    }

    .section-polyster-customizable .standard-container {
        max-width: calc(100vw - 3rem)
    }

    .why-signs-list {
        margin: 0 -10px
    }

    .why-signs-list-item {
        padding: 0 10px
    }

    .why-signs-list-item h3 {
        font-size: 21px
    }

    .section-related-products figure img {
        height: 236px;
        margin: 0 auto;
        display: inline-block
    }
}

@media (max-width: 991px) {
    .section-hero-full-width {
        padding: 70px 0 15px
    }

    .section-what-ovd .standard-container {
        padding: 0 20px;
        text-align: center
    }

    .section-what-ovd h2 {
        margin-bottom: 20px
    }

    .downloadable-product-templates {
        margin-top: 25px;
        margin-bottom: 25px
    }

    .img-content-alternate-item .content-wrap {
        max-width: initial;
        text-align: center;
        width: 100%
    }

    .img-content-alternate-item .img-wrap {
        margin-left: auto;
        margin-right: auto
    }

    .img-content-alternate-item .img-wrap:nth-child(even), .img-content-alternate-item .img-wrap:nth-child(odd) {
        margin: 0 auto 25px
    }

    .img-content-alternate-item {
        margin-bottom: 30px
    }

    .img-content-alternate-item:last-child {
        margin-bottom: 0
    }

    .img-content-alternate-item:last-child p:last-child {
        margin-bottom: 0
    }

    .img-content-alternate-item .img-container {
        display: flex;
        flex-direction: row-reverse;
        align-items: flex-end;
        margin-bottom: 20px
    }

    .img-content-alternate-item .img-container .img-wrap {
        flex: 0 0 auto;
        margin-bottom: 0
    }

    .section-rectangle-flag-options .img-content-alternate-item:nth-of-type(3) .img-wrap {
        max-width: 270px
    }

    .section-rectangle-flag-options .img-content-alternate-item:nth-of-type(4) .img-wrap {
        max-width: 210px
    }

    .section-polyster-customizable .content-wrap-item h2 {
        font-size: 25px
    }

    .section-polyster-customizable .content-wrap-item p {
        font-size: 19px
    }

    .assembling-steps {
        display: block
    }

    .assembling-steps-item {
        display: block;
        width: calc(100% / 3);
        margin: 0 auto 20px
    }

    .assembling-steps-item .img-wrap {
        height: 250px;
        margin-bottom: 30px
    }

    .assembling-steps-item .img-wrap img {
        height: 100%;
        width: auto
    }

    .take-care-list {
        flex-flow: row wrap;
        justify-content: center
    }

    .take-care-item {
        width: calc(100% / 2);
        box-sizing: border-box;
        margin-bottom: 45px
    }

    .take-care-item span {
        margin-top: auto
    }

    .additional-specs-list li p br {
        display: none
    }

    .section-gallery-image .image-gallery-slider2019-thumbnails {
        margin-top: 30px
    }

    .why-signs-list {
        display: block
    }

    .why-signs-list-item {
        margin-bottom: 25px
    }

    .why-signs-list-item:last-child {
        margin-bottom: 0
    }

    .section-why-signs h2 {
        margin-bottom: 20px
    }

    .why-signs-list-item .extra {
        margin-bottom: 20px
    }

    .why-signs-list-item p {
        margin-bottom: 20px
    }

    .section-related-products figure img {
        height: 176px
    }
}

@media (max-width: 768px) {
    .section-what-are {
        padding: 40px 0 30px
    }

    .section-what-are .standard-container {
        display: block;
        padding: 0;
        width: calc(100vw - 3rem)
    }

    .what-are-content-wrap {
        text-align: center;
        margin: 0 auto
    }

    .what-are-img-wrap img {
        height: 100%
    }

    .what-are-content-wrap h2, .what-are-content-wrap p {
        padding: 0 20px
    }
}

@media (max-width: 767px) {
    .section-polyster-customizable {
        position: relative;
        background: 0 0
    }

    .section-polyster-customizable:after {
        content: '';
        display: block;
        width: 100%;
        position: absolute;
        background: -moz-linear-gradient(left, rgba(221, 221, 221, 0) 0, #ddd 10%, #ddd 50%, #ddd 90%, rgba(221, 221, 221, 0) 100%);
        background: -webkit-linear-gradient(left, rgba(221, 221, 221, 0) 0, #ddd 10%, #ddd 50%, #ddd 90%, rgba(221, 221, 221, 0) 100%);
        background: linear-gradient(to right, rgba(221, 221, 221, 0) 0, #ddd 10%, #ddd 50%, #ddd 90%, rgba(221, 221, 221, 0) 100%);
        height: .08em
    }

    .section-polyster-customizable .img-wrap:before {
        content: '';
        background: url(https://www.signs.com/content/assets/filelibrary/Wooden-Background-web-8893.jpg) top center/cover no-repeat;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        padding: 0;
        position: absolute;
        width: 100vw;
        margin: 0 calc(-50vw + 50%) 0
    }

    .section-polyster-customizable .img-wrap img {
        position: relative
    }

    .section-polyster-customizable .standard-container {
        display: block;
        position: relative
    }

    .section-polyster-customizable .img-wrap {
        max-width: 393px;
        margin: 0 auto;
        text-align: center;
        position: relative
    }

    .section-polyster-customizable .content-wrap {
        margin-top: 0;
        padding-top: 40px;
        padding-bottom: 40px
    }

    .section-polyster-customizable .content-wrap-item {
        text-align: center;
        padding: 0
    }

    .assembling-steps-item {
        display: block;
        width: calc(100% / 1);
        margin: 0 auto 20px
    }

    .section-free-design-services .standard-full-background {
        display: block
    }

    .standard-full-background .content-wrap {
        padding: 30px 20px
    }
}

@media (max-width: 575px) {
    .section-default {
        padding: 30px 0
    }

    .section-hero-full-width {
        padding-top: 20px
    }

    .hero-head h1 {
        font-size: 30px
    }

    .hero-body {
        padding: 20px 0
    }

    .hero-list-item {
        font-size: 15px;
        display: inline-block
    }

    .hero-list-item:first-child:before {
        content: "\2022"
    }

    .hero-img-wrap {
        padding: 0 20px;
        box-sizing: border-box;
        margin: 0
    }

    .hero-phrase {
        font-size: 16px
    }

    #shoppersReviews, #shoppersReviews * {
        display: block !important;
        padding: 0 !important;
        margin: 0 !important;
        position: static !important;
        text-align: center !important
    }

    #shoppersReviews {
        padding: 20px 0 !important
    }

    #shoppersReviews > br {
        display: none !important
    }

    #shoppersReviews .shopperapproved_widget {
        height: auto !important
    }

    #shoppersReviews .aggregateRating-container {
        display: flex !important;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center
    }

    #shoppersReviews .shopper-approved-container {
        padding: 0 20px !important
    }

    #shoppersReviews .sa_review {
        height: auto !important;
        text-align: center;
        display: flex !important;
        flex-direction: column-reverse
    }

    #shoppersReviews .sa_review tbody > tr {
        display: flex !important;
        flex-direction: column-reverse;
        align-items: center
    }

    #shoppersReviews .sa_comments {
        margin-top: -17px !important;
        min-height: 60px;
        height: auto;
        display: block;
        flex: 0 0 auto;
        align-items: flex-end;
        font-size: 16px;
        overflow: visible;
        margin: 0 !important;
        overflow: hidden
    }

    #shoppersReviews .sa_location {
        display: none !important
    }

    #shoppersReviews .sa_info > span:first-of-type {
        background: red;
        display: none !important
    }

    #shoppersReviews .sa_info {
        height: auto;
        display: block !important;
        flex: 0 0 auto
    }

    #shoppersReviews .sa_date {
        display: none !important
    }

    #shoppersReviews .sa_displayname {
        font-weight: 300
    }

    #shoppersReviews .sa_star {
        display: none !important
    }

    #shoppersReviews .sa-caption {
        display: none !important
    }

    #shoppersReviews script {
        display: none !important
    }

    .what-are-content-wrap h2 {
        font-size: 28px;
        margin-bottom: 15px
    }

    .what-are-content-wrap .what-are-img-wrap {
        max-width: 379px;
        width: calc(100vw - 9rem);
        height: auto;
        margin-left: auto
    }

    .section-img-content-alternate h2 {
        margin-bottom: 30px
    }

    .img-content-alternate-item .img-wrap:nth-child(even), .img-content-alternate-item .img-wrap:nth-child(odd) {
        max-width: 310px
    }

    .section-rectangle-flag-options .img-content-alternate-item:nth-of-type(3) .img-wrap {
        max-width: 190px
    }

    .section-rectangle-flag-options .img-content-alternate-item:nth-of-type(4) .img-wrap {
        max-width: 135px
    }

    .img-content-alternate-item:last-child {
        margin-bottom: 0
    }

    .img-content-alternate-item .content-wrap p:first-of-type:last-of-type, .img-content-alternate-item .content-wrap p:not(:first-of-type):last-of-type {
        margin-bottom: 0
    }

    .img-content-alternate-item:last-child p:last-child {
        margin-bottom: 0
    }

    .section-img-content-alternate .img-content-alternate-item .img-container .img-wrap:first-child {
        width: calc(100vw / 5);
        margin-left: 1rem
    }

    .section-img-content-alternate .img-content-alternate-item .img-container .img-wrap:last-child {
        width: calc(100vw / 1.5)
    }

    .assembling-steps {
        margin-bottom: 35px
    }

    .take-care-list {
        margin: 0 -20px
    }

    .take-care-item .img-wrap {
        max-width: 75px
    }

    .take-care-item span {
        font-size: 22px
    }

    .section-gallery-image .standard-container {
        padding-left: 0;
        padding-right: 0
    }

    .image-gallery-slider2019 .slick-slide > img {
        max-height: initial
    }

    .image-gallery-slider2019 .slick-slide {
        max-height: initial
    }

    .section-additional-specs h2 {
        margin-bottom: 20px
    }

    .additional-specs-list li {
        display: block;
        text-align: center;
        padding: 0;
        border-bottom: 0
    }

    .additional-specs-list li h3 {
        margin: 0 auto 5px;
        font-weight: 400;
        font-size: 18px
    }

    .additional-specs-list li p {
        font-size: 16px;
        margin-bottom: 20px
    }

    .section-free-design-services {
        padding: 0
    }

    .standard-full-background .content-wrap p {
        font-size: 20px;
        margin-bottom: 19px
    }

    .standard-full-background .btn-free-design {
        font-size: 16px;
        padding: 11px 25px;
        margin-bottom: 0;
        font-weight: 400;
        border-radius: 5px
    }

    .section-related-products figure img {
        width: 90%;
        height: auto;
        max-width: 355px
    }

    .section-related-products .standard-container > a {
        width: 100%;
        margin-bottom: 40px
    }

    .section-related-products .standard-container > a:last-child {
        margin-bottom: 0
    }

    #review_image {
        display: none
    }

    #product_page #sa_sort {
        display: block;
        margin-top: 20px;
        text-align: center;
        margin: 20px auto 0
    }

    #product_page .paging {
        height: auto;
        padding: 0;
        text-align: center
    }

    #shopper_review_page {
        padding-bottom: 35px
    }
}

@media (max-width: 414px) {
    .sizeInput.qty {
        justify-content: flex-end
    }

    .sizeInput.qty .size-input-qty {
        margin: 0
    }
}

@media (max-width: 375px) {
    .table-border-nobox th span {
        display: block
    }
}

@media (max-width: 320px) {
    .take-care-item span {
        font-size: 18px
    }
}
