<!-- Custom Table Runners Hero -->
<div class="main-content">
    <div class="main-content-header">
        <div class="main-title">Custom Table Runners</div>
        <div class="main-sub-title">for trade shows, events, &amp; more</div>
        <div class="hero-image">
            <img src="https://www.signs.com/content/assets/filelibrary/Nautical-Travel-with-pattern-1969.jpg" alt="Custom table runners banner">
        </div>
    </div>
</div>