<div class="main">
    <section id="section-metal-prints" class="section-primary">
        <div class="section-image"><img class="bg-image" src="https://www.signs.com/content/assets/filelibrary/metal-prints-bg-1281.jpg" alt="" /></div>
        <!-- /.section-image -->
        <div class="shell">
            <div class="section-body section-body-right">
                <h2>Metal Prints</h2>
                <h4 style="padding-bottom: 20px;">Gorgeous Metal Prints <br />On Aluminum</h4>
                <ul class="list-bullets">
                    <li><span>Display Your Print Where &amp; How You Want</span></li>
                    <li><span>Rich, Vibrant Color Infused Into Your Print</span></li>
                    <li><span>Prints That Will Last A Lifetime</span></li>
                    <li><span>View Metal Print <a style="color: #057dd4;" href="#specs">Specs</a>, <a style="color: #057dd4;" href="#gallery">Gallery</a> & <a style="color: #057dd4;" href="#faq">FAQ</a></span></li>
                </ul>
                <!-- /.list-bullets --> <!-- /.section-body --></div>
            <!-- /.shell --></div>
    </section>
    <!-- /.section-primary -->
</div>



<section class="section-secondary">
    <div class="shell">
        <div class="section-inner">
            <div class="section-head">
                <h1>CUSTOM METAL PRINTS</h1>
            </div>
            <!-- /.section-head -->
            <div class="section-image"><img src="https://www.signs.com/content/assets/filelibrary/section-secondary-img1-1286.jpg" alt="" width="902" height="602" /></div>
            <!-- /.section-image -->
            <div class="section-body">
                <p>Turn your picture or photo into a metal print that brilliantly brings to life that captured moment! Your picture will be infused into .045&rdquo; aluminum through dye-sublimation printing for a vibrant and long lasting metal print that is both scratch and abrasion resistant. These custom metal prints feature outstanding clarity and resolution that is truly unrivaled as a home decor option.</p>
            </div>
            <!-- /.section-body -->
            <div class="section-actions"><a class="btn btn-green designUpload">Upload Photo</a></div>
            <!-- /.section-actions --></div>
        <!-- /.section-inner --></div>
    <!-- /.shell -->
</section>
<!-- /.section-secondary -->
<section class="section-secondary">
    <div class="shell">
        <div class="section-inner">
            <div class="section-head">
                <h1>SIZES THAT SUIT YOU</h1>
            </div>
            <!-- /.section-head -->
            <div class="section-image"><img src="https://www.signs.com/content/assets/filelibrary/section-secondary-img2-1287.jpg" alt="" width="666" height="374" /> <img src="https://www.signs.com/content/assets/filelibrary/section-secondary-img3-1288.jpg" alt="" width="827" height="342" /></div>
            <!-- /.section-image -->
            <div class="section-body">
                <h3>Your Memories &bull; Your Life &bull; Your Decor</h3>
                <p>Create your own custom metal prints and choose from 20 different available sizes. Simply select your size, upload your photo and we&rsquo;ll do the rest. Beautiful metal prints for your home are as easy and fast as that.</p>
            </div>
            <!-- /.section-body -->
            <div class="section-actions"><a class="btn btn-green designUpload">Upload Photo</a></div>
            <!-- /.section-actions --></div>
        <!-- /.section-inner --></div>
    <!-- /.shell -->
</section>
<!-- /.section-secondary -->
<section class="section-samples">
    <div class="section-head">
        <h1>FINISHES</h1>
    </div>
    <!-- /.section-head -->
    <div class="section-inner">
        <div class="section-image"><img src="https://www.signs.com/content/assets/filelibrary/section-smaples-img-1289.png" alt="" width="512" height="570" /></div>
        <!-- /.section-image -->
        <div class="section-body">
            <ul>
                <li>
                    <h4>White Gloss</h4>
                    <p>A white coated aluminum with a glossy finish<br /> for rich colors and reflective finish.</p>
                </li>
                <li>
                    <h4>White Matte</h4>
                    <p>A white coated aluminum with a matte finish<br /> for the same rich colors with a non-reflective finish.</p>
                </li>
                <li>
                    <h4>Brushed Gloss</h4>
                    <p>A brushed metal look with rich,<br /> vibrant colors and a reflective finish.</p>
                </li>
                <li>
                    <h4>Brushed Matte</h4>
                    <p>A brushed metal look with rich,<br /> vibrant colors and a non-reflective finish.</p>
                </li>
            </ul>
        </div>
        <!-- /.section-body -->
    </div>
    <!-- /.section-inner -->
    <div class="section-actions"><a class="btn btn-green designUpload">Upload Photo</a></div>
    <!-- /.section-actions -->
</section>
<!-- /.section-samples -->
<section class="section-tertiary">
    <div class="section-inner">
        <div class="section-head">
            <h1>Why Metal Prints?</h1>
        </div>
        <!-- /.section-head -->
        <div class="section-body"><img src="https://www.signs.com/content/assets/filelibrary/section-tertiary-img-1290.jpg" alt="" width="849" height="669" />
            <ul>
                <li><img src="https://www.signs.com/content/assets/filelibrary/versatile-display-img-1294.png" alt="" width="155" height="156" />
                    <h4>Versatile Display:</h4>
                    <p>Choose from an invisible metal hanging<br /> bracket, gatorboard mount or<br /> professional standoffs to display<br /> your custom metal print where<br /> and how you want.</p>
                </li>
                <li><img src="https://www.signs.com/content/assets/filelibrary/vibrant-colors-img-1295.png" alt="" width="155" height="155" />
                    <h4>Vibrant Colors &amp; Printing:</h4>
                    <p>Through dye sublimation printing, colors will be infused<br /> into your metal print for an incredibly vibrant and color<br /> rich print. Choose a family picture or that unforgettable<br /> landscape and see for yourself!</p>
                </li>
                <li><img src="https://www.signs.com/content/assets/filelibrary/high-res-img-1276.png" alt="" width="156" height="156" />
                    <h4>High Resolution &amp; Perfect Clarity:</h4>
                    <p>Printed using world-class large-format printers, your metal print will display the clarity and resolution of your original image in amazing detail.</p>
                </li>
                <li><img src="https://www.signs.com/content/assets/filelibrary/finishes-img-1273.png" alt="" width="156" height="157" />
                    <h4>Finishes For Every Setting:</h4>
                    <p>Choose from one of four finishes including glossy and matte options to ensure that your print will look great regardless of where it&rsquo;s displayed.</p>
                </li>
                <li><img src="https://www.signs.com/content/assets/filelibrary/durability-img-1272.png" alt="" width="157" height="155" />
                    <h4>Unparalleled Durability:</h4>
                    <p>Whether in an office or a home, your<br /> custom metal print will last a lifetime!<br /> With infused ink your print is designed<br /> to resist scratching and fading and<br /> retain its clarity and true colors for<br /> years to come.</p>
                </li>
            </ul>
        </div>
        <!-- /.section-body -->
        <div class="section-actions"><a class="btn btn-green designUpload">Upload Photo</a></div>
        <!-- /.section-actions -->
    </div>
    <!-- /.section-inner -->
</section>
<!-- /.section-tertiary -->
<section class="display-options-section">
    <div class="shell">
        <div class="display-options-inner">
            <div class="display-options-head">
                <h1>DISPLAY YOUR METAL PRINT</h1>
            </div>
            <!-- /.section-head -->
            <div class="display-options-body">
                <ul>

                    <li>
                        <div class="image"><img src="https://www.signs.com/content/assets/filelibrary/print-only-1362.jpg" alt="" width="300" height="239" /></div>
                        <!-- /.image -->
                        <div class="text">
                            <h2>Print Only</h2>
                            <p>If you have plans to display your print in your own creative way, you can have the metal print sent with no mounting options.</p>
                            <a class="btn btn-green designUpload">Upload Photo</a></div>
                        <!-- /.text --></li>

                    <li>
                        <!-- /.image -->
                        <div class="text">
                            <h2>Float Mount</h2>
                            <p>Your metal print will be mounted to black gatorboard, and in turn mouted to a metal bracket which will allow your print to float &frac78;&rdquo; out from your wall. <em>For larger prints of horizontal orientation, there will be two metal brackets for easier hanging.</em></p>
                            <a class="btn btn-green designUpload">Upload Photo</a></div>
                        <div class="image"><img src="https://www.signs.com/content/assets/filelibrary/metal-print-bracket-6498.png" alt="" width="300" height="239" /></div>
                        <!-- /.text --></li>

                    <li>
                        <div class="image"><img src="https://www.signs.com/content/assets/filelibrary/metal-brackets-1280.png" alt="" width="391" height="281" /></div>
                        <!-- /.image -->
                        <div class="text">
                            <h2>Metal Brackets</h2>
                            <p>Our durable metal hanging brackets will allow your print to float off the wall &frac34;&rdquo;. <em>The number of brackets varies depending on the size of your metal print. See FAQ for full details.</em></p>
                            <a class="btn btn-green designUpload">Upload Photo</a></div>
                        <!-- /.text --></li>

                    <li>
                        <!-- /.image -->
                        <div class="text">
                            <h2>Inset Metal Frame</h2>
                            <p>A 1 <sup>5/16"</sup> metal frame with a hanging wire set in from the edge of your metal print. Recommended for prints larger than 20"x20".</p>
                            <a class="btn btn-green designUpload">Upload Photo</a></div>
                        <div class="image"><img src="https://www.signs.com/content/assets/filelibrary/InsetMetalFrame-3921.png" alt=""/></div>
                        <!-- /.text --></li>

                    <li>
                        <div class="image"><img src="https://www.signs.com/content/assets/filelibrary/standoffs-1291.png" alt="" width="332" height="335" /></div>
                        <!-- /.image -->
                        <div class="text">
                            <h2>Standoffs</h2>
                            <p>With pre-drilled holes in place, our professional metal standoffs in each corner of your print allow for wall mounting and give a professional look for any display setting.</p>
                            <a class="btn btn-green designUpload">Upload Photo</a></div>
                        <!-- /.text --></li>

                </ul>
            </div>
            <!-- /.section-body -->
        </div>
        <!-- /.section-inner -->
    </div>
    <!-- /.shell -->
</section>
<!-- /.section-quaternary -->
<section class="section-facts">
    <div class="shell">
        <div class="section-inner">
            <h1>75,000+ <span>HAPPY CUSTOMERS</span> <span>AND COUNTING...</span></h1>
        </div>
        <!-- /.section-inner -->
    </div>
    <!-- /.shell -->
</section>
<!-- /.section-facts -->
<section class="section-testimonials">
    <div>
        <ul class="bxslider">
            <li>
                <div>
                    <div style="float: left; width: 50%; max-width: 50%;">
                        <blockquote><img src="https://www.signs.com/content/assets/filelibrary/DannyFusco-1367.png" alt="" width="125" height="126" />
                            <p>&ldquo;Great experience. Super easy web tools. Great prices&rdquo;</p>
                            <cite>- Danny Fusco</cite></blockquote>
                    </div>
                    <div style="float: right; width: 50%; max-width: 50%;">
                        <blockquote><img src="https://www.signs.com/content/assets/filelibrary/ChristosHanawi-1366.png" alt="" width="125" height="126" />
                            <p>&ldquo;I am extremely impressed by the customer service and quality offered by signs.com <br />and have used your product and services for over 4 years now. <br />Keep up the great work!&rdquo;</p>
                            <cite>- Christos Hamawi</cite></blockquote>
                    </div>
                </div>
            </li>
            <li>
                <div>
                    <div style="float: left; width: 50%; max-width: 50%;">
                        <blockquote><img src="https://www.signs.com/content/assets/filelibrary/DavidOsborne-1368.png" alt="" width="125" height="126" />
                            <p>&ldquo;Nice Website, Easy to Use.&rdquo;</p>
                            <cite>- David Osborne</cite></blockquote>
                    </div>
                    <div style="float: right; width: 50%; max-width: 50%;">
                        <blockquote><img src="https://www.signs.com/content/assets/filelibrary/TracieTerrell-1394.png" alt="" width="125" height="126" />
                            <p>&ldquo;Pleasant experience, good product, good customer service, <br />would purchase from them again.&rdquo;</p>
                            <cite>- Tracie Terrell</cite></blockquote>
                    </div>
                </div>
            </li>
            <li>
                <div>
                    <div style="float: left; width: 50%; max-width: 50%;">
                        <blockquote><img src="https://www.signs.com/content/assets/filelibrary/EricaBeasley-1369.png" alt="" width="125" height="126" />
                            <p>&ldquo;We received it earlier than expected and was very pleased<br /> with the quality of the design &amp; sign itself! <br />It was so easy to design and order that we will<br /> definitely keep signs.com as a vendor for any and all sign purchases.&rdquo;</p>
                            <cite>- Erica Beasley</cite></blockquote>
                    </div>
                    <div style="float: right; width: 50%; max-width: 50%;">
                        <blockquote><img src="https://www.signs.com/content/assets/filelibrary/GrantNielsen-1370.png" alt="" width="125" height="126" />
                            <p>&ldquo;Couldn't have asked for a better experience. Excellent work! Thank you so much!&rdquo;</p>
                            <cite>- Grant Nielsen</cite></blockquote>
                    </div>
                </div>
            </li>
            <li>
                <div>
                    <div style="float: left; width: 50%; max-width: 50%;">
                        <blockquote><img src="https://www.signs.com/content/assets/filelibrary/JasonSmolarek-1384.png" alt="" width="125" height="126" />
                            <p>&ldquo;Great product, fast shipping and great value! Will order again!&rdquo;</p>
                            <cite>- Jason Smolarek</cite></blockquote>
                    </div>
                    <div style="float: right; width: 50%; max-width: 50%;">
                        <blockquote><img src="https://www.signs.com/content/assets/filelibrary/JoHunt-1385.png" alt="" width="125" height="126" />
                            <p>&ldquo;It was so easy to have your designer Marcel <br />work up what we needed and he did a great job!!<br /> Just what we wanted - good quality, fast turnaround... Highly recommend...&rdquo;</p>
                            <cite>- Jo Hunt</cite></blockquote>
                    </div>
                </div>
            </li>
            <li>
                <div>
                    <div style="float: left; width: 50%; max-width: 50%;">
                        <blockquote><img src="https://www.signs.com/content/assets/filelibrary/JulieMiller-1386.png" alt="" width="125" height="126" />
                            <p>&ldquo;Very simple interface. Hope the quality of the sign is just as good as the purchasing experience!&rdquo;</p>
                            <cite>- Julie Miller</cite></blockquote>
                    </div>
                    <div style="float: right; width: 50%; max-width: 50%;">
                        <blockquote><img src="https://www.signs.com/content/assets/filelibrary/KamiDoxey-1387.png" alt="" width="125" height="126" />
                            <p>&ldquo;Thank you Bo. You definetly got us what we needed.&rdquo;</p>
                            <cite>- Kami Doxey</cite></blockquote>
                    </div>
                </div>
            </li>
            <li>
                <div>
                    <div style="float: left; width: 50%; max-width: 50%;">
                        <blockquote><img src="https://www.signs.com/content/assets/filelibrary/KellyJohannessen-1388.png" alt="" width="125" height="126" />
                            <p>&ldquo;Great product at a great price. Signs.com will be my &ldquo;go-to&rdquo; <br />company for all future signage.&rdquo;</p>
                            <cite>- Kelly Johannessen</cite></blockquote>
                    </div>
                    <div style="float: right; width: 50%; max-width: 50%;">
                        <blockquote><img src="https://www.signs.com/content/assets/filelibrary/LarrySchmaltz-1389.png" alt="" width="125" height="126" />
                            <p>&ldquo;Great shopping experience. Great product,<br /> excellent service. Thank you.&rdquo;</p>
                            <cite>- Larry Schmaltz</cite></blockquote>
                    </div>
                </div>
            </li>
            <li>
                <div>
                    <div style="float: left; width: 50%; max-width: 50%;">
                        <blockquote><img src="https://www.signs.com/content/assets/filelibrary/LerinMadole-1390.png" alt="" width="125" height="126" />
                            <p>&ldquo;I've tried multiple products and so far have loved every one, they turn out very professional.<br /> The website's easy, self-serve design keeps me coming back for quick orders every time!&rdquo;</p>
                            <cite>- Lerin Madole</cite></blockquote>
                    </div>
                    <div style="float: right; width: 50%; max-width: 50%;">
                        <blockquote><img src="https://www.signs.com/content/assets/filelibrary/SonyaFox-1391.png" alt="" width="125" height="126" />
                            <p>&ldquo;I have ordered several products from signs.com and am always happy with the product!&rdquo;</p>
                            <cite>- Sonya Fox</cite></blockquote>
                    </div>
                </div>
            </li>
            <li>
                <div>
                    <div style="float: left; width: 50%; max-width: 50%;">
                        <blockquote><img src="https://www.signs.com/content/assets/filelibrary/TishaKeller-1392.png" alt="" width="125" height="126" />
                            <p>&ldquo;Awesome prices and site!&rdquo;</p>
                            <cite>- Tisha Keller</cite></blockquote>
                    </div>
                    <div style="float: right; width: 50%; max-width: 50%;">
                        <blockquote><img src="https://www.signs.com/content/assets/filelibrary/TomSchell-1393.png" alt="" width="125" height="126" />
                            <p>&ldquo;Extremely easy-to-use website, even for a Senior citizen :-)&rdquo;</p>
                            <cite>- Tom Schell</cite></blockquote>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <!-- /.shell -->
</section>
<!-- /.section-testimonials -->
<section class="section-features">
    <div class="shell">
        <div class="section-inner">
            <div class="section-head">
                <h2>Why Buy From Us?</h2>
            </div>
            <!-- /.section-head -->
            <div class="section-body">
                <ul>
                    <li>
                        <div class="icon">
                            <p class="ico-production icomargin">&nbsp;</p>
                        </div>
                        <!-- /.icon -->
                        <h3>One Day Production</h3>
                        <h4>Order Today. Ships Tomorrow.</h4>
                    </li>
                    <li>
                        <div class="icon">
                            <p class="ico-experience icomargin">&nbsp;</p>
                        </div>
                        <!-- /.icon -->
                        <h3>25+ Years Experience</h3>
                        <h4>Years of experience, expertise and beautiful prints.</h4>
                    </li>
                    <li>
                        <div class="icon">
                            <p class="ico-guarantee">&nbsp;</p>
                        </div>
                        <!-- /.icon -->
                        <h3>100% Satisfaction Guarantee</h3>
                        <h4>You&rsquo;ll love it! We guarantee it!</h4>
                    </li>
                    <li>
                        <div class="icon">
                            <p class="ico-retouching icomargin">&nbsp;</p>
                        </div>
                        <!-- /.icon -->
                        <h3>Free Photo Retouching</h3>
                        <h4>Make your picture perfect for free.</h4>
                    </li>
                </ul>
            </div>
            <!-- /.section-body -->
        </div>
        <!-- /.section-inner -->
    </div>
    <!-- /.shell -->
</section>
<!-- /.section-features -->
<!-- /.main -->
<!-- /.wrapper -->
