    <!--
    <section class="section-gallery-wrap">
        <div class="section-gallery section-window-decals-101">
            <div class="gallery-head">
                <h2>Window Decals 101</h2>
                <p>Everything You Need to Know About Window Decals</p>
            </div>
            <div class="gallery-body">
                <div class="gallery-body-left">
                    <div class="gallery-thumbnail">
                        <img src="" alt="">
                        <span>Individual Letters <br> vs. One Piece</span>
                    </div>
                    <div class="gallery-thumbnail">
                        <img src="" alt="">
                        <span>Background Color</span>
                    </div>
                    <div class="gallery-thumbnail">
                        <img src="" alt="">
                        <span>Transparency</span>
                    </div>
                    <div class="gallery-thumbnail">
                        <img src="" alt="">
                        <span>Standard vs Inside Glass</span>
                    </div>
                    <div class="gallery-thumbnail">
                        <img src="" alt="">
                        <span>Indoor and Outdoor Use</span>
                    </div>
                    <div class="gallery-thumbnail">
                        <img src="" alt="">
                        <span>Cling vs. <br> Adhesives</span>
                    </div>
                    <div class="gallery-thumbnail">
                        <img src="" alt="">
                        <span>Printed Decals vs. cut Vinyl</span>
                    </div><div class="gallery-thumbnail">
                    <img src="" alt="">
                    <span>Window Tint & <br>Colors</span>
                </div>
                    <div class="gallery-thumbnail">
                        <img src="" alt="">
                        <span>Minimum & <br> Maximum Sizes</span>
                    </div>
                    <div class="gallery-thumbnail">
                        <img src="" alt="">
                        <span>Repositionable &<br> Reusable</span>
                    </div>
                    <div class="gallery-thumbnail">
                        <img src="" alt="">
                        <span>Uses</span>
                    </div>
                    <div class="gallery-thumbnail">
                        <img src="" alt="">
                        <span>Installation</span>
                    </div>
                    <div class="gallery-thumbnail">
                        <img src="" alt="">
                        <span>Removal</span>
                    </div>

                </div>
                <div class="gallery-body-right">
                    <div class="content galleryShow">
                        <h3>Individual Letters or One Piece?</h3>

                        <p>The most common question and point of confusion around window signs is whether designs that contain letters or numbers will be individual elements or one piece of material.</p>

                        <p><a href="https://www.signs.com/vinyl-lettering/">Vinyl lettering</a> can be individual letters and/or numbers. Nonetheless, due to the transfer tape they are applied all at once. Like vinyl lettering,
                            <a href="https://www.signs.com/vinyl-wall-quotes/">vinyl wall quotes</a> for the home are also individual letters applied all at once with the aid of transfer tape.</p>

                        <p>All other window decals and clings, regardless of whether they contain or are exclusively letters and/or numbers, are one piece of material. These letters and numbers are printed onto the material and are not individual elements. This is true even when a cut option is selected. The same is true for
                            <a href="https://www.signs.com/vinyl-wall-stickers/">vinyl wall stickers for the home</a>.</p>

                        <p>This difference, whether for the home or business, is critical to understand to get exactly what you want.</p>

                    </div>
                    <div class="content">
                        <h3>What Color Will My Background Be?</h3>

                        <p>The background color of each of these custom window decals differs. One by one, here is what you can expect for your background color for the different decal options.</p>

                        <p>Because vinyl lettering is individual elements, there is no background. These elements are pre-cut from a solid color of vinyl and pre-spaced. When installed the surface where applied will be what shows in between the letters, numbers, or shapes.</p>

                        <p>For clear window decals and clear window clings the background will be a clear material. This is indicated by a checkered surface on our
                            <a href="https://www.signs.com/design/">design tool</a>. <strong>Please note, that if you upload a file that has a solid color background, it will be printed over the clear background</strong>. If you wish to have a clear background for these products please upload a graphic with a transparent background such as a PNG format. If you can not see your checkered background on our design tool after uploading then your design file is not transparent. Please contact us if you are unsure of how to accomplish this, our team of professional graphic designers are
                            <a href="https://www.signs.com/design-services/">happy to help for free</a>.</p>

                        <p>For opaque window decals and opaque window clings your background will be solid colored. If a clear file is uploaded, your background will be white as this is the color of the raw material before printing. For files with non-transparent backgrounds, your background will be the printed color of your design background. If you wish to have a clear background please select the clear equivalent of these products.</p>

                        <p>For frosted window decals your background will have a frosty translucency by default. This appearance is somewhere in between clear and solid colored. Transparent images will not change this. Files with colored backgrounds will be printed accordingly but retain the semi-opaque look of frosted decals.</p>

                        <p>Perforated window decals are the outlier when it comes to background colors. Perforated window decals by default are white and opaque in nature. Even a blank perforated window decal will have a level of opacity to it. But due to the 50:50 ratio of micropunctures there will always be one-way visibility through a perforated window decal regardless of what color is printed on it.</p>

                    </div>
                    <div class="content">
                        <h3>Transparency</h3>

                        <p>The transparency of the different window decal options varies from product to product. Here is what you can expect for each product.</p>

                        <p>The actual letters, numbers, or shapes of vinyl lettering will be opaque.</p>

                        <p>Clear window decals and clear window clings will be transparent where not printed. Where printed, they will be opaque in nature. If a solid colored file is uploaded and printed on a clear decal or cling, there will not be any transparency.</p>

                        <p>Opaque window decals and opaque window clings will not have any transparency. This is true even when a transparent file is uploaded and used during printing. The default material for these products is white and opaque by nature.</p>

                        <p>Frosted decals are translucent. This means that light, shadows, and the general shape of objects from the other side of the decal will be visible. Beyond this, transparency ranges from limited to nil.</p>

                        <p>Perforated window decals are opaque where there is material and transparent where there are micropunctures to allow for one-way visibility. Most commonly used on a storefront, those within the store will be able to see out while those viewing into the store will see the printed design. The level of transparency will also be impacted by the lighting conditions on either side of where your perforated decal is placed.</p>

                    </div>
                    <div class="content">
                        <h3>Print Surface - Standard vs InsidInGlass</h3>

                        <p>One of the more important considerations for custom window decals is whether you need your decal to go on the outside or inside of your window and from which direction they need to be visible by your customers.</p>

                        <p>Standard print surface or printing means that your decal or lettering will be <strong>printed in a normal fashion</strong> and can be <strong>installed on the outside of your window and face customers approaching your storefront</strong>. Or it can be placed on the inside of your window and be viewed from inside. In other words, a standard printed decal or cling will provide a sign that is placed or installed and viewed from the same side. Designs on these standard surface decals (excluding opaque materials) will be visible to customers from the opposite side but in a mirrored fashion. The intent is to both display and view the decals or clings from the same side. Viewing it from the opposite side from which it is placed or installed is not the intended use.</p>

                        <p>If you intend to install and view your decals or lettering internally use “Standard Print Surface” and they will work perfectly.</p>

                        <p>Inside Glass printing means that your decal or lettering will <strong>be installed on the inside of your window yet face customers approaching your store from the outside</strong>. This is accomplished by doing a <strong>reverse print</strong> on your decal. This is most often used when the threat of intentional damage, theft, or poor climate will adversely affect your decal when placed outside. It is important to note that if your window has any tint, the inside glass option may not be the right choice because the tint will affect the visibility of your graphic. In other words, Inside Glass decals and clings are intended to be placed on one side and viewed from the opposite side.</p>

                        <p>The following products allow for Inside Glass printing and display: clear window cling, clear window decal, and vinyl lettering.</p>

                        <p>Perforated window decals, opaque window clings, opaque window decals and frosted window decals do not allow for Inside Glass printing. The opaque materials can technically accomplish the Inside Glass effect with a workaround as described here but are not typically printed this way.</p>

                    </div>
                    <div class="content">
                        <h3>Indoor vs Outdoor Use</h3>

                        <p>All of the decals outlined on this page can be used both indoors and outdoors.</p>

                        <p>If you intend to place your decal or lettering inside and have it face outside then you don’t need to worry about which decals can be used outside.</p>

                        <p>Outdoor use for your custom window decal or lettering does come with a few considerations. Typically, you will not want to use them outside if there is a high potential for theft, vandalism, or intentional damage. The other main consideration is the climate in which they will be used. While all of the products are perfectly fine to be used outdoors year round regardless of the climate, harsher climates will have a greater impact on the durability and lifespan of your custom decal. For example, prolonged and constant exposure to the sun may increase the chances of fading while extreme cold or heavy precipitation could cause the decal to not adhere properly. Though, after years of printing custom decals we’ve rarely seen any issues due to the aforementioned situations. We’re confident your decal or lettering will last for years to come even when used outside day in and day out all year long.</p>


                    </div>
                    <div class="content">
                        <h3>Cling (Temporary & Repositionable) vs. Decal (Semi-Permanent & Non-Repositionable)</h3>

                        <p>A major difference between clings and decals is the way they adhere to your desired location.</p>

                        <p>Clings adhere to glass surfaces due to the fact that the vinyl material acts like a suction cup when firmly pressed onto the surface. This suction-type adhesion allows for extremely easy application, repositioning and removal as needed. Put it up, move it around and take it down as often as you’d like without fear of losing the cling ability. With proper use and care, clings should last for years and are perfect for seasonal or temporary window signage needs.</p>

                        <p>Products that adhere in this way include clear window cling and opaque window cling.</p>

                        <p>Decals on the other hand adhere via an adhesive property. These decals are semi-permanent in nature and once installed can not be repositioned. As per below, removing these decals may leave some adhesive property behind which may require cleaning. Installation of these decals is also a little more difficult than clings but still a relatively painless process if the instructions are followed correctly.</p>

                        <p>Products that have an adhesive property and are semi-permanent in nature include vinyl lettering, perforated window decals, opaque window decals and frosted window decals.</p>

                        <p>Clear window decals are the lone exception to what is outlined above. Clear window decals use a proprietary adhesion technology but have no actual sticky adhesive. Thus, they “adhere” to the window more like the adhesive based products yet are removable, reusable and repositionable like the window clings.</p>

                    </div>
                    <div class="content">
                        <h3>Printed Decals vs. Cut Vinyl (Vinyl Lettering)</h3>

                        <p>The way decals and clings are produced is very different from vinyl lettering.</p>

                        <p>Decals and clings have graphics that are printed directly onto the material regardless of whether you choose Standard Print Surface or Inside Glass. This means your design can include gradients, shadows, borders and every other text effect.</p>

                        <p>Vinyl lettering, often used on windows for store hours, branding and more, is not printed but rather cut from pre-colored vinyl. This is why vinyl lettering is sometimes referred to as “cut vinyl”. The implication of this is that vinyl lettering purchases are best suited for lettering and numbers only or simple 1-3 color vector graphics without any text effects. Despite the restrictions, vinyl lettering is often chosen for store hours and the like due to its all at once installation and lack of a background.</p>

                    </div>
                    <div class="content">
                        <h3>Design Tips For Window Decals</h3>

                        <p>Regardless of whether you select vinyl lettering, a decal or a cling there are two important things to remember when designing your custom window sign.</p>

                        <p>The first thing to consider is size. The size of your decal will largely be dictated by your available space and the lettering height needs. For lettering height, the general rule of thumb of 3” for every 10’ of viewing distance is an easy way to ensure you have lettering that can be read by potential customers. This guide on
                            <a href="https://www.signs.com/blog/signage-101-letter-height-visibility/">how big do my letters need to be to be visible</a> is a more comprehensive guide to lettering legibility and distances.</p>

                        <p>The second thing to consider is the colors you choose and the contrast they provide. This becomes very important when lighting and window tint is involved. Poorly lit areas or storefronts and tinted windows can make it imperative that your design and/or lettering be light colored or even white. Lighter colors will provide greater contrast when applied to tinted windows or in poorly lit areas. Alternatively, if the location where your custom window sign will be placed is extremely bright you’ll want to pick a contrasting dark color to maximize legibility. We’ve written a great guide on
                            <a href="https://www.signs.com/blog/design-cosiderations-for-window-signs-signage-101/">design tips and color contrast</a> for further reading.</p>

                    </div>
                    <div class="content">
                        <h3>Are There Size Limitations?</h3>

                        <p>In short, yes. Though these size limitations differ from product to product. Here are the minimum and maximum sizes for each of the window decals, clings and vinyl lettering we offer:</p>

                        <ul>
                            <li>Vinyl Lettering - Smallest: 1” x 1” -- Biggest: 24” x 600”</li>
                            <li>Clear Window Decals - Smallest: 6”x6” -- Biggest: 52” x 1176”</li>
                            <li>Perforated Window Decals - Smallest: 6”x6” -- Biggest: 53” x 11998”</li>
                            <li>Clear Window Clings - Smallest: 6”x6” -- Biggest: 54” x 400”</li>
                            <li>Opaque Window Decals - Smallest: 6”x6” --  Biggest: 52” x 1798”</li>
                            <li>Opaque Window Clings - Smallest: 6”x6” - Biggest: 54” x 1176”</li>
                            <li>Frosted Window Decals - Smallest: 6”x6” -- Biggest: 48” x 1900”</li>
                        </ul>

                        <p>As you can see, in most cases there won’t be any problem doing large window signs of any type! Nonetheless, similar to vinyl lettering below, for decals or clings that have dimensions which both exceed the smaller max dimension you may need to panel your decals. For example, a clear window decal that is 104” x 200” will need to be printed on two separate 52” x 100” decals. Installed side by side it will look like one seamless window decal. For help on “paneled” decals like this, please contact us for
                            <a href="https://www.signs.com/design/">free design services</a>.</p>

                        <p>Smaller signs are typically limited to something no smaller than 6”x6”.</p>

                        <p>Vinyl lettering is slightly different than the decals and clings listed above. As noted, vinyl lettering can be as small as 1” x 1” when doing a single letter or number. The other thing to note is that large vinyl lettering pieces will be paneled at anything larger than 24” on one side. This just means that any vinyl lettering that is larger than 24” in both directions will need to use multiple pieces to accomplish the same look. Assuming installation is done correctly then this still gives a professional and seamless look no matter the size.</p>

                    </div>
                    <div class="content">
                        <h3>Are Window Decals, Clings and Vinyl Lettering Repositionable and Reusable?</h3>

                        Both clear window clings and opaque window clings are repositionable and reusable in nature due to their ability to stick without an adhesive backing. Simply remember to clean the surface where they will be applied before moving your cling. Also, we recommend storing them on the backing they come with to prevent the suction side from getting dirty or damaged, which may prevent them from being used again. Extended storage of clings may render them useless. Clear window decals also behave in this way and provide for a repositionable and reusable decal that can be stored for reasonable amounts of time.

                        All window decals we offer (perforated, opaque, and frosted) except for clear are semi-permanent in nature. This means after the initial install period in which there is limited ability to reposition them they are not intended to be moved around. Thus, they are also not reusable.

                        Vinyl lettering, like the decals, is semi-permanent in nature and neither repositionable nor reusable.

                    </div>
                    <div class="content">
                        <h3>General Window Decal Uses</h3>

                        <p>So long as your decals are installed on a smooth, non-porous surface they will typically adhere. Nonetheless, non-porous glass is definitely the recommended surface on which to use them. When used in this way custom window decals and vinyl lettering have a wide variety of end uses.  Some of the most common uses include store hours and corporate branding for storefronts, seasonal or temporary specials or sales in restaurant or retail settings, privacy decals for internal offices, boardrooms and conference rooms (<a
                                href="https://www.signs.com/frosted-window-decals/">frosted decals</a>), menu items on restaurant sneeze guards, and more. Window clings likewise will typically work wherever a decal will work and can be used for the same purposes.</p>

                        <p>Custom window decals can also work on cars but we’d recommend you check out our <a href="https://www.signs.com/vehicle-decals/">custom car decals</a> if you’re looking for decals for your car or truck and
                            our <a href="https://www.signs.com/boat-lettering-and-decals/">boat lettering for watercraft</a>.</p>

                        <p><a href="https://www.signs.com/vinyl-lettering/">Vinyl lettering</a> can also work on glass surfaces, cars as well as smooth non-porous interior surfaces such as drywall and painted walls.</p>

                    </div>
                    <div class="content">
                        <h3>Window Decal Installation Differences</h3>

                        <p>The general installation process for most decals, clings, and even vinyl lettering is fairly similar. Commonalities between these products typically include ensuring the surface area is clean before installing, using multiple people for bigger decals, and using a squeegee or similar flat edge to avoid bubbling, etc. Nonetheless, there are a few key differences that should be noted. We’ve detailed these below and recommend you read the full installation instructions on the respective product pages and/or pack slip before starting the installation of your decal, cling, or lettering.</p>

                        <p>The first key difference in installation is whether your product is installed “dry” or “wet”. A “dry install” means that no water will be used on the side of the product to be applied to the surface nor on the surface itself. A “wet install” means that you will typically spray not only the side of the product to be installed but the surface itself with a soapy water mixture to allow for easier repositioning during the initial installation. Once this water is squeegeed out and dries the adhesive will kick in and make your decal semi-permanent in nature.</p>

                        <p>Dry install products include: perforated window decals and clear window clings.</p>

                        <p>Wet install products include: clear window decals, opaque window decals, opaque window clings, and frosted window decals.</p>

                        <p>Vinyl lettering is technically a dry install but different from the rest of the decal and cling products. This is because vinyl lettering comes not only with a backing to protect the adhesive side but also transfer tape. Transfer tape allows you to install all of your lettering or numbering at once (depending on the number of colors you have) rather than applying each individual letter or number. This installation process typically involves creating a hinge with masking tape, removing the backing and carefully pressing the lettering into place with a flat edge such as a squeegee, and then finally removing the transfer tape. Full installation instructions, including video, can be found on the
                            <a href="https://www.signs.com/vinyl-lettering/">vinyl lettering</a> product page as well as on YouTube here:
                            <a href="https://www.youtube.com/watch?v=7oom9POh10E">how to install vinyl lettering</a>.</p>

                    </div>
                    <div class="content">
                        <h3>Window Decal Removal Instructions</h3>

                        <p>Removing your decal, cling or vinyl lettering varies slightly between the product types but is easy no matter what you might install.</p>

                        <p>Clings offer the easiest removal (and installation) as there is no adhesive involved. These window clings can simply be pulled off the window in a matter of seconds. The only thing you may have to do is wash the entire window or surface to make sure the clean area under the cling matches the rest of your window or storefront. This is also true of clear window decals.</p>

                        <p>Decals, with the exception of clear window decals, and vinyl lettering both use adhesive to stick to your windows or glass surfaces. Nonetheless, most decals and lettering items can be simply pulled away from the surface without fear of damaging the window or paint. For decal and/or lettering that has been in place for an extended period, we recommend peeling it away very slowly to ensure no paint is removed.</p>

                        <p>For extremely stubborn decals or vinyl lettering we recommend using a sharp edge such as a razor blade to help with removal. Use caution not to damage the glass or paint when using this extra tool to aid in removal. In rare cases, using a heat source such as a blow dryer may be needed to help remove adhesive based decals.</p>

                        <p>In all cases for adhesive-based options, appropriate cleaners or sprays may be needed to clean up any residual adhesive.</p>

                    </div>
                </div>
            </div>
        </div>
    </section>
    -->



    <h1 class="content-header">Window Decals 101</h1>
    <div class="main-sub-title">Everything You Need to Know About Window Decals</div>

    <div id="info-list">
        <ul>
            <li v-for="tab in tabs" v-on:click="changeText(tab.id)" v-bind:class="{ isSelected: tab.id == selected }">{{ tab.name }}</li>
        </ul>
        <div class="info-text">
            <h2 class="info-header">{{ selectedTab.name }}</h2>
            <p v-for="(p, i) in selectedTab.desc" v-html="p"></p>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>

    <script>

        new Vue({
            el: "#info-list",
            data() {
                return {
                    selected: 1,
                    tabs: [
                        {
                            id: 1,
                            name: 'Individual Letters vs. One Piece',
                            desc: [
                                'The most common question and point of confusion around window signs is whether designs that contain letters or numbers will be individual elements or one piece of material.',
                                '<a href="https://www.signs.com/vinyl-lettering" class="standard-link">Vinyl lettering</a> can be individual letters and/or numbers. Nonetheless, due to the transfer tape they are applied all at once. Like vinyl lettering, <a href="https://www.signs.com/vinyl-wall-quotes/" class="standard-link">vinyl wall quotes</a> for the home are also individual letters applied all at once with the aid of transfer tape.',
                                'All other window decals and clings, regardless of whether they contain or are exclusively letters and/or numbers, are one piece of material. These letters and numbers are printed onto the material and are not individual elements. <strong>This is true even when a cut option is selected</strong>. The same is true for <a href="https://www.signs.com/vinyl-wall-stickers/" class="standard-link">vinyl wall stickers for the home</a>.',
                                'This difference, whether for the home or business, is critical to understand to get exactly what you want.'
                            ]
                        },
                        {
                            id: 2,
                            name: 'Background Color',
                            desc: [
                                'The background color of each of these custom window decals differs. One by one, here is what you can expect for your background color for the different decal options.',
                                'Because vinyl lettering is individual elements, there is no background. These elements are pre-cut from a solid color of vinyl and pre-spaced. When installed the surface where applied will be what shows in between the letters, numbers, or shapes.',
                                'For clear window decals and clear window clings the background will be a clear material. This is indicated by a checkered surface on our design tool. <strong>Please note, that if you upload a file that has a solid color background, it will be printed over the clear background</strong>. If you wish to have a clear background for these products please upload a graphic with a transparent background such as a PNG format. If you can not see your checkered background on our design tool after uploading then your design file is not transparent. Please contact us if you are unsure of how to accomplish this, our team of professional graphic designers are <a href="https://www.signs.com/design-services" class="standard-link">happy to help for free</a>.',
                                'For opaque window decals and opaque window clings your background will be solid colored. If a clear file is uploaded, your background will be white as this is the color of the raw material before printing. For files with non-transparent backgrounds, your background will be the printed color of your design background. If you wish to have a clear background please select the clear equivalent of these products.',
                                'For frosted window decals your background will have a frosty translucency by default. This appearance is somewhere in between clear and solid colored. Transparent images will not change this. Files with colored backgrounds will be printed accordingly but retain the semi-opaque look of frosted decals.',
                                'Perforated window decals are the outlier when it comes to background colors. Perforated window decals by default are white and opaque in nature. Even a blank perforated window decal will have a level of opacity to it. But due to the 50:50 ratio of micropunctures there will always be one-way visibility through a perforated window decal regardless of what color is printed on it.'
                            ]
                        },
                        {
                            id: 3,
                            name: 'Transparency',
                            desc: [
                                'The transparency of the different window decal options varies from product to product. Here is what you can expect for each product.',
                                'The actual letters, numbers, or shapes of vinyl lettering will be opaque.',
                                'Clear window decals and clear window clings will be transparent where not printed. Where printed, they will be opaque in nature. If a solid colored file is uploaded and printed on a clear decal or cling, there will not be any transparency.',
                                'Opaque window decals and opaque window clings will not have any transparency. This is true even when a transparent file is uploaded and used during printing. The default material for these products is white and opaque by nature.',
                                'Frosted decals are translucent. This means that light, shadows, and the general shape of objects from the other side of the decal will be visible. Beyond this, transparency ranges from limited to nil.',
                                'Perforated window decals are opaque where there is material and transparent where there are micropunctures to allow for one-way visibility. Most commonly used on a storefront, those within the store will be able to see out while those viewing into the store will see the printed design. The level of transparency will also be impacted by the lighting conditions on either side of where your perforated decal is placed.'
                            ]
                        },
                        {
                            id: 4,
                            name: 'Standard vs. Inside Glass Print Surface',
                            desc: [
                                'One of the more important considerations for custom window decals is whether you need your decal to go on the outside or inside of your window and from which direction they need to be visible by your customers.',
                                'Standard print surface or printing means that your decal or lettering will be <strong>printed in a normal fashion</strong> and can be <strong>installed on the outside of your window and face customers approaching your storefront</strong>. Or it can be placed on the inside of your window and be viewed from inside. In other words, a standard printed decal or cling will provide a sign that is placed or installed and viewed from the same side. Designs on these standard surface decals (excluding opaque materials) will be visible to customers from the opposite side but in a mirrored fashion. The intent is to both display and view the decals or clings from the same side. Viewing it from the opposite side from which it is placed or installed is not the intended use.',
                                'If you intend to install and view your decals or lettering internally use “Standard Print Surface” and they will work perfectly.',
                                'Inside Glass printing means that your decal or lettering will <strong>be installed on the inside of your window yet face customers approaching your store from the outside</strong>. This is accomplished by doing a reverse print on your decal. This is most often used when the threat of intentional damage, theft, or poor climate will adversely affect your decal when placed outside. It is important to note that if your window has any tint, the inside glass option may not be the right choice because the tint will affect the visibility of your graphic. In other words, Inside Glass decals and clings are intended to be placed on one side and viewed from the opposite side.',
                                'The following products allow for Inside Glass printing and display: clear window cling, clear window decal, and vinyl lettering.',
                                'Perforated window decals, opaque window clings, opaque window decals and frosted window decals do not allow for Inside Glass printing. The opaque materials can technically accomplish the Inside Glass effect with a workaround as <a href="https://www.signs.com/blog/signage-101-inside-glass-decals/" class="standard-link">described here</a> but are not typically printed this way.'
                            ]
                        },
                        {
                            id: 5,
                            name: 'Indoor vs. Outdoor Use',
                            desc: [
                                'All of the decals outlined on this page can be used both indoors and outdoors. ',
                                'If you intend to place your decal or lettering inside and have it face outside then you don’t need to worry about which decals can be used outside.',
                                'Outdoor use for your custom window decal or lettering does come with a few considerations. Typically, you will not want to use them outside if there is a high potential for theft, vandalism, or intentional damage. The other main consideration is the climate in which they will be used. While all of the products are perfectly fine to be used outdoors year round regardless of the climate, harsher climates will have a greater impact on the durability and lifespan of your custom decal. For example, prolonged and constant exposure to the sun may increase the chances of fading while extreme cold or heavy precipitation could cause the decal to not adhere properly. Though, after years of printing custom decals we’ve rarely seen any issues due to the aforementioned situations. We’re confident your decal or lettering will last for years to come even when used outside day in and day out all year long.'
                            ]
                        },
                        {
                            id: 6,
                            name: 'Clings vs. Decals',
                            desc: [
                                'A major difference between clings and decals is the way they adhere to your desired location.',
                                'Clings adhere to glass surfaces due to the fact that the vinyl material acts like a suction cup when firmly pressed onto the surface. This suction-type adhesion allows for extremely easy application, repositioning and removal as needed. Put it up, move it around and take it down as often as you’d like without fear of losing the cling ability. With proper use and care, clings should last for years and are perfect for seasonal or temporary window signage needs.',
                                'Products that adhere in this way include clear window cling and opaque window cling.',
                                'Decals on the other hand adhere via an adhesive property. These decals are semi-permanent in nature and once installed can not be repositioned. As per below, removing these decals may leave some adhesive property behind which may require cleaning. Installation of these decals is also a little more difficult than clings but still a relatively painless process if the instructions are followed correctly. ',
                                'Products that have an adhesive property and are semi-permanent in nature include vinyl lettering, perforated window decals, opaque window decals and frosted window decals.',
                                'Clear window decals are the lone exception to what is outlined above. Clear window decals use a proprietary adhesion technology but have no actual sticky adhesive. Thus, they “adhere” to the window more like the adhesive based products yet are removable, reusable and repositionable like the window clings.',
                            ]
                        },
                        {
                            id: 7,
                            name: 'Printed Decals vs. Cut Vinyl',
                            desc: [
                                'The way decals and clings are produced is very different from vinyl lettering.',
                                'Decals and clings have graphics that are printed directly onto the material regardless of whether you choose Standard Print Surface or Inside Glass. This means your design can include gradients, shadows, borders and every other text effect.',
                                'Vinyl lettering, often used on windows for store hours, branding and more, is not printed but rather cut from pre-colored vinyl. This is why vinyl lettering is sometimes referred to as “cut vinyl”. The implication of this is that vinyl lettering purchases are best suited for lettering and numbers only or simple 1-3 color vector graphics without any text effects. Despite the restrictions, vinyl lettering is often chosen for store hours and the like due to its all at once installation and lack of a background.'
                            ]
                        },
                        {
                            id: 8,
                            name: 'Window Decal Design Tips',
                            desc: [
                                'Regardless of whether you select vinyl lettering, a decal or a cling there are two important things to remember when designing your custom window sign. ',
                                'The first thing to consider is size. The size of your decal will largely be dictated by your available space and the lettering height needs. For lettering height, the general rule of thumb of 3” for every 10’ of viewing distance is an easy way to ensure you have lettering that can be read by potential customers. This guide on <a href="https://www.signs.com/blog/signage-101-letter-height-visibility/" class="standard-link">how big do my letters need to be to be visible</a> is a more comprehensive guide to lettering legibility and distances.',
                                'The second thing to consider is the colors you choose and the contrast they provide. This becomes very important when lighting and window tint is involved. Poorly lit areas or storefronts and tinted windows can make it imperative that your design and/or lettering be light colored or even white. Lighter colors will provide greater contrast when applied to tinted windows or in poorly lit areas. Alternatively, if the location where your custom window sign will be placed is extremely bright you’ll want to pick a contrasting dark color to maximize legibility. We’ve written a great guide on <a href="https://www.signs.com/blog/design-cosiderations-for-window-signs-signage-101/" class="standard-link">design tips and color contrast</a> for further reading.'
                            ]
                        },
                        {
                            id: 9,
                            name: 'Minimum & Maximum Sizes',
                            desc: [
                                'Each decal does have a maximum and minumum size, though these size limitations differ from product to product. Here are the minimum and maximum sizes for each of the window decals, clings and vinyl lettering we offer:',
                                'Vinyl Lettering - Smallest: 1” x 1” -- Biggest: 24” x 600”<br>Clear Window Decals - Smallest: 6”x6” -- Biggest: 52” x 1176”<br>Perforated Window Decals - Smallest: 6”x6” -- Biggest: 53” x 11998”<br>Clear Window Clings - Smallest: 6”x6” -- Biggest: 54” x 400”<br>Opaque Window Decals - Smallest: 6”x6” --  Biggest: 52” x 1798”<br>Opaque Window Clings - Smallest: 6”x6” - Biggest: 54” x 1176”<br>Frosted Window Decals - Smallest: 6”x6” -- Biggest: 48” x 1900”',
                                'As you can see, in most cases there won’t be any problem doing large window signs of any type! Nonetheless, similar to vinyl lettering below, for decals or clings that have dimensions which both exceed the smaller max dimension you may need to panel your decals. For example, a clear window decal that is 104” x 200” will need to be printed on two separate 52” x 100” decals. Installed side by side it will look like one seamless window decal. For help on “paneled” decals like this, please contact us for <a href="https://www.signs.com/design-services/" class="standard-link">free design services</a>.',
                                'Smaller signs are typically limited to something no smaller than 6”x6”. ',
                                'Vinyl lettering is slightly different than the decals and clings listed above. As noted, vinyl lettering can be as small as 1” x 1” when doing a single letter or number. The other thing to note is that large vinyl lettering pieces will be paneled at anything larger than 24” on one side. This just means that any vinyl lettering that is larger than 24” in both directions will need to use multiple pieces to accomplish the same look. Assuming installation is done correctly then this still gives a professional and seamless look no matter the size.'
                            ]
                        },
                        {
                            id: 10,
                            name: 'Repositionable and Reusable',
                            desc: [
                                'Both clear window clings and opaque window clings are repositionable and reusable in nature due to their ability to stick without an adhesive backing. Simply remember to clean the surface where they will be applied before moving your cling. Also, we recommend storing them on the backing they come with to prevent the suction side from getting dirty or damaged, which may prevent them from being used again. Extended storage of clings may render them useless. Clear window decals also behave in this way and provide for a repositionable and reusable decal that can be stored for a reasonable amount of time. ',
                                'All window decals we offer (perforated, opaque, and frosted) except for clear are semi-permanent in nature. This means after the initial install period in which there is limited ability to reposition them they are not intended to be moved around. Thus, they are also not reusable.',
                                'Vinyl lettering, like the decals, is semi-permanent in nature and neither repositionable nor reusable.'
                            ]
                        },
                        {
                            id: 11,
                            name: 'Uses',
                            desc: [
                                'So long as your decals are installed on a smooth, non-porous surface they will typically adhere. Nonetheless, non-porous glass is definitely the recommended surface on which to use them. When used in this way custom window decals and vinyl lettering have a wide variety of end uses.  Some of the most common uses include store hours and corporate branding for storefronts, seasonal or temporary specials or sales in restaurant or retail settings, privacy decals for internal offices, boardrooms and conference rooms (<a href="https://www.signs.com/frosted-window-decals/" class="standard-link">frosted decals</a>), menu items on restaurant sneeze guards, and more. Window clings likewise will typically work wherever a decal will work and can be used for the same purposes.',
                                'Custom window decals can also work on cars but we’d recommend you check out our <a href="https://www.signs.com/vehicle-decals/" class="standard-link">custom car decals</a> if you’re looking for decals for your car or truck and our <a href="https://www.signs.com/boat-lettering-and-decals/?productID=74" class="standard-link">boat lettering</a> for watercraft. ',
                                'Vinyl lettering can also work on glass surfaces, cars as well as smooth non-porous interior surfaces such as drywall and painted walls.'
                            ]
                        },
                        {
                            id: 12,
                            name: 'Installation',
                            desc: [
                                'The general installation process for most decals, clings, and even vinyl lettering is fairly similar. Commonalities between these products typically include ensuring the surface area is clean before installing, using multiple people for bigger decals, and using a squeegee or similar flat edge to avoid bubbling, etc. Nonetheless, there are a few key differences that should be noted. We’ve detailed these below and recommend you read the full installation instructions on the respective product pages and/or pack slip before starting the installation of your decal, cling, or lettering.',
                                'The first key difference in installation is whether your product is installed “dry” or “wet”. A “dry install” means that no water will be used on the side of the product to be applied to the surface nor on the surface itself. A “wet install” means that you will typically spray not only the side of the product to be installed but the surface itself with a soapy water mixture to allow for easier repositioning during the initial installation. Once this water is squeegeed out and dries the adhesive will kick in and make your decal semi-permanent in nature.',
                                'Dry install products include: perforated window decals and clear window clings.',
                                'Wet install products include: clear window decals, opaque window decals, opaque window clings, and frosted window decals.',
                                'Vinyl lettering is technically a dry install but different from the rest of the decal and cling products. This is because vinyl lettering comes not only with a backing to protect the adhesive side but also transfer tape. Transfer tape allows you to install all of your lettering or numbering at once (depending on the number of colors you have) rather than applying each individual letter or number. This installation process typically involves creating a hinge with masking tape, removing the backing and carefully pressing the lettering into place with a flat edge such as a squeegee, and then finally removing the transfer tape. Full installation instructions, including video, can be found on the <a href="https://www.signs.com/vinyl-lettering" class="standard-link">vinyl lettering</a> product page as well as on YouTube here: <a href="https://www.youtube.com/watch?v=7oom9POh10E" class="standard-link">how to install vinyl lettering</a>.'

                            ]
                        },
                        {
                            id: 13,
                            name: 'Removal',
                            desc: [
                                'Removing your decal, cling or vinyl lettering varies slightly between the product types but is easy no matter what you might install.',
                                'Clings offer the easiest removal (and installation) as there is no adhesive involved. These window clings can simply be pulled off the window in a matter of seconds. The only thing you may have to do is wash the entire window or surface to make sure the clean area under the cling matches the rest of your window or storefront. This is also true of clear window decals.',
                                'Decals, with the exception of clear window decals, and vinyl lettering both use adhesive to stick to your windows or glass surfaces. Nonetheless, most decals and lettering items can be simply pulled away from the surface without fear of damaging the window or paint. For decal and/or lettering that has been in place for an extended period, we recommend peeling it away very slowly to ensure no paint is removed.',
                                'For extremely stubborn decals or vinyl lettering we recommend using a sharp edge such as a razor blade to help with removal. Use caution not to damage the glass or paint when using this extra tool to aid in removal. In rare cases, using a heat source such as a blow dryer may be needed to help remove adhesive based decals.',
                                'In all cases for adhesive-based options, appropriate cleaners or sprays may be needed to clean up any residual adhesive.'
                            ]
                        },
                    ]
                };
            },
            methods: {
                changeText: function(id) {
                    this.selected = id
                }
            },
            computed: {
                selectedTab: function() {
                    return this.tabs[this.selected - 1];
                }
            }
        });

    </script>