<!-- Hero -->
<section class="section-default-portal section-hero-portal">
    <div class="standard-container">
        <div class="img-wrap">
            <img src="https://www.signs.com/content/assets/filelibrary/Logo-10777.jpg" alt="Apricot Lane Boutique Logo">
        </div>
    </div>
</section>


<!-- Visual Display Portal -->
<section class="section-default-portal section-visual-display-portal section-visual-display-portal section-visual-display-portal-category">
    <div class="standard-container">
        <div class="section-title itheme-pink">
            <h1>Visual Display Portal</h1>
        </div>
        <div class="vdp-wrap vdp-wrap-4child vdp-child-center">
            <div class="vpd-block">
                <a href="#section-store-toolbox" class="scroll-link-section">
                    <div class="img-wrap"><img src="https://www.signs.com/content/assets/filelibrary/store-toolbox-13935.jpg" alt="Apricot Lane"></div>
                    <div class="content-wrap"><p class="content-title itheme-violet">Store toolbox</p><span class="details"></span></div>
                </a>
            </div>
            <div class="vpd-block">
                <a href="#section-we-care" class="scroll-link-section">
                    <div class="img-wrap"><img src="https://www.signs.com/content/assets/filelibrary/we-care-13932.jpg" alt="We Care"></div>
                    <div class="content-wrap"><p class="content-title itheme-pink">We care</p><span class="details"></span></div>
                </a>
            </div>
            <div class="vpd-block">
                <a href="#section-summer-2020" class="scroll-link-section">
                    <div class="img-wrap"><img src="https://www.signs.com/content/assets/filelibrary/time-to-shine-13933.jpg" alt="Time to shine"></div>
                    <div class="content-wrap"><p class="content-title itheme-light-orange">Summer 2020</p><span class="details"></span></div>
                </a>
            </div>
            <div class="vpd-block">
                <a href="#section-fall-2020" class="scroll-link-section">
                    <div class="img-wrap"><img src="https://www.signs.com/content/assets/filelibrary/time-to-shine-13933.jpg" alt="Bolder - Fall 2020"></div>
                    <div class="content-wrap"><p class="content-title itheme-dark-orange">Bolder - Fall 2020</p><span class="details"></span></div>
                </a>
            </div>
        </div>
    </div>
</section>

<!-- Store Toolbox -->
<section class="section-default-portal section-visual-display-portal section-store-toolbox" id="section-store-toolbox">
    <div class="standard-container">
        <div class="section-title">
            <h2>Store Toolbox</h2>
        </div>
        <div class="vdp-wrap vdp-wrap-3child vdp-child-center">
            <div class="vpd-block">
                <a href="https://www.signs.com/design/?id=a1d6aae8-7077-43fc-8e5f-1c1c67d1711f">
                    <div class="img-wrap">
                        <img src="https://www.signs.com/content/assets/filelibrary/Grand-Opening-Logo---Large-10582.jpg"
                             alt="Store Grand Opening - Horizontal Text on Clear Window Cling">
                    </div>
                    <div class="content-wrap">
                        <p class="content-title">Grand Opening Window Cling</p><span class="details">48x16</span>
                    </div>
                </a>
            </div>
            <div class="vpd-block">
                <a href="https://www.signs.com/design/?id=b5124f55-b8c3-4022-b305-8645104fa2b9">
                    <div class="img-wrap">
                        <img src="https://www.signs.com/content/assets/filelibrary/Grand-Opening-Logo---Medium-10581.jpg"
                             alt="Store Grand Opening - Horizontal Text on Clear Window Cling">
                    </div>
                    <div class="content-wrap">
                        <p class="content-title">Grand Opening Window Cling</p><span class="details">36x13.33</span>
                    </div>
                </a>
            </div>
            <div class="vpd-block">
                <a href="https://www.signs.com/design/?id=105065ff-38fa-44fb-8a22-f246cd68a3c0">
                    <div class="img-wrap">
                        <img src="https://www.signs.com/content/assets/filelibrary/Grand-Opening-Logo---Small-10583.jpg"
                             alt="Store Grand Opening - Horizontal Text on Clear Window Cling">
                    </div>
                    <div class="content-wrap">
                        <p class="content-title">Grand Opening Window Cling</p><span class="details">24x10</span>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>

<!-- Fall 2020 - BOLDER -->
<section class="section-default-portal section-visual-display-portal" id="section-fall-2020">
    <div class="standard-container">
        <div class="section-title">
            <h2>Store Toolbox</h2>
        </div>
        <div class="vdp-wrap vdp-wrap-3child vdp-child-center">
            <div class="vpd-block">
                <a href="https://www.signs.com/design/?id=a1d6aae8-7077-43fc-8e5f-1c1c67d1711f">
                    <div class="img-wrap">
                        <img src="https://www.signs.com/content/assets/filelibrary/Grand-Opening-Logo---Large-10582.jpg"
                             alt="Store Grand Opening - Horizontal Text on Clear Window Cling">
                    </div>
                    <div class="content-wrap">
                        <p class="content-title">Grand Opening Window Cling</p><span class="details">48x16</span>
                    </div>
                </a>
            </div>
            <div class="vpd-block">
                <a href="https://www.signs.com/design/?id=b5124f55-b8c3-4022-b305-8645104fa2b9">
                    <div class="img-wrap">
                        <img src="https://www.signs.com/content/assets/filelibrary/Grand-Opening-Logo---Medium-10581.jpg"
                             alt="Store Grand Opening - Horizontal Text on Clear Window Cling">
                    </div>
                    <div class="content-wrap">
                        <p class="content-title">Grand Opening Window Cling</p><span class="details">36x13.33</span>
                    </div>
                </a>
            </div>
            <div class="vpd-block">
                <a href="https://www.signs.com/design/?id=105065ff-38fa-44fb-8a22-f246cd68a3c0">
                    <div class="img-wrap">
                        <img src="https://www.signs.com/content/assets/filelibrary/Grand-Opening-Logo---Small-10583.jpg"
                             alt="Store Grand Opening - Horizontal Text on Clear Window Cling">
                    </div>
                    <div class="content-wrap">
                        <p class="content-title">Grand Opening Window Cling</p><span class="details">24x10</span>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>

<!-- Summer 2020 -->
<section class="section-default-portal section-visual-display-portal section-sprint-2020" id="section-summer-2020">
    <div class="standard-container">
        <div class="section-title">
            <h2>Summer 2020 - Shine</h2>
        </div>
        <div class="vdp-wrap vdp-wrap-3child vdp-child-center">
            <div class="vpd-block">
                <a href="https://www.signs.com/design/?id=1d78b966-e89f-471f-9f3d-fbe7e84836ca">
                    <div class="img-wrap">
                        <img src="https://www.signs.com/content/assets/filelibrary/ApricotLane-Mock-Large-13547.jpg"
                             alt="ApricotLane-TimetoShine-Large">
                    </div>
                    <div class="content-wrap"><p class="content-title">Time to Shine - Large</p><span class="details">48x25.25</span></div>
                </a>
            </div>
            <div class="vpd-block">
                <a href="https://www.signs.com/design/?id=0ae64685-a01d-4530-80eb-86fe7e8b410e">
                    <div class="img-wrap">
                        <img src="https://www.signs.com/content/assets/filelibrary/ApricotLane-Mock-Medium-13546.jpg"
                             alt="ApricotLane-TimetoShine-Medium">
                    </div>
                    <div class="content-wrap"><p class="content-title">Time to Shine - Medium</p><span class="details">36x19</span></div>
                </a>
            </div>
            <div class="vpd-block">
                <a href="https://www.signs.com/design/?id=7d621ab5-aa37-4a27-b547-4feb6c570933">
                    <div class="img-wrap">
                        <img src="https://www.signs.com/content/assets/filelibrary/ApricotLane-Mock-Small-13545.jpg"
                             alt="ApricotLane-TimetoShine-Small">
                    </div>
                    <div class="content-wrap"><p class="content-title">Time to Shine - Small</p><span class="details">24x12.75</span></div>
                </a>
            </div>
        </div>
        <div class="vdp-wrap vdp-wrap-3child vdp-child-center">
            <div class="vpd-block">
                <a href="https://www.signs.com/design/?id=bafac03a-0c0e-4bd0-9482-5de8613f35bb">
                    <div class="img-wrap">
                        <img src="https://www.signs.com/content/assets/filelibrary/ApricotLane-Mocklarge-13544.jpg"
                             alt="Apricot Lane Mock Large">
                    </div>
                    <div class="content-wrap"><p class="content-title">Circle Stripe - Large</p><span class="details">48x8.75</span></div>
                </a>
            </div>
            <div class="vpd-block">
                <a href="https://www.signs.com/design/?id=88990b1d-155a-497d-b87e-a09d63ddb5b7">
                    <div class="img-wrap">
                        <img src="https://www.signs.com/content/assets/filelibrary/ApricotLane-Mockmedium-13543.jpg"
                             alt="Apricot Lane Mock Medium">
                    </div>
                    <div class="content-wrap"><p class="content-title">Circle Stripe - Medium</p><span class="details">36x6.88</span></div>
                </a>
            </div>
            <div class="vpd-block">
                <a href="https://www.signs.com/design/?id=604b7f32-beb3-4a67-b48c-3d11723e0d40">
                    <div class="img-wrap">
                        <img src="https://www.signs.com/content/assets/filelibrary/ApricotLane-Mocksmall-13542.jpg"
                             alt="Apricot Lane Mock Small">
                    </div>
                    <div class="content-wrap"><p class="content-title">Circle Stripe - Small</p><span class="details">24x6</span></div>
                </a>
            </div>
        </div>
    </div>
</section>
