<style >
#in-progress-overlay {
    position: fixed !important;
}

.img-wrap img {
    width: 100%;
}

.section-hero-portal, .section-hero-portal * {
    box-sizing: border-box;
    font-family: "ITC Avant Garde Std Md";
}

.section-default-portal {
    padding-bottom: 80px;
}

.section-hero-portal {
    color: #000000;
    padding: 30px 0 30px;
}

    .section-hero-portal .img-wrap {
        max-width: calc(100vw / 1.9);
        margin: 0 auto;
    }

.section-visual-display-portal .section-title {
    text-align: center;
    font-size: 2.2vw;
    line-height: 1;
    padding: 10px 0;
    margin-bottom: 80px;
    text-transform: uppercase;
    letter-spacing: 9px;
}

    .section-visual-display-portal .section-title h1 {
        font-weight: 500;
    }

.section-store-toolbox .section-title {
    background: #888daa;
    margin-bottom: 40px;
}

#section-store-toolbox {
    padding-bottom: 20px;
}

.section-title h2 {
    font-weight: 500;
}

.section-sprint-2020 .section-title {
    margin-bottom: 40px;
}

.vdp-wrap {
    font-size: 0;
}

.content-wrap {
    font-size: initial;
    text-align: center;
    font-weight: 600;
    font-size: 1vw;
    padding: 10px 0;
}

.vdp-wrap {
    margin: 0 -20px 20px;
    /* display: flex; */
    /* justify-content: space-between; */
}

    .vdp-wrap .vpd-block {
        padding: 0 20px;
    }

.itheme-light-orange {
    background: #ff9900;
}

.itheme-light-yellow {
    background: #fde0a0;
}

.itheme-dark-orange {
    background: #b45f06;
}

.itheme-pink {
    background: #f27478;
}

.itheme-violet {
    background: #898daa;
}

.itheme-flesh {
    background: #faaf90;
}

.section-visual-display-portal-category .content-wrap {
    color: #000201;
    padding: 0;
}

.section-visual-display-portal-category .content-title {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 24px;
    font-weight: 500;
    padding: 8px 0;
}

.vdp-wrap-2child .vpd-block {
    max-width: calc(100vw / 5.63);
    padding: 0 20px;
    margin: 0 5vw;
    vertical-align: middle;
}

.vdp-wrap-3child .vpd-block {
    max-width: calc(100vw / 5.63);
    padding: 0 20px;
    margin: 0 2.6vw;
}

.vdp-wrap-4child .vpd-block {
    max-width: calc(100vw / 5.63);
    padding: 0 20px;
}

.vdp-wrap-3child.vdp-child-left {
}

.vdp-child-left {
    margin: 0 -2.4vw 20px;
}

    .vdp-child-left .vpd-block {
        margin: 0 1.3vw;
    }

.vdp-child-center {
    text-align: center;
}

.vdp-wrap-child-height .img-wrap {
    height: 290px;
}

    .vdp-wrap-child-height .img-wrap img {
        object-fit: contain;
        height: 100%;
    }

.vpd-block, .vpd-block a {
    display: inline-block;
}

.vpd-content-wrap-none .content-wrap {
    display: none;
}

#section-sprint-2020 {
    padding-bottom: 0;
}

@media (max-width: 1680px) {
    .vdp-child-left {
        margin: 0 -2.5vw 20px;
    }

    .vdp-wrap-4child .vpd-block, .vdp-wrap-3child .vpd-block {
        max-width: calc(100vw /5.58);
    }
}

@media (max-width: 1600px) {
    .vdp-child-left {
        margin: 0 -2.42vw 20px;
    }

    .vdp-wrap-4child .vpd-block, .vdp-wrap-3child .vpd-block {
        max-width: calc(100vw /6);
    }
}

@media (max-width: 1536px) {
    .vdp-wrap-4child .vpd-block, .vdp-wrap-3child .vpd-block {
        max-width: 271.17px;
    }
}

@media (max-width: 1440px) {
    .vdp-wrap-4child .vpd-block, .vdp-wrap-3child .vpd-block {
        max-width: 253.6px;
    }

    .vdp-child-left {
        margin: 0 -2.7vw 20px;
    }

    .section-visual-display-portal-category .content-title {
        font-size: 20px;
    }
}

@media (max-width: 1366px) {
    .vdp-wrap-4child .vpd-block, .vdp-wrap-3child .vpd-block {
        max-width: 239.91px;
    }
}

@media (max-width: 1280px) {
    .vdp-child-left {
        margin: 0 -2.8vw 20px;
    }

    .vdp-wrap-4child .vpd-block, .vdp-wrap-3child .vpd-block {
        max-width: 223.6px;
    }


    .section-visual-display-portal-category .content-title {
        font-size: 18px;
    }
}

@media (max-width: 1199px) {
    .vdp-child-left {
        margin: 0 -3.3vw 20px;
    }

    .vdp-wrap-4child .vpd-block, .vdp-wrap-3child .vpd-block {
        max-width: 177.6px;
    }

    .section-visual-display-portal-category .vdp-wrap {
        margin: 0 0 20px;
        display: flex;
        justify-content: space-between;
    }

    .section-visual-display-portal-category .vdp-wrap-4child .vpd-block {
        max-width: initial;
        padding: 0;
        flex: 0 0 calc(22vw - 10px);
    }

    .section-visual-display-portal-category .content-title {
        font-size: 18px;
    }
}

@media (max-width: 991px) {
    .vdp-child-left {
        margin: 0 -3.7vw 20px;
    }

    .vdp-child-left {
        margin: 0 -20px 20px;
    }

    .vdp-wrap-4child .vpd-block, .vdp-wrap-3child .vpd-block {
        max-width: 155.7px;
        margin: 0 0;
    }

    .content-wrap {
        font-size: 12px;
    }

    .section-visual-display-portal-category .section-title {
        margin-bottom: 50px;
    }

    .section-visual-display-portal-category .vdp-wrap-4child .vpd-block {
        flex: 0 0 calc(23vw - 5px);
    }

    .section-visual-display-portal-category .content-title {
        font-size: 14px;
    }
}

@media (max-width: 800px) {
    .standardWidth {
        margin-top: 69px;
    }
    #covid-19-bar ~ .standardWidth {
        margin-top: 0;
    }

    .section-default-portal {
        padding-bottom: 30px;
    }
}

@media (max-width: 768px) {
    .vdp-wrap-4child .vpd-block, .vdp-wrap-3child .vpd-block {
        max-width: 141.7px;
    }
}

@media (max-width: 767px) {
    .section-visual-display-portal-category .vdp-wrap {
        flex-flow: row wrap;
        justify-content: space-around;
    }

    .section-visual-display-portal-category .vdp-wrap-4child .vpd-block {
        flex: 0 0 calc(35vw - 5px);
    }

    .section-visual-display-portal-category .content-title {
        font-size: 14px;
    }
}

@media (max-width: 575px) {
    .section-visual-display-portal .section-title h1 {
        letter-spacing: 3px;
    }

    .section-title h2 {
        letter-spacing: 3px;
    }

    .section-visual-display-portal .section-title {
        margin-bottom: 40px;
    }

    .section-hero-portal .img-wrap {
        max-width: initial;
    }

    .section-visual-display-portal .section-title {
        font-size: 24px;
    }

    .vdp-wrap-2child .vpd-block {
        max-width: initial;
        margin-bottom: 40px;
    }

        .vdp-wrap-2child .vpd-block:last-child {
            margin-bottom: 0;
        }

    .vdp-wrap-4child .vpd-block, .vdp-wrap-3child .vpd-block {
        max-width: initial;
        margin-bottom: 20px;
    }

    .content-wrap {
        font-size: 18px;
    }

    .vdp-wrap-4child .vpd-block:last-child, .vdp-wrap-3child .vpd-block:last-child {
        margin-bottom: 0;
    }

    .section-visual-display-portal-category .vdp-wrap {
        justify-content: center;
    }

    .section-visual-display-portal-category .vdp-wrap-4child .vpd-block {
        flex: 0 0 100%;
    }

    .section-visual-display-portal-category .content-title {
        font-size: 20px;
    }

    .vdp-wrap-4child .vpd-block, .vdp-wrap-3child .vpd-block {
        width: 100%;
        box-sizing: border-box;
    }
}

</style >
