<!-- Hero Section -->
<section class="section-hero-full-width">
  <div class="hero-head">
    <h1>X Banners</h1>
    <ul class="hero-list">
      <li class="hero-list-item">Includes Banner & Stand</li>
      <li class="hero-list-item">Free Design Services</li>
      <li class="hero-list-item">1 Day Turn Time</li>
    </ul>
  </div>
  <div class="hero-body">
    <div class="hero-img-wrap">
      <img
        class="hero-img"
        src="https://www.signs.com/content/assets/filelibrary/X-Banners-8643.jpg"
        alt="X Banners"
      />
    </div>
  </div>
</section>
<!-- View FAQ -->
<div class="faq-search-links">
  <a href="#product-faq" class="scroll-link"
    >View all FAQ's<span class="caret"></span
  ></a>
</div>
<!-- Everything included with your -->
<section class="section-default section-package-inclusion">
  <div class="standard-container">
    <h2>Everthing Included With Your X Banner</h2>
    <ul class="package-inclusion-list">
      <li class="package-inclusion-item">
        <div class="img-wrap">
          <img
            src="https://www.signs.com/content/assets/filelibrary/Technology-X-Banner-8644.jpg"
            alt="13 oz Vinyl Banner"
          />
        </div>

        <div class="package-details">
          <h3>13 oz Vinyl Banner</h3>
          <p>(with Full Color Digital Printing)</p>
          <a href="#featuredSection_js" class="features-link scroll-link"
            >See Features</a
          >
        </div>
      </li>
      <li class="package-inclusion-item">
        <div class="img-wrap">
          <img
            src="https://www.signs.com/content/assets/filelibrary/X-Stand-8645.jpg"
            alt="X Stand"
          />
        </div>
        <div class="package-details">
          <h3>X Stand</h3>
          <p>(made from durable aluminum & fiberglass)</p>
          <a href="#featuredSection_js" class="features-link scroll-link"
            >See Features</a
          >
        </div>
      </li>
      <li class="package-inclusion-item package-inclusion-item-sm">
        <div class="img-wrap">
          <img
            src="https://www.signs.com/content/assets/filelibrary/XStandBag2-8646.jpg"
            alt="Free Travel Bag"
          />
        </div>
        <div class="package-details">
          <h3>Free Travel Bag</h3>
          <p>(holds banner and stand)</p>
        </div>
      </li>
    </ul>
  </div>
</section>
<!-- What are Wooden Signs? -->
<section class="section-default section-what-are sectionComeGo_js">
  <div class="standard-container">
    <div class="what-are-content-wrap comeGoChildWrap_js">
      <h2>What Are X Banners?</h2>
      <p>
        The X Banner is the best lightweight and portable solution for your
        on-the-go display needs. Your design will be printed on 13 oz. vinyl
        which will allow your display a long lasting and clear image for years
        to come. The unique feature of this display option is the stand itself,
        which is made from a fiberglass reinforced aluminum, giving lightweight
        durability that lends to the portability of this banner. This easy to
        set up design allows for quick and simple placement at trade shows,
        conferences, presentations, business meetings and so much more.
      </p>
      <p>
        Once you’re finished using your custom X Banner, it folds up just as
        fast as it took to set it up. Placing the folded stand and banner in its
        travel bag will allow you to take this versatile banner anywhere you
        might need it.
      </p>
    </div>
    <div class="what-are-img-wrap comeGoImageWrap_js">
      <img
        src="https://www.signs.com/content/assets/filelibrary/medical-x-banner-8647.jpg"
        alt="X Banners"
      />
    </div>
  </div>
</section>
<!-- Section Features -->
<section class="section-default section-signs-features" id="featuredSection_js">
  <div class="standard-container">
    <h2>X Banner Stand Features</h2>
    <div class="featured-body">
      <div class="featured-img-wrap">
        <img
          src="https://www.signs.com/content/assets/filelibrary/Education-shadowed-x-banners-8648.jpg"
          alt="X Banner Stand Features"
        />
      </div>
      <ul class="signs-featured-list">
        <li class="signs-featured-item">
          <h3>
            Made from 13oz Vinyl
          </h3>
          <p>
            All of our X Banners are printed on strong and durable 13oz Vinyl
          </p>
          <img
            src="https://www.signs.com/content/assets/filelibrary/Made-from-13oz-Vinyl-8652.png"
            alt="Made from 13oz Vinyl"
          />
        </li>
        <li class="signs-featured-item">
          <h3>Full Color Digital Printing</h3>
          <p>
            Print your X Stand Banner using any combinations of colors at not
            additional charge. Each graphic is printed using world-class
            printers and industry-leading technology.
          </p>
          <img
            src="https://www.signs.com/content/assets/filelibrary/Full-Color-Digital-Printing-8650.png"
            alt="Full Color Digital Printing"
          />
        </li>
        <li class="signs-featured-item">
          <h3>Aluminum & Fiberglass Stand</h3>
          <p>
            The X stand is made of fiberglass-reinforced aluminum. This provides
            the flexibility needed to tightly display the graphic all while
            acting as a sturdy display for any indoor event.
          </p>
          <img
            src="https://www.signs.com/content/assets/filelibrary/Aluminum-Fiberglass-Stand-8649.png"
            alt="Aluminum & Fiberglass Stand"
          />
        </li>
        <li class="signs-featured-item">
          <h3>Quick & Easy Attachment</h3>
          <p>
            Set up and attachment could not be easier for the X Banner and stand
            we provide. The stand sets up naturally and then the 4 grommets on
            the corners of the banner attach immediately to each corresponding
            hook on the stand.
          </p>
          <img
            src="https://www.signs.com/content/assets/filelibrary/Quick-Easy-Attachment-8651.png"
            alt="Quick & Easy Attachment"
          />
        </li>
      </ul>
    </div>
  </div>
</section>
<!-- Section Size Comparison -->
<div class="section-default section-comparison">
  <div class="standard-container">
    <h2>Size Comparison</h2>
    <p>
      We offer two different sizes for our X Banners, being 24” wide x 63” tall
      or 32” wide x 71” tall.
    </p>
    <small>
      The size dimensions we refer to is for the banner rather than the stand.
      The stand is the same height and width when extended.
    </small>
    <h3>Sizing Chart</h3>
    <div class="img-wrap">
      <img
        src="https://www.signs.com/content/assets/filelibrary/X-Banner-Size-Comparison-8654.jpg"
        alt="X Banner Size Comparison"
      />
    </div>
    <h3>X Banners</h3>
  </div>
</div>
<script>
  /* Create Gallery Image Section */
  var namelessDiv1 = document.createElement("div");
  namelessDiv1.setAttribute("class", "section-default section-gallery-image");
  /* Edit this one where you put the image slider!!! */
  var sectionDesignServices = document.querySelector(
    ".section-comparison + .standard-separator"
  );
  sectionDesignServices.after(namelessDiv1);
  /* Create Standard Container */
  var sectionGalleryImage = document.querySelector(".section-gallery-image");
  var namelessDiv2 = document.createElement("div");
  namelessDiv2.setAttribute("class", "standard-container");
  sectionGalleryImage.appendChild(namelessDiv2);
  /* Create Section Title */
  var standardContainerGallery = document.querySelector(
    ".section-gallery-image > .standard-container"
  );
  var sectionTitle = document.createTextNode("Image Gallery");
  var titleTag = document.createElement("h2");
  titleTag.appendChild(sectionTitle);
  standardContainerGallery.appendChild(titleTag);
  /* Move gallery slider */
  var imageGallery2019 = document.querySelector(".image-gallery-2019");
  standardContainerGallery.appendChild(imageGallery2019);
</script>
<!-- Design tool and services -->
<section class="section-default design-services">
  <div class="standard-container">
    <div class="myrow">
      <div class="design-services-group">
        <h2 class="design-services-heading">Easy to Use <br />Design Tool</h2>
        <div class="img-wrap">
          <img
            class="design-services-image"
            src="https://www.signs.com/content/assets/filelibrary/X-Banner-Design-Tool-8655.png"
            alt="Design Tool for X Stand Banners"
          />
        </div>

        <p class="design-services-text">
          Create your custom X Stand Banner signs with our simple and easy
          design tool. Upload images, create objects, add text, adjust sizing,
          change color, and so much more!
        </p>
        <a href="https://www.signs.com/design/?productID=54">Check It Out</a>
      </div>

      <div class="design-services-group">
        <h2 class="design-services-heading">
          Free Professional <br />
          Design Services
        </h2>
        <div class="img-wrap">
          <img
            class="design-services-image"
            src="https://www.signs.com/content/assets/filelibrary/Design-Services-8625.jpg"
            alt="Design Services for X Stand Banners"
          />
        </div>

        <p class="design-services-text">
          Whether you need help uploading your design or are interested in
          creating something entirely new, our team of professional graphic
          designers is here to help. Nothing beats free!
        </p>
        <a href="https://www.signs.com/design-services/">Learn More</a>
      </div>
    </div>
  </div>
</section>
<!-- Section Additional Specs-->
<section class="section-default section-additional-specs">
  <div class="standard-container">
    <h2>Additional Specs</h2>
    <ul class="additional-specs-list">
      <li>
        <h3>Weight:</h3>
        <p>
          3.9 lbs (This includes the weight of the larger stand and banner. See
          the FAQ section for the weight of the smaller banner.)
        </p>
      </li>
      <li>
        <h3>Thickness:</h3>
        <p>
          .0156’ (this is the thickness of the banner, which is about the
          thickness of 4 sheets of copy paper)
        </p>
      </li>
      <li>
        <h3>Details:</h3>
        <p>
          Durable fiberglass reinforced aluminum stand, 13 oz. vinyl banner,
          travel bag (included)
        </p>
      </li>
      <li>
        <h3>Uses:</h3>
        <p>
          Recommended indoor use for tradeshows, conferences, conventions,
          business meetings, product displays, presentations. The X-Banner is
          not recommended for outdoor use.
        </p>
      </li>
      <li>
        <h3>Print Method:</h3>
        <p>
          Full color UV digitally printed
        </p>
      </li>
      <li>
        <h3>Estimated Lifespan:</h3>
        <p>3+ years with proper setup and care</p>
      </li>

      <li>
        <h3>Common Sizes</h3>
        <p>24” W x 63” H, 32” W x 71” H</p>
      </li>
    </ul>
  </div>
</section>
<!-- Section Assembling Steps -->
<section class="section-default section-assembly">
  <div class="standard-container">
    <h2>Assembling Your X Banner</h2>
    <p>
      X Banner stands are assembled by unfolding the X stand and then connecting
      the 4 corner grommets from the banner to the four corners of the stand.
    </p>
    <ul class="assembly-step-list">
      <li class="assembly-step-item">
        <div class="img-wrap">
          <img
            src="https://www.signs.com/content/assets/filelibrary/Group-979-8656.png"
            alt=""
          />
        </div>
        <p>
          Open up the base of the stand and take the poles out of the bag.
        </p>
      </li>
      <li class="assembly-step-item">
        <div class="img-wrap">
          <img
            src="https://www.signs.com/content/assets/filelibrary/Group-1081-8659.png"
            alt=""
          />
        </div>
        <p>Insert top poles into the bottom base</p>
      </li>
      <li class="assembly-step-item">
        <div class="img-wrap">
          <img
            src="https://www.signs.com/content/assets/filelibrary/Group-1061-8657.png"
            alt=""
          />
        </div>
        <p>
          Begin placing the banner grommets on the four corners of the stand and
          poles
        </p>
      </li>
      <li class="assembly-step-item">
        <div class="img-wrap">
          <img
            src="https://www.signs.com/content/assets/filelibrary/Group-1066-8658.png"
            alt=""
          />
        </div>
        <p>
          Pull banner tight and finish placing grommets on all 4 sides of the
          stand.
        </p>
      </li>
    </ul>
  </div>
</section>
<!-- Section Why signs -->
<section class="section-default section-why-signs">
  <div class="standard-container">
    <h2>Why Signs.com?</h2>
    <ul class="why-signs-list">
      <li class="why-signs-list-item">
        <img
          src="https://www.signs.com/content/assets/filelibrary/running-8309.jpg"
          alt="Quick Turnaround"
        />
        <h3>Quick Turnaround</h3>
        <p>
          Order by 5PM EST and we’ll have your X banner completed and shipped
          within 2-4 business days
        </p>
      </li>
      <li class="why-signs-list-item">
        <img
          src="https://www.signs.com/content/assets/filelibrary/box-8310.jpg"
          alt="Free Shipping over $75*"
        />
        <h3>Free Shipping over $75*</h3>
        <p>
          For custom X banner sign orders over $75 your order ships free!
        </p>
        <span class="extra">
          *Excludes rigid signs over 36” in either dimension. Contiguous US.
        </span>
      </li>
      <li class="why-signs-list-item">
        <img
          src="https://www.signs.com/content/assets/filelibrary/award-8381.jpg"
          alt="Award Winning Customer Service"
        />
        <h3>Award Winning Customer Service</h3>
        <p>
          Winners of numerous customer service awards, our customer experience
          team keeps you as their number one priority throughout your entire
          experience with Signs.com.
        </p>
      </li>
    </ul>
  </div>
</section>
<!-- Section Related Products -->
<section class="section-default section-related-products">
  <div class="standard-container">
    <h2>Related Products</h2>
    <a href="/retractable-banners/">
      <figure>
        <img
          src="https://www.signs.com/content/assets/filelibrary/RetractableBanner-TopNav-01-8662.png"
          alt="Retractable Banners"
        />
        <figcaption>Retractable Banners</figcaption>
      </figure>
    </a>
    <a href="/tension-fabric-stands/">
      <figure>
        <img
          src="https://www.signs.com/content/assets/filelibrary/Tension-Stands-TopNav-8660.png"
          alt="Tension Fabric Stand"
        />
        <figcaption>Tension Fabric Stand</figcaption>
      </figure>
    </a>
    <a href="/trade-show-signs/">
      <figure>
        <img
          src="https://www.signs.com/content/assets/filelibrary/Trade-show-display-8661.png"
          alt="Tradeshow Displays"
        />
        <figcaption>Tradeshow Displays</figcaption>
      </figure>
    </a>
  </div>
</section>
<!-- FAQ -->
<div id="faq" class="faqmain">
  <div class="standard-container">
    <div class="faq-section-header">Product Specs</div>
    <ul class="signs-faq-seed">
      <li>
        What is the difference between an X-Stand banner, X-Frame banner and
        &lsquo;X banner&rsquo;?
      </li>
      <li>
        For all intents and purposes, nothing! These terms are all
        interchangeable and refer to what we offer on this page. I.e. a portable
        and versatile frame with an accompanying 13 oz. vinyl banner.
      </li>
      <li>What material is your X-Stand banner made out of?</li>
      <li>
        The banner itself is a 13 oz. vinyl, which is an extremely durable and
        attractive material.<br /><br />
        The X-Stand frame itself is comprised of a fiberglass reinforced
        aluminum frame with plastic joints, allowing for lightweight durability
        that is unique to this foldable sign.
      </li>
      <li>Do the banners have a hem around the edge?</li>
      <li>
        The banners used with the X-Stand as described on this page do not have
        a hemmed edge. Our standard vinyl banners that do not come with an
        X-Stand can have a welded hem.
      </li>
      <li>How are the banners attached to the X-Stand?</li>
      <li>
        Each banner is designed with metal grommets placed in each corner of the
        banner to secure it to the stand. The grommeted holes in the banner then
        attach to hooks which are part of the arms of the X-Stand. This can be
        seen in the picture gallery on this page.<br /><br />
      </li>
      <li>Are there different material options for the stand too?</li>
      <li>
        As of right now we do not offer any other material options for our
        stand. In our experience, the aluminum stand is suitable for all display
        purposes because of its simple, lightweight design.
      </li>
      <li>What is the lifespan of your X-Stand banner?</li>
      <li>
        When properly stored and cared for, the X-Stand banner will last 3+
        years. Using the X-Stand banner indoors will add to its lifespan.
        Outdoor use will increase the likelihood of being damaged or worn over
        time. While outdoor use may work just fine we recommend that the X-Stand
        banner primarily be used indoors and outdoor use be limited. Please see
        the question below for further details about outdoor use.
      </li>
      <li>
        Will exposure to sun or the elements affect the quality of the banner?
        Can I use it outdoors?
      </li>
      <li>
        Though we do not recommend using the X-Stand banner outdoors, if you do
        place it in direct sunlight it can diminish the quality of the design on
        the banner over time. Nonetheless, a visible negative impact from
        sunlight would require an extended period in direct sunlight. For
        regular day to day use in which the banner is set up and taken down the
        sunlight will not negatively affect the printed banner.<br /><br />
        Harsh weather conditions, like heavy wind or rain, can cause damage to
        the banner and stand. The lightweight frame does not make it ideal for
        displaying outdoors. Thus, we recommend using the X-Stand banner indoors
        for more temporary needs and our
        <a style="color: #3fa9f5;" href="https://www.signs.com/banners/"
          >custom vinyl banners</a
        >
        for extended or permanent outdoor use.
      </li>
      <li>How small or big can my X-Stand banner be?</li>
      <li>
        We offer the X-Stand banner in two different sizes: 24&rdquo; W x
        63&rdquo; H and 32&rdquo; Wx 71&rdquo; H.
      </li>
      <li>What are the weights of each size of X-Stand banner?</li>
      <li>
        The weights for each are as follows (includes stand plus banner):<br />Smaller
        - 3.3 lbs<br />Larger - 3.9 lbs
      </li>
      <li>Can the X-Stand fit different sizes of banners? Is it adjustable?</li>
      <li>
        The X-Stand is designed to support the banner that it comes with. If you
        order a 24&rdquo; W x 63&rdquo; H banner with a stand, the stand will
        only be able to support that banner size. The height of the stand is not
        adjustable, but the bottom anchor points where the banner is connected
        to the stand can slide up and down to ensure that the banner is taut and
        wrinkle free.
      </li>
      <li>If I print my banner in more than one color am I charged more?</li>
      <li>
        Because we print all of our banners in full color you will not be
        charged extra for using multiple colors in your design. The cost of the
        banner will only be affected if you increase the size of the banner of
        the quantity of banners you purchase.
      </li>
      <li>Do I have to use one of your templates for my X-Stand banner?</li>
      <li>
        Our templates are provided as a general guide which you do not have to
        use. If you have a design that you want to use for your banner, feel
        free to upload it using our design tool. If you&rsquo;re still not sure
        how to incorporate your own design, we can offer
        <a style="color: #3fa9f5;" href="https://www.signs.com/design-services/"
          >free design help</a
        >. Just give us a call or email with your questions and we&rsquo;ll help
        you to the best of our ability.
      </li>
      <li>What if my banner is wrinkled? How do I remove the wrinkles?</li>
      <li>
        If your banner is wrinkled or creased we recommend placing the banner in
        direct sunlight for a few hours to help the vinyl stretch, removing any
        wrinkles. If you do not have access to direct sunlight, using a hand
        steamer can also assist in removing wrinkles. Do not use an iron to get
        rid of any creases as this may damage your banner.
      </li>
      <li>
        Will any banner with 4 grommets in the corners work with the stand?
      </li>
      <li>
        Technically speaking, yes, any 4 grommet banner will work with the stand
        as long as the banner is the correct size. Nonetheless, we do recommend
        using our banners to ensure that it fits properly on the stand.
      </li>
      <li>Is the banner a matte or glossy finish/appearance?</li>
      <li>
        The vinyl material of the banner will have a semi-gloss finish, whereas
        the ink that is used in your design will have a matte finish. If your
        design covers the entire area of the banner, including colored
        backgrounds, then the banner will have a matte finish.
      </li>
      <li>Is the 13 oz. vinyl fire resistant?</li>
      <li>
        Yes, our vinyl banners are fire resistant and have passed the California
        State Fire Marshal, NFPA 701 Flame Test. Of course, we do not recommend
        placing your banners near open flames or extreme heat.
      </li>
      <li>Can the banner be double sided?</li>
      <li>
        The banners included with the X-Stand are not double sided. But, in
        theory, if you have a banner that is double sided that fits the X-Stand,
        you can attach it and flip the banner for different display purposes.
      </li>
      <li>
        I have a banner in a different material of this exact size. Will that be
        interchangeable?
      </li>
      <li>
        It is possible that it could be used with the X-Stand, but we cannot
        guarantee that it will fit or not.
      </li>
      <li>
        Is the travel bag included with my purchase of the banner and stand?
        What fits inside?
      </li>
      <li>
        The travel bag is included with your purchase. The travel bag has a
        drawstring at the top to close it. The stand and two poles that make up
        the stand portion of your purchase will fit inside the bag. The banner
        can also easily be rolled up, with the design on the inside, and
        transported inside the bag.<br /><br />Please note that this travel bag
        differs from the carrying case that come with the feather and flag
        banners that we offer. These two transport options are not
        interchangeable across products. There is no additional optional
        carrying case for our X-Stand banners.
      </li>
      <li>Does the travel bag have a handle or strap?</li>
      <li>
        The travel bag has an easy to use strap attached to it in order to sling
        the bag and contents over one&rsquo;s shoulder for easy transport.
      </li>
      <li>Can I order a replacement for my travel bag?</li>
      <li>
        At this time we do not offer a replacement for the travel bag only.
      </li>
      <li>What other banner types do you offer?</li>
      <li>
        At Signs.com, we offer a variety of banner types for an unlimited range
        of uses. We offer
        <a style="color: #3fa9f5;" href="https://www.signs.com/banners/"
          >standard vinyl banners</a
        >,
        <a style="color: #3fa9f5;" href="https://www.signs.com/fabric-banners/"
          >fabric banners</a
        >, feather banners, teardrop banners, and
        <a
          style="color: #3fa9f5;"
          href="https://www.signs.com/retractable-banners/"
          >retractable banners</a
        >. All of our banners are a high quality signage solution that will meet
        your display and advertising needs.
      </li>
      <li>How does the X-Stand banner differ from your retractable banner?</li>
      <li>
        Though similar in purpose and portability, there are differences that
        set these two banners apart. The X-Stand banner folds out and is
        supported by three legs, making it stable on the ground. This feature
        does mean that it takes up a little more floor space. The retractable
        banner is a single metal base that the banner rolls up into, which, when
        assembled, doesn&rsquo;t take up a lot of floor space.<br /><br />The
        sizes of banners offered for each product differ as well. With the
        X-Stand, you will be able to produce smaller sizes compared to the
        retractable banner. The retractable banner does offer the tallest banner
        between the two, measuring at 88&rdquo; in height.<br /><br />Both the
        X-Stand and Retractable banners offer a portable and effective banner to
        be used for temporary uses such as events, conferences, presentations
        and even point of purchase advertising. The retractable banner will most
        likely be a little more durable due to the construction of the base when
        compared to the X-Stand banner but will also be more expensive. For
        many, it is a simple matter of preference when choosing between these
        similar products.
      </li>
      <li>Will my banner tear?</li>
      <li>
        Our banners are made from a durable 13 oz vinyl that is resistant to
        tearing up to 67 lbs x 64 lbs of pressure. It is highly unlikely that
        your banner will tear.
      </li>
      <li>
        Are there any options available to help weigh down or secure the stand
        like your teardrop or feather banners?
      </li>
      <li>
        We do not currently offer any weights or ropes to help secure your
        X-Stand. The stand is not designed with any specific anchor points where
        a weight or rope can be secured. It could be possible to secure the
        stand by adding weight or tying it down, though it is not intended to be
        modified in such way. For this reason, we recommend indoor use only.
      </li>
      <li>
        Can I purchase just a replacement banner without ordering a stand and
        travel bag?
      </li>
      <li>
        Yes, you can purchase a separate banner without a stand. Simply order
        the correct size vinyl banner from the site. Here are the specific sizes
        of the X-Stand frames and their corresponding banner sizes:<br /><br />Smaller
        - 24&rdquo; W x 63&rdquo; H<br />Larger - 32&rdquo; W x 71&rdquo; H
      </li>
    </ul>
    <div class="faq-section-header">Usage</div>
    <ul class="signs-faq-seed">
      <li>Can I place or use the X-Stand banner outside?</li>
      <li>
        As noted above and in theory, the X-Stand banner can be used outdoors.
        Though, we do not recommend it because of its lightweight frame. The
        stand and banner can easily be knocked over by someone or blown over by
        the wind. The banner will act like a sail and catch even the smallest
        gust of wind. We would suggest you only use the X-Stand banner indoors.
        We offer better outdoor signs including:
        <a style="color: #3fa9f5;" href="https://www.signs.com/a-frame-signs/"
          >A-Frame signs</a
        >
        or
        <a style="color: #3fa9f5;" href="https://www.signs.com/banners/"
          >vinyl banners</a
        >.
      </li>
      <li>What are X-Stand banners typically used for?</li>
      <li>
        The X-Stand banner is perfect for displaying information at conferences,
        trade shows, or presentations. It can also be used for temporary indoor
        directional signage, point of purchase displays, church events and
        services and more. The lightweight, foldable frame allows for simple
        portability for you to take on business trips or presentation tours. The
        easy setup and takedown make it an effortless and effective display
        medium. This portability combined with the travel bag will make your
        life that much easier.
      </li>
    </ul>
    <div class="faq-section-header">Installation & Care</div>
    <ul class="signs-faq-seed">
      <li>How do I best care for my X-Stand banner?</li>
      <li>
        When not using your X-Stand banner, store it in its travel bag to
        protect it from being damaged. Store it on a shelf or away from the
        ground to avoid it from being stepped on or kicked. Don&rsquo;t place
        anything on top of the folded banner when it is being stored. When set
        up, the banner should be placed in areas where it will not be bumped or
        knocked down. It&rsquo;s possible that the stand can accumulate dust or
        dirt in the areas where the parts collapse. Use water and a moist
        non-abrasive cloth to clean those areas. Cleaning the banner itself also
        requires water and a damp cloth to remove surface dirt.
      </li>
      <li>How do I setup my X-Stand banner?</li>
      <li>
        Setting up the X-Stand banner is as easy as setting up a folding chair.
        The stand will come in three separate pieces: the stand and two poles.
        Simply fold the stand out as though you are folding out an A-Frame sign.
        Once you have the stand set up, place each pole into a respective hole
        at the top of the stand. There is no need to secure the poles by a
        screw, or by twisting, they simply attach using friction. Attach the
        banner to the stand starting from the top. The grommets will fit nicely
        over the hooks on the poles. Moving to the bottom of the banner, find
        the adjustable hooks on the legs of the banner. Insert the hooks in the
        bottom grommets, then pull each attached hook down to straighten the
        banner out. Tighten the hooks by twisting the movable piece at the top
        of each hook in the clockwise direction. This will give your banner a
        crisp look while being displayed.
      </li>
      <li>How do I store my X-Stand banner?</li>
      <li>
        It is recommended that you store your X-Stand banner in its travel bag
        to protect from unwanted damage. When storing the banner, make sure it
        is rolled up nicely, not too tight, to avoid causing creases or wrinkles
        in the material.
      </li>
    </ul>
  </div>
</div>
<script>
  window.onresize = function() {
    var x;
    var sectionComeGo = document.querySelectorAll(".sectionComeGo_js");
    for (x = 0; x < sectionComeGo.length; x++) {
      if (window.innerWidth <= 768) {
        var movingSectionTitle = document.querySelectorAll(
          ".comeGoChildWrap_js > h2"
        )[x];

        var comeGoImageWrap = document.querySelectorAll(".comeGoImageWrap_js")[
          x
        ];
        movingSectionTitle.after(comeGoImageWrap);
      } else {
        var comeGoChildWrap = document.querySelectorAll(".comeGoChildWrap_js")[
          x
        ];
        var comeGoImageWrap = document.querySelectorAll(".comeGoImageWrap_js")[
          x
        ];
        comeGoChildWrap.after(comeGoImageWrap);
      }
    }
  };
  var x;
  var sectionComeGo = document.querySelectorAll(".sectionComeGo_js");
  for (x = 0; x < sectionComeGo.length; x++) {
    if (window.innerWidth <= 768) {
      var movingSectionTitle = document.querySelectorAll(
        ".comeGoChildWrap_js > h2"
      )[x];
      var comeGoImageWrap = document.querySelectorAll(".comeGoImageWrap_js")[x];
      movingSectionTitle.after(comeGoImageWrap);
    } else {
      var comeGoChildWrap = document.querySelectorAll(".comeGoChildWrap_js")[x];
      var comeGoImageWrap = document.querySelectorAll(".comeGoImageWrap_js")[x];
      comeGoChildWrap.after(comeGoImageWrap);
    }
  }
</script>

<!-- Smooth Scroll For Everthing Included With Your X Banner -->
<script>
  window.smoothScroll = function(target) {
    var scrollContainer = target;
    do {
      //find scroll container
      scrollContainer = scrollContainer.parentNode;
      if (!scrollContainer) return;
      scrollContainer.scrollTop += 1;
    } while (scrollContainer.scrollTop == 0);

    var targetY = -Math.abs($(".placeholder-sticky").innerHeight());
    do {
      //find the top of target relatively to the container
      if (target == scrollContainer) break;
      targetY += target.offsetTop;
    } while ((target = target.offsetParent));

    scroll = function(c, a, b, i) {
      i++;
      if (i > 30) return;
      c.scrollTop = a + ((b - a) / 30) * i;
      setTimeout(function() {
        scroll(c, a, b, i);
      }, 20);
    };
    // start scrolling
    scroll(scrollContainer, scrollContainer.scrollTop, targetY, 0);
  };
</script>
