/* Globals */
.caret {
  border: 6px solid transparent;
  border-top: 6px solid #5ba9f5;
  margin-top: 5px;
  margin-left: 5px;
}
figure {
  margin: 0;
}
.section-default {
  padding: 60px 0;
  text-align: center;
}
.section-default h2 {
  font-size: 30px;
  font-weight: 400;
  /* margin: 0; */
}
.section-default p {
  font-size: 20px;
  margin-bottom: 30px;
}
.section-default [class*="img-wrap"] img {
  width: 100%;
  /* height: auto; */
  /* height: 100%; */
}

.standard-container {
  max-width: 1560px;
  width: 100%;
  padding: 0 20px;
  box-sizing: border-box;
  margin: 0 auto;
}
/* Hero Section */
.section-hero-full-width {
  padding: 20px 0 25px;
}
.hero-head,
.hero-footer {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 800px;
  width: 100%;
  text-align: center;
  box-sizing: border-box;
}
.hero-head {
  margin-bottom: 35px;
}
.hero-head h1 {
  font-size: 50px;
  font-weight: 400;
  margin-bottom: 15px;
}
.hero-list {
  font-size: 0;
}
.hero-list-item:first-child:before {
  content: "";
}
.hero-list-item:before {
  content: "\2022";
  top: -1px;
  left: -3px;
  font-size: 18px;
  position: absolute;
}
.hero-list-item {
  position: relative;
  padding: 0 10px;
  font-size: 20px;
  display: inline-block;
}

.hero-body {
  margin-bottom: 20px;
}
.hero-img-wrap {
  max-width: 520px;
  margin: 15px auto 0;
  width: 100%;
}
.hero-img {
  width: 100%;
}

.hero-footer {
  margin-bottom: 20px;
}

.hero-phrase {
  font-size: 20px;
}
/* Quick Start */
.placeholder-sticky {
  padding: 0 0 30px;
}
/* Store Ratings */
#shoppersReviews {
  padding: 30px 0 0;
}
#shoppersReviews .shopper-approved-link {
  margin: 0;
}
.sa-caption {
  display: none;
}
/* View All FAQS */
.faq-search-links {
  padding: 35px 0;
  color: #5ca9f5;
  background: #fff;
  /* margin-top: -1px; */
}
/* Section Exverthing Included with your x banner */
.section-package-inclusion .standard-container h2 {
  margin-bottom: 50px;
}
.package-inclusion-list {
  justify-content: space-between;
  display: flex;
  margin: 0 -20px;
  max-width: 1240px;
  margin: 0 auto;
}
.package-inclusion-item {
  display: inline-block;
  /* vertical-align: top; */
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  flex: 0 0 auto;
  padding: 0 20px;
  max-width: 350px;
  width: 100%;
  justify-content: flex-end;
}
.package-details {
  min-height: 100px;
}
.package-inclusion-item h3 {
  font-size: 23px;
  margin-bottom: 10px;
}
.package-inclusion-item p {
  font-size: 18px;
  color: #707070;
  font-weight: 500;
  margin-bottom: 20px;
}
.package-inclusion-item .img-wrap {
  max-width: 130px;
  height: auto;
  font-size: 0;
  margin-bottom: 40px;
}
.features-link {
  color: #0097d5;
  font-weight: 500;
}
.features-link:visited,
.features-link:active {
  color: #0097d5;
}
.features-link:hover {
  color: rgba(0, 151, 213, 0.5);
}

.package-inclusion-item-sm .img-wrap {
  max-width: 380px;
  width: 100%;
  /* vertical-align: bottom; */
  margin-top: auto;
  /* margin-bottom: 60px; */
}
/* Section What are*/
.section-what-are {
  text-align: left;
  /* position: relative; */
  padding: 65px 0;
}
.section-what-are .standard-container {
  position: relative;
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  max-width: 1300px;
}
.what-are-content-wrap {
  max-width: 715px;
  align-self: center;
  margin-top: -40px;
}

.section-what-are h2 {
  margin-bottom: 57px;
}

.section-what-are p {
  margin-bottom: 20px;
  font-size: 19px;
}
.section-what-are br {
  display: none;
}
.section-what-are img {
  width: 100%;
}

.what-are-img-wrap {
  max-width: 265px;
  width: 100%;
  flex: 0 0 auto;
  /* margin-right: 110px; */
}
/* Section Featured */
.section-signs-features {
}
.section-signs-features * {
  box-sizing: border-box;
}
.featured-body {
  position: relative;
  margin-top: 40px;
  margin-bottom: 20px;
}
.section-signs-features h2 {
}
.featured-img-wrap {
  max-width: 310px;
  width: 100%;
  margin: 0 auto;
}
.signs-featured-list {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.signs-featured-item {
  position: absolute;
  text-align: left;
  display: inline-block;
  max-width: 300px;
  width: 100%;
}
.signs-featured-item h3 {
  font-size: 27px;
  margin-bottom: 8px;
  line-height: 1.5;
  font-weight: 500;
}
.signs-featured-item p {
  color: #919396;
  font-weight: 300;
  font-size: 21px;
}
.signs-featured-item:nth-child(1) {
  top: 190px;
  left: 238px;
}
.signs-featured-item:nth-child(2) {
  bottom: 141px;
  left: 211px;
  max-width: 340px;
}
.signs-featured-item:nth-child(3) {
  left: 1012px;
  top: 311px;
  max-width: 406px;
}
.signs-featured-item:nth-child(4) {
  right: 65px;
  bottom: -16px;
  max-width: 390px;
}
.signs-featured-item:nth-child(5) {
  right: 525px;
  bottom: -265px;
  max-width: 351px;
}
.signs-featured-item img {
  position: absolute;
  width: 170px;
  height: 170px;
}
.signs-featured-item:nth-child(1) img {
  right: -160px;
  top: -130px;
}
.signs-featured-item:nth-child(2) img {
  top: -118px;
  right: -155px;
}
.signs-featured-item:nth-child(3) img {
  left: -160px;
  top: -132px;
}
.signs-featured-item:nth-child(4) img {
  left: -181px;
  top: -55px;
}
.signs-featured-item:nth-child(5) img {
  top: -176px;
  left: 57px;
}
/* Section Size Comparison */
.section-comparison {
}
.section-comparison h2 {
  margin-bottom: 40px;
}
.section-comparison p {
  font-size: 20px;
  margin-bottom: 0;
}
.section-comparison small {
  color: #919396;
  font-style: italic;
  font-size: 15px;
  margin-bottom: 70px;
  display: block;
}
.section-comparison h3 {
  font-size: 24px;
  color: #919396;
  font-weight: 300;
}
.section-comparison .img-wrap {
  max-width: 830px;
  margin: 0 auto 0;
}
/* Section Gallery Image  */
.section-gallery-image {
  padding-bottom: 70px;
}
.section-gallery-image .standard-container {
  padding-left: 0;
  padding-right: 0;
}
.section-gallery-image h2 {
  margin-bottom: 20px;
}
.section-gallery-image .image-gallery-2019 {
  margin-top: 50px;
}
.section-gallery-image .image-gallery-2019 .image-gallery-slider2019 {
  margin-bottom: 0 !important;
}
.section-gallery-image .image-gallery-slider2019-thumbnails {
  margin-top: 30px;
}
/* Design tool and services */
.design-services {
}
.design-services .myrow {
  display: flex;
  justify-content: space-between;
  margin: 0 -30px;
}
.design-services .design-services-group {
  margin-top: 0;
  margin-bottom: 0;
  max-width: 710px;
  margin: 0;
  padding: 0 30px;
  flex: 0 0 auto;
  width: 100%;
  /* min-width: 0; */
}
.design-services .design-services-heading {
  margin-top: 0;
  margin-bottom: 45px;
}
.design-services .img-wrap {
  margin-bottom: 0;
  /* height: 410px; */
  max-width: 710px;
  height: auto;
}

.design-services .design-services-text {
  color: #919396;
  margin-bottom: 5px;
  font-size: 20px;
  font-weight: 400;
}
.design-services .design-services-group a {
  color: #0097d5;
  font-size: 20px;
}

/* Additional Specs */
.section-additional-specs {
  padding: 64px 0 50px;
}

.section-additional-specs .standard-container {
  margin: 0 auto;
  max-width: 813px;
  text-align: center;
  padding: 0 20px;
}

.section-additional-specs h2 {
  text-align: center;
  font-size: 25px;
  margin-bottom: 30px;
}

.section-additional-specs {
}

.additional-specs-list {
  display: inline-block;
  /* margin: 0 auto; */
  text-align: left;
  /* max-width: 778px; */
  /* width: 100%; */
}

.additional-specs-list li {
  display: flex;
  margin-bottom: 20px;
  border-bottom: 1px solid #cfcccc;
  padding-right: 10px;
}
.additional-specs-list li:last-child {
  /* border-bottom: none; */
}
.additional-specs-list li h3 {
  min-width: 210px;
  font-size: 20px;
  color: #333333;
  font-weight: 400;
  margin-right: 90px;
}

.additional-specs-list li p {
  font-size: 18px;
  color: #9f9f9f;
  margin-bottom: 18px;
  max-width: 622px;
  width: 100%;
}

/* Section Assembly Steps */
.section-assembly h2 {
  margin-bottom: 50px;
}
.section-assembly > div > p {
  max-width: 695px;
  width: 100%;
  margin: 0 auto 75px;
}
.assembly-step-list {
  display: flex;
  justify-content: space-between;
  max-width: 1398px;
  margin: 0 auto;
  display: inline-flex;
  align-items: flex-end;
  width: 100%;
}
.assembly-step-item {
  display: inline-block;
  max-width: 248px;
  width: 100%;
  vertical-align: bottom;
  padding: 0 20px;
  /* align-items: flex-end; */
  /* justify-content: flex-end; */
  flex: 0 0 auto;
}
.assembly-step-item p {
  min-height: 99px;
  margin-bottom: 0;
  /* width: 100%; */
}
.assembly-step-item .img-wrap {
  max-width: 152px;
  margin: 0 auto 45px;
  /* margin-top: auto; */
}
/* Why Signs Section */
.section-why-signs {
}
.section-why-signs h2 {
  margin-bottom: 50px;
}
.why-signs-list {
  font-size: 0;
  margin-top: 35px;
  margin: 0 -20px;
  display: flex;
  justify-content: space-between;
  max-width: 1443px;
  width: 100%;
  display: inline-flex;
}
.why-signs-list-item {
  display: inline-block;
  font-size: 20px;
  padding: 0 20px;
  box-sizing: border-box;
  max-width: 554px;
  width: 100%;
}
.why-signs-list-item .extra {
  color: #919396;
  font-size: 14px;
  max-width: 245px;
  width: 100%;
  margin: -23px auto 0;
  display: block;
  font-style: italic;
}
.why-signs-list-item img {
  margin-bottom: 10px;
}
.why-signs-list-item h3 {
  font-size: 25px;
  margin-bottom: 10px;
}
.why-signs-list-item p {
  color: #919396;
  font-size: 17px;
}
.why-signs-list-item p br {
  /* display: none; */
}
.why-signs-list-item:nth-child(1) {
  /* max-width: 267px; */
}
.why-signs-list-item:nth-child(1) p {
  /* max-width: 210px; */
  /* margin: 0 auto; */
}
.why-signs-list-item:nth-child(2) {
  /* max-width: 364px; */
}

.why-signs-list-item:nth-child(2) p {
  max-width: 325px;
  width: 100%;
  margin: 0 auto 30px;
}
.why-signs-list-item:nth-child(3) {
  /* max-width: 430px; */
}
.why-signs-list-item:nth-child(3) p {
}
.why-signs-list-item:nth-child(4) {
  max-width: 316px;
}
.why-signs-list-item:nth-child(4) p {
}

/* Section Related Products */
.section-related-products {
  padding: 65px 0;
}
.section-related-products .standard-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1567px;
  text-align: center;
}

.section-related-products h2 {
  width: 100%;
  font-size: 26px;
  margin-bottom: 40px;
}
.section-related-products .standard-container > a {
  margin: 0;
  width: 33.33%;
}
.section-related-products figure img {
  margin-bottom: 40px;
}
.section-related-products figure figcaption {
  font-size: 20px;
  font-weight: 500;
  /* color: #707070; */
}
/* FAQ */
.product-tabs-wrapper.v4 {
  margin: 0;
}
.product-tabs-wrapper #product-tab-1 {
  margin: 0;
}
.faqmain {
  margin: 0 auto;
}
.product-tabs-wrapper .faq-search-links {
  padding: 0;
  margin: 0 0 10px;
  background: initial;
}
.product-tabs-wrapper .faq-search-form {
  margin-bottom: 15px;
}
.signs-faq-2 {
  text-align: left;
}
#trustContent #trustImages {
  margin-bottom: 40px;
}
@media (max-width: 1680px) {
  /* Section What are */
  .standard-container {
    /* padding-right: 51%; */
    max-width: 1418px;
  }
  /* Section What are */
  .what-are-img-wrap {
    max-width: 270px;
  }
  /* Featured Section */
  .featured-img-wrap {
    max-width: 295px;
  }
  .featured-body {
    margin-top: 76px;
    margin-bottom: 202px;
  }
  .section-signs-features h2 {
  }
  .featured-body {
    margin-top: 60px;
    margin-bottom: 15px;
  }
  .signs-featured-item img {
    width: 160px;
    height: 160px;
  }
  .signs-featured-item:nth-child(1) {
    top: 175px;
    left: 169px;
    margin-right: 167px;
  }

  .signs-featured-item:nth-child(1) img {
    right: -160px;
    top: -120px;
  }

  .signs-featured-item:nth-child(2) {
    bottom: 100px;
    left: 151px;
  }
  .signs-featured-item:nth-child(2) img {
    top: -119px;
    right: -150px;
  }
  .signs-featured-item:nth-child(3) {
    left: 939px;
    top: 284px;
  }
  .signs-featured-item:nth-child(3) img {
    left: -160px;
    top: -120px;
  }
  .signs-featured-item:nth-child(4) {
    right: 15px;
    top: 645px;
  }
  .signs-featured-item:nth-child(4) img {
    left: -165px;
    top: -53px;
  }

  .signs-featured-item:nth-child(5) {
    right: 463px;
    bottom: -262px;
  }

  .signs-featured-item:nth-child(5) img {
    top: -161px;
    left: 57px;
  }
  /* Design Tool and Services */
  .design-services .design-services-group {
    max-width: 650px;
  }
}
@media (max-width: 1600px) {
  /* Hero Section */
  .hero-img-wrap {
    max-width: 429px;
    margin-bottom: 0;
  }
  /* Section what are */
  .standard-container {
    max-width: 1390px;
  }
  .featured-body {
    margin-top: 60px;
    margin-bottom: 40px;
  }
  .what-are-img-wrap {
    max-width: 215px;
  }
  /* Section Featured */
  .featured-img-wrap {
    max-width: 230px;
  }
  .signs-featured-item img {
    width: 145px;
    height: 145px;
  }
  .signs-featured-item:nth-child(1) {
    top: 140px;
    left: 200px;
    margin-right: 167px;
  }
  .signs-featured-item:nth-child(1) img {
    right: -130px;
    top: -106px;
  }
  .signs-featured-item:nth-child(2) {
    bottom: 26px;
    left: 177px;
  }
  .signs-featured-item:nth-child(2) img {
    top: -106px;
    right: -124px;
  }
  .signs-featured-item:nth-child(3) {
    left: 888px;
    top: 245px;
  }
  .signs-featured-item:nth-child(3) img {
    left: -145px;
    top: -110px;
  }
  .signs-featured-item:nth-child(4) {
    right: 44px;
    top: 490px;
  }
  .signs-featured-item:nth-child(4) img {
    left: -152px;
    top: -46px;
  }
  /* Design tool and services */
  .design-services .design-services-group {
    max-width: 632px;
  }
}
@media (max-width: 1536px) {
  .standard-container {
    max-width: 1271px;
  }
  /* Hero Section */
  .hero-img-wrap {
    max-width: 410px;
  }
  /* Section What are */
  .standard-container {
    max-width: 1285px;
  }
  .what-are-img-wrap {
    max-width: 220px;
  }
  /* Why Signs */
  .why-signs-list-item {
  }
  .why-signs-list-item br {
    display: none;
  }

  /* Featured Section */
  .featured-img-wrap {
    max-width: 190px;
  }
  .featured-body {
    margin-bottom: 86px;
  }
  .signs-featured-item img {
    width: 130px;
    height: 130px;
  }
  .signs-featured-item h3 {
    font-size: 24px;
  }
  .signs-featured-item p {
    font-size: 20px;
  }
  .signs-featured-item {
    max-width: 269px;
  }
  .signs-featured-item:nth-child(1) {
    top: 121px;
    left: 206px;
    margin-right: 167px;
  }
  .signs-featured-item:nth-child(1) img {
    right: -112px;
    top: -95px;
  }
  .signs-featured-item:nth-child(2) {
    bottom: -3px;
    left: 171px;
  }
  .signs-featured-item:nth-child(2) img {
    top: -90px;
    right: -85px;
  }
  .signs-featured-item:nth-child(3) {
    left: 809px;
    top: 197px;
    max-width: 294px;
  }
  .signs-featured-item:nth-child(3) img {
    left: -130px;
    top: -91px;
  }
  .signs-featured-item:nth-child(4) {
    right: 74px;
    top: initial;
    bottom: -116px;
    max-width: 355px;
  }
  .signs-featured-item:nth-child(4) img {
    left: -128px;
    top: -52px;
  }

  /* Design tool and services */
  .design-services .design-services-group {
    max-width: 587px;
  }

  /* Why signs */
  .why-signs-list-item h3 {
    font-size: 22px;
  }
  .why-signs-list-item p {
    font-size: 16px;
    margin: 0 auto 30px;
  }
  .why-signs-list-item:nth-child(1) p {
    /* max-width: 209px; */
    margin: 0 auto 30px;
  }
  .why-signs-list-item:nth-child(3) p {
    /* max-width: 203px; */
  }
  .why-signs-list-item:nth-child(4) p {
    max-width: 227px;
  }
}
@media (max-width: 1440px) {
  /* Section What are */
  .standard-container {
    max-width: 1225px;
  }
  .what-are-img-wrap {
    max-width: 216px;
  }
  /* Featured Section */
  .featured-img-wrap {
    max-width: 245px;
  }
  .featured-body {
    margin-bottom: 45px;
    margin-top: 40px;
  }
  .signs-featured-item h3 {
    font-size: 22px;
  }
  .signs-featured-item p {
    font-size: 18px;
  }
  .signs-featured-item img {
    width: 120px;
    height: 120px;
  }
  .signs-featured-item:nth-child(1) {
    top: 137px;
    left: 193px;
    margin-right: 167px;
    max-width: 258px;
  }
  .signs-featured-item:nth-child(1) img {
    right: -90px;
    top: -90px;
  }

  .signs-featured-item:nth-child(2) {
    bottom: 96px;
    left: 175px;
    max-width: 301px;
  }

  .signs-featured-item:nth-child(2) img {
    top: -87px;
    right: -70px;
  }
  .signs-featured-item:nth-child(3) {
    left: 779px;
    top: 231px;
    max-width: 350px;
  }
  .signs-featured-item:nth-child(3) img {
    left: -113px;
    top: -84px;
  }

  .signs-featured-item:nth-child(3) p {
    max-width: 365px;
  }
  .signs-featured-item:nth-child(4) {
    right: 21px;
    top: initial;
    bottom: -73px;
  }
  .signs-featured-item:nth-child(4) img {
    left: -128px;
    top: -62px;
  }
  .signs-featured-item:nth-child(4) p {
    max-width: 331px;
  }
  /* Design Tools and Services */
  .design-services .design-services-group {
    max-width: 555px;
  }
  /* Why Signs */
  .why-signs-list {
    margin: 0 -15px;
  }
  .why-signs-list-item {
    padding: 0 10px;
  }
}
@media (max-width: 1366px) {
  .standard-container {
    max-width: 1123px;
  }
  /* Hero Section */
  .hero-img-wrap {
    max-width: 331px;
  }
  .hero-head {
    margin-bottom: 45px;
  }
  .hero-body {
    margin-bottom: 0;
  }
  /* Section Everything Encluded */
  .package-inclusion-item {
    flex: 1 1 auto;
    /* max-width: 325px; */
  }
  .package-inclusion-item p {
    font-size: 16px;
  }
  /* Section What are  */
  .what-are-img-wrap {
  }
  /* Why Signs.com */
  .why-signs-list {
    margin: 0 -80px;
  }
  /* Design tool and services */
  .design-services .design-services-image {
    height: 374px;
    object-fit: contain;
  }

  /* Featured Section */
  .featured-img-wrap {
    max-width: 200px;
  }

  .featured-body {
    position: relative;
    margin-top: 50px;
    margin-bottom: 0;
  }
  .signs-featured-item img {
    width: 130px;
    height: 130px;
  }
  .signs-featured-item h3 {
    font-size: 20px;
    margin-bottom: 10px;
    line-height: 1.2;
  }
  .signs-featured-item p {
    font-size: 18px;
  }
  .signs-featured-item:nth-child(1) {
    top: 135px;
    left: 168px;
    margin-right: 0;
  }

  .signs-featured-item:nth-child(1) img {
    right: -77px;
    top: -105px;
  }

  .signs-featured-item:nth-child(2) {
    bottom: 46px;
    left: 154px;
    max-width: 250px;
  }
  .signs-featured-item:nth-child(2) img {
    top: -101px;
    right: -107px;
  }
  .signs-featured-item:nth-child(3) {
    left: 723px;
    bottom: initial;
    top: 219px;
    max-width: 287px;
  }

  .signs-featured-item:nth-child(3) img {
    left: -127px;
    top: -102px;
  }

  .signs-featured-item:nth-child(4) {
    right: -28px;
    top: initial;
    bottom: -23px;
  }

  .signs-featured-item:nth-child(4) img {
    left: -137px;
    top: -51px;
  }

  .signs-featured-item:nth-child(5) {
    right: 285px;
    bottom: -264px;
  }

  .signs-featured-item:nth-child(5) img {
    top: -161px;
    left: 57px;
  }
  /* Design tool and services */
  .design-services .design-services-group {
    max-width: 502px;
  }

  /* Wooden Signs */
  .section-why-signs .standard-container {
    max-width: 1232px;
  }

  /* Care and Installation */
  .section-installation ul li {
  }
  .section-installation ul li img {
    max-width: 300px;
    height: auto;
    margin-left: 20px;
  }
  /* Section Comparison */
  .section-comparison h2 {
    margin-bottom: 20px;
  }
  .section-comparison small {
    margin-bottom: 35px;
  }
  /* Section Assembly */
  .assembly-step-item {
    flex: 1 1 auto;
  }
  .assembly-step-item .img-wrap {
    max-width: 95px;
  }
}

@media (max-width: 1280px) {
  /* Hero Section */
  .hero-img-wrap {
    max-width: 395px;
  }

  /* Related Products */
  .section-related-products .standard-container {
    justify-content: space-between;
  }
  .section-related-products .standard-container > a {
  }
  .section-related-products figure img {
    max-width: 100%;
    height: auto;
  }
}

@media (max-width: 1280px) and (max-height: 720px) {
  .hero-head {
    margin-bottom: 25px;
  }
  .hero-img-wrap {
    max-width: 323px;
  }
}
@media (max-width: 1199px) {
  /* Section Everything X Banner */
  .package-inclusion-item {
    /* flex: 1 1 auto; */
  }
  .package-details {
    min-height: 114px;
  }
  .package-inclusion-item p {
    min-height: 40px;
  }
  /* Section What are */

  .what-are-img-wrap {
    max-width: 170px;
  }

  /* Section Featured */
  .section-signs-features {
    padding: 45px 0;
  }
  .section-signs-features h2 {
    margin-bottom: 20px;
  }
  .featured-body {
    margin: 0;
  }
  .featured-img-wrap {
    max-width: initial;
    margin-bottom: 15px;
    max-width: 155px;
  }
  .signs-featured-list {
    position: static;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .signs-featured-item {
    position: relative;
    min-height: 130px;
    display: block;
    left: initial !important;
    top: initial !important;
    bottom: initial !important;
    right: initial !important;
    flex: 0 0 auto;
  }
  .signs-featured-item img {
    left: 0 !important;
    top: 0 !important;
  }
  .signs-featured-item {
    padding: 0 0 0 140px !important;
    display: block;
    margin-bottom: 30px !important;
    margin-right: 0 !important;
    max-width: initial !important;
  }
  .signs-featured-item p {
    max-width: initial !important;
  }
  .signs-featured-item:nth-child(1) {
    order: 1;
  }
  .signs-featured-item:nth-child(2) {
    order: 2;
  }
  .signs-featured-item:nth-child(3) {
    order: 3;
    /* margin-bottom: 0 !important; */
  }
  .signs-featured-item:nth-child(4) {
    order: 4;
    margin-bottom: 0 !important;
  }
  .signs-featured-item:nth-child(5) {
    order: 4;
    margin-bottom: 0;
  }
  .signs-featured-item br {
    display: none;
  }
  /* Design tool and services */
  .design-services .myrow {
    margin: 0 -20px;
  }
  .design-services .design-services-group {
    max-width: 450px;
  }
  /* Customization Options */
  .customization-options-list {
    max-width: 823px;
    justify-content: space-around;
  }
  .customization-options-item {
  }
  /* Why Signs.com */
  .why-signs-list {
    margin: 0 auto;
    flex-flow: row wrap;
    max-width: 637px;
  }
  .why-signs-list-item {
    padding: 0 10px;
    flex: 0 0 auto;
    max-width: 295px !important;
    margin-bottom: 35px;
    height: auto !important;
  }
  .why-signs-list-item h3 {
    font-size: 21px;
  }
  .why-signs-list-item p {
    margin: 0 auto 0;
  }
  .why-signs-list-item .extra {
    margin-top: 9px;
  }
  /* Related Product */
  .section-related-products figure img {
    height: 236px;
    margin: 0 auto;
    display: inline-block;
  }
  /* Why Section */
  .why-signs-list {
    max-width: initial;
  }
}
@media (max-width: 991px) {
  /* Hero Section */
  .section-hero-full-width {
    padding: 70px 0 15px;
  }

  /* Section What are */

  .what-are-img-wrap {
    max-width: initial;
    position: static;
    margin-bottom: 20px;
  }
  .section-what-ovd .standard-container {
    padding: 0 20px;
    text-align: center;
  }
  .section-what-ovd h2 {
    margin-bottom: 20px;
  }

  /* Section Gallery Image  */
  .section-gallery-image .image-gallery-slider2019-thumbnails {
    margin-top: 30px;
  }

  /* Section Assembly */
  .section-assembly > div > p {
    margin: 0 auto 60px;
  }
  .section-assembly h2 {
    margin-bottom: 30px;
  }
  .assembly-step-list {
    display: block;
  }
  .assembly-step-item {
    display: block;
    margin: 0 auto 35px;
  }
  /* Why Signs.com */
  .why-signs-list {
    display: block;
    max-width: initial;
  }
  .why-signs-list-item {
    margin-bottom: 25px;
    max-width: 345px !important;
    vertical-align: top;
    display: block;
    margin: 0 auto;
    margin-bottom: 35px;
  }
  .why-signs-list-item:last-child {
    margin-bottom: 0;
  }
  .section-why-signs h2 {
    margin-bottom: 20px;
  }
  .why-signs-list-item .extra {
    margin-bottom: 20px;
  }
  .why-signs-list-item p {
    margin-bottom: 20px;
    max-width: initial !important;
    margin: 0 auto !important;
  }
  /* Design tool and services */
  .design-services,
  .design-services * {
    box-sizing: border-box;
  }
  .design-services .myrow {
    display: block;
    margin: 0;
  }
  .design-services .design-services-group {
    margin: 0 auto 40px;
    max-width: initial;
    padding: 0;
  }
  .design-services .design-services-image {
    height: auto;
    width: 100%;
    max-width: 693px;
  }
  .design-services .design-services-group:nth-child(2) {
    margin-bottom: 0;
  }
  .design-services-heading > br {
    display: none;
  }
  .design-services .design-services-heading {
    margin: 0 0 20px;
    max-width: initial;
    width: 100%;
    padding: 0 20px;
  }
  /* Related Product */
  .section-related-products figure img {
    height: 176px;
  }
}

@media (max-width: 768px) {
  /* Section What Are */
  .section-what-are {
    padding: 40px 0 30px;
  }
  .section-what-are .standard-container {
    display: block;
    padding: 0;
  }
  .section-what-are h2 {
    margin-bottom: 25px;
  }
  .what-are-content-wrap {
    text-align: center;
    max-width: initial;
    margin-top: 0;
  }
  .what-are-img-wrap {
    height: auto;
    width: 100%;
    margin: 0 auto 25px;
    max-width: 173px;
  }
  .what-are-img-wrap img {
    height: 100%;
  }
  .what-are-content-wrap h2,
  .what-are-content-wrap p {
    padding: 0 20px;
  }
  /* Section Store Ratings  */

  #shoppersReviews,
  #shoppersReviews * {
    display: block !important;
    padding: 0 !important;
    margin: 0 !important;
    position: static !important;
    text-align: center !important;
  }
  #shoppersReviews {
    padding: 20px 0 !important;
  }
  #shoppersReviews > br {
    display: none !important;
  }
  #shoppersReviews .shopperapproved_widget {
    height: auto !important;
  }
  #shoppersReviews .aggregateRating-container {
    display: flex !important;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
  }
  #shoppersReviews .shopper-approved-container {
    padding: 0 20px !important;
  }
  #shoppersReviews .sa_review {
    height: auto !important;
    text-align: center;
    display: flex !important;
    flex-direction: column-reverse;
  }
  #shoppersReviews .sa_review tbody > tr {
    display: flex !important;
    flex-direction: column-reverse;
    align-items: center;
  }
  #shoppersReviews .sa_comments {
    margin-top: -17px !important;
    min-height: 60px;
    height: auto;
    display: block;
    flex: 0 0 auto;
    align-items: flex-end;
    font-size: 16px;
    overflow: visible;
    margin: 0 !important;
    overflow: hidden;
  }
  #shoppersReviews .sa_location {
    display: none !important;
  }
  #shoppersReviews .sa_info > span:first-of-type {
    background: red;
    display: none !important;
  }
  #shoppersReviews .sa_info {
    height: auto;
    display: block !important;
    flex: 0 0 auto;
  }
  #shoppersReviews .sa_date {
    display: none !important;
  }
  #shoppersReviews .sa_displayname {
    font-weight: 300;
  }
  #shoppersReviews .sa_star {
    display: none !important;
  }
  #shoppersReviews .sa-caption {
    display: none !important;
  }
  #shoppersReviews script {
    display: none !important;
  }
  /* Trusted Signage provider */
  #trustContent
    .freightLight
    + #trustImages
    .trust-image-wrapper
    .footer-badge-separator {
    display: none;
  }
  #trustContent
    .freightLight
    + #trustImages
    .trust-image-wrapper
    .link-wrapper {
    position: relative;
    margin-left: 0.5px;
    margin-right: 0.5px;
  }
  #trustContent
    .freightLight
    + #trustImages
    .trust-image-wrapper
    .link-wrapper:before,
  #trustContent
    .freightLight
    + #trustImages
    .trust-image-wrapper
    .link-wrapper:after {
    content: "";
    display: block;
    width: 1px;
    height: 89px;
    background: url(/content/assets/styles/defaultStyle/images/footerBadgeSeparator.png)
      no-repeat;
    margin: 0 -1px;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
  }
  #trustContent
    .freightLight
    + #trustImages
    .trust-image-wrapper
    .link-wrapper:before {
  }
  #trustContent
    .freightLight
    + #trustImages
    .trust-image-wrapper
    .link-wrapper:after {
    right: 0;
  }
}
@media (max-width: 575px) {
  .section-default,
  .section-default > * {
    box-sizing: border-box;
  }
  .section-default {
    padding: 40px 0;
    /* overflow: hidden; */
  }
  /* Hero Section */
  .section-hero-full-width {
    padding-top: 20px;
  }
  .hero-head h1 {
    font-size: 35px;
  }

  .hero-list-item {
    font-size: 16px;
  }
  .hero-list-item:first-child:before {
    /* content: "\2022"; */
  }
  .hero-img-wrap {
    padding: 0 20px;
    box-sizing: border-box;
  }
  .hero-phrase {
    font-size: 16px;
  }

  /* Section Store Ratings  */

  #shoppersReviews,
  #shoppersReviews * {
    display: block !important;
    padding: 0 !important;
    margin: 0 !important;
    position: static !important;
    text-align: center !important;
  }
  #shoppersReviews {
    padding: 20px 0 !important;
  }
  #shoppersReviews > br {
    display: none !important;
  }
  #shoppersReviews .shopperapproved_widget {
    height: auto !important;
  }
  #shoppersReviews .aggregateRating-container {
    display: flex !important;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
  }
  #shoppersReviews .shopper-approved-container {
    padding: 0 20px !important;
  }
  #shoppersReviews .sa_review {
    height: auto !important;
    text-align: center;
    display: flex !important;
    flex-direction: column-reverse;
  }
  #shoppersReviews .sa_review tbody > tr {
    display: flex !important;
    flex-direction: column-reverse;
    align-items: center;
  }
  #shoppersReviews .sa_comments {
    margin-top: -17px !important;
    min-height: 60px;
    height: auto;
    display: block;
    flex: 0 0 auto;
    align-items: flex-end;
    font-size: 16px;
    overflow: visible;
    margin: 0 !important;
    overflow: hidden;
  }
  #shoppersReviews .sa_location {
    display: none !important;
  }
  #shoppersReviews .sa_info > span:first-of-type {
    background: red;
    display: none !important;
  }
  #shoppersReviews .sa_info {
    height: auto;
    display: block !important;
    flex: 0 0 auto;
  }
  #shoppersReviews .sa_date {
    display: none !important;
  }
  #shoppersReviews .sa_displayname {
    font-weight: 300;
  }
  #shoppersReviews .sa_star {
    display: none !important;
  }
  #shoppersReviews .sa-caption {
    display: none !important;
  }
  #shoppersReviews script {
    display: none !important;
  }
  /* Section Everything X Banner */
  .package-inclusion-list {
    display: block;
  }
  .section-package-inclusion .standard-container h2 {
    margin-bottom: 20px;
  }
  .package-inclusion-item {
    margin-bottom: 35px;
    padding-left: 0;
    padding-right: 0;
  }
  .package-inclusion-item:last-child {
    margin-bottom: 0;
  }
  .package-inclusion-item .img-wrap {
    margin-bottom: 25px;
  }
  .package-inclusion-item p {
    margin-bottom: 0;
  }
  /* Everything Included */
  .package-details {
    min-height: initial;
  }
  /* Section What Are */
  .section-what-are {
    /* padding: 40px 0; */
  }
  .what-are-img-wrap {
    max-width: 140px;
    height: auto;
  }
  /* Featured Section */
  .section-signs-features h2 {
    margin-bottom: 20px;
  }
  .featured-img-wrap {
  }

  /* Section Gallery Image */
  .section-gallery-image .standard-container {
    padding-left: 0;
    padding-right: 0;
  }
  /* Design tool and services */
  .design-services .design-services-group {
    padding: 0;
  }
  .design-services .myrow {
    margin: 0 -20px;
  }
  .design-services-heading > br {
    display: none;
  }
  .design-services .design-services-heading {
    margin: 0 0 20px;
    max-width: initial;
    width: 100%;
    padding: 0 20px;
  }

  .section-default p {
    margin-bottom: 15px;
    font-size: 18px;
    font-weight: 400;
    height: auto;
    min-height: initial;
  }
  /* Section Additional Specs */
  .section-additional-specs .additional-specs-list {
    max-width: initial;
    width: 100%;
    display: block;
  }
  .section-additional-specs h2 {
    margin-bottom: 20px;
  }
  .additional-specs-list li {
    display: block;
    text-align: center;
    padding: 0;
    text-align: left;
    border-bottom: 0;
    display: flex;
    justify-content: space-between;
    display: block;
    text-align: center;
  }
  .additional-specs-list li h3 {
    margin: 0 0 5px;
    font-weight: 400;
    font-size: 18px;
    flex: 0 0 auto;
    max-width: 116px;
    width: 116px;
    min-width: 116px;
    max-width: initial;
    width: 100%;
  }
  .additional-specs-list li p {
    font-size: 16px;
    margin-bottom: 20px;
    flex: 0 0 auto;
    width: 100%;
    max-width: 254px;
    max-width: initial;
  }

  /* Section Related Products */
  .section-related-products figure img {
    width: 90%;
    height: auto;
    max-width: 355px;
  }
  .section-related-products .standard-container > a {
    width: 100%;
    margin-bottom: 40px;
  }
  .section-related-products .standard-container > a:last-child {
    margin-bottom: 0;
  }
  /* Section Review */
  #review_image {
    display: none;
  }
  #product_page #sa_sort {
    display: block;
    margin-top: 20px;
    text-align: center;
    /* margin: 0 auto; */
    margin: 20px auto 0;
  }
  #product_page .paging {
    height: auto;
    padding: 0;
    text-align: center;
    margin-top: 30px;
  }
  #shopper_review_page {
    padding-bottom: 35px;
  }
  /* Section Assembly Steps */
  .section-assembly > div > p {
    margin-bottom: 30px;
  }
  .section-assembly h2 {
    margin-bottom: 15px;
  }
  .assembly-step-list {
    display: block;
  }
  .assembly-step-item {
    margin-bottom: 20px;
  }
  .assembly-step-item:last-child {
    margin-bottom: 0;
  }
  .assembly-step-item .img-wrap {
    margin-bottom: 20px;
  }
}
@media (max-width: 414px) {
  /* Section Quick Start */
  .sizeInput.qty {
    justify-content: flex-end;
  }
  .sizeInput.qty .size-input-qty {
    margin: 0;
  }
}
@media (max-width: 375px) {
  /* Section Feature */
  .signs-featured-item {
    padding: 0 0 0 140px !important;
  }
  .signs-featured-item img {
    width: 115px;
    height: 115px;
  }

  /* Section Additional Specs */
  .additional-specs-list li p {
    /* max-width: 225px; */
  }
}

@media (max-width: 360px) {
  /* Section Additional Specs */
  .additional-specs-list li p {
    /* max-width: 206px; */
  }
}

@media (max-width: 320px) {
  .additional-specs-list li h3 {
    /* margin: 0 0 5px; */
    /* max-width: 101px; */
    /* min-width: 0; */
  }
  .additional-specs-list li p {
    /* max-width: 163px; */
    font-size: 16px;
  }
  /* Trusted Signage provider */
  .footer-badge-separator {
    display: none !important;
  }
  .page-block-2.trust-image-wrapper {
    display: block;
    text-align: center;
  }
  #trustContent
    .freightLight
    + #trustImages
    .trust-image-wrapper
    .link-wrapper {
    display: block;
    max-width: 189px;
    width: 100%;
    margin: 0 auto 20px;
    display: inline-block;
    float: none;
  }

  .section-hero-full-width {
    padding-top: 75px;
  }
}

.section-assembly + * ~ * {
  /* display: none; */
}
