<div class="main-content-with-background">
    <div class="main-content-header">
        <div class="content-text">
            <h1>Clear Window Clings</h1>
            <div class="main-sub-title">
                <span>
                       <span>&#9679</span><span>Ships Next Business Day</span>
                </span>
                <span>
                    <span>&#9679</span> <span>No Order Minimums</span>
                </span>
                <span>
                    <span>&#9679</span> <span>Custom Sizes</span>
                </span>
                <span>
                    <span>&#9679</span> <span>Free Design Services</span>
                </span>
            </div>
        </div>
        <div class="section-image"><img class="bg-image" src="https://www.signs.com/content/assets/filelibrary/ClearWindowClingHero@3x-(1)-7165.png" alt="Clear Window Clings" /></div>
        <div class="header-text">Fully custom and repositionable window clings installed in a matter of minutes.</div>

    </div>
</div>