<h2 class="content-header">Additional Aluminum Signs</h2>
<div class="related-products">
    <div class="related-products-group">
        <a class="related-group" href="https://www.signs.com/brushed-aluminum/">
            <img class="related-image" src="https://www.signs.com/content/assets/filelibrary/additional-aluminum-signs-brushed-image-(1)-6759.png">
            <p class="related-text">Brushed Aluminum</p>
            <p class="standard-link">Learn More</p>
        </a>

        <a class="related-group" href="https://www.signs.com/reflective-aluminum/">
            <img class="related-image" src="https://www.signs.com/content/assets/filelibrary/additonal-aluminum-signs-reflective-image-(1)-6760.png">
            <p class="related-text">Reflective Aluminum</p>
            <p class="standard-link">Learn More</p>
        </a>
    </div>
</div>