<style >
img.bg-image {
    max-width: unset;
}

.main-content-with-background h1 {
    padding-top: 0px;
    font-size: 3rem;
}

.options-container .option img:hover {
    transform: scale(1.02);
}

p.indented-faq {
    margin-left: 20px;
}



.standard-separator.small {
    width: 50px;
    margin: auto;
}


.option-detail-header {
    position: relative;
}

    .option-detail-header span {
        position: absolute;
        top: -50px;
    }

span#cut-option-details {
    position: absolute;
    top: -150px;
}

img.bg-image {
    max-height: 730px;
}




.side-gs-group .quick-start-group {
    display: flex;
    align-items: flex-start;
    justify-content: unset;
    flex: unset;
    flex-direction: column;
    -webkit-flex: unset;
    padding: 0;
    flex-wrap: unset;
}

.main-content h1 {
    padding-top: 0px;
    /* max-width: 1000px; */
    font-size: 3rem;
}

.side-gs-widget {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 20px;
}

.side-gs-group.header {
    flex-direction: column;
}

    .side-gs-group.header h4 {
        font-size: 1.4rem;
        margin-bottom: 5px;
    }

    .side-gs-group.header a {
        color: #3fa9f5;
        text-decoration: underline;
        font-style: italic;
    }

.quick-start-span {
    padding: 0;
}

.quick-start-label {
    margin: 0;
}

.side-gs-group {
    display: flex;
    justify-content: space-around;
    margin: 10px;
    flex-direction: column;
}

    .side-gs-group.size-qty,
    .side-gs-group.price-button {
        flex-direction: row;
    }

    .side-gs-group .selection-container {
        display: flex;
        justify-content: space-around;
        margin: 10px;
        /* flex-direction: column; */
    }

.sizeInput span {
    height: 30px;
    padding: 0 9px;
}

.side-gs-group.header {
    flex-direction: column;
}

.side-gs-group.wImages input {
    margin-top: 3px;
    /* margin-right: 3px; */
    margin-left: auto;
}

.side-gs-group.wImages label {
    margin: 0 5px;
}

.side-gs-group img {
    width: 70%;
}

.side-gs-group.header h4 {
    font-size: 1.4rem;
    margin-bottom: 5px;
}

.side-gs-group.header a {
    color: #3fa9f5;
    text-decoration: underline;
    font-style: italic;
}

.side-gs-group .quick-start-group {
    /* display: flex; */
    align-items: flex-start;
    flex-direction: column;
    margin-left: 30px;
}

    .side-gs-group .quick-start-group .quick-start-label {
        flex: 1;
    }

    .side-gs-group .quick-start-group .sizeInput {
        justify-content: flex-start;
        align-items: flex-start;
    }

.side-gs-group .quick-start-qty .quantityLabel {
    margin-left: 10px;
}

.side-gs-group .quick-start-group .input-group {
    justify-content: flex-start;
}

.quick-start-group.quick-start-qty {
}

.side-gs-group p {
    font-weight: 400;
    font-size: 1rem;
}

    .side-gs-group p.group-header {
        font-weight: 500;
        font-size: 1.2rem;
        margin-bottom: 5px;
    }

.side-gs-group.type {
    flex-direction: column;
}

.side-gs-group .custom-dropdown select {
    width: 60%;
    padding: 5px;
    margin-top: 5px;
}

.installation-text {
    margin-top: 20px;
}

.additional-specs {
    max-width: 1600px;
}

i.fa.fa-caret-down {
    color: #3fa9f5;
}

div.option-details {
    display: flex;
    margin: 0 100px;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 40px;
}

.get-started-button.content {
    max-width: 100px;
    margin: 20px auto;
    color: white;
}

.option-details-section h3 {
    font-weight: 400;
    font-size: 2.2em;
    margin-bottom: 10px;
    text-align: center;
    margin-top: 30px;
}

img.detail-img {
    max-width: 450px;
    max-height: 700px;
    flex: 1;
}

.option-details .details {
    max-width: 700px;
    flex: 1;
    margin-left: 50px;
}

.option-details .detail {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.hero-slider .slick-slide.slick-current {
    opacity: 1;
    margin-top: 0px;
    padding: 0;
    transform: scale(1);
}

.option-details .detail h5 {
    font-size: 1.6rem;
    font-weight: 300;
    margin-bottom: 10px;
}

.option-details .detail .detail-text {
    display: flex;
    max-width: 700px;
    font-size: 1.3rem;
}

    .option-details .detail .detail-text p {
        margin-left: 20px;
    }

.spec-sections {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.spec-section {
    margin: 0 10px;
    align-self: baseline;
    flex: 1;
}

.middle-divider {
    background: -moz-linear-gradient( left, rgba(221, 221, 221, 0) 0, #ddd 10%, #ddd 50%, #ddd 90%, rgba(221, 221, 221, 0) 100% );
    background: -webkit-linear-gradient( left, rgba(221, 221, 221, 0) 0, #ddd 10%, #ddd 50%, #ddd 90%, rgba(221, 221, 221, 0) 100% );
    background: linear-gradient( to right, rgba(221, 221, 221, 0) 0, #584343 10%, #353232 50%, #ddd 90%, rgba(221, 221, 221, 0) 100% );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00dddddd',endColorstr='#00dddddd',GradientType=1);
    height: 400px;
}

    .middle-divider:before {
        content: "";
        width: 1px;
        height: 100%;
        display: flex;
        background-image: -webkit-linear-gradient(top, #fff, #000, #fff);
        background-image: -moz-linear-gradient(top, #fff, #000, #fff);
        background-image: -ms-linear-gradient(top, #fff, #000, #fff);
        background-image: -o-linear-gradient(top, #fff, #000, #fff);
        background-image: linear-gradient(top, #fff, #000, #fff);
    }

.spec-section .spec-sub-header {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 10px;
}

.option-details .detail .detail-text img {
    max-width: 150px;
    max-height: 150px;
}

.option-details .text-with-header h5 {
    margin-left: 20px;
    font-weight: 500;
}

.option-details .surface-options {
    display: flex;
    justify-content: space-between;
    max-width: 700px;
    align-items: baseline;
}

.surface-options p {
    padding: 6px;
}

.option-details .surface-option {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    /* max-width: 500px; */
    flex: 0 1 330px;
}

    .option-details .surface-option img {
        flex: 0;
        max-width: 160px;
    }

    .option-details .surface-option .underline {
        font-weight: 600;
    }

.hero-slider {
    position: relative;
    max-width: 900px;
    padding: 0;
}

.fab-section img {
    max-width: 150px;
    margin-bottom: 10px;
}

.hero-slider img {
    height: 100px;
    width: 100px;
}




.selected-image {
    width: 1000px;
    height: 630px;
}

div#new-gs {
    display: flex;
    display: none;
}

#hero-images {
    flex: 1 1 500px;
}

.midWrapper.freightLight.get-started {
    flex: 1 1 100px;
}

.selected-image img {
    width: 100%;
    height: 100%;
}

.highlight-container.what-are .highlight-text {
    text-align: left;
}

#sizing-shadow {
    background-image: url(https://www.signs.com/content/assets/filelibrary/CarMagnets2018-Sizing-4730.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 301px;
    width: 900px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.pdf-link {
    color: #3fa9f5 !important;
    text-decoration: underline;
}

.highlight-image-container.care-img {
    flex: 0.5 1 200px;
}

.options-container {
    display: flex;
    justify-content: center;
    align-items: baseline;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.text a {
    color: #3fa9f5;
}

.options-container .text {
    opacity: 0.9;
    padding: 10px;
    text-align: center;
    min-height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 20px;
}

.options-container .option {
    display: flex;
    flex-direction: column;
    flex: 1 1 300px;
    justify-content: center;
    align-items: center;
}

.how-to-install {
    display: flex;
    flex-direction: column;
    margin: 30px 80px;
}

h2.how-to-install-heading {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 50px;
}

.text-container ul {
    list-style-type: disc;
    margin-left: 60px;
    font-size: 1.2rem;
}

p.how-to-install-text {
    font-size: 1.5rem;
    text-align: center;
    max-width: 1200px;
    margin: 10px auto 10px;
}

p.how-to-install-subtext {
    text-align: center;
    font-size: 1.1rem;
}

.how-to-install p {
    text-align: center;
}

.install-steps {
    display: flex;
    flex-direction: column;
}

p.step-small-text {
    margin-left: 40px;
    font-size: 1.1rem;
    flex: 1 1 auto;
    margin-top: 20px;
}

iframe.installation-video {
    margin: auto;
    height: 300px;
    width: 400px;
}

.step {
    display: flex;
    flex: 1;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 30px;
}

    .step.hidden {
        display: none;
    }

.expand-steps {
    text-align: center;
    font-size: 1.4rem;
    cursor: default;
}

.step img {
    width: 100%;
    max-width: 400px;
}

p.step-text {
    margin-left: 40px;
    font-size: 1.5rem;
    flex: 1 1 auto;
    text-align: left;
}

p.step-asterisk {
    font-size: 1em;
    margin-left: 43px;
}

.options-container .option img {
    flex: 0;
    max-width: 100%;
}

.options-container .text h3 {
    font-size: 1.7em;
}

.options-container .text p {
    padding: 0px 20px;
    font-size: 1.2em;
}

.highlight-group ul {
    font-size: 1.3rem;
    list-style: disc;
}

.highlight-section.quick-facts {
    align-self: flex-start;
    margin-top: 100px;
}

.highlight-group ul li {
    margin-bottom: 15px;
}

.highlight-image-container img.what-are-magnets-image {
    max-width: 700px;
    align-self: flex-end;
}

.highlight-text {
    margin: 50px 0;
}

.nav-slider-container {
    /* background-color: #f5f3f3; */
}

.main-content-with-background h1 {
    padding-top: 40px;
}

.image-cont {
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
}

.spec-group {
    align-items: center;
}

.help-text {
    font-size: 2.5rem;
}

section.thickness img {
    width: 100%;
}

.spec-detail {
    flex: 0.5 1 250px;
}

div#product-1-tab-3.video-gallery {
    margin: 50px 0;
}

section#drilled-holes h2 {
    font-size: 2.5rem;
    margin-top: 40px;
    text-align: center;
}

.quick-facts-image {
    width: 100%;
}

.dh-container {
    display: flex;
    margin-top: 50px;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 40px;
}

    .dh-container img {
        max-width: 400px;
        flex: 1 1 0px;
        width: 100%;
    }

        .dh-container img.standoff {
            margin-left: auto;
        }

.dh-text-container {
    flex: 1 1 500px;
    text-align: center;
    margin: 0 100px;
    font-size: 1.5rem;
}

    .dh-text-container > * {
        margin: 20px 0;
    }

section.finished-edges h4 {
    font-weight: bold;
    font-size: 1.3rem;
}

section.finished-edges {
    font-size: 2.5rem;
}

.finished-edges .section-body ul li:before {
    content: "";
    width: 10px;
    height: 10px;
    background-color: #000;
    border-radius: 50%;
    position: absolute;
    left: 100%;
    margin-left: 10px;
    top: 10px;
}

.finished-edges .section-body ul li:after {
    content: "";
    height: 2px;
    background-color: #000;
    position: absolute;
    /* right: -215px; */
    margin-left: 15px;
    left: 100%;
    top: 14px;
    width: 165px;
}

section.finished-edges {
    margin-top: 70px;
}

.finished-edges .section-head {
    text-align: center;
}

.finished-edges .section-inner {
    display: flex;
}

.finished-edges .section-body {
    flex: 1 1 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: right;
}

    .finished-edges .section-body li {
        margin-bottom: 200px;
        position: relative;
    }

        .finished-edges .section-body li:nth-child(1) {
            margin-top: 100px;
        }

    .finished-edges .section-body ul p {
        font-size: 20px;
        font-style: italic;
        font-weight: 400;
    }

.finished-edges .section-image {
    display: flex;
    justify-content: flex-end;
    flex: 1;
}

.finished-edges .section-actions {
    text-align: center;
}

.finished-edges img {
    width: 100%;
    height: 100%;
}

@media (max-width: 1600px) {
    .finished-edges .section-body ul li:after:nth-child(1) {
        width: 105px;
    }
}

@media (max-width: 1319px) {
    .finished-edges .section-body li {
        width: 75%;
        margin-left: 20px;
    }

    .finished-edges .section-body ul li:after:nth-child(1) {
        width: 165px;
    }
}

/* Small Desktop */
@media (max-width: 1159px) {
    .finished-edges .section-body li {
        width: 70%;
    }
}

/* Tablet Portrait */
@media (max-width: 1023px) {
    .option-details .details {
        margin: auto;
        margin-top: 30px;
    }

    .finished-edges .section-body li {
        margin-left: 20px;
        margin-top: 100px;
        margin-bottom: 100px;
    }

    .finished-edges .section-inner {
        flex-direction: column-reverse;
    }
}

@media only screen and (max-width: 1000px) {
    .dh-container img {
        max-width: 300px;
    }
}
/*  Mobile  */
@media (max-width: 767px) {
    .finished-edges .section-body li {
        margin-left: 0px;
        margin-top: 0px;
        margin-bottom: 0px;
        width: 85%;
    }

    .finished-edges .section-body ul li:before {
        display: none;
    }

    .finished-edges .section-body ul li:after {
        display: none;
    }

    .finished-edges .section-body li:nth-child(1) {
        margin-top: 0px;
        margin-bottom: 50px;
    }
}

section#cut-options {
    background-size: cover;
    text-align: center;
    padding: 30px;
    background-repeat: no-repeat;
    position: relative;
}

    section#cut-options h2 {
        font-size: 2.5rem;
        margin-bottom: 20px;
        margin-top: 20px;
    }

.cut-options-container {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    flex-wrap: wrap;
}

    .cut-options-container p {
        font-size: 1.5rem;
    }

.cut-option {
    padding: 20px;
    max-width: 500px;
}

.cut-options-container img {
    width: 100%;
}

.main-content-with-background {
    color: black;
}

section.thickness h2 {
    font-size: 2.5rem;
}

section.thickness p {
    margin: 30px;
}

section.thickness {
    font-size: 1.5em;
    text-align: center;
}

.content-text {
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
    flex: 1 1 100px;
}

.fab-main {
    width: 85%;
}

.image-wrapper .vertical-align img {
    height: 390px;
}

.fab-section {
    flex: 1 1 200px;
}

.coffee-image {
    width: 100%;
}
/* ------------------------------------------------------------ *\
  	Section Tertiary
  \* ------------------------------------------------------------ */
h1.tertiary-heading {
    position: absolute;
    margin-top: 40px;
    font-size: 2.5em;
    font-weight: 500;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

.section-tertiary {
    padding: 40px 0 0;
    margin-bottom: 40px;
}

    .section-tertiary .section-head {
        text-align: center;
    }

        .section-tertiary .section-head h1 {
            font-weight: 600 !important;
            text-transform: uppercase;
            margin: 0;
            margin-bottom: 40px;
        }

    .section-tertiary .section-body {
        text-align: center;
        position: relative;
        margin: 0 auto;
        width: 1000px;
    }

        .section-tertiary .section-body > img {
            width: 100%;
        }

        .section-tertiary .section-body ul {
            list-style: none;
            margin: 0;
            padding: 0;
            text-align: left;
        }

            .section-tertiary .section-body ul h4 {
                font-weight: 600;
                font-size: 22px;
                margin: 0 0 5px;
            }

            .section-tertiary .section-body ul p {
                font-weight: 300;
                font-size: 16px;
                color: #666;
                margin: 0;
                line-height: 1.2;
                max-width: 210px;
            }

            .section-tertiary .section-body ul li {
                position: absolute;
            }

                .section-tertiary .section-body ul li:nth-child(1) {
                    left: -16%;
                    top: 20%;
                    text-align: right;
                }

                    .section-tertiary .section-body ul li:nth-child(1) img {
                        position: absolute;
                        left: 220px;
                        top: -40px;
                    }

                .section-tertiary .section-body ul li:nth-child(2) {
                    width: 380px;
                    left: 65%;
                    top: 10%;
                }

                    .section-tertiary .section-body ul li:nth-child(2) img {
                        top: -40px;
                        left: -160px;
                        position: absolute;
                    }

                .section-tertiary .section-body ul li:nth-child(3) {
                    left: 0%;
                    top: 85%;
                    text-align: right;
                }

                    .section-tertiary .section-body ul li:nth-child(3) img {
                        position: absolute;
                        top: -40px;
                        left: 220px;
                        background-color: white;
                        border-radius: 50%;
                    }

                .section-tertiary .section-body ul li:nth-child(4) {
                    left: 75%;
                    top: 40%;
                }

                    .section-tertiary .section-body ul li:nth-child(4) img {
                        position: absolute;
                        left: -160px;
                        top: -30px;
                    }

                .section-tertiary .section-body ul li:nth-child(5) {
                    width: 300px;
                    left: 69%;
                    top: 44%;
                }

                    .section-tertiary .section-body ul li:nth-child(5) img {
                    }

    .section-tertiary .section-actions {
        text-align: center;
        padding-top: 102px;
    }

@media (max-width: 1319px) {
    .section-tertiary .section-body {
    }

        .section-tertiary .section-body > img {
        }

        .section-tertiary .section-body ul li:nth-child(1) {
            left: -6%;
            top: 6%;
            text-align: right;
        }

        .section-tertiary .section-body ul li:nth-child(2) {
            left: 65%;
            top: 12%;
        }

        .section-tertiary .section-body ul li:nth-child(3) {
            left: -5%;
            top: 87%;
        }
        /*.section-tertiary .section-body ul li:nth-child(4) { left: 665px; top: 590px; }*/
        /*.section-tertiary .section-body ul li:nth-child(5) { left: 890px; top: 350px; width: 270px; }*/
        .section-tertiary .section-body ul li:nth-child(5) br {
            display: none;
        }
}
/* Small Desktop */
@media (max-width: 1159px) {
    .section-tertiary {
        overflow: hidden;
    }

        .section-tertiary .section-body {
            margin: 0 auto;
        }

            .section-tertiary .section-body > img {
            }

            .section-tertiary .section-body ul li:nth-child(1) {
                left: 0px;
                top: 20px;
            }

            .section-tertiary .section-body ul li:nth-child(2) {
                width: 280px;
                left: 740px;
                top: 100px;
            }

                .section-tertiary .section-body ul li:nth-child(2) br {
                    display: none;
                }

                .section-tertiary .section-body ul li:nth-child(2) img {
                    right: 290px;
                }

            .section-tertiary .section-body ul li:nth-child(3) {
                left: -10px;
                top: 640px;
            }

            .section-tertiary .section-body ul li:nth-child(4) {
                left: 680px;
                top: 300px;
            }
}
/* Tablet Portrait */
@media (max-width: 1023px) {
    .section-tertiary .section-head {
        margin-bottom: 60px;
    }

    .section-tertiary .section-body > img {
        width: 80%;
        margin-right: auto;
    }

    .section-tertiary .section-body {
        width: 100%;
    }

        .section-tertiary .section-body ul {
            margin-top: 30px;
            display: flex;
            flex-wrap: wrap;
        }

            .section-tertiary .section-body ul li {
                width: 100% !important;
                position: relative;
                left: 0 !important;
                right: 0 !important;
                top: 0 !important;
                bottom: 0 !important;
                padding-left: 5px;
                display: flex;
                justify-content: space-around;
                align-items: center;
            }

                .section-tertiary .section-body ul li:nth-child(1) {
                    text-align: left;
                }

                .section-tertiary .section-body ul li:nth-child(2) {
                    text-align: left;
                }

                .section-tertiary .section-body ul li:nth-child(3) {
                    text-align: left;
                }

                .section-tertiary .section-body ul li:nth-child(4) {
                    text-align: left;
                }

                .section-tertiary .section-body ul li:nth-child(1) img {
                    position: static;
                    left: 0;
                    top: 0;
                }

                .section-tertiary .section-body ul li:nth-child(2) img {
                    position: static;
                    right: 0;
                    top: 0;
                }

                .section-tertiary .section-body ul li:nth-child(3) img {
                    position: static;
                    right: 0;
                    top: 0;
                }

                .section-tertiary .section-body ul li:nth-child(4) img {
                    position: static;
                    right: 0;
                    top: 0;
                }

                .section-tertiary .section-body ul li:nth-child(5) img {
                    position: static;
                    left: 0;
                    top: 0;
                }

                .section-tertiary .section-body ul li img {
                    /*left: 0 !important; top: 0 !important;*/
                    width: 100px;
                    height: 100px;
                }

                .section-tertiary .section-body ul li ~ li {
                    margin-top: 30px;
                }

            .section-tertiary .section-body ul h4 {
                font-size: 20px;
                margin: 0px 10px 0;
                flex: 0.2 1 200px;
            }

            .section-tertiary .section-body ul p {
                flex: 1 1 200px;
                margin-right: 5px;
                max-width: none;
            }

    .section-tertiary .section-actions {
        padding-top: 40px;
    }
}
/* Mobile */
@media (max-width: 767px) {
    .section-tertiary .section-head {
        margin-bottom: 30px;
    }

    .section-tertiary .section-body > img {
    }

    .section-tertiary .section-body ul p br {
        display: none;
    }
}

body {
    font-size: 1em;
}

.highlight-container {
    background-color: white;
    color: black;
}

.highlight-section {
    margin-right: 5%;
}

.highlight-header {
    font-size: 2.5em;
}

.highlight-image-container {
    flex: 0.5 1 300px;
    margin: auto;
    align-items: center;
    display: flex;
    flex-direction: column;
}
    /*.highlight-image-container {
      flex: 0.5 1 10px;
  }*/
    .highlight-image-container.what-are {
        margin: 0;
        margin-left: auto;
    }

.highlight-group {
    color: black;
    align-items: flex-start;
}

.highlight-text.left {
    text-align: left;
    font-size: 1.5em;
    margin: 40px 0;
}

span.fab-asterisk {
    font-style: italic;
    font-size: 0.8em;
}

.content-header {
    font-size: 2.5rem;
    margin: 40px 5px;
}

.hero-image img {
    width: 100%;
}
/*.hero-image{
      background: url("https://www.signs.com/content/assets/filelibrary/CarMagnets2018-Hero-4731.png") no-repeat;
      background-size: contain;
      background-position: center;
  } */
@media only screen and (max-width: 1500px) {
    .dh-text-container {
        flex: 1 1 700px;
        margin: 0 200px;
    }

    .dh-container img {
        max-width: 400px;
        flex: 1 1 0px;
        width: 100%;
        order: 1;
    }
}

@media only screen and (max-width: 800px) {
    div.option-details {
        margin: 0 20px;
    }

    div#new-gs {
        display: none;
    }

    .main-content .main-sub-title {
        flex-direction: column;
    }

        .main-content .main-sub-title span {
            margin: 0;
            font-size: 8px;
        }

    img.bg-image {
        width: 100%;
    }

    .main-content h1 {
        font-size: 1.6rem;
        margin-top: 10px;
    }

    .spec-section {
        margin-bottom: 50px;
    }

    img.detail-img {
        max-width: 90%;
        max-height: 480px;
    }

    .middle-divider {
        display: none;
    }

    .help-text {
        font-size: 1.2rem;
    }

    .highlight-section {
        margin-left: 40px;
    }

    .highlight-container.what-are .highlight-text {
        margin-bottom: 15px;
        text-align: center;
    }

    #sizing-shadow {
        height: 201px;
        width: 600px;
    }

    .highlight-image-container.what-are {
        margin-left: auto;
    }

    .highlight-image-container img.what-are-magnets-image {
        max-width: 100%;
    }

    p.step-text {
        margin-left: 0px;
    }

    p.how-to-install-text {
        margin: 10px 20px 30px 20px;
        padding: 10px;
    }

    .how-to-install {
        margin: 0px;
    }

    p.step-small-text {
        margin-left: 0px;
        text-align: left;
    }

    .step {
        margin: 0px;
        padding: 10px;
        flex-wrap: wrap;
        margin-bottom: 25px;
    }

    .content-header {
        margin: 20px 5px;
    }

        .content-header.options {
            margin: 70px auto 20px auto;
            font-size: 1.7rem;
        }

    .hero-image {
        height: 210px;
        margin-top: 0px;
    }

    .options-container .text p {
        padding: 0px 20px;
    }

    .highlight-container {
        margin-top: 0;
    }

    .highlight-text {
        margin: 0;
    }

    h2#product-faq {
        margin: 0px;
    }

    div#product-1-tab-3.video-gallery {
        margin: 0;
    }

    section.finished-edges {
        margin-top: 20px;
    }

    .dh-text-container {
        margin: 0 10px;
    }

    .dh-container img {
        max-height: 550px;
        max-width: 220px;
    }

    .dh-container {
        margin-top: 0;
        max-height: none;
    }

    .hero-image {
        height: 210px;
        margin-top: 0px;
    }

    h1.tertiary-heading {
        margin-top: 5px;
    }

    .content-text {
        font-size: 1em;
    }

    .image-wrapper .vertical-align img {
        height: auto;
    }

    .image-cont {
        margin: 30px 0;
    }
}

input[type="checkbox"]:checked + div {
    opacity: 0;
    max-height: 0;
    border: none;
}

label [type="checkbox"] {
    color: #3fa9f5;
}

@media only screen and (min-width: 800px) {
    .circled-chevron.gallery-nav.right {
        right: 480px;
    }

    .circled-chevron.gallery-nav.left {
        left: 480px;
    }
}

@media only screen and (max-device-width: 770px) {
    .additional-specs {
        margin: 10px;
    }
}

@media only screen and (max-width: 500px) {
    .coffee-image {
        margin: 20px 0;
    }

    #sizing-shadow {
        height: 100px;
        width: 300px;
    }
}

@media only screen and (max-width: 700px) {
    .dh-container img {
        max-height: 550px;
        max-width: 200px;
    }
}

.additional-specs-section {
    margin: 60px 0;
    font-size: 20px;
}

    .additional-specs-section .specs-table {
        margin: 0 auto;
    }

        .additional-specs-section .specs-table th,
        .additional-specs-section .specs-table td {
            padding: 20px;
            text-align: center;
            color: #777;
            vertical-align: baseline;
        }

            .additional-specs-section .specs-table th:first-child,
            .additional-specs-section .specs-table td:first-child {
                display: none;
                text-align: left;
                padding-left: 0;
                color: #333;
            }

            .additional-specs-section .specs-table th:last-child,
            .additional-specs-section .specs-table td:last-child {
                width: 50%;
            }

            .additional-specs-section .specs-table td:nth-child(2) {
                border-right: 1px solid #ccc;
            }

        .additional-specs-section .specs-table th {
            color: #333;
            font-size: 20px;
            text-decoration: underline;
        }

        .additional-specs-section .specs-table .mobile-heading {
            display: block;
            color: #333;
        }

    .additional-specs-section.single-product-specs .specs-table {
        max-width: 500px;
    }

        .additional-specs-section.single-product-specs .specs-table td:nth-child(2) {
            border-right: none;
        }

        .additional-specs-section.single-product-specs .specs-table td:last-child {
            width: auto;
        }

@media (min-width: 992px) {
    .additional-specs-section .specs-table {
        max-width: 70%;
    }

        .additional-specs-section .specs-table tr:not(:last-child) > th,
        .additional-specs-section .specs-table tr:not(:last-child) > td {
            border-bottom: 1px solid #ccc
        }

        .additional-specs-section .specs-table th,
        .additional-specs-section .specs-table td {
            text-align: left;
            vertical-align: middle;
        }

        .additional-specs-section .specs-table th {
            text-align: center;
            text-decoration: none;
        }

        .additional-specs-section .specs-table .mobile-heading {
            display: none;
        }

        .additional-specs-section .specs-table th:first-child,
        .additional-specs-section .specs-table td:first-child {
            display: table-cell;
            padding-right: 0;
        }

    .additional-specs-section.single-product-specs .specs-table td:first-child {
        width: 150px;
    }
}

@media (min-width: 1500px) {
    .additional-specs-section.single-product-specs .specs-table {
        max-width: 40%;
    }

    .additional-specs-section .specs-table th:first-child,
    .additional-specs-section .specs-table td:first-child {
        width: 200px;
    }

    .additional-specs-section.single-product-specs .specs-table td:first-child {
        width: 200px;
    }
}

</style >
<!-- <script >
//$(document).ajaxStop(function () {
  //  $(window).unbind('scroll');

  //$('.hero-slider img.slick-slide').on('click', function(e) {
  //  var newImg = $(this).attr('src');
   // $('#hero-images .selected-image img').attr('src', newImg);
   // console.log(newImg);
  //});
//});
$(document).ready(function(e) {
  var inputName, selectedId, selectedText;
  var realSize = $('.product-quick-start-form-container .quick-start-size');
  var realQty = $('.product-quick-start-form-container .quick-start-qty');
  var realPriceLabel = $('.product-quick-start-form-container .priceLabel');
  var realButton = $('.product-quick-start-form-container .get-started-button');
 
  var fakeSize = '.side-gs-widget .quick-start-size';
  var fakeQty = '.side-gs-widget .quick-start-qty';
  var fakePriceLabel = '.side-gs-widget .priceLabel';
  var fakeButton = '.side-gs-widget .get-started-button';

  $(".midWrapper.freightLight").addClass("get-started").hide();
  $(".placeholder-sticky").addClass('hidden');
  realSize.clone().addClass('new-gs-size').removeAttr('id').appendTo(".side-gs-group.size-qty");
  realQty.clone().addClass('new-gs-qty').removeAttr('id').appendTo(".side-gs-group.size-qty");
  realPriceLabel.parent(".quick-start-group").clone().addClass('new-gs-priceLabel').removeAttr('id').appendTo(".side-gs-group.price-button");
  realButton.parent(".quick-start-group").clone().addClass('new-gs-button').appendTo(".side-gs-group.price-button").children().removeAttr('id');
  $(".quick-start-group .clear_0").remove();

  $(fakeSize + ' .input-group .sizeInput input').on('change', function(e) {
    inputName = $(this).attr('name');
    realSize.find('.input-group .sizeInput input[name=' + inputName + ']').val($(fakeSize + ' .input-group .sizeInput input[name=' + inputName + ']').val());
    $('option:selected', 'select.optionConfigurationDDL').first().change();
  });

  $('#cut input[type="radio"]').on('change', function(e) {
    selectedText = $("label[for='"+$(this).attr('id')+"'] p").text();
    $('#designSuite_optionsList #option-1-ddl.optionConfigurationDDL span.optionText:contains(' + selectedText + ')').parents('option').prop('selected', true);
    $('option:selected', 'select.optionConfigurationDDL').first().change();
  });

  $('#print-surface input[type="radio"]').on('change', function(e) {
    selectedId = $(this).attr('id');
    $('#designSuite_optionsList #option-4-ddl.optionConfigurationDDL option[value=' + selectedId + ']').prop('selected', true);
    $('option:selected', 'select.optionConfigurationDDL').first().change();
  });


  $(fakeQty + ' .gs-input-group .sizeInput.qty input').on('change', function(e) {
    inputName = $(this).attr('name');
    realQty.find('.gs-input-group .sizeInput.qty input[name=' + inputName + ']').val($(fakeQty + ' .gs-input-group .sizeInput.qty input[name=' + inputName + ']').val());
    $('option:selected', 'select.optionConfigurationDDL').first().change();
  });

$(document).ajaxStop(function() {
    $('.side-gs-widget span.unitPrice').text($('.product-quick-start-form-container span.unitPrice').text());
  });

$('.hero-slider').slick({
        arrows: true,
        centerMode: false,
        autoplay: false,
       // autoplaySpeed: 6000,
        //speed: 500,
        focusOnSelect: true,
        adaptiveHeight: false,
        mobileFirst: true,
        initialSlide: 0,
        infinite: false,
        variableWidth: true,
        slidesToShow: 6,
        slidesToScroll: 1,
        prevArrow: '<button class="arrowLeft"><i class="fa fa-angle-left" aria-hidden="true"></i></button>',
        nextArrow: '<button class="arrowRight"><i class="fa fa-angle-right" aria-hidden="true"></i></button>'
    });
});
</script > -->
