.hero-image img {
    max-width: 700px; }
.hero-image {
    text-align: center;
    height: unset;
}
@media only screen and (max-width: 1366px) {
    .hero-image {
        text-align: center;
        height: unset; }
    .hero-image img {
        max-width: 400px; }
    .main-content h1 {
        font-size: 2.5rem; }
    body {
        font-size: .8rem; } }

div#reviewResults{
    position:absolute;
    background-color:#fff;
    box-shadow: rgb(204, 204, 204) 0px 0px 3px;
    top:35px;
    z-index:10;
    padding:10px;
}
#product_just_stars {
    padding: 7px 0px 12px 0px !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}
#product_just_stars .on {
    width: 20px !important;
    height: 19px !important;
    display: inline-block !important;
}
.ind_cnt {
    font-size: 1rem !important;
    font-weight: 300 !important;
    text-align: center !important;
    color: #666 !important;
    width: 125px !important;
}
div#amazon-style-reviews {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
#amazon-style-reviews i {
    border: solid #666;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: .2rem;
    /* margin-left: -7px; */
    /* margin-top: -27px; */
    position: absolute;
    top: 13px;
    right: 112px;
}
.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.something-different .similar-products .product:hover {
    color: #3fa9f5;
    text-decoration: underline;
}
h3.template-table-header {
    font-size: 2em;
}
.template-table a {
    color: #3fa9f5;
}
.column-section {
    flex: 1;
}
.highlight-image-container.stakes {
    margin-right: 100px;
}
.faq-link.scroll-link {
    display: inline;
}
p.see-more-faq {
    margin: auto;
    text-align: center;
    margin-bottom: 30px;
    font-style: italic;
}
table.template-table tr {
    color: black;
}
table.template-table {
    width: 100%;
}
table.template-table tr:nth-child(3) {
    background-color: #e5e5e5;
}
table.template-table tr.table-header {
    background-color: #3c769d;
    height: 50px;
    color: white;
}
.what-are-feather-flags {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
section.text-table {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 100px;
    max-width: 50%;
    align-items: center;
}
.text-table p {
    margin: 50px 0;
    font-size: 20px;
}
img.red-barn {
    max-width: 250px;
    max-height: 750px;
}
.feather-flag-step {
    display: flex;
}
.highlight-text.sub-text {
    font-style: italic;
}
.something-different {
    text-align: center;
    margin-top: 40px;
}
.something-different h3 {
    font-size: 1.5rem;
    font-weight: 500;
    padding: 3px 0;
}
.something-different .similar-products{
    display: flex;
    flex-wrap: wrap;
    margin: 30px 50px 100px;
}
.something-different .similar-products .product {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1 1 100px;
}
.product img {
    width: 100%;
    margin-top: auto;
    margin-bottom: 5px;
}
.product p {
    margin-top: auto;
}
.highlight-img {
    max-width: 60%;
    height: auto;
    width: auto;
}

#customizable {
    background: url("https://www.signs.com/content/assets/filelibrary/FeatherFlag2018BrickWall-4436.png");
}
.column-section .highlight-section {
    margin: 8% 20% 8% 5%;
}

.column-section .highlight-group {
    color: white;
}

.assembly-feather-flag {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px auto;
}

.assembly-feather-flag-sub-header {
    margin: 0 400px;
    text-align: center;
}

.assembly-feather-flag-instructions {
    display: flex;
    justify-content: space-around;
    margin: 10px auto;
    flex-wrap: wrap;
}

.assembly-feather-flag-step {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    flex: 1 1 100px;
    margin: 25px;
}

.assembly-image {
    height: 500px;
    margin: 10px auto;
    max-width: 90%;
}

.assembly-feather-flag-text {
    font-size: 1.1em;
    text-align: center;
    font-style: italic;
}

.care-icons {
    display: flex;
    justify-content: space-around;
    margin: 30px auto;
    max-width: 1000px;
    flex-wrap: wrap;
}

.care-icons > * {
    padding-top: 10px;
}

.care-info-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    max-width: 80%;
}

.care-info-heading {
    font-size: 24px;
    text-align: center;
}

.care-info-text {
    text-align: center;
    font-size: 1.1em;
    margin: 20px;
}


.sizing-chart {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    margin-top: 30px;
    max-height: 700px;
}
.sizing-chart-container {
    display: flex;
    max-width: 1500px;
    margin: auto;
    font-size: 1.2em;
    flex-wrap: wrap;
    justify-content: center;
}
.sizing-text {
    flex: 1;
    padding: 30px;
}

.fab-section {
    flex: 1 1 450px;
}
/*
input[type=number]::-webkit-outer-spin-button, input[type=number]::-webkit-inner-spin-button { -webkit-appearance: none; margin: 0; } input[type=number] { -moz-appearance:textfield; }
*/
.spec-header {
    font-size: 2.5em;
}

.highlight-asterisk {
    color: #999999;
    text-align: center;
    font-weight: normal;
    margin: 0 auto 40px;
}
p.what-is-text {
    margin: auto;
    width: 90%;
    text-align: center;
    font-size: 1.3em;
}
.content-header {
    font-size: 3rem;
}
.highlight-header-cover {
    flex: 1 1 100%;
    text-align: left;
    max-width: 1500px;
    width: 90%;
}
.feather-main-heading {
    font-size: 40px;
    font-weight: normal;
    margin: 30px;
    text-align: center;
}
.highlight-container {
    background-color: white;
    color: black;
}
.highlight-container.black {
    background-color: #000;
    color: white;
}
.highlight-container.black .highlight-group {
    color: white;
}
.highlight-image-container {
    flex: 0.7 1 300px;
    display: flex;
    justify-content: center;
}
.highlight-image-container.left {
    justify-content: flex-start;
}
.highlight-group {
    color: black;
    align-items: flex-start;
}
.highlight-header {
    font-weight: 600;
}
.highlight-text {
    text-align: left;
}
.highlight-section {
    margin-right: 5%;
}
.help-text {
    font-size: 2.5em;
}

/*.hero-image{
    padding-top:30px;
    padding-bottom:40px;
    width: 1200px;
    height: 540px;
    background: url("https://www.signs.com/content/assets/filelibrary/FeatherFlag2018Hero-4426.png") no-repeat;
    background-size: contain;
    background-position: center;
} */

.main-sub-title p.sub-title-dot{
    font-size: 15px;
    margin: 5px;
}
p.sub-title-text {
    font-size: 1.1em;
}
@media only screen and (max-device-width: 800px) {
    .highlight-image-container.stakes {
        margin-right: 10px;
    }
    section.text-table {
        max-width: 95%;
    }
    .something-different .similar-products .product {
        margin-bottom: 30px;
        flex: 1 1 300px;
    }
    .something-different h3 {
        margin: 0 5px;
    }
    .something-different .similar-products {
        display: flex;
        flex-wrap: wrap;
        margin: 30px 50px 50px;
    }
    .sizing-chart {
        width: 100%;
        max-height: 590px;
    }
    .assembly-feather-flag-sub-header {
        margin: 0 10px;
    }

    .highlight-image-container {
        flex: 1 1 300px;
        order: -1;
    }
    #customizable .highlight-image-container {
        flex: 1 1 0px;
        order: -1;
    }
    .highlight-img {
        max-width: 90%;
    }
    .highlight-image-container.stakes {
        display: flex;
        flex-direction: column;
    }
}
table {
    border-collapse: collapse;
    margin: 5px;
}

td {
    padding: 10px;
    text-align: center;
}

.top {
    border-bottom: solid 1px black;
}

td.border {
    border-width: 0 1px 0 0;
    border-style: solid;
    border-color: black;
    -webkit-border-image:
            -webkit-gradient(linear, 0 0, 0 100%, from(black), to(#fff)) 1 100%;
    -webkit-border-image:
            -webkit-linear-gradient(black, #fff) 1 100%;
    -moz-border-image:
            -moz-linear-gradient(black, #fff) 1 100%;
    -o-border-image:
            -o-linear-gradient(black, #fff) 1 100%;
    border-image:
            linear-gradient(to bottom, white, black) 1 100%;
}


@media (max-width: 575px) {
    .main-content-header .hero-image {

    }
    .main-content-header .hero-image img {
        width: 100%;
    }
}

