.nav {
    display: flex;
    background: #e22126;
    font-size: 1.1em;
    width: 100%;
    justify-content: space-around;
    margin-top: -5px;
    flex-wrap: wrap;
}

.nav-item a {
    color: #fff;
}

.nav-item {
    padding: 20px 40px;
}

    .nav-item:hover {
        background: #961a1d;
    }

.nav-list {
    display: flex;
    background: #e22126;
    font-size: 1.1em;
    width: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: center;
}

.section-image img {
    width: 100%;
    height: auto;
}

h2 {
    font-family: 'proxima nova',sans-serif;
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: normal;
}

.welcome-message {
    display: flex;
    justify-content: center;
    margin: 2% 5% 1%;
    font-size: 2.3em;
    text-align: center;
}

.welcome-sub-message {
    display: flex;
    justify-content: center;
    margin: 0px 5%;
    font-size: 1.3em;
    text-align: center;
}

.product-header {
    font-weight: 600;
    font-size: 1em;
    padding: 0% 7%;
    text-align: left;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    margin: 0px;
    padding: 0%;
    justify-content: space-around;
}

.product-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 450px;
    max-width: 330px;
    padding: 20px 75px 75px 75px;
}

.product-image {
    max-width: 320px;
}

.product-container a:hover img {
}

.product-description {
    text-align: center;
    font-family: 'proxima nova',sans-serif;
    font-size: 15px;
    padding-bottom: 10px;
}

.product-price {
    font-size: 1.3em;
    color: #056eb7;
    padding-bottom: 10px;
}

.product-button {
    display: flex;
    flex-direction: row;
    margin: auto;
}

    .product-button a, a:visited {
        text-decoration: none;
        color: #fff;
    }

.product-btn {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #e42326, #e42326);
    background-image: -moz-linear-gradient(top, #e42326, #e42326);
    background-image: -ms-linear-gradient(top, #e42326, #e42326);
    background-image: -o-linear-gradient(top, #e42326, #e42326);
    background-image: linear-gradient(to bottom, #e42326, #e42326);
    -webkit-border-radius: 5;
    -moz-border-radius: 5;
    border-radius: 5px;
    color: #ffffff;
    font-size: 16px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    font-family: 'proxima nova',sans-serif;
}

    .product-btn:hover {
        background: #3cb0fd;
        background-image: -webkit-linear-gradient(top, #b8090f, #9e030b);
        background-image: -moz-linear-gradient(top, #b8090f, #9e030b);
        background-image: -ms-linear-gradient(top, #b8090f, #9e030b);
        background-image: -o-linear-gradient(top, #b8090f, #9e030b);
        background-image: linear-gradient(to bottom, #b8090f, #9e030b);
        text-decoration: none;
    }




/****************************************************/
/****************************************************/
/****************************************************/
/****************************************************/
/******* COPY ALL CODE BELOW FOR NEW NAVBAR *********/


#hamburger-button-portal {
    visibility: hidden;
    display: none;
}

    #hamburger-button-portal.active {
        color: white;
        background-color: #ec7275;
    }


    #hamburger-button-portal:focus {
        outline: 0;
    }


@media only screen and (max-width: 800px) {
    .nav-list {
        display: block;
        position: relative;
        background: #e22126;
        justify-content: center;
        flex-wrap: wrap;
        height: 0;
        visibility: hidden;
    }

        .nav-list.active {
            /* top: 345px; */
            height: inherit;
            visibility: visible;
        }

    .nav-item {
        border-top: 1px solid #f77575;
    }

    #hamburger-button-portal {
        visibility: visible;
        font-size: 20px;
        height: 40px;
        color: white;
        width: 150px;
        background-color: #e22126;
        border: 1px solid white;
        border-radius: 5px;
        margin: 10px;
        display: initial;
    }

    .product-container {
        padding: 20px 0px 75px 0px;
    }
}

/*  

@media only screen and (max-width: 420px) {
    .nav-list.active {
      top: 250px;
    }

}

@media only screen and (max-width: 380px) {
    .nav-list.active {
      top: 240px;
    }

}

@media only screen and (max-width: 320px) {
    .nav-list.active {
      top: 230px;
    }

}*/


