<!-- Hero Section -->
<section class="section-hero-full-width">
    <div class="hero-head">
        <h1>Custom Pop Up Displays</h1>
        <ul class="hero-list">
            <li class="hero-list-item">Easy Setup</li>
            <li class="hero-list-item">Reusable</li>
            <li class="hero-list-item">Perfect for Trade Shows</li>
            <li class="hero-list-item">Sturdy and Durable</li>
        </ul>
    </div>
    <div class="hero-body">
        <div class="hero-img-wrap">
            <img class="hero-img" src="https://www.signs.com/content/assets/filelibrary/Pop-Up-Display-Hero-web-530x550-9521.jpg" alt="Pop Up Display angled" />
        </div>
    </div>
</section>

<!-- View FAQ -->
<div class="faq-search-links">
    <a href="#product-faq" class="scroll-link">View all FAQ's<span class="caret"></span
    ></a>
</div>

<!-- What Are Rectangle Flags? -->
<section class="section-default section-what-are sectionComeGo_js">
    <div class="standard-container">
        <div class="what-are-content-wrap comeGoChildWrap_js">
            <h2>What are Pop Up Displays?</h2>
            <p>
                Pop up displays are comprised of two parts: the frame and the tension fabric. The frame, typically made of plastic, 'pops up' and the tension fabric is then stretched around it. The final product results in a large sign perfect for trade shows, conventions, and other similar events.
            </p>
            
            <p>
                There are many benefits to pop up displays. They provide a great backdrop for your booth. hey can display large amounts of information, both pictures and texts. They can be set up and taken down in a matter of minutes. On top of all that, they can be easily transported from one event to the next using the carrying case (included in all orders).
            </p>

        </div>
        <div class="what-are-img-wrap comeGoImageWrap_js">
            <img src="https://www.signs.com/content/assets/filelibrary/What-Are-Pop-Up-Displays-web-630x610-9524.jpg" alt="Pop up display with man standing in front" />
        </div>
    </div>
</section>

<!-- Section Sign Features-->
<section class="section-default section-signs-features">
    <div class="standard-container">
        <h2>Pop Up Display Features</h2>
        <div class="featured-body">
            <div class="featured-img-wrap">
                <img src="https://www.signs.com/content/assets/filelibrary/Pop-Up-Display-Features-web-1005x734-9519.jpg" alt="Pop Up Display" />
            </div>
            <ul class="signs-featured-list">
                <li class="signs-featured-item">
                    <h3>Tension Fabric:</h3>
                    <p>The 8.8 oz tension
                        polyester fabric displays
                        full color images and text
                        using a dye sublimation
                        printing process. The
                        fabric stretches to cover
                        the plastic frame and folds
                        up for easy transportation.
                        </p>
                    <div class="img-wrap"><img src="https://www.signs.com/content/assets/filelibrary/Tension-Fabric-9522.jpg" alt="Tension Fabric"></div>
                </li>
                <li class="signs-featured-item">
                    <h3>Frame:</h3>
                    <p>The frame is made from
                        a sturdy and durable
                        plastic. It uses green
                        support arms that lock
                        into place to keep the
                        pop up display upright. It
                        comes fully assembled
                        Simply lift to expand.
                        </p>
                    <div class="img-wrap"><img src="https://www.signs.com/content/assets/filelibrary/Frame-9510.jpg" alt="Plastic frame extended"></div>
                </li>
                <li class="signs-featured-item">
                    <h3>Velcro:</h3>
                    <p>The tension fabric display
                        attaches to the frame
                        using velcro attachments.
                        These velcro attachments
                        make it easy to set up and
                        remove the banner from
                        the plastic frame.                        
                    </p>
                    <div class="img-wrap"><img src="https://www.signs.com/content/assets/filelibrary/Velcro-9523.jpg" alt="Velcro"></div>
                </li>
                <li class="signs-featured-item">
                    <h3>Backdrop:</h3>
                    <p>Pop up displays have a
                        number of uses. They are
                        great for trade shows and
                        can also be used as a
                        photo backdrop.
                    </p>
                    <div class="img-wrap"><img src="https://www.signs.com/content/assets/filelibrary/Backdrop-9507.jpg" alt="Camera, showing it can be used as a backdrop for pictures"></div>
                </li>
                <li class="signs-featured-item">
                    <h3>Carrying Case:</h3>
                    <p>Each pop up display comes with its own
                        carrying case making it easy to transport.
                    </p>
                    <div class="img-wrap"><img src="https://www.signs.com/content/assets/filelibrary/Carrying-Case-9508.jpg" alt="Carrying case with two straps for carrying"></div>
                </li>
            </ul>
        </div>
    </div>
</section>

<!-- Design tool and services -->
<section class="section-default design-services">
    <div class="standard-container">
        <div class="myrow">
            <div class="design-services-group">
                <h2 class="design-services-heading">Easy to Use Design Tool</h2>
                <div class="img-wrap"><img src="https://www.signs.com/content/assets/filelibrary/Design-Tool-Mockup-9509.jpg" alt="Pop up display in Online Design Tool" /></div>
                <p class="design-services-text">Create your custom pop up displays with our simple and easy
                    design tool. Upload images, create objects, add text, adjust
                    sizing, change color, and so much more!</p>
                <a href="https://www.signs.com/design/?productID=43">Start Designing</a>
            </div>

            <div class="design-services-group">
                <h2 class="design-services-heading">Free Professional Design Services</h2>
                <div class="img-wrap"><img class="design-services-image" src="https://www.signs.com/content/assets/filelibrary/Free-Design-Services-8426.jpg" /></div>
                <p class="design-services-text">Whether you need help uploading your design or are interested
                    in creating something entirely new, our team Of professional
                    graphic designers is here to help. Nothing beats free!</p>
                <a href="https://www.signs.com/design-services/">Get Design Help Now</a>
            </div>
        </div>
    </div>
</section>

<!-- Section Additional Specs-->
<section class="section-additional-specs">
    <div class="container">
        <h2>Additional Specs</h2>
        <ul class="additional-specs-list">
            <li>
                <h3>Weight</h3>
                <p>27 lbs, This includes the frame, fabric display, and carrying
                    case. The larger display weighs slightly more than the
                    8'x8' display.</p>
            </li>
            <li>
                <h3>Thickness</h3>
                <p>8.8 oz tension polyester fabric. (about the thickness of 5
                    sheets of copy paper)
                    </p>
            </li>
            <li>
                <h3>Details</h3>
                <p>Oz tension fabric with velcro attachments to secure display
                    on a portable, easy to setup pop up display frame. A canvas
                    carrying case, with handles for travel, is included with the pop up
                    display and frame.
                    </p>
            </li>
            <li>
                <h3>Uses</h3>
                <p>Primarily used indoors. Can be used outdoors on a solid
                    surface in calm weather. Uses include: trade shows,
                    conferences and conventions. red carpet and event
                    pictures, weddings, media events, photo booths,
                    promotional displays, sponsorship signage and more.</p>
            </li>
            <li>
                <h3>Print Method</h3>
                <p>Full calor dye sublimation printing process.</p>
            </li>
            <li>
                <h3>Estimated Lifespan</h3>
                <p>3+ years with proper placement and Care</p>
            </li>
            <li>
                <h3>Common Sizes</h3>
                <p>8' x 8' and 10' x 10'</p>
            </li>
        </ul>
    </div>
</section>

<!-- Why Signs.com -->
<section class="section-default section-why-signs">
    <div class="standard-container">
        <h2>Why Signs.com?</h2>
        <ul class="why-signs-list">
            <li class="why-signs-list-item">
                <img src="https://www.signs.com/content/assets/filelibrary/icon-running-9551.jpg" alt="Icon running" />
                <h3>Next Day Production</h3>
                <p>
                    Order by 5 pm EST and we'll have your pop up display completed and shipped within 2-4 business days.
                </p>

            </li>
            <li class="why-signs-list-item">
                <img src="https://www.signs.com/content/assets/filelibrary/icon-box-9549.jpg" alt="Icon box" />
                <h3>Free Shipping over $75*</h3>
                <p>
                    For custom pop up display orders over $75 your order ships free!
                </p>
                <span class="extra">
                    *Excludes rigid signs aver 36" in either dimension. Contiguous US
                </span>
            </li>

            <li class="why-signs-list-item">
                <img src="https://www.signs.com/content/assets/filelibrary/icon-ribbon-9550.jpg" alt="Icon ribbon" />
                <h3>Award Winning Customer Service</h3>
                <p>
                    Winners of numerous customer service awards, our customer experience team keeps you as their number one priority throughout your entire experience with Signs.com.
                </p>
            </li>
        </ul>
    </div>
</section>

<!-- How to Install Your Pop Up Display -->
<section class="section-default section-hiocd">
    <div class="standard-container">
        <h2>How to Install Your Pop Up Display</h2>
        <p class="instruction-intro">Estimated Install Time: 10 Minutes</p>
        <ul class="installation-step-list">
            <li class="installation-step-item">
                <div class="img-wrap"><span class="step-number">1.</span><img src="https://www.signs.com/content/assets/filelibrary/Instructions-01-9511.jpg" alt="First step of instructions" /></div>
                <p>Begin by pulling the sides of the frame outward from the center.</p>
            </li>
            <li class="installation-step-item">
                <div class="img-wrap"><span class="step-number">2.</span><img src="https://www.signs.com/content/assets/filelibrary/Instructions-02-9517.jpg" alt="Second step of instructions" /></div>
                <p>Once the frame is fully extended, lock all of the green support arms.And lay it down on
                    the ground. This will make it easier to install the fabric in the next step.</p>
            </li>
            <li class="installation-step-item">
                <div class="img-wrap"><span class="step-number">3.</span><img src="https://www.signs.com/content/assets/filelibrary/Instructions-03-9518.jpg" alt="Third step of instructions" /></div>
                <p>Next, begin to attach the fabric on the frame. Do this by starting from one corner of the
                    display, attaching the velcro on the fabric to the velcro on the frame.
                    </p>
            </li>
            <li class="installation-step-item">
                <div class="img-wrap"><span class="step-number">4.</span><img src="https://www.signs.com/content/assets/filelibrary/Instructions-04-9512.jpg" alt="Fourth step of instructions" /></div>
                <p>Once the front of the fabric is fully attached, you can then attach the sides of the fabric.</p>
            </li>
            <li class="installation-step-item">
                <div class="img-wrap"><span class="step-number">5.</span><img src="https://www.signs.com/content/assets/filelibrary/Instructions-05-9514.jpg" alt="Fifth step of instructions" /></div>
                <p>Finally you can stand your pop up display upright and attach the LED lights, if you have them.</p>
                <p>*Available as an additional purchase. </p>
            </li>


        </ul>
        <!-- <p class="note">**Note: If you are installing an “inside glass” opaque car decal, use a wet installation method: Mix 3 drops of household dish soap to 1 gallon of water. Use a spray bottle to gently spray that solution onto the adhesive side (printed side for inside glass) of your decal as well as the application surface. Place the decal onto the surface and move it around while it is still “wet” to the desired position. Finally, use a squeegee to remove all bubbles and excess water. Dry to finish.
        </p> -->
        <p>Download or Print <a target="_blank" class="download-pdf-link" href="https://www.signs.com/content/assets/filelibrary/Installation-Instructions---Opaque-Vehicle-Decals-8508.pdf">Pop Up Display Set Up Instructions PDF</a></p>
    </div>
</section>

<!-- Care -->
<section class="section-default section-installation">
    <div class="standard-container">
        <ul>
            <li>
                <img src="https://www.signs.com/content/assets/filelibrary/yellow-towel-8162.png" alt="">
                <h2>Care</h2>
                <p>Caring for your pop up display can be done using a damp cloth to remove surface dirt on the
                    fabric and framework. The fabric can be machine washed with cold water on a low cycle, then
                    air dried. The frame can be stored in the carrying case provided. Store the pop up display and
                    your graphic in the included carrying bag to protect them when traveling and storing. Cover
                    your display graphic and take care when storing and removing it from the carrying case to
                    avoid damage to the graphic.</p>
            </li>
        </ul>
    </div>
</section>

<!-- Section Related Products -->
<section class="section-default section-related-products">
    <div class="standard-container">
        <h2>Related Products</h2>
        <a href="/flags/">
            <figure>
                <div class="img-wrap"><img src="https://www.signs.com/content/assets/filelibrary/Step-and-Repeat-Banners-9554.jpg" alt="Step and Repeat Banners" /></div>
                <figcaption>Step and Repeat Banners</figcaption>
            </figure>
        </a>
        <a href="/advertising-flags page/">
            <figure>
                <div class="img-wrap"><img src="https://www.signs.com/content/assets/filelibrary/Retractable-Banners-9553.jpg" alt="Retractable Banners" /></div>
                <figcaption>Retractable Banners</figcaption>
            </figure>
        </a>
        <a href="/spirit-flags/">
            <figure>
                <div class="img-wrap"><img src="https://www.signs.com/content/assets/filelibrary/Pop-Up-Tents-9552.jpg" alt="Pop Up Tents" /></div>
                <figcaption>Pop Up Tents</figcaption>
            </figure>
        </a>
    </div>
</section>


<script>
    //Section What Are
    window.onresize = function () {
        var rectangleFlagOptionsItem = document.querySelectorAll(".section-what-are.sectionComeGo_js");
        rectangleFlagOptionsItem.forEach(function (item) {
            var movingSectionTitle = item.querySelector(".comeGoChildWrap_js > h2");
            var comeGoChildWrap = item.querySelector(".comeGoChildWrap_js");
            var comeGoImageWrap = item.querySelector(".comeGoImageWrap_js");
            if (window.innerWidth <= 1199) {

                movingSectionTitle.after(comeGoImageWrap);
            } else {
                comeGoChildWrap.after(comeGoImageWrap);
            }
        });
    };
    //Section What Are
    var rectangleFlagOptionsItem = document.querySelectorAll(".section-what-are.sectionComeGo_js");
    rectangleFlagOptionsItem.forEach(function (item) {
        if (window.innerWidth <= 1199) {
            var movingSectionTitle = item.querySelector(".comeGoChildWrap_js > h2");
            var comeGoImageWrap = item.querySelector(".comeGoImageWrap_js");
            movingSectionTitle.after(comeGoImageWrap);
        } else {
            var comeGoChildWrap = item.querySelector(".comeGoChildWrap_js");
            var comeGoImageWrap = item.querySelector(".comeGoImageWrap_js");
            comeGoChildWrap.after(comeGoImageWrap);
        }
    });		
</script>