.img-wrap {
    font-size: 0
}

.scroll-link {
    display: inline-block
}

.faq-search-links .scroll-link {
    display: flex
}

.caret {
    border: 6px solid transparent;
    border-top: 6px solid #5ba9f5;
    margin-top: 5px;
    margin-left: 5px
}

figure {
    margin: 0
}

.section-default {
    padding: 60px 0;
    text-align: center
}

.section-default h2 {
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 50px;
}

.section-default p {
    font-size: 20px;
    margin-bottom: 30px
}

.section-default [class*=img-wrap] img {
    width: 100%
}

.standard-container {
    max-width: 1560px;
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
    margin: 0 auto
}

/* FAQ Section */

.faq-search-links {
    padding: 35px 0;
    color: #5ca9f5;
    background: #fff
}

.faqmain {
    margin: 0 auto;
    max-width: 1500px;
    padding: 0 20px
}

.product-tabs-wrapper .faq-search-links {
    padding: 0;
    margin: 0 0 10px;
    background: initial
}

.product-tabs-wrapper .faq-search-form {
    margin-bottom: 15px
}

.signs-faq-2 {
    text-align: left
}

/* Hero Section */

.section-hero-full-width {
    padding: 20px 0 25px
}

.hero-footer,
.hero-head {
    margin: 0 auto;
    padding: 0 20px;
    max-width: 845px;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
}

.hero-head {
    margin-bottom: 35px;
}

.hero-head h1 {
    font-size: 50px;
    font-weight: 400;
    margin-bottom: 10px
}

.hero-list {
    font-size: 0
}

.hero-list-item:first-child:before {
    content: ""
}

.hero-list-item:before {
    content: "\2022";
    top: -3px;
    left: -3px;
    font-size: 18px;
    position: absolute;
}

.hero-list-item {
    position: relative;
    padding: 0 10px;
    font-size: 20px;
    display: inline-block
}

.hero-img-wrap {
    max-width: 466px;
    margin: 15px auto 20px;
    width: 100%;
}

.hero-img {
    width: 100%
}

.hero-phrase {
    font-size: 20px
}

/* Section Product Quick Start */

.placeholder-sticky {
    padding: 0 0 30px
}

.quick-start-group.quick-start-size .gs-input-group {
    display: none;
}

/* Store Review Section */

#shoppersReviews {
    padding: 30px 0 0
}

#shoppersReviews .shopper-approved-link {
    margin: 0
}

.sa-caption {
    display: none
}

/* Additional Specs Section */

.section-additional-specs {
    padding: 64px 0
}

.section-additional-specs .container {
    margin: 0 auto;
    max-width: 685px;
    text-align: center;
    padding: 0 20px;
}

.section-additional-specs h2 {
    text-align: center;
    font-size: 25px;
    margin-bottom: 50px
}

.additional-specs-list {
    display: inline-block;
    text-align: left
}

.additional-specs-list li {
    display: flex;
    margin-bottom: 20px;
    border-bottom: 1px solid #cfcccc;
    padding-right: 10px;
}

.additional-specs-list li h3 {
    min-width: 160px;
    font-size: 18px;
    color: #333;
    font-weight: 400;
    margin-right: 60px;
}

.additional-specs-list li p {
    font-size: 18px;
    color: #9f9f9f;
    font-weight: 300;
    margin-bottom: 20px;
}

.bt-0 {
    border-bottom: 0 !important;
}

/* Image Gallery */

.section-gallery-image .image-gallery-slider2019 {
    margin-bottom: 0 !important;
}

/* FAQ Section */

.faq-search-links {
    padding: 35px 0;
    color: #5ca9f5;
    background: #fff
}

/* What are Section */

.section-what-are {
    text-align: left;
    padding-bottom: 80px;
}

.section-what-are .standard-container {
    position: relative;
    display: flex;
    align-items: center;
    padding: 0;
    justify-content: space-between;
    max-width: 1365px;
}

.section-what-are h2 {
    margin-bottom: 57px
}

.section-what-are p {
    margin-bottom: 20px;
    font-size: 18px;
}

.section-what-are br {
    display: none
}

.section-what-are img {
    width: 100%
}

.what-are-content-wrap {
    margin-right: 45px;
}

.what-are-content-wrap > :not(.downloadable-product-templates) {
    max-width: 625px;
    margin-left: auto;
    margin-right: auto;
}

.what-are-img-wrap {
    max-width: 630px;
    width: 100%;
    flex: 0 0 auto;
    font-size: 0;
}

/* Section Featured */

.section-signs-features {
}

.section-signs-features * {
    box-sizing: border-box;
}

.featured-body {
    position: relative;
    margin-top: 105px;
    margin-bottom: 220px;
}

.section-signs-features h2 {
}

.featured-img-wrap {
    max-width: 985px;
    width: 100%;
    margin: 0 auto;
}

.signs-featured-list {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.signs-featured-item {
    position: absolute;
    text-align: left;
    display: inline-block;
    max-width: 278px;
    width: 100%;
}

.signs-featured-item h3 {
    font-size: 22px;
    margin-bottom: 10px;
    line-height: 1.5;
    font-weight: 500;
}

.signs-featured-item p {
    color: #919396;
    font-weight: 300;
    font-size: 20px;
}

.signs-featured-item:nth-child(1) {
    top: 30px;
    left: 47px;
    /* margin-right: 167px; */
    max-width: 234px;
}

.signs-featured-item:nth-child(2) {
    bottom: 2px;
    left: 49px;
    /* padding-top: 195px; */
    max-width: 220px;
}

.signs-featured-item:nth-child(3) {
    left: 1241px;
    top: 27px;
    /* padding-left: 180px; */
    max-width: 227px;
}

.signs-featured-item:nth-child(4) {
    right: 0px;
    bottom: 126px;
    /* padding-left: 190px; */
}

.signs-featured-item:nth-child(5) {
    right: 416px;
    bottom: -121px;
    /* padding-left: 205px; */
    max-width: 368px;
}

.signs-featured-item .img-wrap {
    position: absolute;
    width: 145px;
    height: 145px;
    border-radius: 50%;
    overflow: hidden;
    border: 5px solid #000;
    box-shadow: 9px 8px 8px rgba(0, 0, 0, .19);
}

.signs-featured-item .img-wrap img {
    width: 100%
    height: 100%;
}

.signs-featured-item:nth-child(1) .img-wrap {
    right: -145px;
    top: 3px;
    /* background: red; */
}

.signs-featured-item:nth-child(2) .img-wrap {
    top: -12px;
    right: -140px;
}

.signs-featured-item:nth-child(3) .img-wrap {
    left: -167px;
    top: 3px;
}

.signs-featured-item:nth-child(4) .img-wrap {
    left: -173px;
    top: -2px;
}

.signs-featured-item:nth-child(5) .img-wrap {
    top: -64px;
    left: -164px;
}

.table-cover-types {
    font-size: 0;
    display: inline-block;
    width: 100%;
    max-width: 998px;
    display: inline-flex;
    justify-content: space-between;
}

.table-cover-col {
    width: 100%;
    display: inline-block;
    font-size: initial;
    padding: 0 20px;
    /* box-sizing: border-box; */
    max-width: 448px;
}

.table-cover-col .img-wrap {
    max-width: 360px;
    margin: 0 auto 30px;
    width: 100%;
}

.table-cover-col .content-wrap h3 {
    font-size: 23px;
    margin-bottom: 20px;
}

.table-cover-col .content-wrap ul li {
    text-align: left;
    font-size: 17px;
    font-weight: 400;
    position: relative;
    margin-left: 10px;
}

.table-cover-col .content-wrap ul li:before {
    content: '\2022';
    width: 10px;
    display: inline-block;
    text-align: center;
    /* vertical-align: middle; */
    line-height: normal;
    /* margin-top: -10px; */
    position: absolute;
    left: -12px;
    top: -1px;
}

/* Image Gallery */

.image-gallery-slider2019-thumbnails .slick-slide.slick-current > img {
    box-shadow: none;
}

/* Design tool and services */

.design-services {
}

.design-services .myrow {
    display: flex;
}

.design-services .design-services-group {
    margin-top: 0;
    margin-bottom: 0;
    margin: 0 40px;
}

.design-services .design-services-heading {
    margin-top: 0;
    margin-bottom: 35px;
    max-width: 295px;
    text-transform: uppercase;
}

.design-services .design-services-image {
    margin-bottom: 0;
}

.design-services .design-services-text {
    color: #919396;
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: 400;
    max-width: 560px;
}

.design-services .design-services-group a {
    color: #0097D5;
    font-size: 20px;
}

/* Section Why */

.section-why-signs h2 {
    margin-bottom: 50px
}

.why-signs-list {
    font-size: 0;
    margin-top: 35px;
    margin: 0 -20px;
    display: flex;
    justify-content: space-between
}

.why-signs-list-item {
    display: inline-block;
    font-size: 20px;
    padding: 0 20px;
    box-sizing: border-box;
    max-width: 476px;
    width: 100%
}

.why-signs-list-item .extra {
    color: #919396;
    font-size: 14px;
    max-width: 295px;
    width: 100%;
    margin: 7px auto 0;
    display: block;
    font-style: italic;
}

.why-signs-list-item img {
    margin-bottom: 10px
}

.why-signs-list-item h3 {
    font-size: 25px;
    margin-bottom: 10px;
    max-width: 385px;
    margin: 0 auto 10px;
}

.why-signs-list-item p {
    color: #919396;
    font-size: 18px
}

.why-signs-list-item:nth-of-type(1) p {
    max-width: 380px;
    margin: 0 auto;
}

.why-signs-list-item:nth-of-type(2) p {
    max-width: 278px;
    margin: 0 auto;
}

.why-signs-list-item:nth-of-type(3) p {
    max-width: 404px;
    margin: 0 auto;
}

/* Related Product Section */

.section-related-products {
    padding: 65px 0
}

.section-related-products .standard-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    margin: 0 auto;
    padding: 0 20px;
    max-width: 1567px;
    text-align: center
}

.section-related-products h2 {
    width: 100%;
    font-size: 26px;
    margin-bottom: 45px;
}

.section-related-products .standard-container > a {
    margin: 0;
    width: calc(100% / 3);
    display: flex;
    align-items: flex-end;
    justify-content: center
}

.section-related-products .standard-container > a figure {
    width: 100%;
}

.section-related-products .standard-container > a .img-wrap {
    max-width: 420px;
    height: 306px;
    position: relative;
    width: 100%;
    margin: 0 auto 30px;
}

.section-related-products .standard-container > a .img-wrap img {
    position: absolute;
    margin-bottom: 0 !important;
    left: 0;
    right: 0;
    max-width: 100%;
    max-height: 100%;
    display: block;
    top: 50%;
    transform: translate(0, -50%);
}

.section-related-products .standard-container > a:first-of-type figure img {
    margin-bottom: 80px;
    /* height: 100%; */
}

.section-related-products figure img {
    margin-bottom: 40px
}

.section-related-products figure figcaption {
    font-size: 20px;
    font-weight: 500;
    /* color: #707070 */
}

/* How to install Opaque Car Decals */
.section-hiocd {
}

.section-hiocd h2 {
    margin-bottom: 20px;
}

.section-default .instruction-intro {
    font-size: 18px;
    max-width: 935px;
    margin: 0 auto;
}

.installation-step-list {
    text-align: left;
    max-width: 1260px;
    margin: 75px auto 0;
    display: inline-block;
}

.installation-step-item {
    margin-bottom: 50px;
}

.installation-step-item .step-number {
    position: absolute;
    z-index: 1;
    color: #fff;
    background-color: #8CC53F;
    font-size: 25px;
    font-weight: 300;
    width: 45px;
    height: 42px;
    text-align: center;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -5px;
    /* display: none; */
    /* margin-bottom: 20px; */
}

.installation-step-item .img-wrap {
    max-width: 450px;
    height: auto;
    width: 100%;
    margin-right: 50px;
    float: left;
    position: relative;
}

.installation-step-item p {
}

.download-pdf-link {
}

.installation-step-item:after {
    content: '';
    display: block;
    clear: both;
}

.section-hiocd .note {
    font-size: 16px;
    max-width: 1120px;
    margin: 0 auto 30px;
}

.download-pdf-link {
    display: inline-block;
    color: #0097D5;
    font-size: 20px;
    text-decoration: none;
    /* font-style: italic; */
}

.installation-step-item br {
    display: none;
}

.installation-step-item .step-number:before {
    content: '';
    border: 21px solid transparent;
    position: absolute;
    left: 45px;
    right: 0;
    top: 0;
    bottom: 0;
    border-left: 9px solid #8cc53f;
}

/* Section Installation */
.section-installation {
    /* padding: 80px 0; */
    text-align: left;
}

.section-installation h2 {

}

.section-installation p {

}

.section-installation ul {
    /* list-style: none; */
    max-width: 1120px;
    width: 100%;
    margin: 0 auto;
}

.section-installation ul li { /* padding-top: 20px; */
}

.section-installation ul li h2 {
    font-size: 25px;
    font-weight: 400;
    margin-bottom: 15px;
    /* margin-top: 16px; */
}

.section-installation ul li p {
    font-size: 18px;
    margin-bottom: 0;
}

.section-installation ul li img {
    float: right;
    margin-left: 52px;
    height: 230px;
    width: auto;
}

.section-installation ul li:after {
    content: '';
    display: block;
    clear: both;
}

.section-installation ul li .container {
    padding: 0 20px;
}

.section-installation .container {
    padding: 0 90px;
    max-width: 1287px;
    margin: 0 auto;
}

.section-installation ul li br {
    display: none;
}

.installation-step-list + p {
    display: inline-block;
    color: #0097D5;
    font-size: 20px;
    text-decoration: none;
}

p {
}

.download-pdf-link:hover {
    color: rgba(0, 151, 213, .8);
}

@media (max-width: 1680px) {
    /* Global */
    .standard-container {
        max-width: 1418px
    }

    /* Hero Section */
    .hero-img-wrap {
        max-width: 549px;
    }

    /* What are */
    .what-are-content-wrap {
        margin: 0 0 0 119px;
        max-width: 495px;
    }

    /* Featured Section */
    .signs-featured-item:nth-child(1) {
        top: 42px;
        left: -32px;
    }

    .signs-featured-item:nth-child(1) .img-wrap {
        right: -155px;
        top: 3px;
    }

    .signs-featured-item:nth-child(2) {
        bottom: 9px;
        left: -24px;
    }

    .signs-featured-item:nth-child(3) {
        left: 1177px;
        top: 35px;
    }

    .signs-featured-item:nth-child(3) .img-wrap {
        left: -172px;
        top: 3px;
    }

    .signs-featured-item:nth-child(4) {
        right: -75px;
        bottom: 128px;
    }

    .signs-featured-item:nth-child(4) .img-wrap {
        left: -173px;
        top: -2px;
    }

    .signs-featured-item:nth-child(5) {
        right: 365px;
        bottom: -121px;
    }

    .signs-featured-item:nth-child(5) .img-wrap {
        /* top: -151px; */
        /* left: 80px; */
    }

    .featured-body {
        margin-bottom: 160px;
    }

    /* Image Gallery */
    .section-gallery-image {
        padding-bottom: 70px;
    }
}

@media (max-width: 1600px) {
    /* Global */
    .standard-container {
        max-width: 1390px
    }

    /* Hero Image Wrap */
    .hero-head {
        margin-bottom: 15px;
    }

    .hero-img-wrap {
        max-width: 440px;
        margin-bottom: 0;
    }

    /* Featured Section */
    .signs-featured-item:nth-child(3) {
        left: 1163px;
        top: 30px;
    }
}

@media (max-width: 1536px) {
    /* Global */
    .standard-container {
        max-width: 1271px
    }

    /* Hero Section */
    .hero-img-wrap {
        max-width: 445px;
    }

    .standard-container {
        max-width: 1285px
    }

    /* Section What Are */
    .what-are-img-wrap {
        max-width: 490px
    }

    .what-are-content-wrap {
        margin: 0 25px 0 100px;
        max-width: 590px;
    }

    /* Why Section */
    .why-signs-list-item br {
        display: none
    }

    /* Featured Section */
    .section-signs-features h2 {
        margin-bottom: 20px;
    }

    .featured-body {
        margin-bottom: 117px;
        margin-top: 60px;
    }

    .featured-img-wrap {
        max-width: 855px;
    }

    .signs-featured-item .img-wrap {
        width: 135px;
        height: 135px;
    }

    .signs-featured-item:nth-child(1) {
        top: 30px;
        left: -35px;
    }

    .signs-featured-item:nth-child(1) .img-wrap {
        right: -135px;
        top: 3px;
    }

    .signs-featured-item:nth-child(2) {
        bottom: -4px;
        left: -24px;
    }

    .signs-featured-item:nth-child(3) {
        left: 1057px;
        top: 25px;
    }

    .signs-featured-item:nth-child(3) .img-wrap {
        left: -155px;
        top: 3px;
    }

    .signs-featured-item:nth-child(4) {
        right: -47px;
        bottom: 70px;
        max-width: 240px;
    }

    .signs-featured-item:nth-child(4) .img-wrap {
        left: -156px;
        top: -2px;
    }

    .signs-featured-item:nth-child(5) {
        right: 258px;
        bottom: -131px;
    }

    .signs-featured-item:nth-child(5) .img-wrap {
        top: -66px;
        left: -153px;
    }
}

@media (max-width: 1440px) {
    .standard-container {
        max-width: 1225px
    }

    /* Hero Section */
    .hero-img-wrap {
        max-width: 475px;
    }

    /* What Are */
    .what-are-img-wrap {
        max-width: 578px;
    }

    /* Featured Section */
    .featured-img-wrap {
        max-width: 760px;
    }

    .signs-featured-item .img-wrap {
        width: 125px;
        height: 125px;
    }

    .signs-featured-item p {
        font-size: 19px;
    }

    .signs-featured-item:nth-child(1) {
        max-width: 222px;
        top: 17px;
        left: -3px;
    }

    .signs-featured-item:nth-child(2) {
        max-width: 208px;
        bottom: -18px;
        left: -5px;
    }

    .signs-featured-item:nth-child(3) {
        max-width: 248px;
        left: 987px;
        top: 14px;
    }

    .signs-featured-item:nth-child(4) {
        max-width: 248px;
        right: -21px;
        bottom: 48px;
    }

    .signs-featured-item:nth-child(5) {
        /* max-width: 326px; */
        /* right: 424px; */
        /* bottom: -326px; */
        /* right: 242px; */
        /* bottom: -131px; */
        right: 260px;
        bottom: -129px;
    }

    .signs-featured-item:nth-child(1) .img-wrap {
        right: -121px;
        top: 3px;
    }

    .signs-featured-item:nth-child(2) .img-wrap {
        top: -5px;
        right: -134px;
    }

    .signs-featured-item:nth-child(3) .img-wrap {
        left: -146px;
        top: 3px;
    }

    .signs-featured-item:nth-child(4) .img-wrap {
        left: -143px;
        top: -2px;
    }

    .signs-featured-item:nth-child(5) .img-wrap {
        /* top: -151px; */
        /* left: 80px; */
        top: -66px;
        left: -140px;
    }

    .featured-body {
        margin-bottom: 300px;
    }
}

@media (max-width: 1366px) {
    /* Global */
    .standard-container {
        max-width: 1123px
    }

    /* Section Hero */
    .hero-img-wrap {
        max-width: 564px;
    }

    /* Section What Are */
    .what-are-img-wrap {
        max-width: 530px;
    }

    .section-what-are .standard-container {
        max-width: initial;
        width: calc(100vw - 15rem)
    }

    .what-are-content-wrap {
        margin-left: 0;
        max-width: 523px;
    }

    /* Section Why */
    .why-signs-list {
        margin: 0 -80px
    }

    /* Featured Section */
    .featured-img-wrap {
        max-width: 815px;
    }

    .signs-featured-item .img-wrap {
        width: 125px;
        height: 125px;
    }

    .signs-featured-item p {
        font-size: 19px;
    }

    .signs-featured-item:nth-child(1) {
        max-width: 219px;
        top: 38px;
        left: -74px;
    }

    .signs-featured-item:nth-child(2) {
        max-width: 209px;
        bottom: -8px;
        left: -76px;
    }

    .signs-featured-item:nth-child(3) {
        max-width: 217px;
        left: 957px;
        top: 40px;
    }

    .signs-featured-item:nth-child(4) {
        max-width: 219px;
        right: -79px;
        bottom: 55px;
    }

    .signs-featured-item:nth-child(5) {
        max-width: 342px;
        right: 245px;
        bottom: -128px;
    }

    .signs-featured-item:nth-child(1) .img-wrap {
        right: -126px;
        top: 3px;
    }

    .signs-featured-item:nth-child(2) .img-wrap {
        top: -5px;
        right: -134px;
    }

    .signs-featured-item:nth-child(3) .img-wrap {
        left: -146px;
        top: 3px;
    }

    .signs-featured-item:nth-child(4) .img-wrap {
        left: -143px;
        top: -2px;
    }

    .signs-featured-item:nth-child(5) .img-wrap {
        /* top: -151px; */
        /* left: 80px; */
    }

    .featured-body {
        margin-bottom: 118px;
    }
}

@media (max-width: 1366px) and (max-height: 768px) {
    /* Section Hero */
    .hero-img-wrap {
        max-width: 339px;
    }

    /* What are */
    .what-are-img-wrap {
        max-width: 565px;
    }
}

@media (max-width: 1280px) {
    /* Section Hero */
    .hero-img-wrap {
        max-width: 373px;
    }
}

@media (max-width: 1280px) and (max-height: 720px) {
    /* Section Hero */
    .hero-img-wrap {
        max-width: 415px
    }
}

@media (max-width: 1270px) {
    .featured-img-wrap {
        max-width: 716px;
    }

    .signs-featured-item:nth-child(1) {
        max-width: 219px;
        top: 27px;
        left: -42px;
    }

    .signs-featured-item:nth-child(2) {
        max-width: 209px;
        bottom: -39px;
        left: -44px;
    }

    .signs-featured-item:nth-child(3) {
        max-width: 217px;
        left: 918px;
        top: 20px;
    }

    .signs-featured-item:nth-child(4) {
        max-width: 219px;
        right: -49px;
        bottom: 55px;
    }

    .signs-featured-item:nth-child(5) {
        max-width: 342px;
        right: 200px;
        bottom: -128px;
    }
}

@media (max-width: 1199px) {
    /* Section What Are */
    .what-are-img-wrap {
        max-width: 505px
    }

    .what-are-content-wrap {
        margin: 0 auto;
        text-align: center;
        max-width: 704px;
    }

    .section-what-are h2 {
        margin-bottom: 30px
    }

    .what-are-content-wrap .what-are-img-wrap {
        margin-bottom: 20px;
        max-width: 570px;
    }

    /* Section Why Signs */
    .why-signs-list {
        margin: 0 -10px
    }

    .why-signs-list-item {
        padding: 0 10px
    }

    .why-signs-list-item h3 {
        font-size: 21px
    }

    .section-related-products figure img {
        height: 236px;
        margin: 0 auto;
        display: inline-block
    }

    /* Featured Section */
    .featured-body {
        margin-top: 0;
        margin: 0 !important;
    }

    .featured-img-wrap {
        position: static;
        max-width: 740px;
    }

    .signs-featured-list {
        position: static;
        /* display: block; */
    }

    .signs-featured-item {
        position: relative !important;
        display: block !important;
        top: initial !important;
        left: initial !important;
        right: initial !important;
        bottom: initial !important;
        width: 100% !important;
        max-width: initial !important;
        margin: 0 !important;
        padding-left: 160px;
        min-height: 135px;
        margin-bottom: 35px !important;
    }

    .signs-featured-item .img-wrap {
        position: absolute !important;
        top: 0 !important;
        left: 0 !important;
        right: initial !important;
        bottom: initial !important;
    }

    .signs-featured-item:last-child {
        margin-bottom: 0 !important;
    }

    /* Review Section */
    .section-product-reviews {
    }

    h2#product-reviews {
        padding-top: 0;
        margin-bottom: 10px;
    }
}

@media (max-width: 991px) {
    /* Hero Section */
    .section-hero-full-width {
        padding: 70px 0 15px
    }

    /* Section Store Ratings  */
    #shoppersReviews,
    #shoppersReviews * {
        display: block !important;
        padding: 0 !important;
        margin: 0 !important;
        position: static !important;
        text-align: center !important;
    }

    #shoppersReviews {
        padding: 20px 0 !important;
    }

    #shoppersReviews > br {
        display: none !important;
    }

    #shoppersReviews .shopperapproved_widget {
        height: auto !important;
    }

    #shoppersReviews .aggregateRating-container {
        display: flex !important;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
    }

    #shoppersReviews .shopper-approved-container {
        padding: 0 20px !important;
    }

    #shoppersReviews .sa_review {
        height: auto !important;
        text-align: center;
        display: flex !important;
        flex-direction: column-reverse;
    }

    #shoppersReviews .sa_review tbody > tr {
        display: flex !important;
        flex-direction: column-reverse;
        /* text-align: center; */
        align-items: center;
    }

    #shoppersReviews .sa_comments {
        margin-top: -17px !important;
        min-height: 60px;
        height: auto;
        display: block;
        flex: 0 0 auto;
        align-items: flex-end;
        font-size: 16px;
        overflow: visible;
        margin: 0 !important;
        overflow: hidden;
    }

    #shoppersReviews .sa_location {
        display: none !important;
    }

    #shoppersReviews .sa_info > span:first-of-type {
        background: red;
        display: none !important;
    }

    #shoppersReviews .sa_info {
        height: auto;
        display: block !important;
        flex: 0 0 auto;
    }

    #shoppersReviews .sa_date {
        display: none !important;
    }

    #shoppersReviews .sa_displayname {
        font-weight: 300;
    }

    #shoppersReviews .sa_star {
        display: none !important;
    }

    #shoppersReviews .sa-caption {
        display: none !important;
    }

    #shoppersReviews script {
        display: none !important;
    }

    #shoppersReviews .sa_review tbody > tr {
        display: flex !important;
        flex-direction: column-reverse;
        align-items: center;
    }

    /* What Are */
    .section-what-are .standard-container {
        padding: 0 20px;
        text-align: center
    }

    .section-what-are h2 {
        margin-bottom: 20px
    }

    /* Featured Section */
    .featured-img-wrap {
        max-width: 600px;
        margin-bottom: 30px;
    }

    /* Additional */
    .additional-specs-list li p br {
        display: none
    }

    /* Gallery Image */
    .section-gallery-image .image-gallery-slider2019-thumbnails {
        margin-top: 30px
    }

    /* Tool and Services Design */
    .design-services .myrow {
        display: block;
    }

    .design-services .design-services-heading {
        max-width: initial;
        display: block;
        margin: 0 0 20px;
    }

    .design-services .design-services-heading br {
        display: none;
    }

    .design-services .design-services-group {
        margin: 40px;
    }

    .design-services .design-services-group:last-child {
        margin-bottom: 0;
    }

    /* Section Why */
    .why-signs-list {
        display: block
    }

    .why-signs-list-item {
        margin-bottom: 25px
    }

    .why-signs-list-item:last-child {
        margin-bottom: 0
    }

    .section-why-signs h2 {
        margin-bottom: 20px
    }

    .why-signs-list-item .extra {
        margin-bottom: 20px
    }

    .why-signs-list-item p {
        margin-bottom: 20px
    }

    /* Related */
    .section-related-products {
        padding: 50px 0;
    }

    .section-related-products .standard-container {
        display: block;
    }

    .section-related-products figure img {
        height: 176px
    }

    .section-related-products .standard-container > a {
        margin: 0 auto 30px;
        width: calc(100% / 1.5);
    }

    .section-related-products .standard-container > a .img-wrap {
        max-width: 412px;
        height: 333px;
        margin-bottom: 0;
    }

    .section-related-products .standard-container > a .img-wrap img {
        height: 100%;
    }

    .section-related-products .standard-container > a:last-child {
        margin-bottom: 0;
    }

    .section-related-products .standard-container > a:last-child .img-wrap {
        height: 317px;
    }

    /* Section Installation */
    .section-installation ul li {
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .section-installation ul li:after {
        display: none;
    }

    .section-installation ul li h2 {
        order: 1;
    }

    .section-installation ul li img, .section-installation ul li p {
        order: 2;
        text-align: center;
    }

    .section-installation ul li img {
        float: none;
        margin: 0 auto;
        max-width: 250px;
        height: auto;
    }
}

@media (max-width: 768px) {
    /* Section What are */
    .section-what-are {
        padding: 40px 0 30px
    }

    .section-what-are .standard-container {
        display: block;
        padding: 0;
        width: calc(100vw - 3rem)
    }

    .what-are-content-wrap {
        text-align: center;
        margin: 0 auto
    }

    .what-are-img-wrap img {
        height: 100%
    }

    .what-are-content-wrap h2,
    .what-are-content-wrap p {
        padding: 0 20px
    }

    /* How to install Opaque Car Decals */
    .installation-step-item .img-wrap {
        max-width: 330px;
    }

    .installation-step-item p {
        font-size: 19px;
    }
}

@media (max-width: 767px) {
    /* Free Design Services */
    .section-free-design-services .standard-full-background {
        display: block
    }

    /* How to install Opaque Car Decals */
    .installation-step-item {
        text-align: center;
        margin-bottom: 15px;
    }

    .installation-step-item .img-wrap {
        max-width: initial;
        margin: 0 auto 20px;
    }
}

@media (max-width: 575px) {
    .section-default {
        padding: 30px 0
    }

    .standard-full-background .content-wrap p {
        font-size: 20px;
        margin-bottom: 19px
    }

    .standard-full-background .btn-free-design {
        font-size: 16px;
        padding: 11px 25px;
        margin-bottom: 0;
        font-weight: 400;
        border-radius: 5px
    }

    /* Section Hero Full Width */
    .section-hero-full-width {
        padding-top: 20px
    }

    .hero-head h1 {
        font-size: 30px
    }

    .hero-head {
        margin-bottom: 0;
    }

    .hero-body {
        padding: 20px 0 0;
    }

    .hero-list-item {
        font-size: 15px;
        display: inline-block
    }

    .hero-list-item:first-child:before {
        content: "\2022";
        visibility: hidden;
    }

    .hero-list-item:nth-child(3):before {
        content: "\2022";
        /* visibility: hidden; */
    }

    .hero-img-wrap {
        padding: 0 20px;
        box-sizing: border-box;
        margin: 0;
        max-width: 250px;
        margin: 0 auto;
    }

    .hero-phrase {
        font-size: 16px
    }

    /* Product Quick Start */
    #LoginNavigationContainer .main-nav {
        max-width: initial;
        width: 100%;
    }

    .quick-start-group:not(.gs-button) {
        /* flex: 0 0 100%; */
        /* padding: 5px; */
        /* box-sizing: border-box; */
    }

    .sticky .product-quick-start-form-container {
    }

    /* Store Reviews Section */
    #shoppersReviews,
    #shoppersReviews * {
        display: block !important;
        padding: 0 !important;
        margin: 0 !important;
        position: static !important;
        text-align: center !important
    }

    #shoppersReviews {
        padding: 20px 0 !important
    }

    #shoppersReviews > br {
        display: none !important
    }

    #shoppersReviews .shopperapproved_widget {
        height: auto !important
    }

    #shoppersReviews .aggregateRating-container {
        display: flex !important;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center
    }

    #shoppersReviews .shopper-approved-container {
        padding: 0 20px !important
    }

    #shoppersReviews .sa_review {
        height: auto !important;
        text-align: center;
        display: flex !important;
        flex-direction: column-reverse
    }

    #shoppersReviews .sa_review tbody > tr {
        display: flex !important;
        flex-direction: column-reverse;
        align-items: center
    }

    #shoppersReviews .sa_comments {
        margin-top: -17px !important;
        min-height: 60px;
        height: auto;
        display: block;
        flex: 0 0 auto;
        align-items: flex-end;
        font-size: 16px;
        overflow: visible;
        margin: 0 !important;
        overflow: hidden
    }

    #shoppersReviews .sa_location {
        display: none !important
    }

    #shoppersReviews .sa_info > span:first-of-type {
        background: red;
        display: none !important
    }

    #shoppersReviews .sa_info {
        height: auto;
        display: block !important;
        flex: 0 0 auto
    }

    #shoppersReviews .sa_date {
        display: none !important
    }

    #shoppersReviews .sa_displayname {
        font-weight: 300
    }

    #shoppersReviews .sa_star {
        display: none !important
    }

    #shoppersReviews .sa-caption {
        display: none !important
    }

    #shoppersReviews script {
        display: none !important
    }

    /* Section What Are */
    .section-what-are {
        padding-bottom: 25px;
    }

    .what-are-content-wrap h2 {
        font-size: 28px;
        margin-bottom: 15px
    }

    .what-are-content-wrap .what-are-img-wrap {
        max-width: 379px;
        width: calc(100vw - 9rem);
        height: auto;
        margin-left: auto
    }

    /* Featured Section */
    .signs-featured-item .img-wrap {
        width: 100px;
        height: 100px;
    }

    .signs-featured-item {
        padding-left: 124px !important;
    }

    .signs-featured-item h3 {
        font-size: 20px;
        margin-bottom: 3px;
    }

    .signs-featured-item p {
        font-size: 16px;
    }

    /* Image Gallery Slider */
    .section-gallery-image h2 {
        margin-bottom: 20px;
    }

    .section-gallery-image .standard-container {
        padding-left: 0;
        padding-right: 0
    }

    .image-gallery-slider2019 .slick-slide > img {
        max-height: initial
    }

    .image-gallery-slider2019 .slick-slide {
        max-height: initial;
    }

    /* Additional Specs */
    .section-additional-specs {
        padding: 35px 0;
    }

    .section-additional-specs h2 {
        margin-bottom: 20px
    }

    .additional-specs-list li {
        display: block;
        text-align: center;
        padding: 0;
        border-bottom: 0
    }

    .additional-specs-list li:last-child {
        margin-bottom: 0;
    }

    .additional-specs-list li h3 {
        margin: 0 auto 5px;
        font-weight: 400;
        font-size: 18px
    }

    .additional-specs-list li p {
        font-size: 16px;
        margin-bottom: 20px
    }

    /* Free design and Services */
    .section-free-design-services {
        padding: 0
    }

    .section-related-products figure img {
        width: 90%;
        height: auto;
        max-width: 355px
    }

    .section-related-products .standard-container > a {
        width: 100%;
        margin-bottom: 40px
    }

    .section-related-products .standard-container > a:last-child {
        margin-bottom: 0
    }

    .design-services .design-services-group {
        margin: 0 0 30px;
    }

    .design-services .standard-container {
        padding: 0;
    }

    .design-services .design-services-heading {
        display: block;
        padding: 0 45px;
    }

    .design-services .design-services-text {
        font-size: 18px;
    }

    /* Customers Review Section */
    #review_image {
        display: none
    }

    #product_page #sa_sort {
        display: block;
        margin-top: 20px;
        text-align: center;
        margin: 20px auto 0
    }

    #product_page .paging {
        height: auto;
        padding: 0;
        text-align: center
    }

    #shopper_review_page {
        padding-bottom: 35px;
        margin-left: 0;
        margin-right: 0;
        width: 100%;
    }

    /* Product Quick Start */
    .sizeInput.qty {
        /* justify-content: flex-end */
    }

    .sizeInput.qty .size-input-qty {
        /* margin: 0; */
    }

    .product-dropdown-container .dropdown {
        /* font-size: 18px; */
    }

    .quick-start-label {
        /* font-size: 16px; */
        /* font-weight: 500; */
        /* margin-left: 0; */
    }

    .quick-start-span {
        /* font-size: 16px; */
        /* vertical-align: middle; */
        /* padding: 6px 5px; */
    }

    .section-product-reviews #review_header {
        padding: 0;
    }

    /* How to Install */
    .installation-step-item .step-number {
        width: 37px;
        height: 37px;
        font-size: 16px;
    }

    .installation-step-item .step-number:before {
        /* border: 21px solid transparent; */
        /* left: 3px; */
        left: 37px;
        border: 18px solid transparent;
        border-left: 10px solid #8cc53f;
    }

    .download-pdf-link {
        font-size: 16px;
        max-width: 260px;
        margin: 0 auto;
    }

    /* Related Products */
    .section-related-products h2 {
        margin-bottom: 5px;
    }

    .section-related-products figure img {
        width: 90%;
        height: auto;
        max-width: 355px
    }

    .section-related-products .standard-container > a {
        width: 100%;
        margin-bottom: 40px
    }

    .section-related-products .standard-container a:nth-of-type(2) .img-wrap {
        height: 295px;
    }

    .section-related-products .standard-container > a:last-child {
        margin-bottom: 0
    }
}

@media (max-width: 414px) {
    .section-what-are h2 {
        padding: 0;
    }

    .section-what-are .what-are-content-wrap p {
        padding: 0;
    }
}

@media (max-width: 375px) {
    /* Product Quick Start */
    .hero-head {
        padding: 0;
    }

    /* Design tool and services */
    .design-services .design-services-heading {
        padding: 0 25px;
    }

    /* Product Review Section */
    #sa_review_section .product_review .images {
        margin: 2px 0 0;
    }

    #sa_review_section .product_review .images > div:first-child {
        margin-bottom: 5px;
    }

    /* Related Section */
    .section-related-products .standard-container a:nth-of-type(2) .img-wrap {
        height: 270px;
    }

    /* Section What are */
    .what-are-content-wrap .what-are-img-wrap {
        width: calc(100vw - 7rem);
    }

    .section-what-are h2 {
        font-size: 27px;
    }
}

@media (max-width: 360px) {
    .design-services .design-services-heading {
        padding: 0 20px;
    }

    #sa_review_section .rating {
        display: block;
        height: auto;
        position: relative;
        width: 100%;
        /* vertical-align: middle; */
        margin-bottom: 20px;
    }

    #sa_review_section .rating:after {
        content: '';
        display: block;
        clear: both;
    }

    /* Section What are */
    .what-are-content-wrap .what-are-img-wrap {
        width: calc(100vw - 7rem);
    }

    .section-what-are h2 {
        font-size: 26px;
    }
}

@media (max-width: 320px) {
    /* Global */
    .standardWidth {
        margin-top: 68px;
    }

    /* Hero Section */
    .hero-list-item {
        font-size: 14px;
    }

    .hero-list-item:first-child:before {
        content: "\2022";
        visibility: visible;
    }

    .hero-list-item:nth-child(3):before {
        content: "\2022";
        visibility: visible;
    }

    .hero-head h1 {
        font-size: 29px;
    }

    .hero-head {
        padding: 0 10px;
    }

    .hero-head h1 {
        font-size: 27px;
    }

    .hero-list-item {
        font-size: 12px;
    }

    .hero-list-item:first-child:before {
        visibility: hidden

    }

    /* What are Pop Up Display */
    .what-are-content-wrap .what-are-img-wrap {
        width: calc(100vw - 5rem);
    }

    .section-what-are h2 {
        font-size: 23px;
    }

    /* Related Product */
    .section-related-products .standard-container > a:last-child {
        height: 333px;
    }

    .section-related-products .standard-container > a .img-wrap {
        height: 287px;
        /* height: auto!important; */
        width: 100% !important;
        max-width: initial;
        min-height: initial;
    }
}

