<!-- Hero Section -->
<section class="section-hero-full-width">
    <div class="hero-head">
        <h1>Frosted Acrylic Signs</h1>
        <ul class="hero-list">

            <li class="hero-list-item">Custom Shapes and Sizes</li>
            <li class="hero-list-item">Instant Quote</li>
            <li class="hero-list-item">Next Day Shipping</li>
        </ul>
    </div>
    <div class="hero-body">
        <div class="hero-img-wrap">
            <img class="hero-img"
                 src="https://www.signs.com/content/assets/filelibrary/Frosted-Acrylic-reception-desk-hero-9560.jpg"
                 alt="Custom frosted acrylic sign on wall above reception desk"/>
        </div>
    </div>
    <div class="hero-footer">
        <p class="hero-phrase">
            Beautifully crafted frosted acrylic signs for your business or office.
        </p>
    </div>
</section>


<div id="faq" class="faqmain">
    <div class="faq-section-header">Product Specs</div>
    <ul class="signs-faq-seed">
        <li>What is Frosted Acrylic?</li>
        <li>
            <p>Frosted acrylic is a hard plastic that has a frosted finish. The graphic or design for all frosted
                acrylic signs are printed directly onto the frosted acrylic substrate. Like clear acrylic or
                polyacrylate (a type of plastic), frosted acrylic is durable and acts as a good substitute for glass
                signage. Although durable, frosted acrylic signs are not scratch proof nor shatter proof. Frosted
                acrylic signs are generally used indoors but can be used outdoors as well. Frosted acrylic signs are
                made using a similar material to brand names such as Plexiglas, Perspex, and Lucite.</p>
        </li>
        <li>Why choose frosted over clear acrylic?</li>
        <li>
            <p>Frosted acrylic provides an elegant look to any sign. The translucent rather than transparent material of
                frosted acrylic can help your design ‘pop’ and draw more attention when placed on a solid-color wall.
                Frosted acrylic might also be a good option for you if you have some sort of light source behind your
                display. When light penetrates the frosted acrylic, the translucent material distributes the light
                making a striking look and bringing your design to life. Both frosted and clear acrylic signs make
                beautiful displays for branding, directional, and office signage.</p>
        </li>
        <li>Why does shipping cost so much if you offer free shipping?</li>
        <li>
            <p>Shipping on orders over $75 is free. However, this excludes rigid signs over 36” which require special
                packaging. Unfortunately, the 36” threshold is a shipping industry rule of thumb and it is beyond our
                control in our ability to ship these large signs in any other way.</p>
        </li>
        <li>What are all my options when ordering a frosted acrylic sign?</li>
        <li>
            <p>While frosted acrylic signs are stunning by themselves, you may wonder about the additional options
                available to you with these signs. Perhaps the best way to display a frosted acrylic sign is by mounting
                the sign to a wall or surface. We offer 1/2“ diameter brushed aluminum standoffs as well as drilled
                holes in several configurations.</p>
            <p>In addition to the standoffs we offer for mounting your frosted acrylic sign, we also offer multiple cut
                options for your sign including square/rectangle, rounded corners (both 1” and ¼” radius), circle/oval,
                custom, and custom with border. </p>
        </li>
        <li>Can I drill my own holes?</li>
        <li>
            <p>Yes. You can absolutely drill your own holes if you wish. Though if you are drilling your own holes then
                we are unable to replace, repair or refund the sign due to any damage resulting from your efforts to
                drill holes. Any common drill with the proper bit will work with your acrylic sign.</p>
        </li>
        <li>How strong or durable is frosted acrylic?</li>
        <li>
            <p>Frosted acrylic is a durable glass substitute. We print your design directly onto ⅛” frosted acrylic
                material. Your design is printed using professional grade UV inks which will last a long time with
                proper use and care. Printed designs on frosted acrylic should remain vivid for the expected life of 5+
                years with proper care.
            </p>
            <p>Acrylic is a dense plastic material and although durable—it can break or shatter if dropped onto hard
                surfaces. Acrylic can also scratch. We recommend using caution anytime you need to handle your acrylic
                sign including during installation or removal. Ask for a second set of hands to assist you if necessary.
            </p>
        </li>
        <li>Can you print double-sided on frosted acrylic?</li>
        <li>
            <p>No. We currently only offer single-sided prints for frosted acrylic signs. </p>
        </li>
        <li>Do you offer laser etching or etched frosted acrylic signs?</li>
        <li>
            <p>No. Instead of laser etching your design or using other etching methods to create your sign, we print
                your design directly onto the front surface of the frosted acrylic.</p>
        </li>
        <li>How long will it take to produce and ship my frosted acrylic sign?</li>
        <li>
            <p>We produce and print your frosted acrylic signs within 1 business day. If you order your frosted acrylic
                sign during business days before 3 PM MST, we’ll have your sign produced and ready to ship to you on the
                next business day.
            </p>

        </li>
        <li>What size should I use for my lobby or office sign? Do you have standard sizes?</li>
        <li>
            <p>You can have your frosted acrylic sign produced in many different shapes and sizes as small as 4” x 4”
                and up to 48” x 96”. For lobby or office signs, the size is really up to you. As a general suggestion
                aim to design your sign with the space in mind. Some common sizes for these signs are 12” x 24”, 36” x
                18”, 24” x 48”, and 36” x 60”. If you’d like help determining which size will fit your space perfectly,
                don’t hesitate to take advantage of our <a href="https://www.signs.com/design-services/">professional
                    graphic design team</a>! Design services are free. </p>
        </li>
        <li>I don’t have a logo or brand designed yet. Can I get help with logo design?</li>
        <li>
            <p>Sure! We offer free design services to everyone. As long as you have an idea or a sketch to start from,
                our graphic designers can help you refine your logo or brand. Get started with our <a
                        href="https://www.signs.com/design-services/">free design services</a>! </p>

        </li>
    </ul>
    <div class="faq-section-header">Usage</div>
    <ul class="signs-faq-seed">
        <li>What can frosted acrylic signs be used for?</li>
        <li>
            <p>Frosted acrylic signs are best suited to be used indoors for office, lobby, or corporate signage. Outdoor
                use of frosted acrylic is also possible, however we recommend that for best long-term use for outdoor
                signage, that the sign not be mounted in a highly exposed area as sunlight and weather may cause the
                sign to deteriorate over time. </p>
            <p>Other applications for frosted acrylic signs include directional signage, door or room number signage,
                directories, divider plates and more. For any application where you would want a translucent, rigid
                sign—choose frosted acrylic. </p>
        </li>
        <li>Can frosted acrylic be used outdoors?</li>
        <li>
            <p>Yes. Frosted acrylic signs can look great outdoors especially when they are mounted to a textured
                building face such as brick or wood. If possible, try to reduce the direct exposure to the sign from
                sunlight by mounting the sign in a covered or recessed area. Protecting the sign from elements will help
                to preserve the sign. </p>
        </li>
        <li>Will my frosted acrylic sign scratch or fade?</li>
        <li>
            <p>Your frosted acrylic sign should not scratch or fade with normal, everyday use. While frosted acrylic
                signs are designed to be a lightweight glass alternative, they do not have the same hardness as glass
                and should be handled with care. Acrylic will scratch if hard or sharp objects come in contact with the
                surface. Small scratches may be polished or buffed out, but deep scratches might be difficult to
                repair. </p>
            <p>Acrylic is a durable plastic and holds up well in the elements. Normal exposure in mild to moderate
                conditions should not fade your frosted acrylic sign within its normal life expectancy of 5+ years.
                Although frosted acrylic signs will last outdoors and with some exposure to the elements, we recommend
                protecting the sign as much as possible when mounting outdoors.</p>
        </li>
        <li>Will my frosted acrylic sign bend or break?</li>
        <li>
            <p>Frosted acrylic is durable, but with the right amount of force, it can crack, break or shatter. Acrylic
                is plastic and it will bend some without breaking. The intended use for frosted acrylic, however, is to
                mount the sign flat. </p>
        </li>

    </ul>
    <div class="faq-section-header">Installation & Care</div>
    <ul class="signs-faq-seed">
        <li>How do I install my frosted acrylic sign?</li>
        <li>
            <p>Frosted acrylic signs can be mounted or placed both inside and out. Regardless of where they might be
                posted, they are generally affixed to rigid surfaces such as wood, metal, concrete or even drywall. We
                recommend selecting drilled holes and standoffs when ordering your sign so that you can easily post your
                sign in the desired spot.</p>
            <p>Perhaps the best way to install your frosted acrylic sign is to use standoffs. Our ½” diameter standoffs
                come with wall anchors and screws that can be used to post your sign. To install your sign you should
                drill a pilot hole before inserting the anchor. You can then drill your screw into the anchor in the
                rigid surface. Lastly, screw on the standoff cap for each drilled hole on your sign.</p>
            <p>Frosted acrylic signs can also be hung using the drilled holes and a variety of accessories including
                rope, bungee cord, zip ties, etc. As acrylic signs are generally a more professional sign we recommend
                mounting them with standoffs to obtain the best look.</p>
        </li>
        <li>How should I clean my frosted acrylic sign?</li>
        <li>
            <p>You can clean your frosted acrylic sign by using a non-abrasive wet rag or cloth with water or a mild
                detergent. Avoid using ammonia-based products to clean your frosted acrylic sign. Do not use paper
                towels or other abrasive cloths. Regular cleaning will ensure that your sign and the printed portion of
                the sign remain clear and vibrant.</p>
        </li>
        <li>How do I store my frosted acrylic sign?
        </li>
        <li>
            <p>Storing your frosted acrylic sign is very easy to do. Simply store it in a cool dry place at room
                temperature. Avoid scraping or rubbing it against abrasive or sharp objects to avoid scratching. If
                you’re storing multiple signs, we recommend covering them or inserting some kind of soft fabric in
                between the signs.
            </p>
        </li>
    </ul>
</div>