<!-- Hero Section -->
<section class="section-hero-full-width">
    <div class="hero-head">
        <h1>Printed Wooden Signs</h1>
        <ul class="hero-list">
            <li class="hero-list-item">Weather Resistant</li>
            <li class="hero-list-item">Durable</li>
            <li class="hero-list-item">One-Day Turnaround</li>
        </ul>
    </div>
    <div class="hero-body">
        <div class="hero-img-wrap">
            <img class="hero-img" src="https://www.signs.com/content/assets/filelibrary/Hero-8463.jpg" alt="Printed Wooden Signs" />
        </div>
    </div>
    <div class="hero-footer">
        <p class="hero-phrase">
            Fully custom wooden signs produced to last for years to come.
        </p>
    </div>
</section>
<!-- View FAQ -->
<div class="faq-search-links">
    <a href="#product-faq" class="scroll-link">View all FAQ's<span class="caret"></span
  ></a>
</div>
<!-- What are Wooden Signs? -->
<section class="section-default section-what-are sectionComeGo_md_js">
    <div class="standard-container">
        <div class="what-are-content-wrap comeGoChildWrap_js">
            <h2>What are Wooden Signs?</h2>
            <p>
                Our 1/2” wooden signs are a high-density fiberboard that is covered in bonded polymer overlay to create a smooth white finish that allows for clear printing coupled with excellent durability as a single or double-sided interior or exterior sign.
            </p>
            <p>
                Wooden signs can be custom cut to any shape for a more personalized look that will grab the attention of passersby. Unfinished or unsealed edges reveal the wooden look of the sign material for an added aesthetic touch. Whether used for your business or
                something else, custom printed wooden signs are some of the most durable exterior signs that can be purchased when compared to other rigid substrates.
            </p>
        </div>
        <div class="what-are-img-wrap comeGoImageWrap_js">
            <img src="https://www.signs.com/content/assets/filelibrary/what-are-wooden-signs-8469.jpg" alt="Wooden Signs" />
        </div>
    </div>
</section>
<!-- Wooden Sign Features -->
<section class="section-default section-signs-features">
    <div class="standard-container">
        <h2>Wooden Sign Features</h2>
        <div class="featured-body">
            <div class="featured-img-wrap">
                <img src="https://www.signs.com/content/assets/filelibrary/Features-8462.jpg" alt="Wooden Sign Features" />
            </div>
            <ul class="signs-featured-list">
                <li class="signs-featured-item">
                    <h3>
                        Clean, Elegant Look
                    </h3>
                    <p>
                        First impressions count. Welcome customers and guests to your storefront, lodge or studio with a sharp, full-color printed wooden sign.
                    </p>
                    <img src="https://www.signs.com/content/assets/filelibrary/Clean,-Elegant-Look-8467.png" alt="Clean, Elegant Look" />
                </li>
                <li class="signs-featured-item">
                    <h3>Weather Resistant</h3>
                    <p>
                        Our durable wooden signs are water and weather resistant, lasting five or more years with proper care and maintenance.
                    </p>
                    <img src="https://www.signs.com/content/assets/filelibrary/Weather-Resistant-8471.png" alt="Weather Resistant" />
                </li>
                <li class="signs-featured-item">
                    <h3>Professionally Drilled Holes</h3>
                    <p>
                        Let us drill holes for you to mount your wooden sign on a wall or existing sign post. Simply select which option will work best for you in our design tool.
                    </p>
                    <img src="https://www.signs.com/content/assets/filelibrary/Professionally-Drilled-Holes-8468.png" alt="Professionally Drilled Holes" />
                </li>
                <li class="signs-featured-item">
                    <h3>Different Shapes</h3>
                    <p>
                        Make a statement with a variety of cut options. In addition to offering square or rounded corners, we can cut your sign to the shape of your logo in either halo or contour options.
                    </p>
                    <img src="https://www.signs.com/content/assets/filelibrary/Different-Shapes-8461.png" alt="Different Shapes" />
                </li>
            </ul>
        </div>
    </div>
</section>
<!-- Design tool and services -->
<section class="section-default design-services">
    <div class="standard-container">
        <div class="myrow">
            <div class="design-services-group">
                <h2 class="design-services-heading">Easy to Use <br />Design Tool</h2>
                <img class="design-services-image" src="https://www.signs.com/content/assets/filelibrary/design-tool-8460.jpg" alt="signs.com design tool with Postcards signs" />
                <p class="design-services-text">
                    Create your custom wooden sign with our simple and easy design tool. Upload images, create objects, add text, adjust sizing, change color, and so much more!
                </p>
                <a href="https://www.signs.com/design/?productID=26">Start Designing</a>
            </div>

            <div class="design-services-group">
                <h2 class="design-services-heading">
                    Free Professional <br /> Design Services
                </h2>
                <img class="design-services-image" src="https://www.signs.com/content/assets/filelibrary/Design-Services-8625.jpg" alt="Graphic designer sitting behind her desk and smiling" />
                <p class="design-services-text">
                    Whether you need help uploading your design or are interested in creating something entirely new, our team of professional graphic designers is here to help. Nothing beats free!
                </p>
                <a href="https://www.signs.com/design-services/">Get Design Help Now</a>
            </div>
        </div>
    </div>
</section>
<script>
    /* Create Gallery Image Section */
    var namelessDiv1 = document.createElement("div");
    namelessDiv1.setAttribute("class", "section-default section-gallery-image");
    var sectionDesignServices = document.querySelector(
        ".design-services + .standard-separator"
    );
    sectionDesignServices.after(namelessDiv1);
    /* Create Standard Container */
    var sectionGalleryImage = document.querySelector(".section-gallery-image");
    var namelessDiv2 = document.createElement("div");
    namelessDiv2.setAttribute("class", "standard-container");
    sectionGalleryImage.appendChild(namelessDiv2);
    /* Create Section Title */
    var standardContainerGallery = document.querySelector(
        ".section-gallery-image > .standard-container"
    );
    var sectionTitle = document.createTextNode("Image Gallery");
    var titleTag = document.createElement("h2");
    titleTag.appendChild(sectionTitle);
    standardContainerGallery.appendChild(titleTag);
    /* Move gallery slider */
    var imageGallery2019 = document.querySelector(".image-gallery-2019");
    standardContainerGallery.appendChild(imageGallery2019);
</script>
<!-- Customization Options -->
<section class="section-default section-customization-options">
    <div class="standard-container">
        <h2>Customization Options</h2>
        <ul class="customization-options-list">
            <li class="customization-options-item">
                <h3>Square/Rectangle</h3>
                <div class="img-wrap">
                    <img src="https://www.signs.com/content/assets/filelibrary/square-rectangle-8470.jpg" alt="Square/Rectangle" />
                </div>
                <p>
                    Your sign will be cut to a standard square/rectangle at the size you have selected.
                </p>
            </li>
            <li class="customization-options-item">
                <h3>Rounded Corners</h3>
                <div class="img-wrap">
                    <img src="https://www.signs.com/content/assets/filelibrary/rounded-corners-8466.jpg" alt="Rounded Corners" />
                </div>
                <p>
                    Your sign will be cut as a square/rectangle with the corners rounded oﬀ at either a ¼” or 1” radius.
                </p>
            </li>
            <li class="customization-options-item">
                <h3>Circle/Oval</h3>
                <div class="img-wrap">
                    <img src="https://www.signs.com/content/assets/filelibrary/circle-oval-8458.jpg" alt="Circle/Oval" />
                </div>
                <p>
                    Your sign will be cut as a circle/oval at the size you have selected.
                </p>
            </li>
            <li class="customization-options-item">
                <h3>Custom</h3>
                <div class="img-wrap">
                    <img src="https://www.signs.com/content/assets/filelibrary/custom-8459.jpg" alt="Custom" />
                </div>
                <p>Your sign will be cut to a custom shape.</p>
            </li>
            <li class="customization-options-item">
                <h3>Custom with Border</h3>
                <div class="img-wrap">
                    <img src="https://www.signs.com/content/assets/filelibrary/custom-with-border-8465.jpg" alt="Custom with Border" />
                </div>
                <p>
                    Your sign will be cut to a custom shape with a border of material left around the edges of your sign.
                </p>
            </li>
        </ul>
    </div>
</section>

<!-- Section Additional Specs-->
<section class="section-default section-additional-specs">
    <div class="container">
        <h2>Additional Specs</h2>
        <ul class="additional-specs-list">
            <li>
                <h3>Weight:</h3>
                <p>
                    2.23lbs per square foot (about the weight of 23 Snickers Bars)
                </p>
            </li>
            <li>
                <h3>Thickness:</h3>
                <p>
                    .5” thick (about the thickness of 127 sheets of copy paper)
                </p>
            </li>
            <li>
                <h3>Details:</h3>
                <p>
                    Exterior or interior use, durable, custom shapes available, moisture resistant, non-glare finish
                </p>
            </li>
            <li>
                <h3>Uses:</h3>
                <p>
                    Indoor/Outdoor. Construction signs, real estate signs, monument signs, architectural signs
                </p>
            </li>
            <li>
                <h3>Print Method:</h3>
                <p>
                    Four color process, eco-friendly, weather, fade and abrasion resistant UV ink
                </p>
            </li>
            <li>
                <h3>Estimated Lifespan:</h3>
                <p>5+ years with proper placement and care</p>
            </li>

            <li>
                <h3>Common Sizes</h3>
                <p>12”x24”, 24”x24”, 2’x4’, 3’x5’, 4’x4’</p>
            </li>
        </ul>
    </div>
</section>
<!-- Section Everything you need to create -->
<section class="section-default section-why-signs">
    <div class="standard-container">
        <h2>Everything You Need to Create Your Wooden Sign</h2>
        <ul class="why-signs-list">
            <li class="why-signs-list-item">
                <img src="https://www.signs.com/content/assets/filelibrary/running-8309.jpg" alt="Next Day Production" />
                <h3>Next Day Production</h3>
                <p>
                    Order by 5PM EST and we’ll have your wooden signs completed and shipped the very next business day
                </p>
            </li>
            <li class="why-signs-list-item">
                <img src="https://www.signs.com/content/assets/filelibrary/award-8381.jpg" alt="Award Winning Customer Service" />
                <h3>Award Winning Customer Service</h3>
                <p>
                    Winners of numerous customer service awards, our customer experience team keeps you as their number-one priority throughout your entire experience with Signs.com.
                </p>
            </li>
            <li class="why-signs-list-item">
                <img src="https://www.signs.com/content/assets/filelibrary/star-8311.jpg" alt="100% Satisfaction" />
                <h3>100% Satisfaction</h3>
                <p>
                    We guarantee you’ll love your wooden signs. If you don’t, we’ll be sure to make it right.
                </p>
            </li>
            <li class="why-signs-list-item">
                <img src="https://www.signs.com/content/assets/filelibrary/box-8310.jpg" alt="Free Shipping over $75*" />
                <h3>Free Shipping over $75*</h3>
                <p>
                    For wooden signs over $75 your order ships free!
                </p>
                <span class="extra">
          *Excludes rigid signs over 36” in either dimension.
        </span>
            </li>
        </ul>
    </div>
</section>
<!-- Installation and Care -->
<section class="section-default section-installation">
    <div class="standard-container">
        <ul>
            <li>
                <img src="https://www.signs.com/content/assets/filelibrary/Screws-8160.png" alt="" />
                <h2>Installation</h2>
                <p>
                    Wooden signs can be installed indoors or out. To hang, drill holes using appropriate drill bits for wood or take advantage of professionally drilled holes produced by Signs.com. Hang using rope, string, chains or bungees. Signs can also be installed onto
                    wooden posts or other rigid substrates using screws or bolts.
                </p>
            </li>
            <li>
                <img src="https://www.signs.com/content/assets/filelibrary/yellow-towel-8162.png" alt="" />
                <h2>Care</h2>
                <p>
                    Avoid contact with abrasive materials. These signs can be cleaned with a damp cloth to remove dirt. Do not expose them to fire or other high heat sources. Store in a cool, dry location.
                </p>
            </li>
        </ul>
    </div>
</section>
<!-- Section Related Products -->
<section class="section-default section-related-products">
    <div class="standard-container">
        <h2>Related Products</h2>
        <a href="/aluminum/">
            <figure>
                <img src="https://www.signs.com/content/assets/filelibrary/Aluminum-Signs-8639.jpg" alt="Aluminum Signs" />
                <figcaption>Aluminum Signs</figcaption>
            </figure>
        </a>
        <a href="/plastic-signs/">
            <figure>
                <img src="https://www.signs.com/content/assets/filelibrary/Plastic-Signs-8640.jpg" alt="Plastic Signs" />
                <figcaption>Plastic Signs</figcaption>
            </figure>
        </a>
        <a href="/wooden-prints/">
            <figure>
                <img src="https://www.signs.com/content/assets/filelibrary/Wooden-Prints-8641.jpg" alt="Wooden Prints" />
                <figcaption>Wooden Prints</figcaption>
            </figure>
        </a>
    </div>
</section>
<div id=”faq” class="section-default faqmain">
    <div class="standard-container">
        <div class="faq-section-header">Product Specs</div>
        <ul class="signs-faq-seed">
            <li>What is the actual material of your wooden signs? Is this different from MDO boards?</li>
            <li>
                <p>The material is a high-density fiberboard (HDF) that has a white face from bonded polymer on both sides. It is moisture resistant and suitable for indoor and outdoor use. This wood is both extremely versatile from a printing perspective
                    as well as in its ability to be cut to shape and used in a variety of settings and circumstances.</p>
                <br />
                <p>Yes, fiberboard is different from MDO board as it tends to have a smoother and flatter finish and thus lends&nbsp;itself to a more consistent and high-quality print job than when printing directly on MDO.</p>
            </li>
            <li>How thick are your wooden signs? Do you offer different thickness options?</li>
            <li>The wood signs offered on our website are 1/2&rdquo; thick. We do not offer any additional thickness options of our wooden signs.</li>
            <li>How durable is the wooden sign? Will the wooden signs bend or break?</li>
            <li>Our wooden signs are some of the most durable signs we have. In normal day-to-day use, unintentionally breaking them will be near impossible. Larger signs will have some pliability that increases with size. We recommend posting very large
                signs with middle support to avoid the chance of potentially damaging the sign.</li>
            <li>What is the lifespan of your wood signs?</li>
            <li>Our wooden signs can last 5+ years with proper care and placement. In many cases the lifespan of these signs is actually much longer. For exterior signs, factors such as size of the sign and climate and exposure to the elements will impact
                the estimated lifespan of the sign. Alternatively, interior signs should easily last 5+ years due to the lack of constant exposure to the elements.</li>
            <li>Will the exposure to sun or the elements cause my printing to fade?</li>
            <li>We print with a UV ink. Thus, the printed portion of the sign shouldn&rsquo;t fade despite the exposure to the sun. Nonetheless, just like any sign, there can be some fading if the sign has been exposed to direct sunlight for an extended period.</li>
            <li>Can you cut my wooden sign to a specific shape? Any restrictions?</li>
            <li>
                <p>Sure thing! we offer multiple shape options for our wooden signs including: square/rectangle, rounded corners (1/4" or 1" radius), circle/oval, custom (previously known as or sometimes referred to as contour), or custom with border (previously
                    known as or sometimes referred to as halo).</p>
                <br>
                <p>We can cut your wooden sign to almost any shape that you may request. To have your sign cut to your desired shape or design please select the “Custom” shape option during the design and ordering process.<br></br>If for some reason the
                    cut you are requesting is not possible or simply won’t look like you may want it to, we will contact you before processing and cutting your wooden sign.
                    <p>
            </li>
            <li>Do you do custom routing and etching on your wooden signs?</li>
            <li>We do not currently offer custom routing or etching or our wooden signs.</li>
            <li>What sizes do you offer? What is the maximum and minimum size you offer?</li>
            <li>We offer several standard sizes for our wood signs. These include 24&rdquo;x12&rdquo;, 48&rdquo;x24&rdquo;, 72&rdquo;x36&rdquo; and 96&rdquo;x48&rdquo;. We also offer any custom size wooden sign that is neither smaller than 6&rdquo;x6&rdquo;
                nor bigger than 96&rdquo;x48&rdquo;. You can enter custom dimensions at the top of this page to get started or within the design tool after selecting one of the templates choices.</li>
            <li>My design is really detailed and contains a number of colors. Will this increase my cost?</li>
            <li>The number of colors or your design itself will not increase the cost of printing your wood sign. We print all of our signs in full color so this aspect will not increase the price of the sign. Selecting additional options, size, quantity
                and applicable taxes and/or shipping will impact the price.</li>
            <li>What is the default color of your wooden sign?</li>
            <li>The polymer overlay of the wooden sign as described above is white by default. From a side view, you will see a natural wood color. A picture of this can be seen by hovering over the thumbnail featured in our &ldquo;About Our Wooden Signs&rdquo;
                section above. Additional pictures can be found in the photo gallery above.</li>
            <li>Is it possible to make my wood sign double sided?</li>
            <li>Yes, for an additional cost. Simply select the &ldquo;Printed Sides&rdquo; option during the design process. This will ensure that your sign is printed on both sides. If your design differs on the two sides please, select the &lsquo;2 Sides
                Different&rsquo; option and use the &ldquo;Back Side&rdquo; button below the design tool to design the back of your sign.</li>
            <li>Do you print directly onto the surface of the sign or simply put a printed vinyl overlay on top?</li>
            <li>We print directly onto the surface of the wooden sign. The actual design is <strong>not</strong> first printed onto a vinyl overlay that is then applied to the wooden sign. This allows for greater durability of the printed graphic or design
                and a better finish.</li>
            <li>Does the printed portion of the sign have a glossy or matte finish?</li>
            <li>Both the finish of the white polymer face and your sign will come out with a matte finish.&nbsp;Your sign will not have a glare or glossy type finish to it. Nor will it show a wood grain like our <a style="color: #3fa9f5;" href="https://www.signs.com/wooden-prints/">wooden prints for the home</a>.
                These wooden prints that show the grain are for interior use and home decor purposes only.</li>
            <li>Will the printed part of my sign peel away?</li>
            <li>The ink we print with is designed to not fade when exposed to the sun as well as be abrasion resistant. Thus, in day-to-day use the printed portion of your sign shouldn&rsquo;t crack or peel away. But this doesn&rsquo;t mean that if you intentionally
                tried to peel away part of the printed sign that it wouldn&rsquo;t peel away or be damaged. In the vast majority of cases having the printed portion of the sign crack and/or peel away from the sign shouldn&rsquo;t be a concern.</li>
            <li>Why does shipping cost so much if you offer free shipping?</li>
            <li>Unfortunately, shipping carriers have limits on the size of rigid sign that can be shipped via normal mail service. The general rule of thumb that triggers these higher costs is 36&rdquo; in any one direction. Thus, our exception to our free
                shipping offer is exactly that - any dimension that may exceed 36&rdquo;. Though in many cases our hands may be tied in our ability to offer alternative solutions please don&rsquo;t hesitate to contact us if you have questions about shipping
                for larger wooden signs.</li>
            <li>Can I drill my own holes for my sign?</li>
            <li>Yes. If you feel comfortable drilling your own holes for your sign then feel free to do so. The only caveat in doing so is that any damage to the sign while doing so will not be covered under our satisfaction guarantee.</li>
            <li>Can I order my wooden sign with additional or custom drilled holes?</li>
            <li>If you need additional or custom holes drilled, select the &ldquo;Custom&rdquo; option within the &ldquo;Drilled Holes&rdquo; dropdown in the design tool. We can usually accommodate such requests and simply need you to make a note of this
                during the checkout process. Custom drilled holes will add an additional cost to your order.</li>
            <li>Will my wooden signs be unreasonably heavy?</li>
            <li>
                <p>Our wooden signs are extremely durable. Part of their durability comes from the thickness of the sign itself. Nonetheless, smaller signs are not overly heavy. Larger signs can become heavy depending on just how big they are. For very large
                    signs please ensure they are posted or hung accordingly and as outlined below. As a reference, a 12&rdquo;x12&rdquo; sign weighs approximately 2.23 pounds.</p>
            </li>
            <li>Are your wooden signs recyclable?</li>
            <li>Yes. Our custom wooden signs are fully recyclable when you are finished with them.&nbsp;</li>
        </ul>
        <div class="faq-section-header">Usage</div>
        <ul class="signs-faq-seed">
            <li>Can my wooden sign be used outside? Is there anywhere I can&rsquo;t use it?</li>
            <li>Yes. Our wooden signs can be used for both interior and exterior uses. They should still last at least several years even when used exclusively outside. We would recommend not placing signs outside that may be exposed to extreme weather. High
                winds in particular, can damage even the thickest of wooden signs. Larger signs and those which aren&rsquo;t posted well are particularly susceptible to damage.</li>
            <li>What are the typical uses of wooden signs?</li>
            <li>
                <p>The most common use of wooden signs is for exterior uses typically for branding purposes or for commercial real estate. Wooden signs have proven to be effective and durable solutions for roadside businesses, farms, construction sites,
                    entrances to neighborhoods and apartment complexes and more. Beyond business use, they are often seen in parks and trails, campground sites, golf courses and many more locations. They can also be used as point of purchase signage.</p>
                <p>These custom wooden signs often give the right mix of durability and professionalism to be placed outside and deliver a great first impression for visitors and potential customers.</p>
            </li>
            <li>Will it crack or break if I drop it?</li>
            <li>Smaller signs should not break when dropped from a reasonable height or while hanging or posting. Larger signs will be more susceptible to breaking or cracking if the fall or drop is significant. Either way, we recommend that more than one
                person help install larger signs to prevent damage during installation.</li>
        </ul>
        <div class="faq-section-header">Installation & Care</div>
        <ul class="signs-faq-seed">
            <li>How do I install/hang/post my wood sign?</li>
            <li>
                <p>In most cases, wooden signs are affixed to sturdy poles for display. While drilled holes are an option when ordering your sign we do not provide any of the hardware for posting your sign, including the screws.</p>
                <p>For small to medium sized signs (less than 36&rdquo;) typically poles on either end of the sign should be sufficient. For signs that are larger than 36&rdquo;, depending on the location, we recommend using a middle support pole when posting
                    your sign. This will help prevent damage from high winds and other unforeseen circumstances.</p>
                <p>In addition to using your signs with posts they can be displayed in several ways. One common use for smaller signs is to use the drilled holes and chains to hang the wooden sign from hooks. Again, larger signs would need additional drilled
                    holes and hooks for extra support.</p>
                <p>The signs can also be affixed to any rigid surface such as a wooden, drywall or concrete walls. Depending on what type of surface it is will dictate how you install your sign. Typically though drilling pilot holes, using anchors for the
                    wall, and a combination of a screw and washer should do the trick to firmly attach the sign to the surface.</p>
                <p>Installation will vary from place to place but should take into consideration foot traffic and exterior elements alike. Rubbing against the sign or inadvertently bumping into it can damage the sign and/or your wall while exterior elements
                    can shorten the lifespan. Thus, some forethought as to the placement of the sign can prevent future damage or incidents in many cases.</p>
            </li>
            <li>How do I store my wooden sign(s)?</li>
            <li>Wooden signs should be stored in a cool, dry location. To prevent scratching or abrasions a non-abrasive piece of material can be placed over&nbsp;top of it while in storage. We would recommend not putting anything extremely heavy on larger
                signs to prevent bowing the sign.</li>
            <li>How do I clean my sign(s)?</li>
            <li>Cleaning your wood sign on a regular basis is recommended and easy to do. A damp non-abrasive cloth or rag is all that is needed in order to wipe down your sign. Make sure that there aren&rsquo;t any rocks or sharp objects on the sign or within
                the rag before wiping it down to prevent scratching. Otherwise, a gentle wiping down will help remove any dirt buildup that may occur on the sign, particularly on those used or posted outdoors.&nbsp; We also recommend avoiding harsh or
                strong chemicals or cleaners when you wiping your sign. A damp cloth should be sufficient to clean your wooden sign.</li>
            <li>Does installation require more than one person?</li>
            <li>Typically one person can install a smaller sign by themselves. We recommend that for larger signs more than one person install the sign. The size of the sign itself makes it an awkward and difficult task to complete without the help of a second
                person. In both cases, it is recommended that careful consideration of the placement of the sign and pilot holes are drilled in advance of lifting or attempting to affix the sign.</li>
        </ul>
    </div>
</div>


<script>
    window.onresize = function() {
        var x;
        var sectionComeGo = document.querySelectorAll(".sectionComeGo_js");
        for (x = 0; x < sectionComeGo.length; x++) {
            if (window.innerWidth <= 991) {
                var movingSectionTitle = document.querySelectorAll(
                    ".comeGoChildWrap_js > h2"
                )[x];

                var comeGoImageWrap = document.querySelectorAll(".comeGoImageWrap_js")[
                    x
                ];
                movingSectionTitle.after(comeGoImageWrap);
            } else {
                var comeGoChildWrap = document.querySelectorAll(".comeGoChildWrap_js")[
                    x
                ];
                var comeGoImageWrap = document.querySelectorAll(".comeGoImageWrap_js")[
                    x
                ];
                comeGoChildWrap.after(comeGoImageWrap);
            }
        }
    };
    var x;
    var sectionComeGo = document.querySelectorAll(".sectionComeGo_js");
    for (x = 0; x < sectionComeGo.length; x++) {
        if (window.innerWidth <= 991) {
            var movingSectionTitle = document.querySelectorAll(
                ".comeGoChildWrap_js > h2"
            )[x];
            var comeGoImageWrap = document.querySelectorAll(".comeGoImageWrap_js")[x];
            movingSectionTitle.after(comeGoImageWrap);
        } else {
            var comeGoChildWrap = document.querySelectorAll(".comeGoChildWrap_js")[x];
            var comeGoImageWrap = document.querySelectorAll(".comeGoImageWrap_js")[x];
            comeGoChildWrap.after(comeGoImageWrap);
        }
    }
</script>