/* Globals */
.caret {
  border: 6px solid transparent;
  border-top: 6px solid #5ba9f5;
  margin-top: 5px;
  margin-left: 5px;
}
figure {
  margin: 0;
}
.section-default {
  padding: 60px 0;
  text-align: center;
}
.section-default h2 {
  font-size: 30px;
  font-weight: 400;
  /* margin: 0; */
}
.section-default p {
  font-size: 20px;
  margin-bottom: 30px;
}
.section-default [class*="img-wrap"] img {
  width: 100%;
  /* height: auto; */
  /* height: 100%; */
}

.standard-container {
  max-width: 1560px;
  width: 100%;
  padding: 0 20px;
  box-sizing: border-box;
  margin: 0 auto;
}
/* Hero Section */
.section-hero-full-width {
  padding: 20px 0 25px;
}
.hero-head,
.hero-footer {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 800px;
  width: 100%;
  text-align: center;
  box-sizing: border-box;
}
.hero-head {
  margin-bottom: 65px;
}
.hero-head h1 {
  font-size: 50px;
  font-weight: 400;
  margin-bottom: 10px;
}
.hero-list {
  font-size: 0;
}
.hero-list-item:first-child:before {
  content: "";
}
.hero-list-item:before {
  content: "\2022";
  top: -1px;
  left: -3px;
  font-size: 18px;
  position: absolute;
}
.hero-list-item {
  position: relative;
  padding: 0 10px;
  font-size: 20px;
  display: inline-block;
}

.hero-body {
  margin-bottom: 50px;
}
.hero-img-wrap {
  max-width: 1246px;
  margin: 15px auto 20px;
  width: 100%;
}
.hero-img {
  width: 100%;
}

.hero-footer {
  margin-bottom: 20px;
}

.hero-phrase {
  font-size: 20px;
}
/* Quick Start */
.placeholder-sticky {
  padding: 0 0 30px;
}
/* Store Ratings */
#shoppersReviews {
  padding: 30px 0 0;
}
#shoppersReviews .shopper-approved-link {
  margin: 0;
}
.sa-caption {
  display: none;
}
/* View All FAQS */
.faq-search-links {
  padding: 35px 0;
  color: #5ca9f5;
  background: #fff;
  /* margin-top: -1px; */
}

/* Section What are*/
.section-what-are {
  text-align: left;
  /* position: relative; */
  padding: 65px 0;
}
.section-what-are .standard-container {
  position: relative;
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
}
.what-are-content-wrap {
  max-width: 574px;
}

.section-what-are h2 {
  margin-bottom: 57px;
}

.section-what-are p {
  margin-bottom: 20px;
  font-size: 19px;
}
.section-what-are br {
  display: none;
}
.section-what-are img {
  width: 100%;
}

.what-are-img-wrap {
  max-width: 500px;
  width: 100%;
  flex: 0 0 auto;
}
/* Section Featured */
.section-signs-features {
}
.section-signs-features * {
  box-sizing: border-box;
}
.featured-body {
  position: relative;
  margin-top: 65px;
  margin-bottom: 212px;
}
.section-signs-features h2 {
}
.featured-img-wrap {
  max-width: 940px;
  width: 100%;
  margin: 0 auto;
}
.signs-featured-list {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.signs-featured-item {
  position: absolute;
  text-align: left;
  display: inline-block;
  max-width: 290px;
  width: 100%;
}
.signs-featured-item h3 {
  font-size: 27px;
  margin-bottom: 15px;
  line-height: 1.5;
  font-weight: 500;
}
.signs-featured-item p {
  color: #919396;
  font-weight: 300;
  font-size: 22px;
}
.signs-featured-item:nth-child(1) {
  top: 135px;
  left: -18px;
}
.signs-featured-item:nth-child(2) {
  bottom: -73px;
  left: 10px;
}
.signs-featured-item:nth-child(3) {
  left: 1281px;
  top: 242px;
  max-width: 340px;
}
.signs-featured-item:nth-child(4) {
  right: 124px;
  bottom: -239px;
  max-width: 390px;
}
.signs-featured-item:nth-child(5) {
  right: 525px;
  bottom: -265px;
  max-width: 351px;
}
.signs-featured-item img {
  position: absolute;
  width: 180px;
  height: 180px;
}
.signs-featured-item:nth-child(1) img {
  right: -182px;
  top: -37px;
}
.signs-featured-item:nth-child(2) img {
  top: -92px;
  right: -155px;
}
.signs-featured-item:nth-child(3) img {
  left: -225px;
  top: -74px;
}
.signs-featured-item:nth-child(4) img {
  left: -178px;
  top: -92px;
}
.signs-featured-item:nth-child(5) img {
  top: -176px;
  left: 57px;
}
/* Design tool and services */
.design-services {
}
.design-services .myrow {
  display: flex;
  justify-content: space-between;
  margin: 0 -30px;
}
.design-services .design-services-group {
  margin-top: 0;
  margin-bottom: 0;
  max-width: 710px;
  margin: 0;
  padding: 0 30px;
  flex: 0 0 auto;
  width: 100%;
  /* min-width: 0; */
}
.design-services .design-services-heading {
  margin-top: 0;
  margin-bottom: 45px;
}
.design-services .design-services-image {
  margin-bottom: 0;
  /* height: 410px; */
  max-width: 710px;
  height: auto;
}
.design-services .design-services-text {
  color: #919396;
  margin-bottom: 5px;
  font-size: 20px;
  font-weight: 400;
}
.design-services .design-services-group a {
  color: #0097d5;
  font-size: 20px;
}

/* Section Gallery Image  */
.section-gallery-image {
  padding-bottom: 70px;
}
.section-gallery-image .standard-container {
  padding-left: 0;
  padding-right: 0;
}
.section-gallery-image h2 {
  margin-bottom: 20px;
}
.section-gallery-image .image-gallery-2019 {
  margin-top: 50px;
}
.section-gallery-image .image-gallery-2019 .image-gallery-slider2019 {
  margin-bottom: 0 !important;
}
.section-gallery-image .image-gallery-slider2019-thumbnails {
  margin-top: 30px;
}
/* Customization Options */
.customization-options-list {
  /* text-align: unset; */
  display: flex;
  justify-content: space-between;
}
.section-customization-options h2 {
  margin-bottom: 20px;
}
.customization-options-item {
  margin-top: 40px;
  display: inline-block;
  max-width: 252px;
  width: 100%;
  height: auto;
  padding: 0 20px;
  vertical-align: top;
  flex: 0 0 auto;
}
.customization-options-item h3 {
  font-size: 27px;
  font-weight: 500;
  margin-bottom: 15px;
}
.customization-options-item .img-wrap {
  max-width: 155px;
  width: 100%;
  height: auto;
  margin: 0 auto;
}
/* Additional Specs */
.section-additional-specs {
  padding: 64px 0;
}

.section-additional-specs .container {
  margin: 0 auto;
  max-width: 830px;
  text-align: center;
  padding: 0 20px;
}

.section-additional-specs h2 {
  text-align: center;
  font-size: 25px;
  margin-bottom: 50px;
}

.section-additional-specs {
}

.additional-specs-list {
  display: inline-block;
  /* margin: 0 auto; */
  text-align: left;
}

.additional-specs-list li {
  display: flex;
  margin-bottom: 20px;
  border-bottom: 2px solid #cfcccc;
  padding-right: 10px;
}
.additional-specs-list li:last-child {
  /* border-bottom: none; */
}
.additional-specs-list li h3 {
  min-width: 210px;
  font-size: 20px;
  color: #333333;
  font-weight: 400;
  margin-right: 90px;
}

.additional-specs-list li p {
  font-size: 18px;
  color: #9f9f9f;
}
/* Why Signs Section */
.section-why-signs {
}
.section-why-signs h2 {
  margin-bottom: 50px;
}
.why-signs-list {
  font-size: 0;
  margin-top: 35px;
  margin: 0 -20px;
  display: flex;
  justify-content: space-between;
  max-width: 1350px;
  width: 100%;
  display: inline-flex;
}
.why-signs-list-item {
  display: inline-block;
  font-size: 20px;
  padding: 0 20px;
  box-sizing: border-box;
  max-width: 554px;
  width: 100%;
}
.why-signs-list-item .extra {
  color: #919396;
  font-size: 14px;
  max-width: 195px;
  width: 100%;
  margin: -23px auto 0;
  display: block;
  font-style: italic;
}
.why-signs-list-item img {
  margin-bottom: 10px;
}
.why-signs-list-item h3 {
  font-size: 25px;
  margin-bottom: 10px;
}
.why-signs-list-item p {
  color: #919396;
  font-size: 17px;
}
.why-signs-list-item p br {
  /* display: none; */
}
.why-signs-list-item:nth-child(1) {
  max-width: 267px;
}
.why-signs-list-item:nth-child(1) p {
  /* max-width: 210px; */
  /* margin: 0 auto; */
}
.why-signs-list-item:nth-child(2) {
  max-width: 426px;
}
.why-signs-list-item:nth-child(2) p {
}
.why-signs-list-item:nth-child(3) {
  max-width: 253px;
}
.why-signs-list-item:nth-child(3) p {
}
.why-signs-list-item:nth-child(4) {
  max-width: 316px;
}
.why-signs-list-item:nth-child(4) p {
}
/* Care and Installation */
.section-installation {
  /* padding: 80px 0; */
  text-align: left;
}
.section-installation h2 {
}
.section-installation p {
}
.section-installation ul {
  list-style: none;
  max-width: 1225px;
  width: 100%;
  margin: 0 auto;
}
.section-installation ul li {
  margin-bottom: 50px;
}
.section-installation ul li:last-child {
  margin-bottom: 0;
}
.section-installation ul li h2 {
  font-size: 27px;
  font-weight: 500;
  margin-bottom: 15px;
}
.section-installation ul li p {
  font-size: 19px;
  max-width: 882px;
}
.section-installation ul li img {
  float: right;
  margin-left: 60px;
  height: 265px;
  width: auto;
}

.section-installation ul li:after {
  content: "";
  display: block;
  clear: both;
}

.section-installation ul li .standard-container {
  padding: 0 20px;
}

/* Section Related Products */
.section-related-products {
  padding: 65px 0;
}
.section-related-products .standard-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1567px;
  text-align: center;
}

.section-related-products h2 {
  width: 100%;
  font-size: 26px;
  margin-bottom: 25px;
}
.section-related-products .standard-container > a {
  margin: 0;
  width: 33.33%;
}
.section-related-products figure img {
  margin-bottom: 40px;
}
.section-related-products figure figcaption {
  font-size: 20px;
  font-weight: 500;
  /* color: #707070; */
}
/* FAQ */
.product-tabs-wrapper.v4 {
  margin: 0;
}
.product-tabs-wrapper #product-tab-1 {
  margin: 0;
}
.faqmain {
  margin: 0 auto;
}
.product-tabs-wrapper .faq-search-links {
  padding: 0;
  margin: 0 0 10px;
  background: initial;
}
.product-tabs-wrapper .faq-search-form {
  margin-bottom: 15px;
}
.signs-faq-2 {
  text-align: left;
}
#trustContent #trustImages {
  margin-bottom: 40px;
}
@media (max-width: 1680px) {
  /* Section What are */
  .standard-container {
    /* padding-right: 51%; */
    max-width: 1418px;
  }
  /* Section What are */
  .what-are-img-wrap {
    max-width: 470px;
  }
  /* Featured Section */
  .featured-img-wrap {
    max-width: 860px;
  }
  .featured-body {
    margin-top: 76px;
    margin-bottom: 202px;
  }
  .signs-featured-item img {
    width: 160px;
    height: 160px;
  }
  .signs-featured-item:nth-child(1) {
    /* padding-right: 205px; */
    top: 134px;
    left: -44px;
    margin-right: 167px;
  }

  .signs-featured-item:nth-child(1) img {
    right: -160px;
    top: -40px;
  }

  .signs-featured-item:nth-child(2) {
    bottom: -48px;
    left: -43px;
    /* padding-top: 180px; */
  }
  .signs-featured-item:nth-child(2) img {
    top: -61px;
    right: -150px;
  }
  .signs-featured-item:nth-child(3) {
    left: 1162px;
    /* bottom: -54px; */
    /* padding-left: 167px; */
    top: 218px;
  }
  .signs-featured-item:nth-child(3) img {
    left: -200px;
    top: -61px;
  }
  .signs-featured-item:nth-child(4) {
    right: 80px;
    top: 623px;
    /* padding-left: 171px; */
  }
  .signs-featured-item:nth-child(4) img {
    left: -160px;
    top: -78px;
  }

  .signs-featured-item:nth-child(5) {
    right: 463px;
    bottom: -262px;
    /* padding-left: 180px; */
  }

  .signs-featured-item:nth-child(5) img {
    top: -161px;
    left: 57px;
  }
  /* Design Tool and Services */
  .design-services .design-services-image {
    /* max-width: 503px; */
  }
  .design-services .design-services-group {
    max-width: 650px;
  }

  /* Customization Options */
  .customization-options-list {
    /* display: flex; */
    flex-flow: row wrap;
    max-width: 1165px;
    justify-content: space-evenly;
    display: inline-flex;
  }
  .customization-options-item {
  }
}
@media (max-width: 1600px) {
  /* Hero Section */
  .hero-img-wrap {
    max-width: 975px;
    margin-bottom: 0;
  }
  /* Section what are */
  .standard-container {
    max-width: 1390px;
  }
  .featured-body {
    margin-top: 60px;
    margin-bottom: 188px;
  }
  /* Section Featured */
  .featured-img-wrap {
    max-width: 780px;
  }
  .signs-featured-item h3 {
    /* font-size: 24px; */
  }
  .signs-featured-item p {
    /* font-size: 20px; */
  }
  .signs-featured-item img {
    width: 145px;
    height: 145px;
  }
  .signs-featured-item:nth-child(1) {
    /* padding-right: 205px; */
    top: 130px;
    left: -8px;
    margin-right: 167px;
  }
  .signs-featured-item:nth-child(1) img {
    right: -140px;
    top: -40px;
  }
  .signs-featured-item:nth-child(2) {
    bottom: -90px;
    left: -3px;
    /* padding-top: 180px; */
  }
  .signs-featured-item:nth-child(2) img {
    top: -61px;
    right: -124px;
  }
  .signs-featured-item:nth-child(3) {
    left: 1097px;
    /* bottom: -54px; */
    /* padding-left: 167px; */
    top: 203px;
  }
  .signs-featured-item:nth-child(3) img {
    left: -176px;
    top: -61px;
  }
  .signs-featured-item:nth-child(4) {
    right: 80px;
    top: 568px;
    /* padding-left: 171px; */
  }
  .signs-featured-item:nth-child(4) img {
    left: -152px;
    top: -78px;
  }
  /* Design tool and services */
  .design-services .design-services-group {
    max-width: 632px;
  }
}
@media (max-width: 1536px) {
  .standard-container {
    max-width: 1271px;
  }
  /* Hero Section */
  .hero-img-wrap {
    max-width: 999px;
  }
  /* Section What are */
  .standard-container {
    /* padding-right: 44%; */
    max-width: 1285px;
  }
  .what-are-img-wrap {
    max-width: 490px;
  }
  /* Why Signs */
  .why-signs-list-item {
  }
  .why-signs-list-item br {
    display: none;
  }

  /* Featured Section */
  .featured-img-wrap {
    max-width: 665px;
  }
  .signs-featured-item img {
    width: 130px;
    height: 130px;
  }
  .signs-featured-item h3 {
    font-size: 24px;
  }
  .signs-featured-item p {
    font-size: 20px;
  }
  .signs-featured-item {
    max-width: 269px;
  }
  .signs-featured-item:nth-child(1) {
    /* padding-right: 205px; */
    top: -30px;
    left: 82px;
    top: 110px;
    left: 28px;
    margin-right: 167px;
  }
  .signs-featured-item:nth-child(1) img {
    right: -112px;
    top: -40px;
  }
  .signs-featured-item:nth-child(2) {
    bottom: -92px;
    left: 40px;
    /* padding-top: 180px; */
  }
  .signs-featured-item:nth-child(2) img {
    top: -58px;
    right: -106px;
  }
  .signs-featured-item:nth-child(3) {
    left: 991px;
    top: 185px;
    max-width: 294px;
  }
  .signs-featured-item:nth-child(3) img {
    left: -158px;
    top: -61px;
  }
  .signs-featured-item:nth-child(4) {
    right: 100px;
    top: initial;
    bottom: -212px;
    max-width: 355px;
  }
  .signs-featured-item:nth-child(4) img {
    left: -128px;
    top: -62px;
  }

  /* Design tool and services */
  .design-services .design-services-group {
    max-width: 587px;
  }

  /* Wooden Sign */
  .why-signs-list-item h3 {
    font-size: 22px;
  }
  .why-signs-list-item p {
    font-size: 16px;
    margin: 0 auto 30px;
  }
  .why-signs-list-item:nth-child(1) p {
    max-width: 209px;
    margin: 0 auto 30px;
  }
  .why-signs-list-item:nth-child(3) p {
    max-width: 203px;
    /* margin: 0 auto; */
  }
  .why-signs-list-item:nth-child(4) p {
    max-width: 227px;
    /* margin: 0 auto; */
  }
}

@media (max-width: 1440px) {
  /* Section What are */
  .standard-container {
    /* padding-right: 44%; */
    max-width: 1225px;
  }
  .what-are-img-wrap {
    max-width: 470px;
  }
  /* Featured Section */
  .featured-img-wrap {
    max-width: 640px;
  }
  .signs-featured-item h3 {
    font-size: 22px;
  }
  .signs-featured-item p {
    font-size: 18px;
  }
  .signs-featured-item img {
    width: 120px;
    height: 120px;
  }
  .signs-featured-item:nth-child(1) {
    top: 111px;
    left: 35px;
    margin-right: 167px;
    max-width: 238px;
  }
  .signs-featured-item:nth-child(1) img {
    right: -112px;
    top: -40px;
  }

  .signs-featured-item:nth-child(2) {
    bottom: -73px;
    left: 44px;
    /* padding-top: 180px; */
  }

  .signs-featured-item:nth-child(2) img {
    top: -47px;
    right: -72px;
  }
  .signs-featured-item:nth-child(3) {
    left: 947px;
    /* bottom: -54px; */
    /* padding-left: 167px; */
    top: 179px;
  }
  .signs-featured-item:nth-child(3) img {
    left: -148px;
    top: -57px;
  }

  .signs-featured-item:nth-child(3) p {
    max-width: 236px;
  }
  .signs-featured-item:nth-child(4) {
    right: 65px;
    top: initial;
    /* padding-left: 171px; */
    bottom: -205px;
  }
  .signs-featured-item:nth-child(4) img {
    left: -128px;
    top: -62px;
  }
  .signs-featured-item:nth-child(4) p {
    max-width: 331px;
  }
  /* Design Tools and Services */
  .design-services .design-services-group {
    max-width: 555px;
  }
  /* Wooden Signs */
  .why-signs-list {
    margin: 0 -15px;
  }
  .why-signs-list-item {
    padding: 0 10px;
  }
}

@media (max-width: 1366px) {
  .standard-container {
    max-width: 1123px;
  }
  /* Hero Section */
  .hero-img-wrap {
    max-width: 699px;
  }
  .hero-head {
    margin-bottom: 45px;
  }
  .hero-body {
    margin-bottom: 40px;
  }
  /* Section What are Opaque Vehicle Decals */
  .what-are-img-wrap {
    max-width: 308px;
  }
  /* Why Signs.com */
  .why-signs-list {
    margin: 0 -80px;
  }
  /* Design tool and services */
  .design-services .design-services-image {
    height: 374px;
    object-fit: contain;
  }

  /* Featured Section */
  .featured-img-wrap {
    max-width: 679px;
  }

  .featured-body {
    position: relative;
    margin-top: 50px;
    margin-bottom: 160px;
  }
  .signs-featured-item img {
    width: 130px;
    height: 130px;
  }
  .signs-featured-item h3 {
    font-size: 20px;
    margin-bottom: 10px;
    line-height: 1.2;
  }
  .signs-featured-item p {
    font-size: 18px;
  }
  .signs-featured-item:nth-child(1) {
    /* padding-right: 155px; */
    top: 112px;
    left: -4px;
    margin-right: 0;
  }

  .signs-featured-item:nth-child(1) img {
    right: -105px;
    top: -40px;
  }

  .signs-featured-item:nth-child(2) {
    bottom: -71px;
    left: -33px;
    /* padding-top: 140px; */
  }
  .signs-featured-item:nth-child(2) img {
    top: -65px;
    right: -90px;
  }
  .signs-featured-item:nth-child(3) {
    left: 897px;
    bottom: initial;
    /* padding-left: 120px; */
    top: 122px;
  }

  .signs-featured-item:nth-child(3) img {
    left: -141px;
    top: 3px;
  }

  .signs-featured-item:nth-child(4) {
    right: 20px;
    top: initial;
    bottom: -190px;
  }

  .signs-featured-item:nth-child(4) img {
    left: -137px;
    top: -66px;
  }

  .signs-featured-item:nth-child(5) {
    right: 285px;
    bottom: -264px;
    /* padding-left: 145px; */
  }

  .signs-featured-item:nth-child(5) img {
    top: -161px;
    left: 57px;
  }
  /* Design tool and services */
  .design-services .design-services-group {
    max-width: 502px;
  }
  /* Customization Options */
  .customization-options-list {
    margin: 0 -15px;
  }
  .customization-options-item h3 {
    font-size: 20px;
  }
  .section-default p {
    font-size: 15px;
  }
  .customization-options-item {
    max-width: 176px;
    padding: 0 15px;
  }
  /* Wooden Signs */
  .section-why-signs .standard-container {
    max-width: 1232px;
  }

  /* Care and Installation */
  .section-installation ul li {
  }
  .section-installation ul li img {
    max-width: 300px;
    height: auto;
    margin-left: 20px;
  }
}

@media (max-width: 1280px) {
  /* Hero Section */
  .hero-img-wrap {
    max-width: 825px;
  }
  /* Section What are Opaque Vehicle Decals */
  .what-are-img-wrap {
  }
  .section-what-are .standard-container {
    /* padding-right: 51%; */
  }

  /* Why Signs.com */
  .section-why-signs .standard-container {
    /* max-width: 1220px; */
  }
  .why-signs-list-item h3 {
    /* height: 60px; */
  }
  /* Related Products */
  .section-related-products .standard-container {
    justify-content: space-between;
  }
  .section-related-products .standard-container > a {
  }
  .section-related-products figure img {
    max-width: 100%;
    height: auto;
  }
}

@media (max-width: 1280px) and (max-height: 720px) {
  .hero-img-wrap {
    max-width: 655px;
  }
}
@media (max-width: 1199px) {
  /* Section What are */

  .what-are-img-wrap {
    max-width: 295px;
  }
  .section-what-are .standard-container {
    /* padding-right: 51%; */
  }
  /* Section Featured */
  .section-signs-features {
    padding: 45px 0;
  }
  .section-signs-features h2 {
    margin-bottom: 20px;
  }
  .featured-body {
    margin: 0;
  }
  .featured-img-wrap {
    max-width: initial;
    margin-bottom: 15px;
    max-width: 679px;
  }
  .signs-featured-list {
    position: static;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .signs-featured-item {
    position: relative;
    min-height: 130px;
    display: block;
    left: initial !important;
    top: initial !important;
    bottom: initial !important;
    right: initial !important;
    flex: 0 0 auto;
  }
  .signs-featured-item img {
    left: 0 !important;
    top: 0 !important;
  }
  .signs-featured-item {
    padding: 0 0 0 140px !important;
    display: block;
    margin-bottom: 30px !important;
    margin-right: 0 !important;
    max-width: initial !important;
  }
  .signs-featured-item p {
    max-width: initial !important;
  }
  .signs-featured-item:nth-child(1) {
    order: 1;
  }
  .signs-featured-item:nth-child(2) {
    order: 3;
    /* margin-bottom: 0 !important; */
  }
  .signs-featured-item:nth-child(3) {
    order: 4;
    margin-bottom: 0 !important;
  }
  .signs-featured-item:nth-child(4) {
    order: 2;
  }
  .signs-featured-item:nth-child(5) {
    order: 4;
    margin-bottom: 0;
  }
  .signs-featured-item br {
    display: none;
  }
  /* Design tool and services */
  .design-services .myrow {
    margin: 0 -20px;
  }
  .design-services .design-services-group {
    max-width: 450px;
  }
  /* Customization Options */
  .customization-options-list {
    max-width: 823px;
    justify-content: space-around;
  }
  .customization-options-item {
  }
  /* Why Signs.com */
  .why-signs-list {
    margin: 0 auto;
    flex-flow: row wrap;
    max-width: 637px;
  }
  .why-signs-list-item {
    padding: 0 10px;
    flex: 0 0 auto;
    max-width: 260px !important;
    margin-bottom: 35px;
    height: auto !important;
  }
  .why-signs-list-item h3 {
    font-size: 21px;
  }
  .why-signs-list-item p {
    margin: 0 auto 0;
  }
  .why-signs-list-item .extra {
    margin-top: 9px;
  }
  /* Related Product */
  .section-related-products figure img {
    height: 236px;
    /* max-width: 407px; */
    margin: 0 auto;
    display: inline-block;
  }
}

@media (max-width: 991px) {
  /* Hero Section */
  .section-hero-full-width {
    padding: 70px 0 15px;
  }

  /* Section What are */
  .section-what-are h2 {
    margin-bottom: 30px;
  }
  .what-are-content-wrap {
    max-width: initial;
    text-align: center;
  }
  .what-are-img-wrap {
    max-width: 545px;
    position: static;
    margin-bottom: 20px;
    padding-right: 93px;
    margin: 0 auto 25px;
  }
  .section-what-ovd .standard-container {
    padding: 0 20px;
    text-align: center;
  }
  .section-what-ovd h2 {
    margin-bottom: 20px;
  }

  /* Section Gallery Image  */
  .section-gallery-image .image-gallery-slider2019-thumbnails {
    margin-top: 30px;
  }

  /* Why Signs.com */
  .why-signs-list {
    display: block;
    max-width: initial;
  }
  .why-signs-list-item {
    margin-bottom: 25px;
    max-width: 345px !important;
    vertical-align: top;
  }
  .why-signs-list-item:last-child {
    margin-bottom: 0;
  }
  .section-why-signs h2 {
    margin-bottom: 20px;
  }
  .why-signs-list-item .extra {
    margin-bottom: 20px;
  }
  .why-signs-list-item p {
    margin-bottom: 20px;
    max-width: initial !important;
    margin: 0 auto !important;
  }
  /* Design tool and services */
  .design-services,
  .design-services * {
    box-sizing: border-box;
  }
  .design-services .myrow {
    display: block;
    margin: 0;
  }
  .design-services .design-services-group {
    margin: 0 auto 40px;
    max-width: initial;
    padding: 0;
  }
  .design-services .design-services-image {
    height: auto;
    width: 100%;
    max-width: 693px;
  }
  .design-services .design-services-group:nth-child(2) {
    margin-bottom: 0;
  }
  .design-services-heading > br {
    display: none;
  }
  .design-services .design-services-heading {
    margin: 0 0 20px;
    max-width: initial;
    width: 100%;
    padding: 0 20px;
  }
  /* Related Product */
  .section-related-products figure img {
    height: 176px;
  }
}

@media (max-width: 768px) {
  /* Section What Are */
  .section-what-are {
    padding: 40px 0 30px;
  }
  .section-what-are .standard-container {
    display: block;
    padding: 0;
  }
  .section-what-are h2 {
    margin-bottom: 25px;
  }
  .what-are-content-wrap {
    text-align: center;
    max-width: initial;
  }
  .what-are-img-wrap {
    /* height: 384px; */
    width: 100%;
    margin: 0 auto 25px;
    max-width: 551px;
    height: auto;
  }
  .what-are-img-wrap img {
    height: 100%;
  }
  .what-are-content-wrap h2,
  .what-are-content-wrap p {
    padding: 0 20px;
  }
  /* Section Store Ratings  */

  #shoppersReviews,
  #shoppersReviews * {
    display: block !important;
    padding: 0 !important;
    margin: 0 !important;
    position: static !important;
    text-align: center !important;
  }
  #shoppersReviews {
    padding: 20px 0 !important;
  }
  #shoppersReviews > br {
    display: none !important;
  }
  #shoppersReviews .shopperapproved_widget {
    height: auto !important;
  }
  #shoppersReviews .aggregateRating-container {
    display: flex !important;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
  }
  #shoppersReviews .shopper-approved-container {
    padding: 0 20px !important;
  }
  #shoppersReviews .sa_review {
    height: auto !important;
    text-align: center;
    display: flex !important;
    flex-direction: column-reverse;
  }
  #shoppersReviews .sa_review tbody > tr {
    display: flex !important;
    flex-direction: column-reverse;
    align-items: center;
  }
  #shoppersReviews .sa_comments {
    margin-top: -17px !important;
    min-height: 60px;
    height: auto;
    display: block;
    flex: 0 0 auto;
    align-items: flex-end;
    font-size: 16px;
    overflow: visible;
    margin: 0 !important;
    overflow: hidden;
  }
  #shoppersReviews .sa_location {
    display: none !important;
  }
  #shoppersReviews .sa_info > span:first-of-type {
    background: red;
    display: none !important;
  }
  #shoppersReviews .sa_info {
    height: auto;
    display: block !important;
    flex: 0 0 auto;
  }
  #shoppersReviews .sa_date {
    display: none !important;
  }
  #shoppersReviews .sa_displayname {
    font-weight: 300;
  }
  #shoppersReviews .sa_star {
    display: none !important;
  }
  #shoppersReviews .sa-caption {
    display: none !important;
  }
  #shoppersReviews script {
    display: none !important;
  }
  /* Trusted Signage provider */
  #trustContent
    .freightLight
    + #trustImages
    .trust-image-wrapper
    .footer-badge-separator {
    display: none;
  }
  #trustContent
    .freightLight
    + #trustImages
    .trust-image-wrapper
    .link-wrapper {
    position: relative;
    margin-left: 0.5px;
    margin-right: 0.5px;
  }
  #trustContent
    .freightLight
    + #trustImages
    .trust-image-wrapper
    .link-wrapper:before,
  #trustContent
    .freightLight
    + #trustImages
    .trust-image-wrapper
    .link-wrapper:after {
    content: "";
    display: block;
    width: 1px;
    height: 89px;
    background: url(/content/assets/styles/defaultStyle/images/footerBadgeSeparator.png)
      no-repeat;
    margin: 0 -1px;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
  }
  #trustContent
    .freightLight
    + #trustImages
    .trust-image-wrapper
    .link-wrapper:before {
  }
  #trustContent
    .freightLight
    + #trustImages
    .trust-image-wrapper
    .link-wrapper:after {
    right: 0;
  }
}
@media (max-width: 575px) {
  .section-default {
    padding: 40px 0;
    /* overflow: hidden; */
  }
  /* Hero Section */
  .section-hero-full-width {
    padding-top: 20px;
  }
  .hero-head h1 {
    font-size: 35px;
  }

  .hero-list-item {
    font-size: 16px;
  }
  .hero-list-item:first-child:before {
    /* content: "\2022"; */
  }
  .hero-img-wrap {
    padding: 0 20px;
    box-sizing: border-box;
  }
  .hero-phrase {
    font-size: 16px;
  }

  /* Section Store Ratings  */

  #shoppersReviews,
  #shoppersReviews * {
    display: block !important;
    padding: 0 !important;
    margin: 0 !important;
    position: static !important;
    text-align: center !important;
  }
  #shoppersReviews {
    padding: 20px 0 !important;
  }
  #shoppersReviews > br {
    display: none !important;
  }
  #shoppersReviews .shopperapproved_widget {
    height: auto !important;
  }
  #shoppersReviews .aggregateRating-container {
    display: flex !important;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
  }
  #shoppersReviews .shopper-approved-container {
    padding: 0 20px !important;
  }
  #shoppersReviews .sa_review {
    height: auto !important;
    text-align: center;
    display: flex !important;
    flex-direction: column-reverse;
  }
  #shoppersReviews .sa_review tbody > tr {
    display: flex !important;
    flex-direction: column-reverse;
    align-items: center;
  }
  #shoppersReviews .sa_comments {
    margin-top: -17px !important;
    min-height: 60px;
    height: auto;
    display: block;
    flex: 0 0 auto;
    align-items: flex-end;
    font-size: 16px;
    overflow: visible;
    margin: 0 !important;
    overflow: hidden;
  }
  #shoppersReviews .sa_location {
    display: none !important;
  }
  #shoppersReviews .sa_info > span:first-of-type {
    background: red;
    display: none !important;
  }
  #shoppersReviews .sa_info {
    height: auto;
    display: block !important;
    flex: 0 0 auto;
  }
  #shoppersReviews .sa_date {
    display: none !important;
  }
  #shoppersReviews .sa_displayname {
    font-weight: 300;
  }
  #shoppersReviews .sa_star {
    display: none !important;
  }
  #shoppersReviews .sa-caption {
    display: none !important;
  }
  #shoppersReviews script {
    display: none !important;
  }
  /* Section What Are */
  .section-what-are {
    /* padding: 40px 0; */
  }
  .what-are-img-wrap {
    max-width: 285px;
    height: auto;
    padding-right: 30px;
  }
  /* Featured Section */
  .section-signs-features h2 {
    margin-bottom: 20px;
  }
  .featured-img-wrap {
  }

  /* Section Gallery Image */
  .section-gallery-image .standard-container {
    padding-left: 0;
    padding-right: 0;
  }
  /* Design tool and services */
  .design-services .design-services-group {
    padding: 0;
  }
  .design-services .myrow {
    margin: 0 -20px;
  }
  .design-services-heading > br {
    display: none;
  }
  .design-services .design-services-heading {
    margin: 0 0 20px;
    max-width: initial;
    width: 100%;
    padding: 0 20px;
  }
  /* Customization Options */
  .customization-options-list {
    margin: 0;
    display: block;
  }
  .customization-options-item {
    padding: 0;
    width: 100%;
    display: inline-block;
    max-width: 240px;
    margin-top: 0;
    margin-bottom: 35px;
  }
  .customization-options-item:last-child {
    margin-bottom: 0;
  }
  .section-default p {
    margin-bottom: 0;
  }
  /* Section Additional Specs */
  .section-additional-specs .additional-specs-list {
    max-width: initial;
    width: 100%;
    display: block;
  }
  .section-additional-specs h2 {
    margin-bottom: 20px;
  }
  .additional-specs-list li {
    display: block;
    text-align: center;
    padding: 0;
    text-align: left;
    border-bottom: 0;
    display: flex;
    /* flex-flow: row wrap; */
    justify-content: space-between;
    display: block;
    text-align: center;
  }
  .additional-specs-list li h3 {
    margin: 0 0 5px;
    font-weight: 400;
    font-size: 18px;
    flex: 0 0 auto;
    max-width: 116px;
    width: 116px;
    min-width: 116px;
    /* justify-self: flex-start; */
    /* align-self: flex-start; */
    max-width: initial;
    min-width: initial;
    width: 100%;
  }
  .additional-specs-list li p {
    font-size: 16px;
    margin-bottom: 20px;
    flex: 0 0 auto;
    width: 100%;
    max-width: 254px;
    max-width: initial;
  }

  .section-additional-specs + .standard-separator {
    /* display: none; */
  }

  /* Section Related Products */
  .section-related-products figure img {
    width: 90%;
    height: auto;
    max-width: 355px;
  }
  .section-related-products .standard-container > a {
    width: 100%;
    margin-bottom: 40px;
  }
  .section-related-products .standard-container > a:last-child {
    margin-bottom: 0;
  }
  /* Section Review */
  #review_image {
    display: none;
  }
  #product_page #sa_sort {
    display: block;
    margin-top: 20px;
    text-align: center;
    /* margin: 0 auto; */
    margin: 20px auto 0;
  }
  #product_page .paging {
    height: auto;
    padding: 0;
    text-align: center;
    margin-top: 30px;
  }
  #shopper_review_page {
    padding-bottom: 35px;
  }
  /* Installation and Care */
  .section-installation ul li {
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .section-installation ul li h2 {
    order: 1;
  }
  .section-installation ul li img {
    order: 2;
    margin: 0 auto 15px;
  }
  .section-installation ul li p {
    order: 3;
  }
}
@media (max-width: 425px) {
  /* Section What Are */
  .what-are-img-wrap {
    padding-right: 35px;
  }
}
@media (max-width: 414px) {
  /* Section Quick Start */
  .sizeInput.qty {
    justify-content: flex-end;
  }
  .sizeInput.qty .size-input-qty {
    margin: 0;
  }
  /* Section What Are */
  .what-are-img-wrap {
    padding-right: 45px;
  }
}
@media (max-width: 375px) {
  /* Section What Are */
  .what-are-img-wrap {
    padding-right: 54px;
  }
  /* Section Feature */
  .signs-featured-item {
    padding: 0 0 0 140px !important;
  }
  .signs-featured-item img {
    width: 115px;
    height: 115px;
  }

  /* Section Additional Specs */
  .additional-specs-list li p {
    /* max-width: 225px; */
  }
}

@media (max-width: 360px) {
  /* Section Additional Specs */
  .additional-specs-list li p {
    /* max-width: 206px; */
  }
}

@media (max-width: 320px) {
  .additional-specs-list li h3 {
    /* margin: 0 0 5px; */
    /* max-width: 101px; */
    /* min-width: 0; */
  }
  .additional-specs-list li p {
    /* max-width: 163px; */
    font-size: 16px;
  }
  /* Trusted Signage provider */
  .footer-badge-separator {
    display: none !important;
  }
  .page-block-2.trust-image-wrapper {
    display: block;
    text-align: center;
  }
  #trustContent
    .freightLight
    + #trustImages
    .trust-image-wrapper
    .link-wrapper {
    display: block;
    max-width: 189px;
    width: 100%;
    margin: 0 auto 20px;
    display: inline-block;
    float: none;
  }
  /* Section What Are */
  .what-are-content-wrap * {
    box-sizing: border-box;
  }
  .what-are-img-wrap {
    padding-right: 35px;
  }
}
