<!-- Rider Comparison -->
<section class="product-comparison-section page-section" id="product-comparison-section">
    <div class="section-content-header">
        <h2 class="content-header">Rider Comparison</h2>
    </div>
    <div class="section-content-text">
        <p>
            Our custom real estate sign riders are designed for display in our real
            estate frames, posts, a-frames, or any other real estate sign. Sign riders
            are the perfect addition for outdoor display use, giving you greater
            flexibility in advertising your residential or commercial property.
            Available in a variety of materials and made to be interchangeable within
            the frame, theres limitless possibilities for display using sign riders
            with our industry standard <a href="https://www.signs.com/real-estate-signs-v2/">real estate signs</a>. See the chart below for an
            overview of all four types.
        </p>
    </div>
    <div class="product-comparison-table" id="comparisonTable">
        <table-mobile :specs="specs"
                      :products="products"
                      :selected="selected"
                      v-on:select="updateSelected"
                      v-if="hasSelected && !isDesktop"></table-mobile>
        <table-desktop :specs="specs"
                       :products="products"
                       v-if="isDesktop"></table-desktop>
    </div>
</section>

<script type="text/x-template" id="table-mobile-template">
  <div class="comparison-table-mobile">
    <div class="product-comparison-tabs">
      <template v-for="product in products">
        <a href="#" :key="product.id" :class="[{active: selected.id === product.id}, 'product-comparison-tab-item']" v-on:click.prevent="selectProduct(product)">{{ product.name }}</a>
      </template>
    </div>

    <div class="product-comparison-thumbnail">
      <img :src="selected.image" :alt="selected.name">
    </div>

    <div class="product-comparison-specs">
      <div class="product-comparison-spec-item" v-for="spec in specs" :key="spec.value">
        <div class="spec-name">{{ spec.text }}</div>
        <div class="spec-value">{{ selected[spec.value] }}</div>
      </div>
    </div>
  </div>
</script>

<script type="text/x-template" id="table-desktop-template">
  <div class="comparison-table-desktop">
    <div class="product-comparison-columns">
      <div class="product-comparison-column">
        <div class="product-comparison-item"></div>
          <div class="product-comparison-item">
            <span>Compatible Sign Type</span>
          </div>
          <div class="product-comparison-item" v-for="spec in specs" :key="spec.value">
            <span>{{ spec.text }}</span>
          </div>
      </div>
      <div class="product-comparison-column" v-for="product in products" :key="product.id">
        <div class="product-comparison-item">
          <img :src="product.image" :alt="product.name">
        </div>
        <div class="product-comparison-item">
          <span>{{ product.name }}</span>
        </div>
        <template v-for="spec in specs">
          <div class="product-comparison-item" :key="spec.value">
            <span>{{ product[spec.value] }}</span>
          </div>
        </template>
      </div>
    </div>
  </div>
</script>

<script>
    Vue.component("table-desktop", {
        props: ["specs", "products"],
        template: "#table-desktop-template"
    });

    Vue.component("table-mobile", {
        props: ["specs", "products", "selected"],
        template: "#table-mobile-template",
        methods: {
            selectProduct: function (product) {
                this.$emit("select", product);
            }
        }
    });

    var app = new Vue({
        el: "#comparisonTable",
        data: {
            windowWidth: $(window).width(),
            specs: [
                {
                    text: "Available Sizes",
                    value: "availableSizes"
                },
                {
                    text: "Materials",
                    value: "materials"
                },
                {
                    text: "Rounded Corners",
                    value: "roundedCorners"
                },
                {
                    text: "Print",
                    value: "print"
                },
                {
                    text: "Printed Sides",
                    value: "printedSides"
                }
            ],
            selected: null,
            products: [
                {
                    id: 0,
                    name: "Post",
                    availableSizes: "24 x 6 and 36 x 6",
                    materials: "Aluminum",
                    roundedCorners: "Yes",
                    print: "Full Color",
                    printedSides: "Single and Double-Sided",
                    image:
                        "https://www.signs.com/content/assets/filelibrary/Comparison-Chart-Post-15109.jpg"
                },
                {
                    id: 1,
                    name: "A-Frame",
                    availableSizes: "24 x 6",
                    materials: "Coroplast",
                    roundedCorners: "No",
                    print: "Full Color",
                    printedSides: "Single and Double-Sided",
                    image:
                        "https://www.signs.com/content/assets/filelibrary/Comparison-Chart-Aframe-15106.jpg"
                },
                {
                    id: 2,
                    name: "Metal Frame",
                    availableSizes: "24 x 6",
                    materials: "Aluminum, Coroplast, and Plastic",
                    roundedCorners: "No",
                    print: "Full Color",
                    printedSides: "Single and Double-Sided",
                    image:
                        "https://www.signs.com/content/assets/filelibrary/Comparison-Chart-Frame-15108.jpg"
                },
                {
                    id: 3,
                    name: "Other",
                    availableSizes: "Custom",
                    materials: "Aluminum, Coroplast, and Plastic",
                    roundedCorners: "Custom",
                    print: "Full Color",
                    printedSides: "Single and Double-Sided",
                    image:
                        "https://www.signs.com/content/assets/filelibrary/Comparison-Chart-Other-15107.jpg"
                }
            ]
        },
        computed: {
            hasSelected: function () {
                return this.selected !== null;
            },
            isDesktop: function () {
                return this.windowWidth >= 992;
            }
        },
        methods: {
            updateSelected: function (product) {
                this.selected = product;
            }
        },
        mounted() {
            var $this = this;

            $(window).resize(function () {
                $this.windowWidth = $(window).width();
            });

            this.selected = this.products.length > 0 ? this.products[0] : null;
        }
    });
</script>
