<link rel="stylesheet" href="https://use.typekit.net/vgw5mla.css">
<link href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" rel="stylesheet"/>
<script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>
<style>

</style>

<!-- Hero Section -->
<section class="section-default section-hero-special section-hero-special-bg">
    <div class="hero-special-content">
        <div class="hero-special-content-img"><img
                src="https://www.signs.com/content/assets/filelibrary/Header-side-grahic-01-9700.png"
                alt="Blue background for design"></div>
        <h1>Metal prints</h1>
        <p>20<span class="sign-plus">+</span> <br> Start at $23.77</p>
        <p>Perfect for the <br> Best Moments in Life</p>
        <a href="/" class="btn-blue btn-get-started">Get started</a>
    </div>
</section>
<!-- Crafted with Care -->
<section class="section-default section-crafted-with-care">
    <div class="standard-container">
        <h2>Crafted with care</h2>
        <p>from our hearts to your</p>
        <div class="cards-crafted">
            <div class="card-crafted-item">
                <div class="img-wrap"><img
                        src="https://www.signs.com/content/assets/filelibrary/Metal-Print-packaging-review-9702.jpg"
                        alt="Personally reviewed metal prints "></div>
                <div class="body-wrap">
                    <h3>Personally Reviewed</h3>
                    <p>All metal prints are personally reviewed to ensure they meet our professional standards.</p>
                </div>
            </div>
            <div class="card-crafted-item">
                <div class="img-wrap"><img src="https://www.signs.com/content/assets/filelibrary/US2@2x-9703.png"
                                           alt="Locally made metal prints"></div>
                <div class="body-wrap">
                    <h3>Locally Made</h3>
                    <p>All our prints are made and printed locally in the U.S. with the highest quality materials.</p>
                </div>
            </div>
            <div class="card-crafted-item">
                <div class="img-wrap"><img
                        src="https://www.signs.com/content/assets/filelibrary/Metal-Print-packaging-9704.jpg"
                        alt="Carefully packaged metal prints"></div>
                <div class="body-wrap">
                    <h3>Carefully Packaged</h3>
                    <p>We take extra precautions when packaging our prints to ensure they are delivered safely.</p>
                </div>
            </div>
        </div>
        <a class="btn-blue btn-get-started">Get started</a>
    </div>
</section>
<!-- Step Happiness -->
<section class="section-default section-step-happiness">
    <div class="standard-container">
        <h2>Only 3 steps from happiness</h2>
        <ul class="list-step-happiness">
            <li class="item-step-happiness">
                <div class="img-wrap"><img src="https://www.signs.com/content/assets/filelibrary/Group-40@2x-9705.png"
                                           alt="Step 1"></div>
                <div class="content-wrap">
                    <h3>Step 1</h3>
                    <p>Click "Get Started" and upload your image</p>
                </div>
            </li>
            <li class="item-step-happiness">
                <div class="img-wrap"><img src="https://www.signs.com/content/assets/filelibrary/Group-42@2x-9706.png"
                                           alt="Step 2"></div>
                <div class="content-wrap">
                    <h3>Step 2</h3>
                    <p>Select your options: size, quantity, finish and display options.</p>
                </div>
            </li>
            <li class="item-step-happiness">
                <div class="img-wrap"><img src="https://www.signs.com/content/assets/filelibrary/Group-44@2x-9707.png"
                                           alt="Step 3"></div>
                <div class="content-wrap">
                    <h3>Step 3</h3>
                    <p>Enter your shipping and payment info and voila! You're done!</p>
                </div>
            </li>
        </ul>
    </div>
</section>
<!-- Metal Sizes Format -->
<section class="section-default section-left-content-with-background section-metal-sizes-format">
    <div class="standard-container">
        <h2>Metal sizes and formats</h2>
        <p>Available in 40+ sizes - choose the perfect size for you!</p>
        <a href="" class="btn-blue btn-get-started">Get started</a>
    </div>
</section>
<!-- Perfect Gift -->
<section class="section-default section-perfect-gift">
    <div class="standard-container">
        <h2>The perfect gift</h2>
        <p>From baby smiles to 50% years of marriage and everything in between</p>
        <ul class="list-perfect-gift">
            <li class="item-perfect-gift">
                <div class="img-wrap"><img
                        src="https://www.signs.com/content/assets/filelibrary/Metal-Prints-Baby-Life-moment-9709.jpg"
                        alt="Baby smiling"></div>
            </li>
            <li class="item-perfect-gift">
                <div class="img-wrap"><img
                        src="https://www.signs.com/content/assets/filelibrary/Metal-Prints-Kids-Playing-Life-moment-9710.jpg"
                        alt="Kids playing"></div>
            </li>
            <li class="item-perfect-gift">
                <div class="img-wrap"><img
                        src="https://www.signs.com/content/assets/filelibrary/Metal-Prints-Graduation-Life-moment-9711.jpg"
                        alt="Graduation"></div>
            </li>
            <li class="item-perfect-gift">
                <div class="img-wrap"><img
                        src="https://www.signs.com/content/assets/filelibrary/Metal-Prints-Marriage-Life-moment-9712.jpg"
                        alt="Marriage"></div>
            </li>
            <li class="item-perfect-gift">
                <div class="img-wrap"><img
                        src="https://www.signs.com/content/assets/filelibrary/Metal-Prints-Grand-parents-Life-moment-9713.jpg"
                        alt="Grandparents"></div>
            </li>
        </ul>
        <p>Whether it’s a birthday, holiday, or just for fun, metal prints make the perfect gift for the special people
            in your life. Show your love by giving them something they’ll cherish forever.</p>
        <a href="" class="btn-blue btn-get-started">Get started</a>
    </div>
</section>
<!-- 100 Happiness -->
<section class="section-default section-left-content-with-background section-100-happiness">
    <div class="standard-container">
        <h2>100% Happiness Guaranteed</h2>
        <p>All of our products at Signs.com come with a 100% satisfaction guarantee.</p>
        <p> If you are unsatisfied for any reason, we will fix it or fully refund your order.</p>
        <a href="" class="btn-blue btn-get-started">Get started</a>
    </div>
</section>
<!-- Inspiration -->
<section class="section-default section-inspiration">
    <div class="standard-container">
        <h2>Inspiration</h2>
        <p>Tag us on Instagram <a class="email">@signsdotcom</a> and use <a class="hash">#SignsLove</a> for
            10% off your next
            order and a chance to be featured
            in our gallery below!</p>
        <div class="photo-card-wrap">
            <div class="photo-card">
                <div class="img-wrap"><img src="https://www.signs.com/content/assets/filelibrary/toa-heftiba-9919.png"
                                           alt="Toa Heftiba"></div>
                <div class="content-wrap">
                    <p>Caption Here @signsdotcom and information and #SignsLove for 10% off and photo gallery entry
                        ??</p>
                </div>
            </div>
            <div class="photo-card">
                <div class="img-wrap"><img
                        src="https://www.signs.com/content/assets/filelibrary/rucksack-magazine-9920.png"
                        alt="Rucksack magazine"></div>
                <div class="content-wrap">
                    <p>Caption Here @signsdotcom #SignsLove for 10% off :)</p>
                </div>
            </div>
            <div class="photo-card">
                <div class="img-wrap"><img src="https://www.signs.com/content/assets/filelibrary/jakob-owens-9921.png"
                                           alt="Jakob Owens"></div>
                <div class="content-wrap">
                    <p>Caption Here @signsdotcom and information and #SignsLove for 10% off and photo gallery entry
                        ??</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Finishes -->
<section class="section-default section-finishes">
    <div class="standard-container">
        <h2 class="section-title">Finishes</h2>
        <div class="finishes-wrap">
            <div class="img-wrap">
                <img src="https://www.signs.com/content/assets/filelibrary/Metal-Prints-comparison-9949.png"
                     alt="Metal print finishes">
            </div>
            <ul class="list-finishes">
                <li class="item-finished">
                    <h3>White Gloss</h3>
                    <p>A white coated aluminum with a glossy finish for rich colors and reflective finish.</p>
                    <span class="pin-pin"></span>
                </li>
                <li class="item-finished">
                    <h3>White Matte</h3>
                    <p>A white coated aluminum with a matte finish for the same rich colors with a non-reflective
                        finish.</p>
                    <span class="pin-pin"></span>
                </li>
                <li class="item-finished">
                    <h3>Natural Gloss</h3>
                    <p>A natural metal look with rich, vibrant colors and a reflective finish.</p>
                    <span class="pin-pin"></span>
                </li>
                <li class="item-finished">
                    <h3>Natural Matte</h3>
                    <p>A natural metal look with rich, vibrant colors and a non-reflective finish.</p>
                    <span class="pin-pin"></span>
                </li>
            </ul>
        </div>
    </div>
</section>
<!-- Display Metal Print -->
<section class="section-default section-display-metal-print">
    <div class="standard-container">
        <h2 class="section-title">Display your metal print</h2>
        <ul class="list-metal-print">
            <li class="item-metal-print listComeGo_js">
                <div class="content-wrap listComeGoChildWrap_js">
                    <h3>Print Only</h3>
                    <p>If you have plans to display your print in your own creative way, you can have the metal print
                        sent with no mounting options.</p>
                </div>
                <div class="img-wrap listComeGoImageWrap_js"><img
                        src="https://www.signs.com/content/assets/filelibrary/Metal-Prints-print-only-9716.jpg"
                        alt="Metal print, print only"></div>
            </li>
            <li class="item-metal-print listComeGo_js">
                <div class="content-wrap listComeGoChildWrap_js">
                    <h3>Float mount</h3>
                    <p>Your metal print will be mounted to black gatorboard, and in turn mouted to a metal bracket which
                        will allow your print to float ?” out from your wall. For larger prints of horizontal
                        orientation, there will be two metal brackets for easier hanging.</p>
                </div>
                <div class="img-wrap listComeGoImageWrap_js"><img
                        src="https://www.signs.com/content/assets/filelibrary/Metal-Print-Float-Mount-9717.jpg"
                        alt="Metal print float mount"></div>
            </li>
            <li class="item-metal-print listComeGo_js">
                <div class="content-wrap listComeGoChildWrap_js">
                    <h3>Standoffs</h3>
                    <p>With pre-drilled holes in place, our professional metal standoffs in each corner of your print
                        allow for wall mounting and give a professional look for any display setting.</p>
                </div>
                <div class="img-wrap listComeGoImageWrap_js"><img
                        src="https://www.signs.com/content/assets/filelibrary/Metal-Print-Standoffs-9718.jpg"
                        alt="Metal print standoffs"></div>
            </li>
            <li class="item-metal-print listComeGo_js">
                <div class="content-wrap listComeGoChildWrap_js">
                    <h3>Inset metal frame</h3>
                    <p>A 1 5/16” metal frame with a hanging wire set in from the edge of your metal print. Recommended
                        for prints larger than 20”x20”.</p>
                </div>
                <div class="img-wrap listComeGoImageWrap_js"><img
                        src="https://www.signs.com/content/assets/filelibrary/Inset-Metal-Frame-9719.jpg"
                        alt="Metal print inset metal frame"></div>
            </li>
        </ul>
    </div>
</section>


<script>
    (function ($) {
        $(document).ready(function () {
            $(".section-hero-special").after("<section class='section-default section-crafted-with-care'><div class='standard-container'></div></section>");
            $(".placeholder-sticky").appendTo(".section-crafted-with-care > .standard-container");
            $(".section-crafted-with-care-inner").appendTo(".section-crafted-with-care > .standard-container");
            /* Add and Minus */
            $(".size-input-qty").after("<span class='add-value'>+</span>");
            $(".size-input-qty + span").after("<span class='minus-value'>-</span>");

            (function () {

                window.inputNumber = function (el) {
                    console.log(el);
                    var min = el.attr('min') || false;
                    var max = el.attr('max') || false;

                    var els = {};

                    els.dec = el.next().next();
                    els.inc = el.next();

                    el.each(function () {
                        init($(this));
                    });

                    function init(el) {

                        els.dec.on('click', decrement);
                        els.inc.on('click', increment);

                        function decrement() {
                            var value = el[0].value;
                            value--;
                            if (!min || value >= min) {
                                el[0].value = value;
                            }
                        }

                        function increment() {
                            var value = el[0].value;
                            value++;
                            if (!max || value <= max) {
                                el[0].value = value++;
                            }
                        }
                    }
                }
            })();

            inputNumber($('.size-input-qty'));
        });
    })(jQuery)

</script>


<script>
    //Section What Are
    window.onresize = function () {
        //Section Care and Install
        var listInstallation = document.querySelectorAll(".listComeGo_js");
        listInstallation.forEach(function (listItem) {
            if (window.innerWidth <= 575) {
                console.log("True");
                var listMovingSectionTitle = listItem.querySelector(".listComeGoChildWrap_js h3");
                var listComeGoImageWrap = listItem.querySelector(".listComeGoImageWrap_js");
                listMovingSectionTitle.before(listComeGoImageWrap);
            } else {
                console.log("False");
                var listComeGoChildWrap = listItem.querySelector(".listComeGoChildWrap_js");
                var listComeGoImageWrap = listItem.querySelector(".listComeGoImageWrap_js");
                listComeGoChildWrap.after(listComeGoImageWrap);
            }
        });

    };

    //Section Care and Install
    var listInstallation = document.querySelectorAll(".listComeGo_js");
    listInstallation.forEach(function (listItem) {
        if (window.innerWidth <= 575) {
            var listMovingSectionTitle = listItem.querySelector(".listComeGoChildWrap_js h3");
            var listComeGoImageWrap = listItem.querySelector(".listComeGoImageWrap_js");
            listMovingSectionTitle.before(listComeGoImageWrap);
        } else {
            var listComeGoChildWrap = listItem.querySelector(".listComeGoChildWrap_js");
            var listComeGoImageWrap = listItem.querySelector(".listComeGoImageWrap_js");
            listComeGoChildWrap.after(listComeGoImageWrap);
        }
    });
</script>
