/* Global */
body {
    font-family: "brandon-grotesque";
}

.section-default .section-title {
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 500;
    line-height: 1;
    margin-bottom: 20px;
}

/*<!-- Hero Section -->*/
.section-hero-special-bg {
    height: 705px;
    background: url("https://www.signs.com/content/assets/filelibrary/Header-main-image-seperate-9699.jpg") no-repeat left center;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
    position: relative;
}

.hero-special-content :not(.hero-special-content-img) {
    position: relative;
}

.section-hero-special h1 {
    font-size: 68px;
    text-transform: uppercase;
    display: inline-block;
    font-weight: 500;
    border-bottom: 5px solid #fff;
    line-height: 1;
    margin-bottom: 30px;
}

.section-hero-special p {
    font-size: 47px;
    font-weight: 400;
}

.section-hero-special p:last-of-type {

}

.hero-special-content {
    color: #fff;
    font-family: brandon-grotesque;
    align-self: flex-end;
    margin-right: 126px;
    margin-bottom: 70px;
}

.hero-special-content-img {
    position: absolute;
    right: -52px;
    top: -123px;
    bottom: 0px;
}

.hero-special-content-img img {
}

a.btn-blue, button.btn-blue {
    background: #53B8E8;
    padding: 18px 40px;
    font-size: 20px;
    text-transform: uppercase;
    border-radius: 5px;
    line-height: 1;
    font-weight: 500;
    display: inline-block;
    color: #fff;
}

button.btn-blue {
    box-shadow: none;
    border: 0;
    outline: none;
}

button.btn-blue:active {
    background: rgba(83, 184, 232, .7);
}

/* Section Product Quick Start */
.section-crafted-with-care .product-dropdown-container,
.section-crafted-with-care .quick-start-group {
}

.section-crafted-with-care .quick-start-group {
    display: block;
    flex: 0 0 auto;
}

.section-crafted-with-care .quick-start-sign-type {
}

.section-crafted-with-care .quick-start-qty {
}

.section-crafted-with-care .quick-start-price {
    flex: 0 0 auto;
    flex-flow: row wrap;
}

.section-crafted-with-care .quick-start-date {
}

.section-crafted-with-care .gs-button {
    display: flex;
    align-items: flex-end;
}

.section-crafted-with-care .quick-start-price .priceLabel {
    width: 100%;
    flex: 0 0 auto;
    display: block;
}

.section-crafted-with-care .quick-start-price .slashedPrice,
.section-crafted-with-care .quick-start-price .unitPrice,
.section-crafted-with-care .quick-start-price .percentOff {
    vertical-align: middle;
    min-height: 32px;
    display: inline-block;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.section-crafted-with-care .quick-start-price .slashedPrice {
    padding-left: 0;
    /* padding: 6px 5px 6px 0; */
    /* vertical-align: middle; */
}

.section-crafted-with-care .quick-start-price .unitPrice {
    padding: 0 5px;
    /* padding: 3px 0; */
    height: 32px;
    border: 1px solid #d9d9d9;
    font-weight: 300;
    line-height: 32px;
    display: inline-block !important;
    border-radius: 4px;
    font-size: 18px;
    padding: 0 10px;
    background: #fff;
}

.section-crafted-with-care .quick-start-price .percentOff {
    padding-right: 0;
    /* padding: 7px 0 9px 5px; */
}

span.earliestAvailableDate.quick-start-span {
    color: #53B8E8;
    height: 32px;
    display: block;
    vertical-align: middle;
    line-height: 32px;
    border: 1px solid #d9d9d9;
    border-radius: 3px;
    background: #FFFFFF;
    font-weight: 400;
    flex: 0 0 auto;
    padding: 0 8px;
    margin-right: auto;
}

.section-crafted-with-care .quick-start-size {
    flex: 0 0 auto;
    flex-flow: row wrap;
    justify-content: flex-start;
}

.section-crafted-with-care .quick-start-size label {
    flex: 0 0 auto;
    max-width: initial;
    min-width: initial;
    width: 100%;
    /* max-width: 20px; */
    display: block;
    white-space: normal;
}

.section-crafted-with-care .quick-start-size .product-dropdown-container {
    /* margin-right: auto; */
}

.section-crafted-with-care .quick-start-size .gs-input-group {
    display: none;
}

.section-crafted-with-care .sizeInput {
    justify-content: flex-start;
    margin: 0;
}

.section-crafted-with-care .placeholder-sticky {
    margin-bottom: 55px;
    width: 100% !important;
}

.section-crafted-with-care .sizeInput .size-input-qty {
    color: #919396;
    margin-right: auto;
    margin-left: 0;
    margin: 0;
    border-radius: 3px 0 0 3px;
}

.section-crafted-with-care .optionText {
    color: #919396;
}

.section-crafted-with-care .unitPrice {
    color: #53b8e8 !important;
}

.section-crafted-with-care .show-options {
    color: #53b8e8;
    margin-top: 8px;
    margin: 8px auto;
    flex: 0 0 90%;
}

.section-crafted-with-care #designSuite_optionsList {
    flex: 0 0 100%;
    max-width: 900px;
    margin: 0 auto;
}

.section-crafted-with-care #designSuite_optionsList .tools-Sign-Options:first-child {
}

.section-crafted-with-care #designSuite_optionsList .tools-Sign-Options:last-child {

}

.section-crafted-with-care .show-options .fa-chevron-up {
    color: #53b8e8;
}

.section-crafted-with-care .optionText p {
    font-size: 12px;
}

.section-crafted-with-care .optionName {
    color: #53b8e8;
    display: block;
    text-align: left;
    line-height: 1;
    margin-bottom: 7px;
}

.section-crafted-with-care .product-quick-start-form-container {
    background: transparent;
}

.section-crafted-with-care .chosen-with-drop .chosen-single {
    border-radius: 4px;
    border: 1px solid #DEDEDF;
}

.section-crafted-with-care .chosen-with-drop .chosen-drop {
    border-color: #dededf;
    margin-top: -2px;
}

.section-crafted-with-care .chosen-container-single {
    margin-right: auto;
}

.section-crafted-with-care .chosen-container-single .chosen-single {
    text-align: left;
    color: #919396;
}

.section-crafted-with-care .chosen-container-single .chosen-single div b {
    position: relative;
    background: none;
}

.section-crafted-with-care .chosen-container-single .chosen-single div b:before {
    position: absolute;
    content: '';
    display: block;
    border: 5px solid transparent;
    border-top-color: #919396;
    top: 13px;
    left: 50%;
    transform: translate(-50%, 0);
}

.section-crafted-with-care .dropdown {
    border-radius: 4px;
}

.section-crafted-with-care .dropdown .dt {
    position: relative;
    background: transparent;
    padding: 6px 40px 6px 9px;
}

.section-crafted-with-care .dropdown .dt:before {
    content: '';
    display: block;
    border: 5px solid transparent;
    border-top-color: #919396;
    right: 8px;
    position: absolute;
    top: 11px;
}

.section-crafted-with-care .sizeInput.qty {
    margin: 0;
    justify-content: flex-start;
    max-width: initial;
    min-width: initial;
    width: auto;
    flex: 0 0 auto;
    margin-right: auto;
    /* display: block; */
    height: 32px;
    vertical-align: middle;
    /* align-items: center; */
}

.section-crafted-with-care .add-value, .minus-value {
    position: relative;
    background: #DEDEDF;
    color: transparent;
    padding: 3px 11px;
}

.section-crafted-with-care .add-value {
    border-radius: 0 0 0 0;
}

.section-crafted-with-care .sizeInput .minus-value {
    border-radius: 0 3px 3px 0;
    border-left-color: #fff;
    border-right: 1px solid #dededf;
    padding: 3px 12px;
}

.section-crafted-with-care .add-value:before, .add-value:after, .minus-value:before {
    position: absolute;
    content: '';
    display: block;
    background: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
}

.section-crafted-with-care .add-value:before {
    width: 3px;
    height: 16px;
}

.section-crafted-with-care .add-value:after, .minus-value:before {
    width: 16px;
    height: 3px;
}

/* Section Care */
.section-crafted-with-care {
    background: url("https://www.signs.com/content/assets/filelibrary/Crafted-with-Care-BG-9701-10380.jpg") no-repeat center center / cover;
    padding-top: 45px;
}

.section-crafted-with-care .placeholder-sticky > .midWrapper {
    width: 100%;
}

.section-crafted-with-care .placeholder-sticky > .midWrapper > .product-quick-start-form-container {
    max-width: 1250px;
    justify-content: space-between;
    flex-flow: row wrap;
    width: 100%;
}

.section-crafted-with-care h2 {
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 500;
    line-height: 1;
}

.section-crafted-with-care h2 + p {
    font-weight: 200;
    font-size: 24px;
    color: #53B8E8;
}

.section-crafted-with-care .quick-start-label {
    color: #53B8E8;
    font-weight: 400;
    text-align: left;
    margin: 0 0 5px;
    display: block;
}

.section-crafted-with-care .select2-container {
    width: 190px !important;
    text-align: left;
}

.section-crafted-with-care .select2-container--default .select2-selection--single .select2-selection__arrow b {
    border-width: 6px 5px 0 5px;
    margin-left: -7px;
}

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
    border-color: transparent transparent #888 transparent;
    border-width: 0 5px 6px 5px;
}

.section-crafted-with-care .select2-selection {
    border-color: #d9d9d9;
    height: 32px;
}

.section-crafted-with-care .select2-container .select2-selection__rendered {
    line-height: 30px;
    color: #919396;
}

.select2-dropdown {
    border-color: #d9d9d9;
}

.section-crafted-with-care .dropdown {
    border: 1px solid #d9d9d9;
    border-radius: 3px;
    background: #fff;
    margin-right: auto;
}

.section-crafted-with-care .dropdown dt {
    position: relative;
    background: transparent;
    color: #919396;
    padding: 5px 40px 5px 9px;
    font-size: 16px;
}

.section-crafted-with-care .dropdown dd ul {
    min-width: 100%;
}

.section-crafted-with-care .dropdown dd ul li:hover {

}

.section-crafted-with-care .dropdown dt:before,
.section-crafted-with-care .dropdown dt:after {
    content: '';
    display: block;
    position: absolute;
}

.section-crafted-with-care .dropdown dt:before {
    top: 0;
    bottom: 0;
    width: 1px;
    background: #d9d9d9;
    right: 27px;
}

.section-crafted-with-care .dropdown dt:after {
    border: 5px solid transparent;
    border-top-color: #919396;
    right: 8px;
    top: 12px;
}

.section-crafted-with-care .get-started-button {
    background: #53b8e8;
    text-transform: uppercase;
    height: auto;
    flex: 0 0 auto;
    width: auto;
    padding: 8px 9px;
    min-width: initial;
    line-height: 1;
    display: block;
    margin: 0;
}

/* Section Crafted */
.cards-crafted {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    max-width: 1360px;
    margin: 0 auto 50px;
    padding: 40px 0 0;
}

.card-crafted-item {
    flex: 0 0 100%;
    width: calc(100% / 3);
    padding: 0 4.35em;
    text-align: center;
    max-width: 453px;
}

.card-crafted-item:not(:first-child):not(:last-child) {
    border-left: 1px solid #9A9A9A;
    border-right: 1px solid #9A9A9A;
}

.card-crafted-item .img-wrap {
    max-width: 275px;
    width: 100%;
    margin: 0 auto 25px;
    font-size: 0;
}

.card-crafted-item h3 {
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 15px;
}

.card-crafted-item p {
    font-size: 22px;
    color: #BCBCBC;
    line-height: 1.6;
    font-weight: 300;
    margin-bottom: 0;
}

/* Only 3 Step from Happiness */
.section-step-happiness {
    background: #00e8ff;
    color: #fff;
    background: -moz-linear-gradient(270deg, rgba(83, 184, 232, 1) 0%, rgba(63, 163, 215, 1) 45%, rgba(0, 107, 179, 1) 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(83, 184, 232, 1)), color-stop(45%, rgba(63, 163, 215, 1)), color-stop(100%, rgba(0, 107, 179, 1))); /* safari4+,chrome */
    background: -webkit-linear-gradient(270deg, rgba(83, 184, 232, 1) 0%, rgba(63, 163, 215, 1) 45%, rgba(0, 107, 179, 1) 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(270deg, rgba(83, 184, 232, 1) 0%, rgba(63, 163, 215, 1) 45%, rgba(0, 107, 179, 1) 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(270deg, rgba(83, 184, 232, 1) 0%, rgba(63, 163, 215, 1) 45%, rgba(0, 107, 179, 1) 100%); /* ie10+ */
    background: linear-gradient(180deg, rgba(83, 184, 232, 1) 0%, rgba(63, 163, 215, 1) 45%, rgba(0, 107, 179, 1) 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#53B8E8', endColorstr='#006BB3', GradientType=0); /* ie6-9 */
}

.section-step-happiness * {
    box-sizing: border-box;
}

.section-step-happiness h2 {
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 40px;
}

.list-step-happiness {
    display: flex;
    justify-content: space-between;
    max-width: 1340px;
    margin: 0 auto;
}

.item-step-happiness {
    text-align: center;
    display: flex;
    flex: 0 0 auto;
    width: calc(100% / 3.49);
    /* max-width: 385px; */
}

.item-step-happiness:not(:first-child):not(:last-child) {
    padding: 0 2em;
}

.item-step-happiness .img-wrap {
    width: 100px;
    height: 100px;
}

.item-step-happiness:first-child .img-wrap {
    position: relative;
}

.item-step-happiness:first-child .img-wrap:before {
    position: absolute;
    content: '';
    left: 26px;
    right: 26px;
    display: block;
    height: 5px;
    background: #fff;
    border-radius: 5px;
    margin: 0 auto;
    top: 29%;
}

.item-step-happiness .content-wrap {
    text-align: left;
    margin-left: 20px;
    max-width: 240px;
}

.item-step-happiness .content-wrap h3 {
    font-size: 28px;
    margin-bottom: 10px;
}

.item-step-happiness .content-wrap p {
    font-size: 25px;
    font-weight: 200;
    margin-bottom: 0;
}

/* Metal Sizes and Formats */
.section-metal-sizes-format {
    background: url("https://www.signs.com/content/assets/filelibrary/Metal-Prints-Size-offerings-9708.jpg") no-repeat center center / cover;
}

.section-left-content-with-background {height: 650px;display: flex;justify-content: flex-start;/* height: auto; */}

.section-left-content-with-background .standard-container {
    max-width: 365px;
    color: #3B3B3B;
    margin: 0 auto 0 10em;
    text-align: left;
    margin-left: calc(100vw / 25);
}

.section-left-content-with-background h2 {
    font-size: 46px;
    text-transform: uppercase;
    font-family: brandon-grotesque;
    font-weight: 500;
}

.section-left-content-with-background p {
    font-weight: 500;
    font-size: 25px;
}

.section-left-content-with-background .btn-blue {
    padding: 15px 35px;
}

/* Metal Sizes And Formats */
.section-metal-sizes-format p {
    max-width: 300px;
}

/* The Perfect Gift */
.section-perfect-gift h2 {
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 15px;
    line-height: 1;
}

.section-perfect-gift h2 + p {
    color: #53B8E8;
    font-weight: 300;
    font-size: 24px;
    margin-bottom: 50px;
}

.item-perfect-gift {
    flex: 0 0 calc(100% / 5);
    max-width: 260px;
    padding: 0 20px;
}

.list-perfect-gift {
    display: inline-flex;
    margin: 0 -20px 50px;
}

.list-perfect-gift + p {
    color: #9A9A9A;
    font-weight: 400;
    font-size: 24px;
    margin: 0 auto 30px;
    max-width: 1260px;
    font-family: brandon-grotesque;
}

.item-perfect-gift .img-wrap {
    /* max-width: 230px; */
    width: 100%;
}

/* Section 100 Happiness */
.section-100-happiness {
    background: url("https://www.signs.com/content/assets/filelibrary/Man-holding-metal-print-9714.jpg") no-repeat center center / cover;
    height: 640px;
}

.section-100-happiness .standard-container {
    max-width: 415px;
}

.section-100-happiness .standard-container h2 {
    margin-bottom: 20px;
}

.section-100-happiness .standard-container p {
}

/* Inspiration */
.section-inspiration {
    background: url(https://www.signs.com/content/assets/filelibrary/Inspiration-BG-9720.jpg) no-repeat center center / cover;
}

.section-inspiration h2 {
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 15px;
    line-height: 1;
}

.section-inspiration h2 + p {
    color: #53B8E8;
    font-size: 23px;
    max-width: 610px;
    margin: 0 auto 40px;
    font-weight: 400;
}

.section-inspiration .email, .section-inspiration .hash {
    font-weight: 500;
    font-size: 22px;
}

.photo-card-wrap {
    display: inline-flex;
    justify-content: space-between;
    max-width: 1125px;
    width: 100%;
}

.photo-card {
    max-width: 300px;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, .19);
    padding: 20px;
    -webkit-box-shadow: 0px 0px 12px -1px rgba(102, 102, 102, 0.15);
    -moz-box-shadow: 0px 0px 12px -1px rgba(102, 102, 102, 0.15);
    box-shadow: 0px 0px 12px -1px rgba(102, 102, 102, 0.15);
    width: calc(100% / 3);
    margin: 0 20px;
    background: #fff;
}

.photo-card .img-wrap { /* box-shadow: 9px 8px 8px rgba(0, 0, 0, .19); */
    font-size: 0;
    margin-bottom: 13px;
}

.photo-card .content-wrap {

}

.photo-card .content-wrap p {
    color: #9A9A9A;
    font-size: 17px;
    font-weight: 200;
    text-align: left;
    margin: 0;
}

/* Finishes */
.section-finishes {
    background: url(https://www.signs.com/content/assets/filelibrary/Finishes-BG-9721.jpg) no-repeat center center / cover;
    padding: 0 0 25px;
}

.section-finishes .standard-container {
    position: relative;
    padding: 0;
    max-width: 1920px;
}

.section-finishes .section-title {
    position: absolute;
    left: 0;
    right: 0;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 40px;
    top: 35px;
}

.finishes-wrap {
    position: relative;
}

.finishes-wrap .img-wrap {
    max-width: 480px;
    width: 100%;
}

.list-finishes {
    text-align: left;
    max-width: 410px;
    position: absolute;
    top: 159px;
    left: 60%;
    transform: translate(-50%, 0);
}

.item-finished {
    color: #9A9A9A;
    position: relative;
    margin-bottom: 100px;
}

.item-finished:nth-child(3) {
    left: -40px;
}

.item-finished:nth-child(4) {
    left: -90px;
}

.item-finished h3 {
    font-size: 20px;
    font-weight: 500;
}

.item-finished p {
    font-size: 20px;
    font-weight: 400;
    line-height: 1.3;
    margin-bottom: 0;
}

.pin-pin {
    display: block;
    position: absolute;
    width: 305px;
    height: 3px;
    background: #BCBCBC;
    top: 13px;
    left: -330px;
}

.pin-pin:before {
    position: absolute;
    content: '';
    width: 15px;
    height: 15px;
    background: #BCBCBC;
    border-radius: 50%;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
}

/* Display your metal print */
.section-display-metal-print {

}

.section-display-metal-print .section-title {
    margin-bottom: 45px;
}

.list-metal-print {
    display: inline-block;
}

.item-metal-print {
    display: flex;
    text-align: left;
    align-items: center;
    margin-bottom: 50px;
}

.item-metal-print:nth-child(even) {
    flex-direction: row-reverse;
}

.item-metal-print:nth-child(odd) .content-wrap {
    margin-top: -35px;
}

.item-metal-print:nth-child(even) .content-wrap {
    text-align: right;
}

.item-metal-print:nth-child(even) .img-wrap {
    margin-left: 0;
    margin-right: 20px;
}

.item-metal-print:last-child {
    margin-bottom: 0;
}

.item-metal-print .content-wrap h3 {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 22px;
    margin-bottom: 10px;
}

.item-metal-print .content-wrap {
    max-width: 385px;
}

.item-metal-print .content-wrap p {
    color: #9A9A9A;
    font-size: 22px;
    line-height: 1.4;
    margin-bottom: 0;
}

.item-metal-print .img-wrap {
    max-width: 250px;
    width: 100%;
    margin-left: 35px;
}
@media (max-width: 1919px) {
    .section-left-content-with-background .standard-container {
        /* margin-left: calc(100vw / 33); */
    }
}
@media (max-width: 1680px) {
    /* Section Banner */
    .hero-special-content-img {
        right: -110px;
    }

    .section-hero-special-bg {
        background-position-x: 0;
        background-size: 69%;
    }

    /* Metal Sizes And Formats */
    .section-left-content-with-background .standard-container {
        /* margin-left: 65px; */
    }

    /* Finishes */
    .list-finishes {
        left: 63%;
    }

    .pin-pin {
        left: -305px;
        width: 275px;
    }
}

@media (max-width: 1600px) {
    /* Section Hero */
    .section-hero-special-bg {
        background-position-x: 0;
        height: 610px;
        background-size: 66%;
    }

    .hero-special-content-img {
        right: -123px;
        top: -218px;
        max-width: 1030px;
    }

    .section-crafted-with-care .card-crafted-item {
        padding: 0 3em;
        flex: 0 0 auto;
        width: calc(100% / 3);
    }

    .hero-special-content {
        margin-right: 85px;
        margin-bottom: 65px;
    }

    /* Only 3 Steps From Happiness */
    .item-step-happiness {
        width: calc(100% / 3.43);
    }

    /* Metal Sizes And Formats */
    .section-metal-sizes-format {
        height: 535px;
    }

    .section-left-content-with-background .standard-container {
        margin-left: 45px;
    }

    /* Finishes */
    .pin-pin {
        left: -260px;
        width: 230px;
    }
}

@media (max-width: 1536px) {
    /* Hero Section */
    .section-hero-special-bg {
        background-position-x: 0;
        background-size: 64%;
        height: 596px;
    }

    .hero-special-content {
        margin-right: 70px;
        margin-bottom: 60px;
    }

    .section-hero-special h1 {

    }

    .hero-special-content-img {
        top: -232px;
        right: -135px;
    }

    /* Metal Sizes and Formats */
    .section-metal-sizes-format {
        height: 520px;
    }

    .section-left-content-with-background h2 {
        font-size: 40px;
    }

    .section-metal-sizes-format p {
        /* font-size: 22px; */
    }

    /* Finishes */
    .finishes-wrap .img-wrap {
        max-width: 435px;
    }

    .pin-pin {
        left: -285px;
        width: 260px;
    }

    .item-finished {
        margin-bottom: 71px;
    }
}

@media (max-width: 1440px) {
    /* Section Hero */
    .section-hero-special-bg {
        background-position-x: 0px;
        height: 550px;
    }

    .hero-special-content-img {
        top: -278px;
        right: -195px;
    }

    .section-hero-special h1 {
        font-size: 50px;
    }

    .section-hero-special p {
        font-size: 40px;
    }

    .section-crafted-with-care .card-crafted-item {
        padding: 0 3.3em;
    }

    .item-step-happiness {
        width: calc(100% / 3.25);
    }

    /* Metal Sizes and Formats */
    .section-metal-sizes-format {
        height: 475px;
    }

    .section-left-content-with-background h2 {
        font-size: 35px;
        max-width: 280px;
        margin-bottom: 10px;
    }

    .section-metal-sizes-format p {
        max-width: 270px;
    }

    /* Finishes */
    .pin-pin {
        width: 220px;
        left: -245px;
    }

    .list-finishes {
        left: 65%;
    }
}

@media (max-width: 1366px) {
    /* Section Hero */
    .section-hero-special-bg {
        background-position-x: 0;
        height: 525px;
    }

    .section-hero-special h1 {
        font-size: 60px;
    }

    .section-hero-special p {
        font-size: 35px;
    }

    .hero-special-content-img {
        right: -233px;
        top: -303px;
    }

    .hero-special-content-img {

    }

    .hero-special-content {
        margin-right: 80px;
        margin-bottom: 60px;
    }

    /* Section */
    .item-step-happiness {
        width: calc(100% / 3);
    }

    /* Metal Sizes and Formats */
    .section-metal-sizes-format {
        height: 445px;
    }

    /* Finishes */
    .list-finishes {
        left: 67%;
    }

    .pin-pin {
        width: 210px;
        left: -240px;
    }
}

@media (max-width: 1280px) {
    /* Section Hero */
    .section-hero-special-bg {
        background-position-x: 0;
        height: 495px;
    }

    .hero-special-content {
        margin-right: 65px;
        margin-bottom: 60px;
    }

    .hero-special-content-img {
        right: -286px;
        top: -333px;
    }

    .section-hero-special h1 {
        font-size: 54px;
    }

    .section-hero-special p {
        font-size: 30px;
    }

    /* Section */
    .section-crafted-with-care .card-crafted-item {
        padding: 0 2.5em;
    }

    /* Metal Sizes and Formats */
    .section-left-content-with-background h2 {
        font-size: 30px;
        max-width: 215px;
    }

    .section-metal-sizes-format p {
        max-width: 250px;
    }

    /* Finishes */
    .pin-pin {
        width: 185px;
        left: -210px;
    }

    .list-finishes {
        top: 136px;
        left: 67%;
    }

    .finishes-wrap .img-wrap {
        max-width: 380px;
    }

    .item-finished {
        margin-bottom: 50px;
    }
}

@media (max-width: 1199px) {
    /* Section Hero */
    .section-hero-special-bg {
        background-position-x: 0;
        height: 450px;
        background-size: 74%;
    }

    .hero-special-content-img {
        right: -495px;
        top: -378px;
    }

    .section-hero-special h1 {
        font-size: 40px;
    }

    .section-hero-special p {
        font-size: 30px;
        margin-bottom: 15px;
    }

    .hero-special-content {
        margin-right: 25px;
        margin-bottom: 40px;
    }

    .hero-special-content .btn-blue {
        padding: 10px 20px;
        font-size: 18px;
    }

    /* Section */
    .section-crafted-with-care {
        background: url("https://www.signs.com/content/assets/filelibrary/Crafted-with-Care-BG-9722.jpg") no-repeat center center/cover;
    }

    .cards-crafted {
        align-items: flex-start;
        padding-top: 0;
        margin-bottom: 20px;
    }

    .section-crafted-with-care .card-crafted-item {
        max-width: calc(100% / 3);
        display: block;
        padding: 0 2em;
    }

    .section-crafted-with-care .card-crafted-item:nth-child(2) .img-wrap {
        height: 239px;
    }

    .section-crafted-with-care .card-crafted-item:nth-child(2) .img-wrap img {
        transform: translate(0, -5%);
    }

    .section-crafted-with-care .card-crafted-item:not(:last-child) {
        margin-bottom: 35px;
    }

    .card-crafted-item p {
        font-size: 20px;
    }

    .card-crafted-item:not(:first-child):not(:last-child) {
        /* border: 0; */
    }

    .card-crafted-item .img-wrap {
        max-width: 274px;
        margin: 0 auto 25px;
        vertical-align: middle;
        overflow: hidden;
        height: 239px;
        min-height: 239px;
        max-height: 239px;
    }

    .card-crafted-item .img-wrap img {
        height: 100%;
    }

    .card-crafted-item h3 {
        min-height: 70px;
    }

    /* Only 3 Step From Happiness */
    .section-step-happiness {
        background: -moz-linear-gradient(0deg, rgba(83, 184, 232, 1) 0%, rgba(63, 163, 215, 1) 45%, rgba(0, 107, 179, 1) 100%); /* ff3.6+ */
        background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(83, 184, 232, 1)), color-stop(45%, rgba(63, 163, 215, 1)), color-stop(100%, rgba(0, 107, 179, 1))); /* safari4+,chrome */
        background: -webkit-linear-gradient(0deg, rgba(83, 184, 232, 1) 0%, rgba(63, 163, 215, 1) 45%, rgba(0, 107, 179, 1) 100%); /* safari5.1+,chrome10+ */
        background: -o-linear-gradient(0deg, rgba(83, 184, 232, 1) 0%, rgba(63, 163, 215, 1) 45%, rgba(0, 107, 179, 1) 100%); /* opera 11.10+ */
        background: -ms-linear-gradient(0deg, rgba(83, 184, 232, 1) 0%, rgba(63, 163, 215, 1) 45%, rgba(0, 107, 179, 1) 100%); /* ie10+ */
        background: linear-gradient(90deg, rgba(83, 184, 232, 1) 0%, rgba(63, 163, 215, 1) 45%, rgba(0, 107, 179, 1) 100%); /* w3c */
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#53B8E8', endColorstr='#006BB3', GradientType=1); /* ie6-9 */
    }

    .list-step-happiness {
        flex-direction: row;
    }

    .item-step-happiness:not(:first-child):not(:last-child) {
        padding: 0;
    }

    .item-step-happiness {
        width: calc(100% / 3);
        display: block;
    }

    .item-step-happiness .img-wrap, .item-step-happiness .content-wrap {
        margin: 0 auto;
        text-align: center;
    }

    .item-step-happiness .img-wrap {
        margin-bottom: 20px;
    }

    .item-step-happiness:not(:last-child) {
        margin-bottom: 30px;
    }

    /* Metal Sizes and Formats */
    .section-metal-sizes-format {
        height: 380px;
    }

    .section-left-content-with-background h2 {
        font-size: 25px;
    }

    .section-metal-sizes-format p {
        font-size: 18px;
        max-width: 205px;
    }

    .section-left-content-with-background .btn-blue {
        padding: 13px 20px;
        font-size: 18px;
    }

    /* Finishes */
    .finishes-wrap .img-wrap {
        max-width: 285px;
    }

    .pin-pin {
        width: 144px;
        left: -165px;
    }

    .list-finishes {
        top: 100px;
        right: -60px;
    }

    .item-finished {
        margin-bottom: 20px;
    }
}

@media (max-width: 1024px) {
    .section-crafted-with-care .quick-start-sign-type {
        max-width: initial;
    }

    .section-crafted-with-care .select2-container {
        width: 100px !important;
    }

    /* Product Quick Start */
    .section-crafted-with-care .select2-container {

    }
}

@media (max-width: 991px) {
    /* Hero Section */
    .section-hero-special-bg {
        background-size: 69%;
        height: 325px;
    }

    .hero-special-content-img {
        max-width: 929px;
        top: -503px;
    }

    .section-hero-special h1 {
        font-size: 28px;
        margin-bottom: 9px;
        border-bottom: 2px solid #fff;
    }

    .section-hero-special p {
        font-size: 22px;
        margin-bottom: 10px;
        line-height: 1.3;
    }

    .hero-special-content .btn-blue {
        padding: 10px 20px;
        font-size: 14px;
    }

    .hero-special-content {
        margin-right: 50px;
        margin-bottom: 25px;
    }

    /* Section Quick Start */
    .section-crafted-with-care .quick-start-sign-type {
        max-width: 105px;
    }

    .section-crafted-with-care .quick-start-size {
        max-width: 132px;
    }

    .section-crafted-with-care .sizeInput .size-input-qty {
        max-width: 34px;
    }

    .section-crafted-with-care .add-value, .minus-value {
        padding: 3px 10px;
    }

    .section-crafted-with-care .sizeInput .minus-value {
        padding: 3px 11px;
    }

    .section-crafted-with-care .quick-start-group.gs-button {
        max-width: initial;
        width: 100%;
    }

    .section-crafted-with-care .quick-start-group.gs-button .get-started-button {
        width: 100%;
    }

    .section-crafted-with-care .quick-start-qty {
        max-width: 100px;
    }

    .section-crafted-with-care .placeholder-sticky {
    }

    /* Section Crafted */
    .cards-crafted {
        display: block;
    }

    .section-crafted-with-care .card-crafted-item {
        max-width: 413px;
        width: calc(100% / 1);
        margin: 0 auto;
        display: block;
    }

    .card-crafted-item:not(:first-child):not(:last-child) {
        border: 0;
    }

    .section-crafted-with-care .card-crafted-item:nth-child(2) .img-wrap {
        height: auto;
    }

    .section-crafted-with-care .card-crafted-item:nth-child(2) .img-wrap img {
        transform: translate(0, -8%);
    }

    .card-crafted-item h3 {
        min-height: initial;
    }

    .card-crafted-item .img-wrap {
        min-height: initial;
        max-height: initial;
        height: auto;
    }

    /* Only 3 Steps From Happiness */
    .section-step-happiness h2 {
        line-height: 1;
        margin-bottom: 25px;
    }

    .list-step-happiness {
        display: block;
    }

    .item-step-happiness {
        width: calc(100% / 1);
        margin: 0 auto;
    }

    .item-step-happiness .img-wrap {
        margin-bottom: 15px;
    }

    .item-step-happiness .content-wrap {
        max-width: 425px;
    }

    .item-step-happiness .content-wrap h3 {
        line-height: 1;
    }

    /* 100% Happiness Guaranteed */
    .section-100-happiness {
        height: 815px;
        background-size: 125%;
        background-position-y: top;
        display: flex;
        align-items: flex-end;
    }

    .section-100-happiness .standard-container {
        max-width: initial;
        margin: 0;
        text-align: center;
    }

    .section-100-happiness .standard-container h2 {
        text-align: center;
        margin: 0 auto 20px;
        font-size: 40px;
        max-width: 315px;
    }

    .section-100-happiness .standard-container p {
        font-weight: 300;
        color: #9A9A9A;
        max-width: 555px;
        margin: 0 auto 20px;
    }

    .section-100-happiness .btn-blue {
        font-size: 20px;
        padding: 18px 40px;
    }

    /* Finishes */
    .section-finishes {
        padding: 55px 0 0;
        height: auto;
    }

    .finishes-wrap {
        position: static;
    }

    .section-finishes .section-title {
        position: static;
    }

    .finishes-wrap .img-wrap {
        max-width: initial;
        background: url("https://www.signs.com/content/assets/filelibrary/Mobile-Metal-Print-Comparison-9724.png") no-repeat top center / contain;
        height: auto;
        font-size: 0;
    }

    .finishes-wrap .img-wrap img {
        opacity: 0;
        height: 373px;
    }

    .list-finishes {
        position: static;
        max-width: initial;
        transform: translate(0, 0);
        background: #fff;
        padding: 30px 60px 0;
    }

    .item-finished {
        position: static;
    }

    .item-finished h3 {
        margin-bottom: 15px;
    }

    .item-finished p {
        font-size: 22px;
    }

    .pin-pin {
        display: none;
    }

}

@media (max-width: 800px) {
    .section-crafted-with-care .quick-start-group.mobile-hidden {
        display: none;
    }
}

@media (max-width: 767px) {
    .standardWidth {
        margin-top: 71px;
    }

    .section-hero-special-bg {
        height: 574px;
        background-position-y: 0;
        background: url("https://www.signs.com/content/assets/filelibrary/Header-mobile-10407.jpg") no-repeat left top / contain;
    }

    .hero-special-content {
        margin: 0;
        max-width: initial;
        width: 100%;
        text-align: left;
        padding: 0 20px 30px;
    }

    .hero-special-content-img {
        display: none;
    }

    .hero-special-content-img img {
        width: 100%;
    }

    .section-hero-special h1 {
        border-bottom: 0;
        font-size: 55px;
        margin-bottom: 20px;
    }

    .section-hero-special p {
        font-weight: 300;
        font-size: 16px;
        line-height: 1;
        margin-bottom: 5px;
    }

    .section-hero-special p br {
        display: none;
    }

    .section-hero-special p {
        max-width: 366px;
        vertical-align: bottom;
        display: inline-block;
        width: 100%;
        margin-bottom: 0;
        font-size: 25px;
    }

    .section-hero-special p:last-of-type {
        display: inline-block;
        margin-bottom: 0;
        vertical-align: bottom;
    }

    .hero-special-content .btn-blue {
        display: inline-block;
        font-size: 18px;
        padding: 9px 18px;
        margin-left: 27px;
    }

    /* Product Quick Start */
    .section-crafted-with-care .quick-start-date {
        display: flex;
        flex: 0 0 100%;
    }

    .section-crafted-with-care .availableDateLabel {
        margin-bottom: 0;
    }

    .section-crafted-with-care .earliestAvailableDate.quick-start-span {
        margin-left: auto;
        margin-right: initial;
    }

    /* 100% Happiness Guaranteed */
    .section-100-happiness {
        height: 730px;
    }

    .section-100-happiness .standard-container p {
        max-width: 415px;
    }

}

@media (max-width: 600px) {
    .section-crafted-with-care .placeholder-sticky {
        width: calc(100vw) !important;
        margin-left: calc(-100vw * .046);
    }
}

@media (max-width: 575px) {
    .section-crafted-with-care {
        padding-top: 40px;
    }

    .section-hero-special-bg {
        height: 396px;
    }

    .section-hero-special h1 {
        font-size: 33px;
        margin-bottom: 12px;
    }
    .section-crafted-with-care h2 + p {
        font-size: 20px;
    }
    .section-hero-special p {
        font-size: 17px;
        max-width: 247px;
        margin-bottom: 0;
        line-height: 1;
    }

    .section-hero-special p:last-of-type {
        margin-bottom: 0;
    }

    .hero-special-content .btn-blue {
        padding: 8px 16px;
        font-size: 12px;
        margin-left: 9px;
    }

    /* Product Quick Start */
    .section-crafted-with-care .placeholder-sticky {
        margin-left: calc(-100vw * .049);
    }

    .section-crafted-with-care .quick-start-group {
        width: 100%;
        max-width: initial;
        display: flex;
    }

    .section-crafted-with-care .quick-start-date .quick-start-span {
        margin-left: auto;
        margin-right: initial;
        line-height: 26px;
        height: 26px;
    }

    .section-crafted-with-care .earliestAvailableDateInfo {
        top: -3px;
    }

    .section-crafted-with-care .quick-start-group label {
        width: auto;
        max-width: initial;
        flex: 0 0 auto;
        min-width: initial;
        margin-right: auto;
        font-weight: 500;
        margin-bottom: 0;
    }

    .section-crafted-with-care .quick-start-qty label {
        margin-right: auto;
    }

    .section-crafted-with-care .select2-selection {
        height: 26px;
    }

    .section-crafted-with-care .select2-container .select2-selection__rendered {
        line-height: 24px;
        font-size: 12px;
    }

    .section-crafted-with-care .dropdown dt {
        font-size: 12px;
    }

    .section-crafted-with-care .dropdown dt:after {
        top: 10px;
    }

    .section-crafted-with-care .sizeInput input {
        height: auto;
    }

    .section-crafted-with-care .sizeInput.qty {
        height: 26px;
        min-height: initial;
    }

    .section-crafted-with-care .add-value, .minus-value {
        padding: 3px 10px;
    }

    .section-crafted-with-care .quick-start-price .slashedPrice,
    .section-crafted-with-care .quick-start-price .unitPrice,
    .section-crafted-with-care .quick-start-price .percentOff {
        height: 26px;
        min-height: initial;
    }

    .section-crafted-with-care .quick-start-price .unitPrice {
        font-size: 15px;
        /* line-height: 26px; */
    }

    .section-crafted-with-care .quick-start-qty .gs-input-group {
        flex: 0 0 auto;
    }

    .section-crafted-with-care .quick-start-price {
        display: flex;
    }

    .section-crafted-with-care .quick-start-price .priceLabel {
        width: auto;
        flex: 0 0 auto;
        max-width: initial;
        display: inline-block;
        margin-right: auto;
    }

    .section-crafted-with-care .quick-start-price .slashedPrice,
    .section-crafted-with-care .quick-start-price .unitPrice,
    .section-crafted-with-care .quick-start-price .percentOff {
        max-width: initial;
        min-width: initial;
        width: auto;
        flex: 0 0 auto;
        /* align-items: center; */
        /* vertical-align: middle; */
        display: inline-flex !important;
    }

    .section-crafted-with-care .dropdown .dt {
        text-align: left;
    }

    /*  */
    .section-crafted-with-care h2 {
        font-size: calc(100% + 1.5em);
    }

    .section-crafted-with-care .standard-container > p {
        font-size: 20px;
    }

    .section-crafted-with-care .card-crafted-item {
        padding: 0;
        max-width: initial;
    }

    .card-crafted-item p {
        font-size: 19px;
    }

    .section-crafted-with-care .btn-get-started {
        font-size: 18px;
        font-weight: 400;
        padding: 13px 30px;
    }

    /* Only 3 Step From Happiness */
    .section-step-happiness h2 {
        font-size: 30px;
        font-weight: 400;
        margin-bottom: 20px;
    }

    .item-step-happiness .content-wrap {
        width: 100%;
        max-width: initial;
    }

    .item-step-happiness .content-wrap p {
        font-size: 21px;
    }

    /* Metal Sizes and Formats */
    .section-metal-sizes-format, .section-left-content-with-background {
        background-size: contain;
        display: flex;
        background-position-y: top;
        align-items: flex-end;
        background-size: 150%;
        height: 460px;
    }

    .section-left-content-with-background .standard-container {
        margin: 0;
        width: 100%;
        max-width: initial;
        text-align: center;
        height: auto;
        min-height: 0;
    }

    .section-left-content-with-background h2 {
        margin-left: auto;
        margin-right: auto;
        max-width: 200px;
    }

    .section-metal-sizes-format p, .section-left-content-with-background p {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 15px;
        max-width: 300px;
        font-weight: 400;
    }

    .section-left-content-with-background .btn-blue {
        font-weight: 400;
        font-size: 16px;
        padding: 10px 20px;
    }

    .section-finishes {
        padding-top: 30px;
    }

    .section-finishes .section-title {
        font-size: 30px;
    }

    .finishes-wrap .img-wrap img {
        height: 200px;
        /* width: 100%; */
    }

    .list-finishes {
        padding: 30px 50px 0;
    }

    .item-finished h3 {
        line-height: 1;
        margin-bottom: 10px;
    }

    .item-finished p {
        font-size: 18px;
    }

    /* Display Your Metal Print */
    .item-metal-print {
        text-align: center;
        margin-bottom: 30px;
    }

    .item-metal-print .img-wrap {
        margin: 0 auto;
    }

    .item-metal-print .content-wrap h3 {
        font-size: 24px;
        text-align: center;
    }
}

@media (max-width: 414px) {
    .section-default h2 {
        font-size: 26px;
        font-weight: 500;
    }

    /* Section Crafted With Care */
    .card-crafted-item .img-wrap {
        max-width: 200px;
        margin-bottom: 20px;
    }

    .section-crafted-with-care .card-crafted-item {
        max-width: 340px;
    }

    .card-crafted-item h3 {
        font-size: 20px;
        margin-bottom: 10px;
        line-height: 1;
    }

    .section-crafted-with-care .card-crafted-item:nth-child(2) .img-wrap {
        height: 130px;
    }

    .section-crafted-with-care .card-crafted-item:nth-child(2) .img-wrap img {
        width: 100%;
        height: auto;
        object-fit: contain;
        transform: translate(0, -26%);
    }

    .section-crafted-with-care .btn-get-started {
        padding: 11px 22px;
        font-size: 17px;
        font-weight: 400;
    }

    /* Only 3 Steps from Happiness */
    .section-step-happiness h2 {
        line-height: 1.5;
    }

    /* The Perfect Gift */
    .section-perfect-gift .standard-container {
    }

    .section-perfect-gift h2 + p {
        font-size: 18px;
        margin-bottom: 20px;
    }

    .list-perfect-gift {
        margin: 0;
        width: 100vw;
        margin-left: -20px;
        font-size: 0;
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
    }

    .item-perfect-gift {
        padding: 0;
        display: inline-block;
        width: calc(100vw / 5.6);
        flex: 0 0 auto;
    }

    .list-perfect-gift + p {
        font-size: 18px;
        max-width: 338px;
        margin-bottom: 15px;
    }

    .section-perfect-gift .btn-get-started {
        padding: 10px 25px;
        font-size: 16px;
        font-weight: 400;
    }

    /* 100% Happiness Guaranteed */
    .section-100-happiness {
        height: 570px;
    }

    .section-100-happiness .standard-container h2 {
        font-size: 28px;
    }

    .section-100-happiness .standard-container p {
        font-size: 20px;
        max-width: 315px;
    }

    /* Display your metal print */
    .section-display-metal-print .section-title {
        font-size: 28px;
        max-width: 260px;
        display: block;
        margin: 0 auto 40px;
    }

    .item-metal-print .img-wrap {
        max-width: 230px;
    }

    .item-metal-print:nth-child(odd) .content-wrap {
        margin-top: initial;
    }

    .item-metal-print:nth-child(even) .img-wrap {
        margin: 0 auto;
    }

    .item-metal-print .content-wrap p {
        text-align: center;
    }

    .item-metal-print .content-wrap h3 {
        font-size: 20px;
        line-height: 1;
    }
}

@media (max-width: 375px) {
    .section-crafted-with-care .placeholder-sticky {
        margin-left: calc(-100vw * .053);
    }

    /* Hero Section */
    .section-hero-special-bg {
        height: 359px;
    }

    .hero-special-content {
        padding: 0 10px 20px;
    }

    .section-hero-special h1 {
        font-size: 33px;
    }

    .section-hero-special p {
        font-size: 16px;
        max-width: 232px;
    }

    .hero-special-content .btn-blue {
        margin-left: 12px;
        padding: 8px 15px;
        font-size: 11px;
    }

    /* 100% Happiness Guaranteed */
    .section-100-happiness {
        height: 555px;
    }

    .finishes-wrap .img-wrap img {
        height: 181px;
    }
}

@media (max-width: 360px) {
    /* Hero Section */
    .section-hero-special-bg {
        height: 344px;
    }

    .hero-special-content .btn-blue {
        margin-left: 0;
    }

    .section-hero-special p {
        font-size: 15px;
        max-width: 220px;
    }

    .hero-special-content .btn-blue {
        margin-left: 10px;
    }

    .section-hero-special h1 {
        font-size: 35px;
    }

    .hero-special-content {
        padding: 0 10px 10px;
    }

    /* Section */
    .section-crafted-with-care .placeholder-sticky {
        margin-left: calc(-100vw * .0544);
    }

    /* 100% Happiness Guaranteed */
    .section-100-happiness {
        height: 545px;
    }

    .finishes-wrap .img-wrap img {
        height: 174px;
    }
}

@media (max-width: 320px) {
    .section-crafted-with-care .placeholder-sticky {
        margin-left: calc(-100vw * .061);
    }

    /* Hero Section */
    .section-hero-special-bg {
        height: 306px;
    }

    .section-hero-special h1 {
        font-size: 22px;
    }

    .section-crafted-with-care h2 {
        font-size: calc(100% + 1.2em);
    }

    .section-hero-special p {
        margin-bottom: 5px

    }

    .section-hero-special p:last-of-type {
        margin-bottom: 7px;
    }

    .hero-special-content .btn-blue {
        margin-left: 0;
    }

    /* Finishes */
    .finishes-wrap .img-wrap img {
        height: 155px;
    }
}