<!-- Hero Section -->
<section class="section-hero-full-width">
    <div class="hero-head">
        <h1>Custom Gatorboard Signs</h1>
        <ul class="hero-list">
            <li class="hero-list-item">Any Custom Size</li>
            <li class="hero-list-item">One Day Printing</li>
            <li class="hero-list-item">Free Design Services</li>
        </ul>
    </div>
    <div class="hero-body">
        <div class="hero-img-wrap">
            <img class="hero-img"
                 src="https://www.signs.com/content/assets/filelibrary/Hero-Image-Gatorboard-9660-9809.jpg"
                 alt="Signs.com Hero Image for Gatorboard Signs"/>
        </div>
    </div>
    <div class="hero-footer">
        <p class="hero-phrase">
            Strong and durable custom printed gatorboard signs for long-lasting indoor use.
        </p>
    </div>
</section>


<!-- View FAQ -->
<div class="faq-search-links">
    <a href="#product-faq" class="scroll-link">View FAQ's<span class="caret"></span
    ></a>
</div>

<!-- What Are Rectangle Flags? -->
<section class="section-default section-what-are sectionComeGo_js">
    <div class="standard-container">
        <div class="what-are-content-wrap comeGoChildWrap_js">
            <h2>What are Gatorboard Signs?</h2>
            <p>
                Bring to life any retail display or business presentation with our gatorboard signs. Made from a
                lightweight
                polystyrene core and high-quality rigid paper faces, our 3/16” gatorboard is the perfect solution for
                temporary and permanent retail signage, storefront displays, and decorative pieces. We directly print
                your
                design onto the face of the material using UV ink, providing a clean & professional look. The official
                name
                for gatorboard is Gatorfoam Board, but it is more commonly known as gatorboard.
            </p>
            <p>
                This indoor sign will upgrade your store, business, or home and is durable enough for reuse. Every
                gatorboard sign is printed using vibrant UV ink, making for a visually-appealing, yet cost-effective
                sign. We print your design
                directly on the gatorboard material to give you a long lasting sign to display for years to come.
            </p>
        </div>
        <div class="what-are-img-wrap comeGoImageWrap_js">
            <img src="https://www.signs.com/content/assets/filelibrary/What-Are-Gatorboard-Signs-9663.jpg"
                 alt="Side profile image of a gatorboard sign"/>
        </div>
    </div>
</section>

<!-- Comparison of Similar Sign Types -->
<section class="section-default section-comparison-signtypes">
    <div class="standard-container">
        <h2>Comparison of Similar Sign Types</h2>
        <table class="table-comparison-signtypes table-comparison-signtypes-no-separator">
            <tbody>
            <tr>
                <td>
                    <div class="img-wrap"></div>
                </td>
                <td>
                    <div class="img-wrap"><img
                            src="https://www.signs.com/content/assets/filelibrary/Gatorboard-9828.jpg" alt="Gatorboard">
                    </div>
                </td>
                <td>
                    <div class="img-wrap"><img
                            src="https://www.signs.com/content/assets/filelibrary/Rigid-Plastic-9831.jpg"
                            alt="Rigid Plastic"></div>
                </td>
                <td>
                    <div class="img-wrap"><img
                            src="https://www.signs.com/content/assets/filelibrary/Foam-Board-01-4475-9664.png"
                            alt="Thumbnail of a foam board sign from Signs.com"></div>
                </td>
                <td>
                    <div class="img-wrap"><img
                            src="https://www.signs.com/content/assets/filelibrary/Yard-Sign-9830.jpg" alt="Yard Sign">
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        <table class="table table-border-nobox table-comparison-signtypes">
            <thead>
            <tr>
                <th scope="col">Product Name<span class="border-right"></span></th>
                <th scope="col">Gatorboard<span class="border-right"></span></th>
                <th scope="col">Plastic Signs<span class="border-right"></span></th>
                <th scope="col">Foam Board<span class="border-right"></span></th>
                <th scope="col">Yarn Signs<span class="border-right"></span></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Material <span class="border-right"></span></td>
                <td>Gatorboard/Gatorfoam <span class="border-right"></span></td>
                <td>Sintra <span class="border-right"></span></td>
                <td>Foamcore <span class="border-right"></span></td>
                <td>Corrugated Plastic <span class="border-right"></span></td>
            </tr>
            <tr>
                <td>Thickness <span class="border-right"></span></td>
                <td>3/16 <span class="border-right"></span></td>
                <td>3mm | 6mm <span class="border-right"></span></td>
                <td>3/16 inch <span class="border-right"></span></td>
                <td>4 mm <span class="border-right"></span></td>
            </tr>
            <tr>
                <td>Rigidity* <span class="border-right"></span></td>
                <td>4/5 <span class="border-right"></span></td>
                <td>2/5 | 4/5 <span class="border-right"></span></td>
                <td>2/5 <span class="border-right"></span></td>
                <td>1/5 <span class="border-right"></span></td>
            </tr>
            <tr>
                <td>Cost** <span class="border-right"></span></td>
                <td>$$ <span class="border-right"></span></td>
                <td>$$ <span class="border-right"></span></td>
                <td>$$ <span class="border-right"></span></td>
                <td>$ <span class="border-right"></span></td>
            </tr>
            <tr class="tr-with-p">
                <td>
                    Best Used For
                    <span class="border-right"></span></td>
                <td>
                    <p>Work great as vibrant indoor displays and are offered at an affordable price. They are intended
                        to
                        be used indoors and kept dry.</p>
                    <span class="border-right"></span></td>
                <td>
                    <p>Affordable indoor/outdoor sign for temporary or permanent business use. Best for larger signs and
                        fonts. Great for indoor and outdoor use.
                        <a href="/plastic-signs/">Learn More</a></p>
                    <span class="border-right"></span></td>
                <td>
                    <p>
                        Foam board signs are made of a
                        lightweight foam core and are often
                        used for businesses. They are
                        recommended for indoor use.
                        <a href="/foamboard/">Learn More</a>
                    </p>
                    <span class="border-right"></span></td>
                <td>
                    <p>Corrugated Plastic signs best suited for temporary use such as parking, directional, events etc.
                        Great for indoor and outdoor use. <a href="/yard-signs/">Learn More</a></p>
                    <span class="border-right"></span></td>
            </tr>
            </tbody>
        </table>
    </div>
</section>


<!-- Section Sign Features-->
<section class="section-default section-signs-features">
    <div class="standard-container">
        <h2>Gatorboard Features</h2>
        <div class="featured-body">
            <div class="featured-img-wrap">
                <img src="https://www.signs.com/content/assets/filelibrary/Gatorboard-Features-Image-9659.jpg"
                     alt="Gatorboard Features Image"/>
            </div>
            <ul class="signs-featured-list">
                <li class="signs-featured-item">
                    <h3>Direct Printing</h3>
                    <p>Our custom gatorboard signs are printed directly on the material using a vibrant UV ink. Use as
                        many colors as you want at no additional charge.
                    </p>
                    <div class="img-wrap"><img
                            src="https://www.signs.com/content/assets/filelibrary/Bubble-w-Direct-Printing-9669.png"
                            alt="Feature Bubble for Direct Printing"></div>
                </li>
                <li class="signs-featured-item">
                    <h3>Double Sided Printing</h3>
                    <p>Double sided printing is a great option to maximize the visibility of your gatorboard sign.
                    </p>
                    <div class="img-wrap"><img
                            src="https://www.signs.com/content/assets/filelibrary/Bubble-w-double-side-9670.png"
                            alt="Feature Bubble for double sided signs"></div>
                </li>
                <li class="signs-featured-item">
                    <h3>Any Custom Size</h3>
                    <p>Use our design tool to adjust the size of your sign to any size that you need. Sign price scales
                        with the size of the sign as it gets larger.</p>
                    <div class="img-wrap"><img
                            src="https://www.signs.com/content/assets/filelibrary/bubble-custom-size-9672.png"
                            alt="Features bubble for custom sizes"></div>
                </li>
                <li class="signs-featured-item">
                    <h3>Fast Production Time</h3>
                    <p>Signs.com is proud to offer one-day production. As soon as you order your sign, we will begin the
                        process to have it printed by the next day. Then we ship it directly to you, giving you the sign
                        as quickly as possible.
                    </p>
                    <div class="img-wrap"><img
                            src="https://www.signs.com/content/assets/filelibrary/bubble-fast-production-9671.png"
                            alt="Features Bubble for fast production"></div>
                </li>
                <li class="signs-featured-item">
                    <h3>Black or White Edges</h3>
                    <p>We offer both black and white edges for your custom gatorboard sign. Choose your preference when
                        creating your design.
                    </p>
                    <div class="img-wrap"><img
                            src="https://www.signs.com/content/assets/filelibrary/bubble-w-bw-edges-9668.png"
                            alt="Feature Bubble with Black and White Edges"></div>
                </li>
            </ul>
        </div>
    </div>
</section>

<!-- Design tool and services -->
<section class="section-default design-services">
    <div class="standard-container">
        <div class="myrow">
            <div class="design-services-group">
                <h2 class="design-services-heading">Easy to Use Design Tool</h2>
                <div class="img-wrap"><img
                        src="https://www.signs.com/content/assets/filelibrary/Design-Tool-Gatorboard-9656.jpg"
                        alt="Signs.com Design Tool For Gatorboard"/></div>
                <p class="design-services-text">Create your custom Gatorboard with our simple and easy design tool.
                    Upload images, create objects, add text, adjust sizing, change color, and so much more!</p>
                <a href="https://www.signs.com/design/?productID=43">Check It Out</a>
            </div>

            <div class="design-services-group">
                <h2 class="design-services-heading">Free Professional Design Services</h2>
                <div class="img-wrap"><img class="design-services-image"
                                           src="https://www.signs.com/content/assets/filelibrary/Free-Design-Services-8426.jpg"/>
                </div>
                <p class="design-services-text">Whether you need help uploading your design or are interested in
                    creating something entirely new, our team of professional graphic designers is here to help. Nothing
                    beats free!</p>
                <a href="https://www.signs.com/design-services/">Learn More</a>
            </div>
        </div>
    </div>
</section>

<!-- Section Additional Specs-->
<section class="section-additional-specs">
    <div class="container">
        <h2>Additional Specs</h2>
        <ul class="additional-specs-list">
            <li>
                <h3>Weight</h3>
                <p>.22 lbs per square foot (about the weight of 18 quarters)</p>
            </li>
            <li>
                <h3>Thickness</h3>
                <p>.1945” (about the thickness of 50 sheets of copy paper)</p>
            </li>
            <li>
                <h3>Details</h3>
                <p>Rigid polystyrene core, lightweight, durable, white or black edges available.</p>
            </li>
            <li>
                <h3>Uses</h3>
                <p>Indoor use only. Exhibits, point of purchase displays, temporary retail signage and displays,
                    business presentations, trade show signage, restaurant signage, menus.</p>
            </li>
            <li>
                <h3>Print Method</h3>
                <p>Four color process, eco-friendly, weather, fade and abrasion resistant UV ink</p>
            </li>
            <li>
                <h3>Estimated Lifespan</h3>
                <p>2+ years with proper care and storage</p>
            </li>
            <li>
                <h3>Common Sizes</h3>
                <p>12”x12”, 24”x12”, 36”x18”, 2’x4’, 4’x4’, 4’x8’</p>
            </li>
        </ul>
    </div>
</section>

<!-- Installation and Care -->
<section class="section-default section-installation">
    <div class="standard-container">
        <ul>
            <li class="listComeGo_js">

                <div class="content-wrap comeGoChildWrap_js">
                    <h2>Installation</h2>
                    <p>
                        Gatorboard can be hung on a wall using screws, nails, or an effective adhesive. Use rope,
                        string, or
                        bungee cords to hang gatorboard from a ceiling. If you wish to have holes drilled into your
                        sign,
                        make sure to select the ‘drilled holes’ option before completing your purchase. Create 3D
                        displays
                        by using multiple gatorboard pieces as the building blocks.
                    </p>
                </div>
                <div class="img-wrap comeGoImageWrap_js">
                    <img src="https://www.signs.com/content/assets/filelibrary/Install-Gatorboard-9661.jpg"
                         alt="Example of How To Install a Gatorboard Sign">
                </div>
            </li>
            <li class="listComeGo_js">

                <div class="content-wrap comeGoChildWrap_js">
                    <h2>Care</h2>
                    <p>
                        Gatorboard signs are intended for indoor use only. Avoid placing gatorboard in areas where it
                        will
                        be exposed to increased amounts of moisture and refrain from using any liquid or cleaning
                        solution
                        to remove dirt from the sign. When handling, make sure not to excessively bend the board, this
                        will
                        cause a permanent crease in the material or possible tearing of the board. Edges can be easily
                        dented, so take care when transporting and displaying gatorboard.
                    </p>
                </div>
                <div class="img-wrap comeGoImageWrap_js">
                    <img src="https://www.signs.com/content/assets/filelibrary/Gatorboard-Care-Instructions-9658.jpg"
                         alt="Gatorboard Signs Care Instructions">
                </div>
            </li>
        </ul>
    </div>
</section>


<!-- Why Signs.com -->
<section class="section-default section-why-signs">
    <div class="standard-container">
        <h2>Why Signs.com?</h2>
        <ul class="why-signs-list">
            <li class="why-signs-list-item">
                <img src="https://www.signs.com/content/assets/filelibrary/icon-running-9526.jpg" alt="Icon running"/>
                <h3>Next Day Production</h3>
                <p>
                    Order by 5PM EST and we’ll have your gatorboard sign completed and shipped within 2-4 business days
                </p>

            </li>
            <li class="why-signs-list-item">
                <img src="https://www.signs.com/content/assets/filelibrary/icon-box-9528.jpg" alt="Icon box"/>
                <h3>Free Shipping over $75*</h3>
                <p>
                    For custom gatorboard signs orders over $75 your order ships free!
                </p>
                <span class="extra">
                    *Excludes rigid signs over 36” in either dimension.
                </span>
            </li>

            <li class="why-signs-list-item">
                <img src="https://www.signs.com/content/assets/filelibrary/icon-ribbon-9527.jpg" alt="Icon ribbon"/>
                <h3>Award Winning Customer Service</h3>
                <p>
                    We guarantee you’ll love your custom gatorboard sign. If you don’t, we’ll be sure to make it right.
                </p>
            </li>

        </ul>
    </div>
</section>

<!-- Section Looking for -->
<section class="section-default section-looking-for">
    <div class="standard-container">
        <h2>Looking for a mounted photo print?</h2>
        <div class="img-wrap">
            <img src="https://www.signs.com/content/assets/filelibrary/Ultraboard-Mount-9662.jpg"
                 alt="Ultraboard Photo Mount for Photo Prints">
        </div>
        <div class="content-wrap">
            <p>While we typically print directly onto the gatorboard material, we are also able to print photographs
                that are mounted on an ultraboard base.</p>
            <button class="btn-mounted-photo-print"> Create Mounted Photo Print</button>
        </div>
    </div>
</section>


<!-- Section Related Products -->
<section class="section-default section-related-products">
    <div class="standard-container">
        <h2>Related Products</h2>
        <a href="/foamboard/">
            <figure>
                <div class="img-wrap"><img
                        src="https://www.signs.com/content/assets/filelibrary/Foam-Board-01-4475-9664.png"
                        alt="Thumbnail of a foam board sign from Signs.com"/></div>
                <figcaption>Foam Board Signs</figcaption>
            </figure>
        </a>
        <a href="/plastic-signs/">
            <figure>
                <div class="img-wrap"><img
                        src="https://www.signs.com/content/assets/filelibrary/RigidPlastic-01-4497-9666.png"
                        alt="Thumbnail of a plastic sign from Signs.com"/></div>
                <figcaption>Plastic Signs</figcaption>
            </figure>
        </a>
        <a href="/spirit-flags/">
            <figure>
                <div class="img-wrap"><img
                        src="https://www.signs.com/content/assets/filelibrary/YardSign-01-4526-9667.png"
                        alt="Thumbnail of a Yard Sign from Signs.com"/></div>
                <figcaption>Yard Signs</figcaption>
            </figure>
        </a>
    </div>
</section>

<script>
    /* Create Gallery Image Section */
    var namelessDiv1 = document.createElement("div");
    namelessDiv1.setAttribute("class", "section-default section-gallery-image");
    /* Edit this one where you put the image slider!!! */
    var sectionDesignServices = document.querySelector(
        ".section-additional-specs + .standard-separator"
    );
    sectionDesignServices.after(namelessDiv1);
    /* Create Standard Container */
    var sectionGalleryImage = document.querySelector(".section-gallery-image");
    var namelessDiv2 = document.createElement("div");
    namelessDiv2.setAttribute("class", "standard-container");
    sectionGalleryImage.appendChild(namelessDiv2);
    /* Create Section Title */
    var standardContainerGallery = document.querySelector(
        ".section-gallery-image > .standard-container"
    );
    var sectionTitle = document.createTextNode("Image Gallery");
    var titleTag = document.createElement("h2");
    titleTag.appendChild(sectionTitle);
    standardContainerGallery.appendChild(titleTag);
    /* Move gallery slider */
    var imageGallery2019 = document.querySelector(".image-gallery-2019");
    standardContainerGallery.appendChild(imageGallery2019);
</script>

<script>
    //Section What Are
    window.onresize = function () {
        var sectionWhatAre = document.querySelectorAll(".section-what-are.sectionComeGo_js");
        sectionWhatAre.forEach(function (item) {
            var movingSectionTitle = item.querySelector(".comeGoChildWrap_js > h2");
            var comeGoChildWrap = item.querySelector(".comeGoChildWrap_js");
            var comeGoImageWrap = item.querySelector(".comeGoImageWrap_js");
            if (window.innerWidth <= 1199) {

                movingSectionTitle.after(comeGoImageWrap);
            } else {
                comeGoChildWrap.after(comeGoImageWrap);
            }
        });

        //Section Care and Install
        var listInstallation = document.querySelectorAll(".listComeGo_js");
        listInstallation.forEach(function (listItem) {
            var listMovingSectionTitle = listItem.querySelector(".listComeGoChildWrap_js h2");
            var listComeGoChildWrap = listItem.querySelector(".listComeGoChildWrap_js");
            var listComeGoImageWrap = listItem.querySelector(".listComeGoImageWrap_js");
            if (window.innerWidth <= 767) {

                listMovingSectionTitle.after(listComeGoImageWrap);
            } else {
                listComeGoChildWrap.after(listComeGoImageWrap);
            }
        });

    };
    //Section What Are
    var sectionWhatAre = document.querySelectorAll(".section-what-are.sectionComeGo_js");
    sectionWhatAre.forEach(function (item) {
        if (window.innerWidth <= 1199) {
            var movingSectionTitle = item.querySelector(".comeGoChildWrap_js > h2");
            var comeGoImageWrap = item.querySelector(".comeGoImageWrap_js");
            movingSectionTitle.after(comeGoImageWrap);
        } else {
            var comeGoChildWrap = item.querySelector(".comeGoChildWrap_js");
            var comeGoImageWrap = item.querySelector(".comeGoImageWrap_js");
            comeGoChildWrap.after(comeGoImageWrap);
        }
    });

    //Section Care and Install
    var listInstallation = document.querySelectorAll(".listComeGo_js");
    listInstallation.forEach(function (listItem) {
        if (window.innerWidth <= 767) {
            var listMovingSectionTitle = listItem.querySelector(".listComeGoChildWrap_js h2");
            var listComeGoImageWrap = listItem.querySelector(".listComeGoImageWrap_js");
            listMovingSectionTitle.after(listComeGoImageWrap);
        } else {
            var listComeGoChildWrap = listItem.querySelector(".listComeGoChildWrap_js");
            var listComeGoImageWrap = listItem.querySelector(".listComeGoImageWrap_js");
            listComeGoChildWrap.after(listComeGoImageWrap);
        }
    });
</script>

