h2.split-title {
    font-size: 30px;
    font-weight: 400;
}

img.hero-img {
}

.img-wrap {
    font-size: 0
}

.scroll-link {
    display: inline-block
}

.faq-search-links .scroll-link {
    display: flex
}

.caret {
    border: 6px solid transparent;
    border-top: 6px solid #5ba9f5;
    margin-top: 5px;
    margin-left: 5px
}

figure {
    margin: 0
}

.section-default {
    padding: 60px 0;
    text-align: center
}

.section-default h2 {
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 50px;
}

.section-default p {
    font-size: 20px;
    margin-bottom: 30px
}

.section-default [class*=img-wrap] img {
    width: 100%;
}

.standard-container {
    max-width: 1560px;
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
    margin: 0 auto
}

/* FAQ Section */

.faq-search-links {
    padding: 35px 0;
    color: #5ca9f5;
    background: #fff
}

.faqmain {
    margin: 0 auto;
    max-width: 1500px;
    padding: 0 20px
}

.product-tabs-wrapper .faq-search-links {
    padding: 0;
    margin: 0 0 10px;
    background: initial
}

.product-tabs-wrapper .faq-search-form {
    margin-bottom: 15px
}

.signs-faq-2 {
    text-align: left
}

/* Hero Section */

.section-hero-full-width {
    padding: 20px 0 25px
}

.hero-footer,
.hero-head {
    margin: 0 auto;
    padding: 0 20px;
    max-width: 845px;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
}

.hero-head {
    margin-bottom: 35px;
}

.hero-head h1 {
    font-size: 50px;
    font-weight: 400;
    margin-bottom: 10px
}

.hero-list {
    font-size: 0
}

.hero-list-item:first-child:before {
    content: ""
}

.hero-list-item:before {
    content: "\2022";
    top: -3px;
    left: -3px;
    font-size: 18px;
    position: absolute;
}

.hero-list-item {
    position: relative;
    padding: 0 10px;
    font-size: 20px;
    display: inline-block
}

.hero-img {
    width: 100%
}

.hero-phrase {
    font-size: 20px
}

/* Section Product Quick Start */

.placeholder-sticky {
    padding: 0 0 30px
}

.quick-start-group.quick-start-size .gs-input-group {
    display: none;
}

/* Store Review Section */

#shoppersReviews {
    padding: 30px 0 0
}

#shoppersReviews .shopper-approved-link {
    margin: 0
}

.sa-caption {
    display: none
}

/* Additional Specs Section */

.section-additional-specs {
    padding: 64px 0
}

.section-additional-specs .container {
    margin: 0 auto;
    max-width: 685px;
    text-align: center;
    padding: 0 20px;
}

.section-additional-specs h2 {
    text-align: center;
    font-size: 25px;
    margin-bottom: 50px
}

.additional-specs-list {
    display: inline-block;
    text-align: left
}

.additional-specs-list li {
    display: flex;
    margin-bottom: 20px;
    border-bottom: 1px solid #cfcccc;
    padding-right: 10px;
}

.additional-specs-list li h3 {
    min-width: 160px;
    font-size: 18px;
    color: #333;
    font-weight: 400;
    margin-right: 60px;
}

.additional-specs-list li p {
    font-size: 18px;
    color: #9f9f9f;
    font-weight: 300;
    margin-bottom: 20px;
}

.bt-0 {
    border-bottom: 0 !important;
}

/* Image Gallery */

.section-gallery-image .image-gallery-slider2019 {
    margin-bottom: 0 !important;
}

/* FAQ Section */

.faq-search-links {
    padding: 35px 0;
    color: #5ca9f5;
    background: #fff
}

/* What are Section */

.section-what-are {
    text-align: left;
    padding-bottom: 80px;
}

.section-what-are .standard-container {
    position: relative;
    display: flex;
    align-items: center;
    padding: 0;
    justify-content: space-between;
    max-width: 1920px;
}

.section-what-are h2 {
    margin-bottom: 57px
}

.section-what-are p {
    margin-bottom: 20px;
    font-size: 18px;
}

.section-what-are br {
    display: none
}

.section-what-are img {
    width: 100%
}

.what-are-content-wrap {
    margin-left: calc(100% - 1620px);
    max-width: 777px;
    width: 100%;
}

.what-are-content-wrap > :not(.downloadable-product-templates) {
    /* max-width: 625px; */
    /* margin-left: auto; */
    /* margin-right: auto; */
}

.what-are-img-wrap {
    max-width: 735px;
    width: 100%;
    flex: 0 0 100%;
    font-size: 0;
}

/* Section Featured */
.section-signs-features * {
    box-sizing: border-box;
}

.featured-body {
    position: relative;
    margin-top: 0;
    margin-bottom: 55px;
}

.section-signs-features h2 {
}

.featured-img-wrap {
    max-width: 630px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.featured-img-wrap img {
    margin-right: -186px;
}

.signs-featured-list {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.signs-featured-item {
    position: absolute;
    text-align: left;
    display: inline-block;
    max-width: 278px;
    width: 100%;
}

.signs-featured-item h3 {
    font-size: 28px;
    margin-bottom: 10px;
    line-height: 1.5;
    font-weight: 500;
}

.signs-featured-item p {
    color: #919396;
    font-weight: 300;
    font-size: 22px;
}

.signs-featured-item:nth-child(1) {
    top: 84px;
    left: 104px;
    /* margin-right: 167px; */
    max-width: 285px;
}

.signs-featured-item:nth-child(2) {
    bottom: 227px;
    left: 85px;
    /* padding-top: 195px; */
    max-width: 275px;
}

.signs-featured-item:nth-child(3) {
    left: 1125px;
    top: 100px;
    /* padding-left: 180px; */
    max-width: 345px;
}

.signs-featured-item:nth-child(4) {
    right: 0px;
    bottom: 43px;
    /* padding-left: 190px; */
    max-width: 385px;
}

.signs-featured-item:nth-child(5) {
    right: 895px;
    bottom: -121px;
    /* padding-left: 205px; */
    max-width: 390px;
}

.signs-featured-item .img-wrap {
    position: absolute;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    overflow: hidden;
    /* border: 5px solid #000; */
    /* box-shadow: 9px 8px 8px rgba(0, 0, 0, .19); */
}

.signs-featured-item .img-wrap img {
    width: 100%;
    height: 100%;
}

.signs-featured-item:nth-child(1) .img-wrap {
    right: -170px;
    top: -60px;
    /* background: red; */
}

.signs-featured-item:nth-child(2) .img-wrap {
    top: -45px;
    right: -177px;
}

.signs-featured-item:nth-child(3) .img-wrap {
    left: -170px;
    top: -57px;
}

.signs-featured-item:nth-child(4) .img-wrap {
    left: -173px;
    top: -150px;
}

.signs-featured-item:nth-child(5) .img-wrap {
    top: -105px;
    left: inherit;
    right: -40px;
}

/* Image Gallery */

.image-gallery-slider2019-thumbnails .slick-slide.slick-current > img {
    box-shadow: none;
}

/* Design tool and services */

.design-services {
}

.design-services .myrow {
    display: flex;
}

.design-services .design-services-group {
    margin: 0 40px;
}

.design-services .design-services-heading {
    margin-top: 0;
    margin-bottom: 35px;
    max-width: 295px;
    text-transform: uppercase;
}

.design-services .img-wrap {
    /* height: 345px; */
    /* overflow: hidden; */
}

.design-services .img-wrap img {
    /* height: 100%; */
}

.design-services .design-services-image {
    margin-bottom: 0;
}

.design-services .design-services-text {
    color: #919396;
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: 400;
    max-width: 560px;
}

.design-services .design-services-group a {
    color: #0097D5;
    font-size: 20px;
}

/* Section Why */

.section-why-signs h2 {
    margin-bottom: 50px
}

.why-signs-list {
    font-size: 0;
    margin-top: 35px;
    margin: 0 -20px;
    display: flex;
    justify-content: space-between
}

.why-signs-list-item {
    display: inline-block;
    font-size: 20px;
    padding: 0 20px;
    box-sizing: border-box;
    max-width: 476px;
    width: 100%
}

.why-signs-list-item .extra {
    color: #919396;
    font-size: 14px;
    max-width: 295px;
    width: 100%;
    margin: 7px auto 0;
    display: block;
    font-style: italic;
}

.why-signs-list-item img {
    margin-bottom: 10px
}

.why-signs-list-item h3 {
    font-size: 25px;
    margin-bottom: 10px;
    max-width: 385px;
    margin: 0 auto 10px;
}

.why-signs-list-item p {
    color: #919396;
    font-size: 18px
}

.why-signs-list-item:nth-of-type(1) p {
    max-width: 380px;
    margin: 0 auto;
}

.why-signs-list-item:nth-of-type(2) p {
    max-width: 278px;
    margin: 0 auto;
}

.why-signs-list-item:nth-of-type(3) p {
    max-width: 404px;
    margin: 0 auto;
}

/* Related Product Section */

.section-related-products {
    padding: 65px 0
}

.section-related-products .standard-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    margin: 0 auto;
    padding: 0 20px;
    max-width: 1567px;
    text-align: center
}

.section-related-products h2 {
    width: 100%;
    font-size: 26px;
    margin-bottom: 45px;
}

.section-related-products .standard-container > a {
    margin: 0;
    width: calc(100% / 3);
    display: flex;
    align-items: flex-end;
    justify-content: center
}

.section-related-products .standard-container > a figure {
    width: 100%;
}

.section-related-products .standard-container > a .img-wrap {
    max-width: 420px;
    height: 306px;
    position: relative;
    width: 100%;
    margin: 0 auto 30px;
}

.section-related-products .standard-container > a .img-wrap img {
    position: absolute;
    margin-bottom: 0 !important;
    left: 0;
    right: 0;
    max-width: 100%;
    max-height: 100%;
    display: block;
    top: 50%;
    transform: translate(0, -50%);
}

.section-related-products .standard-container > a:first-of-type figure img {
    margin-bottom: 80px;
    /* height: 100%; */
}

.section-related-products figure img {
    margin-bottom: 40px
}

.section-related-products figure figcaption {
    font-size: 20px;
    font-weight: 500;
    /* color: #707070 */
}

/* Section Table */
.table-comparison-signtypes.table-comparison-signtypes-no-separator td {
    padding: 0;
}

.table-comparison-signtypes {
    width: 100%;
}

.table-comparison-signtypes thead {
    background-color: #5c88d0;
}

.table-comparison-signtypes tbody tr:nth-child(odd) {
    background-color: #ffffff;
}

.table-comparison-signtypes tbody tr:nth-child(even) {
    background-color: #e5e5e5;
}

.table-comparison-signtypes th, .table-comparison-signtypes td {
    position: relative;
    font-weight: 300;
    font-size: 19px;
    width: calc(100% / 5);
    text-align: center;
    padding: 30px 0;
    /* vertical-align: middle; */
}

.table-comparison-signtypes th .border-right, .table-comparison-signtypes td .border-right {
    position: absolute;
    width: 1px;
    content: "";
    vertical-align: top;
    top: 0;
    bottom: 0;
    right: 0;
}

.table-comparison-signtypes th:last-child:before, .table-comparison-signtypes td:last-child:before {
    opacity: 0;
}

.table-comparison-signtypes th {
    color: #fff;
}

.table-comparison-signtypes th .border-right {
    /* background: #96afd4; */
}

.table-comparison-signtypes tbody tr:nth-child(odd) td .border-right {
    /* background: #c2c2c2; */
    background: -moz-linear-gradient(to bottom, rgba(221, 221, 221, 0) 0, #888 22%, #888 50%, #888 80%, rgba(221, 221, 221, 0) 100%);
    background: -webkit-linear-gradient(to bottom, rgba(221, 221, 221, 0) 0, #888 22%, #888 50%, #888 80%, rgba(221, 221, 221, 0) 100%);
    background: linear-gradient(to bottom, rgba(221, 221, 221, 0) 0, #888 22%, #888 50%, #888 80%, rgba(221, 221, 221, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00dddddd', endColorstr='#00dddddd', GradientType=1);
}

.table-comparison-signtypes tbody tr:nth-child(even) td .border-right {
    /* background: #bdbdbd; */
    background: -moz-linear-gradient(to bottom, rgba(221, 221, 221, 0) 0, #888 22%, #888 50%, #888 80%, rgba(221, 221, 221, 0) 100%);
    background: -webkit-linear-gradient(to bottom, rgba(221, 221, 221, 0) 0, #888 22%, #888 50%, #888 80%, rgba(221, 221, 221, 0) 100%);
    background: linear-gradient(to bottom, rgba(221, 221, 221, 0) 0, #888 22%, #888 50%, #888 80%, rgba(221, 221, 221, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00dddddd', endColorstr='#00dddddd', GradientType=1);
}

.table-comparison-signtypes td p {
    text-align: left;
    font-size: 15px;
    margin-bottom: 0;
}

.table-comparison-signtypes td p a {
    display: block;
    color: #43aad3;
}

.table-comparison-signtypes td p a:hover {
    /* text-decoration: underline; */
}

.table-comparison-signtypes .tr-with-p td {
    padding: 15px 15px;
}

.vertical-separator {
    height: 30px;
    width: 1px;
    display: inline-block;
    background: #bdbdbd;
    margin: -9px 8px;
    display: none;
}

.table-comparison-signtypes-no-separator th .border-right, .table-comparison-signtypes-no-separator td .border-right {
    opacity: 0;
}

.table-comparison-signtypes th .img-wrap, .table-comparison-signtypes td .img-wrap {
    max-width: 360px;
    width: 100%;
    margin: 0 auto;
    /* height: auto; */
}

/*  */
.options-section {
    position: relative;
    overflow-y: scroll;
    margin: 0px 10px 10px;
}

.options-section table {
    margin: 10px auto 50px;
    width: 1500px;
}

.options-section th {
    text-align: center;
}

tr.blue-row {
    background-color: #5e88d0;
    color: white;
}

.options-section td {
    text-align: center;
    width: 22.7%;
}

.options-section td.bolded {
    font-weight: bold;
    width: 10%;
}

tr.blue-row td.vertical-separator {
    background: -moz-linear-gradient(to bottom, rgba(221, 221, 221, 0) 0, #fff 22%, #fff 50%, #fff 80%, rgba(221, 221, 221, 0) 100%);
    background: -webkit-linear-gradient(to bottom, rgba(221, 221, 221, 0) 0, #fff 22%, #fff 50%, #fff 80%, rgba(221, 221, 221, 0) 100%);
    background: linear-gradient(to bottom, rgba(221, 221, 221, 0) 0, #fff 22%, #fff 50%, #fff 80%, rgba(221, 221, 221, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00dddddd', endColorstr='#00dddddd', GradientType=1);
    height: 4em;
    width: 0.1%;
    content: "";
    vertical-align: top;
    margin-left: 10px;
}

tr.gray-row {
    background-color: lightgray;
}

.options-section td.long-text {
    padding: 0 40px;
}

a.standard-link, .standard-link {
    color: #00ADEF;
    cursor: pointer;
}

.sub-text {
    text-align: center;
    font-style: italic;
    margin-bottom: 40px;
}

/* Section Popular Templates */
#popular-templates-wrapper .template-list {
    max-width: 1315px;
    margin: 0 auto;
}

#popular-templates-wrapper .template-list li {
    /* width: calc(100% / 4); */
}

/* Care and Installation */
.section-installation {
    text-align: left;
}

.section-installation h2 {
}

.section-installation p {
}

.section-installation ul {
    list-style: none;
    max-width: 1225px;
    width: 100%;
    margin: 0 auto;
}

.section-installation ul li {
    margin-bottom: 50px;
}

.section-installation ul li:last-child {
    margin-bottom: 0;
}

.section-installation ul li h2 {
    font-size: 27px;
    font-weight: 500;
    margin-bottom: 15px;
}

.section-installation ul li p {
    font-size: 19px;
    max-width: 882px;
}

.section-installation ul li [class*="img-wrap"] img {
}

.section-installation ul li:after {
}

.section-installation ul li .standard-container {
    padding: 0 20px;
}

@media (max-width: 1680px) {
    /* Global */
    .standard-container {
        max-width: 1418px
    }

    /* Hero Section */
    .hero-img-wrap {
        max-width: 1000px;
    }

    /* What are */
    .what-are-content-wrap {
        margin-left: calc(100% - 1575px);
        max-width: 780px;
    }

    /* Featured Section */
    .featured-img-wrap {
        max-width: 740px;
    }

    .signs-featured-item:nth-child(1) {
        top: 108px;
        left: -18px;
    }

    .signs-featured-item:nth-child(1) .img-wrap {
        right: -170px;
        top: -70px;
    }

    .signs-featured-item:nth-child(2) {
        bottom: 275px;
        left: -40px;
    }

    .signs-featured-item:nth-child(3) {
        left: 1073px;
        top: 145px;
    }

    .signs-featured-item:nth-child(3) .img-wrap {
        left: -172px;
        top: -60px;
    }

    .signs-featured-item:nth-child(4) {
        right: -75px;
        bottom: 34px;
    }

    .signs-featured-item:nth-child(4) .img-wrap {
        left: -165px;
        top: -156px;
    }

    .signs-featured-item:nth-child(5) {
        right: 870px;
        bottom: -89px;
    }

    .featured-body {
        margin-bottom: 30px;
    }

    /* Design Tool and Services */
    .design-services .img-wrap {
        height: 388px;
    }

    /* Image Gallery */
    .section-gallery-image {
        padding-bottom: 70px;
    }
}

@media (max-width: 1600px) {
    /* Global */
    .standard-container {
        max-width: 1390px
    }

    /* Hero Image Wrap */
    .hero-head {
        margin-bottom: 25px;
    }

    .hero-img-wrap {
        max-width: 870px;
        margin-bottom: 0;
    }

    /* What are */
    .what-are-content-wrap {
        margin-left: calc(100% - 1495px);
        max-width: 773px;
    }

    .what-are-img-wrap {
        max-width: 675px;
        width: 100%;
        flex: 0 0 100%;
        font-size: 0;
    }

    /* Featured Section */
    .signs-featured-item:nth-child(3) {
        left: 1060px;
        top: 135px;
    }

    .signs-featured-item:nth-child(4) .img-wrap {
        left: -145px;
        top: -183px;
    }

    /* Design Tool and Services */
    .design-services .img-wrap {
        height: auto;
    }

    .design-services .design-services-text {
        height: 96px;
    }
}

@media (max-width: 1536px) {
    /* Global */
    .standard-container {
        max-width: 1271px
    }

    /* Hero Section */
    .hero-img-wrap {
        max-width: 890px;
    }

    .standard-container {
        max-width: 1285px
    }

    /* Section What Are */
    .what-are-img-wrap {
        max-width: 710px;
    }

    .what-are-content-wrap {
        margin-left: calc(100% - 1430px);
        max-width: 660px;
    }

    /* Why Section */
    .why-signs-list-item br {
        display: none
    }

    /* Featured Section */
    .section-signs-features h2 {
        margin-bottom: 20px;
    }

    .featured-body {
        margin-bottom: 30px;
        margin-top: 60px;
    }

    .featured-img-wrap {
        max-width: 675px;
    }

    .signs-featured-item .img-wrap {
        width: 135px;
        height: 135px;
    }

    .signs-featured-item:nth-child(1) {
        top: 90px;
        left: -25px;
    }

    .signs-featured-item:nth-child(1) .img-wrap {
        right: -142px;
        top: -50px;
    }

    .signs-featured-item:nth-child(2) {
        bottom: 317px;
        left: -24px;
    }

    .signs-featured-item:nth-child(2) .img-wrap {
        top: -35px;
        right: -150px;
    }

    .signs-featured-item:nth-child(3) {
        left: 965px;
        top: 125px;
    }

    .signs-featured-item:nth-child(3) .img-wrap {
        left: -140px;
        top: -45px;
    }

    .signs-featured-item:nth-child(4) {
        right: -100px;
        bottom: 70px;
        max-width: 384px;
    }

    .signs-featured-item:nth-child(4) .img-wrap {
        left: -130px;
        top: -126px;
    }

    .signs-featured-item:nth-child(5) {
        right: 767px;
        bottom: -90px;
    }

    .signs-featured-item:nth-child(5) .img-wrap {
        top: -85px;
        left: inherit;
        right: -20px;
    }
}

@media (max-width: 1440px) {
    .standard-container {
        max-width: 1225px
    }

    /* Hero Section */
    .hero-img-wrap {
        max-width: 888px;
    }

    /* What Are */
    .what-are-img-wrap {
        max-width: 630px;
    }

    .what-are-content-wrap {
        margin-left: calc(100% - 1330px);
        max-width: 660px;
    }

    /* Featured Section */
    .featured-img-wrap {
        max-width: 499px;
    }

    .featured-img-wrap img {
        margin-right: -155px;
    }

    .signs-featured-item .img-wrap {
        width: 125px;
        height: 125px;
    }

    .signs-featured-item p {
        font-size: 19px;
    }

    .signs-featured-item:nth-child(1) {
        max-width: 249px;
        top: 17px;
        left: 77px;
    }

    .signs-featured-item:nth-child(2) {
        max-width: 278px;
        bottom: 159px;
        left: 35px;
    }

    .signs-featured-item:nth-child(3) {
        max-width: 248px;
        left: 892px;
        top: 95px;
    }

    .signs-featured-item:nth-child(4) {
        max-width: 338px;
        right: -45px;
        bottom: 48px;
    }

    .signs-featured-item:nth-child(5) {
        right: 681px;
        bottom: -118px;
        max-width: 343px;
    }

    .signs-featured-item:nth-child(1) .img-wrap {
        right: -121px;
        top: 3px;
    }

    .signs-featured-item:nth-child(2) .img-wrap {
        top: -36px;
        right: -131px;
    }

    .signs-featured-item:nth-child(3) .img-wrap {
        left: -135px;
        top: -41px;
    }

    .signs-featured-item:nth-child(4) .img-wrap {
        left: -130px;
        top: -116px;
    }

    .signs-featured-item:nth-child(5) .img-wrap {
        top: -74px;
        left: inherit;
        right: -49px;
    }

    .featured-body {
        margin-bottom: 300px;
    }
}

@media (max-width: 1366px) {
    /* Global */
    .standard-container {
        max-width: 1123px
    }

    /* Section Hero */
    .hero-img-wrap {
        max-width: 1045px;
    }

    /* Section What Are */
    .what-are-img-wrap {
        max-width: 600px;
    }

    .section-what-are .standard-container {
        /* max-width: initial; */
        /* width: calc(100vw - 15rem) */
    }

    .what-are-content-wrap {
        margin-left: calc(100% - 1255px);
        max-width: 590px;
    }

    /* Section Why */
    .why-signs-list {
        margin: 0 -80px
    }

    /* Featured Section */
    .featured-img-wrap {
        max-width: 500px;
    }

    .signs-featured-item .img-wrap {
        width: 125px;
        height: 125px;
    }

    .signs-featured-item p {
        font-size: 19px;
    }

    .signs-featured-item:nth-child(1) {
        max-width: 320px;
        top: 63px;
        left: -5px;
    }

    .signs-featured-item:nth-child(2) {
        max-width: 282px;
        bottom: 188px;
        left: -6px;
    }

    .signs-featured-item:nth-child(3) {
        max-width: 277px;
        left: 829px;
        top: 40px;
    }

    .signs-featured-item:nth-child(4) {
        max-width: 308px;
        right: -50px;
        bottom: 26px;
    }

    .signs-featured-item:nth-child(5) {
        max-width: 342px;
        right: 657px;
        bottom: -112px;
    }

    .signs-featured-item:nth-child(1) .img-wrap {
        right: -82px;
        top: -40px;
    }

    .signs-featured-item:nth-child(2) .img-wrap {
        top: -35px;
        right: -121px;
    }

    .signs-featured-item:nth-child(3) .img-wrap {
        left: -129px;
        top: 3px;
    }

    .signs-featured-item:nth-child(4) .img-wrap {
        left: -120px;
        top: -105px;
    }

    .signs-featured-item:nth-child(5) .img-wrap {
        /* top: -151px; */
        /* left: 80px; */
    }

    .featured-body {
        margin-bottom: 45px;
        margin-top: 35px;
    }

    /* Design and Tool */
    .design-services .design-services-group {
        margin: 0 20px;
    }

    /* Care and Installation */
    .section-installation ul li {
    }

    .section-installation ul li img {
        max-width: 300px;
        height: auto;
        /* margin-left: 20px; */
    }
}

@media (max-width: 1366px) and (max-height: 768px) {
    /* Section Hero */
    .hero-img-wrap {
        max-width: 664px;
    }

    /* What are */
    .what-are-img-wrap {
        max-width: 585px;
    }

    .what-are-content-wrap {
        margin-left: calc(100% - 1255px);
        max-width: 638px;
    }
}

@media (max-width: 1280px) {
    /* Section Hero */
    .hero-img-wrap {
        max-width: 725px;
    }

    /* What are */
    .what-are-content-wrap {
        margin-left: calc(100% - 1155px);
        max-width: 629px;
    }

    .what-are-img-wrap {
        max-width: 500px;
    }
}

@media (max-width: 1280px) and (max-height: 720px) {
    /* Section Hero */
    .hero-img-wrap {
        max-width: 415px
    }
}

@media (max-width: 1270px) {
    .featured-img-wrap {
        max-width: 716px;
    }

    .signs-featured-item:nth-child(1) {
        max-width: 219px;
        top: 27px;
        left: -42px;
    }

    .signs-featured-item:nth-child(2) {
        max-width: 209px;
        bottom: -39px;
        left: -44px;
    }

    .signs-featured-item:nth-child(3) {
        max-width: 217px;
        left: 918px;
        top: 20px;
        order: 4;
    }

    .signs-featured-item:nth-child(4) {
        max-width: 219px;
        right: -49px;
        bottom: 55px;
        order: 5;
        margin-bottom: 0 !Important;
    }

    .signs-featured-item:nth-child(5) {
        max-width: 342px;
        right: 200px;
        bottom: -128px;
    }
}

@media (max-width: 1199px) {
    /* Section What Are */
    .what-are-img-wrap {
        max-width: 505px
    }

    .what-are-content-wrap {
        margin: 0 auto;
        text-align: center;
        max-width: 704px;
    }

    .section-what-are h2 {
        margin-bottom: 45px;
    }

    .what-are-content-wrap .what-are-img-wrap {
        margin: 0 auto 45px;
        max-width: 570px;
    }

    /* Section Why Signs */
    .why-signs-list {
        margin: 0 -10px
    }

    .why-signs-list-item {
        padding: 0 10px
    }

    .why-signs-list-item h3 {
        font-size: 21px
    }

    .section-related-products figure img {
        height: 236px;
        margin: 0 auto;
        display: inline-block
    }

    /* Featured Section */
    .featured-body {
        margin-top: 0;
        margin: 0 !important;
    }

    .featured-img-wrap {
        position: static;
        max-width: 527px;
    }

    .signs-featured-list {
        position: static;
        display: flex;
        flex-direction: column;
    }

    .signs-featured-item {
        position: relative !important;
        display: block !important;
        top: initial !important;
        left: initial !important;
        right: initial !important;
        bottom: initial !important;
        width: 100% !important;
        max-width: initial !important;
        margin: 0 !important;
        padding-left: 160px;
        min-height: 98px;
        margin-bottom: 22px !important;
    }

    .signs-featured-item .img-wrap {
        position: absolute !important;
        top: 0 !important;
        left: 0 !important;
        right: initial !important;
        bottom: initial !important;
    }

    .signs-featured-item:last-child {
        /* margin-bottom: 0 !important; */
        order: 3;
    }

    /* Design tool and services */
    .design-services .design-services-text {
        height: 120px;
    }

    /* Review Section */
    .section-product-reviews {
    }

    h2#product-reviews {
        padding-top: 0;
        margin-bottom: 10px;
    }

}

@media (max-width: 1024px) and (max-height: 800px) {
    .hero-img-wrap {
        max-width: 714px;
    }
}

@media (max-width: 1024px) and (max-height: 768px) {
    .hero-img-wrap {
        max-width: 595px;
    }
}

@media (max-width: 991px) {
    /* Hero Section */
    .section-hero-full-width {
        padding: 70px 0 15px
    }

    /* Section Store Ratings  */
    #shoppersReviews,
    #shoppersReviews * {
        display: block !important;
        padding: 0 !important;
        margin: 0 !important;
        position: static !important;
        text-align: center !important;
    }

    #shoppersReviews {
        padding: 20px 0 !important;
    }

    #shoppersReviews > br {
        display: none !important;
    }

    #shoppersReviews .shopperapproved_widget {
        height: auto !important;
    }

    #shoppersReviews .aggregateRating-container {
        display: flex !important;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
    }

    #shoppersReviews .shopper-approved-container {
        padding: 0 20px !important;
    }

    #shoppersReviews .sa_review {
        height: auto !important;
        text-align: center;
        display: flex !important;
        flex-direction: column-reverse;
    }

    #shoppersReviews .sa_review tbody > tr {
        display: flex !important;
        flex-direction: column-reverse;
        /* text-align: center; */
        align-items: center;
    }

    #shoppersReviews .sa_comments {
        margin-top: -17px !important;
        min-height: 60px;
        height: auto;
        display: block;
        flex: 0 0 auto;
        align-items: flex-end;
        font-size: 16px;
        overflow: visible;
        margin: 0 !important;
        overflow: hidden;
    }

    #shoppersReviews .sa_location {
        display: none !important;
    }

    #shoppersReviews .sa_info > span:first-of-type {
        background: red;
        display: none !important;
    }

    #shoppersReviews .sa_info {
        height: auto;
        display: block !important;
        flex: 0 0 auto;
    }

    #shoppersReviews .sa_date {
        display: none !important;
    }

    #shoppersReviews .sa_displayname {
        font-weight: 300;
    }

    #shoppersReviews .sa_star {
        display: none !important;
    }

    #shoppersReviews .sa-caption {
        display: none !important;
    }

    #shoppersReviews script {
        display: none !important;
    }

    #shoppersReviews .sa_review tbody > tr {
        display: flex !important;
        flex-direction: column-reverse;
        align-items: center;
    }

    /* What Are */
    .section-what-are .standard-container {
        padding: 0 20px;
        text-align: center
    }

    .section-what-are h2 {
        margin-bottom: 20px
    }

    /* Featured Section */
    .featured-img-wrap {
        max-width: 600px;
        margin-bottom: 30px;
    }

    /* Design tool and services */
    .design-services .design-services-text {
        height: auto;
    }

    /* Additional */
    .additional-specs-list li p br {
        display: none
    }

    /* Gallery Image */
    .section-gallery-image .image-gallery-slider2019-thumbnails {
        margin-top: 30px
    }

    /* Tool and Services Design */
    .design-services .myrow {
        display: block;
    }

    .design-services .design-services-heading {
        max-width: initial;
        display: block;
        margin: 0 0 20px;
    }

    .design-services .design-services-heading br {
        display: none;
    }

    .design-services .design-services-group {
        margin: 40px;
    }

    .design-services .design-services-group:last-child {
        margin-bottom: 0;
    }

    /* Section Why */
    .why-signs-list {
        display: block
    }

    .why-signs-list-item {
        margin-bottom: 25px
    }

    .why-signs-list-item:last-child {
        margin-bottom: 0
    }

    .section-why-signs h2 {
        margin-bottom: 20px
    }

    .why-signs-list-item .extra {
        margin-bottom: 20px
    }

    .why-signs-list-item p {
        margin-bottom: 20px
    }

    /* Related */
    .section-related-products {
        padding: 50px 0;
    }

    .section-related-products .standard-container {
        display: block;
    }

    .section-related-products figure img {
        height: 176px
    }

    .section-related-products .standard-container > a {
        margin: 0 auto 30px;
        width: calc(100% / 1.5);
    }

    .section-related-products .standard-container > a .img-wrap {
        max-width: 412px;
        height: 333px;
        margin-bottom: 0;
    }

    .section-related-products .standard-container > a .img-wrap img {
        height: 100%;
    }

    .section-related-products .standard-container > a:last-child {
        margin-bottom: 0;
    }

    .section-related-products .standard-container > a:last-child .img-wrap {
    }

}

@media (max-width: 768px) {
    /* Section What are */
    .section-what-are {
        padding: 40px 0 30px
    }

    .section-what-are .standard-container {
        display: block;
        padding: 0;
        width: calc(100vw);
    }

    .what-are-content-wrap {
        text-align: center;
        margin: 0 auto
    }

    .what-are-img-wrap img {
        height: 100%
    }

    .what-are-content-wrap h2,
    .what-are-content-wrap p {
        padding: 0 20px
    }

    .what-are-content-wrap h2 {
        margin-bottom: 40px;
    }

    .what-are-content-wrap .what-are-img-wrap {
        margin: 0 auto 50px;
    }

    /* Table */
    .table-wrap table-responsive {

    }

    .table-comparison-signtypes {
        width: 1310px;
    }

    .table-wrap.table-responsive {
        overflow-x: scroll;
    }

    .table-comparison-signtypes th,
    .table-comparison-signtypes td {
        padding: 20px 0;
    }

    .table-comparison-signtypes th .border-right, .table-comparison-signtypes td .border-right {
        /* height: 40px; */
    }
}

@media (max-width: 767px) {
    /* Hero Section */
    .hero-img-wrap {
        max-width: 387px;
    }

    /* Free Design Services */
    .section-free-design-services .standard-full-background {
        display: block
    }

}

@media (max-width: 575px) {
    .section-default {
        padding: 30px 0
    }

    .standard-full-background .content-wrap p {
        font-size: 20px;
        margin-bottom: 19px
    }

    .standard-full-background .btn-free-design {
        font-size: 16px;
        padding: 11px 25px;
        margin-bottom: 0;
        font-weight: 400;
        border-radius: 5px
    }

    /* Section Hero Full Width */
    .section-hero-full-width {
        padding-top: 10px;
    }

    .hero-head h1 {
        font-size: 30px
    }

    .hero-head {
        margin-bottom: 0;
        padding: 0 0;
    }

    .hero-body {
        padding: 20px 0 0;
    }

    .hero-list {
        margin: 0 -8px;
    }

    .hero-list-item {
        font-size: 15px;
        display: inline-block;
        padding: 0 8px;
    }

    .hero-list-item:first-child:before {
        content: "\2022";
        visibility: hidden;
    }

    .hero-list-item:nth-child(3):before {
        content: "\2022";
        /* visibility: hidden; */
    }

    .hero-img-wrap {
        padding: 0 20px;
        box-sizing: border-box;
        max-width: 400px;
        margin: 0 auto;
    }

    .hero-phrase {
        font-size: 16px
    }

    /* Product Quick Start */
    #LoginNavigationContainer .main-nav {
        max-width: initial;
        width: 100%;
    }

    /* Store Reviews Section */
    #shoppersReviews,
    #shoppersReviews * {
        display: block !important;
        padding: 0 !important;
        margin: 0 !important;
        position: static !important;
        text-align: center !important
    }

    #shoppersReviews {
        padding: 20px 0 !important
    }

    #shoppersReviews > br {
        display: none !important
    }

    #shoppersReviews .shopperapproved_widget {
        height: auto !important
    }

    #shoppersReviews .aggregateRating-container {
        display: flex !important;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center
    }

    #shoppersReviews .shopper-approved-container {
        padding: 0 20px !important
    }

    #shoppersReviews .sa_review {
        height: auto !important;
        text-align: center;
        display: flex !important;
        flex-direction: column-reverse
    }

    #shoppersReviews .sa_review tbody > tr {
        display: flex !important;
        flex-direction: column-reverse;
        align-items: center
    }

    #shoppersReviews .sa_comments {
        margin-top: -17px !important;
        min-height: 60px;
        height: auto;
        display: block;
        flex: 0 0 auto;
        align-items: flex-end;
        font-size: 16px;
        overflow: visible;
        margin: 0 !important;
        overflow: hidden
    }

    #shoppersReviews .sa_location {
        display: none !important
    }

    #shoppersReviews .sa_info > span:first-of-type {
        background: red;
        display: none !important
    }

    #shoppersReviews .sa_info {
        height: auto;
        display: block !important;
        flex: 0 0 auto
    }

    #shoppersReviews .sa_date {
        display: none !important
    }

    #shoppersReviews .sa_displayname {
        font-weight: 300
    }

    #shoppersReviews .sa_star {
        display: none !important
    }

    #shoppersReviews .sa-caption {
        display: none !important
    }

    #shoppersReviews script {
        display: none !important
    }

    /* Section What Are */
    .section-what-are {
        padding-bottom: 25px;
    }

    .what-are-content-wrap h2 {
        font-size: 28px;
        margin-bottom: 15px
    }

    .what-are-content-wrap .what-are-img-wrap {
        max-width: initial;
        width: 100%;
        height: 256px;
        margin-left: auto;
        overflow: hidden;
        margin-bottom: 45px;
        margin: 30px auto 50px;
    }

    .what-are-content-wrap .what-are-img-wrap img {
        object-fit: cover;
        object-position: -10px;
        /* margin-top: -13px; */
    }

    /* Section Table */
    .section-comparison-signtypes h2 {
        margin-bottom: 20px;
    }

    /* Featured Section */
    .featured-img-wrap img {
        margin-right: -96px;
    }

    .signs-featured-item .img-wrap {
        width: 110px;
        height: 110px;
        overflow: hidden;
        border-radius: 50%;
    }

    .signs-featured-item .img-wrap img {
        /* width: initial; */
        /* height: initial; */
        /* object-fit: cover; */
        /* width: 88px; */
        /* height: 88px; */
    }

    .signs-featured-item {
        padding-left: 124px !important;
    }

    .signs-featured-item h3 {
        font-size: 20px;
        margin-bottom: 3px;
    }

    .signs-featured-item p {
        font-size: 16px;
    }

    /* Image Gallery Slider */
    .section-gallery-image h2 {
        margin-bottom: 20px;
    }

    .section-gallery-image .standard-container {
        padding-left: 0;
        padding-right: 0
    }

    .image-gallery-slider2019 .slick-slide > img {
        max-height: initial
    }

    .image-gallery-slider2019 .slick-slide {
        max-height: initial;
        height: 310px;
    }

    /* Additional Specs */
    .section-additional-specs {
        padding: 35px 0;
    }

    .section-additional-specs h2 {
        margin-bottom: 20px
    }

    .additional-specs-list li {
        display: block;
        text-align: center;
        padding: 0;
        border-bottom: 0
    }

    .additional-specs-list li:last-child {
        margin-bottom: 0;
    }

    .additional-specs-list li h3 {
        margin: 0 auto 5px;
        font-weight: 400;
        font-size: 18px
    }

    .additional-specs-list li p {
        font-size: 16px;
        margin-bottom: 20px
    }

    /* Free design and Services */
    .section-free-design-services {
        padding: 0
    }

    .section-related-products figure img {
        width: 90%;
        height: auto;
        max-width: 355px
    }

    .section-related-products .standard-container > a {
        width: 100%;
        margin-bottom: 40px
    }

    .section-related-products .standard-container > a:last-child {
    }

    .design-services .design-services-group {
        margin: 0 0 30px;
    }

    .design-services .standard-container {
        padding: 0;
    }

    .design-services .design-services-heading {
        display: block;
        padding: 0 45px;
    }

    .design-services .design-services-text {
        font-size: 18px;
        max-width: 585px;
        margin: 20px 15px 5px;
    }

    /* Customers Review Section */
    #review_image {
        display: none
    }

    #product_page #sa_sort {
        display: block;
        margin-top: 20px;
        text-align: center;
        margin: 20px auto 0
    }

    #product_page .paging {
        height: auto;
        padding: 0;
        text-align: center
    }

    #shopper_review_page {
        padding-bottom: 35px;
        margin-left: 0;
        margin-right: 0;
        width: 100%;
    }

    /* Product Quick Start */
    .section-product-reviews #review_header {
        padding: 0;
    }

    /* Related Products */
    .section-related-products h2 {
        margin-bottom: 5px;
    }

    .section-related-products figure img {
        width: 90%;
        height: auto;
        max-width: 355px
    }

    .section-related-products .standard-container > a {
        width: 100%;
        margin-bottom: 40px
    }

    .section-related-products .standard-container a:nth-of-type(2) .img-wrap {
    }

    .section-related-products .standard-container > a:last-child {
    }

    /* Installation and Care */
    .section-installation ul li {
        display: flex;
        /* justify-content: center; */
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .section-installation ul li h2 {
        order: 1;
    }

    .section-installation ul li img {
        order: 2;
        margin: 0 auto 15px;
    }

    .section-installation ul li p {
        order: 3;
    }
}

@media (max-width: 414px) {
    .section-what-are h2 {
        padding: 0;
    }

    .section-what-are .what-are-content-wrap p {
        padding: 0;
        font-size: 16px;
        padding: 0 10px;
    }
}

@media (max-width: 375px) {
    /* Product Quick Start */
    .hero-head {
        padding: 0;
    }

    .hero-list {
        margin: 0 0;
    }

    .hero-list-item {
        padding: 0 5px;
        font-size: 14px;
    }

    /* Design tool and services */
    .design-services .design-services-heading {
        padding: 0 25px;
    }

    /* Product Review Section */
    #sa_review_section .product_review .images {
        margin: 2px 0 0;
    }

    #sa_review_section .product_review .images > div:first-child {
        margin-bottom: 5px;
    }

    /* Related Section */
    .section-related-products .standard-container a:nth-of-type(2) .img-wrap {
        height: 270px;
    }

    /* Section What are */
    .what-are-content-wrap .what-are-img-wrap {
        width: 100%;
    }

    .section-what-are h2 {
        font-size: 27px;
    }
}

@media (max-width: 360px) {
    /* Hero Section */
    .hero-img-wrap {
        max-width: 317px;
    }

    .hero-list-item {
        padding: 0 8px;
        font-size: 15px;
    }

    .hero-footer {
        padding: 0 15px;
    }

    /*  */
    .design-services .design-services-heading {
        padding: 0 20px;
    }

    #sa_review_section .rating {
        display: block;
        height: auto;
        position: relative;
        width: 100%;
        /* vertical-align: middle; */
        margin-bottom: 20px;
    }

    #sa_review_section .rating:after {
        content: '';
        display: block;
        clear: both;
    }

    /* Section What are */
    .what-are-content-wrap .what-are-img-wrap {
        width: 100%;
        height: 200px;
    }

    .section-what-are h2 {
        font-size: 26px;
    }

    .section-what-are h2 {
        font-size: 25px;
    }
}

@media (max-width: 320px) {
    /* Global */
    .standardWidth {
        margin-top: 68px;
    }

    /* Hero Section */
    .hero-list-item {
        font-size: 14px;
    }

    .hero-list-item:first-child:before {
        content: "\2022";
        visibility: visible;
    }

    .hero-list-item:nth-child(3):before {
        content: "\2022";
        visibility: visible;
    }

    .hero-head h1 {
        font-size: 29px;
    }

    .hero-head {
        padding: 0 10px;
    }

    .hero-head h1 {
        font-size: 26px;
    }

    .hero-list-item {
        font-size: 12px;
    }

    .hero-list-item:first-child:before {
        visibility: hidden

    }

    /* What are Pop Up Display */
    .what-are-content-wrap .what-are-img-wrap {
        width: 100%;
    }

    .section-what-are h2 {
        font-size: 23px;
    }

    .section-what-are .what-are-content-wrap p {
        font-size: 16px;
        padding: 0 10px;
    }

    /* Related Product */
    .section-related-products .standard-container > a:last-child {
    }

    .section-related-products .standard-container > a .img-wrap {
        height: 287px;
        width: 100% !important;
        max-width: initial;
        min-height: initial;
    }
}

<
style >
.img-wrap {
    font-size: 0
}

.scroll-link {
    display: inline-block
}

.faq-search-links .scroll-link {
    display: flex
}

.caret {
    border: 6px solid transparent;
    border-top: 6px solid #5ba9f5;
    margin-top: 5px;
    margin-left: 5px
}

figure {
    margin: 0
}

.section-default {
    padding: 60px 0;
    text-align: center
}

.section-default h2 {
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 50px;
}

.section-default p {
    font-size: 20px;
    margin-bottom: 30px
}

.section-default [class*=img-wrap] img {
    width: 100%;
}

.standard-container {
    max-width: 1560px;
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
    margin: 0 auto;
    /* overflow: hidden; */
}

/* FAQ Section */

.faq-search-links {
    padding: 35px 0;
    color: #5ca9f5;
    background: #fff
}

.faqmain {
    margin: 0 auto;
    max-width: 1500px;
    padding: 0 20px
}

.product-tabs-wrapper .faq-search-links {
    padding: 0;
    margin: 0 0 10px;
    background: initial
}

.product-tabs-wrapper .faq-search-form {
    margin-bottom: 15px
}

.signs-faq-2 {
    text-align: left
}

/* Hero Section */

.section-hero-full-width {
    padding: 20px 0 25px
}

.hero-footer,
.hero-head {
    margin: 0 auto;
    padding: 0 20px;
    max-width: 845px;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
}

.hero-head {
    margin-bottom: 35px;
}

.hero-head h1 {
    font-size: 50px;
    font-weight: 400;
    margin-bottom: 10px
}

.hero-list {
    font-size: 0
}

.hero-list-item:first-child:before {
    content: ""
}

.hero-list-item:before {
    content: "\2022";
    top: -3px;
    left: -3px;
    font-size: 18px;
    position: absolute;
}

.hero-list-item {
    position: relative;
    padding: 0 10px;
    font-size: 20px;
    display: inline-block
}

.hero-img-wrap {
    max-width: 890px;
    margin: 15px auto 20px;
    width: 100%;
}

.hero-img {
    width: 100%
}

.hero-phrase {
    font-size: 20px
}

/* Section Product Quick Start */

.placeholder-sticky {
    padding: 0 0 30px
}

.quick-start-group.quick-start-size .gs-input-group {
    display: none;
}

/* Store Review Section */

#shoppersReviews {
    padding: 30px 0 0
}

#shoppersReviews .shopper-approved-link {
    margin: 0
}

.sa-caption {
    display: none
}

/* Additional Specs Section */

.section-additional-specs {
    padding: 64px 0
}

.section-additional-specs .container {
    margin: 0 auto;
    max-width: 685px;
    text-align: center;
    padding: 0 20px;
}

.section-additional-specs h2 {
    text-align: center;
    font-size: 25px;
    margin-bottom: 50px
}

.additional-specs-list {
    display: inline-block;
    text-align: left
}

.additional-specs-list li {
    display: flex;
    margin-bottom: 20px;
    border-bottom: 1px solid #cfcccc;
    padding-right: 10px;
}

.additional-specs-list li h3 {
    min-width: 160px;
    font-size: 18px;
    color: #333;
    font-weight: 400;
    margin-right: 60px;
}

.additional-specs-list li p {
    font-size: 18px;
    color: #9f9f9f;
    font-weight: 300;
    margin-bottom: 20px;
}

.bt-0 {
    border-bottom: 0 !important;
}

/* Image Gallery */

.section-gallery-image .image-gallery-slider2019 {
    margin-bottom: 0 !important;
}

/* FAQ Section */

.faq-search-links {
    padding: 35px 0;
    color: #5ca9f5;
    background: #fff
}

/* What are Section */

.section-what-are {
    text-align: left;
    padding-bottom: 80px;
}

.section-what-are .standard-container {
    position: relative;
    display: flex;
    align-items: center;
    padding: 0;
    justify-content: space-between;
    max-width: 1920px;
}

.section-what-are h2 {
    margin-bottom: 57px
}

.section-what-are p {
    margin-bottom: 20px;
    font-size: 18px;
}

.section-what-are br {
    display: none
}

.section-what-are img {
    width: 100%
}

.what-are-content-wrap {
    margin-left: calc(100% - 1620px);
    max-width: 777px;
    width: 100%;
}

.what-are-content-wrap > :not(.downloadable-product-templates) {
    /* max-width: 625px; */
    /* margin-left: auto; */
    /* margin-right: auto; */
}

.what-are-img-wrap {
    max-width: 735px;
    width: 100%;
    flex: 0 0 100%;
    font-size: 0;
}

/* Section Featured */
.section-signs-features * {
    box-sizing: border-box;
}

.featured-body {
    position: relative;
    margin-top: 0;
    margin-bottom: 55px;
}

.section-signs-features h2 {
}

.featured-img-wrap {
    max-width: 630px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.featured-img-wrap img {
    margin-right: -186px;
}

.signs-featured-list {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.signs-featured-item {
    position: absolute;
    text-align: left;
    display: inline-block;
    max-width: 278px;
    width: 100%;
}

.signs-featured-item h3 {
    font-size: 28px;
    margin-bottom: 10px;
    line-height: 1.5;
    font-weight: 500;
}

.signs-featured-item p {
    color: #919396;
    font-weight: 300;
    font-size: 22px;
}

.signs-featured-item:nth-child(1) {
    top: 84px;
    left: 104px;
    /* margin-right: 167px; */
    max-width: 285px;
}

.signs-featured-item:nth-child(2) {
    bottom: 227px;
    left: 85px;
    /* padding-top: 195px; */
    max-width: 275px;
}

.signs-featured-item:nth-child(3) {
    left: 1125px;
    top: 100px;
    /* padding-left: 180px; */
    max-width: 345px;
}

.signs-featured-item:nth-child(4) {
    right: 0px;
    bottom: 43px;
    /* padding-left: 190px; */
    max-width: 385px;
}

.signs-featured-item:nth-child(5) {
    right: 895px;
    bottom: -121px;
    /* padding-left: 205px; */
    max-width: 390px;
}

.signs-featured-item .img-wrap {
    position: absolute;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    overflow: hidden;
    /* border: 5px solid #000; */
    /* box-shadow: 9px 8px 8px rgba(0, 0, 0, .19); */
}

.signs-featured-item .img-wrap img {
    width: 100%;
    height: 100%;
}

.signs-featured-item:nth-child(1) .img-wrap {
    right: -170px;
    top: -60px;
    /* background: red; */
}

.signs-featured-item:nth-child(2) .img-wrap {
    top: -45px;
    right: -177px;
}

.signs-featured-item:nth-child(3) .img-wrap {
    left: -170px;
    top: -57px;
}

.signs-featured-item:nth-child(4) .img-wrap {
    left: -173px;
    top: -150px;
}

.signs-featured-item:nth-child(5) .img-wrap {
    top: -105px;
    left: inherit;
    right: -40px;
}

/* Image Gallery */

.image-gallery-slider2019-thumbnails .slick-slide.slick-current > img {
    box-shadow: none;
}

/* Design tool and services */

.design-services {
}

.design-services .myrow {
    display: flex;
}

.design-services .design-services-group {
    margin: 0 40px;
}

.design-services .design-services-heading {
    margin-top: 0;
    margin-bottom: 35px;
    max-width: 295px;
    text-transform: uppercase;
}

.design-services .img-wrap {
    /* height: 345px; */
    /* overflow: hidden; */
}

.design-services .img-wrap img {
    /* height: 100%; */
}

.design-services .design-services-image {
    margin-bottom: 0;
}

.design-services .design-services-text {
    color: #919396;
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: 400;
    max-width: 560px;
}

.design-services .design-services-group a {
    color: #0097D5;
    font-size: 20px;
}

/* Section Why */

.section-why-signs h2 {
    margin-bottom: 50px
}

.why-signs-list {
    font-size: 0;
    margin-top: 35px;
    margin: 0 -20px;
    display: flex;
    justify-content: space-between
}

.why-signs-list-item {
    display: inline-block;
    font-size: 20px;
    padding: 0 20px;
    box-sizing: border-box;
    max-width: 476px;
    width: 100%
}

.why-signs-list-item .extra {
    color: #919396;
    font-size: 14px;
    max-width: 185px;
    width: 100%;
    margin: 7px auto 0;
    display: block;
    font-style: italic;
}

.why-signs-list-item img {
    margin-bottom: 10px
}

.why-signs-list-item h3 {
    font-size: 25px;
    margin-bottom: 10px;
    max-width: 385px;
    margin: 0 auto 10px;
}

.why-signs-list-item p {
    color: #919396;
    font-size: 18px
}

.why-signs-list-item:nth-of-type(1) p {
    max-width: 405px;
    margin: 0 auto;
}

.why-signs-list-item:nth-of-type(2) p {
    max-width: 355px;
    margin: 0 auto;
}

.why-signs-list-item:nth-of-type(3) p {
    max-width: 404px;
    margin: 0 auto;
}

/* Related Product Section */

.section-related-products {
    padding: 65px 0
}

.section-related-products .standard-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    margin: 0 auto;
    padding: 0 20px;
    max-width: 1567px;
    text-align: center
}

.section-related-products h2 {
    width: 100%;
    font-size: 26px;
    margin-bottom: 45px;
}

.section-related-products .standard-container > a {
    margin: 0;
    width: calc(100% / 3);
    display: flex;
    align-items: flex-end;
    justify-content: center
}

.section-related-products .standard-container > a figure {
    width: 100%;
}

.section-related-products .standard-container > a .img-wrap {
    max-width: 380px;
    height: 306px;
    position: relative;
    width: 100%;
    margin: 0 auto 30px;
}

.section-related-products .standard-container > a .img-wrap img {
    position: absolute;
    margin-bottom: 0 !important;
    left: 0;
    right: 0;
    max-width: 100%;
    max-height: 100%;
    display: block;
    top: 50%;
    transform: translate(0, -50%);
}

.section-related-products .standard-container > a:first-of-type figure img {
    margin-bottom: 80px;
    /* height: 100%; */
}

.section-related-products figure img {
    margin-bottom: 40px
}

.section-related-products figure figcaption {
    font-size: 20px;
    font-weight: 500;
    /* color: #707070 */
}

/* Section Table */
.section-comparison-signtypes .standard-container {
}

.table-comparison-signtypes {
    margin: 0 auto;
}

.table-comparison-signtypes thead {
    background-color: #5e88d0;
}

.table-comparison-signtypes tbody tr:nth-child(odd) {
    background-color: #ffffff;
}

.table-comparison-signtypes tbody tr:nth-child(even) {
    background-color: lightgray;
}

.table-comparison-signtypes th, .table-comparison-signtypes td {
    position: relative;
    font-weight: 300;
    font-size: 16px;
    width: 22.7%;
    text-align: center;
    padding: 22px 0;
    /* vertical-align: middle; */
    color: #333;
    font-weight: 400;
}

.table-comparison-signtypes th:last-child:before, .table-comparison-signtypes td:last-child:before {
    opacity: 0;
}

.table-comparison-signtypes th {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
}

.table-comparison-signtypes th:first-child {
    font-weight: 700;
}

.table-comparison-signtypes th .border-right {
    background: #96afd4;
    background: -moz-linear-gradient(to bottom, rgba(221, 221, 221, 0) 0, #fff 22%, #fff 50%, #fff 80%, rgba(221, 221, 221, 0) 100%);
    background: -webkit-linear-gradient(to bottom, rgba(221, 221, 221, 0) 0, #fff 22%, #fff 50%, #fff 80%, rgba(221, 221, 221, 0) 100%);
    background: linear-gradient(to bottom, rgba(221, 221, 221, 0) 0, #fff 22%, #fff 50%, #fff 80%, rgba(221, 221, 221, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00dddddd', endColorstr='#00dddddd', GradientType=1);
}

.table-comparison-signtypes tbody tr:nth-child(odd) td .border-right {
    /* background: #c2c2c2; */
}

.table-comparison-signtypes tbody tr:nth-child(even) td .border-right {
    /* background: #bdbdbd; */
}

.table-comparison-signtypes th:last-child .border-right, .table-comparison-signtypes td:last-child .border-right {
    opacity: 0;
}

.table-comparison-signtypes tbody tr td:first-child, .table-comparison-signtypes th:first-child {
    font-weight: 700;
    font-size: 16px;
    /* max-width: 148px; */
    width: 8.8%;
}

.table-comparison-signtypes td p {
    text-align: left;
    font-size: 16px;
    margin-bottom: 0;
}

.table-comparison-signtypes td p a {
    /* display: block; */
    /* color: #43aad3; */
}

.table-comparison-signtypes td p a:hover {
    /* text-decoration: underline; */
}

.table-comparison-signtypes .tr-with-p td {
    /* padding: 15px 15px; */
}

.vertical-separator {
    /* height: 30px; */
    /* width: 1px; */
    /* display: inline-block; */
    /* background: #bdbdbd; */
    /* margin: -9px 8px; */
}

.table-comparison-signtypes-no-separator th .border-right, .table-comparison-signtypes-no-separator td .border-right {
    opacity: 0;
}

.table-comparison-signtypes th .img-wrap, .table-comparison-signtypes td .img-wrap {
    max-width: 360px;
    width: 100%;
    margin: 0 auto;
    /* height: auto; */
}

/* Section Popular Templates */
#popular-templates-wrapper .template-list {
    max-width: 1315px;
    margin: 0 auto;
}

#popular-templates-wrapper .template-list li {
    /* width: calc(100% / 4); */
}

/* Care and Installation */
.section-installation {
    text-align: left;
}

.section-installation h2 {
}

.section-installation p {
}

.section-installation ul {
    list-style: none;
    max-width: 1225px;
    width: 100%;
    margin: 0 auto;
}

.section-installation ul li {
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
}

.section-installation ul li:last-child {
    margin-bottom: 0;
}

.section-installation ul li h2 {
    font-size: 27px;
    font-weight: 500;
    margin-bottom: 15px;
}

.section-installation ul li p {
    font-size: 19px;
    max-width: 882px;
}

.section-installation ul li [class*="img-wrap"] img {
}

.section-installation ul li:after {
}

.section-installation ul li .standard-container {
    padding: 0 20px;
}

.section-installation ul li .content-wrap {
    align-self: center;
    max-width: 785px;
}

.section-installation ul li .img-wrap {
    max-width: 300px;
}

/* Section Looking For */
.section-looking-for .standard-container {
    display: flex;
    flex-flow: row wrap;
    max-width: 1477px;
}

.section-looking-for h2 {
    flex: 0 0 100%;
    align-self: flex-start;
    margin-bottom: 10px;
}

.section-looking-for .img-wrap {
    max-width: 560px;
    margin-right: 35px;
}

.section-looking-for .content-wrap {
    max-width: 580px;
    align-self: center;
    text-align: left;
    margin-top: -105px;
}

.section-looking-for p {
    font-size: 18px;
}

.btn-mounted-photo-print {
    background: #8cc53f;
    color: #fff;
    border: 0;
    outline: none;
    border-radius: 5px;
    font-size: 16px;
    padding: 9px 15px;
    font-weight: 500;
    line-height: 1;
}

.btn-mounted-photo-print:hover {
    opacity: .9;
}

@media (max-width: 1680px) {
    /* Global */
    .standard-container {
        max-width: 1418px
    }

    /* Hero Section */
    .hero-img-wrap {
        max-width: 1000px;
    }

    /* What are */
    .what-are-content-wrap {
        margin-left: calc(100% - 1575px);
        max-width: 780px;
    }

    /* Section Comparison */
    .section-comparison-signtypes .standard-container {
        max-width: 1662px;
    }

    /* Featured Section */
    .featured-img-wrap {
        max-width: 740px;
    }

    .signs-featured-item:nth-child(1) {
        top: 108px;
        left: -18px;
    }

    .signs-featured-item:nth-child(1) .img-wrap {
        right: -170px;
        top: -70px;
    }

    .signs-featured-item:nth-child(2) {
        bottom: 275px;
        left: -40px;
    }

    .signs-featured-item:nth-child(3) {
        left: 1073px;
        top: 145px;
    }

    .signs-featured-item:nth-child(3) .img-wrap {
        left: -172px;
        top: -60px;
    }

    .signs-featured-item:nth-child(4) {
        right: -75px;
        bottom: 34px;
    }

    .signs-featured-item:nth-child(4) .img-wrap {
        left: -165px;
        top: -156px;
    }

    .signs-featured-item:nth-child(5) {
        right: 870px;
        bottom: -89px;
    }

    .featured-body {
        margin-bottom: 30px;
    }

    /* Design Tool and Services */
    .design-services .img-wrap {
        height: 388px;
    }

    /* Image Gallery */
    .section-gallery-image {
        padding-bottom: 70px;
    }
}

@media (max-width: 1600px) {
    /* Global */
    .standard-container {
        max-width: 1390px
    }

    /* Hero Image Wrap */
    .hero-head {
        margin-bottom: 25px;
    }

    .hero-img-wrap {
        max-width: 870px;
        margin-bottom: 0;
    }

    /* What are */
    .what-are-content-wrap {
        margin-left: calc(100% - 1495px);
        max-width: 773px;
    }

    .what-are-img-wrap {
        max-width: 675px;
        width: 100%;
        flex: 0 0 100%;
        font-size: 0;
    }

    /* Featured Section */
    .signs-featured-item:nth-child(3) {
        left: 1060px;
        top: 135px;
    }

    .signs-featured-item:nth-child(4) .img-wrap {
        left: -145px;
        top: -183px;
    }

    /* Design Tool and Services */
    .design-services .img-wrap {
        height: auto;
    }

    .design-services .design-services-text {
        height: 96px;
    }
}

@media (max-width: 1536px) {
    /* Global */
    .standard-container {
        max-width: 1271px
    }

    /* Hero Section */
    .hero-img-wrap {
        max-width: 890px;
    }

    .standard-container {
        /* max-width: 1285px */
    }

    /* Section What Are */
    .what-are-img-wrap {
        max-width: 710px;
    }

    .what-are-content-wrap {
        margin-left: calc(100% - 1430px);
        max-width: 660px;
    }

    /* Comparison */
    .section-comparison-signtypes .standard-container {
        /* overflow-x: scroll; */
    }

    /* Why Section */
    .why-signs-list-item br {
        display: none
    }

    /* Featured Section */
    .section-signs-features h2 {
        margin-bottom: 20px;
    }

    .featured-body {
        margin-bottom: 30px;
        margin-top: 60px;
    }

    .featured-img-wrap {
        max-width: 675px;
    }

    .signs-featured-item .img-wrap {
        width: 135px;
        height: 135px;
    }

    .signs-featured-item:nth-child(1) {
        top: 90px;
        left: -25px;
    }

    .signs-featured-item:nth-child(1) .img-wrap {
        right: -142px;
        top: -50px;
    }

    .signs-featured-item:nth-child(2) {
        bottom: 317px;
        left: -24px;
    }

    .signs-featured-item:nth-child(2) .img-wrap {
        top: -35px;
        right: -150px;
    }

    .signs-featured-item:nth-child(3) {
        left: 965px;
        top: 125px;
    }

    .signs-featured-item:nth-child(3) .img-wrap {
        left: -140px;
        top: -45px;
    }

    .signs-featured-item:nth-child(4) {
        right: -100px;
        bottom: 70px;
        max-width: 384px;
    }

    .signs-featured-item:nth-child(4) .img-wrap {
        left: -130px;
        top: -126px;
    }

    .signs-featured-item:nth-child(5) {
        right: 767px;
        bottom: -90px;
    }

    .signs-featured-item:nth-child(5) .img-wrap {
        top: -85px;
        left: inherit;
        right: -20px;
    }
}

@media (max-width: 1440px) {
    .standard-container {
        max-width: 1225px
    }

    /* Hero Section */
    .hero-img-wrap {
        max-width: 888px;
    }

    /* What Are */
    .what-are-img-wrap {
        max-width: 630px;
    }

    .what-are-content-wrap {
        margin-left: calc(100% - 1330px);
        max-width: 660px;
    }

    /* Featured Section */
    .featured-img-wrap {
        max-width: 499px;
    }

    .featured-img-wrap img {
        margin-right: -155px;
    }

    .signs-featured-item .img-wrap {
        width: 125px;
        height: 125px;
    }

    .signs-featured-item p {
        font-size: 19px;
    }

    .signs-featured-item:nth-child(1) {
        max-width: 249px;
        top: 17px;
        left: 77px;
    }

    .signs-featured-item:nth-child(2) {
        max-width: 278px;
        bottom: 159px;
        left: 35px;
    }

    .signs-featured-item:nth-child(3) {
        max-width: 248px;
        left: 892px;
        top: 95px;
    }

    .signs-featured-item:nth-child(4) {
        max-width: 338px;
        right: -45px;
        bottom: 48px;
    }

    .signs-featured-item:nth-child(5) {
        right: 681px;
        bottom: -118px;
        max-width: 343px;
    }

    .signs-featured-item:nth-child(1) .img-wrap {
        right: -121px;
        top: 3px;
    }

    .signs-featured-item:nth-child(2) .img-wrap {
        top: -36px;
        right: -131px;
    }

    .signs-featured-item:nth-child(3) .img-wrap {
        left: -135px;
        top: -41px;
    }

    .signs-featured-item:nth-child(4) .img-wrap {
        left: -130px;
        top: -116px;
    }

    .signs-featured-item:nth-child(5) .img-wrap {
        top: -74px;
        left: inherit;
        right: -49px;
    }

    .featured-body {
        margin-bottom: 300px;
    }
}

@media (max-width: 1366px) {
    /* Global */
    .standard-container {
        max-width: 1123px
    }

    /* Sign Types */
    .table-comparison-signtypes thead tr th:not(:first-child),
    .table-comparison-signtypes tbody tr td:not(:first-child) {
        width: 23.7%;
    }

    .table-comparison-signtypes tbody tr td:first-child,
    .table-comparison-signtypes th:first-child {
        width: 7.2%;
    }

    /* Section Hero */
    .hero-img-wrap {
        max-width: 1045px;
    }

    /* Section What Are */
    .what-are-img-wrap {
        max-width: 600px;
    }

    .section-what-are .standard-container {
        /* max-width: initial; */
        /* width: calc(100vw - 15rem) */
    }

    .what-are-content-wrap {
        margin-left: calc(100% - 1255px);
        max-width: 590px;
    }

    /* Section Why */
    .why-signs-list {
        margin: 0 -80px
    }

    /* Featured Section */
    .featured-img-wrap {
        max-width: 500px;
    }

    .signs-featured-item .img-wrap {
        width: 125px;
        height: 125px;
    }

    .signs-featured-item p {
        font-size: 19px;
    }

    .signs-featured-item:nth-child(1) {
        max-width: 320px;
        top: 63px;
        left: -5px;
    }

    .signs-featured-item:nth-child(2) {
        max-width: 282px;
        bottom: 188px;
        left: -6px;
    }

    .signs-featured-item:nth-child(3) {
        max-width: 277px;
        left: 829px;
        top: 40px;
    }

    .signs-featured-item:nth-child(4) {
        max-width: 308px;
        right: -50px;
        bottom: 26px;
    }

    .signs-featured-item:nth-child(5) {
        max-width: 342px;
        right: 657px;
        bottom: -112px;
    }

    .signs-featured-item:nth-child(1) .img-wrap {
        right: -82px;
        top: -40px;
    }

    .signs-featured-item:nth-child(2) .img-wrap {
        top: -35px;
        right: -121px;
    }

    .signs-featured-item:nth-child(3) .img-wrap {
        left: -129px;
        top: 3px;
    }

    .signs-featured-item:nth-child(4) .img-wrap {
        left: -120px;
        top: -105px;
    }

    .signs-featured-item:nth-child(5) .img-wrap {
        /* top: -151px; */
        /* left: 80px; */
    }

    .featured-body {
        margin-bottom: 45px;
        margin-top: 35px;
    }

    /* Design and Tool */
    .design-services .design-services-group {
        margin: 0 20px;
    }

    /* Care and Installation */
    .section-installation ul li {
    }

    .section-installation ul li .img-wrap {
        margin-left: 50px;
    }

    .section-installation ul li img {
        max-width: 300px;
        height: auto;
    }

    /* Related Products */
    .section-related-products .standard-container > a .img-wrap {
        max-width: 326px;
    }
}

@media (max-width: 1366px) and (max-height: 768px) {
    /* Section Hero */
    .hero-img-wrap {
        max-width: 664px;
    }

    /* What are */
    .what-are-img-wrap {
        max-width: 585px;
    }

    .what-are-content-wrap {
        margin-left: calc(100% - 1255px);
        max-width: 638px;
    }
}

@media (max-width: 1280px) {
    /* Section Hero */
    .hero-img-wrap {
        max-width: 735px;
    }

    /* What are */
    .what-are-content-wrap {
        margin-left: calc(100% - 1155px);
        max-width: 629px;
    }

    .what-are-img-wrap {
        max-width: 500px;
    }

    .table-comparison-signtypes tbody tr td:first-child,
    .table-comparison-signtypes th:first-child {
        width: 7.7%;
    }
}

@media (max-width: 1280px) and (max-height: 720px) {
    /* Section Hero */
    .hero-img-wrap {
        max-width: 415px
    }
}

@media (max-width: 1270px) {
    .featured-img-wrap {
        max-width: 716px;
    }

    .signs-featured-item:nth-child(1) {
        max-width: 219px;
        top: 27px;
        left: -42px;
    }

    .signs-featured-item:nth-child(2) {
        max-width: 209px;
        bottom: -39px;
        left: -44px;
    }

    .signs-featured-item:nth-child(3) {
        max-width: 217px;
        left: 918px;
        top: 20px;
        order: 4;
    }

    .signs-featured-item:nth-child(4) {
        max-width: 219px;
        right: -49px;
        bottom: 55px;
        order: 5;
        margin-bottom: 0 !Important;
    }

    .signs-featured-item:nth-child(5) {
        max-width: 342px;
        right: 200px;
        bottom: -128px;
    }
}

@media (max-width: 1199px) {
    /* Section What Are */
    .what-are-img-wrap {
        max-width: 505px
    }

    .what-are-content-wrap {
        margin: 0 auto;
        text-align: center;
        max-width: 704px;
    }

    .section-what-are h2 {
        margin-bottom: 45px;
    }

    .what-are-content-wrap .what-are-img-wrap {
        margin: 0 auto 45px;
        max-width: 570px;
    }

    /* Section Why Signs */
    .why-signs-list {
        margin: 0 -10px
    }

    .why-signs-list-item {
        padding: 0 10px
    }

    .why-signs-list-item h3 {
        font-size: 21px
    }

    .section-related-products figure img {
        height: 236px;
        margin: 0 auto;
        display: inline-block
    }

    /* Featured Section */
    .featured-body {
        margin-top: 0;
        margin: 0 !important;
    }

    .featured-img-wrap {
        position: static;
        max-width: 527px;
    }

    .signs-featured-list {
        position: static;
        display: flex;
        flex-direction: column;
    }

    .signs-featured-item {
        position: relative !important;
        display: block !important;
        top: initial !important;
        left: initial !important;
        right: initial !important;
        bottom: initial !important;
        width: 100% !important;
        max-width: initial !important;
        margin: 0 !important;
        padding-left: 160px;
        min-height: 98px;
        margin-bottom: 22px !important;
    }

    .signs-featured-item .img-wrap {
        position: absolute !important;
        top: 0 !important;
        left: 0 !important;
        right: initial !important;
        bottom: initial !important;
    }

    .signs-featured-item:last-child {
        /* margin-bottom: 0 !important; */
        order: 3;
    }

    /* Design tool and services */
    .design-services .design-services-text {
        height: 120px;
    }

    /* Review Section */
    .section-product-reviews {
    }

    h2#product-reviews {
        padding-top: 0;
        margin-bottom: 10px;
    }

    /* Section Looking for */
    .section-looking-for .standard-container {
        display: block;
    }

    .section-looking-for h2 {
        margin-bottom: 33px;
    }

    .section-looking-for .img-wrap {
        margin: 0 auto 50px;
    }

    .section-looking-for .img-wrap img {
        margin-left: -60px;
    }

    .section-looking-for p {
        font-size: 22px;
        margin-bottom: 50px;
    }

    .section-looking-for .content-wrap {
        margin: 0 auto 0;
        text-align: center;
        max-width: 600px;
    }

    .btn-mounted-photo-print {
        padding: 13px 12px;
        font-size: 18px;
        border-radius: 6px;
    }

    /* Related Products */
    .section-related-products .standard-container > a .img-wrap {
        max-width: 280px;
        height: 219px;
    }

    /* Comparison */
    .table-responsive-wrap {
        overflow-x: scroll;
        width: 100%;
    }

    .table-comparison-signtypes {
        width: 1223px;
    }
}

@media (max-width: 1024px) and (max-height: 800px) {
    .hero-img-wrap {
        max-width: 714px;
    }
}

@media (max-width: 1024px) and (max-height: 768px) {
    .hero-img-wrap {
        max-width: 595px;
    }
}

@media (max-width: 991px) {
    /* Hero Section */
    .section-hero-full-width {
        padding: 70px 0 15px
    }

    /* Section Store Ratings  */
    #shoppersReviews,
    #shoppersReviews * {
        display: block !important;
        padding: 0 !important;
        margin: 0 !important;
        position: static !important;
        text-align: center !important;
    }

    #shoppersReviews {
        padding: 20px 0 !important;
    }

    #shoppersReviews > br {
        display: none !important;
    }

    #shoppersReviews .shopperapproved_widget {
        height: auto !important;
    }

    #shoppersReviews .aggregateRating-container {
        display: flex !important;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
    }

    #shoppersReviews .shopper-approved-container {
        padding: 0 20px !important;
    }

    #shoppersReviews .sa_review {
        height: auto !important;
        text-align: center;
        display: flex !important;
        flex-direction: column-reverse;
    }

    #shoppersReviews .sa_review tbody > tr {
        display: flex !important;
        flex-direction: column-reverse;
        /* text-align: center; */
        align-items: center;
    }

    #shoppersReviews .sa_comments {
        margin-top: -17px !important;
        min-height: 60px;
        height: auto;
        display: block;
        flex: 0 0 auto;
        align-items: flex-end;
        font-size: 16px;
        overflow: visible;
        margin: 0 !important;
        overflow: hidden;
    }

    #shoppersReviews .sa_location {
        display: none !important;
    }

    #shoppersReviews .sa_info > span:first-of-type {
        background: red;
        display: none !important;
    }

    #shoppersReviews .sa_info {
        height: auto;
        display: block !important;
        flex: 0 0 auto;
    }

    #shoppersReviews .sa_date {
        display: none !important;
    }

    #shoppersReviews .sa_displayname {
        font-weight: 300;
    }

    #shoppersReviews .sa_star {
        display: none !important;
    }

    #shoppersReviews .sa-caption {
        display: none !important;
    }

    #shoppersReviews script {
        display: none !important;
    }

    #shoppersReviews .sa_review tbody > tr {
        display: flex !important;
        flex-direction: column-reverse;
        align-items: center;
    }

    /* What Are */
    .section-what-are .standard-container {
        padding: 0 20px;
        text-align: center
    }

    .section-what-are h2 {
        margin-bottom: 20px
    }

    /* Featured Section */
    .featured-img-wrap {
        max-width: 600px;
        margin-bottom: 30px;
    }

    /* Design tool and services */
    .design-services .design-services-text {
        height: auto;
    }

    /* Additional */
    .additional-specs-list li p br {
        display: none
    }

    /* Gallery Image */
    .section-gallery-image .image-gallery-slider2019-thumbnails {
        margin-top: 30px
    }

    /* Tool and Services Design */
    .design-services .myrow {
        display: block;
    }

    .design-services .design-services-heading {
        max-width: initial;
        display: block;
        margin: 0 0 20px;
    }

    .design-services .design-services-heading br {
        display: none;
    }

    .design-services .design-services-group {
        margin: 40px;
    }

    .design-services .design-services-group:last-child {
        margin-bottom: 0;
    }

    /* Section Why */
    .why-signs-list {
        display: block
    }

    .why-signs-list-item {
        margin-bottom: 25px
    }

    .why-signs-list-item:last-child {
        margin-bottom: 0
    }

    .section-why-signs h2 {
        margin-bottom: 20px
    }

    .why-signs-list-item .extra {
        margin-bottom: 20px
    }

    .why-signs-list-item p {
        margin-bottom: 20px
    }

    /* Related */
    .section-related-products {
        padding: 50px 0;
    }

    .section-related-products .standard-container {
        display: block;
    }

    .section-related-products figure img {
        height: 176px
    }

    .section-related-products .standard-container > a {
        margin: 0 auto 30px;
        width: calc(100% / 1.5);
        display: block;
        height: auto;
    }

    .section-related-products .standard-container > a figure {
        height: auto;
    }

    .section-related-products .standard-container > a .img-wrap {
        max-width: 412px;
        width: 100%;
        height: auto;
        margin-bottom: 30px;
        position: static;
    }

    .section-related-products .standard-container > a .img-wrap img {
        height: auto;
        position: static;
        transform: translate(0, 0);
    }

    .section-related-products .standard-container > a:last-child {
    }

    .section-related-products .standard-container > a:last-child .img-wrap {
    }

}

@media (max-width: 768px) {
    /* Section What are */
    .section-what-are {
        padding: 40px 0 30px
    }

    .section-what-are .standard-container {
        display: block;
        padding: 0;
        width: calc(100vw);
    }

    .what-are-content-wrap {
        text-align: center;
        margin: 0 auto
    }

    .what-are-img-wrap img {
        height: 100%
    }

    .what-are-content-wrap h2,
    .what-are-content-wrap p {
        padding: 0 20px
    }

    .what-are-content-wrap h2 {
        margin-bottom: 40px;
    }

    .what-are-content-wrap .what-are-img-wrap {
        margin: 0 auto 50px;
    }

    /* Table */
    .table-wrap table-responsive {

    }

    .table-comparison-signtypes {
        width: 1310px;
        /* margin-right: 20px; */
    }

    .table-wrap.table-responsive {
        overflow-x: scroll;
    }

    .table-comparison-signtypes th,
    .table-comparison-signtypes td {
        padding: 20px 0;
    }

    .table-comparison-signtypes th .border-right, .table-comparison-signtypes td .border-right {
        /* height: 40px; */
    }

    /* Section Related Products */
    .section-related-products h2 {
        margin-bottom: 30px;
    }
}

@media (max-width: 767px) {
    /* Hero Section */
    .hero-img-wrap {
        max-width: 387px;
    }

    /* Free Design Services */
    .section-free-design-services .standard-full-background {
        display: block
    }

    /* Comparison */
    .table-comparison-signtypes tbody tr td:first-child,
    .table-comparison-signtypes th:first-child {
        width: 9.7%;
    }

}

@media (max-width: 575px) {
    .section-default {
        padding: 30px 0
    }

    .standard-full-background .content-wrap p {
        font-size: 20px;
        margin-bottom: 19px
    }

    .standard-full-background .btn-free-design {
        font-size: 16px;
        padding: 11px 25px;
        margin-bottom: 0;
        font-weight: 400;
        border-radius: 5px
    }

    /* Section Hero Full Width */
    .section-hero-full-width {
        padding-top: 10px;
    }

    .hero-head h1 {
        font-size: 30px
    }

    .hero-head {
        margin-bottom: 0;
        padding: 0 0;
    }

    .hero-body {
        padding: 20px 0 0;
    }

    .hero-list {
        margin: 0 auto;
        overflow: hidden;
    }

    .hero-list-item {
        font-size: 15px;
        display: inline-block;
        padding: 0;
    }

    .hero-list-item:not(:first-child):not(:last-child) {
        padding: 0 12px;
    }

    .hero-list-item:before {
        left: 3px;
    }

    .hero-list-item:nth-child(3):before {
        left: -9px;
    }

    .hero-list-item:first-child:before {
        content: "\2022";
        visibility: hidden;
    }

    .hero-list-item:nth-child(3):before {
        content: "\2022";
        /* visibility: hidden; */
    }

    .hero-img-wrap {
        padding: 0 20px;
        box-sizing: border-box;
        max-width: 400px;
        margin: 0 auto;
    }

    .hero-phrase {
        font-size: 16px
    }

    /* Product Quick Start */
    #LoginNavigationContainer .main-nav {
        max-width: initial;
        width: 100%;
    }

    /* Store Reviews Section */
    #shoppersReviews,
    #shoppersReviews * {
        display: block !important;
        padding: 0 !important;
        margin: 0 !important;
        position: static !important;
        text-align: center !important
    }

    #shoppersReviews {
        padding: 20px 0 !important
    }

    #shoppersReviews > br {
        display: none !important
    }

    #shoppersReviews .shopperapproved_widget {
        height: auto !important
    }

    #shoppersReviews .aggregateRating-container {
        display: flex !important;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center
    }

    #shoppersReviews .shopper-approved-container {
        padding: 0 20px !important
    }

    #shoppersReviews .sa_review {
        height: auto !important;
        text-align: center;
        display: flex !important;
        flex-direction: column-reverse
    }

    #shoppersReviews .sa_review tbody > tr {
        display: flex !important;
        flex-direction: column-reverse;
        align-items: center
    }

    #shoppersReviews .sa_comments {
        margin-top: -17px !important;
        min-height: 60px;
        height: auto;
        display: block;
        flex: 0 0 auto;
        align-items: flex-end;
        font-size: 16px;
        overflow: visible;
        margin: 0 !important;
        overflow: hidden
    }

    #shoppersReviews .sa_location {
        display: none !important
    }

    #shoppersReviews .sa_info > span:first-of-type {
        background: red;
        display: none !important
    }

    #shoppersReviews .sa_info {
        height: auto;
        display: block !important;
        flex: 0 0 auto
    }

    #shoppersReviews .sa_date {
        display: none !important
    }

    #shoppersReviews .sa_displayname {
        font-weight: 300
    }

    #shoppersReviews .sa_star {
        display: none !important
    }

    #shoppersReviews .sa-caption {
        display: none !important
    }

    #shoppersReviews script {
        display: none !important
    }

    /* Section What Are */
    .section-what-are {
        padding-bottom: 25px;
    }

    .what-are-content-wrap h2 {
        font-size: 28px;
        margin-bottom: 15px
    }

    .what-are-content-wrap .what-are-img-wrap {
        max-width: initial;
        width: 100%;
        height: 256px;
        margin-left: auto;
        overflow: hidden;
        margin-bottom: 45px;
        margin: 30px auto 50px;
    }

    .what-are-content-wrap .what-are-img-wrap img {
        object-fit: cover;
        object-position: -10px;
        /* margin-top: -13px; */
    }

    /* Section Table */
    .section-comparison-signtypes h2 {
        margin-bottom: 20px;
    }

    /* Featured Section */
    .section-signs-features {
        overflow: hidden;
    }

    .featured-img-wrap img {
        margin-right: -96px;
    }

    .signs-featured-item .img-wrap {
        width: 110px;
        height: 110px;
        overflow: hidden;
        border-radius: 50%;
    }

    .signs-featured-item .img-wrap img {
        /* width: initial; */
        /* height: initial; */
        /* object-fit: cover; */
        /* width: 88px; */
        /* height: 88px; */
    }

    .signs-featured-item {
        padding-left: 124px !important;
    }

    .signs-featured-item h3 {
        font-size: 20px;
        margin-bottom: 3px;
    }

    .signs-featured-item p {
        font-size: 16px;
    }

    /* Image Gallery Slider */
    .section-gallery-image h2 {
        margin-bottom: 20px;
    }

    .section-gallery-image .standard-container {
        padding-left: 0;
        padding-right: 0
    }

    .image-gallery-slider2019 .slick-slide > img {
        max-height: initial
    }

    .image-gallery-slider2019 .slick-slide {
        max-height: initial;
        height: 310px;
    }

    /* Additional Specs */
    .section-additional-specs {
        padding: 35px 0;
    }

    .section-additional-specs h2 {
        margin-bottom: 20px
    }

    .additional-specs-list li {
        display: block;
        text-align: center;
        padding: 0;
        border-bottom: 0
    }

    .additional-specs-list li:last-child {
        margin-bottom: 0;
    }

    .additional-specs-list li h3 {
        margin: 0 auto 5px;
        font-weight: 400;
        font-size: 18px
    }

    .additional-specs-list li p {
        font-size: 16px;
        margin-bottom: 20px
    }

    /* Free design and Services */
    .section-free-design-services {
        padding: 0
    }

    .section-related-products figure img {
        width: 90%;
        height: auto;
        max-width: 355px
    }

    .section-related-products .standard-container > a {
        width: 100%;
        margin-bottom: 40px
    }

    .section-related-products .standard-container > a:last-child {
    }

    .design-services .design-services-group {
        margin: 0 0 30px;
    }

    .design-services .standard-container {
        padding: 0;
    }

    .design-services .design-services-heading {
        display: block;
        padding: 0 45px;
    }

    .design-services .design-services-text {
        font-size: 18px;
        max-width: 585px;
        margin: 20px auto 5px;
    }

    /* Customers Review Section */
    #review_image {
        display: none
    }

    #product_page #sa_sort {
        display: block;
        margin-top: 20px;
        text-align: center;
        margin: 20px auto 0
    }

    #product_page .paging {
        height: auto;
        padding: 0;
        text-align: center
    }

    #shopper_review_page {
        padding-bottom: 35px;
        margin-left: 0;
        margin-right: 0;
        width: 100%;
    }

    /* Product Quick Start */
    .section-product-reviews #review_header {
        padding: 0;
    }

    /* Related Products */
    .section-related-products h2 {
        margin-bottom: 40px;
    }

    .section-related-products figure img {
        width: 90%;
        height: auto;
        max-width: 355px
    }

    .section-related-products .standard-container > a {
        width: 100%;
        margin-bottom: 40px
    }

    .section-related-products .standard-container a:nth-of-type(2) .img-wrap {
    }

    .section-related-products .standard-container > a:last-child {
    }

    /* Installation and Care */
    .section-installation .standard-container {
        padding: 0;
    }

    .section-installation ul li .img-wrap {
        margin: 0 0 25px;
        max-width: initial;
    }

    .section-installation ul li {
        display: flex;
        /* justify-content: center; */
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-bottom: 20px;
    }

    .section-installation ul li [class*="img-wrap"] img {
        max-width: initial;
        margin: 0;
    }

    .section-installation ul li h2, .section-installation ul li p {
        padding: 0 20px;
    }

    .section-installation ul li h2 {
        order: 1;
        margin-bottom: 30px;
    }

    .section-installation ul li img {
        order: 2;
        margin: 0 auto 15px;
    }

    .section-installation ul li p {
        order: 3;
    }

    /* Section Why */
    .why-signs-list-item .extra {
        margin-bottom: 0;
    }

    /* Looking for */
    .section-looking-for h2 {
        font-size: 24px;
        margin-bottom: 25px;
    }

    .section-looking-for .img-wrap img {
        margin-left: -24px;
    }

    .section-looking-for .img-wrap {
        max-width: 355px;
    }

    .btn-mounted-photo-print {
        padding: 10px 10px;
        font-weight: 300;
        font-family: inherit;
        border-radius: 6px;
    }

    /* Footer Section */
    div#next-day-asterisk {
        margin: 20px auto;
    }
}

@media (max-width: 414px) {
    .section-what-are h2 {
        padding: 0;
    }

    .section-what-are .what-are-content-wrap p {
        padding: 0;
        font-size: 16px;
        padding: 0 10px;
    }
}

@media (max-width: 375px) {
    /* Product Quick Start */
    .hero-head {
        padding: 0;
    }

    .hero-list {
        margin: 0 0;
    }

    .hero-list-item {
        padding: 0 5px;
        font-size: 14px;
    }

    /* Design tool and services */
    .design-services .design-services-heading {
        padding: 0 25px;
    }

    /* Product Review Section */
    #sa_review_section .product_review .images {
        margin: 2px 0 0;
    }

    #sa_review_section .product_review .images > div:first-child {
        margin-bottom: 5px;
    }

    /* Related Section */
    .section-related-products .standard-container a:nth-of-type(2) .img-wrap {
        height: auto;
    }

    /* Section What are */
    .what-are-content-wrap .what-are-img-wrap {
        width: 100%;
    }

    .section-what-are h2 {
        font-size: 27px;
    }
}

@media (max-width: 360px) {
    /* Hero Section */
    .hero-img-wrap {
        max-width: 317px;
    }

    .hero-list-item {
        padding: 0 8px;
        font-size: 15px;
    }

    .hero-footer {
        padding: 0 15px;
    }

    /*  */
    .design-services .design-services-heading {
        padding: 0 20px;
    }

    #sa_review_section .rating {
        display: block;
        height: auto;
        position: relative;
        width: 100%;
        /* vertical-align: middle; */
        margin-bottom: 20px;
    }

    #sa_review_section .rating:after {
        content: '';
        display: block;
        clear: both;
    }

    /* Section What are */
    .what-are-content-wrap .what-are-img-wrap {
        width: 100%;
        height: 200px;
    }

    .section-what-are h2 {
        font-size: 26px;
    }

    .section-what-are h2 {
        font-size: 25px;
    }
}

@media (max-width: 320px) {
    /* Global */
    .standardWidth {
        margin-top: 68px;
    }

    /* Hero Section */
    .hero-list-item {
        font-size: 14px;
    }

    .hero-list-item:first-child:before {
        content: "\2022";
        visibility: visible;
    }

    .hero-list-item:nth-child(3):before {
        content: "\2022";
        visibility: visible;
    }

    .hero-head h1 {
        font-size: 29px;
    }

    .hero-head {
        padding: 0 10px;
    }

    .hero-head h1 {
        font-size: 26px;
    }

    .hero-list-item {
        font-size: 12px;
    }

    .hero-list-item:first-child:before {
        visibility: hidden

    }

    /* What are Pop Up Display */
    .what-are-content-wrap .what-are-img-wrap {
        width: 100%;
    }

    .section-what-are h2 {
        font-size: 23px;
    }

    .section-what-are .what-are-content-wrap p {
        font-size: 16px;
        padding: 0 10px;
    }

    /* Related Product */
    .section-related-products .standard-container > a:last-child {
    }

    .section-related-products .standard-container > a .img-wrap {
    }
}