<!-- Initial Layout For Feather Flags Section -->
<h1 class="content-header">What are Feather Flags?</h1>
<div class="what-are-feather-flags">
    <section class="text-table">
        <p>Feather flag banners are the perfect outdoor and indoor signage solution for drawing attention to your business, product, or promotion. The flag is made from a 4 oz. polyester material, which is weather resistant and extremely durable, making it perfect for using outdoors. The pole set is made from a combination of lightweight aluminum and fiberglass poles for durability. Using the ground stake, the flag can be placed in grass or soil. We also offer additional base options that will allow for the flag to be displayed on hard surfaces and indoors as well. Click the links below for the design templates for each size if you plan on designing your custom feather flag before uploading them to our design tool.</p>
        <h3 class="template-table-header">Templates</h3>
        <div class="table-responsive">
            <table class="template-table" border="1" cellspacing="5" cellpadding="5">
                <tbody>
                <tr class="table-header">
                    <th style="text-align: center;">Small</th >
                    <th style="text-align: center;">Medium</th >
                    <th style="text-align: center;">Large</th >
                    <th style="text-align: center;">X-Large</th >
                </tr>
                <tr>
                    <td style="text-align: center;"><strong>24.25"x79.5"</strong></td>
                    <td style="text-align: center;"><strong>25.5"x105.5"</strong></td>
                    <td style="text-align: center;"><strong>29.5"x139.5"</strong></td>
                    <td style="text-align: center;"><strong>27"x191"</strong></td>
                </tr>
                <tr>
                    <td style="text-align: center;"><a href="https://www.signs.com/content/assets/filelibrary/Feather-Small-Front-3478.ai" download="Feather-Small-Front.ai">Front</a></td>
                    <td style="text-align: center;"><a href="https://www.signs.com/content/assets/filelibrary/Feather-Medium-Front-3482.ai" download="Feather-Medium-Front.ai">Front</a></td>
                    <td style="text-align: center;"><a href="https://www.signs.com/content/assets/filelibrary/Feather-Large-Front-3474.ai" download="Feather-Large-Front.ai">Front</a></td>
                    <td style="text-align: center;"><a href="https://www.signs.com/content/assets/filelibrary/Feather-XL-Front-3480.ai" download="Feather-XL-Front.ai">Front</a></td>
                </tr>
                <tr>
                    <td style="text-align: center;"><a href="https://www.signs.com/content/assets/filelibrary/Feather-Small-Back-3477.ai" download="Feather-Small-Back.ai">Back</a></td>
                    <td style="text-align: center;"><a href="https://www.signs.com/content/assets/filelibrary/Feather-Medium-Back-3481.ai" download="Feather-Medium-Back.ai">Back</a></td>
                    <td style="text-align: center;"><a href="https://www.signs.com/content/assets/filelibrary/Feather-Large-Back-3473.ai" download="Feather-Large-Back.ai">Back</a></td>
                    <td style="text-align: center;"><a href="https://www.signs.com/content/assets/filelibrary/Feather-XL-Back-3479.ai" download="Feather-XL-Back.ai">Back</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </section>
    <img class="red-barn" src="https://www.signs.com/content/assets/filelibrary/FeatherFlag2018RedBarnFlag-4440.png" alt="What are Feather Flags"/>
</div>
</div>