/********************************************************************/
/********************************************************************/
/********************************************************************/

.standardWidth {
    margin-top: 70px !important;
}

@media (min-width: 801px) {
    .standardWidth {
        margin-top: 0 !important;
    }
}

/********************************************************************/
/********************************************************************/
/********************************************************************/

.hero-section {
    position: relative;
}

.hero-section .hero-banner-image {
    max-width: 100%;
    width: 100%;
    display: block;
    height: auto;
}

.hero-section .hero-banner-image.desktop {
    display: none;
}

.hero-section .hero-text-image {
    position: absolute;
    max-width: 30%;
    top: 20%;
    left: 6%;
}

@media (min-width: 501px) {
    .hero-section .hero-banner-image.mobile {
        display: none;
    }

    .hero-section .hero-banner-image.desktop {
        display: block;
    }
}

/********************************************************************/
/********************************************************************/
/********************************************************************/
.fabs-section {
    display: flex;
    flex-wrap: wrap;
    margin: 20px 0;
}

.fabs-section .fab-item {
    flex: 1 1 50%;
    max-width: 50%;
    text-align: center;
    padding: 0px 10px;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.fabs-section .fab-item:nth-last-child(2),
.fabs-section .fab-item:last-child {
    margin-bottom: 0;
}

.fabs-section .fab-item .fab-item-image {
    max-width: 46px;
}

.fabs-section .fab-item .fab-item-text {
    font-size: 12px;
}

@media (min-width: 768px) {
    .fabs-section .fab-item {
        flex: 1 1 25%;
        max-width: 25%;
        margin-bottom: 0;
    }
}

@media (min-width: 992px) {
    .fabs-section .fab-item .fab-item-image {
        max-width: 80px;
    }

    .fabs-section .fab-item .fab-item-text {
        font-size: 15px;
    }
}

@media (min-width: 1500px) {
    .fabs-section .fab-item .fab-item-image {
        max-width: 100px;
    }

    .fabs-section .fab-item .fab-item-text {
        font-size: 24px;
    }
}

@media (min-width: 1920px) {
    .fabs-section .fab-item .fab-item-text {
        font-size: 30px;
    }
}

/********************************************************************/
/********************************************************************/
/********************************************************************/

.signs-for-home-product-links-section {
    background-color: #333333;
    color: #fff;
}

.signs-for-home-product-links {
    display: flex;
    flex-wrap: wrap;
    padding: 5px 0;
}

.signs-for-home-product-item {
    flex: 1 1 33.33333%;
    max-width: 33.33333%;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
    font-size: 14px;
    position: relative;
    font-weight: 100;
}

.signs-for-home-product-item:not(:nth-child(3n)):after {
    position: absolute;
    content: "|";
    color: #fff;
    right: -1px;
}

.signs-for-home-product-links-section a,
.signs-for-home-product-links-section a:visited,
.signs-for-home-product-links-section a:hover {
    color: #fff;
}

@media (min-width: 400px) {
    .signs-for-home-product-item {
        font-size: 18px;
    }
}

@media (min-width: 1182px) {
    .signs-for-home-product-links {
        padding: 15px 0;
    }
    .signs-for-home-product-item {
        flex: 1 1 11.11111%;
        max-width: 11.11111%;
    }

    .signs-for-home-product-item:not(:last-child):after {
        position: absolute;
        content: "|";
        color: #fff;
        right: -1px;
    }
}

@media (min-width: 1366px) {
    .signs-for-home-product-item {
        font-size: 20px;
    }
}

@media (min-width: 1796px) {
    .signs-for-home-product-item {
        font-size: 29px;
    }
}

/********************************************************************/
/********************************************************************/
/********************************************************************/

.signs-for-home-product {
    margin-bottom: 30px;
}

.sfh--product-images,
.sfh--product-images .slick-track {
    padding: 0;
    margin: 0;
}

.sfh--product-images img {
    max-width: 100%;
    width: 100%;
}

.sfh--product-images .slick-slide {
    padding: 0;
    margin: 0;
    opacity: 1;
}

.sfh--product-images .slick-current {
    transform: scale(1);
}

.sfh--product-images .slick-prev,
.sfh--product-images .slick-next {
    font-size: 68px;
    color: #fff;
    opacity: 1;
    text-shadow: 0 3px 6px rgba(0, 0, 0, 0.29);
}

.sfh--product-images .slick-next {
    right: 30px;
    height: auto;
    width: auto;
}

.sfh--product-images .slick-next:before {
    content: "";
}

.sfh--product-details {
    text-align: center;
    background-color: #e0e0e0;
    padding: 20px 30px;
    box-sizing: border-box;
}

.sfh-product-title {
    font-size: 28px;
    margin-bottom: 15px;
    font-weight: 500;
}

.sfh-product-sub-title {
    font-size: 20px;
    margin-bottom: 15px;
    font-weight: 500;
}

.sfh-product-description {
    font-size: 16px;
    font-weight: 100;
    margin-bottom: 16px;
    max-width: 354px;
    margin-left: auto;
    margin-right: auto;
}

.sfh-product-learn-more-btn {
    -webkit-appearance: none;
    font-size: 13px;
    background-color: #0097d5;
    display: inline-block;
    border-radius: 5px;
    color: #fff !important;
    padding: 10px 20px;
}

@media (min-width: 992px) {
    .signs-for-home-product {
        margin-bottom: 60px;
    }

    .sfh--product-images .slick-prev,
    .sfh--product-images .slick-next {
        font-size: 126px;
    }

    .sfh--product-images .slick-next {
        right: 60px;
    }

    .signs-for-home-product {
        display: flex;
    }

    .sfh--product-details {
        flex: 1 1 40%;
        max-width: 40%;
        order: 0;
        text-align: left;
        padding: 3.4602vw;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }

    .sfh--product-images {
        flex: 1 1 60%;
        max-width: 60%;
        order: 1;
    }

    .sfh-product-title {
        font-size: 3.5vw;
        margin-bottom: 1vw;
    }

    .sfh-product-sub-title {
        font-size: 2.4vw;
        margin-bottom: 2vw;
    }

    .sfh-product-description {
        font-size: 1.7vw;
        margin-bottom: 2vw;
        max-width: unset;
        margin-left: 0;
    }

    .sfh-product-learn-more-btn {
        font-size: 1.46vw;
        font-weight: 100;
        padding: 14px 40px;
    }
}

@media (min-width: 1921px) {
    .sfh-product-title {
        font-size: 50px;
    }

    .sfh-product-sub-title {
        font-size: 35px;
        margin-bottom: 15px;
    }

    .sfh-product-description {
        font-size: 30px;
        margin-bottom: 15px;
    }

    .sfh-product-learn-more-btn {
        font-size: 28px;
        margin-bottom: 15px;
    }
}