h2.split-title {
    font-size: 30px;
    font-weight: 400;
}

.img-wrap {
    font-size: 0;
}

.scroll-link {
    display: inline-block;
}

.faq-search-links .scroll-link {
    display: flex;
}

.caret {
    border: 6px solid transparent;
    border-top: 6px solid #5ba9f5;
    margin-top: 5px;
    margin-left: 5px;
}

figure {
    margin: 0;
}

.section-default {
    padding: 60px 0;
    text-align: center;
}

    .section-default h2 {
        font-size: 35px;
        font-weight: 400;
        margin-bottom: 50px;
    }

    .section-default p {
        font-size: 20px;
        margin-bottom: 30px;
    }

    .section-default [class*=img-wrap] img {
        width: 100%;
    }

.standard-container {
    max-width: 1560px;
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
    margin: 0 auto;
    text-align: center;
}

/* FAQ Section */

.faq-search-links {
    padding: 35px 0;
    color: #5ca9f5;
    background: #fff;
}

.faqmain {
    margin: 0 auto;
    max-width: 1500px;
    padding: 0 20px;
}

.product-tabs-wrapper .faq-search-links {
    padding: 0;
    margin: 0 0 10px;
    background: initial;
}

.product-tabs-wrapper .faq-search-form {
    margin-bottom: 15px;
}

.signs-faq-2 {
    text-align: left;
}

/* Hero Section */

.section-hero-full-width {
    padding: 20px 0 25px;
}

.hero-footer,
.hero-head {
    margin: 0 auto;
    padding: 0 20px;
    max-width: 870px;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
}

.hero-img-wrap {
    max-width: 1355px;
    margin: 15px auto 20px;
    width: 100%;
}

.hero-head {
    margin-bottom: 35px;
}

    .hero-head h1 {
        font-size: 50px;
        font-weight: 400;
        margin-bottom: 10px;
    }

.hero-list {
    font-size: 0;
}

.hero-list-item:first-child:before {
    content: "";
}

.hero-list-item:before {
    content: "\2022";
    top: -3px;
    left: -3px;
    font-size: 18px;
    position: absolute;
}

.hero-list-item {
    position: relative;
    padding: 0 10px;
    font-size: 20px;
    display: inline-block;
}

.hero-img {
    width: 100%;
}

.hero-phrase {
    font-size: 20px;
}

/* Section Product Quick Start */

.placeholder-sticky {
    padding: 0 0 30px;
}

.quick-start-group.quick-start-size .gs-input-group {
    display: none;
}

#designSuite_optionsList .dt {
    background-color: transparent;
}
/* Store Review Section */

#shoppersReviews {
    padding: 30px 0 0;
}

    #shoppersReviews .shopper-approved-link {
        margin: 0;
    }

.sa-caption {
    display: none;
}
/* Premium Services */
a.design-help {
    color: #0097D5;
}

.premium-services-list {
    position: relative;
    max-width: 1153px;
    width: 100%;
    margin: 0 auto;
}

.premium-service-item {
    padding-left: 230px;
    min-height: 163px;
    margin-bottom: 20px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

    .premium-service-item .img-wrap {
        position: absolute;
        width: 163px;
        display: inline-block;
        left: 0;
    }

    .premium-service-item h3 {
        font-size: 28px;
        margin-bottom: 20px;
    }

    .premium-service-item p {
        font-size: 22px;
        line-height: 1.4;
        margin-bottom: 15px;
    }

/* Downloadble Section */

.section-dpt {
    padding-top: 80px;
    padding-bottom: 80px;
}

.downloadable-product-templates {
    text-align: center;
    margin-top: 0;
}

    .downloadable-product-templates h3 {
        font-weight: 500;
        font-size: 28px;
        margin-bottom: 30px;
        text-transform: capitalize;
    }

.table-border-nobox {
    margin: 0 auto;
    width: 100%;
    max-width: 900px;
    position: relative;
}

    .table-border-nobox:after {
        position: absolute;
        background: #bdbdbd;
        width: 2px;
        display: block;
        content: "";
        left: 50%;
        /* top: 0; */
        right: 0;
        height: 75%;
        bottom: 0;
    }

    .table-border-nobox td,
    .table-border-nobox th {
        border-bottom: 3px solid #d4d4d4;
        border-top: transparent;
        padding: 0.7em 0;
        text-align: center;
        font-weight: 400;
        width: calc(100% / 2);
        font-size: 30px;
    }

    .table-border-nobox th {
        border-color: transparent;
    }

    .table-border-nobox td {
        color: #3fa9f5;
    }

        .table-border-nobox td:not(:first-child):not(:last-child),
        .table-border-nobox th:not(:first-child):not(:last-child) {
            border: 1px solid #ddd;
            border-top: transparent;
        }

    .table-border-nobox tbody tr:last-child td,
    .table-border-nobox tbody tr:last-child td:not(:first-child):not(:last-child) {
        border-bottom: transparent;
    }

/* Image and Content Alternate */
.section-img-content-alternate h2 {
    margin-bottom: 70px;
}

.img-content-alternate-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1460px;
    width: 100%;
    margin: 0 auto;
}

    .img-content-alternate-item .img-wrap {
        font-size: 0;
        max-width: 696px;
    }

    .img-content-alternate-item:nth-child(odd) {
        /* flex-direction: row-reverse; */
    }

        .img-content-alternate-item:nth-child(odd) .img-wrap {
            margin-left: 50px;
        }

    .img-content-alternate-item:nth-child(even) {
        flex-direction: row-reverse;
    }

        .img-content-alternate-item:nth-child(even) .img-wrap {
            margin-right: 50px;
        }

.section-img-content-alternate .img-content-alternate-item .img-container .img-wrap:first-child {
    margin-left: 55px;
}

.section-img-content-alternate .img-content-alternate-item .img-container .img-wrap:last-child {
    margin-left: 45px;
}

.img-content-alternate-item .content-wrap {
    text-align: left;
    max-width: 720px;
}

    .img-content-alternate-item .content-wrap h3 {
        font-size: 35px;
        color: #000;
        margin-bottom: 20px;
    }

    .img-content-alternate-item .content-wrap p {
        color: #333333;
        font-weight: 400;
        font-size: 22px;
    }

/* Additional Specs Section */

.section-additional-specs {
    padding: 64px 0;
}

    .section-additional-specs .container {
        margin: 0 auto;
        max-width: 880px;
        text-align: center;
        padding: 0 20px;
    }

    .section-additional-specs h2 {
        text-align: center;
        font-size: 35px;
        margin-bottom: 30px;
    }

.additional-specs-list {
    display: inline-block;
    text-align: left;
}

    .additional-specs-list li {
        display: flex;
        margin-bottom: 20px;
        border-bottom: 2px solid #cfcccc;
        padding-right: 0;
    }

        .additional-specs-list li h3 {
            min-width: 195px;
            font-size: 22px;
            color: #333;
            font-weight: 400;
            margin-right: 60px;
        }

        .additional-specs-list li p {
            font-size: 22px;
            color: #9f9f9f;
            font-weight: 300;
            margin-bottom: 25px;
            width: 100%;
            padding-right: 40px;
        }

.bt-0 {
    border-bottom: 0 !important;
}
/* Additional Trade Show Signs */
.section-atss {
}

.atss-list {
    display: flex;
    position: relative;
    max-width: 1290px;
    width: 100%;
    height: 530px;
    margin: 0 auto;
    justify-content: center;
}

.atss-item {
    position: absolute;
    transform: scale(.4);
    display: inline-block;
}

    .atss-item .img-wrap {
    }

        .atss-item .img-wrap img {
            height: 100%;
        }

    .atss-item .details {
        display: none;
    }

    .atss-item a {
        display: inline-block;
    }

    .atss-item:nth-of-type(1) {
        bottom: 26px;
        transform: initial;
        margin-left: -1125px;
    }

        .atss-item:nth-of-type(1) .img-wrap {
            width: 166px;
            height: 321px;
        }

    .atss-item:nth-of-type(2) .img-wrap {
        width: 260px;
        height: 362px;
    }

    .atss-item:nth-of-type(3) .img-wrap {
        width: 456px;
        height: 330px;
    }

    .atss-item:nth-of-type(4) .img-wrap {
        width: 130px;
        height: 329px;
    }

    .atss-item:nth-of-type(5) .img-wrap {
        width: 162px;
        height: 421px;
    }

    .atss-item:nth-of-type(7) .img-wrap {
        width: 429px;
        height: 178px;
    }

    .atss-item:nth-of-type(2) {
        top: 51px;
        margin-left: -708px;
        transform: initial;
    }

    .atss-item:nth-of-type(3) {
        top: 0;
        transform: none;
    }

    .atss-item:nth-of-type(4) {
        top: 69px;
        transform: initial;
        margin-left: 588px;
    }

    .atss-item:nth-of-type(5) {
        bottom: 42px;
        transform: initial;
        margin-left: 870px;
    }

    .atss-item:nth-of-type(6) {
        display: none;
    }

    .atss-item:nth-of-type(7) {
        transform: initial;
        bottom: 0;
    }


    .atss-item a:hover .img-wrap img {
        opacity: 0;
        background-size: cover;
        background-position: center;
    }

    .atss-item a:hover .img-wrap {
        background-size: cover;
        background-position: top;
        background-repeat: no-repeat;
    }

    .atss-item:nth-of-type(1) a:hover .img-wrap {
        background-image: url("https://www.signs.com/content/assets/filelibrary/x-banner-hover-13564.jpg");
    }

    .atss-item:nth-of-type(2) a:hover .img-wrap {
        background-image: url("https://www.signs.com/content/assets/filelibrary/step-and-repeat-banner-hover-13558.jpg");
    }

    .atss-item:nth-of-type(3) a:hover .img-wrap {
        background-image: url("https://www.signs.com/content/assets/filelibrary/Pop-Up-Display-hover-13554.jpg");
    }

.img-wrap {
}

.atss-item:nth-of-type(4) a:hover .img-wrap {
    background-image: url("https://www.signs.com/content/assets/filelibrary/Retractable-banner-hover-13556.jpg");
}

.atss-item:nth-of-type(5) a:hover .img-wrap {
    background-image: url("https://www.signs.com/content/assets/filelibrary/Tension-Fabric-Stand-hover-13562.jpg");
}

.atss-item:nth-of-type(6) a:hover .img-wrap {
    background-image: url("https://www.signs.com/content/assets/filelibrary/Table-Throw-hover-13560.jpg");
}

.atss-item:nth-of-type(7) a:hover .img-wrap {
    background-image: url("https://www.signs.com/content/assets/filelibrary/Table-Throw-hover-13560.jpg");
}
/* Image Gallery */

.section-gallery-image .image-gallery-slider2019 {
    margin-bottom: 0 !important;
}

/* What are Section */

.section-what-are {
    text-align: left;
    padding-bottom: 80px;
}

    .section-what-are .standard-container {
        position: relative;
        display: flex;
        align-items: center;
        padding: 0;
        justify-content: space-between;
        max-width: 1600px;
    }

    .section-what-are h2 {
        margin-bottom: 57px;
        /* text-transform: capitalize; */
    }

    .section-what-are p {
        margin-bottom: 20px;
        font-size: 24px;
    }

        .section-what-are p:first-of-type {
            margin-bottom: 28px;
        }

    .section-what-are br {
        display: none;
    }

    .section-what-are img {
        width: 100%;
    }

.what-are-content-wrap {
    margin-left: calc(100% - 1710px);
    max-width: 730px;
    width: 100%;
    margin-left: 0;
}

.what-are-img-wrap {
    max-width: 800px;
    width: 100%;
    flex: 0 0 100%;
    font-size: 0;
}

/* Section Featured */
.section-signs-features * {
    box-sizing: border-box;
}

.featured-body {
    position: relative;
    margin-top: 0;
    margin-bottom: 55px;
}

.section-signs-features h2 {
}

.featured-img-wrap {
    max-width: 972px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

    .featured-img-wrap img {
        /* margin-right: -186px; */
    }

.signs-featured-list {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.signs-featured-item {
    position: absolute;
    text-align: left;
    display: inline-block;
    max-width: 278px;
    width: 100%;
}

    .signs-featured-item h3 {
        font-size: 32px;
        margin-bottom: 10px;
        line-height: 1.5;
        font-weight: 500;
    }

    .signs-featured-item p {
        color: #919396;
        font-weight: 300;
        font-size: 25px;
    }

    .signs-featured-item:nth-child(1) {
        top: 71px;
        left: -146px;
        /* margin-right: 167px; */
        max-width: 383px;
    }

    .signs-featured-item:nth-child(2) {
        bottom: 10px;
        left: -146px;
        /* padding-top: 195px; */
        max-width: 397px;
    }

    .signs-featured-item:nth-child(3) {
        left: 1317px;
        top: 86px;
        /* padding-left: 180px; */
        max-width: 345px;
    }

    .signs-featured-item:nth-child(4) {
        right: -166px;
        bottom: -22px;
        /* padding-left: 190px; */
        max-width: 367px;
    }

    .signs-featured-item:nth-child(5) {
        right: 895px;
        bottom: -121px;
        /* padding-left: 205px; */
        max-width: 390px;
    }

    .signs-featured-item .img-wrap {
        position: absolute;
        width: 170px;
        height: 170px;
        border-radius: 50%;
        overflow: hidden;
        /* border: 5px solid #000; */
        /* box-shadow: 9px 8px 8px rgba(0, 0, 0, .19); */
    }

        .signs-featured-item .img-wrap img {
            width: 100%;
            height: 100%;
        }

    .signs-featured-item:nth-child(1) .img-wrap {
        right: -145px;
        top: 10px;
    }

    .signs-featured-item:nth-child(2) .img-wrap {
        top: 9px;
        right: -165px;
    }

    .signs-featured-item:nth-child(3) .img-wrap {
        left: -172px;
        top: -5px;
    }

    .signs-featured-item:nth-child(4) .img-wrap {
        left: -173px;
        top: -34px;
    }

    .signs-featured-item:nth-child(5) .img-wrap {
        top: -105px;
        left: inherit;
        right: -40px;
    }

/* Image Gallery */

.image-gallery-slider2019-thumbnails .slick-slide.slick-current > img {
    box-shadow: none;
}

/* Design tool and services */
.design-services .standard-container {
    max-width: 1750px;
}

.design-services .myrow {
    display: flex;
}

.design-services .design-services-group {
    margin: 0 40px;
}

.design-services .design-services-heading {
    margin-top: 0;
    margin-bottom: 35px;
    max-width: 340px;
    text-transform: uppercase;
}

.design-services .img-wrap {
    /* height: 345px; */
    /* overflow: hidden; */
}

    .design-services .img-wrap img {
        /* height: 100%; */
    }

.design-services .design-services-image {
    margin-bottom: 0;
}

.design-services .design-services-text {
    color: #919396;
    margin-bottom: 5px;
    font-size: 26px;
    font-weight: 300;
    max-width: 754px;
}

.design-services .design-services-group a {
    color: #0097D5;
    font-size: 26px;
}

/* Sizing Chart */
.section-sizing-chart h2 {
    margin-bottom: 15px;
}

.tab {
    padding-top: 50px;
    padding-bottom: 0;
    padding-bottom: 45px;
}

    /* Style the buttons inside the tab */

    .tab button {
        background-color: inherit;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 0 35px;
        transition: 0.3s;
        font-size: 23px;
        display: inline-block;
        color: #0097d5;
        position: relative;
    }

        .tab button span {
            display: block;
            position: relative;
            z-index: 1;
        }

        .tab button:after {
            content: "";
            display: block;
            position: absolute;
            bottom: 2px;
            height: 1px;
            left: 35px;
            right: 35px;
        }
        /* Change background color of buttons on hover */
        /* Create an active/current tablink class */

        .tab button.active {
            text-decoration: none;
        }

            .tab button.active:after {
                background: #0097d5;
            }

/* Style the tab content */

.tabcontent {
    display: none;
    max-width: 1580px;
    margin: 0 auto;
}

.section-sizing-chart .standard-container {
    /* min-height: 635px; */
}

/* How to install */
.section-how-to-install .section-title {
    margin-bottom: 20px;
}

.section-how-to-install .section-title-sub {
    margin-bottom: 60px;
}

.how-to-install-list {
    padding-bottom: 15px;
}

.how-to-install-item {
    display: flex;
    margin-bottom: 50px;
    padding-left: 55px;
    position: relative;
}

    .how-to-install-item:nth-of-type(4) {
        padding-left: 65px;
    }

    .how-to-install-item .details {
        max-width: 935px;
        width: 100%;
        margin-left: auto;
    }

        .how-to-install-item .details p {
            font-size: 24px;
            text-align: left;
        }

    .how-to-install-item .img-wrap {
        max-width: 420px;
        width: 100%;
    }

    .how-to-install-item .step-number {
        position: absolute;
        z-index: 1;
        color: #fff;
        background-color: #8CC53F;
        font-size: 25px;
        font-weight: 300;
        width: 45px;
        height: 42px;
        text-align: center;
        vertical-align: middle;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 10px;
        /* display: none; */
        left: 0;
    }

        .how-to-install-item .step-number:before {
            content: '';
            border: 21px solid transparent;
            position: absolute;
            left: 45px;
            right: 0;
            top: 0;
            bottom: 0;
            border-left: 9px solid #8cc53f;
        }


.section-how-to-install .downlad-pdf {
    font-size: 24px;
    color: #0097D5;
}
/* Taking Care */
.section-taking-care .standard-container {
    /* max-width: 900px; */
}

.section-taking-care .center-block {
    max-width: 825px;
    margin: 0 auto;
}

.section-taking-care h3 {
    font-size: 32px;
    margin-bottom: 20px;
}

.taking-care-list {
    font-size: 0;
    margin: 0 auto;
    max-width: 1080px;
}

.taking-care-item {
    width: calc(100%/5);
    display: inline-block;
    font-size: initial;
    padding: 0 20px;
    color: #919396;
    font-size: 20px;
    font-weight: 400;
}

    .taking-care-item .img-wrap {
        width: auto;
        margin: 0 auto 15px;
    }
/* Related Product Section */

.section-related-products {
    padding: 65px 0;
}

    .section-related-products .standard-container {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
        margin: 0 auto;
        padding: 0 20px;
        max-width: 1567px;
        text-align: center;
    }

    .section-related-products h2 {
        width: 100%;
        font-size: 26px;
        margin-bottom: 45px;
    }

    .section-related-products .standard-container > a {
        margin: 0;
        width: calc(100% / 3);
        display: flex;
        align-items: flex-end;
        justify-content: center;
    }

        .section-related-products .standard-container > a figure {
            width: 100%;
        }

        .section-related-products .standard-container > a .img-wrap {
            max-width: 420px;
            height: 306px;
            position: relative;
            width: 100%;
            margin: 0 auto 30px;
        }

            .section-related-products .standard-container > a .img-wrap img {
                position: absolute;
                margin-bottom: 0 !important;
                left: 0;
                right: 0;
                max-width: 100%;
                max-height: 100%;
                display: block;
                top: 50%;
                transform: translate(0, -50%);
            }

        .section-related-products .standard-container > a:first-of-type figure img {
            margin-bottom: 80px;
            /* height: 100%; */
        }

    .section-related-products figure img {
        margin-bottom: 40px;
    }

    .section-related-products figure figcaption {
        font-size: 20px;
        font-weight: 500;
        /* color: #707070 */
    }

/*  */
.options-section {
    position: relative;
    overflow-y: scroll;
    margin: 0 10px 10px;
}

    .options-section table {
        margin: 10px auto 50px;
        width: 1500px;
    }

    .options-section th {
        text-align: center;
    }

tr.blue-row {
    background-color: #5e88d0;
    color: white;
}

.options-section td {
    text-align: center;
    width: 22.7%;
}

    .options-section td.bolded {
        font-weight: bold;
        width: 10%;
    }

tr.blue-row td.vertical-separator {
    background: -moz-linear-gradient(to bottom, rgba(221, 221, 221, 0) 0, #fff 22%, #fff 50%, #fff 80%, rgba(221, 221, 221, 0) 100%);
    background: -webkit-linear-gradient(to bottom, rgba(221, 221, 221, 0) 0, #fff 22%, #fff 50%, #fff 80%, rgba(221, 221, 221, 0) 100%);
    background: linear-gradient(to bottom, rgba(221, 221, 221, 0) 0, #fff 22%, #fff 50%, #fff 80%, rgba(221, 221, 221, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00dddddd', endColorstr='#00dddddd', GradientType=1);
    height: 4em;
    width: 0.1%;
    content: "";
    vertical-align: top;
    margin-left: 10px;
}

tr.gray-row {
    background-color: lightgray;
}

.options-section td.long-text {
    padding: 0 40px;
}

a.standard-link,
.standard-link {
    color: #00ADEF;
    cursor: pointer;
}

.sub-text {
    text-align: center;
    font-style: italic;
    margin-bottom: 40px;
}

/* Section Popular Templates */
#popular-templates-wrapper .template-list {
    max-width: 1315px;
    margin: 0 auto;
}

/* Care and Installation */

.section-installation {
    text-align: left;
}

    .section-installation ul {
        list-style: none;
        max-width: 1225px;
        width: 100%;
        margin: 0 auto;
    }

        .section-installation ul li {
            margin-bottom: 50px;
            display: flex;
            justify-content: space-between;
        }

            .section-installation ul li:last-child {
                margin-bottom: 0;
            }

            .section-installation ul li h2 {
                font-size: 27px;
                font-weight: 500;
                margin-bottom: 15px;
            }

            .section-installation ul li p {
                font-size: 19px;
                max-width: 882px;
            }

            .section-installation ul li .standard-container {
                padding: 0 20px;
            }

            .section-installation ul li .content-wrap {
                align-self: center;
                max-width: 785px;
            }

            .section-installation ul li .img-wrap {
                max-width: 300px;
            }

@media (max-width: 1680px) {
    /* Global */
    .standard-container {
        max-width: 1418px;
    }

    /* Hero Section */
    .hero-img-wrap {
        max-width: 1230px;
    }

    /* What are */
    .what-are-content-wrap {
        margin-left: calc(100% - 1540px);
        max-width: 780px;
    }

    /* Featured Section */
    .featured-img-wrap {
        max-width: 668px;
    }

    .featured-body {
        margin-bottom: 75px;
    }

    .signs-featured-item .img-wrap {
        width: 155px;
        height: 155px;
    }

    .signs-featured-item:nth-child(1) {
        top: 28px;
        left: -105px;
    }

    .signs-featured-item:nth-child(2) {
        bottom: -55px;
        left: -107px;
    }

        .signs-featured-item:nth-child(2) .img-wrap {
            top: 9px;
            right: -133px;
        }

    .signs-featured-item:nth-child(3) {
        left: 1115px;
        top: 39px;
    }

        .signs-featured-item:nth-child(3) .img-wrap {
            left: -160px;
            top: -5px;
        }

    .signs-featured-item:nth-child(4) {
        right: -95px;
        bottom: -100px;
    }

        .signs-featured-item:nth-child(4) .img-wrap {
            left: -155px;
            top: -34px;
        }




    /* Image and Content Alternate */
    .img-content-alternate-item:nth-child(even) .img-wrap {
        margin-right: 30px;
    }

    .img-content-alternate-item:nth-child(odd) .img-wrap {
        margin-left: 150px;
    }

    /* Additional Trade Show Signs */
    .section-atss .standard-container {
        max-width: 1653px;
    }
    /* Design Tool and Services */
    .design-services .img-wrap {
        /* height: 471.59px; */
    }

    .design-services-group .design-services-text {
        min-height: 124px;
    }
    /* Image Gallery */
    .section-gallery-image {
        padding-bottom: 70px;
    }

    /* How to assemble */
    .how-to-install-item .details {
        margin-left: 70px;
    }
}

@media (max-width: 1600px) {
    /* Global */
    .standard-container {
        max-width: 1390px;
    }

    /* Hero Image Wrap */
    .hero-head {
        margin-bottom: 25px;
    }

    .hero-img-wrap {
        max-width: 1095px;
        margin-bottom: 0;
    }

    /* What are */
    .what-are-content-wrap {
        margin-left: calc(100% - 1544px);
        max-width: 773px;
    }

    .what-are-img-wrap {
        max-width: 675px;
        width: 100%;
        flex: 0 0 100%;
        font-size: 0;
    }

    /* Featured Section */
    .section-signs-features h2 {
        margin-bottom: 35px;
    }

    .signs-featured-item:nth-child(3) {
        left: 1092px;
        top: 39px;
    }

    .signs-featured-item:nth-child(4) .img-wrap {
        /* left: -145px; */
        /* top: -183px; */
    }

    /* Design Tool and Services */
    .design-services .img-wrap {
        height: auto;
    }

    .design-services .design-services-text {
        min-height: 96px;
    }
}

@media (max-width: 1536px) {
    /* Global */
    .standard-container {
        max-width: 1271px;
    }

    /* Hero Section */
    .hero-head {
        margin-bottom: 10px;
    }

    .hero-img-wrap {
        max-width: 890px;
        margin-top: 0;
    }

    .standard-container {
        max-width: 1285px;
    }

    /* Section What Are */
    .what-are-img-wrap {
        max-width: 710px;
    }

    .what-are-content-wrap {
        margin-left: calc(100% - 1477px);
        max-width: 749px;
    }
    /* Image and Content Alternate */
    .img-content-alternate-item {
        margin-bottom: 50px;
    }

        .img-content-alternate-item .img-wrap {
            max-width: 630px;
        }

    /* Featured Section */
    .section-signs-features h2 {
        margin-bottom: 20px;
    }

    .featured-body {
        margin-bottom: 30px;
        margin-top: 60px;
    }

    .featured-img-wrap {
        max-width: 766px;
    }

    .signs-featured-item .img-wrap {
        width: 135px;
        height: 135px;
    }

    .signs-featured-item h3 {
        font-size: 26px;
    }

    .signs-featured-item p {
        font-size: 20px;
    }

    .signs-featured-item:nth-child(1) {
        top: 45px;
        left: -105px;
        max-width: 310px;
    }

        .signs-featured-item:nth-child(1) .img-wrap {
            right: -115px;
            top: 10px;
        }

    .signs-featured-item:nth-child(2) {
        bottom: -34px;
        left: -107px;
        max-width: 321px;
    }

        .signs-featured-item:nth-child(2) .img-wrap {
            /* top: -35px; */
            /* right: -150px; */
        }

    .signs-featured-item:nth-child(3) {
        left: 1060px;
        top: 39px;
        max-width: 300px;
    }

        .signs-featured-item:nth-child(3) .img-wrap {
            left: -140px;
            top: 0;
        }

    .signs-featured-item:nth-child(4) {
        right: -110px;
        bottom: -50px;
        max-width: 286px;
    }

        .signs-featured-item:nth-child(4) .img-wrap {
            left: -140px;
            top: -34px;
        }

    .signs-featured-item:nth-child(5) {
        right: 767px;
        bottom: -90px;
    }

        .signs-featured-item:nth-child(5) .img-wrap {
            top: -85px;
            left: inherit;
            right: -20px;
        }
}

@media (max-width: 1440px) {
    .standard-container {
        max-width: 1225px;
    }

    /* Hero Section */
    .hero-img-wrap {
        max-width: 1060px;
    }

    /* What Are */
    .what-are-img-wrap {
        max-width: 630px;
    }

    .what-are-content-wrap {
        margin-left: calc(100% - 1390px);
        max-width: 749px;
    }

    /* Featured Section */
    .featured-img-wrap {
        max-width: 600px;
    }

        .featured-img-wrap img {
            /* margin-right: -155px; */
        }

    .signs-featured-item .img-wrap {
        width: 125px;
        height: 125px;
    }

    .signs-featured-item p {
        font-size: 19px;
    }

    .signs-featured-item:nth-child(1) {
        max-width: 295px;
        top: 25px;
        left: -55px;
    }

    .signs-featured-item:nth-child(2) {
        bottom: -34px;
        left: -60px;
        max-width: 304px;
    }

    .signs-featured-item:nth-child(3) {
        max-width: 248px;
        left: 955px;
        top: 19px;
    }

    .signs-featured-item:nth-child(4) {
        right: -55px;
        bottom: -50px;
        max-width: 286px;
    }

    .signs-featured-item:nth-child(5) {
        right: 681px;
        bottom: -118px;
        max-width: 343px;
    }

    .signs-featured-item:nth-child(1) .img-wrap {
        /* right: -121px; */
        /* top: 3px; */
    }

    .signs-featured-item:nth-child(2) .img-wrap {
        top: 9px;
        right: -110px;
    }

    .signs-featured-item:nth-child(3) .img-wrap {
        left: -130px;
        top: 0;
    }

    .signs-featured-item:nth-child(4) .img-wrap {
        left: -130px;
        top: -34px;
    }

    .signs-featured-item:nth-child(5) .img-wrap {
        top: -74px;
        left: inherit;
        right: -49px;
    }

    .featured-body {
        margin-bottom: 25px;
    }
    /* Design Tool and Services */
    .design-services .design-services-heading {
        margin-bottom: 20px;
    }
}

@media (max-width: 1366px) {
    /* Global */
    .standard-container {
        max-width: 1123px;
    }

    /* Section Hero */
    .hero-img-wrap {
        max-width: 1045px;
    }
    /* Premium Services */
    .premium-services-list {
        max-width: 1153px;
    }
    /* Section What Are */
    .what-are-img-wrap {
        max-width: 600px;
    }

    .what-are-content-wrap {
        margin-left: calc(100% - 1255px);
        max-width: 590px;
    }
    /* Downloadble PDF Templates */
    .section-dpt {
        padding-top: 50px;
        padding-bottom: 75px;
    }

    /* Featured Section */
    .featured-img-wrap {
        max-width: 500px;
    }

    .signs-featured-item .img-wrap {
        width: 125px;
        height: 125px;
    }

    .signs-featured-item p {
        font-size: 19px;
    }

    .signs-featured-item:nth-child(1) {
        top: 10px;
        left: -60px;
    }

    .signs-featured-item:nth-child(2) {
        /* max-width: 282px; */
        /* bottom: 188px; */
        /* left: -6px; */
    }

    .signs-featured-item:nth-child(3) {
        top: 19px;
        max-width: 260px;
        left: 867px;
    }

    .signs-featured-item:nth-child(4) {
        right: -70px;
        bottom: -50px;
        max-width: 286px;
    }

    .signs-featured-item:nth-child(5) {
        max-width: 342px;
        right: 657px;
        bottom: -112px;
    }

    .featured-body {
        margin-bottom: 45px;
        margin-top: 35px;
    }

    /* Design and Tool */
    .design-services .design-services-group {
        margin: 0 20px;
    }

    /* Sizing Chart */
    .section-sizing-chart .standard-container {
        max-width: 1305px;
    }

    .tab button {
        padding: 0 30px;
    }

        .tab button:after {
            left: 30px;
            right: 30px;
        }
    /* Related Products */
    .section-related-products .standard-container > a .img-wrap {
        max-width: 326px;
    }
}

@media (max-width: 1366px) and (max-height: 768px) {
    /* Section Hero */
    .hero-img-wrap {
        max-width: 780px;
    }

    /* What are */
    .what-are-img-wrap {
        max-width: 585px;
    }

    .what-are-content-wrap {
        margin-left: calc(100% - 1323px);
        max-width: 729px;
    }
}

@media (max-width: 1280px) {
    /* Section Hero */
    .hero-img-wrap {
        max-width: 805px;
    }

    /* What are */
    .what-are-content-wrap {
        margin-left: calc(100% - 1245px);
        max-width: 630px;
    }

    .what-are-img-wrap {
        max-width: 625px;
    }
}

@media (max-width: 1280px) and (max-height: 720px) {
    /* Section Hero */
    .hero-img-wrap {
        max-width: 665px;
    }
}

@media (max-width: 1270px) {
    .featured-img-wrap {
        max-width: 716px;
    }

    .signs-featured-item:nth-child(1) {
        max-width: 219px;
        top: 27px;
        left: -42px;
    }

    .signs-featured-item:nth-child(2) {
        max-width: 209px;
        bottom: -39px;
        left: -44px;
    }

    .signs-featured-item:nth-child(3) {
        max-width: 217px;
        left: 918px;
        top: 20px;
        order: 4;
    }

    .signs-featured-item:nth-child(4) {
        max-width: 219px;
        right: -49px;
        bottom: 55px;
        order: 5;
        margin-bottom: 0 !Important;
    }

    .signs-featured-item:nth-child(5) {
        max-width: 342px;
        right: 200px;
        bottom: -128px;
    }
}

@media (max-width: 1199px) {
    /* Options & Accessories */
    .section-img-content-alternate h2 {
        margin-bottom: 40px;
    }

    .img-content-alternate-item {
        max-width: 780px;
    }

        .img-content-alternate-item .content-wrap {
            text-align: center;
            max-width: initial;
        }

        .img-content-alternate-item .img-wrap {
            margin: 0 auto;
        }

        .img-content-alternate-item:nth-child(odd) .img-wrap,
        .img-content-alternate-item:nth-child(even) .img-wrap {
            margin: 0 auto 20px;
            display: inline-block;
        }

    .section-options-n-accessories .img-content-alternate-item:nth-of-type(3) .img-wrap {
    }
    /* Section What Are */
    .what-are-img-wrap {
        max-width: 505px;
    }

    .what-are-content-wrap {
        margin: 0 auto;
        text-align: center;
        max-width: 769px;
    }

    .section-what-are h2 {
        margin-bottom: 45px;
        /* text-transform: capitalize; */
    }

    .what-are-content-wrap .what-are-img-wrap {
        margin: 0 auto 45px;
        max-width: 570px;
    }

    /* Related Products */
    .section-related-products figure img {
        height: 236px;
        margin: 0 auto;
        display: inline-block;
    }

    .section-related-products .standard-container > a .img-wrap {
        max-width: 280px;
        height: 219px;
    }

    /* Comparison */
    .table-responsive-wrap {
        overflow-x: scroll;
        width: 100%;
    }
    /* Featured Section */
    .section-signs-features {
        padding-bottom: 40px;
    }

        .section-signs-features .standard-container {
            max-width: 870px;
        }

    .featured-body {
        margin: 0 !important;
    }

    .featured-img-wrap {
        position: static;
        max-width: 527px;
        margin-bottom: 20px;
    }

    .signs-featured-list {
        position: static;
        display: flex;
        flex-direction: column;
    }

    .signs-featured-item {
        position: relative !important;
        display: block !important;
        top: initial !important;
        left: initial !important;
        right: initial !important;
        bottom: initial !important;
        width: 100% !important;
        max-width: initial !important;
        margin: 0 !important;
        padding-left: 160px;
        min-height: 98px;
        margin-bottom: 22px !important;
    }

        .signs-featured-item .img-wrap {
            position: absolute !important;
            top: 0 !important;
            left: 0 !important;
            right: initial !important;
            bottom: initial !important;
        }

        .signs-featured-item:last-child {
            /* margin-bottom: 0 !important; */
            order: 6;
        }



    /* Additional Trade Show Signs */
    .atss-item a .img-wrap {
        transform: scale(.7);
    }

    .atss-list {
        height: 405px;
    }

    .atss-item:nth-of-type(1) {
        margin-left: -403px;
    }

        .atss-item:nth-of-type(1) .img-wrap {
            width: 116px;
            height: 225px;
            transform: initial;
        }

    .atss-item:nth-of-type(2) {
        margin-left: -253px;
    }

        .atss-item:nth-of-type(2) .img-wrap {
            width: 182px;
            height: 253px;
            transform: initial;
        }

    .atss-item:nth-of-type(3) .img-wrap {
        width: 319px;
        height: 231px;
        transform: initial;
    }

    .atss-item:nth-of-type(4) {
        margin-left: 214px;
    }

        .atss-item:nth-of-type(4) .img-wrap {
            width: 91px;
            height: 230px;
            transform: initial;
        }

    .atss-item:nth-of-type(5) {
        margin-left: 318px;
    }

        .atss-item:nth-of-type(5) .img-wrap {
            width: 113px;
            height: 295px;
            transform: initial;
        }
    /* Design tool and services */
    .design-services .design-services-heading {
        font-size: 24px;
        max-width: 235px;
    }

    .design-services .design-services-text {
        min-height: auto;
        font-size: 20px;
    }

    .design-services .design-services-group a {
        font-size: 22px;
    }
    /* Sizing Chart */
    .tab button {
        padding: 0 20px;
        font-size: 20px;
    }

        .tab button:after {
            left: 20px;
            right: 20px;
        }

    /* Review Section */
    .section-product-reviews {
    }

    h2#product-reviews {
        padding-top: 0;
        margin-bottom: 10px;
    }
}

@media (max-width: 1024px) and (max-height: 800px) {
    .hero-img-wrap {
        max-width: 714px;
    }
}

@media (max-width: 1024px) and (max-height: 768px) {
    .hero-img-wrap {
        max-width: 790px;
    }
}

@media (max-width: 991px) {
    #covid-19-bar {
        padding: 20px 10px;
    }

        #covid-19-bar br {
            display: none;
        }
    /* Hero Section */
    .section-hero-full-width {
        padding: 10px 0 15px;
    }

    .hero-head h1 {
        line-height: 1;
        font-size: 45px;
    }

    .hero-img-wrap {
        max-width: 690px;
    }

    /* Section Store Ratings  */
    #shoppersReviews,
    #shoppersReviews * {
        display: block !important;
        padding: 0 !important;
        margin: 0 !important;
        position: static !important;
        text-align: center !important;
    }

    #shoppersReviews {
        padding: 20px 0 !important;
    }

        #shoppersReviews > br {
            display: none !important;
        }

        #shoppersReviews .shopperapproved_widget {
            height: auto !important;
        }

        #shoppersReviews .aggregateRating-container {
            display: flex !important;
            flex-direction: row-reverse;
            justify-content: center;
            align-items: center;
        }

        #shoppersReviews .shopper-approved-container {
            padding: 0 20px !important;
        }

        #shoppersReviews .sa_review {
            height: auto !important;
            text-align: center;
            display: flex !important;
            flex-direction: column-reverse;
        }

            #shoppersReviews .sa_review tbody > tr {
                display: flex !important;
                flex-direction: column-reverse;
                /* text-align: center; */
                align-items: center;
            }

        #shoppersReviews .sa_comments {
            margin-top: -17px !important;
            min-height: 60px;
            height: auto;
            display: block;
            flex: 0 0 auto;
            align-items: flex-end;
            font-size: 16px;
            overflow: visible;
            margin: 0 !important;
            overflow: hidden;
        }

        #shoppersReviews .sa_location {
            display: none !important;
        }

        #shoppersReviews .sa_info > span:first-of-type {
            background: red;
            display: none !important;
        }

        #shoppersReviews .sa_info {
            height: auto;
            display: block !important;
            flex: 0 0 auto;
        }

        #shoppersReviews .sa_date {
            display: none !important;
        }

        #shoppersReviews .sa_displayname {
            font-weight: 300;
        }

        #shoppersReviews .sa_star {
            display: none !important;
        }

        #shoppersReviews .sa-caption {
            display: none !important;
        }

        #shoppersReviews script {
            display: none !important;
        }

        #shoppersReviews .sa_review tbody > tr {
            display: flex !important;
            flex-direction: column-reverse;
            align-items: center;
        }

    /* What Are */
    .section-what-are .standard-container {
        padding: 0 20px;
        text-align: center;
    }

    .section-what-are h2 {
        margin-bottom: 20px;
    }
    /* Downloadble Product Templates */
    .section-dpt {
        padding-top: 0;
        padding-bottom: 40px;
    }

    .downloadable-product-templates {
        margin-top: 25px;
        margin-bottom: 25px;
    }
    /* Featured Section */
    .featured-img-wrap {
        max-width: 600px;
        margin-bottom: 30px;
    }
    /* IMage alternate */
    .img-content-alternate-item .content-wrap {
        max-width: initial;
        text-align: center;
        width: 100%;
    }

    .img-content-alternate-item .img-wrap {
        margin-left: auto;
        margin-right: auto;
    }

        .img-content-alternate-item .img-wrap:nth-child(even),
        .img-content-alternate-item .img-wrap:nth-child(odd) {
            margin: 0 auto 25px;
        }

    .img-content-alternate-item {
        margin-bottom: 30px;
    }

        .img-content-alternate-item:last-child {
            margin-bottom: 0;
        }

            .img-content-alternate-item:last-child p:last-child {
                margin-bottom: 0;
            }

        .img-content-alternate-item .img-container {
            display: flex;
            flex-direction: row-reverse;
            align-items: flex-end;
            margin-bottom: 20px;
        }

            .img-content-alternate-item .img-container .img-wrap {
                flex: 0 0 auto;
                margin-bottom: 0;
            }

    .section-options-n-accessories .img-content-alternate-item:nth-of-type(1) .img-wrap,
    .section-options-n-accessories .img-content-alternate-item:nth-of-type(2) .img-wrap,
    .section-options-n-accessories .img-content-alternate-item:nth-of-type(3) .img-wrap,
    .section-options-n-accessories .img-content-alternate-item:nth-of-type(4) .img-wrap,
    .section-options-n-accessories .img-content-alternate-item:nth-of-type(5) .img-wrap,
    .section-options-n-accessories .img-content-alternate-item:nth-of-type(6) .img-wrap,
    .section-options-n-accessories .img-content-alternate-item:nth-of-type(7) .img-wrap {
        max-width: 550px;
    }
    /* Additional Trade Show Signs */
    .atss-list {
        position: static;
        display: flex;
        flex-flow: row wrap;
        height: auto;
    }

    .atss-item:nth-of-type(1),
    .atss-item:nth-of-type(2),
    .atss-item:nth-of-type(3),
    .atss-item:nth-of-type(4),
    .atss-item:nth-of-type(5),
    .atss-item:nth-of-type(6),
    .atss-item:nth-of-type(7) {
        position: static;
        width: 50%;
        margin: 0 0 20px;
        transform: initial;
        height: auto;
    }

    .atss-item:nth-of-type(1) {
        order: 4;
    }

    .atss-item:nth-of-type(2) {
        order: 3;
    }

    .atss-item:nth-of-type(3) {
        order: 1;
    }

    .atss-item:nth-of-type(4) {
        order: 2;
    }

    .atss-item:nth-of-type(5) {
        order: 6;
    }

    .atss-item:nth-of-type(7) {
        order: 5;
    }

        .atss-item:nth-of-type(1) .img-wrap,
        .atss-item:nth-of-type(2) .img-wrap,
        .atss-item:nth-of-type(3) .img-wrap,
        .atss-item:nth-of-type(4) .img-wrap,
        .atss-item:nth-of-type(5) .img-wrap,
        .atss-item:nth-of-type(6) .img-wrap,
        .atss-item:nth-of-type(7) .img-wrap {
            margin: 0 auto 20px;
            transform: initial;
            width: 100%;
            height: auto;
            justify-self: center;
        }

        .atss-item:nth-of-type(1) a:hover .img-wrap,
        .atss-item:nth-of-type(2) a:hover .img-wrap,
        .atss-item:nth-of-type(3) a:hover .img-wrap,
        .atss-item:nth-of-type(4) a:hover .img-wrap,
        .atss-item:nth-of-type(5) a:hover .img-wrap,
        .atss-item:nth-of-type(6) a:hover .img-wrap,
        .atss-item:nth-of-type(7) a:hover .img-wrap {
            background-size: contain;
        }

    .atss-item:nth-of-type(1) .img-wrap {
        height: 260px;
    }

        .atss-item:nth-of-type(1) .img-wrap img {
            height: 100%;
            width: auto;
        }

    .atss-item:nth-of-type(2) .img-wrap {
        max-width: 195px;
    }

        .atss-item:nth-of-type(2) .img-wrap img {
            height: auto;
            width: 100%;
        }

    .atss-item:nth-of-type(4) .img-wrap {
        width: auto;
        height: 236px;
    }

        .atss-item:nth-of-type(4) .img-wrap img {
            width: auto;
            height: 100%;
        }

    .atss-item:nth-of-type(5) .img-wrap {
        width: auto;
        height: 236px;
    }

        .atss-item:nth-of-type(5) .img-wrap img {
            width: auto;
            height: 100%;
        }

    .atss-item:nth-of-type(7) .img-wrap {
        width: 100%;
        height: auto;
    }

        .atss-item:nth-of-type(7) .img-wrap img {
            width: 100%;
            height: auto;
        }

    .atss-item:nth-of-type(7) a:hover .img-wrap {
        background-size: contain;
    }

    .atss-item a {
        vertical-align: middle;
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        height: 100%;
        justify-content: center;
        align-items: center;
    }

    .atss-item .details {
        display: block;
        font-size: 18px;
        font-weight: 400;
        line-height: 1;
        margin-top: auto;
        width: 100%;
        height: 36px;
    }
    /* Design tool and services */
    .design-services .design-services-text {
        height: auto;
    }

    /* Additional */
    .additional-specs-list li p br {
        display: none;
    }

    /* Gallery Image */
    .section-gallery-image .image-gallery-slider2019-thumbnails {
        margin-top: 30px;
    }

    /* Tool and Services Design */
    .design-services .myrow {
        display: block;
    }

    .design-services .design-services-heading {
        max-width: initial;
        display: block;
        margin: 0 0 20px;
    }

        .design-services .design-services-heading br {
            display: none;
        }

    .design-services .design-services-group {
        margin: 40px;
        max-width: 630px;
    }

        .design-services .design-services-group:last-child {
            margin-bottom: 0;
        }


    /* Sizing Chart */
    .tab {
        padding: 25px 0;
    }

        .tab button {
            padding: 0 10px;
            font-size: 18px;
        }

            .tab button:after {
                left: 10px;
                right: 10px;
            }


    /* How to assemble */
    .section-how-to-install .section-title-sub {
        max-width: 650px;
        margin: 0 auto 50px;
    }

    .how-to-install-item .step-number {
        width: 32px;
        height: 32px;
        font-size: 18px;
    }

        .how-to-install-item .step-number:before {
            left: 32px;
            border: 16px solid transparent;
            border-left: 8px solid #8cc53f;
        }

    .how-to-install-item .details {
        margin-left: 40px;
    }

        .how-to-install-item .details p {
            font-size: 20px;
            text-align: center;
        }

    /* Taking Care */
    .taking-care-list {
        max-width: 600px;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    }

    .taking-care-item {
        width: auto;
        margin-bottom: 20px;
        padding: 0 7.1%;
    }

    /* Related */
    .section-related-products {
        padding: 50px 0;
    }

        .section-related-products .standard-container {
            display: block;
        }

        .section-related-products figure img {
            height: 176px;
        }

        .section-related-products .standard-container > a {
            margin: 0 auto 30px;
            width: calc(100% / 1.5);
        }

            .section-related-products .standard-container > a .img-wrap {
                max-width: 412px;
                height: 333px;
                margin-bottom: 0;
            }

                .section-related-products .standard-container > a .img-wrap img {
                    height: 100%;
                }

            .section-related-products .standard-container > a:last-child {
                margin-bottom: 0;
            }

                .section-related-products .standard-container > a:last-child .img-wrap {
                }
    /* Table Cover Dimensions */

    .section-sizing-chart .standard-container {
        min-height: 535px;
    }

    /* What Are */
    .section-what-are .standard-container {
        padding: 0 20px;
        text-align: center;
    }

    .section-what-are h2 {
        margin-bottom: 20px;
    }

    /* Featured Section */
    .featured-img-wrap {
        max-width: 600px;
        margin-bottom: 30px;
    }

    /* Design tool and services */
    .design-services .design-services-text {
        height: auto;
    }

    /* Gallery Image */
    .section-gallery-image .image-gallery-slider2019-thumbnails {
        margin-top: 30px;
    }

    /* Tool and Services Design */
    .design-services .myrow {
        display: block;
    }

    .design-services .design-services-heading {
        max-width: initial;
        display: block;
        margin: 0 0 20px;
    }

        .design-services .design-services-heading br {
            display: none;
        }

    .design-services .design-services-group {
        margin: 0 auto 40px;
    }

        .design-services .design-services-group:last-child {
            margin-bottom: 0;
        }

    /* Related */
    .section-related-products {
        padding: 50px 0;
    }

        .section-related-products .standard-container {
            display: block;
        }

        .section-related-products figure img {
            height: 176px;
        }

        .section-related-products .standard-container > a {
            margin: 0 auto 30px;
            width: calc(100% / 1.5);
            display: block;
            height: auto;
        }

            .section-related-products .standard-container > a figure {
                height: auto;
            }

            .section-related-products .standard-container > a .img-wrap {
                max-width: 412px;
                width: 100%;
                height: auto;
                margin-bottom: 30px;
                position: static;
            }

                .section-related-products .standard-container > a .img-wrap img {
                    height: auto;
                    position: static;
                    transform: translate(0, 0);
                }
}

@media (max-width: 768px) {
    /* Section What are */
    .section-what-are {
        padding: 40px 0 30px;
    }

        .section-what-are .standard-container {
            display: block;
            padding: 0;
            width: calc(100vw);
        }

    .what-are-content-wrap {
        text-align: center;
        margin: 0 auto;
    }

    .what-are-img-wrap img {
        height: 100%;
    }

    .what-are-content-wrap h2,
    .what-are-content-wrap p {
        padding: 0 20px;
    }

    .what-are-content-wrap h2 {
        margin-bottom: 40px;
    }

    .what-are-content-wrap .what-are-img-wrap {
        margin: 0 auto 50px;
    }

    /* Table */
    .table-wrap table-responsive {
    }
    /* Section What are */
    .section-what-are {
        padding: 40px 0 30px;
    }

        .section-what-are .standard-container {
            display: block;
            padding: 0;
            width: calc(100vw);
        }

    .what-are-content-wrap {
        text-align: center;
        margin: 0 auto;
    }

    .what-are-img-wrap img {
        height: 100%;
    }

    .what-are-content-wrap h2,
    .what-are-content-wrap p {
        padding: 0 20px;
    }

    .what-are-content-wrap h2 {
        margin-bottom: 40px;
    }

    .what-are-content-wrap .what-are-img-wrap {
        margin: 0 auto 50px;
    }

    /* Table */
    .table-wrap table-responsive {
    }

    /* Section Related Products */
    .section-related-products h2 {
        margin-bottom: 30px;
    }
}

@media (max-width: 767px) {
    /* Hero Section */
    .hero-img-wrap {
        max-width: 575px;
    }

    /* Free Design Services */
    .section-free-design-services .standard-full-background {
        display: block;
    }

    /* Sizing Chart */
    .tab {
        padding: 20px 0 10px;
    }

        .tab button {
            margin-bottom: 15px;
        }

    /* Taking Care */
    .taking-care-list {
    }

    .taking-care-item {
        padding: 0 6%;
    }
}

@media (max-width: 575px) {
    .section-default {
        padding: 30px 0;
    }

    .standard-full-background .content-wrap p {
        font-size: 20px;
        margin-bottom: 19px;
    }

    .standard-full-background .btn-free-design {
        font-size: 16px;
        padding: 11px 25px;
        margin-bottom: 0;
        font-weight: 400;
        border-radius: 5px;
    }

    #covid-19-bar ~ .standardWidth {
        margin-top: 0;
    }

    .section-default h2 {
        font-size: 25px;
        margin-bottom: 30px;
    }

    .section-default p {
        font-size: 18px;
    }
    /* Section Hero Full Width */
    .section-hero-full-width {
        padding-top: 10px;
    }

    .hero-head h1 {
        font-size: 30px;
    }

    .hero-head {
        margin-bottom: 0;
        padding: 0;
    }

    .hero-body {
        padding: 20px 0 0;
    }

    .hero-list {
        margin: 0 -8px;
    }

    .hero-list-item {
        font-size: 15px;
        display: inline-block;
        padding: 0 8px;
    }

        .hero-list-item:first-child:before {
            content: "\2022";
            /* visibility: hidden; */
        }

        .hero-list-item:nth-child(3):before {
            content: "\2022";
            /* visibility: hidden; */
        }

    .hero-img-wrap {
        padding: 0 20px;
        box-sizing: border-box;
        max-width: 400px;
        margin: 0 auto;
    }

    .hero-phrase {
        font-size: 16px;
    }

    /* Product Quick Start */
    #LoginNavigationContainer .main-nav {
        max-width: initial;
        width: 100%;
    }

    /* Store Reviews Section */
    #shoppersReviews,
    #shoppersReviews * {
        display: block !important;
        padding: 0 !important;
        margin: 0 !important;
        position: static !important;
        text-align: center !important;
    }

    #shoppersReviews {
        padding: 20px 0 !important;
    }

        #shoppersReviews > br {
            display: none !important;
        }

        #shoppersReviews .shopperapproved_widget {
            height: auto !important;
        }

        #shoppersReviews .aggregateRating-container {
            display: flex !important;
            flex-direction: row-reverse;
            justify-content: center;
            align-items: center;
        }

        #shoppersReviews .shopper-approved-container {
            padding: 0 20px !important;
        }

        #shoppersReviews .sa_review {
            height: auto !important;
            text-align: center;
            display: flex !important;
            flex-direction: column-reverse;
        }

            #shoppersReviews .sa_review tbody > tr {
                display: flex !important;
                flex-direction: column-reverse;
                align-items: center;
            }

        #shoppersReviews .sa_comments {
            margin-top: -17px !important;
            min-height: 60px;
            height: auto;
            display: block;
            flex: 0 0 auto;
            align-items: flex-end;
            font-size: 16px;
            overflow: visible;
            margin: 0 !important;
            overflow: hidden;
        }

        #shoppersReviews .sa_location {
            display: none !important;
        }

        #shoppersReviews .sa_info > span:first-of-type {
            background: red;
            display: none !important;
        }

        #shoppersReviews .sa_info {
            height: auto;
            display: block !important;
            flex: 0 0 auto;
        }

        #shoppersReviews .sa_date {
            display: none !important;
        }

        #shoppersReviews .sa_displayname {
            font-weight: 300;
        }

        #shoppersReviews .sa_star {
            display: none !important;
        }

        #shoppersReviews .sa-caption {
            display: none !important;
        }

        #shoppersReviews script {
            display: none !important;
        }

    /* Premium Services */
    .premium-service-item {
        padding: 0;
        display: block;
        text-align: center;
    }

    .section-premium h2 {
        margin-bottom: 5px;
    }

    .section-premium h3 {
        font-size: 22px;
    }

    .premium-service-item p {
    }

    .premium-service-item .img-wrap {
        position: static;
        margin: 0 auto;
    }
    /* Section What Are */
    .section-what-are {
        padding-bottom: 25px;
    }

    .what-are-content-wrap h2 {
        /* font-size: 28px; */
        margin-bottom: 15px;
    }

    .what-are-content-wrap .what-are-img-wrap {
        max-width: initial;
        width: 85%;
        /* height: 256px; */
        margin: 30px auto 40px;
    }

        .what-are-content-wrap .what-are-img-wrap img {
            /* object-fit: cover; */
            /* object-position: -10px; */
            /* margin-top: -13px; */
        }
    /* Downloadble Product Templates */
    .section-dpt {
        padding-top: 0;
        padding-bottom: 40px;
    }

    .downloadable-product-templates {
        margin-top: 0;
    }

        .downloadable-product-templates h3 {
            font-size: 23px;
        }

    .table-border-nobox {
        /* padding: 0 20px; */
        max-width: 350px;
    }

        .table-border-nobox td,
        .table-border-nobox th {
            font-size: 24px;
            padding: 1em 0;
            border-bottom: 2px solid #d4d4d4;
        }

        .table-border-nobox th {
            border-color: transparent;
        }

        .table-border-nobox:after {
            width: 1px;
        }
    /* Featured Section */
    .featured-img-wrap {
        max-width: 330px;
    }

        .featured-img-wrap img {
            /* margin-right: -96px; */
        }

    .signs-featured-item .img-wrap {
        width: 110px;
        height: 110px;
        overflow: hidden;
        border-radius: 50%;
    }

    .signs-featured-item {
        padding-left: 124px !important;
    }

        .signs-featured-item h3 {
            font-size: 20px;
            margin-bottom: 3px;
        }

        .signs-featured-item p {
            font-size: 16px;
        }
    /* Options & Accessories */
    .img-content-alternate-item .content-wrap p {
        font-size: 20px;
    }

    .img-content-alternate-item .content-wrap h3 {
        font-size: 26px;
    }
    /* Image Gallery Slider */
    .section-gallery-image h2 {
        margin-bottom: 20px;
    }

    .section-gallery-image .standard-container {
        padding-left: 0;
        padding-right: 0;
    }

    .image-gallery-slider2019 .slick-slide > img {
        max-height: initial;
    }

    .image-gallery-slider2019 .slick-slide {
        max-height: initial;
        height: 310px;
    }
    /* Image Content Alternate */
    .section-img-content-alternate h2 {
        margin-bottom: 30px;
    }

    .img-content-alternate-item .img-wrap:nth-child(even),
    .img-content-alternate-item .img-wrap:nth-child(odd) {
        max-width: 310px;
    }

    .img-content-alternate-item:last-child {
        margin-bottom: 0;
    }

    .img-content-alternate-item .content-wrap p:first-of-type:last-of-type,
    .img-content-alternate-item .content-wrap p:not(:first-of-type):last-of-type {
        margin-bottom: 0;
    }

    .img-content-alternate-item:last-child p:last-child {
        margin-bottom: 0;
    }

    .section-img-content-alternate .img-content-alternate-item .img-container .img-wrap:first-child {
        width: calc(100vw / 5);
        margin-left: 1rem;
    }

    .section-img-content-alternate .img-content-alternate-item .img-container .img-wrap:last-child {
        width: calc(100vw / 1.5);
    }
    /* Additional Specs */
    .section-additional-specs {
        padding: 35px 0;
    }

        .section-additional-specs h2 {
            margin-bottom: 20px;
        }

    .additional-specs-list li {
        display: block;
        text-align: center;
        padding: 0;
        border-bottom: 0;
    }

        .additional-specs-list li:last-child {
            margin-bottom: 0;
        }

        .additional-specs-list li:nth-child(1) p {
            max-width: 214px;
            margin: 0 auto;
        }

        .additional-specs-list li h3 {
            margin: 0 auto 5px;
            font-weight: 500;
            font-size: 22px;
        }

        .additional-specs-list li p {
            font-size: 21px;
            margin-bottom: 20px;
            padding-right: 0;
            font-weight: 200;
        }

    .atss-list {
        font-size: 0;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    }

    .atss-item {
        display: inline-block;
        width: 50%;
        font-size: initial;
        margin-bottom: 20px;
    }

        .atss-item .img-wrap {
            /* max-width: 145px; */
            width: 100%;
            margin: 0 auto 15px;
        }

    .section-atss .standard-container > .img-wrap {
        display: none;
    }
    /* Free design and Services */
    .section-free-design-services {
        padding: 0;
    }

    .section-related-products .standard-container > a:last-child {
    }

    .design-services .design-services-group {
        margin: 0 0 30px;
    }

    .design-services .standard-container {
        padding: 0;
    }

    .design-services .design-services-heading {
        display: block;
        padding: 0 45px;
    }

    .design-services-group:last-of-type .design-services-heading {
        max-width: 340px;
    }

    .design-services .design-services-text {
        font-size: 20px;
        max-width: 400px;
        margin: 20px 15px 5px;
    }

    .design-services .design-services-group a {
        font-size: 20px;
    }
    /* Sizing Chart */
    .section-sizing-chart .standard-container {
        padding: 0;
    }

        .section-sizing-chart .standard-container h2 {
            margin-bottom: 20px;
        }

    .tab {
        display: flex;
        padding: 0;
        flex-flow: row wrap;
        justify-content: space-around;
    }

    .section-sizing-chart .standard-container {
        min-height: 260px;
    }

    .tab button {
        font-size: 20px;
        max-width: 105px;
    }

        .tab button:before {
            content: "";
            display: block;
            position: absolute;
            top: 21px;
            height: 1px;
            left: 30px;
            right: 30px;
        }

        .tab button.active:before {
            background: #0097d5;
        }

        .tab button:after {
            bottom: 1px;
        }

    .tabcontent .img-wrap {
    }

        .tabcontent .img-wrap img {
            height: 187px;
            object-fit: cover;
            object-position: -25px;
        }

    #ft8-s .img-wrap img {
        object-position: -16px;
    }

    #ft10-s .img-wrap img {
        object-position: -17px;
    }

    #ft20-s .img-wrap img {
        object-position: -25px;
    }

    #ft6-c .img-wrap img {
        object-position: -14px;
    }

    #ft8-c .img-wrap img {
        object-position: -17px;
    }

    #ft10-c .img-wrap img {
        object-position: -20px;
    }
    /* Customers Review Section */
    #review_image {
        display: none;
    }

    #product_page #sa_sort {
        display: block;
        margin-top: 20px;
        text-align: center;
        margin: 20px auto 0;
    }

    #product_page .paging {
        height: auto;
        padding: 0;
        text-align: center;
    }

    #shopper_review_page {
        padding-bottom: 35px;
        margin-left: 0;
        margin-right: 0;
        width: 100%;
    }

    /* Product Quick Start */
    .section-product-reviews #review_header {
        padding: 0;
    }
    /* How to assemble */
    .section-how-to-install .section-title {
        max-width: 327px;
        margin: 0 auto 20px;
        display: block;
        text-align: center;
    }

    .section-how-to-install .section-title-sub {
        max-width: 337px;
        margin: 0 auto 45px;
    }

    .how-to-install-list {
        padding-bottom: 0;
    }

    .how-to-install-item {
        display: block;
        padding-left: 0;
        text-align: center;
    }

        .how-to-install-item:last-of-type {
            margin-bottom: 15px;
        }

        .how-to-install-item:nth-of-type(4) {
            padding-left: 0;
        }

    .section-how-to-install .downlad-pdf {
        font-size: 16px;
        font-weight: 300;
        max-width: 250px;
        display: inline-block;
    }

    .how-to-install-item .img-wrap {
        max-width: 270px;
        margin: 0 auto 25px;
    }

    .how-to-install-item .details {
        margin: 0 auto;
    }
    /* Related Products */
    .section-related-products h2 {
        margin-bottom: 5px;
    }

    .section-related-products figure img {
        width: 90%;
        height: auto;
        max-width: 355px;
    }

    .section-related-products .standard-container > a {
        width: 100%;
        margin-bottom: 40px;
    }

    /* Installation and Care */
    .section-installation ul li {
        display: flex;
        /* justify-content: center; */
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

        .section-installation ul li h2 {
            order: 1;
        }

        .section-installation ul li img {
            order: 2;
            margin: 0 auto 15px;
        }

        .section-installation ul li p {
            order: 3;
        }

    .section-default {
        padding: 30px 0;
    }

    .standard-full-background .content-wrap p {
        font-size: 20px;
        margin-bottom: 19px;
    }

    .standard-full-background .btn-free-design {
        font-size: 16px;
        padding: 11px 25px;
        margin-bottom: 0;
        font-weight: 400;
        border-radius: 5px;
    }

    /* Section Hero Full Width */
    .section-hero-full-width {
        padding-top: 10px;
    }

    .hero-head h1 {
        font-size: 30px;
    }

    .hero-head {
        margin-bottom: 0;
        padding: 0;
    }

    .hero-body {
        padding: 20px 0 0;
    }

    .hero-list {
        margin: 0 auto;
        overflow: hidden;
    }

    .hero-list-item {
        font-size: 15px;
        display: inline-block;
        /* padding: 0; */
    }

        .hero-list-item:not(:first-child):not(:last-child) {
            padding: 0 12px;
        }

        .hero-list-item:before {
            left: -3px;
        }

        .hero-list-item:nth-child(3):before {
            left: -9px;
        }

        .hero-list-item:nth-child(3):before {
            content: "\2022";
            /* visibility: hidden; */
        }

    .hero-img-wrap {
        padding: 0 20px;
        box-sizing: border-box;
        max-width: 400px;
        margin: 0 auto;
    }

    .hero-phrase {
        font-size: 16px;
    }

    /* Product Quick Start */
    #LoginNavigationContainer .main-nav {
        max-width: initial;
        width: 100%;
    }

    /* Featured Section */
    .section-signs-features {
        overflow: hidden;
    }

    .featured-img-wrap img {
        /* margin-right: -96px; */
    }

    .signs-featured-item .img-wrap {
        width: 110px;
        height: 110px;
        overflow: hidden;
        border-radius: 50%;
    }

    .signs-featured-item {
        padding-left: 124px !important;
    }

        .signs-featured-item h3 {
            font-size: 20px;
            margin-bottom: 3px;
        }

        .signs-featured-item p {
            font-size: 16px;
            margin-bottom: 10px;
        }

    /* Additional Specs */
    .section-additional-specs {
        padding: 35px 0;
    }
    /* Additional Trade Show Sign 575*/
    .atss-item:nth-of-type(1) .img-wrap {
        height: 180px;
    }

    .atss-item:nth-of-type(2) .img-wrap {
        max-width: 140px;
    }

    .atss-item:nth-of-type(3) .img-wrap {
        max-width: 160px;
        height: auto;
    }

        .atss-item:nth-of-type(3) .img-wrap img {
            height: auto;
        }

    .atss-item:nth-of-type(4) .img-wrap {
        height: 160px;
    }

    .atss-item:nth-of-type(5) .img-wrap {
        height: 170px;
    }
    /* Design */
    .design-services .design-services-group:last-child design-services-heading {
    }

    /* Taking Care 575 */
    .section-taking-care {
    }

    .taking-care-list {
        justify-content: center;
    }

    .taking-care-item {
        padding: 0 13px;
    }

        .taking-care-item .img-wrap img {
            height: 78px;
        }

        .taking-care-item span {
            font-size: 16px;
            font-weight: 300;
        }
    /* Related Products */
    .section-related-products h2 {
        margin-bottom: 40px;
    }


    /* Footer Section */
    div#next-day-asterisk {
        margin: 20px auto;
    }
}

@media (max-width: 414px) {
    .section-what-are h2 {
        padding: 0;
        /* font-size: 25px; */
    }

    .section-what-are .what-are-content-wrap p {
        padding: 0;
        /* font-size: 22px; */
        padding: 0 10px;
    }

    /* Taking Care 414 */
    .section-taking-care h2 {
        max-width: 304px;
        margin: 0 auto 23px;
    }

    .section-taking-care h3 {
        margin-bottom: 5px;
        font-size: 20px;
    }
}

@media (max-width: 375px) {
    /* Product Quick Start */
    .hero-head {
        padding: 0;
    }

    .hero-list {
        margin: 0;
    }

    .hero-list-item {
        padding: 0 5px;
        font-size: 14px;
    }
    /* Premium Services */
    .premium-service-item p {
        /* font-size: 20px; */
    }
    /* Section Downloadable Content */
    .table-border-nobox th span {
        display: block;
    }
    /* Design tool and services */
    .design-services .design-services-heading {
        padding: 0 25px;
    }

    /* Product Review Section */
    #sa_review_section .product_review .images {
        margin: 2px 0 0;
    }

        #sa_review_section .product_review .images > div:first-child {
            margin-bottom: 5px;
        }
    /* Sizing Chart */
    #ft8-s .img-wrap img {
        object-position: -16px;
    }

    #ft10-s .img-wrap img {
        object-position: -17px;
    }

    #ft20-s .img-wrap img {
        object-position: -25px;
    }

    #ft6-c .img-wrap img {
        object-position: -14px;
    }

    #ft8-c .img-wrap img {
        object-position: -17px;
    }

    #ft10-c .img-wrap img {
        object-position: -20px;
    }
    /* How to assemble */
    .how-to-install-item .img-wrap {
        max-width: 235px;
    }

    .how-to-install-item .details p {
        font-size: 18px;
    }
    /* Related Section */
    .section-related-products .standard-container a:nth-of-type(2) .img-wrap {
        height: auto;
    }
    /* Section What are */
    .what-are-content-wrap .what-are-img-wrap {
        width: 100%;
    }

    .section-what-are h2 {
        font-size: 27px;
    }
    /* Additional Specs */
    .additional-specs-list li h3 {
        font-size: 20px;
    }

    .additional-specs-list li p {
        font-size: 19px;
    }

    .additional-specs-list li:nth-child(1) p {
        max-width: 190px;
    }
    /* Sizing Chart */
    .tabcontent .img-wrap img {
        height: 171px;
        object-position: -23px;
    }
}

@media (max-width: 360px) {
    /* Hero Section */
    .hero-img-wrap {
        max-width: 317px;
    }

    .hero-list-item {
        padding: 0 8px;
        font-size: 15px;
    }

    .hero-footer {
        padding: 0 15px;
    }

    /*  */
    .design-services .design-services-heading {
        padding: 0 20px;
    }

    #sa_review_section .rating {
        display: block;
        height: auto;
        position: relative;
        width: 100%;
        /* vertical-align: middle; */
        margin-bottom: 20px;
    }

        #sa_review_section .rating:after {
            content: '';
            display: block;
            clear: both;
        }

    /* Section What are 360*/
    .what-are-content-wrap .what-are-img-wrap {
        /* width: 100%; */
        height: auto;
    }

        .what-are-content-wrap .what-are-img-wrap img {
        }

    .section-what-are h2 {
        font-size: 26px;
    }

    .section-what-are h2 {
        font-size: 25px;
    }

    /* Sizing Chart */
    .tabcontent .img-wrap img {
        height: 164px;
        object-position: -22px;
    }

    #ft8-s .img-wrap img {
        object-position: -15px;
    }

    #ft10-s .img-wrap img {
        object-position: -15px;
    }

    #ft20-s .img-wrap img {
        object-position: -23px;
    }

    #ft6-c .img-wrap img {
        object-position: -18px;
    }

    #ft8-c .img-wrap img {
        object-position: -18px;
    }

    #ft10-c .img-wrap img {
        object-position: -17px;
    }
    /* Taking Care */
    .taking-care-item {
        padding: 0 11px;
    }
}

@media (max-width: 320px) {
    /* Global */
    .standardWidth {
        margin-top: 68px;
    }

    /* Hero Section */
    .hero-list-item {
        font-size: 14px;
    }

        .hero-list-item:first-child:before {
            content: "\2022";
            visibility: visible;
        }

        .hero-list-item:nth-child(3):before {
            content: "\2022";
            visibility: visible;
        }

    .hero-head h1 {
        font-size: 29px;
    }

    .hero-head {
        padding: 0 10px;
    }

        .hero-head h1 {
            font-size: 26px;
        }

    .hero-list-item {
        font-size: 12px;
    }

    /* Premium Services */
    .section-premium h2 {
        font-size: 23px;
    }

    .premium-service-item h3 {
        font-size: 20px;
        margin-bottom: 10px;
    }

    .premium-service-item p {
        font-size: 16px;
    }
    /* What are Pop Up Display */
    .what-are-content-wrap .what-are-img-wrap {
        width: 100%;
    }

    .section-what-are h2 {
        font-size: 23px;
    }

    .section-what-are .what-are-content-wrap p {
        font-size: 16px;
        padding: 0 10px;
    }
    /* Sizing Chart */
    .tabcontent .img-wrap img {
        height: 146px;
        object-position: -20px;
    }

    #ft8-s .img-wrap img {
        object-position: -15px;
    }

    #ft10-s .img-wrap img {
        object-position: -15px;
    }

    #ft20-s .img-wrap img {
        object-position: -20px;
    }

    #ft6-c .img-wrap img {
        object-position: -18px;
    }

    #ft8-c .img-wrap img {
        object-position: -18px;
    }

    #ft10-c .img-wrap img {
        object-position: -17px;
    }
    /* Related Product */
    .section-related-products .standard-container > a:last-child {
    }

    .section-related-products .standard-container > a .img-wrap {
        height: 287px;
        width: 100% !important;
        max-width: initial;
        min-height: initial;
    }

    .taking-care-item {
        padding: 0 4px;
    }
}

@media (min-width: 576px) {
    .refnote {
        display: none;
    }

    .atss-list {
        /* display: none; */
    }
}


.taking-care-item .img-wrap img {
    width: auto;
}

