<div class="infopage-section">
    <p class="infopage-paragraph left"><strong>Hey, our legal team wants us to tell you: PLEASE READ THE TERMS AND CONDITIONS OF USE CAREFULLY BEFORE USING THIS SITE (We know we’re yelling with all caps, but this stuff is really important).</strong></p>
    <p class="infopage-paragraph left">We maintain this web site as a service to our customers, and when you use our site you’re agreeing to comply with and be bound by the following terms of use. Check out our terms and conditions carefully and come back every so often to see if we’ve made any changes. If you don’t agree to the terms and conditions, you shouldn’t review information or obtain goods, services or products from our site.</p>
    <p class="infopage-paragraph left"><strong>PLEASE NOTE: YOU MUST BE 18 YEARS OLD OR OLDER AND A U.S. RESIDENT IN ORDER TO PARTICIPATE ON OUR SITE.</strong></p>
    <p class="infopage-paragraph left">
        <strong>These Terms and Conditions of Use (hereinafter the “Agreement”) set forth the terms and conditions that apply to your use of <a href="https://www.signs.com">https://www.signs.com</a> (the “Site”). Please read the Agreement carefully. The Agreement governs your access and use of the Site as well as the provision and sale of products and services by Signs.com, Inc., and/or its subsidiaries (collectively referred to hereinafter as “Signs”), as the context may require.</strong>
    </p>
    <p class="infopage-paragraph left">
        <strong>Every offer of a Signs product and/or service on our Site as well as every transaction, order and agreement that is concluded through our Site is governed by this Agreement. The applicability of any terms and conditions of the customer or any third party on behalf of the customer is expressly dismissed and shall not apply, even if Signs has not specifically rejected them. You agree to use this Site in a responsible manner that is in full compliance with this Agreement and with your local laws and regulations, including export and import regulations</strong>
    </p>
</div>
<div class="infopage-section  left">
    <ol class="infopage-ol">
        <li>
            <strong>Acceptance of Agreement.</strong> You agree to the terms and conditions outlined in this Agreement with respect to the Site. This Agreement may be amended by us at any time and from time to time without specific notice to you. The latest Agreement will be posted on the Site, and you should review this Agreement prior to using the Site.
        </li>
        <li>
            <strong>Copyright &amp; Content.</strong>  This Site contains graphics, photographs, images, document layouts, artwork, text, fonts, software tools, and other information (referred to hereinafter as “Content”). This Site and all Content are the copyrighted property of Signs or the copyrighted property of parties from whom Signs has licensed such property. All rights in this Site and its Content are reserved worldwide. It is strictly prohibited to retain, copy, distribute, publish, or use any portion of the Content except as expressly allowed in this Agreement. Signs reserves the right to add to, delete from, or modify any part of Content at any time without prior notice. Any modifications to Content, whether by you or Signs remain the property of Signs. The sign design tools provided on this Site employ a limited number of elements, including icons, fonts, color schemes, and design effects. Signs reserves the right to use all such elements and to make all such elements available for use by other parties in the future. You do not obtain any right or claim to any of the individual sign design elements through your creation of a sign design and/or your incorporation of a sign design into one or more products. Other Signs customers may use the design tools to create signs that have similar or identical combinations of these elements and Signs does not guarantee that your sign will not have similarities to signs designed and used by other parties. Signs provides no warranty of any kind that sign designs created using the design tools will not infringe, or be subject to a claim of infringing, the trademark or other rights of another party. It is solely your responsibility to obtain the advice of an attorney regarding whether the sign design is legally available for your use and does not infringe the rights of another party.

        </li>
        <li>
            <strong>Trademarks.</strong>  Any trademarks and/or service marks (including logos and designs) found on the Site that are trademarks/service marks that identify Signs and the goods and/or services provided by Signs may not be used under any circumstances without the prior written authorization of Signs.
            <br><br>
            Without limitation, no portion of Content may be utilized as a trademark or service mark, for any pornographic use, for any unlawful purpose of use, to defame any person, to violate any person’s right of privacy or publicity, to infringe upon any copyright, trade name, trademark, service mark or other intellectual property right of any person or entity.
        </li>
        <li>
            <strong>Premium Art.</strong> The use of premium art is granted as a one-time, non-exclusive, non-transferable, worldwide license, to incorporate the premium art into printed materials intended for your advertising, marketing, and promotional purposes. You must not use the premium art to infringe the intellectual property rights of any person or entity; incorporate the art into a trademark, logo, or service mark; use the art in a pornographic, defamatory, or otherwise unlawful manner; use the art in a way that depicts models and/or property in connection with a subject that a reasonable person could consider unflattering, immoral, or controversial; or remove, obscure or alter any proprietary notices associated with the art.
        </li>
        <li>
            <strong>Other Intellectual Property.</strong> You are solely responsible for your use of Content in combination with any other images, graphics, text or other materials you incorporate into your Products. You agree that you will not include any text, image, design, trademark, service mark, or any copyrighted work of any third party in your Products unless you have obtained the appropriate authorizations from the owners. <br><br>
            You warrant that your Products do not infringe upon any rights of any third party, including copyright, trademark, right of publicity or privacy, and will not libel or defame any third party, and that you have all required rights or permissions necessary to incorporate third party material into your Products. By placing an order on this Site, you warrant that you have all necessary permission, right and authority to place the order and you authorize Signs to produce the Products on your behalf. <br><br>
            You grant Signs the right to copy, modify, distribute, use, create derivative works of and vectorize any content you have uploaded for the purpose of fulfilling your order and/or marketing products or services to you. Moreover, you warrant that you have sufficient rights to permit Signs to copy, distribute, use, modify, create derivative works of and vectorize any uploaded content for the purpose of fulfilling your order and/or marketing products or services to you.
        </li>
        <li>
            <strong>Offensive or Demeaning Materials.</strong> You agree that you will not use the Site to produce any materials or products that are offensive, unlawful, harassing, libelous, threatening, harmful, obscene, profane, malicious, abusive, vulgar, defamatory, pornographic, indecent, inflammatory, tortious, hateful; racially, ethnically or otherwise objectionable; portraying irresponsible use of alcohol or other substances; advocating persecution based on gender, age, religion, race, disability or national origin; containing explicit sexual content; invasive of another's rights including but not limited to rights of celebrity, privacy and intellectual property, including but not limited to patent, trademark, trade secret, copyright, or other proprietary rights of any third party; or is otherwise inappropriate for Signs’ production (collectively, “Undesirable Activities”). Signs may terminate its service to customers found to be using Signs to engage in Undesirable Activities. Signs recognizes that the definition of “offensive” and “demeaning” will vary. Thus, Signs reserves the right to refuse any order it deems to be offensive or demeaning.  <br><br>
            Signs reserves the right, in Signs’ sole discretion, to refuse to accept any content provided by you to Signs or to process any order at any time and for any reason. Signs also may terminate its service to and/or the accounts of customers found to be using Signs to engage in Undesirable Activities or otherwise violating this Agreement. Designs that do not meet this policy under this Agreement, will be removed and/or orders cancelled. You agree that Signs shall have no liability of any kind to you or to any third party arising from such refusal or termination.
        </li>
        <li>
            <strong>Submissions.</strong> All suggestions, ideas, notes, concepts and other information you may from time to time send to us (collectively, “Submissions”) shall be deemed and shall remain our sole property and shall not be subject to any obligation of confidence on our part. Without limiting the foregoing, we shall be deemed to own all known and hereafter existing rights of every kind and nature regarding the Submissions and shall be entitled to unrestricted use of the Submissions for any purpose, without compensation to the provider of the Submissions. <br><br>
            Signs reserves the right to monitor all Submissions and to remove any Submission which it considers in its absolute discretion to be offensive, demeaning, or an Undesirable Activity in breach of this Agreement. By posting Submissions, uploading Submissions, or otherwise utilizing this site, you warrant and represent that:
            <ol>
                <li>The Submissions do not contain anything that is offensive, demeaning, or that is otherwise an Undesirable Activity;</li>
                <li>The Submissions do not contain any contaminating or destructive features or devices such as viruses, time bombs or coding designed to interrupt, destroy or limit the functionality of this Site or any of this Site’s user’s computer equipment or software;</li>
                <li>The Submissions are in compliance with all applicable laws.</li>
            </ol>
        </li>
        <li>
            <strong>Products.</strong> Signs does not make any claims about the legal compliance or registration of signs, or any other products sold by Signs. You agree to check with any applicable legal authority for the standards, rules and regulations governing the types of signs, or other products permitted for your particular use.
        </li>
        <li>
            <strong>Indemnification.</strong> By using this Site, you agree to indemnify, defend, and hold harmless Signs and all parties from whom Signs has licensed portions of Content, and their directors, officers, agents, employees and contractors, against all losses (including without limitation, direct, indirect, and consequential loss) claims, liability, damages, costs and expenses, including reasonable legal fees and expenses arising out of or related to (i) your breach of this Agreement or (ii) any suit, claim, or demand arising from or relating to any text, photograph, image, graphic or other material you incorporated into Products that was not part of the standard Site Content. As to clause (ii), you agree that we have the right to control the defense of any such suit, claim or demand.
        </li>
        <li>
            <strong>Color Matching.</strong> You agree that while Signs is committed to doing everything we can to match the colors that you see on our website, in our design tool, and in uploaded files, Signs cannot guarantee color matches due to the difference in color (RGB values) displays on computer screens and our print process color values (CMYK) and other factors. We do offer Pantone color matching at a unique cost and production time.
        </li>
        <li>
            <strong>Limited Right to Use.</strong> The viewing, printing or downloading of any content, graphic, form or document from the Site grants you only a limited, nonexclusive license for use solely by you for your own personal use and not for republication, distribution, assignment, sublicense, sale, preparation of derivative works or other use. No part of any content, form or document may be reproduced in any form or incorporated into any information retrieval system, electronic or mechanical, other than for your personal use (but not for resale or redistribution).
        </li>
        <li>
            <strong>Pricing errors.</strong> We work very hard to make sure all the information on the Site is accurate. But sometimes mistakes happen. When they do, we fix them as soon as possible. We reserve the right to withdraw any offer and to correct any errors or omissions. If you have already submitted an order and we discover a pricing error, we'll contact you as soon as possible. Depending on your wishes, we'll either cancel your order and issue a full refund, or we'll update the amount owed to reflect accurate pricing. Prices and availability are subject to change without notice.
        </li>
        <li>
            <strong>Editing, Deleting and Modification.</strong>  We reserve the right in our sole discretion to edit or delete any documents, information or other content appearing on the Site, including this Agreement, without further notice to users of the Site.
        </li>
        <li>
            <strong>Nontransferable.</strong> Your right to use the Site is personal to you and is not transferable to any other person or entity. Any password or right given to you to obtain information or documents is not transferable and may only be used by you.
        </li>
        <li>
            <strong>Disclaimer.</strong> THE INFORMATION FROM OR THROUGH THE SITE IS PROVIDED “AS-IS,” “AS AVAILABLE,” AND ALL WARRANTIES, EXPRESS OR IMPLIED, ARE DISCLAIMED (INCLUDING BUT NOT LIMITED TO THE DISCLAIMER OF ANY IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE). THE INFORMATION AND SERVICES MAY CONTAIN BUGS, ERRORS, PROBLEMS OR OTHER LIMITATIONS. WE AND OUR AFFILIATED PARTIES HAVE NO LIABILITY WHATSOEVER FOR YOUR USE OF ANY INFORMATION OR SERVICE. IN PARTICULAR, BUT NOT AS A LIMITATION, WE AND OUR AFFILIATED PARTIES ARE NOT LIABLE FOR ANY INDIRECT, SPECIAL, INCIDENTAL OR CONSEQUENTIAL DAMAGES (INCLUDING DAMAGES FOR LOSS OF BUSINESS, LOSS OF PROFITS, LITIGATION, OR THE LIKE), WHETHER BASED ON BREACH OF CONTRACT, BREACH OF WARRANTY, TORT (INCLUDING NEGLIGENCE), PRODUCT LIABILITY OR OTHERWISE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGES. THE NEGATION OF DAMAGES SET FORTH ABOVE ARE FUNDAMENTAL ELEMENTS OF THE BASIS OF THE BARGAIN BETWEEN US. THIS SITE AND THE INFORMATION WOULD NOT BE PROVIDED WITHOUT SUCH LIMITATIONS. NO ADVICE OR INFORMATION, WHETHER ORAL OR WRITTEN, OBTAINED BY YOU FROM US THROUGH THE SITE SHALL CREATE ANY WARRANTY, REPRESENTATION OR GUARANTEE NOT EXPRESSLY STATED IN THIS AGREEMENT.
        </li>
        <li>
            <strong>Limits.</strong> All responsibility or liability for any damages caused by viruses contained within the electronic file containing the form or document is disclaimed. WE WILL NOT BE LIABLE TO YOU FOR ANY INCIDENTAL, SPECIAL OR CONSEQUENTIAL DAMAGES OF ANY KIND THAT MAY RESULT FROM USE OF OR INABILITY TO USE OUR SITE OR PRODUCTS. Our maximum liability to you under all circumstances will be equal to the purchase price you pay for any goods, services or information.
        </li>
        <li>
            <strong>Use of Information.</strong> We reserve the right, and you authorize us, to the use and assignment of all information regarding Site uses by you and all information provided by you in any manner consistent with our Privacy Policy.
        </li>
        <li>
            <strong>Third-Party Services.</strong> We may allow access to or advertise third-party merchant sites (“Merchants”) from which you may purchase or otherwise obtain certain goods or services. You understand that we do not operate or control the products or services offered by Merchants. Merchants are responsible for all aspects of order processing, fulfillment, billing and customer service. We are not a party to the transactions entered into between you and Merchants. YOU AGREE THAT USE OF SUCH MERCHANTS IS AT YOUR SOLE RISK AND IS WITHOUT WARRANTIES OF ANY KIND BY US, EXPRESSED, IMPLIED OR OTHERWISE INCLUDING WARRANTIES OF TITLE, FITNESS FOR PURPOSE, MERCHANTABILITY OR NON-INFRINGEMENT UNDER NO CIRCUMSTANCES ARE WE LIABLE FOR ANY DAMAGES ARISING FROM THE TRANSACTIONS BETWEEN YOU AND MERCHANTS OR FOR ANY INFORMATION APPEARING ON MERCHANT SITES OR ANY OTHER SITE LINKED TO OUR SITE.
        </li>
        <li>
            <strong>Third-Party Merchant Policies.</strong> All rules, policies (including privacy policies) and operating procedures of Merchants will apply to you while on such sites. We are not responsible for information provided by you to Merchants. We and the Merchants are independent contractors and neither party has authority to make any representations or commitments on behalf of the other.
        </li>
        <li>
            <strong>Privacy Policy.</strong> Our Privacy Policy, available <a href="https://www.signs.com/privacy/">here</a> as it may change from time to time, is a part of this Agreement.
        </li>
        <li>
            <strong>Payments.</strong> You represent and warrant that if you are purchasing something from us or from our Merchants that (i) any credit card information you supply is true, correct and complete, (ii) charges incurred by you will be honored by your credit card company, and (iii) you will pay the charges incurred by you at the posted prices, including any shipping fees and applicable taxes.
        </li>
        <li>
            <strong>Securities Laws.</strong> This Site may include statements concerning our operations, prospects, strategies, financial condition, future economic performance and demand for our products or services, as well as our intentions, plans and objectives, that are forward-looking statements. These statements are based upon a number of assumptions and estimates which are subject to significant uncertainties, many of which are beyond our control. When used on our Site, words like “anticipates,” “expects,” “believes,” “estimates,” “seeks,” “plans,” “intends” and similar expressions are intended to identify forward-looking statements designed to fall within securities law safe harbors for forward-looking statements. The Site and the information contained herein does not constitute an offer or a solicitation of an offer for sale of any securities. None of the information contained herein is intended to be, and shall not be deemed to be, incorporated into any of our securities-related filings or documents.
        </li>
        <li>
            <strong>Links to Other Web Sites.</strong> The Site contains links to other Websites. We are not responsible for the content, accuracy or opinions expressed in such Websites, and such Websites are not investigated, monitored or checked for accuracy or completeness by us. Inclusion of any linked Website on our Site does not imply approval or endorsement of the linked Web site by us. If you decide to leave our Site and access these third-party sites, you do so at your own risk.
        </li>
        <li>
            <strong>Return Policy.</strong> Our Return Policy, available at <a class="faq-link" href="https://www.Signs.com/Return-Policy/">
            https://www.Signs.com/Return-Policy/
        </a>, as it may change from time to time, is a
            part of this Agreement. Due to the nature of our online site, and the products listed,
            we have a strict return policy.
        </li>
        <li>
            <strong>Our Processing Policy.</strong> Available at <a class="faq-link" href="https://www.Signs.com/processing-policy/">
            https://www.Signs.com/processing-policy/
        </a>, as it may change from time to time,
            is a part of this Agreement.
        </li>
        <li>
            <strong>Resellers and wholesalers.</strong> Resellers and wholesalers do not qualify
            for any promotional discounts.
        </li>
        <li>
            <strong>Venue; Applicable Law.</strong>  YOU AGREE THAT ALL ACTIONS OR PROCEEDINGS ARISING DIRECTLY OR INDIRECTLY OUT OF THIS AGREEMENT, OR YOUR USE OF THE SITE OR ANY SAMPLES OR PRODUCTS OBTAINED BY YOU THROUGH SUCH USE, SHALL BE LITIGATED IN UTAH. YOU ARE EXPRESSLY SUBMITTING AND CONSENTING IN ADVANCE TO SUCH JURISDICTION IN ANY ACTION OR PROCEEDING IN ANY OF SUCH COURTS, AND ARE WAIVING ANY CLAIM THAT UTAH IS AN INCONVENIENT FORUM OR AN IMPROPER FORUM BASED ON LACK OF VENUE. This Site is created and controlled by Signs, in the State of Utah, USA. As such, the laws of Utah will govern the terms and conditions contained in this Agreement and elsewhere throughout the Site, without giving effect to any principles of conflicts of laws.
        </li>
        <li>
            <strong>Lapsed Accounts.</strong> In order to keep the Signs.com account roster current and manageable, if a User does not access his or her account for a period of thirty days or more, Signs.com may, in its sole discretion, terminate such User’s account. Signs will endeavor to notify a User of Signs’ intent to terminate such User’s account by notice to such User’s provided email address at least seven days prior to deactivation. If the User fails to respond to such email notice within seven days after the day it is sent by Signs, such User’s account will be terminated as noted above. Therefore, Signs strongly recommends that all Users keep their accounts and contact data current and in use. While Signs desires to prevent active accounts from being terminated prematurely, Signs has no obligation to maintain accounts that appear to Signs to have been abandoned. Each User agrees that failure to access his or her account for thirty days or more conclusively indicates that such Member’s account has been abandoned and that the account may therefore be terminated.
        </li>
        <li>
            <strong>Verify User's Address.</strong> Signs reserves the right to contact a User via email to verify the accuracy of account information (including the User’s correct name and address) that is needed to provide the User with the information he or she requested from Signs.
        </li>

        <li>
            <strong>Military Discount.</strong> Signs offers a military discount of 10%. This applies to active duty members, reserves, veterans and retirees — including spouses and dependent family members — of the U.S. Air Force, Army, Navy, Marines, National Guard and Coast Guard. We ask that an APO/FPO address, .mil email address or valid military identification card be used to verify military status for this discount if requested by Signs. The military discount may not be combined with any other offer unless expressly written. Please call us at 1.888.222.4929 to have the discount applied to your order.
        </li>
        <li>
            <strong>Discounts.</strong> Signs reserves the right to modify or cancel promotional codes and discounts at any time. Each promotional code or discount can be used only once, unless otherwise specified. The promotion or discount is subject to all restrictions set forth in the offer. The promotional code or discount is not transferable and may not be resold. Promotional codes and discounts may not be combined with other offers. All promotional codes and discounts are void where prohibited. If you violate any of the Terms and Conditions in this Agreement, the promotion will be invalid, and any discount will not apply. Promotional codes and discounts may not be exchanged for cash, credit or Gift Certificates.
        </li>
        <li>
            <strong>Price Matching Policy.</strong>
            <i>Signs.com will gladly match the price on an order at the time of purchase or within 5 business days after your purchase. You must send a screenshot or other documentation showing the lower price and we will refund you the difference. Items must be identical in material, size, quantity, options, and hardware. In addition, the competitor must have a similar production time and use the same printing technology for the products offered. We reserve the right to verify the authenticity of any offer we are asked to price match. Signs.com does not price match to wholesale or trade pricing. All price matching is done in US dollars. Signs.com reserves the right to refuse, modify, or cancel the price match guarantee. </i>
        </li>
    </ol>
</div>