<!-- Why Signs -->
<div class="icon-highlight-main whySigns_js">
    <div class="icon-highlight-section">
        <img src="https://www.signs.com/content/assets/filelibrary/deign-help-icon-3509.png" alt="" />
        <h2 class="icon-highlight-section-title">Free Design Services</h2>
        <p class="icon-highlight-section-sub-title">
            Let us help you design the perfect sign.
        </p>
    </div>
    <div class="icon-highlight-section">
        <img src="https://www.signs.com/content/assets/filelibrary/next-day-icon-3510.png" alt="" />
        <h2 class="icon-highlight-section-title">Next Day Production</h2>
        <p class="icon-highlight-section-sub-title">Order Today. Ships Tomorrow.</p>
    </div>
    <div class="icon-highlight-section">
        <img src="https://www.signs.com/content/assets/filelibrary/thumbs-up-icon-3511.png" alt="" />
        <h2 class="icon-highlight-section-title">100% Satisfaction</h2>
        <p class="icon-highlight-section-sub-title">
            You'll love it! We guarantee it!
        </p>
    </div>
</div>
<!-- Product Review Section -->
<script>
    $(".whySigns_js").after(
        "<div class='standard-separator'></div><section class='section-default section-product-reviews'><div class='standard-container'></div></section>"
    );
    $("#product-reviews").appendTo(
        ".section-product-reviews > .standard-container"
    );
    $("#shopper_review_page").appendTo(
        ".section-product-reviews > .standard-container"
    );
</script>