.shadow-icon-group {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.shadow-icon.tension {
  content: url("https://www.signs.com/content/assets/filelibrary/Tension-Fabric-Display-01-3640.jpg");
  width: 135px;
  height: 135px;
}

.shadow-icon.popup {
  content: url("https://www.signs.com/content/assets/filelibrary/Pop-up-Display-01-3642.jpg");
  width: 135px;
  height: 135px;
}

.shadow-icon.retractable {
  content: url("https://www.signs.com/content/assets/filelibrary/Retractable-Banner-01-3643.jpg");
  width: 135px;
  height: 135px;
}

.shadow-icon.steprepeat {
  content: url("https://www.signs.com/content/assets/filelibrary/Step-and-Repeat-01-3645.jpg");
  width: 135px;
  height: 135px;
}

.shadow-icon.xstand {
  content: url("https://www.signs.com/content/assets/filelibrary/X-stand-01-3647.jpg");
  width: 135px;
  height: 135px;
}

.shadow-icon.tablethrow {
  content: url("https://www.signs.com/content/assets/filelibrary/Table-Cloth-01-3651.jpg");
  width: 135px;
  height: 135px;
}

.shadow-icon.tablerunner {
  content: url("https://www.signs.com/content/assets/filelibrary/Table-Throw-01-3649.jpg");
  width: 135px;
  height: 135px;
}

.shadow-icon.tensionstand {
  content: url("https://www.signs.com/content/assets/filelibrary/Tension-Fabric-Stand-01-3653.jpg");
  width: 135px;
  height: 135px;
}

.shadow-icon.businesscards {
  content: url("https://www.signs.com/content/assets/filelibrary/Business-Card-01-3665.jpg");
  width: 200px;
  height: 135px;
}

.shadow-icon.postcards {
  content: url("https://www.signs.com/content/assets/filelibrary/Postcard-01-3657.jpg");
  width: 200px;
  height: 135px;
}

.shadow-icon.falconboard {
  content: url("https://www.signs.com/content/assets/filelibrary/Falcon-Board-01-3663.jpg");
  width: 200px;
  height: 135px;
}

.shadow-icon.foamboard {
  content: url("https://www.signs.com/content/assets/filelibrary/Foam-Board-01-3661.jpg");
  width: 200px;
  height: 135px;
}

.shadow-icon.gatorboard {
  content: url("https://www.signs.com/content/assets/filelibrary/Gatorboard-01-3659.jpg");
  width: 200px;
  height: 135px;
}

.shadow-icon.posters {
  content: url("https://www.signs.com/content/assets/filelibrary/Poster-01-3655.jpg");
  width: 200px;
  height: 135px;
}

.shadow-icon-group:hover .businesscards {
  content: url("https://www.signs.com/content/assets/filelibrary/Business-Card-Blue-01-3666.jpg");
  width: 200px;
  height: 135px;
}

.shadow-icon-group:hover .postcards {
  content: url("https://www.signs.com/content/assets/filelibrary/Postcard-Blue-01-3658.jpg");
  width: 200px;
  height: 135px;
}

.shadow-icon-group:hover .falconboard {
  content: url("https://www.signs.com/content/assets/filelibrary/Falcon-Board-Blue-01-3664.jpg");
  width: 200px;
  height: 135px;
}

.shadow-icon-group:hover .gatorboard {
  content: url("https://www.signs.com/content/assets/filelibrary/Gatorboard-Blue-01-3660.jpg");
  width: 200px;
  height: 135px;
}

.shadow-icon-group:hover .posters {
  content: url("https://www.signs.com/content/assets/filelibrary/Poster-Blue-01-3656.jpg");
  width: 200px;
  height: 135px;
}

.shadow-icon-group:hover .foamboard {
  content: url("https://www.signs.com/content/assets/filelibrary/Foam-Board-Blue-01-3662.jpg");
  width: 200px;
  height: 135px;
}

.shadow-icon-group:hover .tension {
  content: url("https://www.signs.com/content/assets/filelibrary/Tension-Fabric-Display-Blue-01-3639.jpg");
  width: 135px;
  height: 135px;
}

.shadow-icon-group:hover .popup {
  content: url("https://www.signs.com/content/assets/filelibrary/Pop-up-Display-Blue-01-3641.jpg");
  width: 135px;
  height: 135px;
}

.shadow-icon-group:hover .retractable {
  content: url("https://www.signs.com/content/assets/filelibrary/Retractable-Banner-Blue-01-3644.jpg");
  width: 135px;
  height: 135px;
}

.shadow-icon-group:hover .steprepeat {
  content: url("https://www.signs.com/content/assets/filelibrary/Step-and-Repeat-Blue-01-3646.jpg");
  width: 135px;
  height: 135px;
}

.shadow-icon-group:hover .xstand {
  content: url("https://www.signs.com/content/assets/filelibrary/X-stand-blue-01-3648.jpg");
  width: 135px;
  height: 135px;
}

.shadow-icon-group:hover .tablerunner {
  content: url("https://www.signs.com/content/assets/filelibrary/Table-Throw-Blue-01-3650.jpg");
  width: 135px;
  height: 135px;
}

.shadow-icon-group:hover .tablethrow {
  content: url("https://www.signs.com/content/assets/filelibrary/Table-Cloth-Blue-01-3652.jpg");
  width: 135px;
  height: 135px;
}

.shadow-icon-group:hover .tensionstand {
  content: url("https://www.signs.com/content/assets/filelibrary/Tension-Fabric-Stand-Blue-01-3654.jpg");
  width: 135px;
  height: 135px;
}

.shadow-icon-group:hover p {
  color: #5ebfea;
}

div#product-24-tabs {
  display: none;
}
.main-content {
  /**********    REMOVE AFTER 9/7/17 GO LIVE   *******/
  display: flex;
  width: 100%;
  justify-content: center;
}
.main-content-header {
  /**********    REMOVE AFTER 9/7/17 GO LIVE   *******/
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-title {
  /**********    REMOVE AFTER 9/7/17 GO LIVE   *******/
  font-size: 3.4em;
  font-weight: 300;
  padding-top: 50px;
  text-align: center;
  max-width: 50%;
}
.main-sub-title {
  /**********    REMOVE AFTER 9/7/17 GO LIVE   *******/
  font-size: 1.5em;
  font-weight: 100;
  text-align: center;
}
.hero-image {
  /**********    REMOVE AFTER 9/7/17 GO LIVE   *******/
  width: 100%;
  background: url(https://www.signs.com/content/assets/filelibrary/trade-show-hero-3529.png)
    no-repeat;
  width: 100%;
  background-size: contain;
  background-position: center;
  margin-top: 1em;
}

.icon-highlight-main {
  /**********    REMOVE AFTER 9/7/17 GO LIVE   *******/
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: space-around;
  max-width: 80%;
  margin: 10px auto;
}

.icon-highlight-section {
  /**********    REMOVE AFTER 9/7/17 GO LIVE   *******/
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: space-around;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 45%;
  text-align: center;
  margin: 10px;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.icon-highlight-section > * {
  /**********    REMOVE AFTER 9/7/17 GO LIVE   *******/
  margin: 5px;
}

.icon-highlight-section-sub-title {
  /**********    REMOVE AFTER 9/7/17 GO LIVE   *******/
  color: #999;
  font-size: 1.2em;
}

.icon-highlight-section-title {
  /**********    REMOVE AFTER 9/7/17 GO LIVE   *******/
  font-size: 1.8em;
}

.care-icons {
  display: flex;
  justify-content: space-around;
  margin: 20px auto 60px auto;
  max-width: 1300px;
  flex-wrap: wrap;
}

.care-icons > * {
  padding-top: 10px;
}

h2.section-header {
  text-align: center;
  font-size: 1.9em;
  margin: 10px;
}

a.blue-get-started-btn {
  /**********    REMOVE AFTER 9/7/17 GO LIVE   *******/
  border-radius: 3px;
  color: white;
  background: linear-gradient(#3793d0, #3793d0);
  border: none;
  padding: 10px 15px;
  margin-top: 20px;
}

.blue-get-started-btn:hover {
  /**********    REMOVE AFTER 9/7/17 GO LIVE   *******/
  background: linear-gradient(#76b6e0, #76b6e0);
}

.blue-get-started-btn:active {
  /**********    REMOVE AFTER 9/7/17 GO LIVE   *******/
  background: linear-gradient(#3981b1, #3981b1);
}

.intro-paragraphs {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  width: 80%;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  margin: auto;
  flex-wrap: wrap;
}

p.paragraph {
  color: #939598;
  font-size: 1.1em;
  margin: 20px;
  -webkit-flex: 1 1 500px;
  -ms-flex: 1 1 500px;
  flex: 1 1 500px;
}

.image-container {
  text-align: center;
  flex: 1.1 1 300px;
  margin: 20px auto;
}

.highlight-image-container {
  margin: 0 50px;
  max-width: 350px;
}

.highlight-container {
  background-color: white;
  max-width: 90%;
  border-width: 1px 0px;
}

.highlight-group {
  color: #939598;
  align-items: flex-start;
}

.highlight-header {
  font-size: 3em;
  font-weight: bold;
  color: #333;
}
.highlight-section-left,
.highlight-section {
  flex: 1 0.5 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: nowrap;
  margin-right: 12%;
  margin-left: 12%;
}
.highlight-group-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 10px;
  color: #939598;
}
.highlight-container {
  display: flex;
  flex-flow: row wrap;
  margin: auto;
}

.highlight-text,
.highlight-text-left {
  margin: 10px 0;
  flex: 1;
  text-align: left;
  font-size: 1.3em;
}

.img-right {
  display: flex;
  justify-content: center;
}

.advertising-img {
  width: 100%;
  height: 100%;
}

.size-image {
  margin-bottom: 35px;
  width: 100%;
  height: auto;
  max-width: 1200px;
}
@media only screen and (max-width: 1366px) {
  .hero-image {
    text-align: center;
    height: 350px;
  }
}
@media only screen and (max-width: 800px) {
  .shopperapproved_widget {
    display: none !important;
  }
  .advertising-img {
    margin: 0;
  }

  .highlight-group *,
  .highlight-group-left * {
    text-align: center;
  }

  .highlight-group,
  .highlight-group-left {
    margin: 10px;
    align-items: center;
  }
  .highlight-container {
    justify-content: center;
  }
  .highlight-section,
  .highlight-section-left {
    margin: 5%;
  }
  .highlight-image-container {
    order: -1;
  }
  .main-title {
    max-width: 70%;
  }
  .care-icons {
    margin: 20px 5px 60px 5px;
  }
}

@media only screen and (max-width: 750px) {
  .hero-image {
    height: 210px;
    width: 100%;
    margin-top: 0px;
  }
  .additional-specs {
    margin: 5%;
  }
}

/* Globals */
.standard-separator {
  height: 1px;
}
.section-default {
  padding: 60px 0;
  text-align: center;
  box-sizing: border-box;
}
.section-default figure {
  margin: 0;
}
.section-default * {
  box-sizing: border-box;
}
.section-default h2 {
  font-size: 30px;
  font-weight: 400;
  /* margin: 0; */
  margin-top: 0;
}
.section-default p {
  font-size: 20px;
  margin-bottom: 30px;
}
.section-default [class*="img-wrap"] img {
  width: 100%;
}

.standard-container {
  max-width: 1673px;
  width: 100%;
  padding: 0 20px;
  box-sizing: border-box;
  margin: 0 auto;
}

/* Section Product Reviews */
.section-product-reviews #review_header {
  display: inline-block;
}
.section-product-reviews #sa_review_section .product_review {
  text-align: left;
}
.section-product-reviews #sa_review_paging {
  text-align: left;
  margin-top: 65px;
  height: auto;
}
.section-product-reviews #sa_sort {
  height: 23px;
}
/* Globals */
.section-default {
  padding: 60px 0;
  text-align: center;
  box-sizing: border-box;
}
.section-default figure {
  margin: 0;
}
.section-default * {
  box-sizing: border-box;
}
.section-default h2 {
  font-size: 30px;
  font-weight: 400;
  /* margin: 0; */
  margin-top: 0;
}
.section-default p {
  font-size: 20px;
  margin-bottom: 30px;
}
.section-default [class*="img-wrap"] img {
  width: 100%;
}

.standard-container {
  max-width: 1673px;
  width: 100%;
  padding: 0 20px;
  box-sizing: border-box;
  margin: 0 auto;
}

/* Section Product Reviews */
#shopper_review_page {
  position: relative;
}
.section-product-reviews #review_header {
  display: inline-block;
}
.section-product-reviews #sa_review_section .product_review {
  text-align: left;
}
.section-product-reviews #sa_review_paging {
  text-align: left;
  margin-top: 65px;
  height: auto;
}
.section-product-reviews #sa_sort {
  /* height: 24px; */
}
.section-product-reviews #review_image {
  /* height: auto; */
  display: inline-block;
  position: absolute;
  bottom: 0;
  right: 0;
  padding-bottom: 17px;
}
.section-product-reviews #review_image > a {
  /* height: auto; */
  display: inline-block;
}
#review_image .sa_logo {
  margin: 0;
}
@media (max-width: 1680px) {
  .standard-container {
    max-width: 1495px;
  }
}
@media (max-width: 1600px) {
  .standard-container {
    max-width: 1356px;
  }
}
@media (max-width: 1536px) {
  .standard-container {
    max-width: 1271px;
    max-width: 1370px;
  }
}
@media (max-width: 1440px) {
  .standard-container {
    max-width: 1287px;
  }
}
@media (max-width: 1366px) {
  .standard-container {
    max-width: 1228px;
  }
}
@media (max-width: 1280px) {
  .standard-container {
    max-width: 1156px;
  }
}
@media (max-width: 1024px) {
  .standard-container {
    max-width: 950px;
  }
}
@media (max-width: 768px) {
  .standard-container {
    max-width: 730px;
  }
}
@media (max-width: 600px) {
  .standard-container {
    max-width: 585px;
  }
}
@media (max-width: 575px) {
  .section-default {
    padding: 40px 0;
  }
  /* Section Product Reviews */
  .section-product-reviews #review_image {
    position: static;
  }
  .section-product-reviews #sa_review_paging {
    text-align: center;
  }
  .section-product-reviews #sa_sort {
    height: 24px;
  }
}
@media (max-width: 414px) {
  /* Section Quick Start */
  .sizeInput.qty {
    justify-content: flex-end;
  }
  .sizeInput.qty .size-input-qty {
    margin: 0;
  }
}
