<!--<script type="text/javascript">
$(document).ready(function(){
var $window = $(window),
       $stickyEl = $('.product-quick-start-form-container').parent(),
       elTop = $stickyEl.offset().top;

   $window.scroll(function() {
        $stickyEl.toggleClass('sticky', ($window.scrollTop() + 40) > elTop);
    });
});
</script> -->


<style>
    .hero-image img {
        max-width: 1500px;
    }
    .hero-image {
        text-align: center;
        height: unset;
    }
    @media only screen and (max-width: 1366px) {
        .hero-image {
            text-align: center;
            height: unset; }
        .hero-image img {
            max-width: 800px; }
        .main-content h1 {
            font-size: 2.5rem; }
        body {
            font-size: .8rem; } }


    @media only screen and (min-width: 800px) {
        .circled-chevron.gallery-nav.right {
            right: 480px;
        }
        .circled-chevron.gallery-nav.left {
            left: 480px;
        }
    }
    .highlight-image-container.care-img img {
        max-width: 300px;
        max-height: 300px;
    }
    .section-subtitle {
        text-align: center;
        font-size: 1.4rem;
        max-width: 50%;
        margin: auto;
    }





    .video-text {
        margin: 10px 0;
        flex: 1;
        text-align: left;
        font-weight: 300;
        font-size: 1.3rem;
    }

    .video-text-container {
        flex: 1 1 300px;
        margin: 150px;
    }

    video#double-sided-gif {
        margin: 50px;
        flex: 1 1 300px;
        padding-left: 20px;
    }
    #double-sided-gif img {
        max-width: 100%;
    }

    #video-container {
        background-color: rgb(239, 239, 239);
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
    }

    .highlight-text {
        font-weight: 300;
        text-align: left;
    }


    img.folded-flag-img {
        max-width: 100%;
    }

    .spec-header {
        font-size: 2.5em;
        text-align: center;
    }

    .content-header {
        font-size: 2.5rem;
    }

    .highlight-container {
        background-color: white;
        color: black;
    }
    .highlight-container.black {
        background-color: #000;
        color: white;
    }
    .highlight-container.black .highlight-group {
        color: white;
    }
    .highlight-image-container {
        flex: 0.7 1 300px;
    }
    .highlight-group {
        color: black;
        align-items: flex-start;
    }
    .highlight-header {
        font-size: 3em;
    }
    .highlight-section {
        margin-right: 5%;
    }
    .help-text {
        font-size: 2.5em;
    }

    .main-sub-title p.sub-title-dot{
        font-size: 15px;
        margin: 5px;
    }
    p.sub-title-text {
        font-size: 1em;
    }
    ul.signs-video-gallery li {
        min-width: 196px;
        max-width: 196px;
    }

    .leftcontentrightimageborder-content .highlight-text {
        flex: 0 0 auto;
    }
    #double-sided-video {
        display: none;
    }

    @media (max-width: 1468px) {
        .leftcontentrightimageborder-main {
            margin-bottom: -500px;
        }
    }

    @media (max-width: 1260px) {
        .leftcontentrightimageborder-main {
            margin-bottom: 0;
        }
    }

    @media (max-width: 800px) {
        #double-sided-gif {
            width: 100%;
            display: flex;
            justify-content: center;
            padding-left: 0;
        }
        .highlight-image-container img {
            width: 100%
        }

        .section-subtitle {
            max-width: 95%;
            margin: auto;
        }

        .display-options-list {
            display: flex;
            flex-wrap: wrap;
            max-width: 95%;
            margin: 50px auto;
            justify-content: center;
        }

        .video-text-container {
            flex: 1 1 300px;
            margin: 20px;
        }

        .hero-image {
            width: 100%;
            height: 160px;
            background: url(https://www.signs.com/content/assets/filelibrary/Hero-3961.jpg) no-repeat;
            background-size: contain;
        }
        .hero-image img {
            display: none;
        }
        video#double-sided-gif {
            width: 100%;
        }

        .option-image-container img {
        }

        .highlight-image-container {
            flex: 1 1 300px;
            margin: 0 0 10px 0;
        }
    }

    @media (max-width: 575px) {
        .display-options-list .option-image-container img{
            width: 100%;
        }
    }

</style>