@import url('https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css');
img.bg-image {
    max-width: unset;
}

.main-content-with-background {
    padding-top: 20px;
}

.main-content-with-background h1 {
    padding-top: 0px;
    font-size: 3rem;
}

.inner-list {
    margin: 20px;
}


/* Hero Section */

.main-content-header .content-text {
    flex: 0 0 auto;
}

#what-are .content-header.mobile {
    display: none;
}

.inner-list p {
    padding-left: 20px;
    text-indent: -20px;
}

body {
    font-family: proxima-nova;
}

ul {
    margin-bottom: 0;
}

h3 {
    font-size: inherit;
}

p {
    margin-bottom: 0;
}

img.related-image {
    width: auto;
    max-height: 300px;
    max-width: 100%;
}

section#installation-jump {
    text-align: center;
    max-width: 1500px;
    margin: auto;
}

ol {
    list-style: decimal;
    margin-left: 30px;
    font-size: 1.1rem;
}

.how-to-install {
    display: flex;
    flex-direction: column;
    margin: 30px 80px;
}

h2.how-to-install-heading {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 50px;
}

.text-container ul {
    list-style-type: disc;
    margin-left: 60px;
    font-size: 1.2rem;
}

p.how-to-install-text {
    font-size: 1.5rem;
    text-align: center;
    max-width: 1200px;
    margin: 10px auto 10px;
}

p.how-to-install-subtext {
    text-align: center;
    font-size: 1.1rem;
    margin-top: 30px;
}

.how-to-install p {
    text-align: center;
}

.install-steps {
    display: flex;
    flex-direction: column;
}

p.step-small-text {
    margin-left: 40px;
    font-size: 1.1rem;
    flex: 1 1 auto;
    margin-top: 20px;
}

iframe.installation-video {
    margin: auto;
    height: 300px;
    width: 400px;
}

.step {
    display: flex;
    flex: 1;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 30px;
    flex-wrap: wrap;
}

.step.hidden {
    display: none;
}

.expand-steps {
    text-align: center;
    font-size: 1.4rem;
    cursor: default;
}

.step img {
    width: 100%;
    max-width: 400px;
}

p.step-text {
    margin-left: 40px;
    font-size: 1.5rem;
    flex: 1 1 auto;
    text-align: left;
}

p.step-asterisk {
    font-size: 1em;
    margin-left: 43px;
}

h3.highlight-header.customization {
    text-align: center;
}

p.asterisk-text {
    text-align: center;
}

.standard-separator {
    margin: 50px auto;
}

section#vs-chart {
    text-align: center;
    max-width: 1500px;
    margin: auto;
}

section#vs-chart p {
    max-width: 1000px;
    margin: 20px auto 40px;
}

tr.blue-row th {
    background-color: #0066b1;
    padding: 10px;
    color: white;
}

tr.blue-row th.blank,
td.blank {
    background-color: white;
}

tr.gray-row {
    background-color: gainsboro;
}

#vs-chart td {
    padding: 10px;
}

#vs-chart table {
    margin: auto;
    width: 60%;
}

#vs-chart tr td:nth-child(1) {
    text-align: left;
}

#vs-chart td.vertical-separator {
    background: -moz-linear-gradient(to bottom, rgba(221, 221, 221, 0) 0, #888 22%, #888 50%, #888 80%, rgba(221, 221, 221, 0) 100%);
    background: -webkit-linear-gradient(to bottom, rgba(221, 221, 221, 0) 0, #888 22%, #888 50%, #888 80%, rgba(221, 221, 221, 0) 100%);
    background: linear-gradient(to bottom, rgba(221, 221, 221, 0) 0, #888 22%, #888 50%, #888 80%, rgba(221, 221, 221, 0) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#00dddddd', endColorstr='#00dddddd', GradientType=1);
    height: 4em;
    width: 0.1%;
    content: "";
    vertical-align: top;
    margin-left: auto;
    padding: 0px;
}

#vs-chart th.vertical-separator {
    background: -moz-linear-gradient(to bottom, #0066b1 0, #fff 22%, #fff 50%, #fff 80%, #0066b1 100%);
    background: -webkit-linear-gradient(to bottom, #0066b1 0, #fff 22%, #fff 50%, #fff 80%, #0066b1 100%);
    background: linear-gradient(to bottom, #0066b1 0, #fff 22%, #fff 50%, #fff 80%, #0066b1 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#00dddddd', endColorstr='#00dddddd', GradientType=1);
    height: 4em;
    width: 0.2%;
    content: "";
    vertical-align: top;
    margin-left: auto;
    padding: 0px;
}

div#surfaces-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: auto;
}

p.small-text {
    text-align: center;
    margin: 30px;
}

.surface {
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.surface p {
    margin-top: 10px;
}

.content-text {
    padding-left: 10px;
    padding-right: 10px;
    flex: 1 1 100px;
    position: inherit;
    color: black;
}

.main-content-with-background h1 {
    padding-top: 0;
}

.header-text {
    color: black;
    text-align: center;
    margin-bottom: 25px;
    font-size: 1.4rem;
}

.fab-main {
    width: 85%;
}

.image-wrapper .vertical-align img {
    height: 390px;
}

.fab-section {
    flex: 1;
}

.coffee-image {
    width: 100%;
}

body {
    font-size: 1em;
}

div#what-are {
    background: url("https://www.signs.com/content/assets/filelibrary/OutdoorWallDecal-SushiBar-6488.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: calc(100vw * .526);
    margin-top: 0;
}

#what-are .highlight-section {
    background: #ffffffbd;
    text-align: center;
    padding: 0 40px;
    border-radius: 5px;
    margin-left: 50px;
    margin-right: 130px;
    flex: 1 1 300px;
}

.highlight-container {
    background-color: white;
    color: black;
}

.highlight-header {
    font-size: 2.5em;
}

.highlight-image-container {
    flex: 0.5 1 300px;
    margin: 0 60px;
    align-items: center;
}

.highlight-group {
    color: black;
    align-items: flex-start;
}

.highlight-text.left {
    text-align: left;
    font-size: 1.2em;
}

#what-are .highlight-image-container img {
    display: none;
}

span.fab-asterisk {
    font-style: italic;
    font-size: 0.8em;
}

.content-header {
    font-size: 2.5rem;
}

.hero-image {
    background: url("https://www.signs.com/content/assets/filelibrary/flag-hero-3287.png") no-repeat;
}

@media (max-width: 991px) {
    .main-content-with-background {
        margin-top: 70px;
        padding-top: 0;
    }
}

@media (max-width: 800px) {
    .hero-image {
        height: 210px;
        margin-top: 0px;
    }
    #vs-chart table {
        margin: auto;
        width: 95%;
    }
    div#surfaces-container img {
        max-width: 100%;
    }
    .how-to-install {
        margin: 30px 20px;
    }
    h1.tertiary-heading {
        margin-top: 5px;
    }
    .fab-section {
        flex: none;
    }
    .content-text {
        font-size: 1em;
        padding-bottom: 0px;
    }
    .image-wrapper .vertical-align img {
        height: auto;
    }
}

input[type=checkbox]:checked+div {
    opacity: 0;
    max-height: 0;
    border: none;
}

label [type=checkbox] {
    color: #3FA9F5;
}


/* ------------------------------------------------------------ *\
	Section Tertiary
\* ------------------------------------------------------------ */

h1.tertiary-heading {
    position: absolute;
    margin-top: 40px;
    font-size: 2.5em;
    font-weight: 500;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

.features-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 130px;
    padding-right: 20px;
    height: 130px;
}

.section-tertiary {
    padding: 40px 0 0;
}

.section-tertiary .section-head {
    text-align: center;
}

.section-tertiary .section-head h1 {
    font-weight: 600 !important;
    text-transform: uppercase;
    margin: 0;
}

.section-tertiary .section-body {
    text-align: center;
    position: relative;
    margin: 0 auto;
    background-image: url(https://www.signs.com/content/assets/filelibrary/OutdoorWallDecalStevens@2x-6511.png);
    min-height: 1000px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.section-tertiary .section-body>img {
    display: none;
    width: 100%;
}

.section-tertiary .section-body ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: left;
}

.section-tertiary .section-body ul h4 {
    font-weight: 600;
    font-size: 22px;
    margin: 0 0 5px;
}

.section-tertiary .section-body ul p {
    font-weight: 300;
    font-size: 16px;
    color: #666;
    margin: 0;
    line-height: 1.2;
    max-width: 360px;
}

.section-tertiary .section-body ul li {
    position: absolute;
    display: flex;
    background-color: #ffffffe6;
    border-radius: 100px;
    justify-content: center;
    align-items: center;
}

.section-tertiary .section-body ul li img {
    position: absolute;
    left: -20px;
    top: -12px;
}

.section-tertiary .section-body ul li:nth-child(1) {
    left: 13%;
    top: 15%;
}

.section-tertiary .section-body ul li:nth-child(2) {
    left: 60%;
    top: 15%;
}

.section-tertiary .section-body ul li:nth-child(3) {
    left: 14%;
    top: 72%;
}

.section-tertiary .section-body ul li:nth-child(4) {
    left: 61%;
    top: 72%;
}

.section-tertiary .section-actions {
    text-align: center;
    padding-top: 102px;
}

@media (max-width: 1319px) {
    .section-tertiary .section-body {}
    .section-tertiary .section-body>img {}
    .section-tertiary .section-body ul li:nth-child(5) br {
        display: none;
    }
    .highlight-text.left {
        font-size: 1.2em;
    }
    #what-are .content-header {
        font-size: 1.8rem;
    }
    #what-are .highlight-section {
        flex: 1 1 500px;
    }
}

@media (max-width: 1300px) {
    .main-content-header .content-text {
        padding-bottom: 0;
    }
}


/* Small Desktop */

@media (max-width: 1159px) {
    .section-tertiary {
        overflow: hidden;
    }
    h1.tertiary-heading {
        position: static;
    }
    .section-tertiary .section-body {
        background-image: none;
    }
    .section-tertiary .section-body>img {
        width: 100%;
        display: block;
    }
    .section-tertiary .section-body ul li:nth-child(1) {
        left: 1%;
        top: 15%;
    }
    .section-tertiary .section-body ul li:nth-child(2) br {
        display: none;
    }
    .section-tertiary .section-body ul li:nth-child(3) {
        left: 1%;
        top: 60%;
    }
    .section-tertiary .section-body ul li:nth-child(4) {
        top: 60%;
    }
    #what-are .content-header {
        font-size: 1.8rem;
    }
    .highlight-text.left {
        font-size: 1.1em;
    }
    #what-are .highlight-section {
        margin-right: 0px;
    }
}


/* Tablet Portrait */

@media (max-width: 1023px) {
    .section-tertiary .section-head {
        margin-bottom: 60px;
    }
    .section-tertiary .section-body {
        width: 100%;
    }
    .section-tertiary .section-body ul {
        margin-top: 30px;
        display: flex;
        flex-wrap: wrap;
    }
    .section-tertiary .section-body ul li {
        width: 100%!important;
        position: relative;
        left: 0 !important;
        right: 0 !important;
        top: 0 !important;
        bottom: 0 !important;
        padding-left: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .section-tertiary .section-body ul li:nth-child(1) img {
        position: static;
        left: 0;
        top: 0;
    }
    .section-tertiary .section-body ul li:nth-child(2) img {
        position: static;
        right: 0;
        top: 0;
    }
    .section-tertiary .section-body ul li:nth-child(3) img {
        position: static;
        right: 0;
        top: 0;
    }
    .section-tertiary .section-body ul li:nth-child(4) img {
        position: static;
        right: 0;
        top: 0;
    }
    .section-tertiary .section-body ul li:nth-child(5) img {
        position: static;
        left: 0;
        top: 0;
    }
    .section-tertiary .section-body ul li img {
        /*left: 0 !important; top: 0 !important;*/
    }
    .section-tertiary .section-body ul li~li {
        margin-top: 30px;
    }
    .section-tertiary .section-body ul h4 {
        font-size: 20px;
        margin: 0px 10px 0;
        flex: 0.2 1 200px;
    }
    .features-text {
        padding-left: 0px;
        max-width: 550px;
    }
    .section-tertiary .section-body ul p {
        flex: 1 1 200px;
        margin-right: 5px;
        max-width: none;
    }
    .section-tertiary .section-actions {
        padding-top: 40px;
    }
    #what-are .highlight-image-container {
        flex: 1 1 600px;
    }
    #what-are .highlight-image-container img {
        display: flex;
        width: 100%;
    }
    div#what-are {
        background: none;
        height: auto;
    }
    #what-are .highlight-section {
        margin: auto;
        text-align: center;
        padding: 10px;
    }
    #what-are .highlight-section .highlight-group {
        align-items: center;
    }
    #what-are .highlight-section .highlight-text.left {
        text-align: center;
    }
}


/* Mobile */

@media (max-width: 767px) {
    .section-tertiary .section-head {
        margin-bottom: 30px;
    }
    .section-tertiary .section-body>img {}
    .section-tertiary .section-body ul p br {
        display: none;
    }
    .section-tertiary .section-body ul h4 {
        font-size: 20px;
        margin: 0px 10px 0px 0px;
        flex: 0.2 1 10px;
    }
    .section-tertiary .section-body ul p {
        flex: 1 1 100px;
    }
    .section-tertiary .section-body ul li img {
        max-width: 100px;
        height: auto;
    }
    #what-are .highlight-image-container {
        margin: 5px;
    }
    #what-are .content-header {
        display: none;
    }
    #what-are .content-header.mobile {
        order: -1;
        display: inherit;
    }
    #what-are .highlight-image-container {
        margin: 5px;
        order: -1;
    }
    .main-content-with-background h1 {
        font-size: 2rem;
    }
    img.bg-image {
        width: 100%;
    }
}

@media (min-width: 800px) {
    .circled-chevron.gallery-nav.right {
        right: 480px;
    }
    .circled-chevron.gallery-nav.left {
        left: 480px;
    }
}

.additional-specs-section {
    margin: 60px 0;
    font-size: 20px;
}

.additional-specs-section .specs-table {
    margin: 0 auto;
}

.additional-specs-section .specs-table th,
.additional-specs-section .specs-table td {
    padding: 20px;
    text-align: center;
    color: #777;
    vertical-align: baseline;
}

.additional-specs-section .specs-table th:first-child,
.additional-specs-section .specs-table td:first-child {
    display: none;
    text-align: left;
    padding-left: 0;
    color: #333;
}

.additional-specs-section .specs-table th:last-child,
.additional-specs-section .specs-table td:last-child {
    width: 50%;
}

.additional-specs-section .specs-table td:nth-child(2) {
    border-right: 1px solid #ccc;
}

.additional-specs-section .specs-table th {
    color: #333;
    font-size: 20px;
    text-decoration: underline;
}

.additional-specs-section .specs-table .mobile-heading {
    display: block;
    color: #333;
}

.additional-specs-section.single-product-specs .specs-table {
    max-width: 500px;
}

.additional-specs-section.single-product-specs .specs-table td:nth-child(2) {
    border-right: none;
}

.additional-specs-section.single-product-specs .specs-table td:last-child {
    width: auto;
}

@media (min-width: 992px) {
    .additional-specs-section .specs-table {
        max-width: 70%;
    }
    .additional-specs-section .specs-table tr:not(:last-child)>th,
    .additional-specs-section .specs-table tr:not(:last-child)>td {
        border-bottom: 1px solid #ccc
    }
    .additional-specs-section .specs-table th,
    .additional-specs-section .specs-table td {
        text-align: left;
        vertical-align: middle;
    }
    .additional-specs-section .specs-table th {
        text-align: center;
        text-decoration: none;
    }
    .additional-specs-section .specs-table .mobile-heading {
        display: none;
    }
    .additional-specs-section .specs-table th:first-child,
    .additional-specs-section .specs-table td:first-child {
        display: table-cell;
        padding-right: 0;
    }
    .additional-specs-section.single-product-specs .specs-table td:first-child {
        width: 150px;
    }
}

@media (min-width: 1500px) {
    .additional-specs-section.single-product-specs .specs-table {
        max-width: 40%;
    }
    .additional-specs-section .specs-table th:first-child,
    .additional-specs-section .specs-table td:first-child {
        width: 200px;
    }
    .additional-specs-section.single-product-specs .specs-table td:first-child {
        width: 200px;
    }
}

@media (max-width: 800px) {
    nav.main-nav .nav-slider-container {
        padding: 5px 0;
    }
}

@media (max-width: 599px) {
    .nav-slider-container {
        display: none;
    }
    .main-content-with-background {
        margin-top: 0;
        padding-top: 0;
    }
    .standardWidth {
        margin-top: 10px;
    }
}

@media (max-width: 425px) {
    .standardWidth {
        margin-top: 75px;
    }
    noscript {
        display: none;
    }
}