<!-- Section Hero -->
<div class="main-content">
    <div class="main-content-header">
        <h1>Custom Pop Up Tents</h1>
        <div class="main-sub-title">Free Design Services <span>&#9679</span> Full Color Digital Printing <span>&#9679</span> 1 Day Turn Time</div>
        <div class="hero-image">
            <img src="https://www.signs.com/content/assets/filelibrary/CustomPopUpTentPopUpHero@3x-5277.png" alt="Custom Pop Up Tent">
        </div>
    </div>
</div>