<div class="section-hero-banner">
    <div class="main-content-with-background">
        <div class="main-content-header">
            <div class="content-text">
                <h1>Custom Floor Decals</h1>
                <div class="main-sub-title">Durable <span>&#9679</span> Removable <span>&#9679</span> Next Day Shipping <span>&#9679</span> Certified Slip Resistant</div>
            </div>
            <div class="section-image">
                <img class="bg-image" src="https://www.signs.com/content/assets/filelibrary/Floor-decals-hero-7808.jpg" alt="Floor-decal-hero" />
            </div>
        </div>
    </div>
    <div class="header-text">Easy to install indoor floor decals with laminate protection and certified slip resistance.</div>
</div>

<div class="section-related-products">
    <h1 class="related-products-heading">Related Products</h1>
    <div class="related-products">

        <a class="related-group" href="https://www.signs.com/street-and-sidewalk-decals/">
            <img class="related-image" src="https://www.signs.com/content/assets/filelibrary/StreetSidewalk-StreetDecals-8093.png" />
            <p class="related-text">Street and Sidewalk Decals</p>
        </a>

        <a class="related-group" href="https://www.signs.com/carpet-stickers/">
            <img class="related-image" src="https://www.signs.com/content/assets/filelibrary/CarpetStickers-8092.png" />
            <p class="related-text">Carpet Stickers</p>
        </a>

        <a class="related-group" href="https://www.signs.com/wall-decals/">
            <img class="related-image" src="https://www.signs.com/content/assets/filelibrary/Alternat-8091.png" />
            <p class="related-text">Wall Decals</p>
        </a>
    </div>
</div>