<!-- Hero Section -->
<section class="section-hero-full-width">
  <div class="hero-head">
    <h1>Custom Foam Board Signs</h1>
    <ul class="hero-list">
      <li class="hero-list-item">Any Custom Size</li>
      <li class="hero-list-item">Double-Sided Printing</li>
      <li class="hero-list-item">One-Day Printing</li>
      <li class="hero-list-item">Free Design Services</li>
    </ul>
  </div>
  <div class="hero-body">
    <div class="hero-img-wrap">
      <img
        class="hero-img"
        src="https://www.signs.com/content/assets/filelibrary/FoamBoardHero@2x-5573.png"
        alt="Custom Foam Board"
      />
    </div>
  </div>
  <div class="hero-footer">
    <p class="hero-phrase">
      Personalize your foamboard to whatever you like including custom
      <a href="#dryErase" class="scroll-link">dry erase</a>
      boards!
    </p>
  </div>
</section>
<!-- Looking Dry Erase -->
<section
  class="section-default section-centeredContent-rightImageEnd section-looking-dry-erase"
>
  <div class="standard-container">
    <div class="content-wrap">
      <h2>Looking For Dry Erase</h2>
      <p>
        The lightweight portability of foam board combined with the convenience
        of dry erase makes a great combination. Customize your logo, messaging,
        chart, graph or anything on printed dry erase boards. Dry erase foam
        board can be used anywhere including presentations, goal trackers,
        custom calendars, and much more.
      </p>

      <p>
        If you have an idea for a custom dry earse board, let us help you design
        it with our <a href="/design-services/">free design services</a>.
        Already know what you want? Order your own custom dry erase foam board
        sign by clicking the "Create Dry Erase Foamboard" button below or select
        the "Dry Erase" option during the design process.
      </p>
    </div>
    <div class="img-wrap">
      <img
        src="https://www.signs.com/content/assets/filelibrary/dryerase-8746.jpg"
        alt="Dry Erase"
      />
    </div>
  </div>
</section>
<!-- Section Dry Erase -->
<section class="section-default section-dry-erase">
  <div class="standard-container">
    <h2>Why Dry Erase?</h2>
    <ul class="mylist-inline dry-erase-list">
      <li class="mylist-inline-item dry-erase-item">
        <div class="img-wrap">
          <img
            src="https://www.signs.com/content/assets/filelibrary/Quality-Writing-Surface-8744.jpg"
            alt=""
          />
        </div>
        <h3>Quality Writing Surface</h3>
        <p>
          Glossy dry erase laminate applied to your foam board leaves a great
          finish and allows you to write on clear and wipe away clean.
        </p>
      </li>
      <li class="mylist-inline-item dry-erase-item">
        <div class="img-wrap">
          <img
            src="https://www.signs.com/content/assets/filelibrary/Customizing-Sizing-Available-8742.jpg"
            alt="Quality Writing Surface"
          />
        </div>
        <h3>Customizing Sizing Available</h3>
        <p>
          Design your custom dry erase board to any shape or size between "6x6"
          and 96"x48".
        </p>
      </li>
      <li class="mylist-inline-item dry-erase-item">
        <div class="img-wrap">
          <img
            src="https://www.signs.com/content/assets/filelibrary/Versatile-Usability-8745.jpg"
            alt=""
          />
        </div>
        <h3>Versatile Usability</h3>
        <p>
          Hang your dry erase board in a variety of ways or keep it free
          standing for quick grab and go needs.
        </p>
      </li>
      <li class="mylist-inline-item dry-erase-item">
        <div class="img-wrap">
          <img
            src="https://www.signs.com/content/assets/filelibrary/Design-for-Any-Need-8743.jpg"
            alt=""
          />
        </div>
        <h3>Design for Any Need</h3>
        <p>
          Reuse your dry erase board for presentations, goal status trackers,
          calendars, or whatever you need."
        </p>
      </li>
    </ul>
    <a href="/design/?productID=20" class="mybtn mybtn-success"
      >Create Dry Erase Foamboard</a
    >
  </div>
</section>

<!-- Hero Section Scroll -->
<script>
  window.smoothScroll = function(target) {
    var scrollContainer = target;
    do {
      //find scroll container
      scrollContainer = scrollContainer.parentNode;
      if (!scrollContainer) return;
      scrollContainer.scrollTop += 1;
    } while (scrollContainer.scrollTop == 0);

    var targetY = -Math.abs($(".placeholder-sticky").innerHeight());
    do {
      //find the top of target relatively to the container
      if (target == scrollContainer) break;
      targetY += target.offsetTop;
    } while ((target = target.offsetParent));

    scroll = function(c, a, b, i) {
      i++;
      if (i > 30) return;
      c.scrollTop = a + ((b - a) / 30) * i;
      setTimeout(function() {
        scroll(c, a, b, i);
      }, 20);
    };
    // start scrolling
    scroll(scrollContainer, scrollContainer.scrollTop, targetY, 0);
  };
</script>
