img.bg-image {
  max-width: 1100px;
}

.section-image {
  text-align: center;
}
img.related-image {
  width: 80%;
  max-width: 350px;
}
a.related-group:nth-of-type(2) img.related-image {
  max-width: 500px;
}
.features .highlight-text {
  text-align: left;
}

.features .highlight-image-container.full {
  width: 100%;
  flex: 1 1 1500px;
}
.features .highlight-image-container {
  flex: 1 1 300px;
  order: 1;
}
.features .highlight-image-container img {
  width: 100%;
}

.full-img-container {
  display: flex;
  max-width: 1300px;
  max-height: 360px;
  margin-left: auto;
}

img.full {
  width: 100%;
}
#care .highlight-text,
#poles .highlight-text {
  text-align: center;
}

.highlight-image-container.care-img {
  max-width: 400px;
}

div#care,
#poles {
  max-width: 1500px;
}

a.blue-button {
  background-color: #0ea8ec;
  color: white;
  padding: 10px;
  font-size: 1.4em;
  border-radius: 5px;
}
div#button-container {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}
p.highlight-text {
  text-align: center;
}
section#poles-and-bag {
  display: flex;
  flex-direction: column;
  margin: 20px auto;
  text-align: center;
}

#poles-and-bag p {
  font-size: 1.4rem;
}
section#poles-and-bag .highlight-image-container {
  justify-content: flex-end;
}

section#poles-and-bag .highlight-container {
  margin-top: 0;
}
#poles-and-bag img.float-image {
  max-width: 600px;
  float: right;
}
.double-sided-image {
  max-width: 600px;
  max-height: 600px;
  flex: 1 1 300px;
}

section#double-sided {
  display: flex;
}
section#double-sided .text-section {
  font-size: 1.5rem;
  text-align: center;
  margin-top: 30px;
}

section#double-sided .text-section p {
  margin: 50px auto;
}

section#double-sided .text-section p.sub-text {
  font-size: 1.1rem;
}
.sizing-chart {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
  margin-top: 30px;
  max-height: 700px;
  width: 100%;
}
.sizing-chart-container {
  display: flex;
  max-width: 1500px;
  margin: auto;
  font-size: 1.2em;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.sizing-text {
  flex: 1;
  padding: 30px;
  text-align: center;
  max-width: 1000px;
  font-size: 1.4rem;
}
.option-image-container img {
  max-width: 200px;
  max-height: 200px;
  margin: 20px auto;
}

.option-image-container {
  flex: 1 1 1px;
  max-width: 300px;
}

.option-text-group {
  font-size: 1.6rem;
}

.display-options-list {
  margin: 0 auto;
}
.help-text {
  font-size: 2.2rem;
}
.fab-main {
  align-items: center;
}
a.white-link {
  text-decoration: underline;
}
#what-are-sf .image-section.mobile {
  display: none;
}
#care .highlight-header {
  margin: 0 auto 15px;
}
.fab-main.tents .fab-section-title {
  font-weight: bold;
}
.fab-main.tents .fab-section-sub-title {
  color: black;
}
span.link-target {
  position: absolute;
  top: -100px;
}
span#accessory-features.link-target {
  top: -200px;
}
section#what-are-sf .content-header {
  text-align: left;
}
section,
.fab-main {
  position: relative;
}
@media only screen and (max-width: 800px) {
  .midWrapper.gs-widget {
    position: static;
  }
  p.content-sub-text {
    text-align: center;
  }
  /* .section-image {
    background: url(https://www.signs.com/content/assets/filelibrary/FoamBoardHero@2x-5573.png);
    max-width: 700px;
    max-height: 500px;
    min-height: 250px;
    min-width: 300px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
} */
  .midWrapper.gs-widget.sticky {
    position: fixed;
  }
}
.standard-separator {
  margin: 10px auto;
}
section#what-are-sf {
  display: flex;
  /* min-height: 700px; */
  flex-wrap: wrap;
  justify-content: center;
}
.text-bubble h5 {
  font-size: 1.4rem;
  font-weight: 600;
}
.text-bubble {
  margin-top: 15px;
}

section#what-are-sf .text-section {
  font-size: 1.5rem;
  max-width: 800px;
  margin: 20px 100px;
  align-self: center;
  flex: 1 1 1000px;
}
#what-are-sf .image-section img {
  height: auto;
  width: 100%;
  max-width: 400px;
}

#what-are-sf .image-section {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex: 0.5 1 100px;
}

@media (max-width: 1319px) {
  section#what-are-sf .text-section {
    font-size: 1.2rem;
    margin: 20px 50px;
  }
}

@media (max-width: 1159px) {
  section#what-are-sf .text-section {
    margin: 20px 20px;
  }
}

div#designServicesFormContainer {
  display: none;
  background: #67b4d6;
  color: white;
}

div#designServicesFormContainer .content-header {
  margin-top: 0;
}
.fab-main.tents {
  max-width: 1400px;
}

.fab-main.tents .fab-section {
  flex: 1 1 100px;
  max-width: 300px;
  /* width: unset; */
  margin: 20px 40px;
}

.fab-main.tents .fab-section img {
  max-width: 400px;
}
a.dark-link {
  color: #005ace;
  text-decoration: underline;
}
ul.tab-list {
  list-style: square;
  max-width: 1000px;
  margin: 20px auto;
}
p.tab.selected {
  background: #3d87be;
  color: white;
  border-radius: 5px 5px 0px 0px;
}
.tab-text-asterisk {
  font-size: 0.9rem;
}
.tab-content.selected {
  display: flex;
  flex-direction: column;
}

.tab-content {
  display: none;
  background: linear-gradient(#3d87bd, #68b4d5);
  padding: 40px;
  color: white;
}

.tab-header {
  font-size: 3rem;
  margin: auto;
  text-align: center;
  font-weight: bold;
  color: white;
}

.tab-steps {
  display: flex;
  margin: auto;
  max-width: 1500px;
  align-items: center;
}

.tab-steps .step {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex: 1 1 100px;
  font-size: 1.3rem;
  align-self: baseline;
}

.tab-steps .step img {
  max-width: 210px;
  max-height: 215px;
  min-width: 100px;
  width: auto;
}

.tab-steps > img {
  max-height: 200px;
}

.tab-button {
  background: none;
  border: 1px solid white;
  color: white;
  padding: 15px;
  font-size: 1.5rem;
  border-radius: 5px;
  margin: auto;
}

.tab-button:hover {
  background: white;
  color: #3d87be;
}

.tabs {
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
}

.tab {
  padding: 5px 20px;
  margin: 0 20px;
  cursor: default;
}

section#design-tabs {
  margin: 50px 0 0 0;
}
.how-to-install {
  display: flex;
  flex-direction: column;
  margin: 30px 80px;
  position: relative;
}
.how-to-install > img {
  width: 100%;
  max-width: 1100px;
  margin: auto;
}
h2.how-to-install-heading {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 30px;
  margin-top: 50px;
}

p.how-to-install-text {
  font-size: 1.5rem;
  text-align: center;
  max-width: 1200px;
  margin: 10px auto 30px;
}

.install-steps {
  display: flex;
  flex-direction: column;
}

.step {
  display: flex;
  flex: 1;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 30px;
}

.step img {
  width: 100%;
  max-width: 300px;
}

.step-text {
  margin-left: 40px;
  font-size: 1.5rem;
  flex: 1 1 auto;
  margin-top: 30px;
}
p.step-asterisk {
  font-size: 1em;
  margin-left: 43px;
}
.related-products {
  align-items: baseline;
}
.service {
  display: flex;
  margin: 10px auto;
  align-items: center;
  max-width: 1100px;
}

.service img {
  flex: 1 1 200px;
  max-width: 250px;
  height: 250px;
  margin: 0 30px 0 0;
}

.service-text-section {
  flex: 1 1 200px;
}

.service-text-section h4 {
  font-size: 1.9rem;
}

.service-text-section p {
  font-size: 1.3rem;
  max-width: 900px;
}

.size-group {
  flex: 0 1 250px;
}

.size-group .spec-detail {
  font-size: 1em;
}
.sub-specs .spec-header {
  flex: 0 1 10px;
}
.sub-specs {
  flex: 1 1 500px;
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}
section#care {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: 20px auto;
  text-align: center;
}

#care p {
  font-size: 1.4rem;
}

#care img.float-image {
  max-width: 300px;
  float: right;
}
.content-text {
  padding-left: 10px;
  padding-right: 10px;
  flex: 1 1 140px;
  position: static;
  color: black;
}

.main-content-with-background h1 {
  padding-top: 0px;
}
p.content-sub-text {
  color: black;
  font-size: 1.5em;
  font-weight: 400;
  margin: 20px auto;
  max-width: 1000px;
  text-align: center;
}
p.sub-text {
  text-align: center;
  font-style: italic;
}

.fab-main {
  width: 85%;
}
.image-wrapper .vertical-align img {
  height: 390px;
}
.fab-section {
  flex: 1;
}

.options-container {
  display: flex;
  justify-content: center;
  align-items: stretch;
  margin-bottom: 20px;
  flex-wrap: wrap;
}
.options-container .text {
  opacity: 1;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: white;
  width: 100%;
  box-sizing: border-box;
  flex: 1;
}

.options-container .option {
  display: flex;
  flex-direction: column;
  flex: 1 1 200px;
  justify-content: stretch;
  align-items: center;
}
.options-container .option img {
  flex: 0;
  width: 285px;
  max-width: 100%;
  padding-bottom: 20px;
  padding-top: 20px;
}

.options-container .text h3 {
  font-size: 1.5em;
  font-weight: 600;
}

.options-container .text a {
  color: #3fa9f5;
}

.options-container .text p {
  padding: 0px 20px;
  font-size: 1.2em;
  max-width: 300px;
  text-align: center;
  align-self: center;
}

.coffee-image {
  width: 100%;
}
/* ------------------------------------------------------------ *\
	Section Tertiary
\* ------------------------------------------------------------ */
h1.tertiary-heading {
  font-size: 2.5em;
  font-weight: 500;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}
.section-tertiary {
  padding: 40px 0 0;
}
.section-tertiary .section-head {
  text-align: center;
}
.section-tertiary .section-head h1 {
  font-weight: 600 !important;
  text-transform: uppercase;
  margin: 0;
}
.section-tertiary .section-body {
  text-align: center;
  position: relative;
  margin: 0 auto;
}
.section-tertiary .section-body > img {
  width: 100%;
  max-width: 500px;
  margin-left: 150px;
}
.section-tertiary .section-body ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: left;
}
.section-tertiary .section-body ul h4 {
  font-weight: 600;
  font-size: 22px;
  margin: 0 0 5px;
}
.section-tertiary .section-body ul p {
  font-weight: 300;
  font-size: 16px;
  color: #666;
  margin: 0;
  line-height: 1.2;
  max-width: 220px;
}
.section-tertiary .section-body ul li {
  position: absolute;
}
.section-tertiary .section-body ul li:nth-child(1) {
  left: 25%;
  top: 19%;
  text-align: right;
}
.section-tertiary .section-body ul li:nth-child(1) p {
  margin-left: auto;
}
.section-tertiary .section-body ul li:nth-child(1) img {
  position: absolute;
  left: 235px;
  top: 0px;
}
.section-tertiary .section-body ul li:nth-child(2) {
  width: 380px;
  left: 65%;
  top: 10%;
}
.section-tertiary .section-body ul li:nth-child(2) img {
  position: absolute;
  right: 397px;
  top: -20px;
}
.section-tertiary .section-body ul li:nth-child(3) {
  left: 28%;
  top: 67%;
}
.section-tertiary .section-body ul li:nth-child(3) img {
  top: 0px;
  right: -140px;
  position: absolute;
}
.section-tertiary .section-body ul li:nth-child(4) {
  right: 25%;
  top: 55%;
}
.section-tertiary .section-body ul li:nth-child(4) img {
  position: absolute;
  left: -160px;
  top: 0px;
}
.section-tertiary .section-body ul li:nth-child(5) {
  width: 300px;
  left: 69%;
  top: 44%;
}
.section-tertiary .section-body ul li:nth-child(5) img {
}
.section-tertiary .section-actions {
  text-align: center;
  padding-top: 102px;
}
@media (max-width: 1700px) {
  .section-tertiary .section-body ul li:nth-child(3) {
    left: 20%;
    top: 67%;
  }
  .section-tertiary .section-body ul li:nth-child(4) {
    right: 15%;
    top: 55%;
  }
}
@media (max-width: 1500px) {
  .section-tertiary .section-body ul li:nth-child(3) {
    left: 15%;
    top: 67%;
  }
  .section-tertiary .section-body ul li:nth-child(1) {
    left: 12%;
    top: 19%;
  }
}
@media (max-width: 1319px) {
  .section-tertiary .section-body {
  }
  .section-tertiary .section-body > img {
  }
  .section-tertiary .section-body ul li:nth-child(1) p {
    margin-right: auto;
  }
  .section-tertiary .section-body ul li:nth-child(1) {
    left: 1%;
  }

  .section-tertiary .section-body ul li:nth-child(5) br {
    display: none;
  }
}
/* Small Desktop */
@media (max-width: 1159px) {
  .section-tertiary {
    overflow: hidden;
  }

  .section-tertiary .section-body {
  }
  .section-tertiary .section-body > img {
  }

  /*.section-tertiary .section-body ul li:nth-child(1) { left: 50px; top: 100px; }*/
  .section-tertiary .section-body ul li:nth-child(2) {
    left: 72%;
    top: 17%;
  }
  .section-tertiary .section-body ul li:nth-child(2) br {
    display: none;
  }
  /*.section-tertiary .section-body ul li:nth-child(2) img { right: 290px; }*/

  .section-tertiary .section-body ul li:nth-child(3) {
    left: 5%;
  }
  .section-tertiary .section-body ul li:nth-child(4) {
    right: 12%;
    top: 60%;
  }
  /*.section-tertiary .section-body ul li:nth-child(5) { left: 710px; top: 270px; }*/
}
/* Tablet Portrait */
@media (max-width: 1023px) {
  section#care {
    margin: 20px 30px;
  }
  .section-tertiary .section-head {
    margin-bottom: 60px;
  }

  .section-tertiary .section-body {
    width: 100%;
  }
  .section-tertiary .section-body ul {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
  }
  .section-tertiary .section-body ul li {
    width: 100% !important;
    position: relative;
    left: 0 !important;
    right: 0 !important;
    top: 0 !important;
    bottom: 0 !important;
    padding-left: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .section-tertiary .section-body ul li:nth-child(1) {
    text-align: left;
  }
  .section-tertiary .section-body ul li:nth-child(1) img {
    position: static;
    left: 0;
    top: 0;
  }
  .section-tertiary .section-body ul li:nth-child(2) img {
    position: static;
    right: 0;
    top: 0;
  }
  .section-tertiary .section-body ul li:nth-child(3) img {
    position: static;
    right: 0;
    top: 0;
  }
  .section-tertiary .section-body ul li:nth-child(4) img {
    position: static;
    right: 0;
    top: 0;
  }
  .section-tertiary .section-body ul li:nth-child(5) img {
    position: static;
    left: 0;
    top: 0;
  }
  .section-tertiary .section-body ul li img {
    /*left: 0 !important; top: 0 !important;*/
    width: 90px;
    max-height: 90px;
  }
  .section-tertiary .section-body ul li ~ li {
    margin-top: 30px;
  }
  .section-tertiary .section-body ul h4 {
    font-size: 20px;
    margin: 0px 10px 0;
    flex: 0.2 1 200px;
  }
  .section-tertiary .section-body ul p {
    flex: 1 1 200px;
    margin-right: 5px;
    max-width: none;
  }
  .section-tertiary .section-actions {
    padding-top: 40px;
  }
}
/* Mobile */
@media (max-width: 767px) {
  .section-tertiary .section-head {
    margin-bottom: 30px;
  }

  .section-tertiary .section-body > img {
    margin-left: 65px;
  }
  .section-tertiary .section-body ul p br {
    display: none;
  }
  .options-container {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    flex-wrap: wrap;
  }
  .options-container p {
    font-size: 1.5rem;
  }
  .option {
    padding: 20px;
    max-width: 500px;
  }
  .options-container img {
    width: 100%;
  }
}

/* ------------------------------------------------------------ *\
	Section Quaternary
\* ------------------------------------------------------------ */
h1.quaternary-heading {
  font-size: 2.5em;
  font-weight: 500;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}
.section-quaternary {
  padding: 40px 0 0;
}
.section-quaternary .section-head {
  text-align: center;
}
.section-quaternary .section-head h1 {
  font-weight: 600 !important;
  text-transform: uppercase;
  margin: 0;
}
.section-quaternary .section-body {
  text-align: center;
  position: relative;
  margin: 0 auto;
}
.section-quaternary .section-body > img {
  width: 100%;
  max-width: 900px;
}
.section-quaternary .section-body ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: left;
}
.section-quaternary .section-body ul h4 {
  font-weight: 600;
  font-size: 22px;
  margin: 0 0 5px;
}
.section-quaternary .section-body ul p {
  font-weight: 300;
  font-size: 16px;
  color: #666;
  margin: 0;
  line-height: 1.2;
  max-width: 220px;
}
.section-quaternary .section-body ul li {
  position: absolute;
}
.section-quaternary .section-body ul li:nth-child(1) {
  left: 25%;
  top: 8%;
  text-align: right;
}
.section-quaternary .section-body ul li:nth-child(1) p {
  margin-left: auto;
  max-width: 250px;
}
.section-quaternary .section-body ul li:nth-child(1) img {
  position: absolute;
  left: -20px;
  top: 50px;
}
.section-quaternary .section-body ul li:nth-child(2) {
  width: 380px;
  left: 60%;
  top: 10%;
}
.section-quaternary .section-body ul li:nth-child(2) img {
  position: absolute;
  right: 397px;
  top: -30px;
}
.section-quaternary .section-body ul li:nth-child(2) p {
  max-width: 300px;
}
.section-quaternary .section-body ul li:nth-child(3) {
  left: 40%;
  top: 50%;
}
.section-quaternary .section-body ul li:nth-child(3) img {
  bottom: -20px;
  right: 220px;
  position: absolute;
}
.section-quaternary .section-body ul li:nth-child(4) {
  left: 33%;
  bottom: 3%;
}
.section-quaternary .section-body ul li:nth-child(4) img {
  position: absolute;
  left: -160px;
  top: -50px;
}
.section-quaternary .section-body ul li:nth-child(4) p {
  max-width: 500px;
}
.section-quaternary .section-body ul li:nth-child(5) {
  width: 300px;
  left: 56%;
  top: 48%;
  text-align: right;
}
.section-quaternary .section-body ul li:nth-child(5) img {
  position: absolute;
  bottom: -150px;
  left: 240px;
}
.section-quaternary .section-body ul li:nth-child(5) h4 {
  max-width: 150px;
  margin-left: auto;
}
.section-quaternary .section-body ul li:nth-child(5) p {
  margin-left: auto;
  max-width: 170px;
}
.section-quaternary .section-body ul .quaternary-subheading {
  font-size: 0.9rem;
  font-style: italic;
  display: inline-block;
}
.section-quaternary .section-actions {
  text-align: center;
  padding-top: 102px;
}
@media (max-width: 1319px) {
  .section-quaternary .section-body {
  }
  .section-quaternary .section-body > img {
    max-width: 800px;
  }
  .section-quaternary .section-body ul li:nth-child(1) p {
  }
  .section-quaternary .section-body ul li:nth-child(1) {
    left: 12%;
  }

  .section-quaternary .section-body ul li:nth-child(5) {
    left: 55%;
    top: 42%;
  }
}
/* Small Desktop */
@media (max-width: 1159px) {
  .section-quaternary {
    overflow: hidden;
  }

  .section-quaternary .section-body {
  }
  .section-quaternary .section-body > img {
  }

  .section-quaternary .section-body ul li:nth-child(1) {
    left: 5%;
  }
  .section-quaternary .section-body ul li:nth-child(2) {
    left: 60%;
    top: 10%;
  }
  /*.section-quaternary .section-body ul li:nth-child(2) img { right: 290px; }*/

  .section-quaternary .section-body ul li:nth-child(3) {
  }
  .section-quaternary .section-body ul li:nth-child(4) {
    left: 34%;
    top: 80%;
  }
  .section-quaternary .section-body ul li:nth-child(4) p {
    max-width: 400px;
  }
  .section-quaternary .section-body ul li:nth-child(5) {
    left: 56%;
    top: 40%;
  }
  .section-quaternary .section-body ul li:nth-child(5) p {
    max-width: 150px;
  }
}
/* Tablet Portrait */
@media (max-width: 1023px) {
  #what-are-sf .image-section img {
  }
  .section-quaternary .section-head {
    margin-bottom: 60px;
  }
  .section-quaternary .section-body {
    width: 100%;
  }
  .section-quaternary .section-body ul {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
  }
  .section-quaternary .section-body ul li {
    width: 100% !important;
    position: relative;
    left: 0 !important;
    right: 0 !important;
    top: 0 !important;
    bottom: 0 !important;
    padding-left: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .section-quaternary .section-body ul li:nth-child(1) {
    text-align: left;
  }
  .section-quaternary .section-body ul li:nth-child(1) p {
    margin-left: unset;
    max-width: none;
  }
  .section-quaternary .section-body ul li:nth-child(2) p {
    margin-left: unset;
    max-width: none;
  }
  .section-quaternary .section-body ul li:nth-child(3) p {
    margin-left: unset;
    max-width: none;
  }
  .section-quaternary .section-body ul li:nth-child(4) p {
    margin-left: unset;
    max-width: none;
  }
  .section-quaternary .section-body ul li:nth-child(5) p {
    margin-left: unset;
    max-width: none;
  }
  .section-quaternary .section-body ul li:nth-child(5) h4 {
    max-width: unset;
    margin: 0px 10px;
  }
  .section-quaternary .section-body ul li:nth-child(1) img {
    position: static;
    left: 0;
    top: 0;
  }
  .section-quaternary .section-body ul li:nth-child(2) img {
    position: static;
    right: 0;
    top: 0;
  }
  .section-quaternary .section-body ul li:nth-child(3) img {
    position: static;
    right: 0;
    top: 0;
  }
  .section-quaternary .section-body ul li:nth-child(4) img {
    position: static;
    right: 0;
    top: 0;
  }
  .section-quaternary .section-body ul li:nth-child(5) img {
    position: static;
    left: 0;
    top: 0;
  }
  .section-quaternary .section-body ul li:nth-child(5) {
    text-align: left;
  }
  .section-quaternary .section-body ul li img {
    /*left: 0 !important; top: 0 !important;*/
    width: 90px;
    height: 90px;
  }
  .section-quaternary .section-body ul li ~ li {
    margin-top: 30px;
  }
  .section-quaternary .section-body ul h4 {
    font-size: 20px;
    margin: 0px 10px 0;
    flex: 0.2 1 200px;
  }
  .section-quaternary .section-body ul p {
    flex: 1 1 200px;
    margin-right: 5px;
    max-width: none;
  }
  .section-quaternary .section-actions {
    padding-top: 40px;
  }
}
/* Mobile */
@media (max-width: 767px) {
  .section-quaternary .section-head {
    margin-bottom: 30px;
  }

  .section-quaternary .section-body > img {
    max-width: 360px;
  }
  .section-quaternary .section-body ul p br {
    display: none;
  }
}

section#options {
  background-size: cover;
  text-align: center;
  background-repeat: no-repeat;
}
section#options h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  margin-top: 20px;
}
body {
  font-size: 1em;
}
.highlight-container {
  background-color: white;
  color: black;
}
.highlight-section {
  margin-right: 5%;
}

.highlight-image-container {
  flex: 0.5 1 300px;
  margin: auto;
  align-items: center;
}
.highlight-group {
  color: black;
  align-items: flex-start;
}
.highlight-text.left {
  text-align: left;
  font-size: 1.5em;
  margin: 40px 0;
}
.fab-asterisk {
  font-style: italic;
  font-size: 0.8em;
}
.content-header {
  font-size: 2.5rem;
}

.hero-image {
  background-image: url(https://www.signs.com/content/assets/filelibrary/SpiritualFlagsSpiritFlagsHero@2x-100-5330.jpg);
  background-repeat: no-repeat;
}

@media only screen and (max-width: 800px) {
  .hero-image {
    height: 210px;
    margin-top: 0px;
  }
  img.full {
    height: 110px;
  }
  .step-text {
    margin-top: 0px;
  }
  h1.tertiary-heading {
    margin-top: 5px;
  }

  .sizing-chart {
    width: 100%;
    max-height: 590px;
  }
  .fab-section {
    flex: none;
  }
  .content-text {
    font-size: 1em;
    padding-bottom: 0;
  }
  .image-wrapper .vertical-align img {
    height: auto;
  }
  .standardWidth {
    margin: 75px auto;
  }
  .help-text {
    font-size: 1.2rem;
  }
  section#double-sided {
    flex-direction: column;
  }

  img.double-sided-image {
    order: -1;
    max-height: 400px;
  }

  #poles-and-bag img.float-image {
    max-width: 410px;
  }

  #poles-and-bag p {
    margin: 0 15px;
  }
  .spec-title {
    font-size: 1.4em;
  }
}

input[type="checkbox"]:checked + div {
  opacity: 0;
  max-height: 0;
  border: none;
}
label [type="checkbox"] {
  color: #3fa9f5;
}
@media only screen and (min-width: 800px) {
  .circled-chevron.gallery-nav.right {
    right: 480px;
  }
  .circled-chevron.gallery-nav.left {
    left: 480px;
  }
}

@media (max-width: 767px) {
  #care .highlight-header {
    margin: 0 auto 15px;
  }
  section#what-are-sf .text-section {
    text-align: center;
  }
  .content-header {
    font-size: 2.3rem;
    margin: 10px 10px;
  }
  #what-are-sf .image-section img {
    margin-right: 90px;
  }
  .service {
    margin: 20px 10px;
    flex-direction: column;
  }
  .service-text-section h4 {
    font-size: 1.5rem;
    font-weight: bold;
  }
  .service img {
    max-width: 170px;
    max-height: 170px;
  }
  ul.tab-list {
    margin: 20px 40px;
  }
  #what-are-sf .image-section.mobile {
    display: block;
    margin-right: -20px;
  }
  #what-are-sf .image-section.desktop {
    display: none;
  }
  #what-are-sf .image-section.mobile img {
    width: 100%;
  }
}
@media (max-width: 1500px) {
  #what-are-sf .image-section img {
  }
}
@media (max-width: 1319px) {
  .tab-content {
    padding: 40px 0;
  }

  .tab-steps .step {
    font-size: 1.1rem;
    margin: 10px 0px;
  }

  p.tab-text {
    max-width: 200px;
  }

  .tab-steps {
    margin: 10px auto;
    align-self: center;
  }
  .tab-steps .step img {
    max-width: 150px;
  }
}

@media (max-width: 1023px) {
  img.step-arrow {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    flex: 0 1 10px;
    margin: 0px -60px;
  }

  .tab {
    font-size: 1rem;
    text-align: center;
  }

  .tab-content {
    padding-top: 10px;
  }

  .tab-steps .step {
    font-size: 1.1rem;
    margin: -30px 0px -30px;
    align-self: center;
    flex: 1 1 auto;
  }

  .tab-steps .step:nth-of-type(1) {
    margin-top: 10px;
  }

  .tab-steps .step:nth-of-type(4) {
    margin-bottom: 30px;
  }

  p.tab-text {
    max-width: 400px;
  }

  .tab-steps {
    flex-direction: column;
    display: flex;
    justify-content: center;
  }
  .tab-steps .step img {
    max-width: 150px;
  }

  .tab-header {
    font-size: 2rem;
    margin-top: 15px;
  }

  .step {
    flex-wrap: wrap;
  }

  .step-text {
    margin-left: 0;
  }

  .how-to-install {
    margin: 30px 15px;
  }

  img.related-image {
    width: 70%;
  }

  .service img {
    max-width: 170px;
    height: 170px;
  }
  .main-content {
    margin-top: 80px;
  }
}
@media only screen and (max-width: 1366px) {
  .hero-image {
    text-align: center;
    height: unset;
  }
  .hero-image img {
    max-width: 800px;
  }
  .main-content h1 {
    font-size: 2.5rem;
  }
  body {
    font-size: 0.8rem;
  }
  .section-image {
    text-align: center;
  }
  img.bg-image {
    width: 45%;
  }
  .content-text {
    font-size: 1.1rem;
    flex: 1 1 90px;
  }
  .main-content-with-background h1 {
    padding-top: 0px;
  }
}
.additional-specs-section {
  margin: 60px 0;
  font-size: 20px;
}

.additional-specs-section .specs-table {
  margin: 0 auto;
}

.additional-specs-section .specs-table th,
.additional-specs-section .specs-table td {
  padding: 20px;
  text-align: center;
  color: #777;
  vertical-align: baseline;
}

.additional-specs-section .specs-table th:first-child,
.additional-specs-section .specs-table td:first-child {
  display: none;
  text-align: left;
  padding-left: 0;
  color: #333;
}

.additional-specs-section .specs-table th:last-child,
.additional-specs-section .specs-table td:last-child {
  width: 50%;
}

.additional-specs-section .specs-table td:nth-child(2) {
  border-right: 1px solid #ccc;
}

.additional-specs-section .specs-table th {
  color: #333;
  font-size: 20px;
  text-decoration: underline;
}

.additional-specs-section .specs-table .mobile-heading {
  display: block;
  color: #333;
}

.additional-specs-section.single-product-specs .specs-table {
  max-width: 500px;
}

.additional-specs-section.single-product-specs .specs-table td:nth-child(2) {
  border-right: none;
}

.additional-specs-section.single-product-specs .specs-table td:last-child {
  width: auto;
}

@media (min-width: 992px) {
  .additional-specs-section .specs-table {
    max-width: 70%;
  }

  .additional-specs-section .specs-table tr:not(:last-child) > th,
  .additional-specs-section .specs-table tr:not(:last-child) > td {
    border-bottom: 1px solid #ccc;
  }

  .additional-specs-section .specs-table th,
  .additional-specs-section .specs-table td {
    text-align: left;
    vertical-align: middle;
  }

  .additional-specs-section .specs-table th {
    text-align: center;
    text-decoration: none;
  }

  .additional-specs-section .specs-table .mobile-heading {
    display: none;
  }

  .additional-specs-section .specs-table th:first-child,
  .additional-specs-section .specs-table td:first-child {
    display: table-cell;
    padding-right: 0;
  }

  .additional-specs-section.single-product-specs .specs-table td:first-child {
    width: 150px;
  }
}

@media (min-width: 1500px) {
  .additional-specs-section.single-product-specs .specs-table {
    max-width: 40%;
  }

  .additional-specs-section .specs-table th:first-child,
  .additional-specs-section .specs-table td:first-child {
    width: 200px;
  }

  .additional-specs-section.single-product-specs .specs-table td:first-child {
    width: 200px;
  }
}

.section-default {
  padding: 60px 0;
  text-align: center;
}
.section-default h2 {
  font-size: 40px;
  font-weight: 500;
  /* margin: 0; */
}
.section-default p {
  font-size: 20px;
  margin-bottom: 30px;
}
.section-default [class*="img-wrap"] img {
  width: 100%;
}

.standard-container {
  max-width: 1560px;
  width: 100%;
  padding: 0 20px;
  box-sizing: border-box;
  margin: 0 auto;
}
/* Hero Section */
.section-hero-full-width {
  padding: 20px 0 0;
}
.hero-head,
.hero-footer {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 800px;
  width: 100%;
  text-align: center;
  box-sizing: border-box;
}
.hero-head {
  margin-bottom: 10px;
}
.hero-head h1 {
  font-size: 50px;
  font-weight: 400;
  margin-bottom: 15px;
}
.hero-list {
  font-size: 0;
}
.hero-list-item:first-child:before {
  content: "";
}
.hero-list-item:before {
  content: "\2022";
  top: -1px;
  left: -3px;
  font-size: 18px;
  position: absolute;
}
.hero-list-item {
  position: relative;
  padding: 0 10px;
  font-size: 20px;
  display: inline-block;
}

.hero-body {
  margin-bottom: 0;
}
.hero-img-wrap {
  max-width: 1040px;
  margin: 0 auto 0;
  width: 100%;
}
.hero-img {
  width: 100%;
}

.hero-footer {
  margin-bottom: 30px;
}

.hero-phrase {
  font-size: 20px;
}
.hero-phrase a {
  display: inline-block;
  color: #29abe2;
}
.hero-phrase a:hover {
  color: rgba(41, 171, 226, 0.85);
}
/* Quick Start */
.placeholder-sticky {
  padding: 0 0 30px;
}
/* Store Ratings */
#shoppersReviews {
  padding: 30px 0 0;
}
#shoppersReviews .shopper-approved-link {
  margin: 0;
}
.sa-caption {
  display: none;
}
/* Looking For Dry Erase */
.section-centeredContent-rightImageEnd .standard-container {
  position: relative;
  max-width: initial;
}
.section-centeredContent-rightImageEnd a {
  color: #29abe2;
}
.section-centeredContent-rightImageEnd h2 {
  margin-bottom: 65px;
}
.section-centeredContent-rightImageEnd .content-wrap {
  max-width: 768px;
  width: 100%;
  margin: 0 auto 96px;
}
.section-centeredContent-rightImageEnd .img-wrap {
  position: absolute;
  top: 0;
  right: 0;
}
/* Why Dry Erase */
.section-dry-erase {
}
.section-dry-erase h2 {
  margin-bottom: 30px;
}
.mylist-inline {
  display: flex;
  justify-content: space-between;
}

.mylist-inline-item {
  flex: 0 0 auto;
  display: inline-flex;
  flex-direction: column;
  width: 100%;
  max-width: 319px;
  padding: 0 20px;
}
.mylist-inline-item .img-wrap {
  flex: 0 0 auto;
  max-width: initial;
  width: 100%;
  margin: 0 auto 10px;
  height: 226px;
  position: relative;
  visibility: visible !important;
}
.mylist-inline-item .img-wrap img {
  position: absolute;
  max-width: 100%;
  max-height: 100%;
  width: auto;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 50%;
  transform: translate(0, -50%);
  visibility: visible !important;
}
.mylist-inline-item h3 {
  font-size: 19px;
  font-weight: 600;
  margin-bottom: 5px;
}
.mylist-inline-item p {
  font-size: 16px;
  visibility: visible !important;
}
.mybtn-success {
  background-color: #8cc63e;
  color: #fff;
  font-weight: 300;
  font-size: 20px;
  border-radius: 5px;
}
.section-dry-erase .mybtn {
  padding: 13px 18px;
  border-radius: 7px;
  display: inline-block;
}
.section-display-seconds {
  padding: 7px 0 14px;
}
/* Section Looking For Dry Erase */
.section-centeredContent-rightImageEnd {
  padding: 45px 0 40px;
}
@media (max-width: 1680px) {
  /* Section Hero */
  .hero-img-wrap {
    max-width: 1186px;
  }
}

@media (max-width: 1600px) {
  /* Section Hero */
  .hero-img-wrap {
    max-width: 900px;
  }
}
@media (max-width: 1536px) {
  /* Section Hero */
  .hero-img-wrap {
    max-width: 860px;
  }
}

@media (max-width: 1440px) {
  /* Section Hero */
  .hero-img-wrap {
    max-width: 885px;
  }
}

@media (max-width: 1366px) {
  /* Section Hero */
  .hero-img-wrap {
    max-width: 670px;
  }

  /* Looking For Dry Erase */
  .section-centeredContent-rightImageEnd h2 {
    margin-bottom: 40px;
  }
  .section-centeredContent-rightImageEnd .img-wrap {
    max-width: 230px;
    width: 100%;
  }
  .section-centeredContent-rightImageEnd {
    padding: 45px 0 0;
  }
  .section-centeredContent-rightImageEnd .content-wrap {
    margin: 0 auto 70px;
  }
  /* Why Dry Erase */
  .mylist-inline-item {
    flex: 1 1 auto;
  }
}

@media (max-width: 1280px) {
  /* Section Hero */
  .hero-img-wrap {
    max-width: 727px;
  }

  /* Looking For Dry Erase */
  .section-centeredContent-rightImageEnd .content-wrap {
    max-width: 650px;
  }
}

@media (max-width: 1280px) and (max-height: 720px) {
  /* Section Hero */
  .hero-head h1 {
    font-size: 43px;
    margin-bottom: 7px;
  }
  .hero-list {
  }
  .hero-list-item {
    font-size: 19px;
  }
  .hero-img-wrap {
    max-width: 655px;
  }
  .hero-footer {
    margin-bottom: 15px;
  }
}

@media (max-width: 1024px) {
  /* Section Hero */
  .hero-head h1 {
    font-size: 43px;
    margin-bottom: 7px;
  }
  .hero-list {
  }
  .hero-list-item {
    font-size: 19px;
  }
  .hero-img-wrap {
    max-width: 655px;
  }
  .hero-footer {
    margin-bottom: 15px;
  }
  /* Looking For Dry Erase */
  .section-centeredContent-rightImageEnd .content-wrap {
    margin-bottom: 40px;
  }
  .section-centeredContent-rightImageEnd .img-wrap {
    position: static;
    margin: 0 auto 50px;
    /* max-width: initial; */
    max-width: 335px;
  }
}
@media (max-width: 991px) {
  /* Why Dry Erase */
  .section-dry-erase,
  .section-dry-erase * {
    box-sizing: border-box;
  }
  .section-dry-erase h2 {
    margin-bottom: 0;
  }
  .mylist-inline {
    /* flex-flow: row wrap; */
    /* margin-bottom: 25px; */
    display: block;
    margin-bottom: 65px;
    padding-top: 25px;
  }
  .mylist-inline-item {
    flex: 0 0 auto;
    max-width: initial;
    display: block;
  }

  .mylist-inline-item.dry-erase-item h3 {
    font-size: 24px;
    font-weight: 500;
    visibility: visible !important;
    margin-bottom: 8px;
  }
  .dry-erase-list .slick-track {
    padding-top: 0;
    padding-bottom: 20px;
  }
  .dry-erase-list .slick-dots li {
    max-width: initial;
    width: auto;
    display: inline-block;
    font-size: 0;
    height: auto;
    margin: 0 12px;
  }
  .dry-erase-list .slick-dots button {
    display: inline-block;
    width: 52px;
    height: 3px;
    background-color: #c3c1c1;
    /* min-height: 0; */
    padding: 0;
    border-radius: 5px;
  }
  .dry-erase-list .slick-dots .slick-active button {
    background-color: #29abe2;
  }
  .dry-erase-list .slick-dots button:before {
    display: none;
  }
  .dry-erase-list .dry-erase-item.slick-current {
    transform: scale(1);
    visibility: visible !important;
  }
  .slick-dots {
    bottom: 0;
  }
}
@media (max-width: 768px) {
}

@media (max-width: 575px) {
  /* Section Hero */
  .hero-list-item:first-child:before {
    content: "\2022";
  }
  /* Looking For Dry Erase */
  .section-centeredContent-rightImageEnd,
  .section-centeredContent-rightImageEnd * {
    box-sizing: border-box;
  }
  .section-centeredContent-rightImageEnd .img-wrap {
    padding-left: 35px;
    margin: 0 auto 0;
    max-width: initial;
  }
  .section-centeredContent-rightImageEnd .standard-container {
    padding: 0;
  }
  .section-centeredContent-rightImageEnd .content-wrap {
    padding: 0 20px;
  }
  .section-centeredContent-rightImageEnd + .standard-separator {
    margin: 0;
  }

  /* Section Why Dry Erase */
}
@media (max-width: 425px) {
}
@media (max-width: 414px) {
  /* Section Quick Start */
  .sizeInput.qty {
    justify-content: flex-end;
  }
  .sizeInput.qty .size-input-qty {
    margin: 0;
  }
}
@media (max-width: 320px) {
  .dry-erase-list .slick-dots button {
    width: 44px;
  }
}
